﻿@model JKFiles.WebApp.Models.ComplaintmgntModel
    @{
        ViewBag.Title = "_Requeststatus";
        Layout = "";
    }

    <form action="@Url.Action("SaveRequest", "RequestFromUser")" method="post">
        <div class="modal-content">
            <div class="titleBox" style="padding-left: 15px; height: 30px; padding-top: 1%; padding-bottom: 2%;
                    background-color: #f6a00b;">
                <label>
                    Comment Box
                </label>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request ID :- @Html.DisplayFor(model => model.Request_Id)</h5>
                @Html.HiddenFor(model => model.Request_Id)
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="message-text" class="col-form-label">Enter Comment </label>

                    @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
                </div>

                <div class="form-group">

                    @Html.DropDownListFor(model => model.RequestStatus,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Work In Progress" , Text = "Work In Progress" },
                       new SelectListItem { Value = "Client Review" , Text = "Client Review" },
                          new SelectListItem { Value = "Complete" , Text = "Complete" },
                    }, "Select Status",
                  new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestStatus)
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnSave" type="submit" class="btn btn-primary" hidden="@Model.Request_Id">Submit</button>
            </div>

        </div>
    </form>

