﻿@model IEnumerable<JKFiles.WebApp.Models.ComplaintmgntModel>
@{
    ViewBag.Title = "RequestFromUserIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">


        <div class="box-header with-border color1">
            <h3 class="box-title"> Request From User</h3>
        </div>
        <div class="box-body">
            <div class="form-inline ">

                <a href="@Url.Action("RequestTypeIndex", "AddRequestType")" class="btn btn-primary pull-right  mr-5 "> Add Request</a>

            </div>
            <br><br>

            @if (Model.Count() > 0)
            {
                <div class="col-md-12 ">


                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                            <tbody>
                                <tr height="36">
                                    <td height="36" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">@Html.DisplayName("Request ID")</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">@Html.DisplayName("Request Type")</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">@Html.DisplayName("Request Description")</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">@Html.DisplayName("Request Date")</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">@Html.DisplayName("Completion Date")</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request Status</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Add Request Status</div>
                                        </div>
                                    </td>
                                </tr>
                                @foreach (var item in Model)
                {
                                    <tr height="27">
                                        <td width="350" height="27"><div align="center">@Html.DisplayFor(m => item.Request_Id) </div></td>
                                        <td><div align="center">@Html.DisplayFor(m => item.RequestType)</div></td>
                                        <td><div align="center">@Html.DisplayFor(m => item.RequestDesc)</div></td>
                                        <td><div align="center">@Html.DisplayFor(m => item.RequestDate)</div></td>
                                        <td><div align="center">@Html.DisplayFor(m => item.ModifiedDate)</div></td>
                                        <td><div align="center">@Html.DisplayFor(m => item.RequestStatus) </div></td>
                                        <td>
                                            <div align="center">
                                                <a href="#" class="btn1" data-id="@item.Request_Id">
                                                    <i class="fa fa-close"></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            }
            else
            {
                <div class="col-md-10 ">
                    <div><strong><p style="color:red;">Nothing to display here</p></strong></div>
                </div>
            }
        </div>
    </div>
</section>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")




<div class="modal" id="rejectuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        $(".btn1").on('click', function () {
            //alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("RequestStatus", "RequestFromUser")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#rejectuser').modal('show');
                }
            })
        });



        $("#btnSave").click(function () {
           alert("Loaded");
            $.ajax(
                {
                    url: '@Url.Action("SaveRequest", "RequestFromUser")',
                    data: "",
                    type: "GET",
                    datatype: "",
                    success: function (data) {

                    }
                })
        });
    });
</script>


