﻿@model JKFiles.WebApp.Models.ProcessmasterModel
@{

}
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<div class="tab-pane active " id="p2">
    <div class='col-md-12'>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                            <i class="fa fa-plus"></i>
                            <span> New Requests</span>
                        </a>
                    </h4>
                </div>
                <div id="newR" class="panel-collapse collapse active in">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table width="100%" border="1" bordercolor="#CCCCCC">
                                <tr>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Family Code </div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Add Process</div></td>
                                </tr>
                                @foreach (var item in Model.processfilelist)
                                {
                                    <tr>
                                        <td><div align="center"><a href="@Url.Action("Index", "NewPartReqView", new { partno = @item.pr_RequestNo })" target="_blank">@item.pr_RequestNo</a></div></td>
                                        <td><div align="center">@item.pr_FileType</div> </td>
                                        <td><div align="center">@item.pr_ftype_code</div></td>
                                        <td width="100">
                                            <div align="center">
                                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_User")
                                                {
                                                    <a href="#" data-toggle="modal" data-target="#Addprocess"
                                                       onclick="AddFileProcess('@item.pr_FileType','@item.pr_process_code','@item.pr_RequestNo','@item.pr_ftype_code')">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a><i class="fa fa-pencil"></i></a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                            <i class="fa fa-plus"></i>
                            <span>Requests for Approval</span>
                        </a>
                    </h4>
                </div>
                <div id="approveR" class="panel-collapse collapse  ">
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table width="100%" border="1" bordercolor="#CCCCCC">
                                <tr>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Family Code </div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Process Code</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
                                </tr>
                                @foreach (var item in Model.Approveprocessfilelist)
                                {
                                <tr>
                                    <td><div align="center"><a href="@Url.Action("Index", "NewPartReqView", new { partno = @item.pr_RequestNo })" target="_blank">@item.pr_RequestNo</a></div></td>
                                    <td><div align="center">@item.pr_FileType</div> </td>
                                    <td><div align="center">@item.pr_ftype_code</div></td>
                                    <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowProcess('@item.pr_RequestNo','@item.pr_process_code')">@item.pr_process_code</a></div></td>
                                    <td width="100">
                                        <div align="center">
                                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                                                {
                                                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#app"
                                                   onclick="ApproveProcess('@item.pr_RequestNo','@item.pr_process_code')">
                                                    Approve
                                                </a>
                                                }
                                                else
                                                { <a class="btn btn-warning">
                                                    Approve
                                                </a>
                                                }
                                        </div>
                                    </td>
                                </tr>
                                }
                            </table>

                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                            <i class="fa fa-plus"></i>  <span>Process Master</span>
                        </a>
                    </h4>
                </div>
                <div id="existing" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-inline ">
                            @*<div class="form-group  col-md-3">

                                    @Html.DropDownListFor(model => model.SKU, new SelectList(Model.SKUlist, "SKU", "SKU"), "SKU", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "SKU" })
                                    @Html.HiddenFor(m => m.SKU)
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.DropDownListFor(m => m.FileType, new SelectList(Model.filetTypelist, "ft_ftype_desc", "ft_ftype_desc"), "File Type", new { id = "ddlfiletypeCode", @class = "form-control select2 changeddl", @style = "width:100%;" })
                                    @Html.HiddenFor(m => m.filetypecode)
                                </div>*@

                        </form>

                        <br>
                        <br>
                        <br>

                        <table width="70%" border="1" bordercolor="#CCCCCC" id="ProcessmsterTbl">
                            <thead>
                                <tr>
                                    <th bgcolor="#e8e8e8" class=" text-black"><div align="center">SKU</div></th>
                                    <th bgcolor="#e8e8e8" class=" text-black"><div align="center">Family Code</div></th>
                                    <th bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type </div></th>
                                    <th bgcolor="#e8e8e8" class=" text-black"><div align="center">Process Code</div></th>
                                </tr>
                            </thead>
                            <tbody id="processMastergrid"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br />
<div class="modal fade bd-example-modal-lg" id="Addprocess" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Operations </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">

                        <tr>
                            <th width="177">Parameter Name</th>
                            <th width="156">Parameter Value</th>
                            <th width="177">Parameter Name</th>
                            <th width="268">Parameter Value</th>
                        </tr>

                        <tr>

                            <td valign="bottom" nowrap="nowrap"><p>File Type</p></td>
                            <td>
                                <input type="text" class="form-control" name="pr_ftype" id="pr_ftype" readonly="readonly" />
                                <input type="hidden" id="daa_request_id" name="daa_request_id" />
                                <input type="hidden" id="daa_request_type" name="daa_request_type" />
                                <input type="hidden" id="daa_main_valstream" name="daa_main_valstream" />
                            </td>
                            <td>Process Code</td>

                            <td><input type="text" class="form-control" name="pr_process_code" id="pr_process_code" readonly="readonly" /></td>

                        </tr>
                        <tr>
                            <td>List Of Operations</td>
                            <td colspan="3">
                                @Html.DropDownListFor(model => model.pm_process_seqno, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "pm_process_seqno" })
                                @Html.HiddenFor(m => m.pm_process_seqno)
                            </td>
                        </tr>


                    </table>
                    <table class="table table-bordered" id="dataTable">
                        <tbody>
                            <tr valign="middle">
                                <th width="220"><div align="center"> Unit Name</div></th>
                                <th width="220"><div align="center">Equipment Name</div></th>
                                <th width="220"><div align="center">Equipment Type</div></th>
                                <th width="220"><div align="center">Asset No</div></th>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                                        @Html.DropDownListFor(model => model.val_unit_code, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "val_unit_code" })
                                        @Html.HiddenFor(m => m.val_unit_code)
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        @Html.DropDownListFor(model => model.equ_name, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "equ_name" })
                                        @Html.HiddenFor(m => m.equ_name)
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        @Html.DropDownListFor(model => model.equ_type, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "equ_type" })
                                        @Html.HiddenFor(m => m.equ_type)
                                    </div>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.equ_assetno, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2 ", @multiple = "multiple", @id = "equ_assetno" })
                                    @Html.HiddenFor(m => m.equ_assetno)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="~/Content/Images/loader.gif" id="loading1" style="display:none;z-index:1" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseProcess()">Submit for Approval</button>
                <button type="button" class="btn btn-primary" onclick="SubmitProcess('We are processing...')" data-dismiss="modal">Save & Add More</button>

            </div>
            <div class="table-responsive">
                <table width="90%" border="1" id="Addviewprocess" class="table-responsive" style="display:none; margin-left: 45px;
    margin-bottom: 10px;" bordercolor="#CCCCCC">

                    <tbody id="selectedprocess"></tbody>


                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Process </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" id="showAddprocessFile" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Sq.  No.</div></td>
                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Operation Name</div></td>
                            </tr>
                        </tbody>
                        <tbody id="addproc"></tbody>

                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestnoshow">Request No : </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="ma_remarks" id="ma_remarks" required="required"></textarea>
                <h4> Confirm Approval?</h4>
                <a href="#" class="btn btn-primary" onclick="ApproveselectedProcess('We are processing...')">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectedProcess('We are processing...')">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {

        $(".oprationcode").change(function () {
            var oprCode = $("#pro_filetype").val();
            var OpC = "P";
            var opctemp = OpC + oprCode;
            $("#pro_process_code").val(opctemp);
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#val_unit_code").change(function () {
            var uni_unit_code = $("#val_unit_code").val();
            $.ajax({
                url: '@Url.Action("getUnitEquipment", "ProcessMaster")',
                data: { uni_unit_code: uni_unit_code },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#equ_name").empty();
                    $('<option>',
                   {
                       value: "Select",
                       text: "Select"
                   }).html("Select").appendTo("#equ_name");
                    $.each(data, function (i, data) {
                        $('<option>',
                           {
                               value: data.equ_name,
                               text: data.equ_name
                           }).html(data.equ_name).appendTo("#equ_name");
                    });
                }
            });
        });

        $("#equ_name").change(function () {
            var uni_unit_code1 = $("#val_unit_code").val();
            var equ_name11 = $("#equ_name").val();
            $.ajax({
                url: '@Url.Action("getUnitEquipmentType", "ProcessMaster")',
                data: { uni_unit_code: uni_unit_code1, equ_name: equ_name11 },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#equ_type").empty();
                    $('<option>',
                           {
                               value: "Select",
                               text: "Select"
                           }).html("Select").appendTo("#equ_type");
                    $.each(data, function (i, data) {
                        $('<option>',
                           {
                               value: data.equ_type,
                               text: data.equ_type
                           }).html(data.equ_type).appendTo("#equ_type");
                    });
                }
            });
        });


        $("#equ_type").change(function () {
            var uni_unit_code1 = $("#val_unit_code").val();
            var equ_name11 = $("#equ_name").val();
            var equ_type1 = $("#equ_type").val();
            $.ajax({
                url: '@Url.Action("getUnitEquipmentAsset", "ProcessMaster")',
                data: { uni_unit_code: uni_unit_code1, equ_name: equ_name11, equ_type: equ_type1 },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#equ_assetno").empty();

                    $.each(data, function (i, data) {
                        $('<option>',
                           {
                               value: data.equ_assetno,
                               text: data.equ_assetno
                           }).html(data.equ_assetno).appendTo("#equ_assetno");
                    });

                }
            });
        });
    });


    function AddFileProcess(i, j, k, l) {
        $("#pr_ftype").val(i);
        $("#pr_process_code").val(j);
        var type = k[0];
        $("#daa_request_type").val(type);
        $("#daa_request_id").val(k);
        $("#daa_main_valstream").val(l);
        var requesttype = type;
        var requestId = k;
        var FileTypeCode = l;
        $.ajax({
            url: '@Url.Action("getDispatchoprationList", "ProcessMaster")',
            data: { requestId: requestId, requesttype: requesttype },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                $("#pm_process_seqno").empty();
                $('<option>',
                      {
                          value: "Select",
                          text: "Select"
                      }).html("Select").appendTo("#pm_process_seqno");
                $.each(data, function (i, data) {
                    $('<option>',
                       {
                           value: data.pm_process_seqno,
                           text: data.opr_operation_name
                       }).html(data.opr_operation_name).appendTo("#pm_process_seqno");
                });
            }
        });

        $.ajax({
            url: '@Url.Action("getFileTypeUnitList", "ProcessMaster")',
            data: { FileTypeCode: FileTypeCode },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                $("#val_unit_code").empty();
                $('<option>',
                      {
                          value: "Select",
                          text: "Select"
                      }).html("Select").appendTo("#val_unit_code");
                $.each(data, function (i, data) {
                    $('<option>',
                       {
                           value: data.val_unit_code,
                           text: data.uni_unit_name
                       }).html(data.uni_unit_name).appendTo("#val_unit_code");
                });
            }
        });
    }

    function SubmitProcess(str) {
        var lock = document.getElementById('Lockup');
        var unitcode = $("#val_unit_code").val();
        var valueStrm = $("#daa_main_valstream").val();
        var equ_name = $("#equ_name").val();
        var equ_type = $("#equ_type").val();
        var Asset = $("#equ_assetno").val();
        var daa_request_id = $("#daa_request_id").val();
        var daa_request_type = $("#daa_request_type").val();
        var daa_operseq_no = $("#pm_process_seqno").val();
        var row = "";
        $("#Addviewprocess tbody").empty();
        if (Asset != null) {
            if (daa_operseq_no != "Select") {
                if (lock)
                    lock.className = 'LockOn';
                lock.innerHTML = str;
                $.ajax({
                    url: '@Url.Action("AddProcessAssetAllocation", "ProcessMaster")',
                    data: { uni_unit_code: unitcode, val_valuestream_code: valueStrm, daa_operseq_no: daa_operseq_no, Asset: Asset, equ_name: equ_name, equ_type: equ_type, daa_request_id: daa_request_id, daa_request_type: daa_request_type },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        alert(data.message);
                        $("#loading").css("display", "none");
                        $('#val_unit_code').val(null).trigger('change');
                        $('#equ_name').val(null).trigger('change');
                        $('#equ_type').val(null).trigger('change');
                        $('#equ_assetno').val(null).trigger('change');

                        for (var i = 0; i < data.prolist.length; i++) {
                            row = '<tr><td><div align="center"> ' + data.prolist[i].daa_operseq_name + '</div> </td>'
                            + '<td><div align="center">' + data.prolist[i].daa_unit_name + '</div> </td>'
                            + '<td><div align="center">' + data.prolist[i].equ_name + ' </div></td>'
                            + '<td><div align="center">' + data.prolist[i].equ_type + ' </div></td>'
                            + '<td><div align="center">' + data.prolist[i].daa_assetno + ' </div></td></tr>';
                            $("#selectedprocess").append(row);
                        }
                        setTimeout("$('#Addprocess').modal('toggle');", 1000);
                        $("#Lockup").css("display", "none");
                        $("#Addviewprocess").show();

                        changefun();
                    },
                    error: function () {
                        $("#Lockup").css("display", "none");
                    }
                });
            }
            else {
                alert("Please Select the process");
                $("#Lockup").css("display", "none");
            }
        }
        else {
            $('#Addprocess').modal('hide');
            alert("Please Select all dropdown");
            //$('#Addprocess').modal('show');
            setTimeout("$('#Addprocess').modal('show');", 1000);
        }
    }

    function changefun() {
        $.ajax({
            url: '@Url.Action("getUnitEquipmentAsset", "ProcessMaster")',
            data: { uni_unit_code: "", equ_name: "", equ_type: "" },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                $("#equ_assetno").empty();

                $.each(data, function (i, data) {
                    $('<option>',
                       {
                           value: data.equ_assetno,
                           text: data.equ_assetno
                       }).html(data.equ_assetno).appendTo("#equ_assetno");
                });

            }
        });
    }





    function CloseProcess(str) {
        var daa_request_id = $("#daa_request_id").val();
        var daa_request_type = $("#daa_request_type").val();
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("CloseProcessAllocation1", "ProcessMaster")',
            data: { daa_request_id: daa_request_id, daa_request_type: daa_request_type },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                alert(data.message);
                location.reload();
                $("#Lockup").css("display", "none");
            },
            error: function () {
                $("#Lockup").css("display", "none");
            }
        });
    }

    function ShowProcess(i, j) {
        var process_code = j;
        var requestID = i;
        var requesttype = requestID[0];
        var row = "";
        $("#showAddprocessFile tbody").empty();
        $.ajax({
            url: '@Url.Action("Showaddprocess", "ProcessMaster")',
            data: { process_code: process_code, requestID: requestID, requesttype: requesttype },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.processlist.length; i++) {
                    row = '<tr><td><div align="center"> ' + data.processlist[i].ppm_process_seqno + '</div> </td><td><div align="center"> ' + data.processlist[i].ProcessName + ' </div></td></tr>';
                    $("#addproc").append(row);
                }


            },
            error: function () {
            }
        });
    }
    var process_code = "";
    var requestID = "";
    var requesttype = "";

    function ApproveProcess(i, j) {
        process_code = j;
        requestID = i;
        requesttype = requestID[0];
        $("#requestnoshow").append(i);
    }


    function ApproveselectedProcess(str) {
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("ProcessApprove", "ProcessMaster")',
            data: { process_code: process_code, requestID: requestID, requesttype: requesttype },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                alert(data.message);
                location.reload();
                $("#Lockup").css("display", "none");
            },
            error: function () {
                $("#Lockup").css("display", "none");
            }
        });
    }

    function RejectedProcess(str) {
        var ma_remarks = $("#ma_remarks").val();
        if ($("#ma_remarks").val() != "") {
            var lock = document.getElementById('Lockup');
            if (lock)
                lock.className = 'LockOn';
            lock.innerHTML = str;
            $.ajax({
                url: '@Url.Action("ProcessRejected", "ProcessMaster")',
                data: { ma_remarks: ma_remarks, requestID: requestID, requesttype: requesttype },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    alert(data.message);
                    location.reload();
                },
                error: function () {
                }
            });
        } else {
            alert("Please enter remarks");
            $("#Lockup").css("display", "none");
        }
    }

    function ShowGridProcess(i) {
        var partno = i;
        var row1 = '';
        $("#showAddprocessFile tbody").empty();
        $.ajax({
            url: '@Url.Action("ShowGridprocess", "ProcessMaster")',
            data: { partno: partno },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.processlist.length; i++) {
                    row1 = '<tr><td><div align="center"> ' + data.processlist[i].ppm_process_seqno + '</div> </td><td><div align="center"> ' + data.processlist[i].ProcessName + ' </div></td></tr>';
                    $("#addproc").append(row1);
                }
            },
            error: function () {
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#ProcessmsterTbl").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": '@Url.Action("ProcessMasterlist", "ProcessMaster")',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": true,
                "searchable": true
            }, ],

            "columns": [
                  { "data": "pn_part_no", "name": "pn_part_no", "autoWidth": true, "className": "text-center" },
                  { "data": "pn_ftype_code", "name": "pn_ftype_code", "autoWidth": true, "className": "text-center" },
                  { "data": "pn_ftype_desc", "name": "pn_ftype_desc", "autoWidth": true, "className": "text-center" },
                  //{
                  //    "render": function (data, type, full, meta) {
                  //        return '><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowGridProcess(\'' + data.prolist[i].pn_part_no + '\')">' + data.prolist[i].ft_process_code + '</a>';
                  //    }
                  //},
                    {
                        "render": function (data, type, full, meta) {
                            return '<div align="center"><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowGridProcess(\'' + full.pn_part_no + '\')">' + full.ft_process_code + '</div></a>';
                        }

                    },
            ]

        });
    });
</script>