﻿@model JKFIlesEntity.OperationMasterEntity
@{
    //ViewBag.Title = "_ProcessOperationlist";
    Layout = "";
}

<div class="tab-pane  " id="p1">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Addprocesspop">Add New</a>

    <br>
    <br>

    <table width="43%" border="1" bordercolor="#CCCCCC">
        <tr>
            <td height="31" bgcolor="#e8e8e8" class="text-black"><div align="center">Sq.No</div></td>
            <td bgcolor="#e8e8e8" class="text-black"><div align="center">Operation Name</div></td>
            <td bgcolor="#e8e8e8" class="text-black"><div align="center">Restriction</div></td>
        </tr>
        @foreach (var item in Model.oprationmasterlist)
        {
            <tr>
                <td align="right" width="64"><div align="center">@item.opr_operation_seq </div></td>
                <td width="200"><div align="center"><a>@item.opr_operation_name</a></div></td>
                <td width="200"><div align="center"><a>@item.opr_operation_restricted</a></div></td>
            </tr>

        }
    </table>
</div>
<div class="modal fade" id="Addprocesspop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Add Operation</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="processform" name="processform" action="@Url.Action("Addopreation", "ProcessMaster")" method="post">

                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="opr_operation_seq" name="opr_operation_seq" onkeyup="CheckOprationSqNo()" onkeypress="return isNumberKey(event)" placeholder="Sequence Number" required="required">
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Operation Name" id="opr_operation_name" name="opr_operation_name" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <select name="opr_operation_restricted" class="form-control select2 select2-hidden-accessible" id="opr_operation_restricted" style="width:100%;" tabindex="-1" aria-hidden="true"  required="required">
                            <option value="" selected="selected">Restriction </option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>

                        </select></div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <button type="button" sclass="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        </div>
</form>
               
            </div>
           
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<script>
    function CheckOprationSqNo() {
        var opr_operation_seq = $("#opr_operation_seq").val();
        $.ajax({
            url: '@Url.Action("CheckOprationSqNo", "ProcessMaster")',
            data: { opr_operation_seq: opr_operation_seq },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("Seq No already exists");
                } else {
                }
            },
            error: function () {
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

