﻿@model JKFIlesEntity.OperationMasterEntity

<form action="@Url.Action("Updateoperation1","ProcessMaster")" method="post">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Operation</h5>
            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            <div class="form-group col-md-6">

                @Html.EditorFor(m => m.opr_operation_seq, new { htmlAttributes = new { @class = "form-control", placeholder = "Sequence Number" } })
                @Html.ValidationMessageFor(m => m.opr_operation_seq, null, new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">

                @Html.EditorFor(m => m.opr_operation_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Operation Name" } })
                @Html.ValidationMessageFor(m => m.opr_operation_name, null, new { @class = "text-danger" })
            </div>





        </div>
        <div style="clear:both"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btnSave" type="submit" class="btn btn-primary" hidden="">Ok</button>
        </div>
    </div>


</form>
