﻿@model IEnumerable<JKFIlesEntity.OperationMasterEntity>
@{
    ViewBag.Title = "ProcessIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Process Master</h3>
        </div>
        <div class="box-body">

            <div class="nav-tasbs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#p2" data-toggle="tab" aria-expanded="false">File Type wise Operations</a></li>
                    <li class=""><a href="#p1" data-toggle="tab" aria-expanded="true">Operations Master List</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active " id="p2">
                        @Html.Action("FileTypewiseOperations")
                    </div>
                    <div class="tab-pane  " id="p1">
                        @Html.Action("Opreationmasterlist")
                    </div>
                   <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>

