﻿
@model JKFiles.WebApp.Models.WrapperDetailsModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="wrapperview">Wrapper </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="206" style="width: 10px">Parameter Name</th>
                            <th width="119">Parameter Value</th>
                        @foreach (var item in Model.wrappperDetailsEntityList)
                        {
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>@item.wd_parm_name</p></td>
                                <td>@item.wd_parm_scrnvalue</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")