﻿@model JKFiles.WebApp.Models.HandleDetailsModel

@{
    ViewBag.Title = "";
  
}


<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="handleview">Handle </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="img-responsive" src="~/ProjectImages/Handle/@Model.HandleImage">
           
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="206" style="width: 10px">Parameter Name</th>
                            <th width="119">Parameter Value</th>
                           
                        </tr>


    @foreach (var item in Model.HandleDetailsEntityList)
    {
        
                   
                        <tr>
                        <td nowrap="nowrap" valign="bottom"><p>@item.hd_parm_name</p></td>
                        <td>@item.hd_parm_scrnvalue</td>


                        </tr>
                       

    }

               </tbody>
                </table>
                </div>

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
@*</div>*@
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
