﻿@model JKFiles.WebApp.Models.SkuSelectionModel
@{
    ViewBag.Title = "getSKUSelection";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<style>
    .valuename {
        display: none;
    }

    #value6, #value7 {
        display: none;
    }
</style>
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<section class="content-header"></section>

<section class="">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request #@ViewBag.ReqNo

            </h3>
            <a href="@Url.Action("ChangeNote","ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                    <li class="active">@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                    <li class="">@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>

                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="@Url.Action("Index","ProductionDetails")" method="post">
                        @Html.ValidationSummary(true)
                        <div class="" id="production">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>
                                @*<input type="text" class="form-control " id="" placeholder="Customer 1" readonly>*@
                                @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Country </label>
                                @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </form>
                    <div style="clear:both"></div>
                    <div class=" tab-pane active" id="1">

                        <div class=" col-md-12" id="remark1">
                                <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                            <div style="clear:both"></div>
                            <div class="table-responsive">
                                <br>
                                <table class="table table-bordered" id="SKUSelectTbl">


                                    <tr valign="middle">
                                        <th width="220"><div align="center"> SKU</div></th>
                                        <th width="220"><div align="center">View</div></th>
                                        <th width="220"><div align="center">Quantity</div></th>
                                        <th width="220"><div align="center">Stamp</div></th>
                                        <th width="220"><div align="center">Wrapper</div></th>
                                        <th width="220"><div align="center">Handle</div></th>
                                        <th width="220"><div align="center">TangTemp</div></th>
                                        <th width="220"><div align="center">Remove</div></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Select Part No</label>
                                            @Html.DropDownListFor(m => m.pn_part_no, new SelectList(Model.partlist, "pn_part_no", "pn_part_no"), "Select", new { @class = "form-control select2", @id = "pn_part_no", style = "100%", })
                                            @Html.ValidationMessageFor(m => m.pn_part_no)
                                            @Html.Raw(HttpContext.Current.Session["pn_part_no"])
                                        </td>
                                    </tr>
                                    <tbody id="remarkdata1"></tbody>
                                </table>

                                <table class="table table-bordered" id="ViewSKUtbl">
                                    <tbody>
                                        <tr valign="middle">
                                            <th width="220"><div align="center"> SKU</div></th>
                                            <th width="220"><div align="center">View</div></th>
                                            <th width="220"><div align="center">Quantity</div></th>
                                            <th width="220"><div align="center">Stamp</div></th>
                                            <th width="220"><div align="center">Wrapper</div></th>
                                            <th width="220"><div align="center">Handle</div></th>
                                            <th width="220"><div align="center">TangTemp</div></th>
                                        </tr>
                                    </tbody>
                                    <tbody id="viewskurow"></tbody>


                                </table>

                            </div>
                        </div>
                       
                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    @if (ViewBag.Savebtn == "N")
                    {
                        <button id="btnSubmit" onclick="SaveSelectSKU('We are processing...')" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</button>
                    }
                    else
                    {
                    <button id="btnSubmit"  class="btn jk-btn-app bg-blue" @Url.Action("getSetWrapperTabDetails", "DispatchDetails") ><i class="fa fa-save"></i> Save</button>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
            <h4>New Entries Under these Fields</h4>
            @Html.Action("NewReqList", "CustomerDetails")
        </div>
    </div>

</section>
<div class="modal fade bd-example-modal-lg" id="stampview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
<div class="modal fade bd-example-modal-lg" id="wrapperview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
<div class="modal fade bd-example-modal-lg" id="handleview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>



<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script type="text/javascript">
    var wrappingType1 = "";
    var chartNum1 = "";
    var handalechart1 = "";
    var count = 0;
    var TempArray = [];
    $(document).ready(function () {
        SelectRemark();
        if ('@ViewBag.skudetailslist' != "" && '@ViewBag.skudetailslist' != null) {
            $("#SKUSelectTbl").css("display", "none")
            $("#ViewSKUtbl").css("display", "block")
            ViewBackSkudata();
        }
        else {
            $("#SKUSelectTbl").css("display", "block")
            $("#ViewSKUtbl").css("display", "none")
        }




        $("#pn_part_no").change(function () {
            if ($("#pn_part_no").val() != "") {
                var len = TempArray.length;
                for (var i = 0; i < len; i++) {
                    if (TempArray[i].temppartno !== $("#pn_part_no").val()) {
                    }
                    else {
                        alert('Already selected PartNo');
                        $('#myTableRow' + this + '').remove();
                    }
                }
                TempArray.push({
                    temppartno: $("#pn_part_no").val()
                });
                count = count + 1;
                var pn_part_no = $('option:selected', this).val();
                var trHTML = '';
                $.ajax({
                    url: '@Url.Action("getSkuDetails","SKUSelection")',
                    data: { pn_part_no: pn_part_no },
                    type: 'GET',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        trHTML += $.trim('<tr id="myTableRow' + count + '"><td id="value1"><div><select class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true"><option value="' + data.selectpartno + '">' + data.selectpartno + '</option> </select></div><input type="text" class="form-control valuename" name="' + data.selectpartno + '_' + count + '"  id="' + data.selectpartno + '_' + count + '" value="' + data.selectpartno + '" /></td>'
                            //+ '<td><div align="center"><a href="/NewPartReqView/Index?partno=' + data.requestID + '" target="_blank"><i class="fa fa-search-plus"></i></a></div></td>'
                              + '<td><div align="center"><a href="@Url.Action("Index", "NewPartReqView")?partno=' + data.requestID + '" target="_blank"><i class="fa fa-search-plus"></i></a></div></td>'
                            + '<td id="value2"><div align="center"><input type="text" class="form-control" name="rs_quantity" id="rs_quantity" onkeypress="return isNumberKey(event)"/ required="required"></div></td>'
                            + '<td id="value3"><div align="center"><a href="#" data-toggle="modal" onclick="StampPopup(\'' + data.stampchart + '\')" data-target="#stampview">' + data.stampchart + '</a></div><input type="text" class="form-control valuename" name="' + data.stampchart + '_' + count + '"  id="' + data.stampchart + '_' + count + '" value="' + data.stampchart + '" /></td>'
                            + '<td id="value4"><div align="center"><a href="#" data-toggle="modal" onclick="WrapperPopup(\'' + data.wrampchart + '\')" data-target="#wrapperview">' + data.wrampchart + '</a></div><input type="text" class="form-control valuename" name="' + data.wrampchart + '_' + count + '"  id="' + data.wrampchart + '_' + count + '" value="' + data.wrampchart + '" /></td>'
                            + '<td id="value5"><div align="center"><a href="#" data-toggle="modal" onclick="HnadlePopup(\'' + data.handalechart + '\')" data-target="#handleview">' + data.handalechart + '</a></div><input type="text" class="form-control valuename" name="' + data.handalechart + '_' + count + '"  id="' + data.handalechart + '_' + count + '" value="' + data.handalechart + '" /></td>'
                             + '<td id="value8"><div align="center">' + data.tangtemp + '</div><input type="text" class="form-control valuename" name="' + data.tangtemp + '_' + count + '"  id="' + data.tangtemp + '_' + count + '" value="' + data.tangtemp + '" /></td>'
                            + '<td id="value6"><div align="center"><a href="#" data-toggle="modal">' + data.startdate + '</a></div><input type="text" class="form-control valuename" name="' + data.startdate + '_' + count + '"  id="' + data.startdate + '_' + count + '" value="' + data.startdate + '" /></td>'
                            + '<td id="value7"><div align="center"><a href="#" data-toggle="modal">' + data.enddate + '</a></div><input type="text" class="form-control valuename" name="' + data.enddate + '_' + count + '"  id="' + data.enddate + '_' + count + '" value="' + data.enddate + '" /></td>'
                            + '<td><div align="center"><i class="fa fa-close text-red" onclick="deleteRow(' + count + ',\'' + data.selectpartno + '\')" /></i></td></tr>');
                        $('#remarkdata1').append(trHTML);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        });
    })


    function ViewBackSkudata() {
        var trHTML1 = '';
        $.ajax({
            url: '@Url.Action("getBackSkuDetails", "SKUSelection")',
            data: {},
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                for (var i = 0; i < data.list.length; i++) {
                    trHTML1 += '<tr><td  width="100"><div align="center">' + data.list[i].rs_sku_code + '</div></td>'
                        //+ '<td><div align="center"><a href="/NewPartReqView/Index?partno=' + data.list[i].pn_request_type + data.list[i].pn_request_id + '" target="_blank"><i class="fa fa-search-plus"></i></a></div></td>'
                        + '<td><div align="center"><a href="@Url.Action("Index", "NewPartReqView")?partno=' + data.list[i].pn_request_type + data.list[i].pn_request_id + '" target="_blank"><i class="fa fa-search-plus"></i></a></div></td>'
                                + '<td  width="100"><div align="center">' + data.list[i].rs_quantity + '</div></td>'
                                + '<td><div align="center"><a href="#" data-toggle="modal" onclick="StampPopup(\'' + data.list[i].rs_stamp_chart + '\')" data-target="#stampview">' + data.list[i].rs_stamp_chart + '</a></div></td>'
                                + '<td><div align="center"><a href="#" data-toggle="modal" onclick="WrapperPopup(\'' + data.list[i].rs_wrapper_chart + '\')" data-target="#wrapperview">' + data.list[i].rs_wrapper_chart + '</a></div></td>'
                    + '<td><div align="center"><a href="#" data-toggle="modal" onclick="HnadlePopup(\'' + data.list[i].rs_handle_chart + '\')" data-target="#handleview">' + data.list[i].rs_handle_chart + '</a></div></td>'
                     + '<td><div align="center">' + data.list[i].rs_tang_tempr + '</div></td></tr>';
                }
                $('#viewskurow').append(trHTML1);
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function ShowView(i) {
        var partno = i;
        window.location.href = "/NewPartReqView/Index?partno=" + partno;
    }

    function deleteRow(tr, k) {
        for (var i = 0; i < TempArray.length; i++) {
            if (TempArray[i].temppartno == k) {
                TempArray.splice(i, 1);
                break;
            }
        }

        $('#myTableRow' + tr + '').remove();
    }

    function SaveSelectSKU(str) {
        var AllValue = [];
        var TrCount = $("#SKUSelectTbl tr").length;
        var rs_request_id = '@ViewBag.ReqNo';
        for (var i = 0; i < TrCount - 2; i++) {

            AllValue.push({
                rs_sku_code: $("#SKUSelectTbl tr #value1 input").eq(i).val(),
                rs_quantity: $("#SKUSelectTbl tr #value2 input").eq(i).val(),
                rs_stamp_chart: $("#SKUSelectTbl tr #value3 input").eq(i).val(),
                rs_wrapper_chart: $("#SKUSelectTbl tr #value4 input").eq(i).val(),
                rs_handle_chart: $("#SKUSelectTbl tr #value5 input").eq(i).val(),
                rs_tang_tempr: $("#SKUSelectTbl tr #value8 input").eq(i).val(),
                rs_sku_start_date: $("#SKUSelectTbl tr #value6 input").eq(i).val(),
                rs_sku_end_date: $("#SKUSelectTbl tr #value7 input").eq(i).val(),
                rs_request_id: rs_request_id
            });
        }

        //var SKUFirst = "";
        var SKUlast = "";
        var QuntityTotal = 0;
        var TCount = TrCount - 2;
        var TotalCount = 0;

        var MidCode = "SETN";
        var MaxValue = [];
        for (var j = 0; j < TrCount - 2; j++) {
            var maxF = AllValue[j].rs_sku_code[2];
            var maxS = AllValue[j].rs_sku_code[3];
            //var maxFF = AllValue[j].rs_sku_code[0];
            //var maxSS = AllValue[j].rs_sku_code[1];
            var lastF = AllValue[j].rs_sku_code[10];
            var lastS = AllValue[j].rs_sku_code[11];
            //SKUFirst = maxFF + maxSS;
            SKUlast = lastF + lastS;
            var maxdigit = maxF + maxS;
            MaxValue.push({
                maxvalueSKU: maxdigit
            });
            var Varquntity = AllValue[j].rs_quantity;

            var quntity = parseInt(Varquntity);
            QuntityTotal = QuntityTotal + quntity;
        }


        if (QuntityTotal >= 99) {

            TotalCount = 99;
        }
        else {
            if (QuntityTotal >= 10) {
                TotalCount = QuntityTotal
            }
            else {
                var tt = "0";
                TotalCount = tt + QuntityTotal;
            }

        }

        var Temphigest = findMinMax(MaxValue);
        var higest = Temphigest;
        var SetSKUID = higest + MidCode + TotalCount + SKUlast;
        // var TempPartNo = [];
        AllValue.push({
            SetSKUID: SetSKUID,
            MaxFileSizeCode: higest
        });
        var postData = AllValue;
        function findMinMax(MaxValue) {
            let min = MaxValue[0].maxvalueSKU, max = MaxValue[0].maxvalueSKU;
            for (let i = 1, len = MaxValue.length; i < len; i++) {
                let v = MaxValue[i].maxvalueSKU;
                min = (v < min) ? v : min;
                max = (v > max) ? v : max;
            }
            return max;
        }
    
        if (TrCount >= 4) {
            if (TotalCount!= "0NaN") {

                var lock = document.getElementById('Lockup');
                if (lock)
                    lock.className = 'LockOn';
                lock.innerHTML = str;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveSelectSKU", "SKUSelection")',
                    data: JSON.stringify(postData),
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (data) {
                        location = data.url;
                        $("#Lockup").css("display", "none");
                    },
                });
            }
            else {
                alert("please enter the qty");
                $("#Lockup").css("display", "none");
            }
        }
        else {
            alert("Please select more than one SKU");
            $("#Lockup").css("display", "none");
        }
    }

    function StampPopup(i) {
        var TeamDetailPostBackURL = '@Url.Action("ViewSetStamps", "SKUSelection")';
        var chartNum = i;
        var $buttonClicked = $(this);
        // var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            data: { chartNum: chartNum },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#stampview').html(data);
            },
            error: function () {

            }
        });
    }

    function WrapperPopup(j) {
        var TeamDetailPostBackURL = '@Url.Action("ViewSetWrappersDetails", "SKUSelection")';
        var wrappingType = $("#dp_wrapping_type").val();
        var wrapperChart = j;
        var $buttonClicked = $(this);
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { wrapperChart: wrapperChart },
            datatype: "json",
            success: function (data) {
                $('#wrapperview').html(data);
            },
            error: function () {
                console.log(JSON.stringify(error));
            }
        });
    }

    function HnadlePopup(k) {
        var TeamDetailPostBackURL = '@Url.Action("ViewSetHandleDrawing", "SKUSelection")';
        var ViewHandleDrawing = k;
        var $buttonClicked = $(this);
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            data: { handleType: ViewHandleDrawing },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#handleview').html(data);
            },
            error: function () {
                alert('error');
            }
        });
    }

    function SubmitRemark() {

        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {

            $.ajax({
                url: '@Url.Action("SubmitRemarkCustomerDetails", "SKUSelection")',
                //data: { requestId: requestId },
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'SKUs Selection'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Pallet',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }

</script>