﻿@model JKFiles.WebApp.Models.UserLoginModel
@{
    ViewBag.Title = "LoginIndex";
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JK Files</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/SharedCss/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/SharedCss/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/SharedCss/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
            @using (Html.BeginForm())
            {
                <div align="center"><img src="~/SharedCss/dist/img/JK_logo.png" class="img-responsive"></div>
                <br>
                <br>

                <p class="login-box-msg">Sign in to start your session</p>
                <form action="index.html" method="post">
                    <div class="form-group has-feedback">
                        @Html.EditorFor(m => m.User_Id, new { htmlAttributes = new { @class = "form-control ", placeholder = "Email" } })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">

                        @Html.EditorFor(model => model.Password, "Password", new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    @*<div class="editor-field form-group has-feedback">
                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>*@
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="#">I forgot my password</a>
                        </div><!-- /.col -->

                        <div class="col-xs-8">
                           @Html.HiddenFor(m => m.Credentials)
                        <span id="credential"></span>
                        </div><!-- /.col -->

                        <div class="col-xs-4">
                            <a href="">

                                <button id="submit" type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            <!-- /.social-auth-links -->
                <br>
                <br>
            }

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <script>
        var testText = '@ViewBag.Credentials';
        debugger;
        if (testText != null && testText != "") {
            alert(testText);
        }
    </script>
   
 



    <!-- jQuery 2.1.4 -->
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/SharedCss/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/SharedCss/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>

    <script>
        debugger;
        $(function () {            
            var message = ViewBag.Credentials;
            if (message != "") {
                alert(message)
                //$('#confirmsubmit').modal('show');
            }
        });
    </script>
</body>
</html>
