﻿@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "_ApprovedRequest";
    Layout = "";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="10%" height="28" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type Code </div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Standard</div></td>
                <td width="20%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remarks</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
            </tr>

            @foreach (var list in Model.cutSpecsNoApproveList)
            {
                <tr>
                    <td>
                        <div align="center">
                            @if (@list.prc_request_type == "N")
                            {
                                <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.prc_request_type@list.prc_request_id</a>
                            }
                            else
                            {
                                <a href="#" onclick="ShowUpdatedValue1('@list.tpi_fsize_code','@list.fcl_ftype_code','@list.tpi_cut_code','@list.tpi_cut_std_code','@list.cuttype','@list.cutStandardName','@list.prc_request_type','@list.prc_request_id')"> @list.prc_request_type@list.prc_request_id</a>
                            }
                           
</div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="#" onclick="ShowUpdatedValue('@list.tpi_fsize_code','@list.fcl_ftype_code','@list.tpi_cut_code','@list.tpi_cut_std_code','@list.cuttype','@list.cutStandardName','@list.prc_request_type')">@list.tpi_fsize_code</a>
</div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fcl_ftype_code
                        </div>
                    </td>
                    <td>
                        <div align="center">
                          -
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.cuttype
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.cutStandardName
                        </div>
                    </td>
                   <td>
                        <div align="center">
                          -
                        </div>
                    </td>
                    <td><div align="center">
                        
                        @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                        {
                        <a href="#" data-toggle="modal" onclick="RejectApprove('@list.prc_request_type@list.prc_request_id','@list.prc_request_id','@list.prc_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-warning">Approve</a>
                        }
                        </div></td>

                </tr>
            }
        </table>
        <div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Enter Remark</label>
                        <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                        <h4> Confirm Approval?</h4>
                        <a href="#" class="btn btn-primary" onclick="ApproveRequest()">Approve</a>
                        <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade bd-example-modal-md" id="view12" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div id="contentApp"></div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    function ShowUpdatedValue1(i, j, k, l, m, n, o,p) {
        var sizecode = i;
        var filecode = j;
        var subtypCode = filecode[2];
        var CutType = k;
        var tpi_cut_std_code = l;
        var cutname = m;
        var stdname = n;
        var reqttype = o;
        var reqno = o + p;
        if (reqttype == "E") {
            $.ajax({
                url: '@Url.Action("ManageRequestUpdated1", "CutSpecmaster")',
                data: { sizecode: sizecode, filecode: filecode, subtypCode: subtypCode, CutType: CutType, tpi_cut_std_code: tpi_cut_std_code, cutname: cutname, stdname: stdname },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                }
            });
        }
        else {
            
        }
    }

    function ShowUpdatedValue(i,j,k,l,m,n,o) {
        var sizecode = i;
        var filecode = j;
        var subtypCode =filecode[2];
        var CutType=k;
        var tpi_cut_std_code = l;
        var cutname = m;
        var stdname = n;
        var reqttype = o;
        if (reqttype == "E") {
            @*$.ajax({
                url: '@Url.Action("ManageRequestUpdated1", "CutSpecmaster")',
                data: { sizecode: sizecode, filecode: filecode, subtypCode: subtypCode, CutType: CutType, tpi_cut_std_code: tpi_cut_std_code, cutname: cutname, stdname: stdname },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                }
            });*@
        }
        else {
            var cutStandardName = stdname;
            var cuttype = cutname;
            var fcl_ftype_code = j;
            var filetype = "";
            var filesizecode = i;
            $.ajax({
            url: '@Url.Action("viewCutspectAppdetails", "CutSpecmaster")',
                data: { cutStandardName: cutStandardName, cuttype: cuttype, fcl_ftype_code:fcl_ftype_code,filetype: filetype, filesizecode: filesizecode },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;

                $("#contentApp").html(data);
                $('#view12').modal('show');
            }
        })
        }
    }

    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i,j,k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }

    function RejectRequest() {
        if (requesttype == "E") {

            var Remarks = $("#or_remarks").val();
            requestNo1 = requestNo;
            if (Remarks != "") {
                $.ajax({
                    url: '@Url.Action("RejectECNRequest", "CutSpecmaster")',
                    data: { RequestID: requestNo1, Remarks: Remarks },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
            else {
                alert('Please enter the remarks');
            }
        }
        else {

        }
    }

    function ApproveRequest() {
        if (requesttype == "E") {


            $.ajax({
                url: '@Url.Action("ApproveECNRequest", "CutSpecmaster")',
                data: { RequestID: requestNo },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records approve");
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("UpdatecustspecApprove", "CutSpecmaster")',
                data: { ID: requestNo, type: requesttype },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records approve");
                }
            });
        }
    }
</script>


