﻿@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "_Cutspectview";
}

<div class="modal-header">
    <h5 class="modal-title" id="newtpi">TPI </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tbody>
                <tr>
                    <td height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Side/ Edge</div></td>
                    <td width="320" bgcolor="#e8e8e8" class=" text-black"><div align="center">U/C</div></td>
                    <td width="333" bgcolor="#e8e8e8" class=" text-black"><div align="center">O/C</div></td>
                    <td bgcolor="#e8e8e8" class="text-black"><div align="center">E/C</div></td>
                </tr>
                @foreach (var list in Model.listcutspectview)
                {
                    <tr>
                        <td width="209" height="28"><div align="center">@list.side_edge</div></td>
                        <td width="209" height="28"><div align="center">@list.UPCUT</div></td>
                        <td width="209" height="28"><div align="center">@list.OVERCUT</div></td>
                        <td width="209" height="28"><div align="center">@list.EDGE</div></td>
                    </tr>

                }
            </tbody>
        </table>



    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

