﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.CutSpecsEntity>
@{
    ViewBag.Title = "_cutspectmastr";
    //Layout = "";
}

<style>
    .valuename {
        display: none;
    }

    #valuename3 {
        display: none;
    }

    #valuename4 {
        display: none;
    }
</style>

<div id="divPartialView1">
    <div>
        <table width="100%" border="1" bordercolor="#CCCCCC" id="cutspecmsterGrid">
            <thead>
                <tr>
                    <th width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size Code</div></th>
                    <th width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type Code</div></th>
                    <th width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type </div></th>
                    <th width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></th>
                    <th width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Standard</div></th>
                    <th width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit</div></th>
                </tr>
            </thead>
                @*@for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><div align="center">@Model[i].filesizecode</div></td>
                    <td>
                        <div align="center">
                            @Model[i].fcl_ftype_code
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @Model[i].filetype
                        </div>
                    </td>

                    <td width="4%"><div align="center">@Model[i].cuttype</div></td>
                    <td width="6%">
                        <div align="center">
                            <a href="#" data-toggle="modal" data-target="#view123">
                                <a href="#" data-target="#view123" class="Cutspectcls" data-toggle="modal" data-id="@Model[i].cutStandardName,@Model[i].cuttype,@Model[i].fcl_ftype_code,@Model[i].filetype,@Model[i].filesizecode">
                                    @Model[i].cutStandardName
                                </a>
                        </div>
                    </td>
                    <td width="6%"><div align="center"><a href="#" data-toggle="modal" data-target="#editcutspectECN" onclick="CutSpaceDetailsList('@Model[i].filesizecode', '@Model[i].fcl_ftype_code','@Model[i].Cut_code','@Model[i].tpi_cut_std_code')"><i class="fa fa-pencil"></i></a></div></td>
                </tr>
            }*@

</table>

        @*<div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, selectedCutStandardName = ViewBag.selectedCutStandardName, ftypecode = ViewBag.ftypecode, filetype = ViewBag.filetype, cuttype = ViewBag.cuttype, cutstand = ViewBag.cutstand }))
                </div>
            </div>*@

    </div>
</div>

<div class="modal fade bd-example-modal-md" id="editcutspectECN" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtpi">Edit TPI </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="CutSpectECNtbl">
                        <tbody>
                            <tr>
                                <th width="150">&nbsp;</th>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Screen Value</th>
                                <th width="144">Parameter Dwg Value</th>
                            </tr>
                        </tbody>
                        <tbody id="cutspecstbl">
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary" onclick="RunImpactAnalysis()">Run Imapct Analysis</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="tpi_fsize_code" name="tpi_fsize_code" />
<input type="hidden" id="tpi_ftype_code" name="tpi_ftype_code" />
<input type="hidden" id="fileSubTypeCode" name="fileSubTypeCode" />
<input type="hidden" id="cutCode" name="cutCode" />
<input type="hidden" id="cutStandardName" name="cutStandardName" />

<div class="modal fade bd-example-modal-md" id="view123" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ChangeCutApprove").change(function () {
            $("#loading").css("display", "block");
            var selectedCutStandardName = $("#fsize_code").val();
            var ftypecode = $("#filetypecode").val();
            var filetype = $("#filetype").val();
            var cuttype = $("#cut_type").val();
            var cutstand = $("#cut_standard").val();
            $.ajax({
                url: '@Url.Action("cutspectmastr", "CutSpecmaster")',
                data: { selectedCutStandardName: selectedCutStandardName, ftypecode: ftypecode, filetype: filetype, cuttype: cuttype, cutstand: cutstand },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>
<script>

    $(".Cutspectcls").on('click', function () {
        // alert("kk");
        var reqno;
        reqno = $(this).data('id');
        $.ajax({
            url: '@Url.Action("viewCutspectdetails", "CutSpecmaster")',
            data: { reqno: reqno },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content").html(data);
                $('#view123').modal('show');
            }
        })
    });
</script>
<script>
    function CutSpaceDetailsList(i, j, k, l) {
        var fileSubtypecode = j[2];
        var temp1 = j[0];
        var temp2 = j[1];
        var filecode = temp1 + temp2;
        var sizecode = i;
        var cuttype = k;
        var standardname = l;
        $("#cutspecstbl").empty();
        var row = "";
        $.ajax({
            url: '@Url.Action("getCutSpaceDetailsList", "CutSpecmaster")',
            data: { sizecode: sizecode, filecode: filecode, fileSubtypecode: fileSubtypecode, cuttype: cuttype, cutstandar: standardname },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data.Message != "CutSpect being edited in request id=") {
                    for (var i = 0; i < data.tpicutllist.length; i++) {
                        row = '<tr><td id="valuename1"> ' + data.tpicutllist[i].tpi_cut_application + '<input type="text" class="form-control valuename" name="' + data.tpicutllist[i].tpi_cut_application + '_' + i + '"  id="' + data.tpicutllist[i].tpi_cut_application + '_' + i + '" value="' + data.tpicutllist[i].tpi_cut_application + '" /> </td>'
                               + '<td id="valuename3"> ' + data.tpicutllist[i].tpi_dim_code + '<input type="text" class="form-control valuename" name="' + data.tpicutllist[i].tpi_dim_code + '_' + i + '"  id="' + data.tpicutllist[i].tpi_dim_code + '_' + i + '" value="' + data.tpicutllist[i].tpi_dim_code + '" /> </td>'
                               + '<td id="valuename2"> ' + data.tpicutllist[i].tpi_dim_name + '<input type="text" class="form-control valuename" name="' + data.tpicutllist[i].tpi_dim_name + '_' + i + '"  id="' + data.tpicutllist[i].tpi_dim_name + '_' + i + '" value="' + data.tpicutllist[i].tpi_dim_name + '" /> </td>'
                                     + '<td id="valuename4"> ' + data.tpicutllist[i].tpi_cut_std_name + '<input type="text" class="form-control valuename" name="' + data.tpicutllist[i].tpi_cut_std_name + '_' + i + '"  id="' + data.tpicutllist[i].tpi_cut_std_name + '_' + i + '" value="' + data.tpicutllist[i].tpi_cut_std_name + '" /> </td>'
                                 + '<td id="Range1"> <input type="text" class="form-control" id="' + data.tpicutllist[i].tpi_dim_scrnval + '_' + i + '" name="' + data.tpicutllist[i].tpi_dim_scrnval + '_' + i + '" value="' + data.tpicutllist[i].tpi_dim_scrnval + '" /> </td>'
                              + ' <td id="Range2"><input type="text" class="form-control" name="' + data.tpicutllist[i].tpi_dim_dwgval + '_' + i + '"  id="' + data.tpicutllist[i].tpi_dim_dwgval + '_' + i + '" value="' + data.tpicutllist[i].tpi_dim_dwgval + '" /> </td> </tr>';
                        $("#cutspecstbl").append(row);
                    }
                    $("#tpi_fsize_code").val(data.sizecode);
                    $("#tpi_ftype_code").val(data.filecode);
                    $("#fileSubTypeCode").val(data.fileSubtypecode);
                    $("#cutCode").val(data.cuttype);
                    $("#cutStandardName").val(data.cutstandar);
                }
                else {
                    $('#editcutspectECN').modal('toggle');
                    var msg = data.Message + data.checkrequestID;
                    alert(msg);
                }
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }

    function RunImpactAnalysis() {
        var AllValue = [];
        var TrCount = $("#CutSpectECNtbl tr").length;
        var tpi_fsize_code = $("#tpi_fsize_code").val();
        var tpi_ftype_code = $("#tpi_ftype_code").val();

        var fileSubTypeCode = $("#fileSubTypeCode").val();
        var cutCode = $("#cutCode").val();
        var cutStandardName = $("#cutStandardName").val();
        for (var i = 0; i < TrCount - 1; i++) {
            AllValue.push({
                tpi_cut_application: $("#CutSpectECNtbl tr #valuename1 input").eq(i).val(),
                tpi_dim_name: $("#CutSpectECNtbl tr #valuename2 input").eq(i).val(),
                tpi_dim_code: $("#CutSpectECNtbl tr #valuename3 input").eq(i).val(),
                tpi_cut_std_name: $("#CutSpectECNtbl tr #valuename4 input").eq(i).val(),
                tpi_dim_scrnval: $("#CutSpectECNtbl tr #Range1 input").eq(i).val(),
                tpi_dim_dwgval: $("#CutSpectECNtbl tr #Range2 input").eq(i).val(),
                filesubtype: $("#fileSubTypeCode").val(),
                tpi_fsize_code: $("#tpi_fsize_code").val(),
                tpi_ftype_code: $("#tpi_ftype_code").val(),
                fileSubTypeCode: $("#fileSubTypeCode").val(),
                cutCode: $("#cutCode").val(),
                cutStandardName: $("#cutStandardName").val()
            });
        }
        var postData = AllValue;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ManageSKUList1", "CutSpecmaster")',
            data: JSON.stringify(postData),
            dataType: "json",
            contentType: 'application/json;',
            success: function (data) {
                location = data.url;
            },
        });
    }
    function RunImpactAnalysis1() {
        var AllValue = [];
        var TrCount = $("#CutSpectECNtbl tr").length;
        for (var i = 0; i < TrCount; i++) {
            AllValue.push({
                tpi_cut_application: $("#CutSpectECNtbl tr #valuename1 input").eq(i).val(),
                tpi_dim_name: $("#CutSpectECNtbl tr #valuename2 input").eq(i).val(),
                tpi_cut_std_name: $("#CutSpectECNtbl tr #valuename4 input").eq(i).val(),
                tpi_dim_scrnval: $("#CutSpectECNtbl tr #Range1 input").eq(i).val(),
                tpi_dim_dwgval: $("#CutSpectECNtbl tr #Range2 input").eq(i).val()
            });
        }
    }

</script>
<script>
    $(document).ready(function () {
        $("#cutspecmsterGrid").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": '@Url.Action("LoadData", "CutSpecmaster")',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
             [{
                 "targets": [0],
                 "visible": true,
                 "searchable": false
             },
             {
                 "targets": [3],
                 "searchable": false,
                 "orderable": false
             },
             {
                 "targets": [4],
                 "searchable": false,
                 "orderable": false
             }],
            "columns": [

        { "data": "filesizecode", "name": "filesizecode", "autoWidth": true, "className": "text-center" },
        { "data": "fcl_ftype_code", "name": "fcl_ftype_code", "autoWidth": true, "className": "text-center" },
        { "data": "filetype", "name": "filetype", "autoWidth": true, "className": "text-center" },
        { "data": "cuttype", "name": "cuttype", "autoWidth": true, "className": "text-center" },
        //{ "data": "Cut_code ", "name": "Cut_code", "autoWidth": true, "className": "text-center" },
        { "data": "cutStandardName", "name": "cutStandardName", "autoWidth": true, "className": "text-center" },
        //{ "data": "tpi_cut_std_code ", "name": "tpi_cut_std_code", "autoWidth": true, "className": "text-center" },
        {
             "render": function (data, type, full, meta) {
                 return '<div align="center"><a href="#" data-toggle="modal" data-target="#editcutspectECN" onclick="CutSpaceDetailsList(\'' + full.filesizecode + '\', \'' + full.fcl_ftype_code + '\',\'' + full.Cut_code + '\',\'' + full.tpi_cut_std_code + '\')"><i class="fa fa-pencil"></i></a></div>';
             }
        },
                  //{
                  //    "render": function (data, type, full, meta) {
                  //        return '<a class="btn btn-info" href="/Home/Edit/' + full.CustomerID + '">Edit</a>';
                  //    }
                  //},

                  // {
                  //     data: null, render: function (data, type, row) {
                  //         return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                  //     }
                  // },
            ]

        });
    });
</script>