﻿
@model JKFIlesEntity.CutSpecsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new"> Add New Cut Standard</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("CutSpecsDetails","CutSpecmaster")" method="post">
    <div class="modal-body">
        <div class="form-group col-md-6">
            <label class=" "> FILE TYPE</label>
        </div> 
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.fcl_ftype_code, new { @class = "form-control "})
        </div>
        <div class="form-group col-md-6">
            <label class=" "> FILE SIZE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.filesize, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> FILE CUT TYPE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.cuttype, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> STANDARD NAME</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.cutStandardName, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> UPCUT RANGE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.upcutrange, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" ">UPCUT VALUE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.upcutvalue, new { @class = "form-control " })
        </div>
        
        <div class="form-group col-md-6">
            <label class=" "> OVERCUT RANGE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.ovcutrange, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> OVERCUT VALUE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.ovcutvalue, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> EDGECUT RANGE</label>
        </div>

        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.edcutrange, new { @class = "form-control " })
        </div>
        <div class="form-group col-md-6">
            <label class=" "> EDGECUT VALUE</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.edcutvalue, new { @class = "form-control " })
        </div>
      
      
        
       @Html.HiddenFor(model=>model.prc_request_id)
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">Send for Approval</button>
        </div>
    </div>
    @*<div class="modal-footer">
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
            <button href="submit" type="submit" class="btn btn-primary" data-dismiss="modal">Save for Approval</button>
            <button type="submit">Save</button>
            <br>
            <br>
            <br>
            <div class="collapse" id="reject">
                <div class="card card-body">
                    <textarea name="" cols="" rows="3" required></textarea>
                    <div style="clear:both"></div>
                    <a href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal">Submit</a>
                </div>
            </div>
        </div>*@
</form>
