﻿@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "_NewRequest";
    Layout = "";
}

<div class="panel-body">

    <table width="100%" border="1" bordercolor="#CCCCCC">
        <tr>
            <td width="15%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
            <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
            <td width="15%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type code</div></td>
            <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></td>
            <td width="35%" bgcolor="#e8e8e8" class="text-black"><div align="center">Standard Name</div></td>
            @*<td width="08%" bgcolor="#e8e8e8" class="text-black"><div align="center">UPCUT</div></td>
                <td width="08%" bgcolor="#e8e8e8" class="text-black"><div align="center">EDGE</div></td>
                <td width="08%" bgcolor="#e8e8e8" class="text-black"><div align="center">OVER</div></td>*@
            <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit</div></td>
        </tr>

        @foreach (var list in Model.cutSpecsNoActiveList)
        {
            <tr>
                <td>
                    <div align="center">
                        <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.prc_request_type@list.prc_request_id</a>
</div>
                </td>
                <td>
                    <div align="center">
                        @list.filesizecode
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.fcl_ftype_code
                    </div>
                </td>

                <td>
                    <div align="center">
                        @list.cuttype
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.cutStandardName
                    </div>
                </td>
                @*<td>
                        <div align="center">
                            @list.upcutrange
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.edcutrange
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.ovcutrange
                        </div>
                    </td>*@
                <td>
                    <div align="center">
                        @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString()=="EMT_Prod_User")
                        {<a href="javascript:void(0);" class="anchorDetail" data-id="@list.prc_request_id,@list.prc_request_type">
                             <i class="fa fa-pencil"></i></a>
                        }
                        else
                        {
                            <a><i class="fa fa-pencil"></i></a>
                        }
                    </div>
                </td>

            </tr>
        }
    </table>
</div>
