﻿@*@using System.Data
    @model DataTable
    @{
        ViewBag.Title = "";
        Layout = "~/Views/Shared/MasterPage.cshtml";
    }*@
@*@model JKFIlesEntity.CutSpecsEntity*@

@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.CutSpecsEntity>


@{
    ViewBag.Title = "";

}

<div class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Cut Specification Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Requests</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse ">
                            @Html.Action("NewRequest")
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Requests for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            @Html.Action("ApprovedRequest")
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR1">
                                    <i class="fa fa-plus"></i>
                                    <span> Cut Specification Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR1" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    @if (Session["Role"].ToString() == "EMT_Prod_User")
                                    {
                                    <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addnew">Add New </a>
                                    }
                                    else
                                    {
                                    <a class="btn btn-default pull-right">Add New </a>
                                    }

                                    <a href="Index">
                                        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                    </a>
                                    <div style="clear:both"></div>
                                    <br>

                                    @Html.Action("Cutspectmaster")

                                    <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                    <div style="clear:both"></div>
                                    @Html.Action("cutspectmastr")
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="newtpi" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtpi">New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="60">Upload</th>
                            </tr>

                            <tr>
                                <td>File Type Code</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="FLF" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>File Size</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="5.5" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Cut Type</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="Smooth" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Cut Standard Name</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="Asia" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Upcut Range</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="45" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Upcut Value</td>
                                <td><input type="text" name="textfield2" id="textfield3" value="40" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Range </td>
                                <td><input type="text" name="textfield2" id="textfield4" value="45" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Value</td>
                                <td><input type="text" name="textfield" id="textfield" value="45" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Range </td>
                                <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Value </td>
                                <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="view2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtpi">New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="60">Upload</th>
                            </tr>

                            <tr>
                                <td>File Type Code</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="FLF" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>File Size</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="5.5" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Cut Type</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="Smooth" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Cut Standard Name</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="Asia" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Upcut Range</td>
                                <td><input type="text" name="textfield2" id="textfield2" value="45" readonly /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Upcut Value</td>
                                <td><input type="text" name="textfield2" id="textfield3" value="40" readonly /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Range </td>
                                <td><input type="text" name="textfield2" id="textfield4" value="45" readonly /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Value</td>
                                <td><input type="text" name="textfield" id="textfield" value="45" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Range </td>
                                <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Value </td>
                                <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark" disabled></textarea></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtpi">Edit TPI </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">




                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">&nbsp;</th>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Screen Value</th>
                                <th width="144">Parameter Dwg Value</th>
                            </tr>

                            <tr>
                                <td>Side 1</td>
                                <td>Upcut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="34 35-36" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="34" /></td>
                            </tr>

                            <tr>
                                <td>Side 1</td>
                                <td>Overcut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="36 37-38" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="36" /></td>
                            </tr>


                            <tr>
                                <td>Side 2</td>
                                <td>Upcut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="34 35-36" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="34" /></td>
                            </tr>

                            <tr>
                                <td>Side 2</td>
                                <td>Overcut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="36 37-38" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="36" /></td>
                            </tr>

                            <tr>
                                <td>Edge 1</td>
                                <td>Edgecut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="38-39" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="38" /></td>
                            </tr>
                            <tr>
                                <td>Edge 2</td>
                                <td>Edgecut</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="38-39" /></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield3" value="38" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary">Run Imapct Analysis</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="addnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtpi">New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="60">Upload</th>
                            </tr>

                            <tr>
                                <td>File Type </td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Type</option>
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>File Sub Type </td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Sub Type</option>
                                        <option>Brass</option>
                                        <option>Aluminium</option>
                                        <option>Handle</option>
                                        <option>Key</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>File Size</td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Size</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Cut Type</td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">Cut Type</option>
                                        <option>0 Rough</option>
                                        <option>1 Basterd</option>
                                        <option>2 Second</option>
                                        <option>3 Smooth</option>
                                        <option>4 Dead Smooth</option>
                                        <option>X Special Cut</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Select Cut Standard </td>
                                <td>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option disabled selected>Cut Standard</option>
                                        <option>New </option>
                                        <option>General </option>
                                        <option>NATO</option>
                                        <option>USA</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Cut Standard Name</td>
                                <td><input type="text" name="textfield2" id="textfield2" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Upcut Range</td>
                                <td><input type="text" name="textfield2" id="textfield2" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Upcut Value</td>
                                <td><input type="text" name="textfield2" id="textfield3" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Range </td>
                                <td><input type="text" name="textfield2" id="textfield4" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Overcut Value</td>
                                <td><input type="text" name="textfield" id="textfield" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Range </td>
                                <td><input type="text" name="textfield" id="textfield" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Edgecut Value </td>
                                <td><input type="text" name="textfield" id="textfield" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div style="clear:both"></div>
<!-- BY SWAPNIL-->
<div class="modal fade bd-example-modal-md" id="EditCutspecnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Edit New Cut Standard </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialEditCutSpecsGrid"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="EditCutspecsAdd" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </form>
            @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
  
        var TeamDetailPostBackURL = '@Url.Action("Cutspecs", "CutSpecmaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var reqtype = $("#reqtype").val;
            var emailrogh = id1.split(",");
            var id = emailrogh[0];
            var type = emailrogh[1]
            split_string = id.split(/(\d+)/)
            var reqtypetable = split_string[0];
            var retypeid = split_string[1];
            $("#tablePartialEditCutSpecsGrid").empty();
            var row = "";
            $.ajax({
                url: '@Url.Action("REQCutSpecDetails", "CutSpecmaster")',
                data: { id: retypeid, reqtype: type },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                    $("#tablePartialEditCutSpecsGrid").append(row);
                  
                    row1 = '<tr><td id="namecut"> CUT STANDARD </td>'
                           + '<td id="codecut">NAME</td>'
                          + '<td id="Range1" colspan="2"> <input type="text" onchange="editCutSpec(0)" class="form-control"  id="n1" name="n1" value="' + data[0].vtpi_cut_std_name + '" /> </td></tr>';
                    $("#tablePartialEditCutSpecsGrid").append(row1);
                    row2 = '<tr><td id="cutname1">CUT STANDARD </td>'
                          + '<td id="cutcode1">CODE (2 CHARS ONLY) </td>'
                          + '<td id="Range1" colspan="2"><input type="text" onchange="editCutSpec(1)" class="form-control"  name="c2"  id="c2" value="' + data[0].vtpi_cut_std_code + '" /> </td>'
                          + '<td colspan="2"><input type="hidden" id="request_id" class="form-control" name="c2"  value="' + data[0].prc_request_id + '" /> </td>'
                          + '<td colspan="2"><input type="hidden" id="request_type" class="form-control" name="c2" value="' + data[0].prc_request_type + '" /> </td></tr>';
                    
                    
                    $("#tablePartialEditCutSpecsGrid").append(row2);
                    for (var i = 0; i < data.length; i++) {
                        //if (data.obj[i].tpi_newrm_numinputs > 1) {
                        row = '<tr><td id="value' + i + '"> ' + data[i].tpi_dim_name + ' </td>'
                         + '<td id="valuecode' + i + '"> ' + data[i].tpi_dim_code + ' </td>'
                         + '<td id="Range2"><input type="text" class="form-control" onchange="editCutSpec(' + i + ')"  name="' + i + '"  id="' + i + '" value="' + data[i].tpi_dim_dwgval + '" /> </td>'
                         + '<td id="Range1"><input type="text" class="form-control" onchange="editCutSpec(' + i + ')"  name="_' + i + '"  id="_' + i + '" value="' + data[i].tpi_dim_scrnval + '" /> </td></tr>';
                        $("#tablePartialEditCutSpecsGrid").append(row);
                        $('#EditCutspecnew').modal('show');
                        //}
                    }
                    //$("#pn_fsize_code").val(data.sizecode);
                    //$("#pn_ftype_code").val(data.filecode);
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });
    });

    $(function () {
        $("#EditCutspecsAdd").click(function () {
            debugger

            var editCutSpecArray = [];
            var TrCount = $("#tablePartialEditCutSpecsGrid tr").length;

            var count=0;
          
          

            editCutSpecArray.push({
                pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecsGrid tr #Range1 input").eq(0).val(),
                prc_request_id:$("#request_id").val(),
                prc_request_type:$("#request_type").val()
            });
            editCutSpecArray.push({
                pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecsGrid tr #Range1 input").eq(1).val(),
            });
            for (var i = 0; i < TrCount - 3; i++) {
                editCutSpecArray.push({
                    prc_parameter_value: $.trim($("#tablePartialEditCutSpecsGrid tr td#value" + i + "").eq(0).text()),
                    prc_parameter_name: $.trim($("#tablePartialEditCutSpecsGrid tr td#valuecode" + i + "").eq(0).text()),
                    pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecsGrid tr #Range2 input").eq(i).val(),
                    pm_dim_parm_scrnvalue: $("#tablePartialEditCutSpecsGrid tr #Range1 input").eq(i + 2).val()
                });
                if( $("#tablePartialEditCutSpecsGrid tr #Range2 input").eq(i).val()=='' ||  $("#tablePartialEditCutSpecsGrid tr #Range2 input").eq(i).val()=='undefine')
                {
                    count++;
                }
                if ($("#tablePartialEditCutSpecsGrid tr #Range1 input").eq(i + 2).val() == '' || $("#tablePartialEditCutSpecsGrid tr #Range1 input").eq(i + 2).val() == 'undefine') {
                    count++;
                }
            }
            if (count >= 1) {
                alert('Please Enter All Values....!');
            }
            else {
                var postData = editCutSpecArray;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditCutspecsAdd", "CutSpecmaster")',
                    data: JSON.stringify(postData),
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (data) {
                        alert('Cut Specification Inserted Succesfully');
                        location.reload();


                    },
                });
            }
           
        });
    });
</script>
<!-- BY SWAPNIL-->
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "CutSpecmaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdatecustspecApprove", "CutSpecmaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>