﻿@model JKFiles.WebApp.Models.TpiCutStandardsModel

@{
    ViewBag.Title = "ManageCutSpectSKUList";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/Blob.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/FileSaver.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/Export2Excel.js"></script>
    <script>
        function download() { 
            var filrcode='@ViewBag.filecode';
            var filesize = '@ViewBag.sizecode';
            var cutcode = '@ViewBag.cutCode';
            var cutstand = '@ViewBag.cutStandardName';
            var date = '@ViewBag.TodayDate';
            var filename = filesize + filrcode + cutcode + cutstand + date;
            export_table_to_excel('myTable', ''+ filename +'.xlsx');
            //export_table_to_excel('myTable', 'xlsx' || 'xlsx');
        }
    </script>
</head>
<body>
    <div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
    <section class="content">
        <div class="box box-default">
            <div class="box-body">

                <h4>&nbsp;</h4>
                <div class="col-md-6">
                    <div class="table-responsive ">
                        <table id="myTable" class="table table-bordered">
                            <tr>
                                <th> SKU </th>
                                <th>Revision</th>
                                <th> Start Date for Current SKU</th>
                                <th> End Date for Current SKU</th>
                            </tr>
                            @foreach (var item in Model.skulist)
                            {
                                <tr>
                                    <td><div align="center">@item.pn_part_no</div></td>
                                    <td><div align="center">@item.pn_version_no</div></td>
                                    <td><div align="center">@item.pn_start_date.ToString("dd/MM/yyyy")</div></td>
                                    <td><div align="center">@item.pn_end_date.ToString("dd/MM/yyyy")</div></td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
                <img src="~/Content/Images/loader.gif" id="loading" style="display:none" />

                <div style="clear:both"></div>
                <div class="col-md-3">

                    <div class="form-group">
                        <label>Stop/Start Date for ECN</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control datepicker" id="or_effective_dt" name="or_effective_dt">

                        </div><!-- /.input group -->
                    </div>

                </div>
                <input type="hidden" id="or_request_keydata" name="or_request_keydata" value="@ViewBag.or_request_keydata" />

                <div style="clear:both"></div>
                <a href="@Url.Action("Index", "CutSpecmaster")" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <button class="btn btn-primary" onclick="download();">Export to Excel</button>
                <a href="" class="btn btn-primary" onclick="SubmitOtherRequest('We are processing...')">Confirm </a>
            </div>
        </div>
       
    </section>
</body>
</html>
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@*<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@

    <script>
        $(document).ready(function () {
            var maxDate = '@ViewBag.EndMaxDate';
            var minDate = '@ViewBag.StartMaxDate';
            
            
            $('#or_effective_dt').datepicker({
                format: 'yyyy-M-dd',
                endDate: maxDate,
                startDate: minDate,
                autoclose: true
            });
        });
       


        function SubmitOtherRequest(str) {
            var lock = document.getElementById('Lockup');
            if (lock)
                lock.className = 'LockOn';
            lock.innerHTML = str;
            var or_request_keydata = $("#or_request_keydata").val();
            var or_effective_dt = $("#or_effective_dt").val();
            var ecnlist = '@ViewBag.FileSubTypelist';
            if ($("#or_effective_dt").val() != "") {

                $.ajax({
                    url: '@Url.Action("InsertOtherRequest", "CutSpecmaster")',
                    data: { or_request_keydata: or_request_keydata, or_effective_dt: or_effective_dt },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                        $("#Lockup").css("display", "none");
                    },
                });
            }
            else {
                alert("Please select date");
                $("#Lockup").css("display", "none");
            }
        }
    </script>





















