﻿
@model JKFiles.WebApp.Models.TpiCutStandardsModel
@{
    ViewBag.Title = "ManageCutSpectRequestUpdated";
}

<body class="hold-transition skin-blue">
    <div class="">


        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class=" container-fluid">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">


                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#itemmaster" data-toggle="tab">Changes</a></li>
                        <li><a href="#requests" data-toggle="tab">Impacted SKUs</a></li>
                        <a href="@Url.Action("Index", "CutSpecmaster")" class="btn btn-default pull-right">Close</a>

                    </ul>
                    <h3 class="box-title" id="RequestNo">Request No:@ViewBag.requestID</h3>
                    <div class="tab-content">
                        <!-- Morris chart - Sales -->
                        <div class=" tab-pane active" id="itemmaster">


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">File Size Code </label>
                                    <input type="text" class="form-control " id="pn_fsize_code" name="pn_fsize_code" value="@Model.pn_fsize_code" readonly>
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->


                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="">File Code </label>
                                    <input type="text" class="form-control " id="pn_ftype_code" name="pn_ftype_code" value="@Model.pn_ftype_code" readonly>
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->




                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="">Cut Type </label>
                                    <input type="text" class="form-control " id="cutname" name="cutname" value="@Model.cutname" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="">Cut Standard </label>
                                    <input type="text" class="form-control " id="stdname" name="stdname" value="@Model.stdname" readonly>
                                </div>
                            </div>

                            <div style="clear:both"></div>
                            <div class=" table-responsive">
                                <div class="col-md-9">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="2"><div align="center"></div></th>
                                            <th colspan="2"><div align="center"><span>Old Values</span></div></th>
                                        </tr>
                                        <tbody>
                                            <tr>
                                                <th width="25%"><div align="center">Parameter Category</div></th>
                                                <th width="45%"><div align="center"><span></span> Name</div></th>
                                                <th width="15%"><div align="center"><span></span> Range</div></th>
                                                <th width="15%"><div align="center"><span></span> Value</div></th>
                                            </tr>

                                            @foreach (var item in Model.oldvaluelist)
                                            {
                                                <tr>
                                                    <td><div align="center">@item.tpi_cut_application</div></td>
                                                    <td><div align="center">@item.tpi_dim_name</div></td>
                                                    <td><div align="center"><input type="text" class="form-control" value="@item.tpi_dim_scrnval" readonly></div></td>
                                                    <td><div align="center"><input type="text" class="form-control" value="@item.tpi_dim_dwgval" readonly></div></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-md-3">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="2"><div align="center"><span>New Values</span></div></th>
                                        </tr>
                                        <tbody>
                                            <tr>
                                                <th width="50%"><div align="center"><span></span> Range</div></th>
                                                <th width="50%"><div align="center"><span></span> Value</div></th>
                                            </tr>


                                            @foreach (var item1 in Model.newvaluelist)
                                            {
                                                <tr>

                                                    <td><div align="center"><input type="text" class="form-control" value="@item1.tpi_dim_scrnval" readonly></div></td>
                                                    <td><div align="center"><input type="text" class="form-control" value="@item1.tpi_dim_dwgval" readonly></div></td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>



                            </div>

                        </div>
                        <div class="tab-pane   " id="requests">

                            <div class="table-responsive ">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th> SKU </th>
                                            <th>Revision</th>
                                            <th> Start Date for Current SKU</th>
                                            <th> End Date for Current SKU</th>
                                        </tr>
                                        @foreach (var item2 in Model.skulist)
                                        {
                                            <tr>
                                                <td><div align="center">@item2.im_sku</div></td>
                                                <td><div align="center">@item2.im_sku_verno</div></td>
                                                <td><div align="center"><input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@item2.im_sku_start_date" readonly></div></td>
                                                <td><div align="center"><input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@item2.im_sku_end_date" readonly></div></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                            <div style="clear:both"></div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>Stop/Start Date for ECN</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" id="SkuEditDAte" name="SkuEditDAte" value="@Model.SkuEditDAte" disabled>
                                    </div><!-- /.input group -->
                                </div>

                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>


            </section>

        </div>

    </div>

</body>
