﻿
@model JKFIlesEntity.CutSpecsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new"> Add New Cut Standard</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@*<form action="@Url.Action("EditCutSpecDetails","ProductionDetails")" method="post">*@
@using (Html.BeginForm("EditCutSpecDetails", "ProductionDetails", FormMethod.Post, new { }))
{
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td>FILE TYPE</td>
                    <td>@Html.TextBoxFor(model => model.fcl_ftype_code, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>FILE SIZE</td>
                    <td>@Html.TextBoxFor(model => model.filesize, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>FILE CUT TYPE</td>
                    <td>@Html.TextBoxFor(model => model.cuttype, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>STANDARD NAME</td>
                    <td>@Html.TextBoxFor(model => model.cutStandardName, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>STANDARD CODE</td>
                    <td>@Html.TextBoxFor(model => model.cutStandardCode, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>UPCUT RANGE</td>
                    <td>@Html.TextBoxFor(model => model.upcutrange, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>UPCUT VALUE</td>
                    <td>@Html.TextBoxFor(model => model.upcutvalue, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>OVERCUT RANGE</td>
                    <td>@Html.TextBoxFor(model => model.ovcutrange, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>OVERCUT VALUE</td>
                    <td>@Html.TextBoxFor(model => model.ovcutvalue, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
<tr>
                    <td>EDGECUT RANGE</td>
                    <td>@Html.TextBoxFor(model => model.edcutrange, new { @class = "form-control ", @required = "Required" })</td>
                <tr>
                <tr>
                    <td>EDGECUT VALUE</td>
                    <td>@Html.TextBoxFor(model => model.edcutvalue, new { @class = "form-control ", @required = "Required" })</td>
                <tr>


                    @Html.HiddenFor(model => model.prc_request_id)
                    @Html.HiddenFor(model => model.prc_request_type)
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit"  class="btn btn-primary">OK</button>
        </div>
    </div>
}
@*</form>*@

