﻿
@{
// ViewBag.Title = "_BrandMasterView";
// Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="tab-pane  " id="brand">
    <div class='col-md-12'>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#newB">
                            <i class="fa fa-plus"></i>
                            <span>New Record Request</span>
                        </a>
                    </h4>
                </div>
                <div id="newB" class="panel-collapse collapse active in ">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table width="100%" border="1" bordercolor="#CCC">
                                <tr>
                                    <td width="11%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                                    <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Code</div></td>
                                    <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Name</div></td>
                                    <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                    <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit </div></td>
                                </tr>
                                <tr>
                                    @foreach (var list in Model.brandListNoActiveList)
                                    {
                                    <tr>
                                        <td>
                                            <div align="center">
                                                @list.bm_request_type@list.bm_request_id
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                @list.bm_brand_id
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                @list.bm_brand_name
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                @list.bm_brand_remarks
                                            </div>
                                        </td>
                                        <td> <div align="center"><a href="javascript:void(0);" class="anchorDetail" data-id="@list.bm_request_id,@list.bm_request_type"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    }

                                </table>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#approveB">
                                <i class="fa fa-plus"></i>
                                <span>Records for Approval</span>
                            </a>
                        </h4>
                    </div>
                    <div id="approveB" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table width="100%" border="1" bordercolor="#CCC">
                                    <tr>
                                        <td height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                        <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Code</div></td>
                                        <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Name</div></td>
                                        @*<td bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>*@
                                        <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
                                    </tr>
                                    <tr>
                                        @foreach (var list in Model.brandNoApproveList)
                                        {
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    @list.bm_request_type@list.bm_request_id
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.bm_brand_id
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.bm_brand_name
                                                </div>
                                            </td>
                                            @*<td>
                                                    <div align="center">
                                                        @list.bm_brand_remarks
                                                    </div>
                                                </td>*@
                                            <td><div align="center"><a href="@Url.Action("UpdateBrandApprove", "CustomerBrand", new { ID = @list.bm_request_id,type= @list.bm_request_type})" class="CountClick btn btn-primary" data-id="@list._id">Save For Approve</a>  </div></td>
                                        </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existingB">
                                    <i class="fa fa-plus"></i>  <span>Brand Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existingB" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newbrand">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    @*<form>
                                        <div class="form-group col-md-3">
                                            <select class="form-control select2" style="width:100%;">
                                                <option selected="selected" disabled>Select Brand</option>
                                                <option>Incolma</option>
                                                <option>Truper</option>
                                                <option>Sunflower</option>
                                                <option>Westward</option>
                                            </select>

                                        </div>


                                    </form>*@

                                </div>
                                <div style="clear:both"></div>
                                <br>
                                <div class="col-md-6">
                                    <div class=" table-responsive">

                                        <table width="100%" border="1" bordercolor="#CCC">
                                            <tr>
                                                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Code</div></td>
                                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Name</div></td>
                                                @*<td bgcolor="#333333" class="style1">
                                                        <div align="center">Remark</div>
                                                        <div align="center"></div>
                                                    </td>
                                                    <td bgcolor="#333333" class="style1"><div align="center">Edit</div></td>*@

                                            <tr>
                                                @foreach (var list in Model.brandList)
                                                {
                                                <tr>
                                                    <td>
                                                        <div align="center">
                                                            @list.bm_brand_id
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div align="center">
                                                            @*<a href="#" class="editbrand" >*@
                                                                @list.bm_brand_name
                                                            @*</a>*@
                                                        </div>
                                                    </td>
                                                    @*<td>
                                                            <div align="center">
                                                                @list.bm_brand_remarks
                                                            </div>
                                                        </td>
                                                        <td><div align="center"><i class="fa fa-pencil"></i></div></td>*@
                                                </tr>
                                                }

                                            </table>



                                            <p class="style1">&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>



            <div class="modal fade" id="newbrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new">Add Brand</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Code">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Name">
                                </div>

                                <div class="form-group col-md-6">
                                    <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                                </div>
                                <!--  <div class="form-group col-md-6">
                                   <input type="text" class="form-control" placeholder="Brand Name">
                                 </div>

                                 -->



                            </form>
                        </div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onClick="myFunction()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="editbrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new">View/Edit Brand</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Code" value="SE">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Name" value="Sunflower">
                                </div>


                                <!--  <div class="form-group col-md-6">
                                   <input type="text" class="form-control" placeholder="Brand Name">
                                 </div>

                                 -->



                            </form>
                        </div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Edit</a>

                            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <!-- <a href="#reject2"  class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" >Reject</a>
                             <a href="#" type="button" class="btn btn-primary" data-dismiss="modal" >Use Existing</a>-->
                            <br>
                            <br>
                            <br>
                            <div class="collapse" id="reject2">
                                <div class="card card-body">
                                    <textarea name="" cols="" rows="3" required></textarea>
                                    <div style="clear:both"></div>
                                    <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Ok</a>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>