﻿@model JKFIlesEntity.CustomerDetailsEntity
@{
    ViewBag.Title = "_CstbrandDDLmaster";
    Layout = "";
}

<form class="form-inline" method="post">

    <div class="form-group  col-md-3" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.Cm_Cust_Name, new SelectList(Model.custList, "Cm_Cust_Name", "Cm_Cust_Name"), "Select Customer", new { @class = "form-control select2 ChangeApprove", @style = "width:100 % ", @id = "Cm_Cust_Name" })
        @Html.HiddenFor(m => m.Cm_Cust_Name)
    </div>

    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.brandName, new SelectList(Model.listbrandmstr, "brandName", "brandName"), "Select Brand", new { @class = "form-control select2 ChangeApprove", @style = "width:100 % ", @id = "brandName" })
    </div>

    <div class="form-group  col-md-3">
        @Html.DropDownListFor(model => model.countryName, new SelectList(Model.listcountry, "countryName", "countryName"), "Select Country", new { @class = "form-control select2 ChangeApprove", @style = "width:100 % ", @id = "countryName" })
    </div>

 

</form><br>

