﻿@model JKFIlesEntity.CustomerDetailsEntity
@{
    ViewBag.Title = "_Cstmstrddlmaster";
}

<form class="form-inline margin2" method="post">


    <div class="form-group  col-md-3" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.pr_cust_name, new SelectList(Model.cstnameList, "pr_cust_name", "pr_cust_name"), "select Customer", new { @class = "form-control select2 ChangecstnameApprove", @style = "width:100 % ", @id = "pr_cust_name" })
        @Html.HiddenFor(m => m.pr_cust_name)
    </div>



</form>

