﻿@*@model JKFiles.WebApp.Models.CustomerMasterModel*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.CustomerDetailsEntity>
@{
    ViewBag.Title = "_CustomerMasterList";
}
<div id="divPartialView1">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                @*<td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request Type</div></td>*@
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                @*<td bgcolor="#333333" class="style1">
                        <div align="center">Remark</div>
                        <div align="center"></div>
                    </td>*@
                @*<td bgcolor="#333333" class="style1"><div align="center">Edit</div></td>*@

            <tr>

                @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><div align="center">@Model[i].Cm_Cust_Id</div></td>


                    <td>
                        <div align="center">
                            @*<a href="#" class="editcustomer" data-id="@Model[i].Cm_Cust_Name">*@
                            <a href="#" data-target="#editcustomer1" class="editcustomer" data-toggle="modal" data-id="@Model[i].Cm_Cust_Name">
                                <p>@Model[i].Cm_Cust_Name</p>
                            </a>
                        </div>
                    </td>


                </tr>

                }


                @*@foreach (var list in Model.custList)
                    {
                    <tr>
                        <td>
                            <div align="center">
                                @list.Cm_Cust_Id
                            </div>
                        </td>

                        <td>
                            <div align="center">

                                <a href="#" class="editcustomer" data-id="@list.Cm_Cust_Name">
                                    @list.Cm_Cust_Name
                                </a>
                            </div>
                        </td>

                    </tr>
                    }*@
            </table>


            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Customer_Brand_Master", new { page, cstname = ViewBag.cstname }))
                </div>
            </div>
            <p class="style1">&nbsp;</p>
        </div>

    </div>

    <div class="modal fade" id="editcustomer1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="content"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".ChangecstnameApprove").change(function () {
                $("#loading").css("display", "block");
                var cstname = $("#pr_cust_name").val();

                $.ajax({
                    url: '@Url.Action("CustomerMasterList", "CustomerBrand")',
                    data: { cstname: cstname },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#divPartialView1").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });

            });


        });
    </script>


    <script>
        $(document).ready(function () {
            $(".editcustomer").on('click', function () {
                // alert("kk");
                var reqno;
                reqno = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("editcustomer", "CustomerBrand")',
                    data: { reqno: reqno },
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        var Id = data;
                        //alert(Id)
                        $("#content").html(data);
                        $('#editcustomer1').modal('show');
                    }
                })
            });



            @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
        });
    </script>



