﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    ViewBag.Title = "_EditCustomer";
    Layout = "";
}

<form action="@Url.Action("Updatercustomer", "MastersDetails")" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="new"> View/Edit Customer</h5>
            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>

                <div class="form-group col-md-6">

                    @Html.TextBoxFor(model => model.costomerId, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="form-group col-md-6">

                    @Html.TextBoxFor(model => model.costomerName, new { @class = "form-control", disabled = "disabled" })
                </div>
                <!--  <div class="form-group col-md-6">
                   <input type="text" class="form-control" placeholder="Brand Name">
                 </div>

                 -->


            </form>
        </div>
        <div style="clear:both"></div>
        <div class="modal-footer">
            @*<a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Edit</a>*@

            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <!--  <a href="#reject"  class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample" >Reject</a>
              <a href="#" type="button" class="btn btn-primary" data-dismiss="modal" >Use Existing</a>-->
            <br>
            <br>
            <br>
            <div class="collapse" id="reject">
                <div class="card card-body">
                    <textarea name="" cols="" rows="3" required></textarea>
                    <div style="clear:both"></div>
                    <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Ok</a>


                </div>
            </div>


        </div>
    </div>
</form>

