﻿@model JKFIlesEntity.FileSubTypeEntity
@{
    ViewBag.Title = "_FileSubTypeView";
    Layout = "";
}

<form action="@Url.Action("viewfilesubtype", "FileSubType")" method="post">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">File Sub Type Details</h5>
            @*@Html.HiddenFor(model => model.rm_code)*@
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tr>
                            <td width="11%" height="28" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter Name</div></td>
                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter Screen Value</div></td>
                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter DWG Value</div></td>

                        </tr>
                        @foreach (var list in Model.fileSubTypedetaillist)
                        {
                            <tr>
                                <td height="33"><div align="center">@list.pm_dim_parm_name</div>      
                                <div align="center"></div><div align="center"></div></td>
                                <td><div align="center">@list.pm_dim_parm_scrnvalue</div></td>
                                <td><div align="center">@list.pm_dim_parm_dwgvalue</div></td>


                            </tr>
                        }
                    </table>
                </table>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Edit</button>
            @*<button type="button" class="btn btn-primary">Ok</button>*@
        </div>
    </div>
</form>
