﻿@model JKFIlesEntity.CustomerDetailsEntity
@{
    ViewBag.Title = "_AddCustomerView";
    Layout = "";
}

<form action="@Url.Action("InsertNewCustomer", "MastersDetails")" method="post">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="sizenew">Add New Customer </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100" style="width: 10px">Parameter Name</th>
                            <th width="144"><span style="width: 10px">Parameter</span> Value</th>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td>
                                @*<input id="txtName" class=" form-control" title="File Size in Inches">*@
                                @Html.EditorFor(m => m.Cm_Cust_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Customer Name", @required = "Required" } })
                                @Html.ValidationMessageFor(m => m.Cm_Cust_Name)

                            </td>

                        </tr>
                        <tr>
                            <td>Customer ID</td>
                            <td>
                                @*<input id="txtcode" class=" form-control" title="File Size Code">*@
                                @Html.EditorFor(m => m.Cm_Cust_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Customer ID", @required = "Required" } })
                                @Html.ValidationMessageFor(m => m.Cm_Cust_Id)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Remark(Optional)</label>

                                    @Html.TextBoxFor(m => m.Cm_Cust_Remarks, new { @class = "form-control", @required = "Required" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            @*<button type="button" class="btn btn-primary">Send for Approval</button>*@
            <button id="btnSave" type="submit" class="btn btn-primary">Send for Approva</button>
        </div>
    </div>

</form>

