﻿@model JKFIlesEntity.BrandDetailsEntity
@{
    ViewBag.Title = "_AddBrandView";
    Layout = "";
}

<form action="@Url.Action("InsertNewBrand", "MastersDetails")" method="post">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="sizenew">Add New Brand </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100" style="width: 10px">Parameter Name</th>
                            <th width="144"><span style="width: 10px">Parameter</span> Value</th>
                        </tr>
                        <tr>
                            <td>Brand Name</td>
                            <td>
                                @*<input id="txtName" class=" form-control" title="File Size in Inches">*@
                                @Html.EditorFor(m => m.bm_brand_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand Name" } })
                                @Html.ValidationMessageFor(m => m.bm_brand_name)

                            </td>

                        </tr>
                        <tr>
                            <td>Brand ID</td>
                            <td>
                                @*<input id="txtcode" class=" form-control" title="File Size Code">*@
                                @Html.EditorFor(m => m.bm_brand_id, new { htmlAttributes = new { @class = "form-control", placeholder = "Brand ID" } })
                                @Html.ValidationMessageFor(m => m.bm_brand_id)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Remark(Optional)</label>

                                    @Html.TextBoxFor(m => m.bm_brand_remarks, new { @class = "form-control" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            @*<button type="button" class="btn btn-primary">Send for Approval</button>*@
            <button id="btnSave" type="submit" class="btn btn-primary">Send for Approva</button>
        </div>
    </div>

</form>

