﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    ViewBag.Title = "_ApprovedCSTRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request Type</div></td>*@
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                <td bgcolor="#e8e8e8" height="50" class=" text-black"><div align="center">Action</div></td>
            </tr>
            @foreach (var list in Model.custNoApproveList)
            {
                <tr>
                    <td>
                        <div align="center">
                            @list.cm_request_type@list.cm_request_id
                        </div>
                    </td>
                    @*<td align="center">@list.cm_request_type</td>*@
                    <td>
                        <div align="center">
                            @list.Cm_Cust_Id
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.Cm_Cust_Name
                        </div>
                    </td>
                    @*<td>
                            <div align="center">
                                @list.Cm_Cust_Remarks
                            </div>
                        </td>*@
                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                            {
                                <a href="#" data-toggle="modal" onclick="RejectApprovec('@list.cm_request_type@list.cm_request_id','@list.cm_request_id','@list.cm_request_type')" data-target="#appc" class="btn btn-warning">Approve</a>
                                @*<a href="@Url.Action("UpdateApprove", "MastersDetails", new { ID = @list.cm_request_id, type = @list.cm_request_type })" class="CountClick1 btn btn-warning" data-id="@list.cm_request_id">Approve</a>*@
                            }
                            else
                            {
                                <a class="btn btn-warning">Approve</a>
                            }
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

            }
            @*<tr>
                    <td height="46">
                        <div align="center">45678</div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                    <td><div align="center">XY</div></td>
                    <td><div align="center">XYZ</div></td>
                    <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                </tr>
                <tr>
                    <td height="46">
                        <div align="center">56478</div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                    <td><div align="center">MN</div></td>
                    <td><div align="center">MNO</div></td>
                    <td><div align="center"><a href="#" class="btn btn-default">Send for Approval</a></div></td>
                </tr>*@
        </table>
    </div>
</div>



