﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">
    <div class="col-md-6"><h4>Customer Brand Master</h4></div>

    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="#custbrand" data-toggle="tab" aria-expanded="false">Customer And Brand</a></li>
                <li class="">@Html.ActionLink("Customer", "CustomerMaster", "MastersDetails")</a></li>
                <li class="active"><a href="#brand" data-toggle="tab" aria-expanded="true">Brand</a></li>


            </ul>
            <div class="tab-content">
                <!-- /.tab-pane -->
                <div class="tab-pane active" id="brand">

                    <div class='col-md-12'>
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#newB">
                                            <i class="fa fa-plus"></i>
                                            <span>New Record Request</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="newB" class="panel-collapse collapse active in ">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table width="100%" border="1">
                                                <tr>
                                                    @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>*@
                                                    <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Code</div></td>
                                                    <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Name</div></td>
                                                    <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                                    <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit </div></td>
                                                </tr>
                                                <tr>
                                                    @foreach (var list in Model.brandListNoActiveList)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <div align="center">
                                                                @list.bm_brand_id
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div align="center">
                                                                @list.bm_brand_name
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div align="center">
                                                                @list.bm_brand_remarks
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div align="center">
                                                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_User")
                                                                {
                                                                    <a href="javascript:void(0);" class="anchorDetail"
                                                                       data-id="@list.bm_request_id,@list.bm_request_type">
                                                                        <i class="fa fa-pencil">
                                                                        </i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a>
                                                                        <i class="fa fa-pencil">
                                                                        </i>
                                                                    </a>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    }
                                                    @*<tr>
                                                            <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                                            <td><div align="center">AB</div></td>
                                                            <td><div align="center">ABC tools</div></td>
                                                            <td>
                                                                <div align="center"></div>
                                                                <div align="center"></div>
                                                                <div align="center"></div>
                                                            </td>
                                                            <td>
                                                                <div align="center"><a href="#" data-toggle="modal" data-target="#editbrand"><i class="fa fa-pencil"></i></a></div>
                                                                <div align="center"></div>
                                                                <div align="center"></div>
                                                            </td>
                                                        </tr>*@
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#approveB">
                                                <i class="fa fa-plus"></i>
                                                <span>Records for Approval</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="approveB" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table width="100%" border="1">
                                                    <tr>
                                                        <td height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                                                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Brand Code</div></td>
                                                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Brand Name</div></td>
                                                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                                                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Action</div></td>
                                                    </tr>
                                                    <tr>
                                                        @foreach (var list in Model.brandNoApproveList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <div align="center">
                                                                    @list.bm_request_id
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div align="center">
                                                                    @list.bm_brand_id
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div align="center">
                                                                    @list.bm_brand_name
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div align="center">
                                                                    @list.bm_brand_remarks
                                                                </div>
                                                            </td>
                                                            <td><div align="center">
@if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
{
                                                                <a href="@Url.Action("UpdateBrandApprove", "MastersDetails", new { ID = @list.bm_request_id, type = @list.bm_request_type })" class="CountClick btn btn-warning" data-id="@list._id">Approve
                                                                </a>
}
else
{
    <a href="@Url.Action("UpdateBrandApprove", "MastersDetails", new { ID = @list.bm_request_id, type = @list.bm_request_type })" class="CountClick btn btn-warning" data-id="@list._id">
        Approve
    </a>
}
                                                               </div></td>
                                                        </tr>
                                                        }
                                                        @*<tr>
                                                                <td height="46">
                                                                    <div align="center">45678</div>
                                                                    <div align="center"></div>
                                                                    <div align="center"></div>
                                                                </td>
                                                                <td><div align="center">XY</div></td>
                                                                <td><div align="center">XYZ</div></td>
                                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="46">
                                                                    <div align="center">56478</div>
                                                                    <div align="center"></div>      <div align="center"></div>
                                                                </td>
                                                                <td><div align="center">MN</div></td>
                                                                <td><div align="center">MNO</div></td>
                                                                <td><div align="center"><a href="#" class="btn btn-default">Send for Approval</a></div></td>
                                                            </tr>*@
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#existingB">
                                                    <i class="fa fa-plus"></i>  <span>Approved Records</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="existingB" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#newbrand">Add New </a></div>
                                                <div style="clear:both"></div>
                                                <div class="col-md-12">
                                                    <form class="form-inline margin2">
                                                        <div class="form-group">
                                                            <input name="text" type="text" class="form-control" placeholder="Brand Name">

                                                        </div>

                                                        <a href="#" class=" btn btn-default ">Search</a>

                                                        <a href="#" class=" btn btn-default ">Show All</a>


                                                    </form>

                                                </div>
                                                <div style="clear:both"></div>
                                                <br>

                                                <div class="table-responsive">

                                                    <table width="100%" border="1">
                                                        <tr>
                                                            <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Code</div></td>
                                                            <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Brand Name</div></td>
                                                            @*<td bgcolor="#e8e8e8" class=" text-black">
                                                                    <div align="center">Remark</div>
                                                                    <div align="center"></div>
                                                                </td>
                                                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit</div></td>*@

                                                        </tr>
                                                        @foreach (var list in Model.brandList)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div align="center">
                                                                        @list.bm_brand_id
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div align="center">
                                                                        @list.bm_brand_name
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div align="center">
                                                                        @list.bm_brand_remarks
                                                                    </div>
                                                                </td>
                                                                @*<td><div align="center"><i class="fa fa-pencil"></i></div></td>*@
                                                            </tr>
                                                        }

                                                    </table>



                                                    <p class="style1">&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->

                        <div style="clear:both"></div>
                    </div><!-- /.tab-content -->
                </div>























            </div>



            <br>
            <br>
            <br>

            @*<div class="modal fade" id="editcustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new"> Customer</h5>
                                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="Customer Code" value="AB">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="Customer Name" value="ABC Tools">
                                    </div>
                                      <div class="form-group col-md-6">
                                       <input type="text" class="form-control" placeholder="Brand Name">
                                     </div>



                                    <div class="form-group col-md-6">
                                        <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                                    </div>

                                </form>
                            </div>
                            <div style="clear:both"></div>
                            <div class="modal-footer">
                                <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                                <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                                <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                                <br>
                                <br>
                                <br>
                                <div class="collapse" id="reject">
                                    <div class="card card-body">
                                        <textarea name="" cols="" rows="3" required></textarea>
                                        <div style="clear:both"></div>
                                        <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>*@



            <div class="modal fade" id="newcustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new">Add Customer</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Customer Code">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Customer Name">
                                </div>
                                <!--  <div class="form-group col-md-6">
                                   <input type="text" class="form-control" placeholder="Brand Name">
                                 </div>

                                 -->

                                <div class="form-group col-md-6">
                                    <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                                </div>

                            </form>
                        </div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onClick="myFunction()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="editbrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new">Add Brand</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Code" value="ST">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Name" value="Sunflower">
                                </div>

                                <div class="form-group col-md-6">
                                    <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                                </div>
                                <!--  <div class="form-group col-md-6">
                                   <input type="text" class="form-control" placeholder="Brand Name">
                                 </div>

                                 -->



                            </form>
                        </div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <a href="#reject2" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                            <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                            <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                            <br>
                            <br>
                            <br>
                            <div class="collapse" id="reject2">
                                <div class="card card-body">
                                    <textarea name="" cols="" rows="3" required></textarea>
                                    <div style="clear:both"></div>
                                    <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="newbrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new">Add Brand</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Code">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Brand Name">
                                </div>

                                <div class="form-group col-md-6">
                                    <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                                </div>
                                <!--  <div class="form-group col-md-6">
                                   <input type="text" class="form-control" placeholder="Brand Name">
                                 </div>

                                 -->



                            </form>
                        </div>
                        <div style="clear:both"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onClick="myFunction()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>

        </div>
        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
        @*<script>
                var TeamDetailPostBackURL = '@Url.Action("Brand", "MastersDetails")';
                $(function () {
                    $(".anchorDetail").click(function () {
                        debugger;
                        var $buttonClicked = $(this);
                        var id1 = $buttonClicked.attr('data-id');
                        var emailrogh = id1.split(",");
                        var id = emailrogh[0];// show priya@gmail.com
                        var type = emailrogh[1]
                        var options = { "backdrop": "static", keyboard: true };
                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostBackURL,
                            contentType: "application/json; charset=utf-8",
                            data: { "Id": id, "type":type},
                            datatype: "json",
                            success: function (data) {
                                debugger;
                                $('#myModalContent').html(data);
                                $('#editcustomer').modal(options);
                                $('#myModal').modal('show');

                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    });
                    //$("#closebtn").on('click',function(){
                    //    $('#myModal').modal('hide');

                    $("#closbtn").click(function () {
                        $('#myModal').modal('hide');
                    });

                    $('.CountClick').click(function () {
                        debugger;
                        var productID = getParameterByName('ID', $(this).attr("href"));
                        var countID = "Count" + productID;
                        var totalID = "Total" + productID;

                        var countElement = document.getElementById(countID);
                        var totalElement = document.getElementById(totalID);
                        var rowElement = document.getElementById(productID);

                        $.ajax({
                            cache: false,
                            url: $(this).attr("href"), // used data from url
                            datatype: "text",
                            type: "POST",
                            success: function (response) {

                                var count = parseInt(response.Count);

                                if (count > 0) {
                                    countElement.innerText = response.Count;
                                    totalElement.innerText = response.Total;
                                }
                                else {
                                    rowElement.innerHTML = "";
                                }
                            },
                            error: function () {
                                $("#divResult").html("ERROR");
                            }
                        });

                        return false;
                    });
                });



            </script>*@