﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    //ViewBag.Title = "_Customer";
    Layout = null;
}

<section>
    <div class="panel-group" id="accordion">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                        <i class="fa fa-plus"></i>
                        <span>New Record Request</span>
                    </a>
                </h4>
            </div>
            <div id="newR" class="panel-collapse collapse  ">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCC">
                            <tr>
                                <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request Type</div></td>*@
                                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                                <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit </div></td>
                            </tr>
                            @foreach (var list in Model.custNoActiveList)
                            {
                                <tr>
                                    <td align="center">@list.cm_request_type@list.cm_request_id</td>
                                    @*<td align="center">@list.cm_request_type</td>*@
                                    <td>
                                        <div align="center">
                                            @list.Cm_Cust_Id
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center">
                                            @list.Cm_Cust_Name
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center">
                                            @list.Cm_Cust_Remarks
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center">
                                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_User")
                                            {
                                                <a href="javascript:void(0);" class="anchorDetail1" data-id="@list.cm_request_id,@list.cm_request_type"><i class="fa fa-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <a><i class="fa fa-pencil"></i></a>
                                            }
                                        </div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>

                            }
                            @*<tr>
                                    <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                    <td><div align="center">AB</div></td>
                                    <td><div align="center">ABC tools</div></td>
                                    <td>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                    <td>
                                        <div align="center"><a href="#" data-toggle="modal" data-target="#editcustomer"><i class="fa fa-pencil"></i></a></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>*@
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                        <i class="fa fa-plus"></i>
                        <span>Records for Approval</span>
                    </a>
                </h4>
            </div>
            <form action="@Url.Action("SaveDetails","MastersDetails")" method="post">
                <div id="approveR" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table width="100%" border="1" bordercolor="#CCC">
                                <tr>
                                    <td height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                    @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request Type</div></td>*@
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                                    <td bgcolor="#e8e8e8" height="50" class=" text-black"><div align="center">Action</div></td>
                                </tr>
                                @foreach (var list in Model.custNoApproveList)
                                {
                                    <tr>
                                        <td>
                                            <div align="center">
                                                @list.cm_request_type@list.cm_request_id
                                            </div>
                                        </td>
                                        @*<td align="center">@list.cm_request_type</td>*@
                                        <td>
                                            <div align="center">
                                                @list.Cm_Cust_Id
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                @list.Cm_Cust_Name
                                            </div>
                                        </td>
                                        @*<td>
                                                <div align="center">
                                                    @list.Cm_Cust_Remarks
                                                </div>
                                            </td>*@
                                        <td>
                                            <div align="center">
@if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
{
    <a href="#" data-toggle="modal" onclick="RejectApprovec('@list.cm_request_type@list.cm_request_id','@list.cm_request_id','@list.cm_request_type')" data-target="#appc" class="btn btn-warning">Approve</a>
       @*<a href="@Url.Action("UpdateApprove", "MastersDetails", new { ID = @list.cm_request_id, type = @list.cm_request_type })" class="CountClick1 btn btn-warning" data-id="@list.cm_request_id">Approve</a>*@
}
else
{
    <a class="btn btn-warning">Approve</a>
}
                                            </div>
                                            <div align="center"></div>
                                            <div align="center"></div>
                                        </td>
                                    </tr>

                                }
                                @*<tr>
                                        <td height="46">
                                            <div align="center">45678</div>
                                            <div align="center"></div>
                                            <div align="center"></div>
                                        </td>
                                        <td><div align="center">XY</div></td>
                                        <td><div align="center">XYZ</div></td>
                                        <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                    </tr>
                                    <tr>
                                        <td height="46">
                                            <div align="center">56478</div>
                                            <div align="center"></div>
                                            <div align="center"></div>
                                        </td>
                                        <td><div align="center">MN</div></td>
                                        <td><div align="center">MNO</div></td>
                                        <td><div align="center"><a href="#" class="btn btn-default">Send for Approval</a></div></td>
                                    </tr>*@
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                        <i class="fa fa-plus"></i>  <span>Customer Master</span>
                    </a>
                </h4>
            </div>
            <div id="existing" class="panel-collapse collapse active in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newcustomer">Add New </a>
                        @*<a href="Index">
                                <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                            </a>*@
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-md-12">
                        @Html.Action("Cstmstrddlmaster")
                        @*<form class="form-inline margin2">
                                <div class="form-group col-md-3">
                                    <select class="form-control select2" style="width: 100%;">
                                        <option disabled selected="selected"> Select Customer</option>
                                        <option>ABUZAHID MAIWAND LTD. </option>
                                        <option>C. I. INVERMEC, COLOMBIA</option>
                                        <option>GRAINGER, USA</option>
                                        <option>SHUBHAM INTER, BANGLADESH</option>
                                        <option>PARCELMOBI, MEXICO</option>

                                    </select>

                                </div>


                            </form>*@

                    </div>
                    <div style="clear:both"></div>
                    <br>
                    @Html.Action("CustomerMasterList")
                    @*<div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCC">
                            <tr>
                                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                            <tr>
                                @foreach (var list in Model.custList)
                                {
                                <tr>
                                    <td>
                                        <div align="center">
                                            @list.Cm_Cust_Id
                                        </div>
                                    </td>

                                    <td>
                                        <div align="center">

                                            <a href="#" class="editcustomer" data-id="@list.Cm_Cust_Name">
                                                @list.Cm_Cust_Name
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                                }
                            </table>
                            <p class="style1">&nbsp;</p>
                        </div>*@
                </div>
            </div>
        </div>



    </div>

</section>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


@*<div class="modal fade" id="editcustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="content"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".editcustomer").on('click', function () {
                // alert("kk");
                var reqno;
                reqno = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("editcustomer", "MastersDetails")',
                    data: { reqno: reqno },
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        var Id = data;
                        //alert(Id)
                        $("#content").html(data);
                        $('#editcustomer').modal('show');
                    }
                })
            });



            @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });
        });
    </script>*@



<div class="modal fade" id="newcustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Add New Customer</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Customer Code">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Customer Name">
                    </div>
                    <!--  <div class="form-group col-md-6">
                       <input type="text" class="form-control" placeholder="Brand Name">
                     </div>

                     -->

                    <div class="form-group col-md-6">
                        <textarea name="" cols="" rows="2" Placeholder="Remark"></textarea>
                    </div>

                </form>
            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onClick="myFunction()">Ok</button>
            </div>
        </div>
    </div>
</div>



