﻿@*@model JKFiles.WebApp.Models.CustomerMasterModel*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.CustomerDetailsEntity>
@{
//ViewBag.Title = "_CustomerBrand";
// Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="col-md-12">

    <a href="CustomerBrand">
        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
    </a>
</div>
<div id="divPartialView1">
   
    <div class="tab-pane active" id="custbrand">

        @Html.Action("Customerbrandddl")


        <div style="clear:both"></div>
        <div class="table-responsive">

            <table width="100%" border="1" bordercolor="#CCC">
                <tr>
                    <td width="15%" bgcolor="#e8e8e8" class="text-black">
                        <div align="center">
                            Ship to
                            Country
                        </div>
                        <div align="center"></div>
                    </td>
                    <td width="16%" height="31" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer Code</div></td>
                    <td width="29%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer Name</div></td>
                    <td width="11%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand Code</div></td>
                    <td width="29%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand Name</div></td>

                </tr>

                @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><div align="center">@Model[i].pr_ship2country_name</div></td>
                    <td><div align="center">@Model[i].pr_cust_id</div></td>
                    <td><div align="center">@Model[i].pr_cust_name</div></td>
                    <td height="20" width="78"><div align="center">@Model[i].pr_brand_id</div></td>
                    <td width="114"><div align="center">@Model[i].pr_brand_desc</div></td>
                </tr>
                }



                @*@foreach (var list in Model.custList)
                    {
                        <tr>
                            <td><div align="center">@list.pr_ship2country_name</div></td>
                            <td><div align="center">@list.pr_cust_id</div></td>
                            <td><div align="center">@list.pr_cust_name</div></td>
                            <td height="20" width="78"><div align="center">@list.pr_brand_id</div></td>
                            <td width="114"><div align="center">@list.pr_brand_desc</div></td>

                        </tr>
                    }*@
            </table>
            <div id="container">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Customer_Brand_Master", new { page, cstname = ViewBag.cstname, brand = ViewBag.brand, countryname = ViewBag.countryname }))
                </div>
            </div>


            <p class="style1">&nbsp;</p>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


<script>
    $(document).ready(function () {
        
            var codedata = '@(TempData["msg"])';
            if (codedata != '') {
                alert('@(TempData["msg"])');
            }
     
        $(".ChangeApprove").change(function () {
            $("#loading").css("display", "block");
            var cstname = $("#Cm_Cust_Name").val();
            var brand = $("#brandName").val();
            var countryname = $("#countryName").val();
            // var filetype = $("#filetype").val();
            //var cutstand = $("#cut_standard").val();
            $.ajax({
                url: '@Url.Action("CustomerBrand", "MastersDetails")',
                data: { cstname: cstname, brand: brand, countryname: countryname },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>

