﻿@model JKFiles.WebApp.Entity.CustomerMasterModelForActive


<div class="modal-header">
    <h5 class="modal-title" id="filenew">Add New Customer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("SaveDetails","MastersDetails")" method="post">
    <div class="modal-body">
        
            @Html.HiddenFor(Model=>Model.cm_request_id)
            @Html.HiddenFor(Model => Model.cm_request_type)
            @Html.HiddenFor(model => model._id)
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td>@Html.TextBoxFor(model => model.Cm_Cust_Name, new { @class = "form-control ", @placeholder = "Customer Name", @required = "Required" })</td>
                   @if(TempData["msg"]!=null)
                   {
                       <label>@TempData["msg"]</label>
                   }
                   else
                   {

                   }
                </tr>
                <tr>
                    <td>Customer ID</td>
                    <td>@Html.TextBoxFor(model => model.Cm_Cust_Id, new { @class = "form-control ", @placeholder = "Customer Id", @required = "Required" })</td>

                </tr>
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.Cm_Cust_Remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>
        @*<div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.Cm_Cust_Id, new { @class = "form-control ", @placeholder = "Customer Id" })
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.Cm_Cust_Name, new { @class = "form-control ", @placeholder = "Customer Name" })
        </div>
        <div class="form-group col-md-12">
            @Html.TextAreaFor(model => model.Cm_Cust_Remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)" })
        </div>*@
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">Send for Approval</button>
        </div>
    </div>
    @*<div class="modal-footer">
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
            <button href="submit" type="submit" class="btn btn-primary" data-dismiss="modal">Save for Approval</button>
            <button type="submit">Save</button>
            <br>
            <br>
            <br>
            <div class="collapse" id="reject">
                <div class="card card-body">
                    <textarea name="" cols="" rows="3" required></textarea>
                    <div style="clear:both"></div>
                    <a href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal">Submit</a>
                </div>
            </div>
        </div>*@
</form>
