﻿@model JKFiles.WebApp.tb_filetype_master


<div class="modal-header">
    <h5 class="modal-title" id="new"> Add New File Type</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditFileTypeDetails","ProductionDetails")" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        @Html.HiddenFor(model => model.ft_request_type)
        @Html.HiddenFor(model => model.ft_request_id)
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100">Parameter Name</th>
                            <th width="144">Parameter Value</th>
                        </tr>
                        <tr>
                            <td> PROFILE IMAGE</td>
                            <td><input type="file" name="FILE1" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>FILE TYPE CODE</td>
                            <td>@Html.TextBoxFor(model => model.ft_ftype_code, new { @class = "form-control ", @placeholder = "FILE TYPE CODE" })</td>
                        </tr>
                        <tr>
                            <td>FILE TYPE NAME</td>
                            <td>@Html.TextBoxFor(model => model.ft_ftype_desc, new { @class = "form-control ", @placeholder = "FILE TYPE NAME" })</td>
                        </tr>
                        <tr>
                            <td colspan="3">@Html.TextAreaFor(model => model.ft_ftype_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "REMARKS(Optional)" })</td>
                        </tr>
                    </tbody>
                </table>
                <div><span id="resultMessage"></span></div>
              
            </div>
        </div>
      
        <div class="modal-footer">
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
   
</form>


