﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    ViewBag.Title = "_NewCSTRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request Type</div></td>*@
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Code</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Customer Name</div></td>
                <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit </div></td>
            </tr>
            @foreach (var list in Model.custNoActiveList)
            {
                <tr>
                    <td align="center">@list.cm_request_id</td>
                    @*<td align="center">@list.cm_request_type</td>*@
                    <td>
                        <div align="center">
                            @list.Cm_Cust_Id
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.Cm_Cust_Name
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.Cm_Cust_Remarks
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="javascript:void(0);" class="anchorDetail1" data-id="@list.cm_request_id"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

            }
            @*<tr>
                    <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                    <td><div align="center">AB</div></td>
                    <td><div align="center">ABC tools</div></td>
                    <td>
                        <div align="center"></div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                    <td>
                        <div align="center"><a href="#" data-toggle="modal" data-target="#editcustomer"><i class="fa fa-pencil"></i></a></div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>*@
        </table>
    </div>

</div>



