﻿@model JKFIlesEntity.BrandDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new"> Add New Brand</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditBrandDetails","CustomerDetails")" method="post">
    <div class="modal-body">

        @Html.HiddenFor(model => model.bm_request_id)
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>Brand Id</td>
                    <td>@Html.TextBoxFor(model => model.bm_brand_id, new { @class = "form-control ", @placeholder = "Brand Id" })</td>


                </tr>
                <tr>
                    <td>Brand Name</td>
                    <td>@Html.TextBoxFor(model => model.bm_brand_name, new { @class = "form-control ", @placeholder = "Brand Name", @required = "Required" })</td>

                </tr>
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.bm_brand_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>
      
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </div>
    @*<div class="modal-footer">
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
            <button href="submit" type="submit" class="btn btn-primary" data-dismiss="modal">Save for Approval</button>
            <button type="submit">Save</button>
            <br>
            <br>
            <br>
            <div class="collapse" id="reject">
                <div class="card card-body">
                    <textarea name="" cols="" rows="3" required></textarea>
                    <div style="clear:both"></div>
                    <a href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal">Submit</a>
                </div>
            </div>
        </div>*@
</form>


