﻿@model JKFiles.WebApp.Entity.CustomerMasterModelForActive


<div class="modal-header">
    <h5 class="modal-title" id="filenew">Add New Customer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditCustDetails","CustomerDetails")" method="post">
    <div class="modal-body">
       
            @Html.HiddenFor(model => model.cm_request_id)
            @Html.HiddenFor(model=>model.cm_request_type)
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td>@Html.TextBoxFor(model => model.Cm_Cust_Name, new { @class = "form-control ", @placeholder = "Customer Name",@required="Required" })</td>


                </tr>
                <tr>
                    <td>Customer ID</td>
                    <td>@Html.TextBoxFor(model => model.Cm_Cust_Id, new { @class = "form-control ", @placeholder = "Customer Id" })</td>

                </tr>
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.Cm_Cust_Remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </div>
   
</form>

