﻿
@{
    ViewBag.Title = "Customer_Brand_Master";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">
    <div class="col-md-6"><h4>Customer Brand Country Details</h4></div>

    <div class="col-md-12">


        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#customer" data-toggle="tab" aria-expanded="true">Customer</a></li>
                <li class=""><a href="#brand" data-toggle="tab" aria-expanded="false">Brand</a></li>
                <li class=""><a href="#custbrand" data-toggle="tab" aria-expanded="true">Customer And Brand</a></li>
            </ul>
            <div class="tab-content">

                <!-- /.tab-pane -->
                <div class="tab-pane active" id="customer">
                    <div style="clear:both"></div><br>
                    @Html.Action("Customer")
                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane  " id="brand">
                    @Html.Action("BrandMasterView")

                </div>

                <div class="tab-pane " id="custbrand">
                    @Html.Action("CustomerBrand")
                </div>


                <div style="clear:both"></div>



            </div><!-- /.tab-content -->
        </div>


    </div>



    <br>
    <br>
    <br>


    <div style="clear:both"></div>

</div>
<!-- BY SWAPNIL-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<div class="modal fade in" id="appc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelc"></h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="UpdatecApprove()">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectcRequest()">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>
<div id='myModal1' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>

</div>
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprovec(i, j, k) {
        $("#exampleModalLabelc").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabelc").append("Request No :", requestid);
    }
    function RejectcRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "MastersDetails")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdatecApprove() {
    $.ajax({
        url: '@Url.Action("UpdateApprove", "MastersDetails")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>
<script>
                var TeamDetailPostBackURL1 = '@Url.Action("Brand", "MastersDetails")';
                $(function () {
                    $(".anchorDetail").click(function () {
                        debugger;
                        var $buttonClicked = $(this);
                        var id1 = $buttonClicked.attr('data-id');
                        var emailrogh = id1.split(",");
                        var id = emailrogh[0];// show priya@gmail.com
                        var type = emailrogh[1]
                        var options = { "backdrop": "static", keyboard: true };
                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostBackURL1,
                            contentType: "application/json; charset=utf-8",
                            data: { "Id": id ,"type":type},
                            datatype: "json",
                            success: function (data) {
                                debugger;
                                $('#myModalContent').html(data);
                                $('#editcustomer').modal(options);
                                $('#myModal').modal('show');

                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    });
                    //$("#closebtn").on('click',function(){
                    //    $('#myModal').modal('hide');

                    $("#closbtn").click(function () {
                        $('#myModal').modal('hide');
                    });

                    $('.CountClick').click(function () {
                        debugger;
                        var productID = getParameterByName('ID', $(this).attr("href"));
                        var countID = "Count" + productID;
                        var totalID = "Total" + productID;

                        var countElement = document.getElementById(countID);
                        var totalElement = document.getElementById(totalID);
                        var rowElement = document.getElementById(productID);

                        $.ajax({
                            cache: false,
                            url: $(this).attr("href"), // used data from url
                            datatype: "text",
                            type: "POST",
                            success: function (response) {

                                var count = parseInt(response.Count);

                                if (count > 0) {
                                    countElement.innerText = response.Count;
                                    totalElement.innerText = response.Total;
                                }
                                else {
                                    rowElement.innerHTML = "";
                                }
                            },
                            error: function () {
                                $("#divResult").html("ERROR");
                            }
                        });

                        return false;
                    });
                });



</script>
<script>
                var TeamDetailPostBackURL = '@Url.Action("Details", "MastersDetails")';
    $(function () {
        $(".anchorDetail1").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "type": type },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#editcustomer').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            debugger;
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });



</script>
<script>
    //$('#myTab a').click(function (e) {
    //    e.preventDefault();
    //    $(this).tab('show');
    //});

    //// store the currently selected tab in the hash value
    //$("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    //    var id = $(e.target).attr("href").substr(1);
    //    window.location.hash = id;
    //});

    //// on load of the page: switch to the currently selected tab
    //var hash = window.location.hash;
    //$('#myTab a[href="' + hash + '"]').tab('show');

    //$(function () {
    //    $('a[data-toggle="tab"]').on('shown', function (e) {
    //        //save the latest tab using a cookie:
    //        $.cookie('last_tab', $(e.target).attr('href'));
    //    });

    //    //activate latest tab, if it exists:
    //    var lastTab = $.cookie('last_tab');
    //    if (lastTab) {
    //        $('ul.nav-tabs').children().removeClass('active');
    //        $('a[href=' + lastTab + ']').parents('li:first').addClass('active');
    //        $('div.tab-content').children().removeClass('active');
    //        $(lastTab).addClass('active');
    //    }
    //});

</script>
