﻿@*@using System.Data
    @model DataTable
    @{
        ViewBag.Title = "";
        Layout = "~/Views/Shared/MasterPage.cshtml";
    }*@
@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Cut Specification Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                @*<table width="100%" border="1">
                                        <tr>
                                            <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                                            <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                            <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">5.5</div></td>
                                            <td><div align="center">Smooth</div></td>
                                            <td>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                            <td>
                                                <div align="center"><a href="#" data-toggle="modal" data-target="#newtpi"><i class="fa fa-pencil"></i></a></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                        </tr>
                                    </table>*@
                                <table width="100%" border="1">
                                    <tr>
                                        <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                                        <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Standard Name</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">UPCUT</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">EDGE</div></td>
                                        <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">OVER</div></td>
                                        <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>
                                    </tr>

                                    @foreach (var list in Model.cutSpecsNoActiveList)
                                    {
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    @list.prc_request_id
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.fcl_ftype_code
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.filesize
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.cuttype
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.cutStandardName
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.upcutrange
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.edcutrange
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @list.ovcutrange
                                                </div>
                                            </td>
                                            <td><div align="center"><a href="javascript:void(0);" class="anchorDetail" data-id="@list.prc_request_id,@list.prc_request_type">Edit</a></div></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tr>
                                            <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                                            <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Standard Name</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">UPCUT</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">EDGE</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">OVER</div></td>
                                            <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>
                                        </tr>

                                        @foreach (var list in Model.cutSpecsNoApproveList)
                                        {
                                            <tr>
                                                <td>
                                                    <div align="center">
                                                        @list.prc_request_id
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.fcl_ftype_code
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.filesize
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.cuttype
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.cutStandardName
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.upcutrange
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.edcutrange
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.ovcutrange
                                                    </div>
                                                </td>
                                                <td><div align="center"><a href="@Url.Action("UpdatecustspecApprove", "MastersDetails", new { ID = @list.prc_request_id,type=@list.prc_request_type })" class="CountClick btn btn-primary" data-id="@list.prc_request_id">Send For Approve</a>  </div></td>
                                            </tr>
                                        }
                                    </table>
                                    @*<table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="28" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                                                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                                                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                                                <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View</div></td>
                                                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
                                            </tr>
                                            <tr>
                                                <td height="33"><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">Smooth</div></td>
                                                <td>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#view"><i class="fa fa-search-plus"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>

                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </table>*@


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR1">
                                    <i class="fa fa-plus"></i>
                                    <span> Approved Records</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tr>
                                            @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>*@
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                                            <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Standard Name</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">UPCUT</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">OVER</div></td>
                                            <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">EDGE</div></td>
                                            
                                            @*<td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>*@
                                        </tr>

                                        @foreach (var list in Model.cutSpecsEntityList)
                                        {
                                            <tr>
                                                <td>
                                                    <div align="center">
                                                        @list.fcl_ftype_code
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.filesize
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.cuttype
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.cutStandardName
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.upcutrange
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.ovcutrange
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @list.edcutrange
                                                    </div>
                                                </td>
                                               
                                                @*<td><div align="center"><i class="fa fa-pencil"></i></div></td>*@
                                            </tr>
                                        }
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>








        </div>

    </div>










    <div class="modal fade bd-example-modal-md" id="newtpi" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newtpi">New </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="150">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="60">Upload</th>
                                </tr>

                                <tr>
                                    <td>File Type Code</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="FLF" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>File Size</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="5.5" /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Cut Type</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="Smooth" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Cut Standard Name</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="Asia" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Upcut Range</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="45" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Upcut Value</td>
                                    <td><input type="text" name="textfield2" id="textfield3" value="40" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Range </td>
                                    <td><input type="text" name="textfield2" id="textfield4" value="45" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Value</td>
                                    <td><input type="text" name="textfield" id="textfield" value="45" /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Edgecut Range </td>
                                    <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Edgecut Value </td>
                                    <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>










    <div class="modal fade bd-example-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newtpi">New </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="150">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="60">Upload</th>
                                </tr>

                                <tr>
                                    <td>File Type Code</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="FLF" readonly /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>File Size</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="5.5" readonly /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Cut Type</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="Smooth" readonly /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Cut Standard Name</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="Asia" readonly /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Upcut Range</td>
                                    <td><input type="text" name="textfield2" id="textfield2" value="45" readonly /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Upcut Value</td>
                                    <td><input type="text" name="textfield2" id="textfield3" value="40" readonly /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Range </td>
                                    <td><input type="text" name="textfield2" id="textfield4" value="45" readonly /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Value</td>
                                    <td><input type="text" name="textfield" id="textfield" value="45" readonly /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Edgecut Range </td>
                                    <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Edgecut Value </td>
                                    <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark" disabled></textarea></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>











    <div class="modal fade bd-example-modal-md" id="addnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newtpi">New </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="150">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="60">Upload</th>
                                </tr>

                                <tr>
                                    <td>File Type </td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Type</option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>File Sub Type </td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Sub Type</option>
                                            <option>Brass</option>
                                            <option>Aluminium</option>
                                            <option>Handle</option>
                                            <option>Key</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>File Size</td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Size</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Cut Type</td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                            <option selected="selected">Cut Type</option>
                                            <option>0 Rough</option>
                                            <option>1 Basterd</option>
                                            <option>2 Second</option>
                                            <option>3 Smooth</option>
                                            <option>4 Dead Smooth</option>
                                            <option>X Special Cut</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Select Cut Standard </td>
                                    <td>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option disabled selected>Cut Standard</option>
                                            <option>New </option>
                                            <option>General </option>
                                            <option>NATO</option>
                                            <option>USA</option>

                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Cut Standard Name</td>
                                    <td><input type="text" name="textfield2" id="textfield2" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Upcut Range</td>
                                    <td><input type="text" name="textfield2" id="textfield2" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Upcut Value</td>
                                    <td><input type="text" name="textfield2" id="textfield3" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Range </td>
                                    <td><input type="text" name="textfield2" id="textfield4" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Overcut Value</td>
                                    <td><input type="text" name="textfield" id="textfield" /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>Edgecut Range </td>
                                    <td><input type="text" name="textfield" id="textfield" /></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Edgecut Value </td>
                                    <td><input type="text" name="textfield" id="textfield" /></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>




    <div style="clear:both"></div>
    <!-- BY SWAPNIL-->
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '@Url.Action("Cutspecs", "MastersDetails")';
        $(function () {
            $(".anchorDetail").click(function () {
                
                var $buttonClicked = $(this);
                var id1 = $buttonClicked.attr('data-id');
                var emailrogh = id1.split(",");
                var id = emailrogh[0];// show priya@gmail.com
                var type = emailrogh[1]
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id, "type": type },
                    datatype: "json",
                    success: function (data) {
                        
                        $('#myModalContent').html(data);
                        $('#editcustomer').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $('.CountClick').click(function () {
                
                var productID = getParameterByName('ID', $(this).attr("href"));
                var countID = "Count" + productID;
                var totalID = "Total" + productID;

                var countElement = document.getElementById(countID);
                var totalElement = document.getElementById(totalID);
                var rowElement = document.getElementById(productID);

                $.ajax({
                    cache: false,
                    url: $(this).attr("href"), // used data from url
                    datatype: "text",
                    type: "POST",
                    success: function (response) {

                        var count = parseInt(response.Count);

                        if (count > 0) {
                            countElement.innerText = response.Count;
                            totalElement.innerText = response.Total;
                        }
                        else {
                            rowElement.innerHTML = "";
                        }
                    },
                    error: function () {
                        $("#divResult").html("ERROR");
                    }
                });

                return false;
            });
        });



    </script>

    <!-- BY SWAPNIL-->
</div>