﻿@using System.Data
@model DataTable
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}




<div class="content">



    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">File Sub(Profile)Type</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <table width="100%" border="1">
                                    <tr>
                                        <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                        <td width="15%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                        <td width="8%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                        <td width="15%" bgcolor="#333333" class="style1"><div align="center">File Size(In inch)</td>
                                        <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                        <td width="10%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                    </tr>
                                    <tr>
                                        <td><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                        <td><div align="center">Flat</div></td>
                                        <td><div align="center">Brass</div></td>
                                        <td><div align="center">5.5</div></td>
                                        <td><div align="center"></div>
                                        <td>
                                            <div align="center"><a href="#" data-toggle="modal" data-target="#view"><i class="fa fa-pencil"></i></a></div>
                                            <div align="center"></div>
                                            <div align="center"></div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tr>
                                            <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                            <td width="15%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                            <td width="8%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                            <td width="15%" bgcolor="#333333" class="style1">
                                                <div align="center">
                                                    File Size(In inch)
                                            </td>
                                            <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                            <td width="10%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                            <td width="10%" bgcolor="#333333" class="style1"><div align="center">Edit </div></td>
                                        </tr>
                                        <tr>
                                            <td height="38"><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                            <td><div align="center">Flat</div></td>
                                            <td><div align="center">Brass</div></td>
                                            <td><div align="center">5.5</div></td>
                                            <td><div align="center"></div></td>
                                            <td>
                                                <div align="center"><a href="#" data-toggle="modal" data-target="#view"><i class="fa fa-search-plus"></i></a></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                            <td>
                                                <div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Approved Records</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">   <a href="#" class="btn btn-primary pull-right mr-5 " data-toggle="modal" data-target="#addsubfamily">Add Sub Type</a></div>
                                <div class="col-md-12">
                                    <form class="form-inline ">
                                        <div class="form-group">

                                            <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Type</option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                            </select>
                                        </div>

                                        <div class="form-group">

                                            <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Sub Type</option>
                                            <option>Regular</option>
                                            <option>Aluminium</option>
                                            <option>Brass</option>
                                            <option>W/R</option>
                                            <option>Handle</option>
                                            </select>
                                        </div>

                                        <div class="form-group">

                                            <select class="form-control select2" style="width:100%">
                                            <option selected="selected">File Size</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                            </select>
                                        </div>


                                    </form>

                                </div>
                                <div style="clear:both"></div>

                                <p class="pull-right">All values in mm</p>
                                <div style="clear:both"></div>

                                <div class="table-responsive">

                                    <table width="100%" border="1">
                                        <tr bgcolor="#333333" class="style1">
                                            @foreach (DataColumn col in Model.Columns)
                                            {
                                                <td><div align="center">@col.ColumnName</div></td>
                                            }
                                            <td><div align="center">Processes</div></td>
                                            <td><div align="center">Edit</div></td>

                                        </tr>
                                        @foreach (DataRow row in Model.Rows)
                                        {
                                            <tr>
                                                @foreach (DataColumn col in Model.Columns)
                                                {
                                                    <td><div align="center">@row[col.ColumnName]</div></td>                                                    
                                                }
                                                <td><div align="center"><a href="#" data-target="#viewprocess" data-toggle="modal"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                        }
                                    @*<tr>
                                    <td rowspan="2" bgcolor="#333333" class="style1">
                                    <div align="center">
                                    Sub<br>
                                    Type
                                    </div>
                                    </td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center"> Type Code</div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                    <td colspan="2" bgcolor="#333333" class="style1">
                                    <div align="center">Uncut</div>
                                    <div align="center"></div>
                                    <div align="center"></div>
                                    </td>
                                    <td colspan="3" bgcolor="#333333" class="style1">
                                    <div align="center">Inclination</div>
                                    <div align="center"></div>
                                    <div align="center"></div>
                                    </td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Raw Material</div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">RM Dimensions </div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Cropping Mood length  </div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Body length</div></td>
                                    <td colspan="3" bgcolor="#333333" class="style1"><div align="center">Tang dimensions</div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">         Point size at exact length </div></td>
                                    <td colspan="3" bgcolor="#333333" class="style1"><div align="center">(Grinding)                                                                  Body dimension (J.K.Spec.) </div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Taper length(±1.0mm)</div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Body length ag</div></td>
                                    <td rowspan="2" bgcolor="#333333" class="style1"><div align="center">Processes</div></td>
                                    <td width="6%" rowspan="2" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                    </tr>
                                    <tr>
                                    <td width="5%" bgcolor="#333333" class="style1"><div align="center">At Tang</div></td>
                                    <td width="4%" bgcolor="#333333" class="style1"><div align="center">At Point </div></td>
                                    <td width="5%" bgcolor="#333333" class="style1"><div align="center">U/C</div></td>
                                    <td width="5%" bgcolor="#333333" class="style1"><div align="center">O/C</div></td>
                                    <td width="4%" bgcolor="#333333" class="style1"><div align="center">E/C</div></td>
                                    <td bgcolor="#333333" class="style1"> <div align="center">length  ( Tol. ± 1)</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">At  SHOULDER(A/F) </div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">At TIP </div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">W    (±0.50mm)</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">T                    (±0.35mm)</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">(Grinding)   Point size at exact length</div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Brass</div></td>
                                    <td height="46"><div align="center">FLB</div></td>
                                    <td width="99"><div align="center">4</div></td>
                                    <td width="5%"><div align="center">13</div></td>
                                    <td width="4%"><div align="center">9</div></td>
                                    <td width="5%"><div align="center">65</div></td>
                                    <td width="5%"><div align="center">45</div></td>
                                    <td width="4%"><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="46" width="87" align="left" valign="top"><div align="center">12.0 x      3.0</div></td>
                                    <td width="93"><div align="center">150</div></td>
                                    <td width="136"><div align="center">108 - 110</div></td>
                                    <td width="79"><div align="center">45</div></td>
                                    <td width="74"><div align="center">4.9 x 3</div></td>
                                    <td width="96"><div align="center">3 x 3</div></td>
                                    <td width="92"><div align="center">8.4 - 9.0</div></td>
                                    <td width="106"><div align="center">11.55</div></td>
                                    <td width="70"><div align="center">2.60</div></td>
                                    <td width="85"><div align="center">7.30 - 7.90</div></td>
                                    <td width="84"><div align="center">37 - 47</div></td>
                                    <td width="64"><div align="center">100 - 102</div></td>
                                    <td width="64"><div align="center"><a href="#" data-target="#viewprocess" data-toggle="modal"><i class="fa fa-search-plus"></i></a></div></td>
                                    <td width="6%"><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Aluminium</div></td>
                                    <td><div align="center">FLA</div></td>
                                    <td><div align="center">6</div></td>
                                    <td><div align="center">13</div></td>
                                    <td><div align="center">9</div></td>
                                    <td><div align="center">65</div></td>
                                    <td><div align="center">45</div></td>
                                    <td><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="20"><div align="center">16.0 x 4.0</div></td>
                                    <td><div align="center">207</div></td>
                                    <td width="136"><div align="center">160    - 162</div></td>
                                    <td><div align="center">45</div></td>
                                    <td><div align="center">6.4 x 4</div></td>
                                    <td><div align="center">3.9 x 4</div></td>
                                    <td width="92"><div align="center">11.2    - 12.0</div></td>
                                    <td width="106"><div align="center">15.60</div></td>
                                    <td width="70"><div align="center">3.60</div></td>
                                    <td width="85"><div align="center">10.2    - 11.0</div></td>
                                    <td><div align="center">52 - 65</div></td>
                                    <td><div align="center">150-152</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Handle</div></td>
                                    <td><div align="center">FLH</div></td>
                                    <td><div align="center">8</div></td>
                                    <td><div align="center">13</div></td>
                                    <td><div align="center">9</div></td>
                                    <td><div align="center">65</div></td>
                                    <td><div align="center">45</div></td>
                                    <td><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="20"><div align="center">20.5 x 4.45</div></td>
                                    <td><div align="center">267</div></td>
                                    <td width="136"><div align="center">210    - 212</div></td>
                                    <td><div align="center">55</div></td>
                                    <td><div align="center">8.1 x 4.45</div></td>
                                    <td><div align="center">3.5 x 4.45</div></td>
                                    <td width="92"><div align="center">14.4    - 15.5</div></td>
                                    <td width="106"><div align="center">20.10</div></td>
                                    <td width="70"><div align="center">4.05</div></td>
                                    <td width="85"><div align="center">11.10    - 12.80</div></td>
                                    <td><div align="center">85 - 105</div></td>
                                    <td><div align="center">200-202</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Key</div></td>
                                    <td><div align="center">FLK</div></td>
                                    <td><div align="center">10</div></td>
                                    <td><div align="center">18</div></td>
                                    <td><div align="center">11</div></td>
                                    <td width="5%"><div align="center">65</div></td>
                                    <td width="5%"><div align="center">45</div></td>
                                    <td width="4%"><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="20"><div align="center">25.0 x 5.8</div></td>
                                    <td><div align="center">320</div></td>
                                    <td width="136"><div align="center">262    - 265</div></td>
                                    <td><div align="center">60</div></td>
                                    <td><div align="center">8.7 x 5.8</div></td>
                                    <td><div align="center">4.0 x 5.8</div></td>
                                    <td width="92"><div align="center">17.8    - 19.0</div></td>
                                    <td width="106"><div align="center">24.4</div></td>
                                    <td width="70"><div align="center">5.40</div></td>
                                    <td width="85"><div align="center">15.10    - 16.70</div></td>
                                    <td><div align="center">98 - 118</div></td>
                                    <td><div align="center">250-252</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Warding</div></td>
                                    <td><div align="center">FLW</div></td>
                                    <td><div align="center">12</div></td>
                                    <td><div align="center">18</div></td>
                                    <td><div align="center">11</div></td>
                                    <td><div align="center">65</div></td>
                                    <td><div align="center">45</div></td>
                                    <td><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="20"><div align="center">29.8 x 6.1</div></td>
                                    <td><div align="center">380</div></td>
                                    <td width="136"><div align="center">312    - 315</div></td>
                                    <td><div align="center">70</div></td>
                                    <td><div align="center">10 x 6.1</div></td>
                                    <td><div align="center">4.0 x 6.1</div></td>
                                    <td width="92"><div align="center">21.4    - 23.0</div></td>
                                    <td width="106"><div align="center">29.40</div></td>
                                    <td width="70"><div align="center">5.70</div></td>
                                    <td width="85"><div align="center">18.0    - 19.60</div></td>
                                    <td><div align="center">118 - 138</div></td>
                                    <td><div align="center">300- 302</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Regular</div></td>
                                    <td><div align="center">FLF</div></td>
                                    <td><div align="center">14</div></td>
                                    <td><div align="center">18</div></td>
                                    <td><div align="center">11</div></td>
                                    <td><div align="center">65</div></td>
                                    <td><div align="center">45</div></td>
                                    <td><div align="center">90</div></td>
                                    <td><div align="center"></div></td>
                                    <td height="20"><div align="center">35.5 x 7.1</div></td>
                                    <td><div align="center">395</div></td>
                                    <td><div align="center">362    - 365</div></td>
                                    <td><div align="center">75</div></td>
                                    <td><div align="center">10.5 x 7.1</div></td>
                                    <td><div align="center">4.5 x 7.1</div></td>
                                    <td><div align="center">25.2    - 27.0</div></td>
                                    <td><div align="center">35.10</div></td>
                                    <td><div align="center">6.80</div></td>
                                    <td><div align="center">20.9    - 22.50</div></td>
                                    <td><div align="center">138 - 158</div></td>
                                    <td><div align="center">350 - 352</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>
                                    <tr>
                                    <td><div align="center">Lead Float</div></td>
                                    <td><div align="center">FLL</div></td>
                                    <td><div align="center">10</div></td>
                                    <td width="5%"><div align="center">18</div></td>
                                    <td width="4%"><div align="center">11</div></td>
                                    <td width="5%"><div align="center">65</div></td>
                                    <td width="5%"><div align="center">45</div></td>
                                    <td width="4%"><div align="center">90</div></td>
                                    <td><div align="center">Mill material</div></td>
                                    <td height="20"><div align="center">35.5 x 7.1</div></td>
                                    <td><div align="center">395</div></td>
                                    <td width="136"><div align="center">362    - 365</div></td>
                                    <td><div align="center">75</div></td>
                                    <td><div align="center">10.5 x 7.1</div></td>
                                    <td><div align="center">4.5 x 7.1</div></td>
                                    <td width="92"><div align="center">25.2    - 27.0</div></td>
                                    <td width="106"><div align="center">35.10</div></td>
                                    <td width="70"><div align="center">6.80</div></td>
                                    <td width="85"><div align="center">20.9    - 22.50</div></td>
                                    <td><div align="center">138 - 158</div></td>
                                    <td><div align="center">350 - 352</div></td>
                                    <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                    <td width="6%"><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                    </tr>*@
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>



    <div style="clear:both"></div>





    <div class="modal fade bd-example-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizenew">New </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="150">Parameter Name</th>
                                    <th width="100"><span>Parameter</span> Value</th>
                                    <th width="100">Upload</th>
                                </tr>


                                <tr>
                                    <td width="150">Profile Image</td>
                                    <td width="100"></td>
                                    <td width="100">NA</td>
                                </tr>
                                <tr>
                                    <td width="150">Raw Material Width</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield3" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Raw Material Thickness</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield4" value="10" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Cropping Mood Length (+1 / -0 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield5" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Body Length (In mm) </td>
                                    <td width="100"><input type="text" name="textfield" id="textfield" value="25" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Length (%%P 1mm) </td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield6" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Width at Shoulder (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield7" value="10" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Thickness at Shoulder (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield8" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Width at Tip (%%P 0.3 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield9" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Thickness at Tip (%%P 0.3 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield10" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Forging) Point Size (Punching) At Exact Length in mm</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield11" value="20" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Width (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield12" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Thickness (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield13" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Point Size at Exact Length (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield14" value="10" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Taper Length (In Mm) (%%P 1 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield15" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Body Length After Flat Side Cutting Before Hardening (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield16" value="22" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Uncut at Shoulder (%%P 2 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield17" value="13" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Uncut on Edge (%%P 2 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield18" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Up cut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield19" value="18" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Overcut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield20" value="15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Edge cut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield21" value="12" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Hardness (In HRC)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield22" value="61" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Shoulder Angle (In degree)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield23" value="45" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Shoulder Radius (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield24" value="15" /></td>
                                    <td width="100"></td>
                                </tr>





                                <tr>
                                    <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                    <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                    <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                    <br>
                    <br>
                    <br>
                    <div class="collapse" id="reject">
                        <div class="card card-body">
                            <textarea name="" cols="" rows="3" required></textarea>
                            <div style="clear:both"></div>
                            <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>






















    <div class="modal fade" id="addsubfamily" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Sub Family </h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="150">Parameter Name</th>
                                    <th width="100"><span>Parameter</span> Value</th>
                                    <th width="100">Upload</th>
                                </tr>
                                <tr>
                                    <td>File Type </td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Type</option>
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>File Sub Type </td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Sub Type</option>
                                        <option>Brass</option>
                                        <option>Aluminium</option>
                                        <option>Handle</option>
                                        <option>Key</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td>File Size</td>
                                    <td>
                                        <select class="form-control select2" style="width:100%">
                                        <option selected="selected">File Size</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td width="150">Profile Image</td>
                                    <td width="100"></td>
                                    <td width="100"><input type="file" name="textfield3" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="150">Raw Material Width</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield3" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Raw Material Thickness</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield4" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Cropping Mood Length (+1 / -0 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield5" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Body Length (In mm) </td>
                                    <td width="100"><input type="text" name="textfield" id="textfield" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Length (%%P 1mm) </td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield6" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Width at Shoulder (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield7" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Thickness at Shoulder (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield8" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Width at Tip (%%P 0.3 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield9" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Tang Thickness at Tip (%%P 0.3 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield10" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Forging) Point Size (Punching) At Exact Length in mm</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield11" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Width (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield12" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Thickness (%%P 0.5 In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield13" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">(Grinding) Body Dimension Point Size at Exact Length (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield14" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Taper Length (In Mm) (%%P 1 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield15" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Body Length After Flat Side Cutting Before Hardening (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield16" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Uncut at Shoulder (%%P 2 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield17" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Uncut on Edge (%%P 2 mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield18" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Up cut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield19" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Overcut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield20" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Edge cut Inclination (%%P 3)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield21" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Hardness (In HRC)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield22" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Shoulder Angle (In degree)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield23" /></td>
                                    <td width="100"></td>
                                </tr>
                                <tr>
                                    <td width="150">Shoulder Radius (In mm)</td>
                                    <td width="100"><input type="text" name="textfield3" id="textfield24" /></td>
                                    <td width="100"></td>
                                </tr>





                                <tr>
                                    <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>



















    <div class="modal fade" id="viewprocess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Processes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table width="100%" border="1">
                            <tr>
                                <td height="27" bgcolor="#333333" class="style1"><div align="center">Sr.no.</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Process</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                            </tr>
                            <tr>
                                <td><div align="center">1</div></td>
                                <td><div align="center">Cropping</div></td>
                                <td><div align="center">Press</div></td>
                            </tr>
                            <tr>
                                <td><div align="center">2</div></td>
                                <td><div align="center">Tang Forging</div></td>
                                <td><div align="center">Forging Press</div></td>
                            </tr>
                            <tr>
                                <td><div align="center">3</div></td>
                                <td><div align="center">Round Tang Forging</div></td>
                                <td><div align="center">Forging Press</div></td>
                            </tr>
                            <tr>
                                <td><div align="center">4</div></td>
                                <td><div align="center">Annealing</div></td>
                                <td><div align="center">Annealing Furnace</div></td>
                            </tr>
                            <tr>
                                <td><div align="center">5</div></td>
                                <td><div align="center">Tang Punching</div></td>
                                <td><div align="center">Punching Press</div></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>







</div>