﻿
@model JKFIlesEntity.FileSizeDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New File Size</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditfileSizeDetails", "ProductionDetails")" method="post">
    <div class="modal-body">
        @Html.HiddenFor(model => model._id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fs_request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fs_request_type, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>File Size</td>
                    <td>@Html.TextBoxFor(model => model.fs_size_inches, new { @class = "form-control ", @placeholder = "File Size ", @required = "Required" })</td>


                </tr>
                <tr>
                    <td>File Size Code</td>
                    <td>@Html.TextBoxFor(model => model.fs_size_code, new { @class = "form-control ", @placeholder = "File Size Code" })</td>

                </tr>
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.fs_size_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>
