﻿

@model JKFIlesEntity.StampDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Stamp</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditstampDetails", "ProductionDetails")" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        @Html.HiddenFor(model => model.request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_cust_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_brand_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_ftype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fstype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fsize_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fcut_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_stamp_mode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.side1image, new { @class = "form-control " })
        @Html.HiddenFor(model => model.side2image, new { @class = "form-control " })
        @Html.HiddenFor(model => model.side3image, new { @class = "form-control " })
        @Html.HiddenFor(model => model.side4image, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>
                    <th width="144">Parameter Img</th>
                </tr>
                @*<tr>
                        <td>STAMP CHART NUM</td>
                        <td>@Html.TextBoxFor(model => model.sd_chart_num, new { @class = "form-control ", @placeholder = "STAMP CHART NUM" })</td>


                    </tr>*@
                @*<tr>
                        <td>STAMP CHART IMG</td>

                        <td><input type="file" id="file1" name="file1" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/ProjectImages/STAMPs/@Url.Content(Model.ImageName)" alt="Image" style="height:150px;width:150px;" />
                        </td>
                    </tr>*@
                <tr>
                    <td>STAMP SIZE (MM)</td>
                    <td> @Html.TextBoxFor(model => model.stampsize, new { @class = "form-control ", @placeholder = "STAMP SIZE (MM)" })</td>
                </tr>
                <tr>
                    <td>STAMP LOCATION</td>
                    <td> @Html.TextBoxFor(model => model.stamplocation, new { @class = "form-control ", @placeholder = "STAMP LOCATION" })</td>
                </tr>
                <tr>
                    <td>ORIENTATION</td>
                    <td> @Html.TextBoxFor(model => model.Orientation, new { @class = "form-control ", @placeholder = "ORIENTATION" })</td>
                </tr>
                <tr>
                    <td>FONT SIZE (MM)</td>
                    <td> @Html.TextBoxFor(model => model.fontsize, new { @class = "form-control ", @placeholder = "FONT SIZE (MM)" })</td>
                </tr>
                <tr>
                    <td>NUM OF SIDES</td>
                    <td> @Html.TextBoxFor(model => model.noofsides, new { @class = "form-control ", @placeholder = "NUM OF SIDES" })</td>
                </tr>
                <tr>
                    <td>SIDE1 IMAGE</td>
                    <td><input type="file" name="side1" class="form-control" /></td>
                    <td><img src="~/ProjectImages/Stamps/@Url.Content(Model.side1image)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td>SIDE2 IMAGE</td>
                    <td><input type="file" name="side2" class="form-control" /></td>
                    @if (Model.side2image != "")
                    {
                        <td><img src="~/ProjectImages/Stamps/@Url.Content(Model.side2image)" alt="Image" style="height:150px;width:150px;" /></td>
                    }

                </tr>
                <tr>
                    <td>SIDE3 IMAGE</td>
                    <td><input type="file" name="side3" class="form-control" /></td>
                    @if (Model.side3image != "")
                    {
                        <td><img src="~/ProjectImages/Stamps/@Url.Content(Model.side3image)" alt="Image" style="height:150px;width:150px;" /></td>
                    }
                </tr>
                <tr>
                    <td>SIDE4 IMAGE</td>
                    <td><input type="file" name="side4" class="form-control" /></td>
                    @if (Model.side4image != "")
                    {
                        <td><img src="~/ProjectImages/Stamps/@Url.Content(Model.side4image)" alt="Image" style="height:150px;width:150px;" /></td>
                    }
                </tr>
            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>
