﻿@model IEnumerable<JKFiles.WebApp.Models.ComplaintmgntModel>
@{
    ViewBag.Title = "_RequestType";
    Layout = "";
}

@if (Model.Count() > 0)
{
    <div class="col-md-12 ">


        <div class="table-responsive">
            <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr height="36">
                        <td height="36" bgcolor="#333333"><div align="center" class="style1">Request Type Id</div></td>
                        <td width="192" bgcolor="#333333"><div align="center" class="style1">Request Type</div></td>
                        <td height="36" bgcolor="#333333"><div align="center" class="style1">Request Description</div></td>

                        <td width="126" bgcolor="#333333"><div align="center" class="style1">Delete</div></td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr height="27">
                            <td width="160"><div align="center">@Html.DisplayFor(m => item.Request_Type_Id) </div></td>
                            <td width="226" height="27"><div align="center">@Html.DisplayFor(m => item.RequestType) </div></td>
                            <td width="226" height="27"><div align="center">@Html.DisplayFor(m => item.RequestDesc) </div></td>
                            <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="col-md-10 ">
        <div><strong><p style="color:red;">Nothing to display here</p></strong></div>
    </div>
}

