﻿@model JKFiles.WebApp.Models.ComplaintmgntModel
@{
    ViewBag.Title = "RequestTypeIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Add New Request</h3></div>

        <div class="box-body">
            <div class="form-inline ">
                @using (Html.BeginForm())
                {
                    <div class="form-group">

                        @Html.EditorFor(m => m.RequestType, new { htmlAttributes = new { @class = "form-control", placeholder = "Request Type Name" } })
                    </div>
                    <div class="form-group">

                        @Html.EditorFor(m => m.RequestDesc, new { htmlAttributes = new { @class = "form-control", placeholder = "Request Type Description" } })
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>


                }

            </div>

            <br>

            @Html.Action("RequestGrid")
            @*<div class="col-md-12 ">


                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                        <tbody>
                            <tr height="36">
                                <td height="36" bgcolor="#333333"><div align="center" class="style1">Request Type Id</div></td>
                                <td width="192" bgcolor="#333333"><div align="center" class="style1">Request Type</div></td>
                                <td height="36" bgcolor="#333333"><div align="center" class="style1">Request Description</div></td>

                                <td width="126" bgcolor="#333333"><div align="center" class="style1">Delete</div></td>
                            </tr>

                            <tr height="27">
                                <td width="160"><div align="center">1</div></td>
                                <td width="226" height="27"><div align="center">XYZ</div></td>
                                <td width="226" height="27"><div align="center">XYZPWQ</div></td>
                                <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                            </tr>
                            <tr height="27">
                                <td width="160"><div align="center">1</div></td>
                                <td width="226" height="27"><div align="center">XYZ</div></td>
                                <td width="226" height="27"><div align="center">XYZPWQ</div></td>
                                <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
        </div>

    </div>

</section>
