﻿@model JKFiles.WebApp.Models.NormsMasterModel

@{
    ViewBag.Title = "Index";
}
<style>
    #value5, #value6, #value7, #value8, #value9, #value910 {
        display: none;
    }

    .valuename {
        display: none;
    }
</style>
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<div class="box box-default">
    <div class="box-header">
        <h4>Norms Details </h4>
    </div>
    <div class="box-body">
        <div class='col-md-12'>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                <i class="fa fa-plus"></i>
                                <span> New Requests</span>
                            </a>
                        </h4>
                    </div>
                    <div id="newR" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table width="100%" border="1" bordercolor="#CCCCCC">
                                    <tr>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">SKU </div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View Process</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit</div></td>
                                    </tr>
                                    @foreach (var item in Model.Normslist)
                                    {
                                        <tr>
                                            <td><div align="center"><a href="@Url.Action("Index", "NewPartReqView", new { partno = @item.pr_RequestNo })" target="_blank">@item.pr_RequestNo</a></div></td>
                                            <td><div align="center">@item.SKU</div> </td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowProcess('@item.pr_RequestNo','@item.pr_process_code')">@item.pr_process_code</a></div></td>
                                            <td width="100">
                                                <div align="center">
                                                    @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_User")
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#norms" onclick="ShowNormsProcess('@item.pr_RequestNo','@item.SKU','@item.pr_process_code')"><i class="fa fa-pencil"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                                    }
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                <i class="fa fa-plus"></i>
                                <span>Requests for Approval</span>
                            </a>
                        </h4>
                    </div>
                    <div id="approveR" class="panel-collapse collapse  ">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table width="100%" border="1" bordercolor="#CCCCCC">
                                    <tr>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center"> SKU</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View Process</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View Norms</div></td>
                                        <td width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
                                    </tr>
                                    @foreach (var item in Model.ApprovalNormslist)
                                    {
                                        <tr>
                                            <td><div align="center"><a href="@Url.Action("Index", "NewPartReqView", new { partno = @item.pr_RequestNo })" target="_blank">@item.pr_RequestNo</a></div></td>
                                            <td><div align="center">@item.SKU</div> </td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowProcess('@item.pr_RequestNo','@item.pr_process_code')">@item.pr_process_code</a></div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#normsview" onclick="NormsViewShow('@item.pr_RequestNo')"><i class=" fa fa-search-plus"></i></a></div></td>
                                            <td>
                                                <div align="center">
                                                    @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#app" class="btn btn-warning" onclick="ApproveReject('@item.pr_RequestNo')">Approve</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-warning">Approve</a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
</div>


<div class="modal fade bd-example-modal-sm" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Process </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" id="showAddprocessFile" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Sq.  No.</div></td>
                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Operation Name</div></td>
                            </tr>
                        </tbody>
                        <tbody id="addproc"></tbody>

                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg in" id="normsview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" padding-left 19px;">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new"> Norms </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-4">
                    @Html.DropDownListFor(model => model.aa_unit_code, new SelectList(Model.unitdropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @style = "Width:100%", @class = "form-control select2", @id = "View_unit_code" })
                    @Html.ValidationMessageFor(m => m.aa_unit_code)
                </div>
                <div style="clear:both"></div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="NormsProcessViewTbl">
                        <tbody>
                            <tr>
                                <th width="271" style="width: 10px">Process Name</th>
                                <th width="373" style="width: 10px">Equipment Name</th>
                                <th width="168" style="width: 10px">Equipment Type</th>
                                <th width="186">
                                    <div align="center">
                                        <p>Norms dz/shift</p>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                        <tbody id="NormsProcessViewTR"></tbody>
                    </table>
                </div>

            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="norms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new"> Norms </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group col-md-4">
                    @Html.DropDownListFor(model => model.aa_unit_code, new SelectList(Model.unitdropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @style = "Width:100%", @class = "form-control select2", @id = "aa_unit_code" })
                    @Html.ValidationMessageFor(m => m.aa_unit_code)
                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="NormsProcessTbl">
                        <tbody>
                            <tr>
                                <th width="271" style="width: 10px">Process Name</th>
                                <th width="373" style="width: 10px">Equipment Name</th>
                                <th width="168" style="width: 10px">Equipment Type</th>
                                <th width="186">
                                    <div align="center">
                                        <p>Norms dz/shift</p>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                        <tbody id="NormsProcessTR"></tbody>

                    </table>
                </div>

            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseNorms('We are processing...')">Submit for Approval</button>
                <button type="button" class="btn btn-primary" onClick="AddNorms('We are processing...')" data-dismiss="modal">Save & Add More</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestnumber">Request No :  </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="ma_remarks" id="ma_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="ApproveNorms('We are processing...')">Approve</a>
                <a href="" class="btn btn-primary" onclick="RejectNorms('We are processing...')">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new"> Edit Norms</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label for="" class="">Unit</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="Chiplun" readonly /> </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Production SKU</label>
                    <div class="form-group ">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="04FLF1GN" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Operation Id</label>
                    <div class="form-group ">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="10-Cropping" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="" class="">Equipment Id</label>
                        <div class="form-group">
                            <input type="text" class="form-control " name="textfield3" id="textfield13" value="Press-60T" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Output dz/shift</label>
                    <div class="form-group">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="2000" readonly />
                    </div>
                </div>

            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new"> Edit Norms</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label for="" class="">Unit</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="Chiplun" readonly /> </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Production SKU</label>
                    <div class="form-group ">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="04FLF1GN" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Operation Id</label>
                    <div class="form-group ">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="10-Cropping" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="" class="">Equipment Id</label>
                        <div class="form-group">
                            <input type="text" class="form-control " name="textfield3" id="textfield13" value="Press-60T" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Output dz/shift</label>
                    <div class="form-group">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" value="2000" />
                    </div>
                </div>

            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onClick="">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="norms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new"> Add Norms</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label for="" class="">Unit</label>
                    <div class="form-group">
                        <select class="form-control select2" style="width:100%;">
                            <option>Chiplun</option>
                            <option>Vapi</option>
                            <option>Pritampura</option>
                            <option>Ratnagiri</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Production SKU</label>
                    <div class="form-group ">
                        <select class="form-control select2" style="width:100%">
                            <option>04FLF1GN</option>
                            <option>08FLF3GN</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="" class="">Operation Id</label>
                    <div class="form-group ">
                        <select class="form-control select2" style="width:100%">
                            <option>10-Cropping</option>
                            <option>20-Tang Forging</option>
                            <option>30-Tang swagging</option>
                            <option>40-Round Tang Forging</option>
                            <option>50-Annealing</option>
                            <option>60-Tang Punching</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Equipment Id</label>

                    <div class="form-group ">
                        <select class="form-control select2" style="width:100%;">
                            <option>Press-60Kg</option>
                            <option>Press-40Kg</option>
                            <option>Forging Press-125Kg</option>
                            <option>Annealing Furnance-2.5T</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Output dz/shift</label>

                    <div class="form-group">
                        <input type="text" class="form-control " name="textfield3" id="textfield13" placeholder="Output dz/shift" />
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onClick="">Ok</button>
            </div>
        </div>
    </div>
</div>



<div style="clear:both"></div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@*<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@

<script>

    var RequestId = "";
    var Requesrtype = "";
    var SKUCode = "";
    var valuestrem = "";
    function ShowNormsProcess(i, j, k) {
        RequestId = i;
        Requesrtype = RequestId[0];
        SKUCode = j;
        valuestrem = k;
    }
    var VRequestId = "";
    var VRequesrtype = "";
    function NormsViewShow(i) {
        VRequestId = i;
        VRequesrtype = VRequestId[0];
    }

    $(document).ready(function () {
        $("#aa_unit_code").change(function () {
            var UnitCode = $("#aa_unit_code").val();
            var trHTML = "";
            $("#NormsProcessTR").empty();
            $.ajax({
                url: '@Url.Action("NormsProcesslist", "Norms")',
                data: { RequestId: RequestId, Requesrtype: Requesrtype, UnitCode: UnitCode, valuestrem: valuestrem },
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    for (var i = 0; i < data.NormsPElist.length; i++) {
                        trHTML += '<tr><td id="value1" width="271">' + data.NormsPElist[i].opr_operation_name + '<input type="text" class="form-control valuename" name="' + data.NormsPElist[i].opr_operation_name + '_' + i + '"  id="' + data.NormsPElist[i].opr_operation_name + '_' + i + '" value="' + data.NormsPElist[i].opr_operation_name + '" /></td>'
                            + '<td id="value2" width="373">' + data.NormsPElist[i].equ_name + '<input type="text" class="form-control valuename" name="' + data.NormsPElist[i].equ_name + '_' + i + '"  id="' + data.NormsPElist[i].equ_name + '_' + i + '" value="' + data.NormsPElist[i].equ_name + '" /></td>'
                            + '<td id="value3" width="186">' + data.NormsPElist[i].equ_type + '<input type="text" class="form-control valuename" name="' + data.NormsPElist[i].equ_type + '_' + i + '"  id="' + data.NormsPElist[i].equ_type + '_' + i + '" value="' + data.NormsPElist[i].equ_type + '" /></td>'
                            + '<td id="value4"><div align="center"><input type="text" class="form-control Nval" name="nm_norms_value_' + i + '" id="nm_norms_value_' + i + '" onkeypress="return isNumberKey(event)"/ required="required"></div></td>'
                            //+ '<td id="value5"><input type="text" class="form-control valuename" name="' + data.NormsPElist[i].aa_unit_code + '_' + i + '"  id="' + data.NormsPElist[i].aa_unit_code + '_' + i + '" value="' + data.NormsPElist[i].aa_unit_code + '" /></td>'
                            + '<td id="value6"><input type="text" class="form-control valuename" name="' + data.NormsPElist[i].pd_flg + '_' + i + '"  id="' + data.NormsPElist[i].pd_flg + '_' + i + '" value="' + data.NormsPElist[i].pd_flg + '" /></td>'
                            + '<td id="value7"><input type="text" class="form-control valuename" name="' + data.NormsPElist[i].aa_main_valstream + '_' + i + '"  id="' + data.NormsPElist[i].aa_main_valstream + '_' + i + '" value="' + data.NormsPElist[i].aa_main_valstream + '" /></td>'
                            + '<td id="value8"><input type="text" class="form-control valuename" name="' + data.req_id + '_' + i + '"  id="' + data.req_id + '_' + i + '" value="' + data.req_id + '" /></td>'
                            + '<td id="value9"><input type="text" class="form-control valuename" name="' + SKUCode + '_' + i + '"  id="' + SKUCode + '_' + i + '" value="' + SKUCode + '" /></td>'
                            + '<td id="value10"><div align="center"><input type="text" class="form-control valuename" name="' + Requesrtype + '_' + i + '"  id="' + Requesrtype + '_' + i + '" value="' + Requesrtype + '" /></td></tr>';
                    }
                    $('#NormsProcessTR').append(trHTML);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        $("#View_unit_code").change(function () {
            var UnitCode = $("#View_unit_code").val();
            var trHTML = "";
            $("#NormsProcessViewTR").empty();
            $.ajax({
                url: '@Url.Action("NormsProcessViewlist", "Norms")',
                data: { RequestId: VRequestId, Requesrtype: VRequesrtype, UnitCode: UnitCode },
                type: 'GET',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    for (var i = 0; i < data.NormsPElist.length; i++) {
                        trHTML += '<tr><td id="value1" width="271">' + data.NormsPElist[i].nm_opern_name + '</td>'
                            + '<td id="value2" width="373">' + data.NormsPElist[i].nm_equ_name + '</td>'
                            + '<td id="value3" width="186">' + data.NormsPElist[i].nm_equ_type + '</td>'
                            + '<td id="value4"><div align="center"><input type="text" class="form-control" value="' + data.NormsPElist[i].nm_norms_value + '" onkeypress="return isNumberKey(event)"/ required="required" readonly></div></td></tr>';
                    }
                    $('#NormsProcessViewTR').append(trHTML);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });


    });

    function ShowProcess(i, j) {
        var process_code1 = j;
        var requestID1 = i;
        var requesttype1 = requestID1[0];
        var row = "";
        $("#showAddprocessFile tbody").empty();
        $.ajax({
            url: '@Url.Action("Showaddprocess", "Norms")',
            data: { process_code: process_code1, requestID: requestID1, requesttype: requesttype1 },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.processlist.length; i++) {
                    row = '<tr><td><div align="center"> ' + data.processlist[i].ppm_process_seqno + '</div> </td><td><div align="center"> ' + data.processlist[i].ProcessName + ' </div></td></tr>';
                    $("#addproc").append(row);
                }
            },
            error: function () {
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function AddNorms() {
        var UnitCode1 = $("#aa_unit_code").val();
        var AllValue = [];
        var TrCount = $("#NormsProcessTR tr").length;
        for (var i = 0; i < TrCount; i++) {
            AllValue.push({
                nm_opern_name: $("#NormsProcessTR tr #value1 input").eq(i).val(),
                nm_equ_name: $("#NormsProcessTR tr #value2 input").eq(i).val(),
                nm_equ_type: $("#NormsProcessTR tr #value3 input").eq(i).val(),
                nm_norms_value: $("#NormsProcessTR tr #value4 input").eq(i).val(),
                nm_unit_code: UnitCode1,
                pd_flg: $("#NormsProcessTR tr #value6 input").eq(i).val(),
                nm_valuestream: $("#NormsProcessTR tr #value7 input").eq(i).val(),
                nm_request_id: $("#NormsProcessTR tr #value8 input").eq(i).val(),
                nm_prod_sku: $("#NormsProcessTR tr #value9 input").eq(i).val(),
                nm_request_type: $("#NormsProcessTR tr #value10 input").eq(i).val()

            });
        }
        var TrCount = $("#NormsProcessTR tr").length;
        var total = 0;
        var val = 0;
        for (var j = 0; j < TrCount; j++) {

            val = AllValue[j].nm_norms_value[j];
            total = val + total;
        }

        var postData = AllValue;

        if (UnitCode1 != "") {
          
            if ($(".Nval").val() != "") {
                var lock = document.getElementById('Lockup');
                if (lock)
                    lock.className = 'LockOn';
                lock.innerHTML = str;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveNorms", "Norms")',
                    data: JSON.stringify(postData),
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (data) {
                        alert("Insert Suceesfully");
                        // $('#norms').modal('toggle');
                        $("#Lockup").css("display", "none");
                        setTimeout("$('#norms').modal('toggle');", 1000);
                        $("#NormsProcessTR").empty();
                    },
                });
            }
            else {
                alert("Please enter all value");
                $("#Lockup").css("display", "none");
            }
        }
        else {
            alert("Please select unit");
            $("#Lockup").css("display", "none");
        }
    }

    function CloseNorms(str) {
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("CloseFirstgridNorms", "Norms")',
            data: { RequestId: RequestId, Requesrtype: Requesrtype },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                alert(data.message);
                location.reload();
            },
            error: function () {
                $("#Lockup").css("display", "none");
            }
        });
    }

    var reqN = "";
    var reqT = "";
    function ApproveReject(i) {
        $("#requestnumber").empty();
        var rr = "RequestNo:" + i + "";
        $("#requestnumber").append(rr);
        reqN = i;
        reqT = i[0];
    }


    function ApproveNorms(str) {
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("ApproveNorms", "Norms")',
            data: { RequestId: reqN, Requesrtype: reqT },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                alert(data.message);
                location.reload();
            },
            error: function () {
            }
        });
    }
    function RejectNorms(str) {
        var reqN1 = reqN;
        var reqT1 = reqT;
        var ma_remarks = $("#ma_remarks").val();
        if ($("#ma_remarks").val() != "") {
            var lock = document.getElementById('Lockup');
            if (lock)
                lock.className = 'LockOn';
            lock.innerHTML = str;
            $.ajax({
                url: '@Url.Action("RejectrequestNorms", "Norms")',
                data: { RequestId: reqN, Requesrtype: reqT, ma_remarks: ma_remarks },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    alert(data.message);
                    location.reload();
                },
                error: function () {
                }
            });
        } else {
            alert("Please enter remark");
        }
    }
</script>
