﻿@model JKFIlesEntity.FileSizeDetailsEntity
@{
    ViewBag.Title = "_AddFileSize";
    //  Layout = "~/Views/Shared/MasterPage.cshtml";
}

<form action="@Url.Action("InsertNewfilesize", "FileSizeMaster")" method="post">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="sizenew">Add New Size </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100" style="width: 10px">Parameter Name</th>
                            <th width="144"><span style="width: 10px">Parameter</span> Value</th>
                        </tr>
                        <tr>
                            <td>File Size(in Inch)</td>
                            <td>
                                @*<input id="txtName" class=" form-control" title="File Size in Inches">*@
                                @Html.EditorFor(m => m.fs_size_inches, new { htmlAttributes = new { @class = "form-control", placeholder = "File Size in Inches" } })
                                @Html.ValidationMessageFor(m => m.fs_size_inches)

                            </td>

                        </tr>
                        <tr>
                            <td>File Size Code</td>
                            <td>
                                @*<input id="txtcode" class=" form-control" title="File Size Code">*@
                                @Html.EditorFor(m => m.fs_size_code, new { htmlAttributes = new { @class = "form-control", placeholder = "File Size Code" } })
                                @Html.ValidationMessageFor(m => m.fs_size_code)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Remark(Optional)</label>

                                    @Html.TextBoxFor(m => m.fs_size_remarks, new { @class = "form-control" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            @*<button type="button" class="btn btn-primary">Send for Approval</button>*@
            <button id="btnSave" type="submit" class="btn btn-primary" >Send for Approva</button>
        </div>
    </div>

</form>
