﻿@model JKFIlesEntity.FileSizeDetailsEntity
@{
    ViewBag.Title = "_ApprovedRequest";
    Layout = "";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="11%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size (inch)</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size Code</div></td>
                <td width="32%" bgcolor="#e8e8e8" class="text-black"><div align="center">Remarks</div></td>
                <td width="35%" bgcolor="#e8e8e8" class="text-black"><div align="center">Action</div></td>
            </tr>
            @foreach (var list in Model.FileSizeNoApproveList)
            {
                <tr>
                    <td align="center">@list.fs_request_type@list.fs_request_id</td>
                    <td>
                        <div align="center">
                            @list.fs_size_inches
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fs_size_code
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fs_size_remarks
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                            {
                                <a href="#" data-toggle="modal" onclick="RejectApprove('@list.fs_request_type@list.fs_request_id','@list.fs_request_id','@list.fs_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                            }
                            else
                            {
                                <a href="" class="btn btn-warning">Approve</a>
                            }
                            @*<a href="javascript:void(0);" class="anchorDetail" data-id="@list._id">Edit</a>*@
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>
