﻿@*@model JKFIlesEntity.FileSizeDetailsEntity*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.FileSizeDetailsEntity>
@{
    ViewBag.Title = "_FilesizemstrDetails";
    Layout = "";
}

<div id="divPartialView1">
    @*<div class="col-md-6">*@
        <div class="table-responsive">          
            <table width="100%" border="1" bordercolor="#CCCCCC" id="FilesizemsterGrid">
                <thead>
                    <tr>
                        <th width="326" height="31" bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Size Code")</div></th>
                        <th width="240" bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Size (inch)")</div></th>
                        <th width="268" bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Size (mm)")</div></th>         
                    </tr>
                </thead>
                @*@for (int i = 0; i < Model.Count; i++)
                        {
                         <tr>
                        <td><div align="center">@Model[i].fs_size_code</div></td>
                        <td>
                            <div align="center">


                                @Model[i].fs_size_inches

                            </div>

                        </td>
                        <td>
                            <div align="center">


                                @Model[i].fs_size_mm

                            </div>

                        </td>

                    </tr>

                        }*@




                @*@foreach (var list in Model.filelist)
                    {
                    <tr>
                        <td align="center">@list.fs_request_id</td>
                        <td>
                            <div align="center">
                                @list.fs_size_code
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.fs_size_inches
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.fs_size_mm
                            </div>
                        </td>
                        <td>
                                <div align="center">
                                    @list.fs_size_remarks
                                </div>
                            </td>

                    </tr>

                    }*@

            </table>
            @*<div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, fsizecode = ViewBag.fsizecode }))
                </div>
            </div>*@
            <p class="style1">&nbsp;</p>
        </div>
    </div>
@*</div>*@


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
        $(document).ready(function () {
            $("#FilesizemsterGrid").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "ajax": {
                    "url": '@Url.Action("LoadData", "FileSizeMaster")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },],
                //{
                //    "targets": [3],
                //    "searchable": false,
                //    "orderable": false
                //},
                //{
                //    "targets": [4],
                //    "searchable": false,
                //    "orderable": false
                //}],
                "columns": [
                      { "data": "fs_size_code", "name": "fs_size_code", "autoWidth": true, "className": "text-center" },
                      { "data": "fs_size_inches", "name": "fs_size_inches", "autoWidth": true, "className": "text-center" },
                      { "data": "fs_size_mm", "name": "fs_size_mm", "autoWidth": true, "className": "text-center" },
                      //{
                      //    "render": function (data, type, full, meta) {
                      //        return '<a class="btn btn-info" href="/Home/Edit/' + full.CustomerID + '">Edit</a>';
                      //    }
                      //},

                      // {
                      //     data: null, render: function (data, type, row) {
                      //         return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                      //     }
                      // },
                ]

            });
        });
</script>

@*<script>
        $(document).ready(function () {
            $(".ChangeCutApprove").change(function () {
                $("#loading").css("display", "block");
                var fsizecode = $("#fs_size_code").val();
                //  var ftypecode = $("#filetypecode").val();
                //  var filetype = $("#filetype").val();
                //  var cuttype = $("#cut_type").val();
                //  var cutstand = $("#cut_standard").val();
                $.ajax({
                    url: '@Url.Action("FilesizemstrDetails", "FileSizeMaster")',
                    data: { fsizecode: fsizecode },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#divPartialView1").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });

            });


        });
    </script>*@



