﻿@model JKFIlesEntity.FileSizeDetailsEntity
@{
    ViewBag.Title = "_Filesizemstr";
    Layout = "";
}

@*<form class="form-inline " action="@Url.Action("Index", "FileSizeMaster")" method="post">

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.fs_size_code, new SelectList(Model.listsizecode, "fs_size_code", "fs_size_code"), "File Size Code", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "fs_size_code" })
        @Html.HiddenFor(m => m.fs_size_code)
    </div>
</form>*@

