﻿@model JKFIlesEntity.FileSizeDetailsEntity
@{
    ViewBag.Title = "_NewRequest";
    Layout = "";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="11%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="8%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size (inch)</div></td>
                <td width="8%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size Code</div></td>
                <td width="41%" bgcolor="#e8e8e8" class="text-black"><div align="center">Remarks</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit </div></td>
            </tr>
            @foreach (var list in Model.FileSizeNoActiveList)
            {
                <tr>
                    <td align="center">@list.fs_request_type@list.fs_request_id</td>
                    <td>
                        <div align="center">
                            @list.fs_size_inches
                        </div>
                    </td>
                    <td>
                            <div align="center">
                                @list.fs_size_code
                            </div>
                        </td>
                    <td>
                        <div align="center">
                            @list.fs_size_remarks
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_User")
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@list.fs_request_id,@list.fs_request_type"><i class="fa fa-pencil"></i></a>
                            }
                            else
                            {
                                <a><i class="fa fa-pencil"></i></a>
                            }
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

            }

        </table>
    </div>

</div>

