﻿@model JKFIlesEntity.FileSizeDetailsEntity

<div class="modal-header">
    <h5 class="modal-title" id="new">Edit File Size</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("SavefilesizeDetails","FileSizeMaster")" method="post">
    <div class="modal-body">
        @Html.HiddenFor(model => model._id)
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>FILE SIZE(in Inch)</td>
                    <td>@Html.TextBoxFor(model => model.fs_size_inches, new { @class = "form-control ", @placeholder = "FILE SIZE",@required="Required" })</td>
                </tr>
                <tr>
                    <td>FILE SIZE CODE</td>
                    <td>@Html.TextBoxFor(model => model.fs_size_code, new { @class = "form-control ", @placeholder = "FILE SIZE CODE", @required = "Required" , @onkeyup = "CheckFileSizeCode()" })</td>
                </tr>
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.fs_size_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
            <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
        <button type="submit" class="btn btn-primary">Send for Approval</button>
    </div>
</form>

<script>
    function CheckFileSizeCode() {
        var fs_size_code = $("#fs_size_code").val();
        $.ajax({
            url: '@Url.Action("CheckFileSizeCode", "FileSizeMaster")',
            data: { fs_size_code: fs_size_code },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("Size code already exists");
                } else {
                }
            },
            error: function () {
            }
        });
    }
</script>