﻿@model JKFiles.WebApp.Models.ChangeNoteModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Request No : @Html.DisplayFor(model => model.RequestNumber) </h5>
    @Html.HiddenFor(model => model.RequestNumber)
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">

        <table class="table">
            <tbody>
                <tr>
                    <th width="69"><div align="center">Role</div></th>
                    <th width="137"><div align="center">User id</div></th>
                    <th width="80"><div align="center">Status</div></th>
                    <th width="149"><div align="center">Date</div></th>
                    <th width="132"><div align="center">Remark</div></th>
                </tr>
                @foreach(var item in Model.approvaldateslist)
                {
                    <tr>
                        <td><div align="center">@item.Name</div></td>
                        <td><div align="center">@item.ap_createby</div></td>
                        <td><div align="center">@item.Status</div></td>
                        <td><div align="center">@item.ApprovalDate</div></td>
                        <td><div align="center">@item.enter_remark</div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>