﻿@model JKFiles.WebApp.Models.ChangeNoteModel

<form action="@Url.Action("SaveRejectionRemark","ChangeNotes")" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="new">Remark For Withdraw</h5>
        @Html.HiddenFor(m => m.RequestNumber)
        @Html.HiddenFor(m => m.flag)
        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group col-md-12">
            @Html.TextAreaFor(m => m.enter_remark, 3, 45, new { @placeholder = " Remark for Withdraw", @class = "form - control" })
        </div>

    </div>
    <div style="clear:both"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>