﻿
@model JKFiles.WebApp.Models.ChangeNoteModel



<form action="@Url.Action("SaveApprovalProd","ChangeNotes")" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request No :@Html.DisplayFor(model => model.RequestNumber) </h5>
        @Html.HiddenFor(model => model.RequestNumber)
        @Html.HiddenFor(model => model.Appr_from)
        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height:400px; overflow-y:scroll;">

        <h4>Production</h4>
        <div class="table-responsive">
            @if (Model.Appr_from == "Prod_green")
            { }
            else
            {
                @Html.DisplayName("Enter Remarks")
                @Html.TextAreaFor(m => m.enter_remark, 2, 45, new { })
            }
            @if (Model.Appr_from == "Prod_green")
            { }
            else
            {
                <div>
                    <button type="submit" class="btn btn-primary pull-right" name="actionType" value="Save" onchange="showLoader()">Submit</button>
                    <button type="button" class="btn btn-secondary mr-5  pull-right" data-dismiss="modal">Close</button>
                    @if (Model.Appr_from == "S")
                    {
                        <button type="submit" class="btn btn-success pull-left " name="actionType" value="Approve">Approve Production</button>
                    }
                    else
                    {

                    }
                </div>
            } <br>
            <br>
            <br>
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <th><div align="center">Date</div></th>
                        <th><div align="center">Details</div></th>
                        <th><div align="center">Role</div></th>
                        <th><div align="center">UserId</div></th>
                    </tr>

                    @foreach (var list in Model.cust_approvalremarks_sales)
                    {
                        <tr>
                            <td><div align="center">@list.ap_createdDate</div></td>
                            <td><div align="center">@list.ap_remarks</div></td>
                            <td><div align="center">@list.ap_User</div></td>
                            <td><div align="center">@list.ap_createby</div></td>
                        </tr>
                    }

                </tbody>
            </table>
            <img src="~/Content/Images/loader.GIF" id="loading" style="display:none; align-content:center;" />
        </div>

    </div>
</form>
<script>
    debugger;
    function showLoader()
    {
        $("#loading").css("display", "block");
    }
</script>