﻿@model JKFiles.WebApp.Models.ChangeNoteModel

<form action="@Url.Action("UpdateNorms","ChangeNotes")" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="new"> Norms (Under construction)</h5>
        @Html.HiddenFor(m=>m.RequestNumber)
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    <br>



    <table class="table table-bordered">
        <tbody>
            <tr>
                <th width="271" style="width: 10px">Process Name</th>
                <th width="373" style="width: 10px">Equipment Name</th>
                <th width="168" style="width: 10px">Equipment Type</th>
                <th width="186">
                    <div align="center">
                        <p>
                            Vapi
                            (Norms dz/shift)
                        </p>
                    </div>
                </th>
                <th width="268">
                    <div align="center">
                        <p>
                            Chiplun
                            (Norms dz/shift)
                        </p>
                    </div>
                </th>
                <th width="268">
                    <div align="center">
                        <p>
                            Ratnagiri
                            (Norms dz/shift)
                        </p>
                    </div>
                </th>
                <th width="268">
                    <div align="center">
                        <p>JK Talabot (Norms dz/shift)</p>
                    </div>
                </th>
                <th width="268">
                    <div align="center">
                        <p>
                            Pithampur
                            (Norms dz/shift)
                        </p>
                    </div>
                </th>
                <th width="268">
                    <div align="center">
                        <p>
                            Ansillary
                            (Norms dz/shift)
                        </p>
                    </div>
                </th>
            </tr>
            <tr>
                <td height="20" width="134">Cropping</td>
                <td width="136">Press</td>
                <td width="61">60T</td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield2" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield3" id="textfield13" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield3" id="textfield13" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield3" id="textfield13" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield3" id="textfield13" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield3" id="textfield13" />
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20">Cropping</td>
                <td>Press</td>
                <td>40T</td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield4" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield3" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield3" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield3" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield3" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield3" />
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20" width="134">Belota Moods</td>
                <td width="136">Press</td>
                <td width="61">70T</td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield7" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield6" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield6" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield6" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield6" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield6" />
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20">Tang Forging</td>
                <td>Forging Press</td>
                <td>25 Kg</td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield9" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield8" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield8" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield8" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield8" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield8" />
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20">Round Tang Forging</td>
                <td>Forging Press</td>
                <td>4Head</td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield23" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield24" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield24" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield24" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield24" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="text" class="form-control select2" name="textfield2" id="textfield24" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="clear:both"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
