﻿@using System.Data;
@model DataTable

@{

    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="content-header">
    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->
<section class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Update by Requests</h3>
        </div>
        <div class="box-body">
            <div class=" table-responsive">
                <table width="100%" border="1">
                    <tr bgcolor="#333333" class="style1">
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td><div align="center">@col.ColumnName</div></td>
                        }

                    </tr>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <td>
                                    <div align="center">
                                        @*@row[col.ColumnName]*@
                                        @if (@row[col.ColumnName].Equals("I"))
                                        {
                                            if (@col.ColumnName == "FileSize")
                                            {
                                                <a href="@Url.Action("Index", "FileSizeMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "FileType")
                                            {
                                                <a href="@Url.Action("Index", "FileTypeMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "FileSubType")
                                            {
                                                <a href="@Url.Action("Index", "FileSubType")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "RawMaterial")
                                            {
                                                <a href="@Url.Action("RawMaterial", "RawMaterial")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "CutStandard")
                                            {
                                                <a href="@Url.Action("Index", "CutSpecmaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Drawing")
                                            {
                                                <a href="@Url.Action("Index", "DrawingMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Stamp")
                                            {
                                                <a href="@Url.Action("Index", "StampMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Process")
                                            {
                                                <a href="@Url.Action("ProcessIndex", "ProcessMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Norms")
                                            {
                                                <a href="@Url.Action("Index", "Norms")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                        }
                                        else if (@row[col.ColumnName].Equals("A"))
                                        {
                                            if (@col.ColumnName == "FileSize")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "FileType")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "FileSubType")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "RawMaterial")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "CutStandard")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Drawing")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }

                                            else if (@col.ColumnName == "Process")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Norms")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            @row[col.ColumnName]
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </div>

        </div>

    </div>







</section>