﻿
@using System.Data;
@model DataTable

@{

    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="content-header">
    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->
<section class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Update by Requests</h3>
        </div>
        <div class="box-body">
            <div class=" table-responsive">
                <table width="100%" border="1">
                    <tr bgcolor="#333333" class="style1">
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td><div align="center">@col.ColumnName</div></td>
                        }

                    </tr>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <td>
                                    <div align="center">
                                        @*@row[col.ColumnName]*@
                                        @if (@row[col.ColumnName].Equals("I"))
                                        {
                                            if (@col.ColumnName == "Customer")
                                            {
                                                <a href="@Url.Action("Customer_Brand_Master", "MastersDetails")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Brand")
                                            {
                                                <a href="@Url.Action("Customer_Brand_Master", "MastersDetails")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Stamp")
                                            {
                                                <a href="@Url.Action("Index", "StampMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "WrapperChartNo")
                                            {
                                                <a href="@Url.Action("Index", "WrapperMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                           
                                            else if (@col.ColumnName == "InnerLabel")
                                            {
                                                <a href="@Url.Action("Index", "InnerLabelMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "OuterChart")
                                            {
                                                <a href="@Url.Action("Index", "OuterMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Pallet")
                                            {
                                                <a href="@Url.Action("Index", "PalletMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "InnerBox")
                                            {
                                                <a href="@Url.Action("Index", "InnerBoxMaster")">
                                                    <img src="~/SharedCSS/dist/img/orange.png" alt="">
                                                </a>
                                            }

                                        }
                                        else if (@row[col.ColumnName].Equals("A"))
                                        {
                                            if (@col.ColumnName == "Customer")
                                            {
                                                <a href="@Url.Action("Customer_Brand_Master", "MastersDetails")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Brand")
                                            {
                                                <a href="@Url.Action("Customer_Brand_Master", "MastersDetails")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Stamp")
                                            {
                                                <a href="@Url.Action("Index", "StampMaster")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "WrapperChartNo")
                                            {
                                                <a href="#">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }

                                            else if (@col.ColumnName == "InnerLabel")
                                            {
                                                <a href="@Url.Action("Index", "InnerLabelMaster")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "OuterChart")
                                            {
                                                <a href="@Url.Action("Index", "OuterMaster")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                            else if (@col.ColumnName == "Pallet")
                                            {
                                                <a href="@Url.Action("Index", "PalletMaster")">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }

                                            else if (@col.ColumnName == "InnerBox")
                                            {
                                                <a href="">
                                                    <img src="~/SharedCSS/dist/img/green.png" alt="">
                                                </a>
                                            }
                                        }
                                        else
                                        {@row[col.ColumnName]
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </div>

        </div>

    </div>







</section>