﻿@model IEnumerable<JKFiles.WebApp.Models.UserRoleModel>
@{
    ViewBag.Title = "_RoleList";
    Layout = "";
}

<div class="col-md-12 ">


    <div class="table-responsive">
        <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
            <tbody>
                <tr height="36">
                    <td height="36" bgcolor="#333333"><div align="center" class="style1">@Html.DisplayName("Role Name")</div></td>
                    <td height="36" bgcolor="#333333"><div align="center" class="style1">@Html.DisplayName("Description")</div></td>
                    <td width="192" bgcolor="#333333"><div align="center" class="style1">View Assigned module</div></td>
                    <td width="181" bgcolor="#333333"><div align="center" class="style1">View/ Edit Access</div></td>
                    <td width="119" bgcolor="#333333"><div align="center" class="style1">View KRA</div></td>
                    <td width="126" bgcolor="#333333"><div align="center" class="style1">Delete</div></td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr height="27">

                        <td width="160"><div align="center">@Html.DisplayFor(m => item.RoleName) </div></td>
                        <td width="226" height="27"><div align="center">@Html.DisplayFor(m => item.Description) </div></td>
                        <td><div align="center"><a href="#"><i class="fa fa-check-square-o"></i></a></div></td>
                        <td><div align="center"> @Html.ActionLink("Edit", "Edit", new { @class = "btn btn-primary", @id = item.Role_Id })</div></td>
                        <td><div align="center"><a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="@Url.Action("Delete",new { @id=item.Role_Id})"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

