﻿@model JKFiles.WebApp.Models.UserRoleModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Role Management</h3></div>

        <div class="box-body">
            <div class="form-inline ">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.EditorFor(m => m.RoleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })

                    </div>
                    <div class="form-group">
                        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Description" } })
                    </div>

                    <button type="submit" class="btn btn-warning">Update</button>
                    <a href="#" class="btn btn-primary pull-right">Assign KRA</a>
                    <a href="#" class="btn btn-primary pull-right  mr-5    ">Assign Module</a>

                }
            </div>

            <br>

            @Html.Action("RoleList")


            @*  <div class="col-md-12 ">


                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                            <tbody>
                                <tr height="36">
                                    <td height="36" bgcolor="#333333"><div align="center" class="style1">Role</div></td>
                                    <td height="36" bgcolor="#333333"><div align="center" class="style1">Description</div></td>
                                    <td width="192" bgcolor="#333333"><div align="center" class="style1">View Assigned module</div></td>
                                    <td width="181" bgcolor="#333333"><div align="center" class="style1">View/ Edit Access</div></td>
                                    <td width="119" bgcolor="#333333"><div align="center" class="style1">View KRA</div></td>
                                    <td width="126" bgcolor="#333333"><div align="center" class="style1">Delete</div></td>
                                </tr>

                                <tr height="27">
                                    <td width="160"><div align="center">CEO</div></td>
                                    <td width="226" height="27"><div align="center">CEO</div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-check-square-o"></i></a></div></td>
                                    <td><div align="center">Edit Access</div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                                </tr>
                                <tr height="27">
                                    <td width="160"><div align="center">Sales</div></td>
                                    <td width="226" height="27"><div align="center">Sales</div></td>
                                    <td><div align="center"><a href="#"> <i class="fa fa-check-square-o"></i></a></div></td>
                                    <td><div align="center">View Access</div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a></div></td>
                                    <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> *@
        </div>

    </div>

</section>

