﻿@model JKFiles.WebApp.Models.DrawingLibraryModel
@{
    ViewBag.Title = "_NewRequest";
}
<style>
    .fa-disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>
<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="20%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Production SKU</div></td>
                <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">View</div></td>
                <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Action 1</div></td>
                <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">PDF</div></td>
                <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Action 2 </div></td>
            </tr>

            @foreach (var item in Model.new_request_list)
            {
                <tr>
                    <td height="32"><div align="center">@item.req_no</div></td>
                    <td><div align="center">@item.prod_sku</div></td>
                    <td><div align="center"><a href="@Url.Action("GenerateDrawing","ProductionDetails",new { prod_sku = item.prod_sku,req_no=item.req_no })" target="_blank" class="" id="view"><i class="fa fa-search-plus"></i></a></div></td>
                    <td><div align="center"><a href="@Url.Action("DownloadDXF","ProductionDetails",new { prod_sku = item.prod_sku,req_no=item.req_no })" class="btn btn-primary" id="dxf">Save CAD file</a></div></td>
                    <td><div align="center"><a href="@Url.Action("DownloadPDF","ProductionDetails",new { prod_sku = item.prod_sku,req_no=item.req_no })" class="text-danger" id="pdf"><i class="fa fa-file-pdf-o "></i></a></div></td>
                    <td>
                        @if (Session["Role"] != null)
                        {

                            if (Session["Role"].ToString() == "EMT_Prod_User" || Session["Role"].ToString() == "ALL_Access")
                            {
                                <div align="center">
                                    <a href="@Url.Action("SendforApproval", "DrawingMaster", new { prod_sku = item.prod_sku, req_no = item.req_no })" class="btn btn-warning" id="send">
                                        Send for Approval
                                    </a>
                                </div>
                            }
                            else
                            {<div align="center">
                            <a href="" class="btn btn-warning" id="send">
                                Send for Approval
                            </a>
                        </div> }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#view").on('click', function () {
            $("#dxf").attr("disabled", false);
        });


        $("#dxf").click(function () {
            $("#pdf").classList.remove("fa-disabled")

        });



        $("#pdf").on('click', function () {
            $("#send").attr("disabled", false);
        });

    });
</script>