﻿@model JKFiles.WebApp.Models.DrawingLibraryModel
@{
    ViewBag.Title = "_RecordsforApproval";
}
<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="25%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="25%" bgcolor="#e8e8e8" class="text-black"><div align="center">Production SKU</div></td>
                <td width="25%" bgcolor="#e8e8e8" class="text-black"><div align="center">View</div></td>
                <td width="25%" bgcolor="#e8e8e8" class="text-black"><div align="center">Action</div></td>
            </tr>
            @foreach (var item in Model.approved_records_list)
            {
                <tr>
                    <td height="45"><div align="center">@item.req_no</div></td>
                    <td><div align="center">@item.prod_sku</div></td>
                    <td><div align="center"><a href="~/pdf/dwg/@item.dwg_pdfname" target="_blank" class="text-danger"><i class="fa fa-file-pdf-o"></i></a></div></td>
                    <td>
                        @if (Session["Role"] != null)
                        {

                            if (Session["Role"].ToString() == "EMT_Prod_MGR" || Session["Role"].ToString() == "ALL_Access")
                            { <div align="center">
                            <a href="#" class="btn btn-warning approve" data-id="@item.req_no">
                                Approve
                            </a>
                        </div>
                            }
                            else
                            {
                                <div align="center">
                                    <a href="" class="btn btn-warning">
                                        Approve
                                    </a>
                                </div>
                            }
                        }

                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="approve-content"></div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(".approve").on('click', function () {
            var reqno;
            var approve1
            req_no = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Approve", "DrawingMaster")',
                data: { req_no: req_no },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    // alert(Id)
                    $("#approve-content").html(data);
                    $('#approval').modal('show');
                }
            })
        });
    });
</script>