﻿@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"> Drawing Details</h3>
            </div>
            <div class="box-body">
                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Requests</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse ">
                                

                                @Html.Action("NewRequest")
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Requests for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse ">
                                @Html.Action("ApprovedRequest")


                                
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Drawing Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <h4><a href="@Url.Action("Drawing_Library","Library")" class="">Drawing Library</a></h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="modal fade" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Request No : N25461 </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Enter Remark</label>
                        <textarea name="" cols="" rows=""></textarea>
                        <h4> Confirm Approval?</h4>
                        <a href="#" class="btn btn-primary">Approve</a>
                        <a href="#" class="btn btn-primary">Reject</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>

                </div>
            </div>
        </div>



        <div style="clear:both"></div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")