﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


    <div class="content">

        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">Cut Specification Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <table width="100%" border="1">
                                        <tr>
                                            <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                            <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Type code</div></td>
                                            <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                            <td width="8%" bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                            <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                            <td width="10%" bgcolor="#333333" class="style1"><div align="center">View/Edit</div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">5.5</div></td>
                                            <td><div align="center">Smooth</div></td>
                                            <td>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                            <td>
                                                <div align="center"><a href="#" data-toggle="modal" data-target="#newtpi"><i class="fa fa-pencil"></i></a></div>
                                                <div align="center"></div>
                                                <div align="center"></div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="28" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Type code</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                                <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">Action</div></td>
                                            </tr>
                                            <tr>
                                                <td height="33"><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">Smooth</div></td>
                                                <td>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#view"><i class="fa fa-search-plus"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>

                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Cut Specification Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#addnew">Add New </a></div>


                                    <div style="clear:both"></div>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <select class="form-control select2" style="width:100%">
                                                    <option selected="selected">File Type</option>
                                                    <option>Flat</option>
                                                    <option>Mill</option>
                                                    <option>Taper</option>
                                                    <option>Half</option>
                                                    <option>Hand</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <select class="form-control select2" style="width:100%">
                                                    <option selected="selected">File Sub Type</option>
                                                    <option>Brass</option>
                                                    <option>Aluminium</option>
                                                    <option>Handle</option>
                                                    <option>Key</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>











                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <select class="form-control select2" style="width:100%">
                                                    <option selected="selected">File Size</option>
                                                    <option>4</option>
                                                    <option>6</option>
                                                    <option>8</option>
                                                    <option>10</option>
                                                    <option>12</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <select class="form-control select2" style="width:100%">
                                                    <option selected="selected">Cut Type</option>
                                                    <option>0 Rough</option>
                                                    <option>1 Basterd</option>
                                                    <option>2 Second</option>
                                                    <option>3 Smooth</option>
                                                    <option>4 Dead Smooth</option>
                                                    <option>X Special Cut</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>


                                    </div>
                                    <br>

                                    <div style="clear:both"></div>
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="5%" rowspan="2" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" rowspan="2" bgcolor="#333333" class="style1"><div align="center">Nominal length in inches</div></td>
                                                <td width="3%" rowspan="2" bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                                <td height="27" colspan="4" bgcolor="#333333" class="style1"><div align="center">Upcut</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td colspan="4" bgcolor="#333333" class="style1">
                                                    <div align="center">Edgecut</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td colspan="4" bgcolor="#333333" class="style1">
                                                    <div align="center">Overcut</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td width="6%" rowspan="2" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                            </tr>
                                            <tr>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">General cuts </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Djakarts      </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">NATO,  B.S.S, I.S.S</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">USA, Germany </div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">General cuts </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Djakarts      </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">NATO,  B.S.S, I.S.S</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">USA, Germany </div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">General cuts </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Djakarts </div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">NATO,  B.S.S, I.S.S</div></td>
                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">USA, Germany</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center">FLF</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td>
                                                    <div align="center">4</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td width="3%"><div align="center">Bast</div></td>
                                                <td height="20" width="4%"><div align="center">40  40-42</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="4%"><div align="center">43-44</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="6%"><div align="center">OK</div></td>
                                                <td width="4%"><div align="center">34-35</div></td>
                                                <td width="5%"><div align="center">O.K.</div></td>
                                                <td width="5%"><div align="center">O.K.</div></td>
                                                <td width="10%"><div align="center">O.K.</div></td>
                                                <td width="6%"><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLH</div></td>
                                                <td><div align="center">4</div></td>
                                                <td><div align="center">2cut</div></td>
                                                <td height="20"><div align="center">45  44-46</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">51  51-52</div></td>
                                                <td><div align="center">46-47</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">53-54</div></td>
                                                <td><div align="center">38-39</div></td>
                                                <td><div align="center">O.K.</div></td>
                                                <td><div align="center">O.K.</div></td>
                                                <td><div align="center">44-45</div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">4</div></td>
                                                <td><div align="center">Smt</div></td>
                                                <td height="20"><div align="center">66  65-66</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">68-69</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">59-60</div></td>
                                                <td><div align="center">O.K.</div></td>
                                                <td><div align="center">O.K.</div></td>
                                                <td><div align="center">O.K.</div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">5</div></td>
                                                <td><div align="center">Bast</div></td>
                                                <td height="20"><div align="center">35  35-36</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">37-38</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">29-30</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">5</div></td>
                                                <td><div align="center">2cut</div></td>
                                                <td height="20"><div align="center">43  43-44</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">45-46</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">37-38</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">5</div></td>
                                                <td><div align="center">Smt</div></td>
                                                <td height="20"><div align="center">59  59-60</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">61-62</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">53-54</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center">OK</div></td>
                                                <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">10</div></td>
                                                <td width="3%"><div align="center">XX</div></td>
                                                <td height="20" width="4%">
                                                    <div align="center">
                                                        <table cellspacing="0" cellpadding="0">
                                                            <td height="20" width="74">18-19</td>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="4%"><div align="center"> 12-13</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="6%"><div align="center">OK</div></td>
                                                <td width="4%"><div align="center">16-17</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="5%"><div align="center">OK</div></td>
                                                <td width="10%"><div align="center">OK</div></td>
                                                <td width="6%"><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                        </table>


                                    </div>





                                    <div style="clear:both"></div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>








            </div>

        </div>










        <div class="modal fade bd-example-modal-md" id="newtpi" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newtpi">New </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="150">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="60">Upload</th>
                                    </tr>

                                    <tr>
                                        <td>File Type Code</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="FLF" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>File Size</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="5.5" /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Cut Type</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="Smooth" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Cut Standard Name</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="Asia" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Upcut Range</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="45" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Upcut Value</td>
                                        <td><input type="text" name="textfield2" id="textfield3" value="40" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Range </td>
                                        <td><input type="text" name="textfield2" id="textfield4" value="45" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Value</td>
                                        <td><input type="text" name="textfield" id="textfield" value="45" /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Edgecut Range </td>
                                        <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Edgecut Value </td>
                                        <td><input type="text" name="textfield" id="textfield" value="90" /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>










        <div class="modal fade bd-example-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newtpi">New </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="150">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="60">Upload</th>
                                    </tr>

                                    <tr>
                                        <td>File Type Code</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="FLF" readonly /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>File Size</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="5.5" readonly /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Cut Type</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="Smooth" readonly /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Cut Standard Name</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="Asia" readonly /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Upcut Range</td>
                                        <td><input type="text" name="textfield2" id="textfield2" value="45" readonly /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Upcut Value</td>
                                        <td><input type="text" name="textfield2" id="textfield3" value="40" readonly /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Range </td>
                                        <td><input type="text" name="textfield2" id="textfield4" value="45" readonly /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Value</td>
                                        <td><input type="text" name="textfield" id="textfield" value="45" readonly /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Edgecut Range </td>
                                        <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Edgecut Value </td>
                                        <td><input type="text" name="textfield" id="textfield" value="90" readonly /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark" disabled></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>











        <div class="modal fade bd-example-modal-md" id="addnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newtpi">New </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="150">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="60">Upload</th>
                                    </tr>

                                    <tr>
                                        <td>File Type </td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Type</option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>File Sub Type </td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Sub Type</option>
                                                <option>Brass</option>
                                                <option>Aluminium</option>
                                                <option>Handle</option>
                                                <option>Key</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>File Size</td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Size</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Cut Type</td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">Cut Type</option>
                                                <option>0 Rough</option>
                                                <option>1 Basterd</option>
                                                <option>2 Second</option>
                                                <option>3 Smooth</option>
                                                <option>4 Dead Smooth</option>
                                                <option>X Special Cut</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Select Cut Standard </td>
                                        <td>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option disabled selected>Cut Standard</option>
                                                <option>New </option>
                                                <option>General </option>
                                                <option>NATO</option>
                                                <option>USA</option>

                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Cut Standard Name</td>
                                        <td><input type="text" name="textfield2" id="textfield2" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Upcut Range</td>
                                        <td><input type="text" name="textfield2" id="textfield2" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Upcut Value</td>
                                        <td><input type="text" name="textfield2" id="textfield3" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Range </td>
                                        <td><input type="text" name="textfield2" id="textfield4" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Overcut Value</td>
                                        <td><input type="text" name="textfield" id="textfield" /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td>Edgecut Range </td>
                                        <td><input type="text" name="textfield" id="textfield" /></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Edgecut Value </td>
                                        <td><input type="text" name="textfield" id="textfield" /></td>
                                        <td></td>
                                    </tr>


                                    <tr>
                                        <td colspan="3"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Remark"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>




        <div style="clear:both"></div>

    </div>

