﻿@using PagedList.Mvc
@model PagedList.IPagedList<JKFiles.WebApp.Models.ChangeNoteModel>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->

<section class="content">


    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs">            
            <a href="Index">
                <input type="button" class="btn btn-default pull-right" style="margin-right:5px; margin:10px;" value="Show All" />                
            </a>
            <a href="RunBatchProcess">
                <input type="button" class="btn btn-primary pull-right" style="margin-right:5px; margin:10px;" value="Run Batch Process" />

            </a>
        </ul>
        <div class="col-md-12 ">  </div>
        <div class="tab-content">
            <!-- Morris chart - Sales -->
            <div class=" tab-pane active" id="itemmaster">
                <div class="">
                    <img src="~/Content/Images/loader.gif" id="loading" style="display:none" />
                    <div class="table-responsive" id="itemmastergrid">
                        <table width="100%" border="1">
                            <tr>
                                <td width="120" height="30" bgcolor="#333333"><div align="center"><span class="style2">SKU </span></div></td>
                                <td width="91" bgcolor="#333333"><div align="center"><span class="style2">SKU History</span></div></td>
                                <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Drawing Revision No</span></div></td>
                                <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Approval Date</span></div></td>
                                <td width="91" bgcolor="#333333"><div align="center"><span class="style2">End Date</span></div></td>
                                <td width="190" bgcolor="#333333"><div align="center"><span class="style2">Description</span></div></td>
                                <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Customer SKU</span></div></td>
                            </tr>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>

                                    <td>
                                        <div align="center">
                                            <a href="@Url.Action("Index", "NewPartReqView", new { partno = @Model[i].RequestNumber })" class="link">
                                                <span class="jk-color-blue">@Model[i].split1</span><span class="jk-color-red">@Model[i].split2</span><span class="jk-color-blue">@Model[i].split3</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td><div align="center">@Model[i].VerNo</div></td>
                                    <td><div align="center"></div></td>
                                    <td><div align="center">@Model[i].ApprovedDate</div></td>
                                    <td><div align="center">@Model[i].endDate</div></td>
                                    <td><div align="center">@Model[i].Description</div></td>
                                    <td><div align="center">@Model[i].CustpartNo</div></td>
                                </tr>

                            }
                        </table>
                        <div id="container" style="margin-left: 20px">
                            <p></p>
                            <p></p>
                            <div class="pagination" style="margin-left: 400px">
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index",new { page }))
                            </div>
                        </div>

                    </div>
                </div>
                <div style="clear:both"></div>

            </div>           
        </div>
    </div>
</section>