﻿
@model JKFiles.WebApp.Models.CutSpecsModel
@{
    Layout = null;
    int n = 1;
}
<p class="pull-right">All values are in threads/inch</p>
<div style="clear:both;"></div>
<div class="table-responsive">

    @{
        int j = 0;
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tbody>

                @if (Model.CutLocationTpiMasterModelList != null && Model.CutLocationTpiMasterModelList.Count > 0)
                 {
                    <tr>
                        <td width="114" bgcolor="#e8e8e8"><div align="center">Side/Edge</div></td>
                        <td width="114" bgcolor="#e8e8e8"><div align="center">Up cut values</div></td>
                        <td width="114" bgcolor="#e8e8e8"><div align="center">Over cut values</div></td>
                        <td width="114" bgcolor="#e8e8e8"><div align="center">Edge cut values</div></td>
                    </tr>
                }
                
                    @foreach (var i in Model.CutLocationTpiMasterModelList.ToList())
                    {

                        <tr>
                            <td width="114"><div align="center">@i.vtpi_parm_value</div></td>
                            @*<td>@i.vtpi_cut_std_code</td>*@
                            @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_parm_value)
                            @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_cut_std_code, @i.vtpi_cut_std_code)
                            @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_cut_std_name)
                            @if (i.vtpi_upcut_flg == true)
                             {
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_upcut_flg)
                                <td width="114" bgcolor="" class="text-black"><div align="center">@i.UPCUT</div></td>
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].UPCUT)
                            }
                            else
                            {
                                <td width="114" class=" text-black"><div align="center">NA</div></td>
                            }

                            @if (i.vtpi_overcut_flg == true)
                            {
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_overcut_flg)
                                <td width="114" bgcolor="" class="text-black"><div align="center">@i.OVERCUT</div></td>
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].OVERCUT)
                            }
                            else
                            {
                                <td width="114" class=" text-black"><div align="center">NA</div></td>
                            }
                            @if (i.vtpi_edgecut_flg == true)
                            {
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].vtpi_edgecut_flg)
                                <td bgcolor="" class="text-black"><div align="center">@i.EDGE</div></td>
                                @Html.HiddenFor(m => m.CutLocationTpiMasterModelList[j].EDGE)
                            }
                            else
                            {
                                <td width="114" class="text-black"><div align="center">NA</div></td>
                            }
                        </tr>

                        j++;
                    }
                

        </table>

    }

</div>
