﻿
@model JKFiles.WebApp.Models.CutSpecsModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}



<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}

            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                    <li class="active">@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                    <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="@Url.Action("CutSpecs", "ProductionDetails" )" method="post">
                        <div class="" id="production">
                            <div style="clear:both"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs">
                                    <li>@Html.ActionLink("File Specs", "getFileSpecsDetails", "ProductionDetails")</li>
                                    <li class="active">@Html.ActionLink("Cut Specs", "getCutSpecsBacksave", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Stamp", "getStampBacksave", "ProductionDetails")</li>
                                    @*<li>@Html.ActionLink("Raw Material", "getRawMaterialBacksave", "ProductionDetails")</li>
                                        <li>@Html.ActionLink("Drawing", "DrawingTab", "ProductionDetails")</li>*@
                                </ul>
                                <div class="tab-content">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="cut">
                                        <div style="clear:both"></div>
                                        <div class="form-group col-md-3 ">
                                            <label> Cut Standard </label>
                                            @if (Model.tpiCutStandardList.Count != 0 && (Model.tpiCutStandardList != null))
                                            {
                                                @Html.DropDownListFor(model => model.vtpi_cut_std_name, new SelectList(Model.tpiCutStandardList, "vtpi_cut_std_code", "vtpi_cut_std_name"), "Select", new { @class = "form-control select2", @id = "vtpi_cut_std_name" })
                                                @Html.HiddenFor(m => m.vtpi_cut_std_name)
                                                @Html.ValidationMessageFor(m => m.vtpi_cut_std_name, null, new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                <select class="form-control select2" id="vtpi_cut_std_name">
                                                    <option>Select</option>

                                                </select>
                                            }
                                        </div><!-- /.form-group -->

                                        <div style="clear:both"></div>
                                        <div id="divPartialView">
                                           

                                        </div>

                                    </div>


                                </div>

                                <div style="clear:both;"></div>
                                <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                                <button id="btnSubmit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</button>



                            </div>
                    </form>

                </div>
            </div>

            <div class="modal fade bd-example-modal-md" id="Cutspecnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        <form id="form1">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filenew">Add New Cut Standard </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody id="tablePartialCutSpecs"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" id="CutspecsAdd"  class="btn btn-primary">Ok</button>
                            </div>
                        </form>
                        @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
                    </div>
                </div>
            </div>
        </div>
        <!--  By Swapnil   -->
        <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
            <h4>New Entries Under these Fields</h4>
            @Html.Action("NewReqList", "CustomerDetails")
        </div>
        <!--  By Swapnil    -->
    </div>
</section>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#Item_Menu").css("color", "#f39c12");

        if ($("#vtpi_cut_std_name").val() != "Select") {
            var selectedCutStandardName = $("#vtpi_cut_std_name").val();
            $.ajax({
                url: '@Url.Action("getCutLocationTpiMasterDetails", "ProductionDetails")',
                data: { selectedCutStandardName: selectedCutStandardName },
                type: 'GET',
                dataType: "html",
                // dataType: "json",
                success: function (data) {
                    console.log(data);
                    //  alert(data);
                    $("#divPartialView").html(data); //replace the current table
                },
                error: function () {
                   // alert("No Records Found");
                }
            });
        }



        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#Cutspecnew";
        var select = document.getElementById("vtpi_cut_std_name");
        select.insertBefore(optionfsize, select.childNodes[1]);



        $.ajax({
            url: '@Url.Action("checkCutspec", "ProductionDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#vtpi_cut_std_name").val('#Cutspecnew').trigger('change.select2');
                    $("#vtpi_cut_std_name").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#vtpi_cut_std_name").prop("disabled", false);
                }
            }
        });


        @*$(function () {
            $("#CutspecsAdd").click(function () {
                
                var masterModule = getCutSpecs();
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("CutspecsAdd", "ProductionDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);

                });
            });
        });
        function getCutSpecs() {
            
            //var fcl_ftype_code = $('#1').val();
            var cutStandardCode = $('#1').val();
            var cutStandardName = $('#2').val();
            var upcutrange = $('#3').val();
            var upcutvalue = $('#4').val();
            var ovcutrange = $('#5').val();
            var ovcutvalue = $('#6').val();
            var edcutrange = $('#7').val();
            var edcutvalue = $('#8').val();

            return (cutStandardCode == "") ? null : { cutStandardCode: cutStandardCode, cutStandardName: cutStandardName, upcutrange: upcutrange, upcutvalue: upcutvalue, ovcutrange: ovcutrange, ovcutvalue: ovcutvalue, edcutrange: edcutrange, edcutvalue: edcutvalue };
        }*@



        $(function () {
            $("#CutspecsAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialCutSpecs tr").length;
                //  var str = $("#pn_ftype_code").val();
                //  var filesubtype1 = str[2];
                //  var pm_file_code = $("#pn_fsize_code").val();
                //  var pm_fsize_code = $("#pn_ftype_code").val();

                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 2) {
                        AllValue.push({
                            pm_dim_parm_dwgvalue: $("#tablePartialCutSpecs tr #Range1 input").eq(i).val(),
                        });
                    }
                    else {
                        AllValue.push({

                            prc_parameter_value: $("#tablePartialCutSpecs tr td#valuename1").eq(i).text(),
                            prc_parameter_name: $("#tablePartialCutSpecs tr td#valuename3").eq(i - 2).text(),
                            pm_dim_parm_dwgvalue: $("#tablePartialCutSpecs tr #Range1 input").eq(i).val(),
                            pm_dim_parm_scrnvalue: $("#tablePartialCutSpecs tr #Range2 input").eq(i - 2).val()
                        });
                    }
                }
                var postData = AllValue;
                if ($("#tablePartialCutSpecs tr #Range1 input").eq(8).val() == "" || $("#tablePartialCutSpecs tr #Range2 input").eq(6).val() == "")
                {
                    alert('Please Enter Remark!');
                }
                else
                {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CutspecsAdd", "ProductionDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('CutSpec Inserted Succesfully');
                            location.reload();
                           
                        },
                    });
                }
               
            });
        });



        $("#vtpi_cut_std_name").change(function () {
            //  alert("Changed");
            var selectedCutStandardName = $("#vtpi_cut_std_name").val();

            if ($(this).val() == "#Cutspecnew") {
                

                $("#tablePartialCutSpecs").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("_cutspecsMasterAdd", "ProductionDetails")',
                    data: {},
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialCutSpecs").append(row);
                        for (var i = 0; i < data.ReqParlist.length; i++) {
                            if (data.ReqParlist[i].tpi_newrm_numinputs > 1) {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm1 + '</td>'
                                 + '<td id="valuename3">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                                 + '<td id="Range1"> <input type="text" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                                 + '<td id="Range2"><input type="text" class="form-control" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td> </tr>';
                                $("#tablePartialCutSpecs").append(row);
                            }
                            else {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                                 + '<td id="valuename3>"' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                                 + '<td id="Range1" colspan="2"> <input type="text" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                                $("#tablePartialCutSpecs").append(row);
                            }

                        }
                        //$("#pn_fsize_code").val(data.sizecode);
                        //$("#pn_ftype_code").val(data.filecode);
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
                $('#Cutspecnew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getCutLocationTpiMasterDetails", "ProductionDetails")',
                    data: { selectedCutStandardName: selectedCutStandardName },
                    type: 'GET',
                    dataType: "html",
                    // dataType: "json",
                    success: function (data) {
                        console.log(data);
                        //  alert(data);
                        $("#divPartialView").html(data); //replace the current table
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }
        });



       

        SelectRemark();
    });



    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkProductionDetails", "ProductionDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Cut Specs'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }

    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "ProductionDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Cut Specs',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }


</script>