﻿
<form id="form1">

    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New Size </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="100">Parameter Name</th>
                        <th width="144">Parameter Value</th>
                       
                    </tr>
                    @foreach (var list in Model.ReqParlist)
                    {
                        <tr>
                            <td> @list.nrm_parameter</td>
                            @if (@list.nrm_input_type == "number")
                            {
                                <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_seqno"  /></td>
                                //pattern = "/^-?\d+\.?\d*$/" onKeyPress = "if(this.value.length==@list.nrm_max_length) return false;"
                            }
                            else
                            {
                                <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_seqno" maxlength="@list.nrm_max_length" /></td>
                            }


                          
                        </tr>
                    }
                    @*@foreach (var list in Model.ReqParlist)
                    {
                        <tr>
                            <td> @list.nrm_parameter</td>

                            <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_seqno" /></td>

                            <td></td>
                        </tr>
                    }*@
                </tbody>
            </table>
            <div><span id="resultMessage"></span></div>
            @*<p>Note: complete flow at master end</p>*@
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="FileSizeAdd"    class="btn btn-primary">Ok</button>
    </div>
</form>
