﻿

<form id="form1"> 

    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New File Sub type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <div id="scroll-wrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="150">Parameter Category</th>
                            <th width="150">Parameter Name</th>
                            <th width="144">Parameter Range</th>
                            <th width="144">Parameter Value</th>
                        </tr>
                        @foreach (var list in Model.ReqParlist)
                        {
                            if (@list.nrm_numof_inputs == 1)
                            {
                                <tr>
                                    <td colspan="2"> @list.nrm_parameter</td>
                                    <td colspan="2"><input type="@list.nrm_input_type" class="form-control" rows="80" cols="20" id="@list.nrm_createby@list.nrm_seqno" /></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td><p id="@list.nrm_input_type@list.nrm_seqno">@list.nrm_parameter</p></td>
                                    <td><input type="@list.nrm_input_type" class="form-control" name="@list.nrm_createby@list.nrm_seqno" /></td>
                                    <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_createby@list.nrm_seqno" /></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div><span id="resultMessage"></span></div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="FileSubTypeAdd"  class="btn btn-primary">Ok</button>
    </div>
</form>


