﻿
@model JKFiles.WebApp.Models.ProductionMasterModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content-header"></section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                    <li class="active">@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                    <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="@Url.Action("Index","ProductionDetails")" method="post">
                        @Html.ValidationSummary(true)
                        <div class="" id="production">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>
                                @*<input type="text" class="form-control " id="" placeholder="Customer 1" readonly>*@
                                @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                            </div><!--/.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Country </label>
                                @*<input type="text" class="form-control " id="" placeholder="India" readonly>*@
                                @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->

                        <div style="clear:both"></div>




                        <div class="nav-tabs-custom" style="cursor: move;">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs">
                                <li class="active">@Html.ActionLink("File Specs", "getFileSpecsDetails", "ProductionDetails")</li>
                                <li>@Html.ActionLink("Cut Specs", "getCutSpecsBacksave", "ProductionDetails")</li>
                                <li>@Html.ActionLink("Stamp", "getStampBacksave", "ProductionDetails")</li>
                                @*<li>@Html.ActionLink("Raw Material", "getRawMaterialBacksave", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Drawing", "DrawingTab", "ProductionDetails")</li>*@
                            </ul>
                            <div class="tab-content">
                                <!-- Morris chart - Sales -->
                                <div class="tab-pane active" id="file">
                                    <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Size(Inch) </label>
                                            @*<select class="form-control select2" id="selectbox2" style="width:100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option value="#sizenew">New</option>
                                                    <option>2</option>
                                                    <option>4</option>
                                                    <option>6</option>
                                                    <option>8</option>
                                                    <option>10</option>
                                                    <option>12</option>
                                                </select>*@
                                            @Html.DropDownListFor(model => model.FileSize, new SelectList(Model.filesizelist, "fs_size_inches", "fs_size_inches"), "Select", new { id = "ddlFileSize", @class = "form-control select2", @style = "width:100%;" })
                                            @Html.ValidationMessageFor(m => m.FileSize, null, new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.filesizecode)
                                            @*@Html.DropDownList("ddlFileSize", new SelectList((System.Collections.IEnumerable)ViewData["FileSize"], "FileSize", "FileSize"), "Select", new { @class = "form-control select2", @style = "width:100%;" })*@

                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Type </label>
                                            @*<select class="form-control select2" style="width:100%" id="selectbox3">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option value="#filenew">New</option>
                                                    <option>Flat</option>
                                                    <option>Mill</option>
                                                    <option>Taper</option>
                                                    <option>Half</option>
                                                    <option>Hand</option>
                                                </select>*@

                                            @Html.DropDownListFor(m => m.FileType, new SelectList(Model.filetTypelist, "ft_ftype_desc", "ft_ftype_desc"), "Select", new { id = "ddlfiletype", @class = "form-control select2", @style = "width:100%;" })
                                            @Html.ValidationMessageFor(m => m.FileType, null, new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.filetypecode)
                                            @*@Html.DropDownList("ddlFileType", new SelectList((System.Collections.IEnumerable)ViewData["FileType"], "FileType", "FileType"), "Select", new { @class = "form-control select2", @style = "width:100%;" })*@


                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Sub Type </label>

                                            @Html.DropDownListFor(model => model.FileSubType, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { id = "ddlFileSubType", @class = "form-control select2", @style = "width: 100%;" })

                                            @Html.ValidationMessageFor(m => m.FileSubType, null, new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.filesubtypecode)
                                            @Html.HiddenFor(m => m.subtype)
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Code </label>
                                            @Html.TextBoxFor(m => m.Filecode, new { @class = "form-control", @readonly = "readonly", placeholder = "File code" })
                                            @*<input type="text" class="form-control  " id="uppercase" placeholder="Type File Code " maxlength="3">*@
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">Cut Type </label>
                                                @*<select class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Select </option>
                        <option>0 Rough Cut</option>
                        <option>1 Basterd Cut</option>
                        <option>2 Second Cut</option>
                        <option>3 Smooth Cut</option>
                        <option>4 Dead Smooth</option>
                        <option>X Special Cut</option>
                    </select>*@
                                                @Html.DropDownListFor(model => model.CutType, new SelectList(Model.CutTypelist, "fc_cut_type", "fc_cut_type"), "Select", new { id = "ddlCutType", @class = "form-control select2", @style = "width:100%;" })
                                                @Html.ValidationMessageFor(m => m.CutType, null, new { @class = "text-danger" })
                                                @Html.HiddenFor(m => m.cuttypecode)

                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @*<label for="" class=""> Tang Color </label>*@
                                                <label for="" class="">
                                                    Tang Tempering
                                                </label>
                                                @*<select class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Select </option>
                        <option>Gray</option>
                        <option>Black</option>

                    </select>*@
                                                @Html.DropDownListFor(model => model.TangColor, new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Yes", Value = "Yes"},
             new SelectListItem { Text = "No", Value = "No"}
             }, "Value", "Text"), "Select", new { @class = "form-control select2", @style = "width:100%;" })
                                                @*@Html.DropDownListFor(model => model.TangColor, new SelectList(Model.TangColorlist, "tc_color_name", "tc_color_name"), "Select", new { @class = "form-control select2", @style = "width:100%;" })*@
                                                @Html.ValidationMessageFor(m => m.TangColor, null, new { @class = "text-danger" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#edit" onclick="fileDetailsListview()" style="margin-top:25px;">View Details</a>
                                        </div>
                                        </div>
                                        @*<div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Hardness(HRC) </label>
                    @Html.TextBoxFor(m => m.HRC, new { @class = "form-control", placeholder = "Hardness", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>*@

                                        <div style="clear:both"></div>


                                        @*<div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Uncut at Tang/Shoulder(mm) </label>
                    @*<input type="text" class="form-control " id="" placeholder="Uncut at Tang/shoulder" readonly>
                    @Html.TextBoxFor(m => m.USL, new { @class = "form-control", placeholder = "Uncut at Tang/shoulder", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>*@

                                        @*<div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Uncut at Point </label>
                    @Html.TextBoxFor(m => m.UPL, new { @class = "form-control", placeholder = "Uncut at Point", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Uncut at Edge(mm) </label>
                    @Html.TextBoxFor(m => m.UEL, new { @class = "form-control", placeholder = "Uncut at Edge", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>

            <div style="clear:both"></div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Upcut Inclination </label>
                    @Html.TextBoxFor(m => m.IUP, new { @class = "form-control", placeholder = "Upcut Inclination", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>



            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Overcut Inclination </label>
                    @Html.TextBoxFor(m => m.IOV, new { @class = "form-control", placeholder = "Overcut Inclination", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>



            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class=""> Edgecut Inclination </label>
                    @Html.TextBoxFor(m => m.IEG, new { @class = "form-control", placeholder = "Edgecut Inclination", @readonly = "readonly" })
                </div><!-- /.form-group -->
                <!-- /.form-group -->
            </div>*@




                                        <div style="clear:both"></div>
                                    </div>


                                @*<div class="chart tab-pane" id="cut">

                                        <div style="clear:both"></div>


                                        <div class="form-group col-md-3 ">
                                            <label for="" class=""> Side 1 </label>
                                            <select class="form-control select2" style="width: 100%;" id="selectbox5">
                                                <option selected="selected" disabled>Select </option>
                                                <option value="#newtpi">New</option>
                                                <option>General</option>
                                                <option>USA (ASS)/GERMAN (DIN) </option>
                                                <option>NATO/BSS/ISS</option>
                                                <option>DJAKARTS</option>
                                            </select>
                                        </div><!-- /.form-group -->


                                        <div class="form-group col-md-3 ">
                                            <label for="" class=""> Side 2 </label>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Not Applicable</option>
                                                <option>New</option>
                                                <option>General</option>
                                                <option>USA (ASS)/GERMAN (DIN) </option>
                                                <option>NATO/BSS/ISS</option>
                                                <option>DJAKARTS</option>
                                            </select>
                                        </div><!-- /.form-group -->



                                        <div class="form-group col-md-3 ">
                                            <label for="" class=""> Edge 1 </label>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Not Applicable</option>
                                                <option>New</option>
                                                <option>General</option>
                                                <option>USA (ASS)/GERMAN (DIN) </option>
                                                <option>NATO/BSS/ISS</option>
                                                <option>DJAKARTS</option>
                                            </select>
                                        </div><!-- /.form-group -->




                                        <div class="form-group col-md-3 ">
                                            <label for="" class=""> Edge 2 </label>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Not Applicable</option>
                                                <option>New</option>
                                                <option>General</option>
                                                <option>USA (ASS)/GERMAN (DIN) </option>
                                                <option>NATO/BSS/ISS</option>
                                                <option>DJAKARTS</option>
                                            </select>
                                        </div><!-- /.form-group -->




                                        <div style="clear:both"></div>


                                        <div class="col-md-3">
                                            <div class="form-group col-md-6">
                                                <input type="checkbox" class="flat-red" checked>
                                                <label for="radio1" class="mr-5">U/C</label>
                                            </div><!-- /.form-group -->

                                            <div class="form-group col-md-6">
                                                <input type="checkbox" class="flat-red" checked>
                                                <label for="radio1" class="mr-5">O/C</label>
                                            </div><!-- /.form-group -->
                                            <div style="clear:both"></div>



                                        </div>


                                        <div class=" col-md-3 ">
                                            <div class="form-group col-md-6">
                                                <input type="checkbox" class="flat-red" checked>
                                                <label for="radio1" class="mr-5">U/C</label>
                                            </div><!-- /.form-group -->

                                            <div class="form-group col-md-6">
                                                <input type="checkbox" class="flat-red" checked>
                                                <label for="radio1" class="mr-5">O/C</label>
                                            </div><!-- /.form-group -->
                                            <div style="clear:both"></div>



                                        </div>



                                    </div>

                                    <div class="chart tab-pane" id="stampm">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Stamp Type </label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option>Emboss </option>
                                                    <option>Laser</option>
                                                    <option>Pad</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Stamp Chart Ref No </label>
                                                <select class="form-control select2" style="width: 100%;" id="selectbox6">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option value="#stampnew">New </option>
                                                    <option>151 </option>
                                                    <option>152</option>
                                                    <option>153</option>

                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">

                                            <br>


                                            <!--<a href="#"  data-toggle="modal" data-target="#process" class="btn btn-primary">Process BOM</a>
                                            -->


                                            <a href="dist/H - 178 - ITI - laser marking.pdf" target="_blank" class="btn btn-primary ">View Stamp Pdf</a>
                                        </div>
                                    </div>

                                    <div class="chart tab-pane" id="raw">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Code </label>
                                                <input type="text" class="form-control " id="" placeholder="Type RM Code">
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Height </label>
                                                <input type="text" class="form-control " id="" placeholder="RM Height" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Width </label>
                                                <input type="text" class="form-control " id="" placeholder=" RM Width" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">RM Weight Kg/ 1000</label>
                                                <input type="text" class="form-control " id="" placeholder="RM Weight Kg/ 1000" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Net Weight </label>
                                                <input type="text" class="form-control " id="" placeholder="Net Weight" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>

                                    <div class="chart tab-pane" id="dwrg">

                                        <a href="#" class="btn btn btn-primary pull-right mr-5"> Download PDF</a> <br>
                                        <img src="~/SharedCSS/dist/img/drawing.jpg" class="img-responsive">

                                    </div>*@

                            </div>
                        </div>

                        <div style="clear:both;"></div>
                        <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

                        @*<a class="btn jk-btn-app bg-blue" id="btnSubmit"><i class="fa fa-save"></i> Save</a>*@
                        <button id="btnSubmit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</button>


                </div>
                </form>
            </div>
        </div>
        <!--  By Swapnil   -->
        <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
            <h4>New Entries Under these Fields</h4>
            @Html.Action("NewReqList", "CustomerDetails")
        </div>
        <!--  By Swapnil    -->
    </div>
    @*</div>*@
</section>
<!-- By Swapnil-->
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="fileSizenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @*@Html.Partial("_MasterAdd",masterModule5)*@
            @*@Html.ActionLink("load partial view", "_MasterAdd", "CustomerDetails")*@
            @Html.Action("_FileSizeMasterAdd", "ProductionDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="filetypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @*@Html.Partial("_MasterAdd",masterModule5)*@
            @*@Html.ActionLink("load partial view", "_MasterAdd", "CustomerDetails")*@
            @Html.Action("_FileTypeMasterAdd", "ProductionDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="FileSubType" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Action("_FileSubTypeMasterAdd", "ProductionDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Sub Type </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="scroll-wrap">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="708"><span>Parameter</span> Name</th>
                                    <th width="266"><span>Parameter</span> Range</th>
                                    <th width="279"><span>Parameter</span> Value</th>
                                </tr>
                            </tbody>
                            <tbody id="filetbl1">
                                <tr>
                                    <td colspan="4"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#Item_Menu").css("color", "#f39c12");
        //$("#Item_Menu").c("color", "#f39c12");
        SelectRemark();
        //#region autobind ddl of subtype from size and type selection
        if ($("#ddlfiletype").val() != "Select") {
            var filetype = $("#ddlfiletype").val();
            var filesize = $("#filesizecode").val();
            $.getJSON('@Url.Action("getFileSubType", "ProductionDetails")', { FileSize: filesize, fileType: filetype },
                      function (data) {
                          var select = $("#ddlFileSubType");
                          var subtype = $("#subtype").val();
                          // alert(subtype);
                          select.empty();
                          select.append($('<option/>', {
                              value: 0,
                              text: "Select"
                          }));
                          select.append($('<option/>', {
                              value: "#FileSubType",
                              text: "New"
                          }));

                          $.each(data, function (i, data) {
                              // alert(data.FileSubType)// bind the dropdown list using json result
                              // alert(subtype);
                              // alert(data.FileSubType);
                              //if ($(this).text() == theText) {
                              //    $(this).attr('selected', 'selected');
                              //}
                              select.append($('<option/>', {
                                  value: data.FileSubType,
                                  text: data.FileSubType
                                  //selected: true,
                              }));

                              if (subtype == data.FileSubType) {

                                  $("#ddlFileSubType").val(data.FileSubType).trigger('change.select2');
                              }
                              //else {
                              //    $("#ddlFileSubType").val(subtype).trigger('change.select2');
                              //}
                              //$("#ddlFileSubType option[value='" + data.FileSubType + "']").attr('selected', 'selected');
                              //$("#select2-ddlFileSubType-container").val(data.FileSubType);

                              //$("#ddlFileSubType > [value=" + data.FileSubType + "]").attr("selected", "true");

                              //$("#ddlFileSubType").val(data.FileSubType).attr('selected', 'selected');
                              //$('#FileSubType').find('option[value="REGULAR"]').attr('selected', 'selected');
                              //$('#FileSubType option').map(function () {
                              //    if ($(this).text() == data.FileSubType) return this;
                              //}).attr('selected', 'selected');





                          });
                      });
        }

        //#endregion


        debugger
        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#fileSizenew";
        var select = document.getElementById("ddlFileSize");
        select.insertBefore(optionfsize, select.childNodes[1]);

        //var optionftype = document.createElement("option");
        //var newOptionftypeText = "New";
        //optionftype.text = newOptionftypeText;
        //optionftype.value = "#filetypenew";
        //var select1 = document.getElementById("ddlfiletype");
        //select1.insertBefore(optionftype, select1.childNodes[1]);

        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#FileSubType";
        var select = document.getElementById("ddlFileSubType");
        select.insertBefore(optionfsize, select.childNodes[1]);

        $.ajax({
            url: '@Url.Action("checkfilesize", "ProductionDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#ddlFileSize").val('#fileSizenew').trigger('change.select2');
                    $("#ddlFileSize").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#ddlFileSize").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkfilesubtype", "ProductionDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                
                if (data.pm_fsize_code == 'undefined' || data == 'ok') {
                    $("#ddlFileSubType").prop("disabled", false);
                }
                else {
                    if (data.pm_fsize_code == '0Z') {
                        //   $('#ddlFileSize').select2(data.pm_fsize_code, { id: data.pm_fsize_code, a_key: data.pm_fsize_code });
                        $("#ddlFileSize").val('#fileSizenew').trigger('change.select2');
                        $("#ddlFileSize").prop("disabled", true);
                        $("#Filecode").val(data.pm_ftype_code + '0');
                        $("#filesizecode").val(data.pm_fsize_code);
                        $("#ddlfiletype").val(data.pm_ftype_desc).trigger('change.select2');
                        //$("#ddlfiletype").prop("disabled", true);
                        $("#filetypecode").val(data.pm_ftype_code);
                        $("#ddlFileSubType").val('#FileSubType').trigger('change.select2');
                        $("#ddlFileSubType").prop("disabled", true);
                    }
                    else {
                        //   $('#ddlFileSize').select2(data.pm_fsize_code, { id: data.pm_fsize_code, a_key: data.pm_fsize_code });
                        $("#ddlFileSize").val(parseFloat(data.pm_fsize_desc).toFixed(1)).trigger('change.select2');
                        $("#ddlFileSize").prop("disabled", true);
                        $("#Filecode").val(data.pm_ftype_code + '0');
                        $("#filesizecode").val(data.pm_fsize_code);
                        $("#ddlfiletype").val(data.pm_ftype_desc).trigger('change.select2');
                        $("#filetypecode").val(data.pm_ftype_desc);
                        //$("#ddlfiletype").prop("disabled", true);
                        $("#filetypecode").val(data.pm_ftype_code);
                        $("#ddlFileSubType").val('#FileSubType').trigger('change.select2');
                        $("#ddlFileSubType").prop("disabled", true);
                    }

                }
            }
        });


        $(function () {
            $("#FileSizeAdd").click(function () {
                
                var masterModule = getFileSize();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter Filesize & Remark!");
                    return false;
                }
                //var ImageFile = $("#imageUpload").get(0).files;
                // HttpPostedFileBase img = $('input[type="file"]').val();
                // take the data and post it via json
                $.post("@Url.Action("FileSizAdd", "ProductionDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);

                });


            });
        });
        $(function () {
            $("#FileTypeAdd").click(function () {
                
                var masterModule = getFiletype();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return false;
                }

                // var masterModule = new FormData($('input[name=1]')[0].files[0]);
                // var ImageFile = $('input[name=1]').get(0).files;
                //if (ImageFile.length > 0) {
                //    data.append("ImageFile", ImageFile[0]);
                //}
                @*$.ajax({
                    url: '@Url.Action("FiletypeAdd", "ProductionDetails")'
                    , type: "POST"
                    , processData: false
                    , data: masterModule
                    //, dataType: 'json'
                  //  , contentType: false
                    ,enctype: 'multipart/form-data',
                    success: function (response) {

                        },
                    error: function (er) { }

                    });*@
                $.post("@Url.Action("FiletypeAdd", "ProductionDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });


            });
        });
        $(function () {
            $("#FileSubTypeAdd").click(function () {
                
                var masterModule3 = getFilesubtype();
                //   Swapnil validation
                if (masterModule3 == null) {
                    alert("Please Enter Remark!");
                    return false;
                }
                $.post("@Url.Action("FilesubtypeAdd", "ProductionDetails")", masterModule3, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getFilesubtype() {
            
            var subtypename = $('#FST1').val();
            var subtypecode = $('#STC2').val();
            var rmcode = $('#RMC3').val();
            var wtinkgthousand = $('#RMK4').val();
            var description = $('#RMD5').val();
            var width = $('#RMW6').val();
            var thikness = $('#RMT7').val();
            var gmssku = $('#RMG8').val();
            var mood_length = $('#CML9').val();
            var lengthmm = $('#BLG10').val();
            var lengthP1mm = $('#TLG11').val();
            var widthatShoulder = $('#TWS12').val();
            var thiknessatshoulder = $('#TTS13').val();
            var widthattip = $('#TWT14').val();
            var thiknessattip = $('#TTT15').val();
            var pointsizeatexactlength = $('#FPL16').val();
            var bodydimentionwidth = $('#GBW17').val();
            var bodydimentionthikness = $('#GBT18').val();
            var bodypointsize = $('#GPL19').val();
            var tapperlengthmm = $('#TPL20').val();
            var lengthaftercuttingbefore = $('#BSC21').val();
            var atshoulder = $('#USL22').val();
            var onedge = $('#UEL23').val();
            var upcut = $('#IUP24').val();
            var overcut = $('#IOV25').val();
            var edgecut = $('#IEG26').val();
            var hardness = $('#HRC27').val();
            var angel = $('#ASH28').val();
            var radious = $('#RSH29').val();
            var Remarks = $('#RM30').val();
            var rmcoderange = $('input[name=RMC3]').val();
            var wtinkgthousandrange = $('input[name=RMK4]').val();
            var descriptionrange = $('input[name=RMD5]').val();
            var widthrange = $('input[name=RMW6]').val();
            var thiknessrange = $('input[name=RMT7]').val();
            var gmsskurange = $('input[name=RMG8]').val();
            var mood_lengthrange = $('input[name=CML9]').val();
            var lengthmmrange = $('input[name=BLG10]').val();
            var lengthP1mmrange = $('input[name=TLG11]').val();
            var widthatShoulderrange = $('input[name=TWS12]').val();
            var thiknessatshoulderrange = $('input[name=TTS13]').val();
            var widthattiprange = $('input[name=TWT14]').val();
            var thiknessattiprange = $('input[name=TTT15]').val();
            var pointsizeatexactlengthrange = $('input[name=FPL16]').val();
            var bodydimentionwidthrange = $('input[name=GBW17]').val();
            var bodydimentionthiknessrange = $('input[name=GBT18]').val();
            var bodypointsizerange = $('input[name=GPL19]').val();
            var tapperlengthmmrange = $('input[name=TPL20]').val();
            var lengthaftercuttingbeforerange = $('input[name=BSC21]').val();
            var atshoulderrange = $('input[name=USL22]').val();
            var onedgerange = $('input[name=UEL23]').val();
            var upcutrange = $('input[name=IUP24]').val();
            var overcutrange = $('input[name=IOV25]').val();
            var edgecutrange = $('input[name=IEG26]').val();
            var hardnessrange = $('input[name=HRC27]').val();
            var angelrange = $('input[name=ASH28]').val();
            var radiousrange = $('input[name=RSH29]').val();
            var fieldsubtypename = $('#INPUT1').text();
            var fieldsubtypecode = $('#INPUT2').text();
            var fieldrmcode = $('#INPUT3').text();
            var fieldwtinkgthousand = $('#INPUT4').text();
            var fielddescription = $('#INPUT5').text();
            var fieldwidth = $('#INPUT6').text();
            var fieldthikness = $('#INPUT7').text();
            var fieldgmssku = $('#INPUT8').text();
            var fieldmood_length = $('#INPUT9').text();
            var fieldlengthmm = $('#INPUT10').text();
            var fieldlengthP1mm = $('#INPUT11').text();
            var fieldwidthatShoulder = $('#INPUT12').text();
            var fieldthiknessatshoulder = $('#INPUT13').text();
            var fieldwidthattip = $('#INPUT14').text();
            var fieldthiknessattip = $('#INPUT15').text();
            var fieldpointsizeatexactlength = $('#INPUT16').text();
            var fieldbodydimentionwidth = $('#INPUT17').text();
            var fieldbodydimentionthikness = $('#INPUT18').text();
            var fieldbodypointsize = $('#INPUT19').text();
            var fieldtapperlengthmm = $('#INPUT20').text();
            var fieldlengthaftercuttingbefore = $('#INPUT21').text();
            var fieldatshoulder = $('#INPUT22').text();
            var fieldonedge = $('#INPUT23').text();
            var fieldupcut = $('#INPUT24').text();
            var fieldovercut = $('#INPUT25').text();
            var fieldedgecut = $('#INPUT26').text();
            var fieldhardness = $('#INPUT27').text();
            var fieldangel = $('#INPUT28').text();
            var fieldradious = $('#INPUT29').text();
            var fieldRemarks = $('#INPUT30').text();
            //var fs_size_code    = $('#23').val();
            //var fs_size_remarks = $('#24').val();
            //data.append("ImageFile", ImageFile[0]);
            // poor man's validation

            //if (files.length > 0) {
            //    data.append("helpSectionImages", files[0]);
            //}
            return (Remarks == "") ? null : {
                fieldsubtypename: fieldsubtypename,
                fieldsubtypecode: fieldsubtypecode,
                fieldrmcode: fieldrmcode,
                fieldwtinkgthousand: fieldwtinkgthousand,
                fielddescription: fielddescription,
                fieldwidth: fieldwidth,
                fieldthikness: fieldthikness,
                fieldgmssku: fieldgmssku,
                fieldmood_length: fieldmood_length,
                fieldlengthmm: fieldlengthmm,
                fieldlengthP1mm: fieldlengthP1mm,
                fieldwidthatShoulder: fieldwidthatShoulder,
                fieldthiknessatshoulder: fieldthiknessatshoulder,
                fieldwidthattip: fieldwidthattip,
                fieldthiknessattip: fieldthiknessattip,
                fieldpointsizeatexactlength: fieldpointsizeatexactlength,
                fieldbodydimentionwidth: fieldbodydimentionwidth,
                fieldbodydimentionthikness: fieldbodydimentionthikness,
                fieldbodypointsize: fieldbodypointsize,
                fieldtapperlengthmm: fieldtapperlengthmm,
                fieldlengthaftercuttingbefore: fieldlengthaftercuttingbefore,
                fieldatshoulder: fieldatshoulder,
                fieldonedge: fieldonedge,
                fieldupcut: fieldupcut,
                fieldovercut: fieldovercut,
                fieldedgecut: fieldedgecut,
                fieldhardness: fieldhardness,
                fieldangel: fieldangel,
                fieldradious: fieldradious,
                fieldRemarks: fieldRemarks,
                subtypename: subtypename,
                subtypecode: subtypecode,
                rmcode: rmcode,
                wtinkgthousand: wtinkgthousand,
                description: description,
                width: width,
                thikness: thikness,
                gmssku: gmssku,
                mood_length: mood_length,
                lengthmm: lengthmm,
                lengthP1mm: lengthP1mm,
                widthatShoulder: widthatShoulder,
                thiknessatshoulder: thiknessatshoulder,
                widthattip: widthattip,
                thiknessattip: thiknessattip,
                pointsizeatexactlength: pointsizeatexactlength,
                bodydimentionwidth: bodydimentionwidth,
                bodydimentionthikness: bodydimentionthikness,
                bodypointsize: bodypointsize,
                tapperlengthmm: tapperlengthmm,
                lengthaftercuttingbefore: lengthaftercuttingbefore,
                atshoulder: atshoulder,
                onedge: onedge,
                upcut: upcut,
                overcut: overcut,
                edgecut: edgecut,
                hardness: hardness,
                angel: angel,
                radious: radious,
                Remarks: Remarks,
                rmcoderange: rmcoderange,
                wtinkgthousandrange: wtinkgthousandrange,
                descriptionrange: descriptionrange,
                widthrange: widthrange,
                thiknessrange: thiknessrange,
                gmsskurange: gmsskurange,
                mood_lengthrange: mood_lengthrange,
                lengthmmrange: lengthmmrange,
                lengthP1mmrange: lengthP1mmrange,
                widthatShoulderrange: widthatShoulderrange,
                thiknessatshoulderrange: thiknessatshoulderrange,
                widthattiprange: widthattiprange,
                thiknessattiprange: thiknessattiprange,
                pointsizeatexactlengthrange: pointsizeatexactlengthrange,
                bodydimentionwidthrange: bodydimentionwidthrange,
                bodydimentionthiknessrange: bodydimentionthiknessrange,
                bodypointsizerange: bodypointsizerange,
                tapperlengthmmrange: tapperlengthmmrange,
                lengthaftercuttingbeforerange: lengthaftercuttingbeforerange,
                atshoulderrange: atshoulderrange,
                onedgerange: onedgerange,
                upcutrange: upcutrange,
                overcutrange: overcutrange,
                edgecutrange: edgecutrange,
                hardnessrange: hardnessrange,
                angelrange: angelrange,
                radiousrange: radiousrange,
            };

        }
        function getFileSize() {
            
            var fs_size_inches = $('#1').val();
            var fs_size_code = $('#2').val();
            var fs_size_remarks = $('#3').val();
            return (fs_size_inches == "" || fs_size_remarks=="") ? null : { fs_size_inches: fs_size_inches, fs_size_code: fs_size_code, fs_size_remarks: fs_size_remarks };
        }
        function getFiletype() {
            
            var ft_ftype_code = $('input[name=2]').val();
            var ft_ftype_desc = $('input[name=3]').val();
            var ft_ftype_remarks = $('input[name=4]').val();
            //  var ImageFile = $('input[name=FILE1]').get(0).files;
            //data.append("ImageFile", ImageFile[0]);
            // poor man's validation

            //if (files.length > 0) {
            //    data.append("helpSectionImages", files[0]);
            //}
            return (ft_ftype_code == "") ? null : { ft_ftype_code: ft_ftype_code, ft_ftype_desc: ft_ftype_desc, ft_ftype_remarks: ft_ftype_remarks };
        }
        $("#ddlfiletype").change(function () {
            

            // alert($('option:selected', this).text());
            var selectFileType = $('option:selected', this).text();
            // alert(slectedCustName);
            //  
            $.ajax({
                url: '@Url.Action("getFizeTypeCode", "ProductionDetails")',
                data: { selectFileType: selectFileType },
                type: 'GET',
                dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // Variable data contains the data you get from the action method
                    // type = data;
                    $("#filetypecode").val(data);
                    //slectedName: slectedCustName;
                }
            });

        });
        $("#ddlfiletype").change(function () {
            
            var filetype = $(this).val();
            var filesize = $("#filesizecode").val();
            if ($(this).val() == "#filetypenew") {
                $('#filetypenew').modal('show');
            }
            else {
                //alert(filetype+' '+ filesize)
                $.getJSON('@Url.Action("getFileSubType", "ProductionDetails")', { FileSize: filesize, fileType: filetype },
                       function (data) {
                           var select = $("#ddlFileSubType");
                           $("#ddlFileSubType").val('Select').trigger('change.select2')
                           $("#ddlFileSubType").empty()
                           select.append($('<option/>', {
                               value: 0,
                               text: "Select",
                               selected: true
                           }));
                           select.append($('<option/>', {
                               value: "#FileSubType",
                               text: "New"
                           }));

                           $.each(data, function (i, data) {
                               // alert(data.FileSubType)// bind the dropdown list using json result
                               //$('<option>',
                               //   {
                               //       value: data.FileSubType,
                               //       text: data.FileSubType
                               //   }).html(data.FileSubType).append("#FileSubType");
                               //$('#ddlRole option').map(function () {
                               //    if ($(this).text() == selectedText) return this;
                               //}).attr('selected', 'selected');

                               select.append($('<option/>', {
                                   value: data.FileSubType,
                                   text: data.FileSubType
                               }));
                           });
                       });
            }

        });
    });



    $(document).ready(function () {
        $("#ddlFileSubType").change(function () {
            var filesubtype = $(this).val();
            var filetype = $("#ddlfiletype").val();
            var filesize = $("#filesizecode").val();
            // alert(filetype+' '+ filesize)
            if ($(this).val() == "#FileSubType") {
                $('#FileSubType').modal('show');
            }
            else {
                $.getJSON('@Url.Action("getProfileDetails", "ProductionDetails")', { filesizecode: filesize, filetypecode: filetype, filesubtype: filesubtype },
                       function (data) {
                           $("#Filecode").val(data["Filecode"]);
                           $("#HRC").val(data["HRC"]);
                           $("#USL").val(data["USL"]);
                           $("#UEL").val(data["UEL"]);
                           $("#UPL").val(data["UPL"]);
                           $("#IUP").val(data["IUP"]);
                           $("#IOV").val(data["IOV"]);
                           $("#IEG").val(data["IEG"]);
                       });
            }
        });




        $("#ddlFileSize").change(function () {
            // 
            // alert($('option:selected', this).text());
            var selectFileSize = $('option:selected', this).text();
            // alert(slectedCustName);
            //  
            if ($(this).val() == "#fileSizenew") {
                $('#fileSizenew').modal('show');
            }
            else {
                $.ajax({

                    url: '@Url.Action("getFizeSizeCode", "ProductionDetails")',
                    data: { selectFileSize: selectFileSize },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        $("#filesizecode").val(data);
                        //slectedName: slectedCustName;
                    }
                });
            }
        });






        //get cutype code
        $("#ddlCutType").change(function () {
            // 
            // alert($('option:selected', this).text());
            var selectCutType = $('option:selected', this).text();
            // alert(slectedCustName);
            //  
            $.ajax({

                url: '@Url.Action("getCutTypeCode", "ProductionDetails")',
                data: { selectCutType: selectCutType },
                type: 'GET',
                dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // Variable data contains the data you get from the action method
                    $("#cuttypecode").val(data);
                    //slectedName: slectedCustName;
                }
            });

        });

        //get cutype code
        $("#ddlFileSubType").change(function () {
            // 
            // alert($('option:selected', this).text());
            var selectSubType = $('option:selected', this).text();
            // alert(slectedCustName);
            //  
            $.ajax({
                url: '@Url.Action("getFileSubTypeCode", "ProductionDetails")',
                data: { selectSubType: selectSubType },
                type: 'GET',
                dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // Variable data contains the data you get from the action method
                    $("#filesubtypecode").val(data);
                    //slectedName: slectedCustName;
                }
            });

        });

        $.ajax({
            url: '@Url.Action("getRequestNumber", "ProductionDetails")',
            data: "",
            type: 'GET',
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                // alert(data)
                // Variable data contains the data you get from the action method
                $("#lblReqNo").val(data);
                // $("label[for='lblReqNo']").text(data);
                //slectedName: slectedCustName;
            }
        });


    });



    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkProductionDetails", "ProductionDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'File Specs'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "ProductionDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'File Specs',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }



    function fileDetailsListview() {
        var sizecode = $("#filesizecode").val();
        var filecode = $("#Filecode").val();
        $("#filetbl1").empty();
        var row = "";
        $.ajax({
            url: '@Url.Action("getFileSubtypedetailsview", "FileSubType")',
            data: { sizecode: sizecode, filecode: filecode },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.filedtllist.length; i++) {
                    row = '<tr><td> ' + data.filedtllist[i].pm_dim_parm_catg + ' ' + data.filedtllist[i].pm_dim_parm_name + ' </td> <td>'
                        + data.filedtllist[i].pm_dim_parm_scrnvalue + '</td><td> '
                        + data.filedtllist[i].pm_dim_parm_dwgvalue + '</td> </tr>';
                    $("#filetbl1").append(row);
                }
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }

</script>
@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#ddlfiletype").change(function () {
                // 
                // alert($('option:selected', this).text());
                var selectFileType = $('option:selected', this).text();
                // alert(slectedCustName);
                //  
                $.ajax({

                    url: '@Url.Action("getFizeTypeCode", "ProductionDetails")',
                    data: { selectFileType: selectFileType },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        // type = data;
                        $("#filetypecode").val(data);
                        //slectedName: slectedCustName;
                    }
                });

            });


            $("#ddlfiletype").change(function () {
                var filetype = $(this).val();
                var filesize = $("#filesizecode").val();
                //alert(filetype+' '+ filesize)
                $.getJSON('@Url.Action("getFileSubType", "ProductionDetails")', { FileSize: filesize, fileType: filetype },
                       function (data) {
                           var select = $("#ddlFileSubType");
                           select.empty();
                           select.append($('<option/>', {
                               value: 0,
                               text: "Select"
                           }));
                           $.each(data, function (index, itemData) {
                               select.append($('<option/>', {
                                   value: itemData.Value,
                                   text: itemData.Text
                               }));
                           });
                       });
            });
        });



        $(document).ready(function () {
            $("#ddlFileSubType").change(function () {
                var filesubtype = $(this).val();
                var filetype = $("#ddlfiletype").val();
                var filesize = $("#filesizecode").val();
                // alert(filetype+' '+ filesize)
                $.getJSON('@Url.Action("getProfileDetails", "ProductionDetails")', { filesizecode: filesize, filetypecode: filetype, filesubtype: filesubtype },
                       function (data) {
                           $("#Filecode").val(data["Filecode"]);
                           $("#HRC").val(data["HRC"]);
                           $("#USL").val(data["USL"]);
                           $("#UEL").val(data["UEL"]);
                           $("#UPL").val(data["UPL"]);
                           $("#IUP").val(data["IUP"]);
                           $("#IOV").val(data["IOV"]);
                           $("#IEG").val(data["IEG"]);
                       });
            });




            $("#ddlFileSize").change(function () {
                // 
                // alert($('option:selected', this).text());
                var selectFileSize = $('option:selected', this).text();
                // alert(slectedCustName);
                //  
                $.ajax({

                    url: '@Url.Action("getFizeSizeCode", "ProductionDetails")',
                    data: { selectFileSize: selectFileSize },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        $("#filesizecode").val(data);
                        //slectedName: slectedCustName;
                    }
                });

            });






            //get cutype code
            $("#ddlCutType").change(function () {
                // 
                // alert($('option:selected', this).text());
                var selectCutType = $('option:selected', this).text();
                // alert(slectedCustName);
                //  
                $.ajax({

                    url: '@Url.Action("getCutTypeCode", "ProductionDetails")',
                    data: { selectCutType: selectCutType },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        $("#cuttypecode").val(data);
                        //slectedName: slectedCustName;
                    }
                });

            });

            //get cutype code
            $("#ddlFileSubType").change(function () {
                // 
                // alert($('option:selected', this).text());
                var selectSubType = $('option:selected', this).text();
                // alert(slectedCustName);
                //  
                $.ajax({
                    url: '@Url.Action("getFileSubTypeCode", "ProductionDetails")',
                    data: { selectSubType: selectSubType },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        $("#filesubtypecode").val(data);
                        //slectedName: slectedCustName;
                    }
                });

            });

            $.ajax({
                url: '@Url.Action("getRequestNumber", "ProductionDetails")',
                data: "",
                type: 'GET',
                dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // alert(data)
                    // Variable data contains the data you get from the action method
                    $("#lblReqNo").val(data);
                    // $("label[for='lblReqNo']").text(data);
                    //slectedName: slectedCustName;
                }
            });

        });
    </script>*@