﻿@model JKFiles.WebApp.Models.RawMaterialMasterModel

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>

        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                    <li class="active">@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                    <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="@Url.Action("RawMaterial","ProductionDetails")" method="post">
                        <div class="" id="production">
                            <div style="clear:both"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    @*<input type="text" class="form-control " id="" placeholder="Customer 1" readonly>*@
                                    @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    @*<input type="text" class="form-control " id="" placeholder="India" readonly>*@
                                    @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->

                            <div style="clear:both"></div>




                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs">
                                    <li>@Html.ActionLink("File Specs", "getFileSpecsDetails", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Cut Specs", "getCutSpecsBacksave", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Stamp", "getStampBacksave", "ProductionDetails")</li>
                                    @*<li class="active">@Html.ActionLink("Raw Material", "getRawMaterialBacksave", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Drawing", "DrawingTab", "ProductionDetails")</li>*@
                                </ul>
                                <div class="tab-content">
                                    <div class="chart tab-pane active" id="raw">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Code </label>
                                                @*<input type="text" class="form-control " id="" placeholder="Type RM Code" readonly>*@
                                                @Html.TextBoxFor(m => m.rm_code, new { @class = "form-control", @readonly = "readonly" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="" style="visibility:hidden">  Add New Row  Here </label>
                                                <a class="btn btn-primary" data-toggle="modal" data-target="#rawmaterialpopup">Add New Raw Material</a>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">RM Weight Kg/ 1000</label>
                                                @Html.TextBoxFor(m => m.rm_wtinkg_perthsnd, new { @class = "form-control", @readonly = "readonly" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Net Weight gm/SKU </label>
                                                @Html.TextBoxFor(m => m.rm_netwtingm_persku, new { @class = "form-control", @readonly = "readonly" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Height(mm) </label>
                                                @Html.TextBoxFor(m => m.rm_height, new { @class = "form-control", @readonly = "readonly" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Width(mm) </label>
                                                @Html.TextBoxFor(m => m.rm_width, new { @class = "form-control", @readonly = "readonly" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <a class="btn jk-btn-app"><i class="fa fa-close"></i> Cancel</a>
                                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>
                                </div>
                            </div>
                    </form>
                    <!--  By Swapnil   -->
                    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
                        <h4>New Entries Under these Fields</h4>
                        @Html.Action("NewReqList", "CustomerDetails")
                    </div>
                    <!--  By Swapnil    -->
                </div>
            </div>
</section>
<div class="modal fade bd-example-modal-md" id="rawmaterialpopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @*@Html.Partial("_MasterAdd",masterModule5)*@
            @*@Html.ActionLink("load partial view", "_MasterAdd", "CustomerDetails")*@
            @Html.Action("_Raw_MaterialMasterAdd", "ProductionDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $("#RawMaterialAdd").click(function () {
                
                var masterModule = getFileSize();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }        
                $.post("@Url.Action("Raw_MaterialMasterAdd", "ProductionDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getFileSize() {
            
            var rm_code = $('input[name=1]').val();
            var rm_desc = $('input[name=2]').val();
            var rm_material = $('input[name=3]').val();
            var rm_wtinkg_perthsnd = $('input[name=4]').val();
            var rm_netwtingm_persku = $('input[name=5]').val();
            var rm_height = $('input[name=6]').val();
            var rm_width = $('input[name=7]').val();
            var rm_remarks = $('input[name=8]').val();
            return (rm_code == "") ? null : { rm_code: rm_code, rm_desc: rm_desc, rm_material: rm_material, rm_wtinkg_perthsnd: rm_wtinkg_perthsnd, rm_netwtingm_persku: rm_netwtingm_persku,rm_height:rm_height,rm_width:rm_width, rm_remarks: rm_remarks };
        }
        $("#Item_Menu").css("color", "#f39c12");
        SelectRemark();
    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
        $.ajax({
            url: '@Url.Action("SubmitRemarkProductionDetails", "ProductionDetails")',
            data: {
                'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Raw Material'
            },
            type: 'POST',
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    alert(response.responseText);
                } else {
                    alert(response.responseText);
                }
                $("#prm_remarks").val("");
            }
        });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "ProductionDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Raw Material',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }
</script>