﻿
@model JKFiles.WebApp.Models.StampMasterModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}



<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>


        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                    <li class="active">@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                    <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>
                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="@Url.Action("Stamp","ProductionDetails")" method="post">
                        <div class="" id="production">
                            <div style="clear:both"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    @*<input type="text" class="form-control " id="" placeholder="Customer 1" readonly>*@
                                    @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    @*<input type="text" class="form-control " id="" placeholder="India" readonly>*@
                                    @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->

                            <div style="clear:both"></div>




                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs">
                                    <li>@Html.ActionLink("File Specs", "getFileSpecsDetails", "ProductionDetails")</li>
                                    <li>@Html.ActionLink("Cut Specs", "getCutSpecsBacksave", "ProductionDetails")</li>
                                    <li class="active">@Html.ActionLink("Stamp", "getStampBacksave", "ProductionDetails")</li>
                                    @*<li>@Html.ActionLink("Raw Material", "getRawMaterialBacksave", "ProductionDetails")</li>
                                        <li>@Html.ActionLink("Drawing", "DrawingTab", "ProductionDetails")</li>*@
                                </ul>
                                <div class="tab-content">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="stampm">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Stamp Type </label>
                                                @*@Html.Hidden("BrandIdSessionVal", Session["BrandId"])
                                                                        @Html.Hidden("CustomerIdSessionVal", Session["CoustomerId"])
                                                                        @Html.DropDownListFor(x => x.stamp_mode, new[]{
                                                    new SelectListItem(){ Text = "Emboss", Value = "Emboss"},
                                                    new SelectListItem(){ Text = "Laser", Value = "Laser"},
                                                    new SelectListItem(){ Text = "Pad", Value = "Pad"},
                                                    }, "Select", new { @class = "form-control select2", @style = "width: 100%;" })*@

                                                @Html.DropDownListFor(model => model.stamp_mode, new SelectList(Model.stmpModeList, "sm_stamp_mode", "sm_stamp_mode"), "Select", new { @class = "form-control select2", @style = "width: 100%;" })
                                                @Html.ValidationMessageFor(m => m.stamp_mode, null, new { @class = "text-danger" })
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label> Stamp Chart Ref No</label>
                                                @*<select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected" disabled>Select </option>
                                                        <option>151 </option>
                                                        <option>152</option>
                                                        <option>153</option>

                                                    </select>*@
                                                @Html.TextBoxFor(x => x.chart_num, new { @class = "form-control", @placeholder = "Stamp Chart No." })
                                                @Html.HiddenFor(x => x.chart_num)
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">

                                            <br>


                                            <!--<a href="#"  data-toggle="modal" data-target="#process" class="btn btn-primary">Process BOM</a>
                                            -->
                                            @*<a href="javascript:void(0);" class="anchorDetail">View Stamp</a>*@
                                            <a href="" data-toggle="modal" id="btnViewStamps" data-target="#stamp" class="btn btn-primary ">View Stamp Chart </a>

                                            @*<button onclick="@Url.Action("ViewStamps","ProductionDetails")" id="stamp">View Stamp</button>*@

                                        </div>
                                        <div class="col-md-3">

                                            <br>
                                            <a href="" data-toggle="modal" id="btnstampnew" data-target="#stampnew" class="btn btn-primary ">Add New Stamp Chart </a>
                                        </div>




                                    </div>
                                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                                    <button type="submit" id="saveStanmpDetails" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                                </div>
                            </div>
                    </form>

                    <div class="modal fade bd-example-modal-lg" id="stamp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>


                </div>
            </div>
            <!--  By Swapnil   -->
            <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
                <h4>New Entries Under these Fields</h4>
                @Html.Action("NewReqList", "CustomerDetails")
            </div>
            <!--  By Swapnil    -->
        </div>
    </div>
</section>
<div class="modal fade bd-example-modal-md" id="stampnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("StampMasterAdd", "ProductionDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@*<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@
<script>
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("checkstampchart", "ProductionDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#stamp_mode").val(data).trigger('change.select2');
                    //$("#stamp_mode").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                  //  $("#stamp_mode").prop("disabled", false);
                }
            }
        });
       
        @*$(function () {
            $("#StampAdd").click(function () {

                var masterModule = getStamp();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("_StampMasterAdd", "ProductionDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);

                });
            });
        });*@
        //function getStamp() {
        //    var sm_stamp_mode =$('#stamp_mode').val();
        //    var stampsize     = $('#1').val();
        //    var stamplocation = $('#2').val();
        //    var Orientation   = $('#3').val();
        //    var fontsize      = $('#4').val();
        //    var noofsides     = $('#5').val();
        //    var side1image    = $('#6').val().replace(/C:\\fakepath\\/i, '');
        //    var side2image    = $('#7').val().replace(/C:\\fakepath\\/i, '');
        //    var side3image    = $('#8').val().replace(/C:\\fakepath\\/i, '');
        //    var side4image    = $('#9').val().replace(/C:\\fakepath\\/i, '');
        //    return (sm_stamp_mode == "") ? null : { stampsize: stampsize, stamplocation: stamplocation,Orientation:Orientation,fontsize:fontsize,noofsides:noofsides,side1image:side1image,side2image:side2image,side3image:side3image,side4image:side4image};
        //}
        @*$(function () {
                $("#StampAdd").click(function () {

                    var masterModule = getStamp();
                    //   Swapnil validation
                    if (masterModule == null) {
                        alert("Please Enter All Field!");
                        return;
                    }
                    $.post("@Url.Action("_StampMasterAdd", "ProductionDetails")", masterModule, function (data) {
                        var message = data.Message;
                        $("#resultMessage").html(message);

                    });
                });
            });
            function getStamp() {

                var sd_chart_num = $('#1').val();
                var ImageName = $('#2').val().replace(/C:\\fakepath\\/i, '');
                var sm_stamp_mode=$('#stamp_mode').val();
                return (sd_chart_num == "") ? null : { sd_chart_num: sd_chart_num, ImageName: ImageName,sm_stamp_mode:sm_stamp_mode};
            }*@


        //var optionfsize = document.createElement("option");
        //var newOptionfsizeText = "New";
        //optionfsize.text = newOptionfsizeText;
        //optionfsize.value = "#stampnew";
        //var select = document.getElementById("stamp_mode");
        //select.insertBefore(optionfsize, select.childNodes[1]);
        $("#Item_Menu").css("color", "#f39c12");
        $("#chart_num").attr("disabled", "disabled");
        //
        $("#saveStanmpDetails").click(function () {
            $("#chart_num").removeAttr("disabled");
        });
        $("#stamp_mode").change(function () {
            //alert("changed");
            var slectedStampMode = $('option:selected', this).text();
            if ($(this).val() == "#stampnew") {
                $('#stampnew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getChartNum", "ProductionDetails")',
                    data: { slectedStampMode: slectedStampMode },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#chart_num").val(data);
                        if ($("#chart_num").val() == "No Chart Is Present!") {

                            $("#chart_num").attr("disabled", "disabled");
                            $("#btnViewStamps").attr("disabled", true);
                            //alert($("#chart_num").val());
                        }
                        else
                            $("#btnViewStamps").attr("disabled", false);
                    }
                });
            }
        });
    });
    //alert ($("#CutSpecsList_1__prc_parameter_value").text() );

    $("#prc_parameter_value").val($("#CutSpecsList_1__prc_parameter_value").val());

    var TeamDetailPostBackURL = '@Url.Action("ViewStamps", "ProductionDetails")';
    $(function () {
        $("#btnViewStamps").click(function () {

            var $buttonClicked = $(this);
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {

                    console.log(data);
                    $('#stamp').html(data);
                },
                error: function () {
                    console.log(JSON.stringify(error));
                }
            });
        });
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
        SelectRemark();
    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkProductionDetails", "ProductionDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Stamp'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "ProductionDetails")',
            data: {
                'prm_remark_tab': 'Stamp',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.remarklist.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks.remarklist[i].Stringcreatedate + '</div></td><td  width="100"><div align="center"> ' + data.remarks.remarklist[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks.remarklist[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }

</script>
