﻿
@model JKFiles.WebApp.Models.ProductionMasterModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}



<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null) {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>
             <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
        </div>


        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="">@Html.ActionLink("CustomerDetails", "Index", "CustomerDetails")</li>
                    <li class="active"><a href="#production" data-toggle="tab" aria-expanded="true">Production Details</a></li>
                    <li class=""><a href="#dispatch" data-toggle="tab" aria-expanded="false">Dispatch Details</a></li>
                    <li class=""><a href="#cost" data-toggle="tab" aria-expanded="false">Cost Details</a></li>
                    <li class=""><a href="#approve" data-toggle="tab" aria-expanded="false">Customer Approval</a></li>

                </ul>
                <div class="tab-content" id="customerDetailsTab">
                    <form action="/ProductionDetails/Index" method="post">
                        <div class="" id="production">
                            <h5>Request No: N12356</h5><div style="clear:both"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    @*<input type="text" class="form-control " id="" placeholder="Customer 1" readonly>*@
                                    @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    @*<input type="text" class="form-control " id="" placeholder="India" readonly>*@
                                    @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->

                            <div style="clear:both"></div>




                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs">
                                    <li ><a href="#file" data-toggle="tab">File Specs</a></li>
                                    <li class="active">@Html.ActionLink("Cut Specs", "CutSpecs", "ProductionDetails")</li>
                                    <li><a href="#stampm" data-toggle="tab">Stamp </a></li>
                                    <li><a href="#raw" data-toggle="tab">Raw Material</a></li>
                                    <li><a href="#dwrg" data-toggle="tab">Drawing </a></li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Morris chart - Sales -->
                                    


                                    <div class="chart tab-pane active" id="cut">

                                        @*@Html.Partial("_test")*@
                                        <div style="clear:both"></div>


                                            <div class="form-group col-md-3 ">
                                                <label for="" class=""> Side 1 </label>
                                                <select class="form-control select2" style="width: 100%;" id="selectbox5">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option value="#newtpi">New</option>
                                                    <option>General</option>
                                                    <option>USA (ASS)/GERMAN (DIN) </option>
                                                    <option>NATO/BSS/ISS</option>
                                                    <option>DJAKARTS</option>
                                                </select>
                                            </div><!-- /.form-group -->


                                            <div class="form-group col-md-3 ">
                                                <label for="" class=""> Side 2 </label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option>Not Applicable</option>
                                                    <option>New</option>
                                                    <option>General</option>
                                                    <option>USA (ASS)/GERMAN (DIN) </option>
                                                    <option>NATO/BSS/ISS</option>
                                                    <option>DJAKARTS</option>
                                                </select>
                                            </div><!-- /.form-group -->



                                            <div class="form-group col-md-3 ">
                                                <label for="" class=""> Edge 1 </label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option>Not Applicable</option>
                                                    <option>New</option>
                                                    <option>General</option>
                                                    <option>USA (ASS)/GERMAN (DIN) </option>
                                                    <option>NATO/BSS/ISS</option>
                                                    <option>DJAKARTS</option>
                                                </select>
                                            </div><!-- /.form-group -->




                                            <div class="form-group col-md-3 ">
                                                <label for="" class=""> Edge 2 </label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option>Not Applicable</option>
                                                    <option>New</option>
                                                    <option>General</option>
                                                    <option>USA (ASS)/GERMAN (DIN) </option>
                                                    <option>NATO/BSS/ISS</option>
                                                    <option>DJAKARTS</option>
                                                </select>
                                            </div><!-- /.form-group -->




                                            <div style="clear:both"></div>


                                            <div class="col-md-3">
                                                <div class="form-group col-md-6">
                                                    <input type="checkbox" class="flat-red" checked>
                                                    <label for="radio1" class="mr-5">U/C</label>
                                                </div><!-- /.form-group -->

                                                <div class="form-group col-md-6">
                                                    <input type="checkbox" class="flat-red" checked>
                                                    <label for="radio1" class="mr-5">O/C</label>
                                                </div><!-- /.form-group -->
                                                <div style="clear:both"></div>



                                            </div>


                                            <div class=" col-md-3 ">
                                                <div class="form-group col-md-6">
                                                    <input type="checkbox" class="flat-red" checked>
                                                    <label for="radio1" class="mr-5">U/C</label>
                                                </div><!-- /.form-group -->

                                                <div class="form-group col-md-6">
                                                    <input type="checkbox" class="flat-red" checked>
                                                    <label for="radio1" class="mr-5">O/C</label>
                                                </div><!-- /.form-group -->
                                                <div style="clear:both"></div>



                                            </div>



                                    </div>

                                    @*<div class="chart tab-pane" id="stampm">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Stamp Type </label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option>Emboss </option>
                                                    <option>Laser</option>
                                                    <option>Pad</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Stamp Chart Ref No </label>
                                                <select class="form-control select2" style="width: 100%;" id="selectbox6">
                                                    <option selected="selected" disabled>Select </option>
                                                    <option value="#stampnew">New </option>
                                                    <option>151 </option>
                                                    <option>152</option>
                                                    <option>153</option>

                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">

                                            <br>


                                            <!--<a href="#"  data-toggle="modal" data-target="#process" class="btn btn-primary">Process BOM</a>
                                            -->


                                            <a href="dist/H - 178 - ITI - laser marking.pdf" target="_blank" class="btn btn-primary ">View Stamp Pdf</a>
                                        </div>
                                    </div>*@

                                    @*<div class="chart tab-pane" id="raw">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Code </label>
                                                <input type="text" class="form-control " id="" placeholder="Type RM Code">
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Height </label>
                                                <input type="text" class="form-control " id="" placeholder="RM Height" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> RM Width </label>
                                                <input type="text" class="form-control " id="" placeholder=" RM Width" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">RM Weight Kg/ 1000</label>
                                                <input type="text" class="form-control " id="" placeholder="RM Weight Kg/ 1000" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Net Weight </label>
                                                <input type="text" class="form-control " id="" placeholder="Net Weight" readonly>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>*@

                                    @*<div class="chart tab-pane" id="dwrg">

                                        <a href="#" class="btn btn btn-primary pull-right mr-5"> Download PDF</a> <br>
                                        <img src="~/SharedCSS/dist/img/drawing.jpg" class="img-responsive">

                                    </div>*@

                                </div>
                            </div>

                            <div style="clear:both;"></div>
                            <a class="btn jk-btn-app"><i class="fa fa-close"></i> Cancel</a>

                            @*<a class="btn jk-btn-app bg-blue" id="btnSubmit"><i class="fa fa-save"></i> Save</a>*@
                            <button id="btnSubmit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</button>


                        </div>
                    </form>
                </div>
            </div>
</section>
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

