﻿@model JKFiles.WebApp.Models.StampDetailsModel
@*@model JKFiles.WebApp.Models.StampMasterModel*@
@{
    Layout = null;
}



@*<div class="modal fade bd-example-modal-lg" id="stamp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">*@
<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="stamp">Stamp </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table width="100%" border="1" bordercolor="#CCCCCC">                 
                   
                        @foreach (var item in Model.StampDetailsEntityList)
                        {
                            <tr>                                
                                <td><div align="center"><img src="~/ProjectImages/Stamps/@item.sm_chartdoc_name" class="img-responsive"></div></td>
                            </tr>

                        }
                  


                </table>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
@*</div>*@
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")