﻿<div style="clear:both"></div>


<div class="form-group col-md-3 ">
    <label for="" class=""> Side 1 </label>
    <select class="form-control select2" style="width: 100%;" id="selectbox5">
        <option selected="selected" disabled>Select </option>
        <option value="#newtpi">New</option>
        <option>General</option>
        <option>USA (ASS)/GERMAN (DIN) </option>
        <option>NATO/BSS/ISS</option>
        <option>DJAKARTS</option>
    </select>
</div><!-- /.form-group -->


<div class="form-group col-md-3 ">
    <label for="" class=""> Side 2 </label>
    <select class="form-control select2" style="width: 100%;">
        <option selected="selected" disabled>Select </option>
        <option>Not Applicable</option>
        <option>New</option>
        <option>General</option>
        <option>USA (ASS)/GERMAN (DIN) </option>
        <option>NATO/BSS/ISS</option>
        <option>DJAKARTS</option>
    </select>
</div><!-- /.form-group -->



<div class="form-group col-md-3 ">
    <label for="" class=""> Edge 1 </label>
    <select class="form-control select2" style="width: 100%;">
        <option selected="selected" disabled>Select </option>
        <option>Not Applicable</option>
        <option>New</option>
        <option>General</option>
        <option>USA (ASS)/GERMAN (DIN) </option>
        <option>NATO/BSS/ISS</option>
        <option>DJAKARTS</option>
    </select>
</div><!-- /.form-group -->




<div class="form-group col-md-3 ">
    <label for="" class=""> Edge 2 </label>
    <select class="form-control select2" style="width: 100%;">
        <option selected="selected" disabled>Select </option>
        <option>Not Applicable</option>
        <option>New</option>
        <option>General</option>
        <option>USA (ASS)/GERMAN (DIN) </option>
        <option>NATO/BSS/ISS</option>
        <option>DJAKARTS</option>
    </select>
</div><!-- /.form-group -->




<div style="clear:both"></div>


<div class="col-md-3">
    <div class="form-group col-md-6">
        <input type="checkbox" class="flat-red" checked>
        <label for="radio1" class="mr-5">U/C</label>
    </div><!-- /.form-group -->

    <div class="form-group col-md-6">
        <input type="checkbox" class="flat-red" checked>
        <label for="radio1" class="mr-5">O/C</label>
    </div><!-- /.form-group -->
    <div style="clear:both"></div>



</div>


<div class=" col-md-3 ">
    <div class="form-group col-md-6">
        <input type="checkbox" class="flat-red" checked>
        <label for="radio1" class="mr-5">U/C</label>
    </div><!-- /.form-group -->

    <div class="form-group col-md-6">
        <input type="checkbox" class="flat-red" checked>
        <label for="radio1" class="mr-5">O/C</label>
    </div><!-- /.form-group -->
    <div style="clear:both"></div>



</div>


