﻿@model JKFiles.WebApp.Models.PlantMasterModel

    @{
        ViewBag.Title = "ManagePlant";
        Layout = "~/Views/Shared/MasterPage.cshtml";
    }

    <section class="content">
        <div class="nav-tabs-custom">
            <div class=" table-responsive">

                <table width="100%" border="1">
                    <tr>
                        <td bgcolor="#333333" width="91"><div align="center"><span class="style2">Sr.No</span></div></td>
                        <td bgcolor="#333333" width="91"><div align="center"><span class="style2"> Plant</span></div></td>
                        <td bgcolor="#333333" width="91"><div align="center"><span class="style2">Plant Code</span></div></td>
                        <td bgcolor="#333333" width="189"><div align="center"><span class="style2">Location</span></div></td>
                    </tr>
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model.plantlist)
                    {
                        <tr>
                            <td><div align="center">@(++counter)</div></td>
                            <td><div align="center">@item.plantname</div></td>
                            <td><div align="center">@item.plantcode</div></td>
                            <td><div align="center">@item.plantlocation</div></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
