﻿@model JKFiles.WebApp.Models.AncillaryMasterModel

@{
    ViewBag.Title = "ManageAncillary";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">
    <div class="nav-tabs-custom">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#AddAncillarypop">Add New</a>

        <br>
        <br>
        <div class=" table-responsive">

            <table width="100%" border="1">
                <tr>
                    <td bgcolor="#333333" width="91"><div align="center"><span class="style2">Sr.No</span></div></td>
                    <td bgcolor="#333333" width="91"><div align="center"><span class="style2"> Ancillary</span></div></td>
                    <td bgcolor="#333333" width="91"><div align="center"><span class="style2">Ancillary Code</span></div></td>
                    <td bgcolor="#333333" width="189"><div align="center"><span class="style2">Plant</span></div></td>
                </tr>
                @{
                    int counter = 0;
                }
                @foreach (var item in Model.ancilllarylist)
                {
                    <tr>
                        <td><div align="center">@(++counter)</div></td>
                        <td><div align="center">@item.Ancillary_Name</div></td>
                        <td><div align="center">@item.Ancillary_Code</div></td>
                        <td><div align="center">@item.PlantName</div></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="modal fade" id="AddAncillarypop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new">Add Ancillary</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="Ancillaryform" name="Ancillaryform"  >
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="">Plant  </label>
                                @Html.DropDownListFor(model => model.PlantID, new SelectList(Model.plantdropdownlist, "PlantID", "plantname"), "Select", new { @class = "form-control select2", @id = "PlantID" })
                                @Html.ValidationMessageFor(m => m.PlantID)
                            </div>
                          </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="">Ancillary Name  </label>
                                <input type="text" class="form-control" id="Ancillary_Name" name="Ancillary_Name" placeholder="Ancillary Name ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="">Ancillary location  </label>
                                <input type="text" class="form-control" placeholder="Ancillary Locatione" id="Ancillary_Location" name="Ancillary_Location">
                            </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="modal-footer">
                                <button type="button" sclass="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="Submit()">Ok</button>
                            </div>
                    </form>

                   
                </div>

            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    function Submit() {
       
        var PlantID=$("#PlantID").val();
        var Name = $("#Ancillary_Name").val();
        var Location = $("#Ancillary_Location").val();
        $.ajax({
            cache: false,
            async: true,
            url: '@Url.Action("AddAncillary", "ProductionDetails")',
            data: { PlantID: PlantID, Name: Name, Location: Location },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                alert(data.alert);
                window.location.href = '@Url.Action("ManageAncillary", "ProductionDetails")';
            }
        });

    }
</script>