﻿
@{
    ViewBag.Title = "ManageEquipment";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="wrapper">

        <div class="content">
            <div class="box box-default">
                <div class="box-header">
                    <h4>Equipment Details </h4>
                </div>
                <div class="box-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#register" data-toggle="tab" aria-expanded="true">Equipment Register</a></li>
                            <li class=""><a href="#sno" data-toggle="tab" aria-expanded="false">Equipment S.No.</a></li>
                        </ul>
                        <div class="tab-content">
                          
                            <div class="tab-pane active" id="register">
                                <div class="col-md-12"><h4>Equipment Master</h4></div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control " id="plantname" placeholder="Plant Name">
                                </div>
                               <input type="button" value="Submit" onclick="search()" />
                                <div class='col-md-12'>
                                    <div class="panel-group" id="accordion">

                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#jk">
                                                        <i class="fa fa-plus"></i>
                                                        <span>Jk Total </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="jk" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class=" table-responsive">

                                                        <table width="100%" border="1">
                                                            <tr>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment type</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Equipment/Cluster</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Total No of cluster</div></td>
                                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Equipment total Qty</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">60T</div></td>
                                                                <td><div align="center">5</div></td>
                                                                <td><div align="center">6</div></td>
                                                                <td><div align="center">30</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">70T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Forging Press</div></td>
                                                                <td><div align="center">15Kg</div></td>
                                                                <td><div align="center">5</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">20</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Annealing Furnance</div></td>
                                                                <td><div align="center">2.5T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#ratnamain">
                                                        <i class="fa fa-plus"></i>
                                                        <span>Ratnagiri Main Plant</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="ratnamain" class="panel-collapse collapse ">
                                                <div class="panel-body">
                                                    <div class=" table-responsive">

                                                        <table width="100%" border="1">
                                                            <tr>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment type</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Equipment/Cluster</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Total No of Cluster</div></td>
                                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Equipment total Qty</div></td>
                                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A1</div></td>
                                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A2</div></td>
                                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A3</div></td>
                                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A4</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A5</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A6</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A7</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A8</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">RTNM_RTNM_A9</div></td>
                                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">60T</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">70T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Forging Press</div></td>
                                                                <td><div align="center">15Kg</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">16</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Annealing Furnance</div></td>
                                                                <td><div align="center">2.5T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#ratnaansci">
                                                        <i class="fa fa-plus"></i>
                                                        <span>Ratnagiri Anscillary Plant</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="ratnaansci" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class=" table-responsive">

                                                        <table width="100%" border="1">
                                                            <tr>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment type</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Equipment/Cluster</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Total No of Cluster</div></td>
                                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Equipment total Qty</div></td>
                                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">ADIP_RTNM_B1</div></td>
                                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">RAMW_RTNM_B2</div></td>
                                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">SRIN_RTNM_B3</div></td>
                                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">SRIN_RTNM_B4</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">SRIN_RTNM_B5</div></td>
                                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">MONA_RTNM_B6</div></td>
                                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">60T</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">70T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Forging Press</div></td>
                                                                <td><div align="center">15Kg</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">16</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Annealing Furnance</div></td>
                                                                <td><div align="center">2.5T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#vapimain">
                                                        <i class="fa fa-plus"></i>  <span>Vapi Main Plant</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="vapimain" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class=" table-responsive">

                                                        <table width="100%" border="1">
                                                            <tr>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment type</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Equipment/Cluster</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Total No of Cluster</div></td>
                                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Equipment total Qty</div></td>
                                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">VAPM_VAPM_A1</div></td>
                                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">VAPM_VAPM_A2</div></td>
                                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">60T</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">70T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Forging Press</div></td>
                                                                <td><div align="center">15Kg</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">16</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Annealing Furnance</div></td>
                                                                <td><div align="center">2.5T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#vapiansci">
                                                        <i class="fa fa-plus"></i>  <span>Vapi Anscillary Plant</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="vapiansci" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class=" table-responsive">

                                                        <table width="100%" border="1">
                                                            <tr>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                                <td width="11%" bgcolor="#333333" class="style1"><div align="center">Equipment type</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Equipment/Cluster</div></td>
                                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Total No of Cluster</div></td>
                                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Equipment total Qty</div></td>
                                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">SOM1_VAPM_A3</div></td>
                                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">SOM2_VAPM_A4</div></td>
                                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">60T</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">2</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Press</div></td>
                                                                <td><div align="center">70T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Forging Press</div></td>
                                                                <td><div align="center">15Kg</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">4</div></td>
                                                                <td><div align="center">16</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                            <tr>
                                                                <td><div align="center">Annealing Furnance</div></td>
                                                                <td><div align="center">2.5T</div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"></div></td>
                                                                <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                          
                            <div class="tab-pane " id="sno">

                                <div class="col-md-12"><h4>Equipment S.No. Master </h4></div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control " id="" placeholder="Plant Name">
                                </div>
                                <a href="#" class="btn btn-default">Search</a>
                                <div class="col-md-12">
                                    <div class=" table-responsive">

                                        <table width="100%" border="1">
                                            <tr>
                                                <td height="29" bgcolor="#333333" class="style1"><div align="center">Equipment Name</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Equipment Type</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Process Name</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Sr No</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Plant S. No</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Asset Regi.</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Plant Name</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Plant Type</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Main Plant</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Plant code</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Value stream</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">Press</div></td>
                                                <td><div align="center">60T</div></td>
                                                <td><div align="center">Cropping</div></td>
                                                <td><div align="center">101</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center">Vapi</div></td>
                                                <td><div align="center">Main</div></td>
                                                <td><div align="center">Vapi</div></td>
                                                <td><div align="center">VAPM</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit"> <i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">Forging Press</div></td>
                                                <td><div align="center">25Kg</div></td>
                                                <td><div align="center">Tang Forging</div></td>
                                                <td><div align="center">102</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center">Chiplun</div></td>
                                                <td><div align="center">Main</div></td>
                                                <td><div align="center">Vapi</div></td>
                                                <td><div align="center">CHNM</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit"> <i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">Forging Press</div></td>
                                                <td><div align="center">70T</div></td>
                                                <td><div align="center">Round Tang Forging</div></td>
                                                <td><div align="center">103</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center">Soham 1</div></td>
                                                <td><div align="center">SOM1</div></td>
                                                <td><div align="center">Vapi</div></td>
                                                <td><div align="center">VAPM</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit"> <i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">Punching Press</div></td>
                                                <td><div align="center">60T</div></td>
                                                <td><div align="center">Tang Punching</div></td>
                                                <td><div align="center">104</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center">Soham 2</div></td>
                                                <td><div align="center">SOM2</div></td>
                                                <td><div align="center">Vapi</div></td>
                                                <td><div align="center">VAPM</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#edit"> <i class="fa fa-pencil"></i></a></div></td>
                                            </tr>
                                        </table>










                                    </div>
                                </div>


                            </div>
                          
                            <div style="clear:both"></div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>


            <div style="clear:both"></div>

        </div>
   
 
    <div class="control-sidebar-bg"></div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    //$(document).ready(function () {
    //});
    function search() {
        var txt = $('#plantname').val();
        var txt = $('#search-criteria').val();
        $('.panel panel-default:contains("' + txt + '")').show();
    }
</script>