﻿@model JKFiles.WebApp.Models.AncillaryMasterModel

@{
    ViewBag.Title = "PlantAncillaryManage";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="col-md-12">
    <h4>Unit = Plant/Ancillary</h4>
    <div class="table-responsive">
        <table width="100%" border="1">
            <tbody>
                <tr>
                    <td width="11%" height="32" bgcolor="#333333" class="style2"><div align="center">Unit Name</div></td>
                    <td width="7%" bgcolor="#333333" class="style2"><div align="center">Unit Type</div></td>
                    <td width="8%" bgcolor="#333333" class="style2"><div align="center">Unit Code</div></td>
                    <td width="7%" bgcolor="#333333" class="style2"><div align="center"> Plant Code</div></td>
                    <td width="20%" bgcolor="#333333" class="style2"><div align="center">  Value    Stream Name</div></td>
                    <td width="14%" bgcolor="#333333" class="style2"><div align="center"> Value    Stream No</div></td>
                    <td width="13%" bgcolor="#333333" class="style2"><div align="center"> Value Stream Code</div></td>
                    <td width="14%" bgcolor="#333333" class="style2"><div align="center">Aletrnet Value    Stream Code</div></td>
                    <td width="6%" bgcolor="#333333" class="style2"><div align="center">Edit</div></td>
                </tr>
              
                @foreach (var item in Model.ancilllarylist)
                {
                    <tr>
                        <td><div align="center">@item.plantname</div></td>
                        <td><div align="center">@item.Ancillary_Name</div></td>
                        <td><div align="center">@item.Ancillary_Code</div></td>
                        <td><div align="center">@item.plantcode</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center"></div>@item.ValueStremCode</td>
                        <td><div align="center"></div></td>
                        <td><div align="center"><a href="#"><i class="fa fa-pencil"></i></a></div></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
