﻿<form action="@Url.Action("StampUpload", "ProductionDetails")" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New Stamp  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="100">Parameter Name</th>
                        <th width="144">Parameter Value</th>

                    </tr>
                    @foreach (var list in Model.ReqParlist)
                    {
                        <tr>
                            <td> @list.nrm_parameter</td>
                            @if (@list.nrm_input_type == "number")
                            {
                                <td><input type="@list.nrm_input_type" class="form-control " id="@list.nrm_seqno" /></td>
                            }
                            else
                            {
                                <td><input type="@list.nrm_input_type" class="form-control " id="@list.nrm_seqno" name="@list.nrm_seqno" maxlength="@list.nrm_max_length" /></td>
                            }



                        </tr>
                    }
                    @*@foreach (var list in Model.ReqParlist)
                        {
                            <tr>
                                <td> @list.nrm_parameter</td>

                                <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_seqno" /></td>

                                <td></td>
                            </tr>
                        }*@
                </tbody>
            </table>
            <div><span id="resultMessage"></span></div>
            @*<p>Note: complete flow at master end</p>*@
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" onclick="SubmitStamp()" class="btn btn-primary">Ok</button>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    function SubmitStamp()
    {
        debugger;
        var masterModule = getStamp();
        alert(masterModule);
        //   Swapnil validation
        if (masterModule == null) {
            alert("Please Upload  Atleast 1 Image and Select Stamp Mode !");
            return false;
        }
        $.post("@Url.Action("StampMasterAdd1", "ProductionDetails")", masterModule, function (data) {
            var message = data.Message;
            $("#resultMessage").html(message);

        });
    }
    function getStamp() {
        debugger;
        var sm_stamp_mode = $('#stamp_mode').val();
        var stampsize = $('#1').val();
        var stamplocation = $('#2').val();
        var Orientation = $('#3').val();
        var fontsize = $('#4').val();
        var noofsides = $('#5').val();
        var side1image = $('#6').val().replace(/C:\\fakepath\\/i, '');
        var side2image = $('#7').val().replace(/C:\\fakepath\\/i, '');
        var side3image = $('#8').val().replace(/C:\\fakepath\\/i, '');
        var side4image = $('#9').val().replace(/C:\\fakepath\\/i, '');
        return (side1image == "" || sm_stamp_mode=="") ? null : { sm_stamp_mode: sm_stamp_mode, stampsize: stampsize, stamplocation: stamplocation, Orientation: Orientation, fontsize: fontsize, noofsides: noofsides, side1image: side1image, side2image: side2image, side3image: side3image, side4image: side4image };
    }
</script>