﻿@model JKFiles.WebApp.Models.StampMasterModel
@{
    Layout = null;
}

@*<div class="modal fade bd-example-modal-lg" id="stamp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">*@
<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="stamp">Stamp </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table width="100%" border="1">

                    <tr>
                        <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Side</div></td>
                        <td width="8%" bgcolor="#333333" class="style1"><div align="center">Size in mm</div></td>
                        <td width="8%" bgcolor="#333333" class="style1"><div align="center">Letter Height (in mm)</div></td>
                        <td width="8%" bgcolor="#333333" class="style1"><div align="center">orientation</div></td>

                    </tr>
                    @if (Model.stampsDetailsEntityList == null)
                    {
                        if (Model.stampsDetailsEntityList.Count.Equals(0))
                        {
                            foreach (var item in ViewBag.stampsDetailsEntityList)
                            {
                                <tr>
                                    <td>
                                        @*<div align="center">@item.side</div>
                                            <div align="center">@item.Size</div>
                                            <div align="center">@item.Letter_Height_in_mm</div>
                                            <div align="center">@item.orientation</div>
                                            <div align="center">@item.Letter_Height_in_mm</div>*@
                                        @*<div align="center"></div>
                                            <div align="center">@item.Size</div>
                                            <div align="center">@item.Letter_Height_in_mm</div>
                                            <div align="center">@item.orientation</div>
                                            <div align="center">@item.Letter_Height_in_mm</div>*@
                                    </td>
                                    <td><div align="center">8</div></td>
                                    <td><div align="center">0.3-0.4</div></td>
                                    <td><div align="center">AXIAL</div></td>
                                    <td><div align="center"><img src="~/SharedCss/dist/img/stamp1.jpg"></div></td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <
                            <div align="center">@item.side</div>
                            <div align="center">@item.Size</div>
                            <div align="center">@item.Letter_Height_in_mm</div>
                            <div align="center">@item.orientation</div>
                            <div align="center">@item.Letter_Height_in_mm</div>
                        </tr>

                    }


                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
@*</div>*@
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")