﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


    <div class="content">

        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title"> File Size Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Size in inch</div></td>
                                                <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td>
                                                    <div align="center">-</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Size in inch</div></td>
                                                <td width="37%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="40%" bgcolor="#333333" class="style1"><div align="center">Action</div></td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    <div align="center">45678</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center">5.5</div></td>
                                                <td>
                                                    <div align="center">-</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                            <tr>
                                                <td height="46">
                                                    <div align="center">52314</div>
                                                    <div align="center"></div>      <div align="center"></div>
                                                </td>
                                                <td><div align="center">6.3</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center"><a href="#" class="btn btn-default">Send for Approval</a></div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>File Size Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#size">Add New </a></div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        <form class="form-inline margin2">
                                            <div class="form-group">

                                                <select class="form-control" placeholder="Select Size">
                                                    <option selected disabled>Select Size</option>
                                                    <option value="1">3.5</option>
                                                    <option value="2">4</option>
                                                    <option value="3">4.5</option>
                                                    <option value="4">5</option>
                                                    <option value="5">5.5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">8</option>
                                                    <option value="8">9</option>
                                                </select>
                                            </div>






                                            <a href="#" class=" btn btn-default ">Search</a>

                                            <a href="#" class=" btn btn-default ">Show All</a>


                                        </form>

                                    </div>
                                    <div style="clear:both"></div>

                                    <div class=" table-responsive">

                                        <br>

                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="326" height="31" bgcolor="#333333" class="style2"><div align="center">File Size Code</div></td>
                                                <td width="240" bgcolor="#333333" class="style2"><div align="center">File Size in inch</div></td>
                                                <td width="268" bgcolor="#333333" class="style1"><div align="center">File Size in mm</div></td>
                                            <tr height="20">
                                                <td height="20"><div align="center">04</div></td>
                                                <td><div align="center">3.5</div></td>
                                                <td align="right"><div align="center">87.5</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">06</div></td>
                                                <td><div align="center">4</div></td>
                                                <td align="right"><div align="center">100</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">08</div></td>
                                                <td><div align="center">4.5</div></td>
                                                <td align="right"><div align="center">112.5</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">10</div></td>
                                                <td><div align="center">5</div></td>
                                                <td align="right"><div align="center">125</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">12</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td align="right"><div align="center">137.5</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">14</div></td>
                                                <td><div align="center">6</div></td>
                                                <td align="right"><div align="center">150</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">56</div></td>
                                                <td><div align="center">7</div></td>
                                                <td align="right"><div align="center">140</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">72</div></td>
                                                <td><div align="center">8</div></td>
                                                <td align="right"><div align="center">180</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">54</div></td>
                                                <td><div align="center">8.5</div></td>
                                                <td align="right"><div align="center">135</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">09</div></td>
                                                <td><div align="center">9</div></td>
                                                <td align="right"><div align="center">225</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">10</div></td>
                                                <td><div align="center">10</div></td>
                                                <td align="right"><div align="center">250</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">12</div></td>
                                                <td><div align="center">12</div></td>
                                                <td align="right"><div align="center">300</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">14</div></td>
                                                <td><div align="center">14</div></td>
                                                <td align="right"><div align="center">350</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">16</div></td>
                                                <td><div align="center">16</div></td>
                                                <td align="right"><div align="center">400</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">17</div></td>
                                                <td><div align="center">17</div></td>
                                                <td align="right"><div align="center">425</div></td>
                                            </tr>
                                            <tr height="20">
                                                <td height="20"><div align="center">18</div></td>
                                                <td><div align="center">18</div></td>
                                                <td align="right"><div align="center">450</div></td>
                                            </tr>
                                        </table>



                                        <p class="style1">&nbsp;</p>
                                    </div>


                                </div>
                            </div>
                        </div>



                    </div>
                </div>




























            </div>

        </div>







        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Request No: 12345</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="File Size" value="5.5">
                            </div>






                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                        <br>
                        <br>
                        <br>
                        <div class="collapse" id="reject">
                            <div class="card card-body">
                                <textarea name="" cols="" rows="3" required></textarea>
                                <div style="clear:both"></div>
                                <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade" id="size" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Add Size</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Size in inch ">
                            </div>






                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>

    </div>

