﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Update by Requests</h3>
        </div>
        <div class="box-body">
            <div class=" table-responsive">
                <table width="100%" border="1">
                    <tr>
                        <td height="36" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">File Specification Master</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Raw Material Master</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Process Master</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Norms Master</div></td>
                    </tr>
                    <tr>
                        <td height="29"><div align="center">12345</div></td>
                        <td><div align="center"><img src="~/SharedCss/dist/img/gray.png"></div></td>
                        <td><div align="center"><a href="engi_master/process_master.html"><img src="~/SharedCss/dist/img/orange.png"></a></div></td>
                        <td><div align="center"><a href="engi_master/process_master.html"><img src="~/SharedCss/dist/img/orange.png"></a></div></td>
                        <td><div align="center"><a href="#"><img src="~/SharedCss/dist/img/gray.png" border="0"></a></div></td>
                    </tr>
                    <tr>
                        <td height="29"><div align="center">45698</div></td>
                        <td><div align="center"><a href="engi_master/filespecification.html"><img src="~/SharedCss/dist/img/orange.png"></a></div></td>
                        <td><div align="center"><img src="~/SharedCss/dist/img/gray.png"></div></td>
                        <td><div align="center"><img src="~/SharedCss/dist/img/gray.png"></div></td>
                        <td><div align="center"><img src="~/SharedCss/dist/img/gray.png"></div></td>
                    </tr>
                </table>

            </div>

        </div>

    </div>







</section>

