﻿
@{
    ViewBag.Title = "_ApprovedRequest";
}


<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
                    <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type </div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type </div></td>
                    <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Material</div></td>
                    <td width="20%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No </div></td>
                    <td width="10%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit</div></td>
                </tr>
                @foreach (var list in Model.innerMasterNoApproveEntityList)
                {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.ib_request_type == "S")
                                {
                                    <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ib_request_type@list.ib_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ib_request_type@list.ib_request_id</a>
                                }
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="#" class="" data-target="#innerimage1" data-toggle="modal" onclick="showinnerbox('@list.ib_chartnum','@list.ft_ftype_desc')" >@list.ib_fsize_id</a>
</div>
                        </td>
                        <td>
                            <div align="center">
                                @list.ft_ftype_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.pm_fstype_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.ib_box_type
                            </div>
                        </td>

                        <td>
                            <div align="center">
                                @list.ib_chartnum
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                                {
                                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.ib_request_type@list.ib_request_id','@list.ib_request_id','@list.ib_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                    @*<a href="@Url.Action("UpdateInnerBoxApprove", "InnerBoxmaster", new { ID = @list.ib_request_id, type = @list.ib_request_type })" class="btn btn-warning">Approve</a>*@
                                }
                                else
                                {
                                    <a href="" class="btn btn-warning">Approve</a>
                                }
                                @*<a href="javascript:void(0);" class="anchorDetail" data-id="@list._id">Edit</a>*@
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="innerimage1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content1"></div>
        </div>
    </div>
</div>

<script>
    function showinnerbox(i,j) {
        var ib_chartnum = i;
        var ft_ftype_desc = j;
        $.ajax({
            url: '@Url.Action("Getshowinnerbox", "InnerBoxmaster")',
            data: { ib_chartnum: ib_chartnum, ft_ftype_desc: ft_ftype_desc },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content1").html(data);
                $('#innerimage1').modal('show');
            }
        })
    }
</script>