﻿@model JKFIlesEntity.InnerBoxMasterEntity
@{
    ViewBag.Title = "_EditInnerBox";
    Layout = "";
}
@*<form action="@Url.Action("UpdateInnerbox", "RawMaterial")" method="post">*@
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View/Edit Inner Box </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <h4>Inner packing</h4>
            <br>
            @if (Model.innerboxlist.Count != 0)
            {
                <img src="~/ProjectImages/InnerBox/@Model.innerboxlist[0].ib_chartimg" class="img-responsive">
            }
            else
            {

            }

            <table width="100%" border="1" class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="92" height="30"><div align="center">Parameter Name	</div></th>

                        <th width="166"><div align="center"><span>Parameter Value</span></div></th>
                    </tr>
                    @foreach (var item in Model.innerboxlist)
                    {
                        <tr>
                            <td align="center" width="239" nowrap="nowrap" valign="bottom">@item.ibd_pkg_parm_name</td>
                            <td align="center">@item.ibd_pkg_parm_scrnvalue</td>
                        </tr>
                    }
                </tbody>

            </table>

            @*<a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>*@
      


        </div>

        <div class="modal-footer">
            @*<button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>*@

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
@*</form>*@

