﻿@model JKFIlesEntity.InnerBoxMasterEntity
@{
    ViewBag.Title = "_Innerboxddlmaster";
}

<form class="form-inline"  method="post">

    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.ib_fsize_id, new SelectList(Model.listsizecode, "ib_fsize_id", "ib_fsize_id"), "File Size Code", new { @class = "form-control select2 ChangeinnerApprove", @style = "width:100 % ", @id = "ib_fsize_id" })
        @Html.HiddenFor(m => m.ib_fsize_id)
    </div>


    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.ft_ftype_desc, new SelectList(Model.listtype, "ft_ftype_desc", "ft_ftype_desc"), "File Type", new { @class = "form-control select2 ChangeinnerApprove", @style = "width:100 % ", @id = "ft_ftype_desc" })
    </div>


    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.pm_fstype_desc, new SelectList(Model.listsubtype, "pm_fstype_desc", "pm_fstype_desc"), "File Sub Type", new { @class = "form-control select2 ChangeinnerApprove", @style = "width:100 % ", @id = "pm_fstype_desc" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.ib_box_type, new SelectList(Model.listinnerbmaterial, "ib_box_type", "ib_box_type"), "Material", new { @class = "form-control select2 ChangeinnerApprove", @style = "width:100 % ", @id = "ib_box_type" })
    </div>


  


</form><br>

