﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.InnerBoxMasterEntity>
@{
    ViewBag.Title = "_Innerboxdetailsmastr";
}

<div id="divPartialView1">
    <div class=" table-responsive">

        <br>

        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                    <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type </div></td>
                    <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Sub Type </div></td>
                    <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Material</div></td>
                    <td width="4%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Chart No </div></td>
                </tr>


                @for (int i = 0; i < Model.Count; i++)
            {
                    <tr>
                        <td><div align="center">@Model[i].ib_fsize_id</div></td>
                        <td>
                            <div align="center">


                                @Model[i].ft_ftype_desc

                            </div>

                        </td>
                        <td>
                            <div align="center">


                                @Model[i].pm_fstype_desc

                            </div>

                        </td>


                        <td><div align="center">@Model[i].ib_box_type</div></td>

                        <td>
                            <div align="center">
                             
                                    <a href="#" class="innerimagecls" data-target="#innerimage" data-toggle="modal" data-id="@Model[i].ib_chartnum,@Model[i].ft_ftype_desc">
                                        <p>@Model[i].ib_chartnum</p>
                            </div>
                        </td>


                    </tr>

                }

                @*@foreach (var list in Model.innerMasterEntityList)
                    {
                            <tr>
                                <td><div align="center">@list.ib_fsize_id</div></td>
                                <td><div align="center">@list.ft_ftype_desc</div></td>
                                <td><div align="center">@list.pm_fstype_desc</div></td>
                                <td><div align="center">@list.ib_box_type</div></td>
                                <td>
                                    <div align="center">
                                        <a href="#" class="innerimage" data-id="@list.ib_chartnum,@list.ft_ftype_desc">
                                            @list.ib_chartnum
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }*@

            </tbody>
        </table>
        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, fsize = ViewBag.fsize, filetype = ViewBag.filetype, subtype = ViewBag.subtype, material = ViewBag.material }))
            </div>
        </div>



        <p class="style1">&nbsp;</p>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="innerimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ChangeinnerApprove").change(function () {
            $("#loading").css("display", "block");
            var fsize = $("#ib_fsize_id").val();
            var filetype = $("#ft_ftype_desc").val();
            var subtype = $("#pm_fstype_desc").val();
            var material = $("#ib_box_type").val();

            $.ajax({
                url: '@Url.Action("Innerboxdetailsmastr", "InnerBoxmaster")',
                data: { fsize: fsize, filetype: filetype, subtype: subtype, material: material },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>




<script>
    $(document).ready(function () {
        $(".innerimagecls").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editInnerBoxmaster", "InnerBoxmaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#innerimage').modal('show');
                }
            })
        });



        @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
    });
</script>

