﻿
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
                    <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type </div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type </div></td>
                    <td width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Material</div></td>
                    <td width="20%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No </div></td>
                    <td width="10%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit</div></td>
                </tr>
                @foreach (var list in Model.innerMasterNoActiveEntityList)
                {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.ib_request_type == "S")
                                {
                                    <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ib_request_type@list.ib_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ib_request_type@list.ib_request_id</a>
                                }
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.ib_fsize_id
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.ft_ftype_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.pm_fstype_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.ib_box_type
                            </div>
                        </td>

                        <td>
                            <div align="center">
                                @list.ib_chartnum
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_User")
                                {
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@list.ib_request_id,@list.ib_request_type"><i class="fa fa-pencil"></i></a>
                                }
                                else
                                {
                                    <a>Edit</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>
