﻿@model JKFIlesEntity.InnerBoxMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section>
    <div class="content">
        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">InnerBox Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse  ">
                                   @Html.Action("NewRequest")
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>InnerBox Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @if (Session["Role"].ToString() == "EMT_Disp_User")
                                        {
                                            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#innernew">
                                                Add New
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default pull-right">
                                                Add New
                                            </a>
                                        }
                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        <br>
                                        @Html.Action("Innerboxddlmaster")


                                    </div>
                                    <div style="clear:both"></div>
                                    <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                    @Html.Action("Innerboxdetailsmastr")
                                </div>
                            </div>
                        </div>



                    </div>
                </div>



            </div>

        </div>






        <div style="clear:both"></div>

    </div>
    <div class="modal fade bd-example-modal-lg" id="inneredit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inner Packing </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>With Values</h4>
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="137" style="width: 10px">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="313" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>File size</td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap">Image</td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Material</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield2" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                    <td><input type="text" class="form-control " name="textfield3" id="textfield13" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Box Design</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield4" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>H2</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Note</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield7" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>H3</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Box Width</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield9" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Cap W</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Box Height</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield23" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Cap H</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield24" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Box Length</p></td>
                                    <td><input type="text" class="form-control select2" name="textfield2" id="textfield21" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Cap L1</p></td>
                                    <td><input type="text" class="form-control select2" name="textfield2" id="textfield22" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p> Units to Be Packed</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield19" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Cap I</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield20" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p>T</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield17" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Total Length Box + Cap (L+L1)</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield18" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p>L1</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield15" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>Weight of Box(Grams)</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield16" /></td>
                                </tr>
                                <tr>
                                    <td width="137" nowrap="nowrap" valign="bottom"><p>L2</p></td>
                                    <td><input type="text" class="form-control " name="textfield2" id="textfield11" /></td>
                                    <td width="261" nowrap="nowrap" valign="bottom"><p>&nbsp;</p></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="innernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Inner Box </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <div id="scroll-wrap">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="137" style="width: 10px">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="313" style="width: 10px">Parameter Name</th>
                                        <th width="268">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td>File size</td>
                                        <td>
                                            <select class="form-control select2" style="width:100%;">
                                                <option>2</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%;">
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%;">
                                                <option>Regular</option>
                                                <option>Brass</option>
                                                <option>Handle</option>
                                                <option> Light </option>
                                                <option>Foundry </option>
                                                <option>Lead Float </option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Material</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield2" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                        <td><input type="text" class="form-control " name="textfield3" id="textfield13" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Box Design</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield4" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>H2</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Note</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield7" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>H3</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Box Width</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield9" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Cap W</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Box Height</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield23" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Cap H</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield24" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Box Length</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield21" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Cap L1</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield22" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p> Units to Be Packed</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield19" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Cap I</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield20" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p>T</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield17" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Total Length Box + Cap (L+L1)</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield18" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p>L1</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield15" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>Weight of Box(Grams)</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield16" /></td>
                                    </tr>
                                    <tr>
                                        <td width="137" nowrap="nowrap" valign="bottom"><p>L2</p></td>
                                        <td><input type="text" class="form-control " name="textfield2" id="textfield11" /></td>
                                        <td width="261" nowrap="nowrap" valign="bottom"><p>&nbsp;</p></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>







    </div>
    <div class="modal fade bd-example-modal-md" id="EditInnerBoxnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="filenew">Edit New Inner Box </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody id="tablePartialEditInnerBox"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="EditInnerBoxAddActive"  class="btn btn-primary">Ok</button>
                    </div>
                </form>
                @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
            </div>
        </div>
    </div>
    <div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Enter Remark</label>
                    <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                    <h4> Confirm Approval?</h4>
                    <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                    <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>

            </div>
        </div>
    </div>
   
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
        var TeamDetailPostBackURL = '@Url.Action("EditInnerBox", "InnerBoxmaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var reqtype = $("#reqtype").val;
            var emailrogh = id1.split(",");
            var id = emailrogh[0];
            var type = emailrogh[1]
            split_string = id.split(/(\d+)/)
            var reqtypetable = split_string[0];
            var retypeid = split_string[1];
            $("#tablePartialEditInnerBox").empty();
            var row = "";
            $.ajax({
                url: '@Url.Action("REQInnerBoxDetails", "MastersDetails")',
                data: { id: retypeid, reqtype: type },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                    $("#tablePartialEditInnerBox").append(row);
                    row1 = '<tr><td id="numt" colspan="2">CHART NUM</td>'
                          + '<td id="Range2" colspan="2"> <input type="text"  class="form-control" id="innerbox1" name="innerbox1" value="' + data[0].ib_chartnum + '" /> </td></tr>';
                    $("#tablePartialEditInnerBox").append(row1);
                    row2 = '<tr><td id="img1" colspan="2">CHART IMAGE </td>'
                          + '<td id="Range1" colspan="2"><input type="file"  class="form-control" name="innerbox2"  id="innerbox2" value="' + data[0].ib_chartimg + '" /> </td>'
                     + '<td id="REQ1" colspan="2"><input type="HIDDEN"  class="form-control" name="ibd_request_type"  id="ibd_request_type" value="' + data[0].ibd_request_type + '" /> </td>'
                    + '<td id="REQ1" colspan="2"><input type="HIDDEN"  class="form-control" name="ibd_request_id"  id="ibd_request_id" value="' + data[0].ibd_request_id + '" /> </td></tr>';
                    $("#tablePartialEditInnerBox").append(row2);
                    for (var i = 0; i < data.length; i++) {
                        //if (data.obj[i].tpi_newrm_numinputs > 1) {
                        row = '<tr><td id="valuename' + i + '"> ' + data[i].ibd_pkg_parm_name + ' </td>'
                         + '<td id="Range2"><input type="text" class="form-control"  name="' + i + '"  id="' + i + '" value="' + data[i].ibd_pkg_parm_scrnvalue + '" /> </td>'
                         + '<td id="valuecode' + i + '"> ' + data[i + 1].ibd_pkg_parm_name + ' </td>'
                         + '<td id="Range1"><input type="text" class="form-control"  name="_' + i + '"  id="_' + i + '" value="' + data[i + 1].ibd_pkg_parm_scrnvalue + '" /> </td></tr>';
                        $("#tablePartialEditInnerBox").append(row);
                        i++;
                        $('#EditInnerBoxnew').modal('show');
                        //}
                    }
                    //$("#pn_fsize_code").val(data.sizecode);
                    //$("#pn_ftype_code").val(data.filecode);
                },
                error: function () {
                    alert("No Records Found");
                }
            });


        });
    });

    $(function () {
        $("#EditInnerBoxAddActive").click(function () {
                debugger
                var AllValue = [];
                var count = 0;
                var TrCount = $("#tablePartialEditInnerBox tr").length*2;
                if (window.FormData !== undefined) {

                    var fileUpload = $("#innerbox2").get(0);
                    var files = fileUpload.files;
                   
                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url: '/DispatchDetails/UploadinnerBoxFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                } else {
                    //alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 6; i++) {

                    AllValue.push({
                            ib_chartnum: $('#innerbox1').val(),
                            ib_chartimg: $('#innerbox2').val().replace(/C:\\fakepath\\/i, ''),
                            ibd_request_id: $('#ibd_request_id').val(),
                            ibd_request_type: $('#ibd_request_type').val(),
                            ibd_pkg_parm_name: $.trim($("#tablePartialEditInnerBox tr td#valuename" + i + "").eq(0).text()),
                            ibd_pkg_parm_dwgvalue: $("#tablePartialEditInnerBox tr td #"+i+"").val(),
                            ibd_pkg_parm_code: $.trim($("#tablePartialEditInnerBox tr td#valuecode" + i  + "").eq(0).text()),
                            ibd_pkg_parm_scrnvalue: $("#tablePartialEditInnerBox tr td #_" + i + "").val()

                        });
                    if ($("#tablePartialEditInnerBox tr td #" + i + "").val() == '' || $("#tablePartialEditInnerBox tr td #" + i + "").val() == 'undefined') {
                        count++;
                    }
                    if ($("#tablePartialEditInnerBox tr td #_" + i + "") == '' || $("#tablePartialEditInnerBox tr td #_" + i + "") == 'undefine') {
                        count++;
                    }
                    if ($('#innerbox2').val().replace(/C:\\fakepath\\/i, '') == '' || $('#innerbox2').val().replace(/C:\\fakepath\\/i, '') == 'undefined' || $('#innerbox1').val()=='')
                    {
                        count++;
                    }
                    i++

                }
                if (count >= 1) {
                    alert('Please Enter All Values....!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InnerboxEditactive", "InnerBoxmaster")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('InnerBox Inserted Succesfully');
                            location.reload();
                        },
                    });
                }
            });
        });
</script>
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "InnerBoxMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdateInnerBoxApprove", "InnerBoxMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>