﻿@*@model JKFiles.WebApp.Entity*@
@{
    ViewBag.Title = "_MenuMaster";
    Layout = "";
}

<ul class="sidebar-menu  jk-pt-60 ">

    @if (Session["MenuMaster"] != null)
    {

        //  var MenuMaster = (List<JKFIlesEntity.UsermgmtEntity>)Session["MenuMaster"];
        //  var groupByMenu = MenuMaster.GroupBy(x => x.MainMenu).ToList();

        var MenuMaster = (List<JKFIlesEntity.UsermgmtEntity>)Session["MenuMaster"];
        // var groupByMenu = MenuMaster.GroupBy(x => x.Menu, y => y.Menu_Level).ToList();
        int refid = 1;
        //int count = 0;
        //foreach (var MainMenu in MenuMaster)
        //{
        //    if (MainMenu.Menu_Level == 1)
        //    {
        //        count = count + 1;
        //    }
        //}


        foreach (var MenuList in MenuMaster)
        {
            if (MenuList.Menu_Level == 1)
            {
                if (MenuList.IsSubMenuPresent == "Y")
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-chevron-circle-right"></i>
                            <span>@MenuList.Menu</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>

                        <ul class="treeview-menu">
                            @foreach (var SubMenuList in MenuMaster)
                            {
                                if (SubMenuList.Menu_Level == 2 && SubMenuList.RefId == MenuList.mstr_id)
                                {
                                    if (SubMenuList.IsSubMenuPresent == "Y")
                                    {
                                        <li class="treeview  ">
                                            <a href="#">
                                                <i class="fa fa-chevron-circle-right"></i>
                                                <span>@SubMenuList.Menu</span>
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </a>
                                            <ul class="treeview-menu">

                                                @foreach (var SubMenu1List in MenuMaster)
                                                {
                                                    if (SubMenu1List.Menu_Level == 3 && SubMenu1List.RefId == SubMenuList.mstr_id)
                                                    {
                                                        if (SubMenu1List.IsSubMenuPresent == "Y")
                                                        {
                                                            <li class="">
                                                                <a href="#">
                                                                    <i class="fa fa-chevron-circle-right"></i>@SubMenu1List.Menu<i class="fa fa-angle-left pull-right"></i>
                                                                </a>
                                                                <ul class="treeview-menu ">

                                                                    @foreach (var SubMenu2List in MenuMaster)
                                                                    {
                                                                        if (SubMenu2List.Menu_Level == 4 && SubMenu2List.RefId == SubMenu1List.mstr_id)
                                                                        {
                                                                            <li class=""><a href="@Url.Action(SubMenu2List.Action, SubMenu2List.Controller)"><i class="fa fa-chevron-circle-right"></i>@SubMenu2List.Menu</a> </li>
                                                                        }
                                                                    }
                                                                </ul>

                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class=""><a href="@Url.Action(SubMenu1List.Action, SubMenu1List.Controller)"><i class="fa fa-chevron-circle-right"></i>@SubMenu1List.Menu</a> </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="@SubMenuList.Menu"><a href="@Url.Action(SubMenuList.Action, SubMenuList.Controller)"><i class="fa fa-chevron-circle-right"></i>@SubMenuList.Menu</a> </li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action(MenuList.Action, MenuList.Controller)">
                            <i class="fa fa-chevron-circle-right"></i>
                            <span>@MenuList.Menu</span>                          
                        </a>
                    </li>
                }
                refid++;
            }

        }

    }





</ul>
