﻿@model System.Web.Mvc.HandleErrorInfo

@{

    ViewBag.Title = "Error";
}
<div class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="text-danger">Error.</h3>
        </div>
        <div class="box-body">

            <h4 class="text-danger">An error occurred while processing your request.</h4>
            <h5>@Html.ActionLink("Go Back To Home Page", "ItemMasterIndex", "ItemMaster")</h5>
        </div>
    </div>
</div>