﻿@*@model JKFIlesEntity.UsermgmtEntity*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JK Files</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/SharedCss/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="~/SharedCss/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="~/SharedCss/dist/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/SharedCss/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/SharedCss/plugins/iCheck/all.css">

    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/SharedCss/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/SharedCss/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/SharedCss/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/SharedCss/dist/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/SharedCss/dist/css/skins/_all-skins.css">

    <link rel="stylesheet" type="text/css" href="~/SharedCss/dist/css/jk-custom.css">
    <link href="~/SharedCss/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Scripts/datepiker3.css" rel="stylesheet" />
    <style>
        .slimScrollBar {
            background: none repeat scroll 0 0 #92c5f1 !important;
            border-radius: 0;
            display: none;
            height: 702.936px;
            position: absolute;
            right: 1px;
            top: 145px;
            width: 8px !important;
            z-index: 99;
            opacity: 0.7 !important;
        }

        .style1 {
            color: #fff;
        }

        #uppercase {
            text-transform: uppercase !important;
        }
    </style>
@RenderSection("Scripts", false)
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>JK</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/SharedCss/dist/img/JK_logo.png"></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/SharedCss/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@Session["User_Id"].ToString()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/SharedCss/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["User_Id"].ToString()
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "LoginPage")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar ">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar ">
                <!-- Sidebar user panel -->
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">


                    @*@foreach (var item in Model.menulist)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-chevron-circle-right"></i>
                                    <span>@item.MainMenu</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            </li>
                        }*@


                    @Html.Partial("_MenuMaster")






                    <!--<li class="treeview">
                      <a href="#">
                        <i class="fa fa-chevron-circle-right"></i>
                        <span>JK Master Data</span>
                        <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Incoming Quality
                       </a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Final Inspection </a></li>

                      </ul>
                    </li>-->



                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <!-- /.content -->
            @RenderBody()
        </div><!-- /.content-wrapper -->

        <footer class="main-footer">

            Copyright © 2016 Powered by Decintell Tech Pvt. Ltd. <a href="http://www.decintell.com">http://www.decintell.com</a>. All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    </div><!-- ./wrapper -->
    
    <img src="~/Content/Images/loader.gif" id="loading" />
    <!-- jQuery 2.1.4 -->
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/SharedCss/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/SharedCss/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/SharedCss/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/SharedCss/plugins/select2/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/SharedCss/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/SharedCss/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/SharedCss/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="~/SharedCss/dist/js/moment.js"></script>
    <script src="~/SharedCss/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/SharedCss/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/SharedCss/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/SharedCss/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/SharedCss/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/SharedCss/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/SharedCss/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/SharedCss/dist/js/demo.js"></script>
    <script src="~/SharedCss/dist/js/moment.js"></script>
    <script src="~/SharedCss/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/Datepiker.js"></script>
 
    <!-- Cancel Button Script By Swapnil  please do not comment or delete  -->
    <script>
        $(function () {
            $(".CancelWithdrow").click(function () {
                if (confirm("Are you sure you want to withdraw this Request?")) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ReqWithdrow", "MastersDetails")',
                        data: JSON.stringify(),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            location = data.url;
                        },
                    });
                   
                }
                else {
                    return false;
                }
            });
        });
    </script>
    <!--  Cancel Button   -->
    <script>
        $(document).ready(function () {
         
                $(".datepicker").datepicker({
                    format: 'dd-M-yyyy'
                });
           
            //$(window).load(function () {
            //    var x = window.location.href;
            //    alert(x);
            //    $('ul a[href="' + x + '"]').each(function () {
            //        if (x == window.location.href) {
            //            $('ul li').removeClass('active');
            //            $(this).parent('li').addClass('active');
            //        }
            //    });
            //});

            var url = window.location;
            //alert(url);


            // for sidebar menu entirely but not cover treeview
            $('ul.sidebar-menu a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
            //Top bar
            $('ul.navbar-nav a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');

            // for treeview
            $('ul.treeview-menu a').filter(function () {
                return this.href == url;
            }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');



            //$('ul.treeview-menu li > ul.treeview-menu li a').filter(function () {
            //    return this.href == url;
            //    //alert(url);
            //}).closest('ul.treeview-menu').addClass('active');


            //$('ul.treeview-menu li >ul.treeview-menu li a').filter(function () {
            //    return this.href == url;
            //    //alert(url);
            //}).closest('.treeview >.treeview').addClass('active');




            // TODO: check if the index or ID of the selected element is saved somewhere, then apply the css class you want.
            // You could make a get to a action to retrieve the state, but is one more roundtrip just to get the state.
            // Another solution is on the server side, during the rendering, you already know the state of the selected item, so just add the class where you need it.
        });


        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();

            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            );

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>

    <script>
        var speed = 300;
        $('#close-bar').on('click', function () {

            var $$ = $(this),
                panelWidth = $('#hiddenPanel').outerWidth();

            if ($$.is('.myButton')) {
                $('#hiddenPanel').animate({ right: 0 }, speed);
                $$.removeClass('myButton')
            } else {
                $('#hiddenPanel').animate({ right: -panelWidth }, speed);
                $$.addClass('myButton')
            }

        });



    </script>


    <!--    <script>

        $(document).ready(function(){
      $(".editor-header a").click(function(e){
        e.preventDefault();

        var _val = $(this).data("role"),
            _sizeValIn = parseInt($(this).data("size-val") + 1),
            _sizeValRe = parseInt($(this).data("size-val") - 1),
            _size = $(this).data("size");
        if(_size == "in-size"){
          document.execCommand(_val, false, _sizeValIn + "px");
        } else{
          document.execCommand(_val, false, _sizeValRe + "px");
        }
      });
    });

    $(document).ready(function(){
      var $text = $("#text"),
          $submit = $("input[type='submit']"),
          $listComment = $(".list-comments"),
          $loading = $(".loading"),
          _data,
          $totalCom = $(".total-comment");

      $totalCom.text($(".list-comments > div").length);

      $($submit).click(function(){
        if($text.html() == ""){
          alert("Plesea write a comment!");
          $text.focus();
        } else{
          _data = $text.html();
          $.ajax({
            type: "POST",
            url: window.local,
            data: _data,
            cache: false,
            success: function(html){
              $loading.show().fadeOut(300);
              $listComment.append("<div>"+_data+"</div>");
              $text.html("");
              $totalCom.text($(".list-comments > div").length);
            }
          });
          return false;
        }
      });
    });

        </script>-->
    <!--  <script>
    function myFunction() {
        alert("Successfully submitted");

    }
    </script>


     <script>
    function myFunction1() {
        alert("Request Sent Successfully ");

    }
    </script> -->
    @*<script>
        $("#selectbox").change(function () {
            if ($(this).val() == "#new") {
                $('#new').modal('show');
              }
              });
            </script>


            <script>
        $("#selectbox1").change(function () {
            if ($(this).val() == "#brandnew") {
                $('#brandnew').modal('show');
              }
              });
            </script>*@



    @*<script>
        $("#selectbox2").change(function () {
            if ($(this).val() == "#sizenew") {
                $('#sizenew').modal('show');
              }
              });
            </script>



            <script>
        $("#selectbox3").change(function () {
            if ($(this).val() == "#filenew") {
                $('#filenew').modal('show');
              }
              });
            </script>

            <script>
        $("#selectbox4").change(function () {
            if ($(this).val() == "#subnew") {
                $('#subnew').modal('show');
              }
              });
            </script>




            <script>
        $("#selectbox5").change(function () {
            if ($(this).val() == "#newtpi") {
                $('#newtpi').modal('show');
              }
              });
            </script>


            <script>
        $("#selectbox6").change(function () {
            if ($(this).val() == "#stampnew") {
                $('#stampnew').modal('show');
              }
              });
            </script>*@



</body>
</html>
