﻿@model JKFiles.WebApp.Models.EquipmentMasterModel

@{
    ViewBag.Title = "EquipmentRegister";
}
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<div class="tab-pane active" id="p2">
    <div class="col-md-12"><h4>Equipment Master</h4></div>

    <div class="form-group col-md-2">

        <select class="form-control select3" id="UnitType" name="UnitType" onchange="RegisterEquipmentlist()">
            <option value="">Select Unit Type  </option>
            <option>P</option>
            <option>A</option>
        </select>
    </div>

    <div class="form-group col-md-2">

        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.UnitDropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @class = "form-control select3", @id = "ddluni_unit_code", @onchange = "RegisterEquipmentlist()" })
        @Html.ValidationMessageFor(m => m.uni_unit_code)
    </div>
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.opr_operation_seq, new SelectList(Model.oprationmasterlist, "opr_operation_seq", "opr_operation_name"), "Select Operation", new { @class = "form-control select3", @id = "ddlopr_operation_seq", @onchange = "RegisterEquipmentlist()" })
        @Html.ValidationMessageFor(m => m.opr_operation_seq)
    </div>
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.equ_id, new SelectList(Model.equipmentlist, "equ_name", "equ_name"), "Equipment Name  ", new { @class = "form-control select3", @id = "ddlEqiId", @onchange = "RegisterEquipmentlist()" })
        @Html.ValidationMessageFor(m => m.equ_id)
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.equ_type, new SelectList(Model.equipmenttypelist, "equ_type", "equ_type"), "Equipment Type  ", new { @class = "form-control select3", @id = "ddlequ_type", @onchange = "RegisterEquipmentlist()" })
        @Html.HiddenFor(m => m.ddlequ_type)
    </div>
    <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#equipmentR">Add New </a>
    <div style="clear:both"></div>
    <div style="clear:both"></div>

    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tbody>
                <tr>
                    <td width="8%" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">VS Code</div></td>
                    <td width="9%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Operation Id</div></td>
                    <td width="13%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Equipment Name</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Equipment Type</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Allocated Qty</div></td>
                    <td width="21%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Edit</div></td>
                </tr>
            </tbody>
            <tbody id="EquiptblR"></tbody>

        </table>
    </div>

</div>
<div style="clear:both"></div>
<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Value Streams</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tr>
                            <td width="8%" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Value Stream Code</div></td>
                            <td width="9%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Value Stream Name</div></td>
                            <td width="13%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Quantity</div></td>
                        </tr>

                        <tbody id="valuestreamtbl">
                            <tr></tr>
                        </tbody>

                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="equipmentR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Allocate Equipment </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-md-6">
                        <label>Unit Name</label>
                        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.UnitDropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit Name", new { @class = "form-control", @id = "uni_unit_code" })
                        @Html.ValidationMessageFor(m => m.uni_unit_code)
                    </div>

                    <div class="form-group col-md-6">
                        <label>Equipment Name</label>
                        @Html.DropDownListFor(model => model.equ_name, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "equ_name" })
                        @Html.HiddenFor(m => m.equ_name)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Equipment Type </label>
                        @Html.DropDownListFor(model => model.equ_type, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "equ_type" })
                        @Html.HiddenFor(m => m.equ_type)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Value Stream </label>
                        @Html.DropDownListFor(model => model.val_valuestream_code, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control selectvscode", @id = "val_valuestream_code" })
                        @Html.HiddenFor(m => m.val_valuestream_code)
                    </div>

                    <div class="form-group col-md-6">
                        <label>Alternate Value Stream </label>
                        @Html.DropDownListFor(model => model.val_alternate_valuestream_code, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control selectalternatvscode", @id = "val_alternate_valuestream_code" })
                        @Html.HiddenFor(m => m.val_alternate_valuestream_code)
                    </div>
                    <div class="form-group col-md-6">
                        <label> Operation </label>
                        @Html.DropDownListFor(model => model.opr_operation_seq, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control ", @id = "opr_operation_seq",@onchange= "AssetNoDetails()" })
                        @Html.HiddenFor(m => m.opr_operation_seq)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Total Asset</label>
                        <input type="text" class="form-control" id="totalast" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Allocated Asset</label>
                        <input type="text" class="form-control" id="allocaytedast" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Available Asset</label>
                        <input type="text" class="form-control" id="availbleast" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Select Asset</label>
                        <td colspan="3">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.equ_assetno, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2 ", @multiple = "multiple", @id = "equ_assetno" })
                                @Html.HiddenFor(m => m.equ_assetno)

                            </div>
                            <img src="~/Content/Images/loader.gif" id="loading" style="display:none;z-index:1" />
                        </td>
                    </div>
                </form>
            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onClick="SubmitEquipment('We are processing...')">Ok</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    var oprationtempcode = "";
    $(function () {
        $('#btnSelected').click(function () {
            var selected = $("#equ_assetno option:selected");
            var message = "";
            selected.each(function () {
                oprationtempcode += $(this).val() + "\n";
                message += $(this).text() + "\n";

            });
            alert(message);
        });
        $(document).ready(function () {

            $("#uni_unit_code").change(function () {
                var uni_unit_code = $("#uni_unit_code").val();
                $.ajax({
                    url: '@Url.Action("getUnitValuesteram", "Equipment")',
                    data: { uni_unit_code: uni_unit_code },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#val_valuestream_code").empty();
                        $('<option>',
                               {
                                   value: "Select",
                                   text: "Select"
                               }).html("Select").appendTo("#val_valuestream_code");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.val_valuestream_code,
                                   text: data.val_valuestream_name
                               }).html(data.val_valuestream_name).appendTo("#val_valuestream_code");
                        });
                    }
                });
                $.ajax({
                    url: '@Url.Action("getUnitValuesteram", "Equipment")',
                    data: { uni_unit_code: uni_unit_code },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#val_alternate_valuestream_code").empty();
                        $('<option>',
                              {
                                  value: "Select",
                                  text: "Select"
                              }).html("Select").appendTo("#val_alternate_valuestream_code");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.val_valuestream_code,
                                   text: data.val_valuestream_name
                               }).html(data.val_valuestream_name).appendTo("#val_alternate_valuestream_code");
                        });
                    }
                });
                $.ajax({
                    url: '@Url.Action("getUnitEquipment", "Equipment")',
                    data: { uni_unit_code: uni_unit_code },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#equ_name").empty();
                        $('<option>',
                       {
                           value: "Select",
                           text: "Select"
                       }).html("Select").appendTo("#equ_name");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.equ_name,
                                   text: data.equ_name
                               }).html(data.equ_name).appendTo("#equ_name");
                        });
                    }
                });

            });

            $("#equ_name").change(function () {
                var uni_unit_code1 = $("#uni_unit_code").val();
                var equ_name11 = $("#equ_name").val();
                $.ajax({
                    url: '@Url.Action("getUnitEquipmentType", "Equipment")',
                    data: { uni_unit_code: uni_unit_code1, equ_name: equ_name11 },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#equ_type").empty();
                        $('<option>',
                               {
                                   value: "Select",
                                   text: "Select"
                               }).html("Select").appendTo("#equ_type");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.equ_type,
                                   text: data.equ_type
                               }).html(data.equ_type).appendTo("#equ_type");
                        });
                    }
                });
            });
            $("#equ_type").change(function () {
                var uni_unit_code1 = $("#uni_unit_code").val();
                var equ_name11 = $("#equ_name").val();
                var equ_type1 = $("#equ_type").val();
                $.ajax({
                    url: '@Url.Action("getUnitEquipmentAsset", "Equipment")',
                    data: { uni_unit_code: uni_unit_code1, equ_name: equ_name11, equ_type: equ_type1 },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#equ_assetno").empty();

                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.equ_assetno,
                                   text: data.equ_assetno
                               }).html(data.equ_assetno).appendTo("#equ_assetno");
                        });

                    }
                });
            });

            $("#val_valuestream_code").change(function () {
                var val_valuestream_code = $("#val_valuestream_code").val();

                $.ajax({
                    url: '@Url.Action("getValuesteramProcess", "Equipment")',
                    data: { val_valuestream_code: val_valuestream_code },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        $("#opr_operation_seq").empty();
                        $('<option>',
                               {
                                   value: "Select",
                                   text: "Select"
                               }).html("Select").appendTo("#opr_operation_seq");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.ppm_process_seqno,
                                   text: data.ppm_operation_name
                               }).html(data.ppm_operation_name).appendTo("#opr_operation_seq");
                        });
                    }
                });
            });

        

            RegisterEquipmentlist();

        });
        $(".selectvscode").change(function () {
            if ($("#val_alternate_valuestream_code").val() != $("#val_valuestream_code").val()) {
                var VSNo = $("#val_valuestream_code").val();
            }
            else {
                alert("Plese select different alternat VS");
                $("#val_valuestream_code").val("");
                $("#val_valuestream_code").val("");
            }
        });

        $(".selectalternatvscode").change(function () {
            if ($("#val_alternate_valuestream_code").val() != $("#val_valuestream_code").val()) {
                var VSNo = $("#val_alternate_valuestream_code").val();
            }
            else {
                alert("Plese select different alternat VS");
                $("#val_alternate_valuestream_code").val("");
                $("#val_alternate_valuestream_code").val("");
            }
        });
    });

    function SubmitEquipment(str) {
        var lock = document.getElementById('Lockup');
        var unitcode = $("#uni_unit_code").val();
        var valueStrm = $("#val_valuestream_code").val();
        var alternatVS = $("#val_alternate_valuestream_code").val();
        var opration = $("#opr_operation_seq").val();
        var Asset = $("#equ_assetno").val();
        if (Asset != null) {
            if (lock)
                lock.className = 'LockOn';
            lock.innerHTML = str;
            $.ajax({
                url: '@Url.Action("UpdateAssetAllocation", "Equipment")',
                data: { uni_unit_code: unitcode, val_valuestream_code: valueStrm, val_alternate_valuestream_code: alternatVS, opr_operation_seq: opration, Asset: Asset },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    alert(data.message);
                    location.reload();
                },
                error: function () {
                    alert("No Records add");
                    location.reload();
                }
            });
        } else {
            alert('Please select all dropdown');
        }
    }



    function RegisterEquipmentlist() {
        var UnitType1 = $("#UnitType").val();
        var uni_unit_code1 = $("#ddluni_unit_code").val();
        var equ_name11 = $("#ddlEqiId").val();
        var equ_type1 = $("#ddlequ_type").val();
        var opr_operation_seq1 = $("#ddlopr_operation_seq").val();
        var row = "";
        $("#EquiptblR").empty();
        $.ajax({
            url: '@Url.Action("Equipmentallocationlist", "Equipment")',
            data: { UnitType: UnitType1, uni_unit_code: uni_unit_code1, opr_operation_seq: opr_operation_seq1, equ_name: equ_name11, equ_type: equ_type1 },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.equivaluelist.length; i++) {
                    row = '<tr><td><div align="center"> ' + data.equivaluelist[i].VSCode + '</div> </td>'
                    + '<td><div align="center">' + data.equivaluelist[i].opr_operation_name + ' </td>'
                    + '<td><div align="center">' + data.equivaluelist[i].equ_name + '</div></td>'
                    + '<td><div align="center">' + data.equivaluelist[i].equ_type + '</div></td>'
                    + '<td><div align="center"> ' + data.equivaluelist[i].quantity + ' </div></td>'
                    + '<td><div align="center"><a href="#" data-toggle="modal" data-target="#editequip"><i class="fa fa-pencil"></i></a></div></td></tr>';
                    $("#EquiptblR").append(row);
                }
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }

    function AssetNoDetails() {
            var uni_unit_code = $("#uni_unit_code").val();
            var equ_name = $("#equ_name").val();
            var equ_type = $("#equ_type").val();
            var val_valuestream_code = $("#val_valuestream_code").val();
            var opr_operation_seq = $("#opr_operation_seq").val();
            $.ajax({
                url: '@Url.Action("getAssetNoTotal", "Equipment")',
                data: { uni_unit_code: uni_unit_code, equ_name: equ_name, equ_type: equ_type, val_valuestream_code: val_valuestream_code, opr_operation_seq: opr_operation_seq },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#totalast").val(data.TotalAsset);
                    $("#allocaytedast").val(data.AllocateAsset);
                    $("#availbleast").val(data.AvailbleAsset);
                }
            });
    }
</script>