﻿@model JKFiles.WebApp.Models.EquipmentMasterModel
@{
    ViewBag.Title = "_EquipmentNo";
}

<!-- /.tab-pane -->



<div class="tab-pane  " id="p1">

    <div class="col-md-12"><h4>Equipment Asset Master </h4></div>
    @*<div class="form-group col-md-2">

        <select class="form-control select3" id="UnitType1" name="UnitType1" onchange="Equipmentlist()">
            <option selected="selected" disabled>Select Unit Type  </option>
            <option>P</option>
            <option>A</option>
        </select>
    </div>

    <div class="form-group col-md-2">

        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.UnitDropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @class = "form-control select3", @id = "ddluni_unit_code1", @onchange = "Equipmentlist()" })
        @Html.ValidationMessageFor(m => m.uni_unit_code)
    </div>
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.equ_id, new SelectList(Model.equipmentlist, "equ_name", "equ_name"), "Equipment Name  ", new { @class = "form-control select3", @id = "ddlEqiId1", @onchange = "Equipmentlist()" })
        @Html.ValidationMessageFor(m => m.equ_id)
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.equ_type, new SelectList(Model.equipmenttypelist, "equ_type", "equ_type"), "Equipment Type  ", new { @class = "form-control select3", @id = "ddlequ_type1", @onchange = "Equipmentlist()" })
        @Html.HiddenFor(m => m.ddlequ_type)
    </div>*@
    <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#equipmentA">Add New </a> 
    <div style="clear:both"></div>

    <div class="col-md-12">
        <div >
            <table width="100%" border="1" bordercolor="#CCCCCC" id="EquipmentNomsterGrid">
                <thead>
                    <tr>
                        <th width="8%" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Type</div></th>
                        <th width="9%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Name</div></th>
                        <th width="13%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Equipment Name</div></th>
                        <th width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Equipment Type</div></th>
                        <th width="18%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Start Date</div></th>
                        <th width="15%" bgcolor="#e8e8e8" class=" text-black"><div align="center">End Date</div></th>
                        <th width="11%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Asset Number</div></th>
                    </tr>
                </thead>
                <tbody id="Equiplisttbl"></tbody>
              
            </table>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div style="clear:both"></div>


<div class="modal fade" id="equipmentA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Add Equipment</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><form id="AddEquipment" action="@Url.Action("AddEquipment", "Equipment")"  method="post">
    <div class="modal-body">
        <div class="form-group col-md-6">
            <label>Unit Name</label>
            @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.UnitTypeDropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit Name", new { @class = "form-control", @id = "equ_unitcode" })
            @Html.ValidationMessageFor(m => m.uni_unit_code)
        </div>
        <div class="form-group col-md-6">
            <label>Quantity</label>
            <input type="text" class="form-control " name="quantity" id="quantity" placeholder="Do not enter more than 15 qty" onkeypress="return isNumberKey(event)" />
        </div>
        <div style="clear:both"></div>
        <div class="form-group col-md-6">
            <label>Equipment Name</label>
            <input type="text" class="form-control" id="equ_name" name="equ_name" placeholder="Equipment Name">
        </div>
        <div class="form-group col-md-6">
            <label>Equipment Type</label>
            <input type="text" class="form-control" id="equ_type" name="equ_type" placeholder="Equipment Type">
        </div>
       
        <div style="clear:both"></div>
        <div class="form-group col-md-6">
            <label>Start Date</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" id="aa_startdate" name="aa_startdate" class="form-control datepicker">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>End Date</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" id="aa_enddate" name="aa_enddate" class="form-control datepicker">
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
</form>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        //Equipmentlist();
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function showAssetNo(equid) {
        var EquipmentID = equid;
        $.ajax({
            url: '@Url.Action("EquipmentAssetNo", "Equipment")',
                    data: { EquipmentID: EquipmentID },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        for (var i = 0; i < data.equivaluelist.length; i++) {

                            $("#uni_unit_type").val(data.equivaluelist[i].uni_unit_type);
                            $("#uni_unit_name").val(data.equivaluelist[i].unitname);
                            $("#equ_name").val(data.equivaluelist[i].equ_name);
                            $("#equ_type").val(data.equivaluelist[i].equ_type);
                            $("#equ_assetno").val(data.equivaluelist[i].equ_assetno);
                            $("#equ_id").val(data.equivaluelist[i].equ_id);
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }

    @*function Equipmentlist() {
        var UnitType1 = $("#UnitType1").val();
        var uni_unit_code1 = $("#ddluni_unit_code1").val();
        var equ_name11 = $("#ddlEqiId1").val();
        var equ_type1 = $("#ddlequ_type1").val();
        var row = "";
        $("#Equiplisttbl").empty();
        $.ajax({
            url: '@Url.Action("EquipmentList", "Equipment")',
            data: { UnitType: UnitType1, uni_unit_code: uni_unit_code1, equ_name: equ_name11, equ_type: equ_type1 },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.equiplist.length; i++) {
                    row = '<tr><td> ' + data.equiplist[i].uni_unit_type + ' </td>'
                    + '<td> ' + data.equiplist[i].uni_unit_name + ' </td>'
                    + '<td> ' + data.equiplist[i].equ_name + ' </td>'
                    + '<td> ' + data.equiplist[i].equ_type + ' </td>'
                    + '<td> ' + data.equiplist[i].stringaa_startdate + ' </td>'
                    + '<td> ' + data.equiplist[i].stringaa_enddate + ' </td>'
                    + '<td> ' + data.equiplist[i].aa_assetno + ' </td></tr>';
                    $("#Equiplisttbl").append(row);
                }
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }*@

    $(document).ready(function () {
        $("#ddlEqiId").change(function () {
            var uni_unit_code1 = $("#ddluni_unit_code").val();
            var equ_name11 = $("#ddlEqiId").val();
            $.ajax({
                url: '@Url.Action("getUnitEquipmentType", "Equipment")',
                data: { uni_unit_code: uni_unit_code1, equ_name: equ_name11 },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#ddlequ_type").empty();
                    $('<option>',
                           {
                               value: "Select",
                               text: "Select"
                           }).html("Select").appendTo("#equ_type");
                    $.each(data, function (i, data) {
                        $('<option>',
                           {
                               value: data.equ_type,
                               text: data.equ_type
                           }).html(data.equ_type).appendTo("#ddlequ_type");
                    });
                }
            });
        });
    });
</script>

         <script>
        $(document).ready(function () {
            $("#EquipmentNomsterGrid").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "ajax": {
                    "url": '@Url.Action("LoadData", "Equipment")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": true
                },],
              
                "columns": [
                      { "data": "uni_unit_type", "name": "uni_unit_type", "autoWidth": true, "className": "text-center" },
                      { "data": "uni_unit_name", "name": "uni_unit_name", "autoWidth": true, "className": "text-center" },
                      { "data": "equ_name", "name": "equ_name", "autoWidth": true, "className": "text-center" },
                       { "data": "equ_type", "name": "equ_type", "autoWidth": true, "className": "text-center" },
                       { "data": "stringaa_startdate", "name": "stringaa_startdate", "autoWidth": true, "className": "text-center" },
                       { "data": "stringaa_enddate", "name": "stringaa_enddate", "autoWidth": true, "className": "text-center" },
                       { "data": "aa_assetno", "name": "aa_assetno", "autoWidth": true, "className": "text-center" },
                      //{
                      //    "render": function (data, type, full, meta) {
                      //        return '<a class="btn btn-info" href="/Home/Edit/' + full.CustomerID + '">Edit</a>';
                      //    }
                      //},

                      // {
                      //     data: null, render: function (data, type, row) {
                      //         return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                      //     }
                      // },
                ]

            });
        });
</script>