﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Equipment Details</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#p2" data-toggle="tab" aria-expanded="false">Equipment Register</a></li>
                    <li class=""><a href="#p1" data-toggle="tab" aria-expanded="true">Equipment Asset No.</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active " id="p2">
                        @Html.Action("EquipmentRegister")
                    </div>
                    <div class="tab-pane  " id="p1">
                        @Html.Action("EquipmentNo")
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
