﻿
@{
    ViewBag.Title = "_ApprovedRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="7%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="30%" bgcolor="#e8e8e8" class="text-black"><div align="center">Type</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No</div></td>
                    <td width="21%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit</div></td>
                </tr>
                <tr>
                    @foreach (var list in Model.palletmsterNoApproveList)
                    {
                    <tr>
                        <td><div align="center">
                        @if (@list.pm_request_type == "S")
                        {
                            <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.pm_request_type@list.pm_request_id</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.pm_request_type@list.pm_request_id</a>
                        }</div></td>
                        <td><div align="center">@list.pm_pallet_type</div></td>
                        <td>
                            <div align="center">
                                <a href="#" id="Apppalletimage" class="palletimagecls" onclick="ShowApprowreq('@list.pm_pallet_chartnum','@list.pm_pallet_type')" data-toggle="modal" data-target="#palletimage1">
                                    <p>@list.pm_pallet_chartnum</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                                {
                                    @*<a href="@Url.Action("UpdatePalletApprove", "PalletMaster", new { ID = @list.pm_request_id, type = @list.pm_request_type })" class="CountClick btn btn-warning" data-id="@list.pm_request_id">sApprove</a>*@
                                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.pm_request_type@list.pm_request_id','@list.pm_request_id','@list.pm_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                }
                                else
                                {
                                    <a href="" class="btn btn-warning">Approve</a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>

                    </tr>

                    }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg " id="palletimage1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div id="content1"></div>
            </div>
        </div>
    </div>
    <script>


        function ShowApprowreq(i,j) {
            var pm_pallet_chartnum=i;
            var pm_pallet_type=j;
            $.ajax({
                url: '@Url.Action("getApprovepalletmstrview", "PalletMaster")',
                data: { pm_pallet_chartnum: pm_pallet_chartnum,pm_pallet_type:pm_pallet_type },
                type: "GET",
                datatype: "json",
                success: function (data) {
                   
                    $("#content1").html(data);
                    $('#palletimage1').modal('show');
                }
            })
        }



    </script>