﻿@model JKFIlesEntity.PalletMasterEntity
@{
    ViewBag.Title = "_EditPaleetMaster";
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title" id="new">View/Edit Pallet </h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <br>
    @if (Model.palletmsterList.Count != 0)
    {
        <img src="~/ProjectImages/Pallet/@Model.palletmsterList[0].pm_pallet_chartimg" class="img-responsive">
    }
    else
    {

    }
    <table width="100%" border="1" class="table table-bordered">
        <tbody>
            <tr>
                <th width="92" height="30"><div align="center">Parameter Name	</div></th>

                <th width="166"><div align="center"><span>Parameter Value</span></div></th>
            </tr>
            @foreach (var item in Model.palletmsterList)
            {
                <tr>
                    <td align="center" width="239" nowrap="nowrap" valign="bottom">@item.pd_parm_name</td>

                    <td align="center">@item.pd_parm_scrnvalue</td>
                </tr>
            }
        </tbody>

    </table>

    @*<a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>*@
    <br>
 


</div>



<div class="modal-footer">
    @*<button type="button" class="btn btn-primary">Edit</button>*@
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>

