﻿
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="7%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="30%" bgcolor="#e8e8e8" class="text-black"><div align="center">Type</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No</div></td>
                    <td width="21%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
                </tr>
                <tr>
                    @foreach (var list in Model.palletmsterNoactiveList)
                    {
                    <tr>
                        <td><div align="center">
                            @if (@list.pm_request_type == "S")
                            {
                              <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.pm_request_id</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.pm_request_id</a>
                            }
                                
                            </div></td>
                        <td><div align="center">@list.pm_pallet_type</div></td>
                        <td>
                            <div align="center">
                                <a href="#" class="palletimagecls" data-toggle="modal" data-target="#palletimage" data-id="@list.pm_pallet_chartnum,@list.pm_pallet_type">
                                    <p>@list.pm_pallet_chartnum</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString()=="EMT_Disp_User")
                                {
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@list.pm_request_id,@list.pm_request_type"><i class="fa fa-pencil"></i></a>
                                }
                                else
                                {
                                    <a><i class="fa fa-pencil"></i></a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>
