﻿@model JKFIlesEntity.PalletMasterEntity
@{
    ViewBag.Title = "_Palletddlmaster";
}

<form class="form-inline" method="post">


    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.pm_pallet_type, new SelectList(Model.pallettypemsterList, "pm_pallet_type", "pm_pallet_type"), "Pallet Type", new { @class = "form-control select2 ChangepalletApprove", @style = "width:100 % ", @id = "pm_pallet_type" })
        @Html.HiddenFor(m => m.pm_pallet_type)
    </div>

  

</form>

