﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.PalletMasterEntity>
@{
    ViewBag.Title = "_PalletdetailsMaster";
}

<div id="divPartialView1">
    <div class="table-responsive">

        <br>

        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="30%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Type</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Chart No</div></td>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
            {
                    <tr>
                        <td><div align="center">@Model[i].pm_pallet_type</div></td>


                        <td>
                            <div align="center">
                                
                                    <a href="#" class="palletimagecls" data-toggle="modal" data-target="#palletimage"  onclick="ShowApprowreq1('@Model[i].pm_pallet_chartnum','@Model[i].pm_pallet_type')">
                                        <p>@Model[i].pm_pallet_chartnum</p>
                            </div>
                        </td>


                    </tr>

                }
                @*@foreach (var list in Model.palletmsterEntityList)
                    {
                        <tr>
                            <td height="47"><div align="center">@list.pm_pallet_type</div></td>

                            <td>
                                <div align="center">

                                    <a href="#" class="palletimage" data-id="@list.pm_pallet_chartnum,@list.pm_pallet_type">
                                        @list.pm_pallet_chartnum
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pallettype = ViewBag.pallettype }))
            </div>
        </div>



        <p class="style1">&nbsp;</p>
    </div>
</div>


<div class="modal fade bd-example-modal-lg " id="palletimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ChangepalletApprove").change(function () {
            $("#loading").css("display", "block");
            var pallettype = $("#pm_pallet_type").val();

            $.ajax({
                url: '@Url.Action("PalletdetailsMaster", "PalletMaster")',
                data: { pallettype: pallettype },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>


<script>
    $(document).ready(function () {

        });
    function ShowApprowreq1(i, j) {
        var pm_pallet_chartnum = i;
        var pm_pallet_type = j;
      
        reqno = $(this).data('id');
        $.ajax({
            url: '@Url.Action("editPalletmaster", "PalletMaster")',
            data: { pm_pallet_chartnum: pm_pallet_chartnum, pm_pallet_type: pm_pallet_type },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content").html(data);
                $('#palletimage').modal('show');
            }
        })
    }

        @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
    
</script>



