﻿@model JKFIlesEntity.PalletMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<section>
    <div class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Pallet Details</h3>
            </div>
            <div class="box-body">
                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse  ">
                                @Html.Action("NewRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Requests for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Pallet Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @if (Session["Role"].ToString() == "EMT_Disp_User")
                                        {
                                            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#palletnew">Add New </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-default pull-right">Add New </a>
                                        }
                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        @Html.Action("Palletddlmaster")
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-6">
                                        <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                        @Html.Action("PalletdetailsMaster")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="outeredit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Outer Packing </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>With Values</p>
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="203" style="width: 10px">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="204" style="width: 10px">Parameter Name</th>
                                        <th width="225">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Material</p></td>
                                        <td><input type="text" name="textfield2" id="textfield2" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet Height</p></td>
                                        <td><input type="text" name="textfield2" id="textfield23" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Description</p></td>
                                        <td><input type="text" name="textfield2" id="textfield4" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover</p></td>
                                        <td><input type="text" name="textfield2" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Type</p></td>
                                        <td><input type="text" name="textfield2" id="textfield7" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Length</p></td>
                                        <td><input type="text" name="textfield2" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Length</p></td>
                                        <td><input type="text" name="textfield2" id="textfield25" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Width</p></td>
                                        <td><input type="text" name="textfield2" id="textfield26" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Width</p></td>
                                        <td><input type="text" name="textfield2" id="textfield9" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Height</p></td>
                                        <td><input type="text" name="textfield2" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                        <td width="204" nowrap="nowrap" valign="bottom">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="palletnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Pallet  </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="203" style="width: 10px">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="204" style="width: 10px">Parameter Name</th>
                                        <th width="225">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Material</p></td>
                                        <td><input type="text" name="textfield2" id="textfield2" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover</p></td>
                                        <td><input type="text" name="textfield2" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Description</p></td>
                                        <td><input type="text" name="textfield2" id="textfield4" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Length</p></td>
                                        <td><input type="text" name="textfield2" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Length</p></td>
                                        <td><input type="text" name="textfield2" id="textfield25" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Width</p></td>
                                        <td><input type="text" name="textfield2" id="textfield26" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Pallet Width</p></td>
                                        <td><input type="text" name="textfield2" id="textfield9" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Pallet HDPE Cover Height</p></td>
                                        <td><input type="text" name="textfield2" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>Pallet Height</p></td>
                                        <td><input type="text" name="textfield" id="textfield23" /></td>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>

    </div>

</section>

<div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script>
    var TeamDetailPostBackURL = '@Url.Action("PalletChartDetails", "PalletMaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "type": type },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#editcustomer').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            debugger;
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });
</script>
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "PalletMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdatePalletApprove", "PalletMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>



