﻿


@model JKFIlesEntity.PalletDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Pallet Chart </h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditPalletChartDetails", "PalletMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        @Html.HiddenFor(model => model.pm_pallet_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.pm_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.pm_request_id, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="100" style="width: 10px">Parameter Range</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td>Pallet Chart No</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.pm_pallet_chartnum, new { @class = "form-control ",@required="Required" })</td>
                </tr>
                <tr>
                    <td>Pallet Chart Image</td>
                    <td colspan="2"><input type="file" id="file1" name="file1" class = "form-control" required /></td>
                </tr>
                <tr>
                    <td>PALLET MATERIAL</td>
                    <td>@Html.TextBoxFor(model => model.PALLETMATERIALRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETMATERIAL, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET DESCRIPTION</td>
                    <td>@Html.TextBoxFor(model => model.PALLETDESCRIPTIONRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETDESCRIPTION, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET TYPE</td>
                    <td>@Html.TextBoxFor(model => model.PALLETTYPERANGE, new { @class = "form-control", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETTYPE, new { @class = "form-control", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET LENGTH</td>
                    <td>@Html.TextBoxFor(model => model.PALLETLENGTHRANGE, new { @class = "form-control", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETLENGTH, new { @class = "form-control", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET WIDTH</td>
                    <td>@Html.TextBoxFor(model => model.PALLETWIDTHRANGE, new { @class = "form-control", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETWIDTH, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET HEIGHT</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHEIGHTRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHEIGHT, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET HDPE COVER</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVER, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET HDPE COVER LENGTH</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERLENGTHRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERLENGTH, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET HDPE COVER WIDTH</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERWIDTHRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERWIDTH, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PALLET HDPE COVER HEIGHT</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERHEIGHTRANGE, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.PALLETHDPECOVERHEIGHT, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="3"><img src="~/ProjectImages/Pallet/@Url.Content(Model.pm_pallet_chartimg)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">Send for Approval</button>
        </div>
    </div>
</form>


