﻿
@{
    ViewBag.Title = "_ApprovedRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>

                <tr>
                    <td width="4%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                    <td width="4%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type </div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type </div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No </div></td>
                    <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
                </tr>

                @foreach (var list in Model.innerlableMasterNoApproveList)
                {
                    <tr>
                        <td><div align="center">
                                @if (@list.ilbd_request_type == "S")
                                {
                                    <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ilbd_request_type@list.ilbd_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.ilbd_request_type@list.ilbd_request_id</a>
                                }
                            </div></td>
                        <td><div align="center"><a class="" href="#" data-toggle="modal" data-target="#innerimage1" onclick="Showinnerlabel('@list.ilbd_chart_num','@list.ft_ftype_desc')">@list.fs_size_code </a></div></td>
                        <td>
                            <div align="center">
                                @list.ft_ftype_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.pm_fstype_desc
                            </div>
                        </td>
                        <td><div align="center">@list.fc_cut_desc</div></td>
                        <td><div align="center">@list.cm_cust_name</div></td>
                        <td>
                            <div align="center">
                                <p>@list.bm_brand_name</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                              
                                    @list.ilbd_chart_num
                               
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                                {
                                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.ilbd_request_type@list.ilbd_request_id','@list.ilbd_request_id','@list.ilbd_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                    @*<a href="@Url.Action("UpdateInnerLabelApprove", "InnerLabelMaster", new { ID = @list.ilbd_request_id, type = @list.ilbd_request_type })" class="CountClick btn btn-warning" data-id="@list.ilbd_request_id">Approve</a>*@

                                }
                                else
                                {
                                    <a href="" class="btn btn-warning">Approve</a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "InnerLabelMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdateInnerLabelApprove", "InnerLabelMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>