﻿@model JKFIlesEntity.InnerLabelDetailsEntity
@{
    ViewBag.Title = "_EditInnerLabel";
    Layout = "";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View/Edit Inner Label </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <table class="table table-bordered">
            <tbody>

                <tr>
                    <th width="92" height="30"><div align="center">Parameter Name	</div></th>

                    <th width="166"><div align="center"><span>Parameter Value</span></div></th>
                </tr>

                @foreach (var item in Model.innerlabellist)
            {
                <tr>

                    <td align="center">@item.ilbd_parm_name</td>
                    @*<td align="center"><img src="~/ProjectImages/InnerLabel/@item.ilbd_parm_scrnvalue" class="img-responsive"></td>*@

                    @if (@item.ilbd_parm_dwgvalue == "SUPPLIER")
                        {
                        <td align="center">@item.ilbd_parm_scrnvalue</td>
                        }
                        else if (@item.ilbd_parm_dwgvalue == "QUALITY SEAL")
                        {
                        <td align="center">@item.ilbd_parm_scrnvalue</td>
                        }
                        else
                        {
                        <td align="center"><img src="~/ProjectImages/InnerLabel/@item.ilbd_parm_scrnvalue" class="img-responsive"></td>
                        }

                </tr>
                }

            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        @*<button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>*@
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>

