﻿@*@model JKFIlesEntity.InnerLabelDetailsEntity*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.InnerLabelDetailsEntity>
@{
    ViewBag.Title = "_InnerLabeldetailmaster";
}

<div id="divPartialView1">
    <div class="table-responsive">

        <br>

        <div class=" table-responsive">


            <table width="100%" border="1" bordercolor="#CCC">
                <tbody>
                    <tr>
                        <td width="4%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type </div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type </div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                        <td width="4%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No </div></td>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
            {
                        <tr>
                            <td><div align="center">@Model[i].fs_size_code</div></td>
                            <td>
                                <div align="center">
                                    @Model[i].ft_ftype_desc
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    @Model[i].pm_fstype_desc
                                </div>
                            </td>
                            <td><div align="center">@Model[i].fc_cut_desc</div></td>
                            <td><div align="center">@Model[i].cm_cust_name</div></td>
                            <td>
                                <div align="center">
                                    <p>@Model[i].bm_brand_name</p>
                                </div>
                            </td>

                            <td>
                                <div align="center">
                                 
                                        @*<a class="innerimagecls" href="#" data-toggle="modal" data-target="#innerimage" data-id="@Model[i].ilbd_chart_num,@Model[i].ft_ftype_desc">*@
                                    <a href="#" data-target="#innerimage" class="innerimagecls" data-toggle="modal" data-id="@Model[i].ilbd_chart_num,@Model[i].ft_ftype_desc">
                                        @Model[i].ilbd_chart_num
                                    </a>
                                </div>
                            </td>

                        </tr>

                    }


                    @*@foreach (var list in Model.innerlableMasterEntityList)
                        {
                            <tr>
                                <td><div align="center">@list.fs_size_code</div></td>
                                <td><div align="center">@list.ft_ftype_desc</div></td>
                                <td><div align="center">@list.pm_fstype_desc</div></td>
                                <td><div align="center">@list.fc_cut_desc</div></td>
                                <td><div align="center">@list.cm_cust_name</div></td>
                                <td><div align="center">@list.bm_brand_name</div></td>
                                <td>
                                    <div align="center">
                                        <a href="#" class="innerimage" data-id="@list.ilbd_chart_num,@list.ft_ftype_desc">
                                            @list.ilbd_chart_num
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesize = ViewBag.filesize, filetype = ViewBag.filetype, filesubtype = ViewBag.filesubtype, cuttype = ViewBag.cuttype, cstname = ViewBag.cstname, brand = ViewBag.brand }))
                </div>
            </div>



        </div>




        <p class="style1">&nbsp;</p>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="innerimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



<script>
    $(document).ready(function () {


    }); $(".innerimagecls").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editInnerLabelmaster", "InnerLabelMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#innerimage').modal('show');
                }
            })
        });
</script>
