﻿@model JKFIlesEntity.InnerLabelDetailsEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section>
    <div class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Inner Label Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse  ">
                                @Html.Action("NewRequest")
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>InnerLabel Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @if (Session["Role"].ToString() == "EMT_Disp_User")
                                        {
                                            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#innernew">Add New </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default pull-right">Add New </a>
                                        }
                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        <br>
                                        @Html.Action("InnerLabelddlmaster")


                                    </div>
                                    <div style="clear:both"></div>
                                    <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                    @Html.Action("InnerLabeldetailmaster")
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>

        </div>




        <div class="modal fade bd-example-modal-lg" id="innerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Inner Label </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>With Values</h4>
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="142" style="width: 10px">Parameter Name</th>
                                        <th width="156">Parameter Value</th>
                                        <th width="177" style="width: 10px">Parameter Name</th>
                                        <th width="268">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td><input type="text" class="form-control" value="CI Invermec" name="textfield4" id="textfield5" /></td>
                                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                        <td><input type="text" class="form-control" name="textfield9" id="textfield10" value="Truper" /></td>
                                    </tr>
                                    <tr>
                                        <td>File size</td>
                                        <td><input type="text" class="form-control" name="textfield11" id="textfield11" value="04" /></td>
                                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                        <td><input type="text" class="form-control" name="textfield16" id="textfield16" value="Flat" /></td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                        <td><input type="text" class="form-control" name="textfield12" id="textfield12" value="Regular" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Cut Type</p></td>
                                        <td><input type="text" class="form-control" name="textfield17" id="textfield17" value="1" /></td>
                                    </tr>


                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>Supplier</p></td>
                                        <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Box Sample</p></td>
                                        <td><input type="file" name="textfield10" id="textfield8" /></td>
                                    </tr>

                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Top Label</p></td>
                                        <td><input type="file" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Bottom Label</p></td>
                                        <td><input type="file" name="textfield3" id="textfield7" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Side 1 Label</p></td>
                                        <td><input type="file" name="textfield" id="textfield" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p>Side 2 Label</p></td>
                                        <td><input type="file" name="textfield6" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>End 1 Label</p></td>
                                        <td><input type="file" name="textfield20" id="textfield21" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>End 2 Label</p></td>
                                        <td><input type="file" name="textfield20" id="textfield22" /></td>
                                    </tr>

                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>Label Location </p></td>
                                        <td><input type="file" name="textfield10" id="textfield8" /></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal fade bd-example-modal-lg" id="innernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Innner Label </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="142" style="width: 10px">Parameter Name</th>
                                        <th width="156">Parameter Value</th>
                                        <th width="177" style="width: 10px">Parameter Name</th>
                                        <th width="268">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>
                                                <option>Customer 4</option>
                                                <option>Customer 5</option>
                                                <option>Customer 6</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>
                                                <option>Brand 4</option>
                                                <option>Brand 5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>File size</td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>2</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Regular</option>
                                                <option>Brass</option>
                                                <option>Handle</option>
                                                <option> Light </option>
                                                <option>Foundry </option>
                                                <option>Lead Float </option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap"><p>Cut Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected" disabled>Select </option>
                                                <option>0 Rough Cut</option>
                                                <option>1 Basterd Cut</option>
                                                <option>2 Second Cut</option>
                                                <option>3 Smooth Cut</option>
                                                <option>4 Dead Smooth</option>
                                                <option>X Special Cut</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>Supplier</p></td>
                                        <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                        <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Top Label</p></td>
                                        <td><input type="file" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Bottom Label</p></td>
                                        <td><input type="file" name="textfield3" id="textfield7" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Side 1 Label</p></td>
                                        <td><input type="file" name="textfield" id="textfield" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p>Side 2 Label</p></td>
                                        <td><input type="file" name="textfield6" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>End 1 Label</p></td>
                                        <td><input type="file" name="textfield5" id="textfield4" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p>End 2 Label</p></td>
                                        <td><input type="file" name="textfield8" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>Label Location </p></td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Box Sample</p></td>
                                        <td><input type="file" name="textfield9" id="textfield8" /></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>






        <div style="clear:both"></div>

    </div>


</section>
<div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<div class="modal fade bd-example-modal-md" id="EditInnerlabelnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Edit New Inner Box </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialEditInnerlabel"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="EditInnerlabelAdd" class="btn btn-primary">Ok</button>
                </div>
            </form>
            @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "InnerLabelMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdateInnerLabelApprove", "InnerLabelMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>
<script>
    var TeamDetailPostBackURL = '@Url.Action("REQInnerLabelDetails", "InnerLabelMaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            $("#tablePartialEditInnerlabel").empty();
            var row = "";
            $.ajax({
                url: '@Url.Action("REQInnerLabelDetails", "MastersDetails")',
                data: { id: id, reqtype: type },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Value</th></tr>';
                    $("#tablePartialEditInnerlabel").append(row);
                    row1 = '<tr><td id="numt" colspan="1">LABEL ID</td>'
                          + '<td id="Range2" > <input type="' + data.ReqParlist[0].nrm_input_type + '"  class="form-control" id="innerlabel1" name="innerlabel1" value="' + data.InnerLabelDetailsEntityList[0].ilbd_chart_num + '" /> </td>'
                    + '<input type="hidden"  class="form-control" id="ilbd_request_id" name="ilbd_request_id" value="' + data.InnerLabelDetailsEntityList[0].ilbd_request_id + '" /> '
                    + '<input type="hidden"  class="form-control" id="ilbd_request_type" name="ilbd_request_type" value="' + data.InnerLabelDetailsEntityList[0].ilbd_request_type + '" /> </tr>';
                    
                    $("#tablePartialEditInnerlabel").append(row1);
                    for (var i = 0; i < data.InnerLabelDetailsEntityList.length; i++) {
                        row = '<tr><td id="valuename' + i + '"> ' + data.InnerLabelDetailsEntityList[i].ilbd_parm_name + ' </td>'
                         + '<td id="Range2" ><input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control"  name="' + i + '"  id="' + i + '" value="' + data.InnerLabelDetailsEntityList[i].ilbd_parm_scrnvalue + '" /> </td>'
                         + '<td id="Range3" ><input type="text" readonly=readonly class="form-control"  name="_' + i + '"  id="_' + i + '" value="' + data.InnerLabelDetailsEntityList[i].ilbd_parm_scrnvalue + '" /> </td></tr>';

                        $("#tablePartialEditInnerlabel").append(row);


                    }
                    $('#EditInnerlabelnew').modal('show');
                },
                error: function () {
                    alert("No Records Found");
                }
            });
      
        });
     
        $(function () {
            $("#EditInnerlabelAdd").click(function () {
                debugger;
                var AllValue = [];
                var count = 0;
                var TrCount = $("#tablePartialEditInnerlabel tr").length;
                if (window.FormData !== undefined) {
                    var ajaxData = new FormData();
                    ajaxData.append('UploadinnerlabelFiles', 'DispatchDetails');
                    $.each($("#tablePartialEditInnerlabel tr td input[type=file]"), function (i, obj) {
                        $.each(obj.files, function (j, file) {
                            ajaxData.append('photo[' + j + ']', file);
                        })
                    });
                    $.ajax({
                        url: '/DispatchDetails/UploadinnerlabelFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: ajaxData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                }

                for (var i = 0; i < TrCount - 2; i++) {
                   
                        AllValue.push({
                            ilbd_chart_num: $('#innerlabel1').val(),
                            ilbd_request_type: $('#ilbd_request_type').val(),
                            ilbd_request_id: $('#ilbd_request_id').val(),
                            ilbd_parm_name: $.trim($("#tablePartialEditInnerlabel tr td#valuename" + i + "").eq(0).text()),
                            ilbd_parm_scrnvalue: $("#tablePartialEditInnerlabel tr #Range2 #" + i + "").val().replace(/C:\\fakepath\\/i, ''),
                            ilbd_parm_dwgvalue: $("#tablePartialEditInnerlabel tr #Range3 #_" + i + "").val().replace(/C:\\fakepath\\/i, '')
                        });
                        if ($("#tablePartialEditInnerlabel tr #Range3 #_" + i + "").val().replace(/C:\\fakepath\\/i, '') == '' || $("#tablePartialEditInnerlabel tr #Range3 #_" + i + "").val().replace(/C:\\fakepath\\/i, '') == 'undefined') {
                            count++;
                        }
                        if ($("#tablePartialEditInnerlabel tr #Range2 #" + i + "").val().replace(/C:\\fakepath\\/i, '') == '' || $("#tablePartialEditInnerlabel tr #Range2 #" + i + "").val().replace(/C:\\fakepath\\/i, '') == 'undefined') {
                            count++;
                        }
                        if ($('#innerlabel1').val() == '' ) {
                            count++;
                        }
                }
               
                if (count >= 1) {
                    alert('Please Enter All Values....!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InnerLabelEditDetailsEntityListActive", "InnerLabelMaster")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('InnerLabel Inserted Succesfully');
                            location.reload();
                        },
                    });
                }
            });
        });
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            debugger;
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".ChangeInnerlabelApprove").change(function () {
            $("#loading").css("display", "block");
            var filesize = $("#fsize_code").val();
            var filetype = $("#ft_ftype_desc").val();
            var filesubtype = $("#filesubtype").val();
            var cuttype = $("#Cut_Type").val();
            var cstname = $("#CustomerName").val();
            var brand = $("#bm_brand_name").val();
            $.ajax({
                url: '@Url.Action("InnerLabeldetailmaster", "InnerLabelMaster")',
                data: { filesize: filesize, filetype: filetype, filesubtype: filesubtype, cuttype: cuttype, cstname: cstname, brand: brand },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>
<script>
    $(document).ready(function () {
        $(".innerimagecls").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editInnerLabelmaster", "InnerLabelMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#innerimage').modal('show');
                }
            })
        });

    });

           @*$("#btnSave").click(function () {
                    alert("Loaded");
                    $.ajax(
                        {
                            url: '@Url.Action("Rejectuser", "UserApproval")',
                            data: "",
                            type: "GET",
                            datatype: "",
                            success: function (data) {

                            }
                        })
                });
        });*@
    </script>

