﻿
@model JKFIlesEntity.InnerLabelDetailsEntity

<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Inner Label</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditInnerLabelDetails", "InnerLabelMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        @Html.HiddenFor(model => model.fs_size_code, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ft_ftype_desc, new { @class = "form-control " })
        @Html.HiddenFor(model => model.pm_fstype_desc, new { @class = "form-control " })
        @Html.HiddenFor(model => model.bm_brand_name, new { @class = "form-control " })
        @Html.HiddenFor(model => model.cm_cust_name, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fc_cut_desc, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ShipToCountryCode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ilbd_request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ilbd_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGTOPLABEL, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGBOTTOMLABEL, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGSIDE1LABEL, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGSIDE2LABEL, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGEND1LABEL, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGBOXSAMPLE, new { @class = "form-control " })
        @Html.HiddenFor(model => model.INNERPACKINGLABELLOCATIONCHARTID, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td colspan="2">LABEL ID</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.ilbd_chart_num, new { @class = "form-control " })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING TOP LABEL</td>
                    <td colspan="2"><input type="file" name="file1" id="file1"/></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGTOPLABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING BOTTOM LABEL</td>
                    <td colspan="2"><input type="file" name="file2" id="file2" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGBOTTOMLABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING SIDE 1 LABEL</td>
                    <td colspan="2"><input type="file" name="file3" id="file3" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGSIDE1LABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING SIDE 2 LABEL</td>
                    <td colspan="2"><input type="file" name="file4" id="file4" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGSIDE2LABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING END 1 LABEL</td>
                    <td colspan="2"><input type="file" name="file5" id="file5" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGEND1LABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING END 2 LABEL</td>
                    <td colspan="2"><input type="file" name="file6" id="file6" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGEND2LABEL)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING BOX SAMPLE</td>
                    <td colspan="2"><input type="file" name="file7" id="file7" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGBOXSAMPLE)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING LABEL LOCATION CHART ID</td>
                    <td colspan="2"><input type="file" name="file8" id="file8" /></td>
                    <td><img src="~/ProjectImages/InnerLabel/@Url.Content(Model.INNERPACKINGLABELLOCATIONCHARTID)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">INNER PACKING BOARD SUPPLIER</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.INNERPACKINGBOARDSUPPLIER, new { @class = "form-control " })</td>
                </tr>
                @*<tr>
                        <td colspan="2">RAW MATERIAL</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.ilbd_request_id, new { @class = "form-control " })</td>
                    </tr>
                    <tr>
                        <td colspan="2">RAW MATERIAL</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.ilbd_request_type, new { @class = "form-control " })</td>
                    </tr>*@
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>
