﻿

@model JKFIlesEntity.HandleMasterEntity
@{
    ViewBag.Title = "_Handleddlmaster";
}
<form action="@Url.Action("SaveNewStamp","HandleMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel">Add/Edit Handle </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class=" table-responsive">
            <div id="scroll-wrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="116" style="width: 10px">Parameter Name</th>
                            <th width="155">Parameter Value</th>
                            <th style="width: 10px">Parameter Name</th>
                            <th width="160">Parameter Value</th>
                        </tr>
                        <tr>
                            <td>File Size Code</td>
                            <td>
                                @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "hm_fsize_id1" })
                                @Html.HiddenFor(m => m.fsize_code)
                            </td>
                            <td nowrap="nowrap" valign="bottom">File Type</td>
                            <td>
                                @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "ft_ftype_code", "filetype"), "File Type", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "ft_ftype_desc2" })
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" valign="bottom">File Subtype</td>
                            <td>
                                @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "pm_fstype_code", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "filesubtype2" })
                            </td>
                            <td>Handle Type</td>
                            <td>@Html.DropDownListFor(model => model.handletype, new SelectList(Model.listhandletype, "handletype", "handletype"), "Handle Type", new { @class = "form-control select2 handle", @style = "width:100 % ", @id = "hm_handle_type2" })</td>
                        </tr>
                        <tr>
                            <td width="116" valign="bottom" nowrap="nowrap">Handle Chart No</td>
                            <td>
                                @Html.TextBoxFor(m => m.hm_chart_num, new { @class = "form-control " })
                                @Html.HiddenFor(m => m.hm_chart_num)
                                @Html.HiddenFor(m => m.sm_new_overwrite)
                        </td>
                        <td width="101" valign="bottom" nowrap="nowrap">Insert Handle Chart</td>
                        <td id="imagetd1"><input type="file" name="imagefield1" id="textfield13" disabled="disabled" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <p style="display:none;">
        Do you want to overwrite the existing Handle chart No ?  &nbsp; &nbsp;
        <a href="#" class="btn btn-default" id="yes">Yes</a> <a href="#" class="btn btn-primary" id="no">No</a>
    </p>



</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Ok</button>
</div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>

    $(document).ready(function () {
        $(function () {
            $(".handle").change(function () {
                debugger;
                var HandleObj = getDetails();
                debugger;
                var model = JSON.stringify(HandleObj);
                // alert(data)
                //   Swapnil validation
                if (HandleObj == null) {
                    alert("Please Select All Field!");
                    // return;
                }

                $.get("@Url.Action("getHandlesChartNums", "HandleMaster")", HandleObj, function (data) {
                    $("#hm_chart_num").val(data)
                    $("label[for='myalue']").html(data);
                    debugger;
                    if (data == "No Chart Is Present!" || data == "" || data == null) {
                        $("p").hide();
                        $("#imagetd1 input").prop('disabled', false);
                        $("#sm_new_overwrite").val("new")
                    }
                    else {
                        $("p").show()
                        $("#imagetd input").prop('disabled', true);
                        $("#sm_new_overwrite").val("exist")
                    }
                    //$("#resultMessage").html(message);

                });


                @*$.ajax({
                    url: '@Url.Action("getChartNum", "StampMaster")',
                    data: model,
                    type: 'GET',
                    dataType: "json",
                    success: function (data, status, settings) {
                        //$("#chart_num").val(data);
                        //if ($("#chart_num").val() == "No Chart Is Present!") {
                        //    debugger;
                        //    $("#chart_num").attr("disabled", "disabled");
                        //    $("#btnViewStamps").attr("disabled", true);
                        //    //alert($("#chart_num").val());
                        //}
                        //else
                        //    $("#btnViewStamps").attr("disabled", false);
                    },
                    error: function (ajaxrequest, ajaxOptions, thrownError) {

                        $("#mydiv").html('Failed to load more content');
                    }
                });*@
            });
        });


        $("#yes").click(function () {
            $("#imagetd input").prop('disabled', false);
        });
        $("#no").click(function () {
            $("#imagetd input").prop('disabled', true);
        });

    });

    function getDetails() {
        debugger;
        var hm_fsize_id = $('#hm_fsize_id1').val();
        var hm_ftype_id = $('#ft_ftype_desc2').val();
        var hm_fstype_id = $('#filesubtype2').val();
        var hm_handle_type = $('#hm_handle_type2').val();
        return {
            hm_fsize_id: hm_fsize_id, hm_ftype_id: hm_ftype_id, hm_fstype_id: hm_fstype_id, hm_handle_type: hm_handle_type
        };
    }



    function SaveDetails() {
        debugger;
        var fsize_code = $('#fsize_code2').val();
        var ft_ftype_code = $('#ft_ftype_desc1').val();
        var pm_fstype_code = $('#filesubtype1').val();
        var costomerId = $('#costomerName1').val();
        var bm_brand_id = $('#bm_brand_name1').val();
        var sm_stamp_mode = $('#sm_stamp_mode1').val();
        var sm_chart_num = $("#chartnum").val();

        return {
            fsize_code: fsize_code, ft_ftype_code: ft_ftype_code, pm_fstype_code: pm_fstype_code, costomerId: costomerId,
            bm_brand_id: bm_brand_id, sm_stamp_mode: sm_stamp_mode, sm_chart_num: sm_chart_num
        };
    }

</script>
