﻿@model JKFIlesEntity.HandleMasterEntity
@{
    ViewBag.Title = "_ApprovedRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="7%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size(In inch)</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Handle Type</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Handle Sub Type</div></td>
                    <td width="22%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No</div></td>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">View Chart</div></td>
                    <td width="21%" bgcolor="#e8e8e8" class="text-black"><div align="center"></div></td>
                </tr>
                <tr>
                    @foreach (var list in Model.handlenoapprove)
                    {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.hm_request_type == "M")
                                {
                                    <a href="#" >@list.hm_request_type@list.hm_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.hm_request_type@list.hm_request_id</a>
                                }

                            </div>
                        </td>
                        @*<td><div align="center">@list.hm_handle_id      </div></td>*@
                        <td><div align="center"><a href="#" data-target="#handleimage3" class="" data-toggle="modal" onclick="ShowHandelChart('@list.hm_chart_num')">@list.hm_fsize_id  </a>    </div></td>
                        <td><div align="center">@list.ft_ftype_desc     </div></td>
                        <td><div align="center">@list.pm_fstype_desc    </div></td>
                        <td><div align="center">@list.hm_handle_type    </div></td>
                        <td><div align="center">@list.hm_handle_subtype </div></td>
                        <td><div align="center">@list.hm_chart_num      </div></td>
                        <td>
                            <div align="center">
                                @*<a href="#" data-toggle="modal" data-target="#handleimage"><i class="fa fa-search-plus"></i></a>*@
                                <a href="#" class="viewclass" data-id="@list.hm_chartimg_name">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                            {
                                <div align="center">
                                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.hm_request_type@list.hm_request_id','@list.hm_request_id','@list.hm_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                    @*<a href="@Url.Action("UpdateHandleApprove", "HandleMaster", new { ID = @list.hm_request_id, type = @list.hm_request_type })" class="CountClick btn btn-warning" data-id="@list.hm_request_id">Approve</a>*@
                                </div>
                            }
                            else
                            {
                                <div align="center">
                                    <a href="" class="btn btn-warning">Approve</a>
                                </div>
                            }

                        </td>
                    </tr>

                    }
                    
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stamp View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="profileimage" src="" class="img-responsive">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.viewclass').on('click', function () {
                var Id;
                Id = $(this).data('id');
                // alert(Id)

                var src = '../ProjectImages/Handle/' + Id
                // alert(src)
                $(".modal-body #profileimage").attr("src", src);
                $('#profile').modal('show');
            });
        });
    </script>
    </div>
<div class="modal fade bd-example-modal-lg" id="handleimage3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content3"></div>
        </div>
    </div>
</div>
<script>
    function ShowHandelChart(i) {
        var hm_chart_num = i;
        $.ajax({
            url: '@Url.Action("GetShowHandelChart", "HandleMaster")',
            data: { hm_chart_num: hm_chart_num },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content3").html(data);
                $('#handleimage3').modal('show');
            }
        })
    }
</script>