﻿
@{
    ViewBag.Title = "_EditHandleMaster";
    Layout = "";
}


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">View Handle Chart</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    @if (Model.handlemstrList.Count != 0)
    {
        <img src="~/ProjectImages/Handle/@Model.handlemstrList[0].hm_chartimg_name" class="img-responsive">
    }
    else
    {

    }

    <br>
    @*<table width="100%" border="1" class="table table-bordered">
        <tbody>
            <tr>
                <th width="92" height="30"><div align="center">Parameter Name	</div></th>
                <th width="114"><div align="center"><span>Parameter Value</span></div></th>
            </tr>
            @foreach (var item in Model.handlemstrList)
            {
                <tr>
                    <td align="center">@item.hd_parm_name</td>
                    <td align="center">@item.hd_parm_dwgvalue</td>
                </tr>
            }
        </tbody>

    </table>*@

    <a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>
    <br>
    <br>




</div>



