﻿@model JKFIlesEntity.HandleMasterEntity
@{
    ViewBag.Title = "_Handleddlmaster";
}

<form class="form-inline" method="post">

    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "hm_fsize_id" })
        @Html.HiddenFor(m => m.fsize_code)
    </div>


    @*<div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.filetypecode, new SelectList(Model.listfiletypecode, "filetypecode", "filetypecode"), "File Type Code", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "ft_ftype_desc" })
    </div>*@


    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "ft_ftype_desc" })
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "filesubtype" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.handletype, new SelectList(Model.listhandletype, "handletype", "handletype"), "Handle Type", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "hm_handle_type" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.hm_chart_num, new SelectList(Model.listchartno, "hm_chart_num", "hm_chart_num"), "Chart No", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "hm_chart_num" })
    </div>
    @*<div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.handlesubtype, new SelectList(Model.listhandlesubtype, "handlesubtype", "handlesubtype"), "Handle Sub Type", new { @class = "form-control select2 ChangehandleApprove", @style = "width:100 % ", @id = "hm_handle_subtype" })
    </div>*@


</form><br>


