﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.HandleMasterEntity>
@{
    ViewBag.Title = "_Handledetailmaster";
}

<div id="divPartialView1">
    <div class="table-responsive">

        <br>

        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type</div></td>
                <td height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Sub Type</div></td>
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Handle Type</div></td>
                @*<td bgcolor="#e8e8e8" class=" text-black"><div align="center">Handle Sub Type</div></td>*@
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Handle Chart No</div></td>
                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">View Chart</div></td>
            </tr>


            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td><div align="center">@Model[i].hm_fsize_id</div></td>
                    <td>
                        <div align="center">


                            @Model[i].ft_ftype_desc

                        </div>

                    </td>
                    <td>
                        <div align="center">


                            @Model[i].pm_fstype_desc

                        </div>

                    </td>


                    <td><div align="center">@Model[i].hm_handle_type</div></td>
                    @*<td><div align="center">@Model[i].hm_handle_subtype</div></td>*@
                    <td>
                        <div align="center">
                            @*<a href="#" data-target="#handleimage1" class="handleimage" data-toggle="modal" data-id="@Model[i].hm_chart_num">*@
                                @*<a href="#" class="handleimage" data-id="@Model[i].hm_chart_num">*@
                                <p>@Model[i].hm_chart_num</p>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @*<a href="#" data-toggle="modal" data-target="#handleimage"><i class="fa fa-search-plus"></i></a>*@
                            <a href="#" data-target="#handleimage1" class="handleimage" data-toggle="modal" data-id="@Model[i].hm_chart_num">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                    </td>


                </tr>

            }




            @*@foreach (var list in Model.handleMasterList)
                {
                    <tr>
                        <td height="20"><div align="center">@list.hm_fsize_id</div></td>
                        <td><div align="center">@list.ft_ftype_desc</div></td>
                        <td><div align="center">@list.pm_fstype_desc</div></td>
                        <td><div align="center">@list.hm_handle_type</div></td>
                        <td><div align="center">@list.hm_handle_subtype</div></td>
                        <td>
                            <div align="center">
                                <a href="#" class="handleimage" data-id="@list.hm_chart_num">

                                    <p>@list.hm_chart_num</p>
                                </a>
                            </div>
                        </td>
                    </tr>
                }*@

        </table>


        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesize = ViewBag.filesize, filetype = ViewBag.filetype, filesubtype = ViewBag.filesubtype, handletype = ViewBag.handletype, handlesubtype = ViewBag.handlesubtype, chartno = ViewBag.chartno }))
            </div>
        </div>




        <p class="style1">&nbsp;</p>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="handleimage1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ChangehandleApprove").change(function () {
            $("#loading").css("display", "block");
            var filesize = $("#hm_fsize_id").val();
            var filetype = $("#ft_ftype_desc").val();
            var filesubtype = $("#filesubtype").val();
            var handletype = $("#hm_handle_type").val();
            var handlesubtype = $("#hm_handle_subtype").val();
            var chartno = $("#hm_chart_num").val();
            $.ajax({
                url: '@Url.Action("Handledetailmaster", "HandleMaster")',
                data: { filesize: filesize, filetype: filetype, filesubtype: filesubtype, handletype: handletype, handlesubtype: handlesubtype, chartno: chartno },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>

<script>
    $(document).ready(function () {
        $(".handleimage").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("edithandlermaster", "HandleMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#handleimage1').modal('show');
                }
            })
        });



        @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
    });
</script>





