﻿@model JKFIlesEntity.HandleMasterEntity
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="7%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size(In inch)</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">Handle Type</div></td>
                    <td width="12%" bgcolor="#e8e8e8" class="text-black"><div align="center">Handle Sub Type</div></td>
                    <td width="22%" bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No</div></td>
                    <td width="11%" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit</div></td>
                </tr>
                <tr>
                    @foreach (var list in Model.handlenoactive)
                    {
                    <tr>
                        <td><div align="center">
                                @if (@list.hm_request_type == "M")
                                {
                                    <a href="#">@list.hm_request_type@list.hm_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.hm_request_type@list.hm_request_id</a>
                                }

                           

                            </div></td>
                        @*<td><div align="center">@list.hm_handle_id      </div></td>*@
                        <td><div align="center">@list.hm_fsize_id       </div></td>
                        <td><div align="center">@list.ft_ftype_desc     </div></td>
                        <td><div align="center">@list.pm_fstype_desc    </div></td>
                        <td><div align="center">@list.hm_handle_type    </div></td>
                        <td><div align="center">@list.hm_handle_subtype </div></td>
                        <td><div align="center">@list.hm_chart_num      </div></td>
                        <td>
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_User")
                            {<div align="center">
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@list.hm_request_id,@list.hm_request_type"><i class="fa fa-pencil"></i></a>
                            </div>
                            }
                            else
                            {
                                <a><i class="fa fa-pencil"></i></a>
                            }
                            @*<div align="center"></div>
                            <div align="center"></div>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>
