﻿@model JKFIlesEntity.HandleMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Handle Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Requests</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse ">
                            @Html.Action("NewRequest")
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Requests for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            @Html.Action("ApprovedRequest")
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Handle Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    @if (Session["Role"].ToString() == "EMT_Disp_User" || Session["Role"].ToString() == "ALL_Access")
                                    {
                                        <a href="#" class="btn btn-primary pull-right" id="addnew" data-toggle="modal" data-target="#handlenew">
                                            Add/Edit
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default pull-right">
                                            Add/Edit
                                        </a>
                                    }
                                    <a href="Index">
                                        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                    </a>
                                </div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    @Html.Action("Handleddlmaster")

                                </div>
                                <div style="clear:both"></div>
                                <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                @Html.Action("Handledetailmaster")

                            </div>
                        </div>
                    </div>



                </div>
            </div>










            <div class="modal fade bd-example-modal-lg" id="handleedit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="exampleModalLabel">Add New Handle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>With Values</h5>
                            <div id="scroll-wrap">
                                <div class=" table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th width="116" style="width: 10px">Parameter Name</th>
                                                <th width="155">Parameter Value</th>
                                                <th style="width: 10px">Parameter Name</th>
                                                <th width="160">Parameter Value</th>
                                            </tr>
                                            <tr>
                                                <td>File size</td>
                                                <td>
                                                    <select name="select" class="form-control select2" style="width:100%;">
                                                        <option>4</option>
                                                        <option>6</option>
                                                        <option>8</option>
                                                    </select>
                                                </td>
                                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                                <td>
                                                    <select name="select" class="form-control select2" style="width:100%;">
                                                        <option>Flat</option>
                                                        <option>Round</option>
                                                        <option>Half Round</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                                <td>
                                                    <select name="select" class="form-control select2" style="width:100%;">
                                                        <option>Brass</option>
                                                        <option>Aluminium</option>
                                                    </select>
                                                </td>
                                                <td valign="bottom" nowrap="nowrap">Insert </td>
                                                <td>
                                                    <select name="select" class="form-control select2" style="width:100%;">
                                                        <option selected="selected">Select</option>
                                                        <option>Yes </option>
                                                        <option>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Handle Type</td>
                                                <td>
                                                    <select name="select2" class="form-control select2" style="width:100%;">
                                                        <option>Wood</option>
                                                        <option>Plastic</option>
                                                    </select>
                                                </td>
                                                <td>Handle Sub  Type</td>
                                                <td>
                                                    <select name="select" class="form-control select2" style="width:100%;">
                                                        <option>Plastic with Insert</option>
                                                        <option>Plastic without Insert</option>
                                                        <option>Wooden with Ferul</option>
                                                        <option>Wooden without Ferul</option>
                                                    </select>
                                                </td>
                                            </tr>





                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>Length of Handle</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield2" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>R</p></td>
                                                <td><input type="text" class="form-control " name="textfield3" id="textfield13" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>Hole Length L1</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield3" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>R1</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield2" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>L2</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield4" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>R2</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield3" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>L3</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield8" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>R3</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield4" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>L4</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield7" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side W</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield8" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>L5</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield6" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side W1</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield7" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>Hole din D</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield9" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side W2</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield6" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>Hole din D1</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield10" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side W3</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield9" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>H</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield12" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side R4</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield10" /></td>
                                            </tr>
                                            <tr>
                                                <td width="116" valign="bottom" nowrap="nowrap"><p>H1</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield11" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap"><p>Side R5</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" id="textfield12" /></td>
                                            </tr>
                                            <tr>
                                                <td valign="bottom" nowrap="nowrap"><p>H2</p></td>
                                                <td><input type="text" class="form-control " name="textfield" id="textfield" /></td>
                                                <td width="101" valign="bottom" nowrap="nowrap">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="116" nowrap="nowrap" valign="bottom"><p>Handle Image</p></td>
                                                <td><input type="file" name="textfield2" /></td>
                                                <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Image</p></td>
                                                <td><input type="file" name="textfield2" /></td>
                                            </tr>

                                            <tr>
                                                <td width="116" nowrap="nowrap" valign="bottom"><p>Insert Width</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" /></td>
                                                <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Height</p></td>
                                                <td><input type="text" class="form-control " name="textfield2" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>






                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                </div>
            </div>


            




        </div>

    </div>


</div>

<section></section>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



@*<div class="modal fade bd-example-modal-lg" id="handleimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div id="content"></div>
            </div>
        </div>
    </div>*@

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>


<div class="modal fade bd-example-modal-lg" id="handlenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            @Html.Action("AddNew", "HandleMaster")
        </div>
    </div>
</div>
<script>
                var TeamDetailPostBackURL = '@Url.Action("HandleDetails", "HandleMaster")';
                $(function () {
                    $(".anchorDetail").click(function () {

                        var $buttonClicked = $(this);
                        var id1 = $buttonClicked.attr('data-id');
                        var emailrogh = id1.split(",");
                        var id = emailrogh[0];// show priya@gmail.com
                        var type = emailrogh[1]
                        var options = { "backdrop": "static", keyboard: true };
                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostBackURL,
                            contentType: "application/json; charset=utf-8",
                            data: { "Id": id, "type": type },
                            datatype: "json",
                            success: function (data) {

                                $('#myModalContent').html(data);
                                $('#editcustomer').modal(options);
                                $('#myModal').modal('show');

                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    });
                    //$("#closebtn").on('click',function(){
                    //    $('#myModal').modal('hide');

                    $("#closbtn").click(function () {
                        $('#myModal').modal('hide');
                    });

                    $('.CountClick').click(function () {

                        var productID = getParameterByName('ID', $(this).attr("href"));
                        var countID = "Count" + productID;
                        var totalID = "Total" + productID;

                        var countElement = document.getElementById(countID);
                        var totalElement = document.getElementById(totalID);
                        var rowElement = document.getElementById(productID);

                        $.ajax({
                            cache: false,
                            url: $(this).attr("href"), // used data from url
                            datatype: "text",
                            type: "POST",
                            success: function (response) {

                                var count = parseInt(response.Count);

                                if (count > 0) {
                                    countElement.innerText = response.Count;
                                    totalElement.innerText = response.Total;
                                }
                                else {
                                    rowElement.innerHTML = "";
                                }
                            },
                            error: function () {
                                $("#divResult").html("ERROR");
                            }
                        });

                        return false;
                    });
                });
</script>
@*<script>
                $(document).ready(function () {
                    $(".handleimage").on('click', function () {
                        // alert("kk");
                        var reqno;
                        reqno = $(this).data('id');
                        $.ajax({
                            url: '@Url.Action("edithandlermaster", "HandleMaster")',
                            data: { reqno: reqno },
                            type: "GET",
                            datatype: "json",
                            success: function (data) {
                                var Id = data;
                                //alert(Id)
                                $("#content").html(data);
                                $('#handleimage').modal('show');
                            }
                        })
                    });



                    @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });
                });
</script>*@
