﻿


@model JKFIlesEntity.HandleDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New handle Chart </h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditHandleChartDetailsactive", "HandleMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        @Html.HiddenFor(model => model.fileTypeCode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.FileSubType, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fileSize, new { @class = "form-control " })
        @Html.HiddenFor(model => model.hm_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.hm_request_id, new { @class = "form-control " })  
        @Html.HiddenFor(model => model.hm_handle_type, new { @class = "form-control " })               
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="100" style="width: 10px">Parameter Range</th>
                    <th width="144">Parameter Value</th>
                </tr>
                @*<tr>
                    <td>Handle Type</td>
                    <td colspan="2"></td>
                </tr>*@
                <tr>
                    <td>Handle Chart No</td>               
                    <td colspan="2">@Html.TextBoxFor(model => model.tempChartNum, new { @class = "form-control ",@required="Required", @onblur = "HandleTypeCheck()" })</td>
                    <td colspan="1"><p id="Status" /></td>
                </tr>
                <tr>
                    <td>Handle Chart Image</td>
                    <td colspan="2"><input type="file" id="file1" name="file1" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>Remark</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.remark, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="3"><img src="~/ProjectImages/Handle/@Url.Content(Model.hm_chartimg_name)" alt="Image" style="height:150px;width:150px;" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>
<script>

        function HandleTypeCheck() {
            $("#Status").html("Checking...");
            $.post("@Url.Action("CheckHandleTypeAvailability", "DispatchDetails")",
            {
                hm_handle_type: $("#hm_handle_type").val()
            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                    $("#Username").css("border-color", "Green");

                }
                else {
                    $("#Status").html('<font color="Red">That name is taken.Try Another.</font>');
                    $("#Username").css("border-color", "Red");
                    $("#hm_handle_type").val("") ;
                }
            });
        }

</script>

