﻿@model IEnumerable<JKFiles.WebApp.Models.MenuMaster>
@{
    ViewBag.Title = "_SubMenu";
    //Layout = "~/Views/Shared/MasterPage.cshtml";
}

@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
    <div align="center">
        <input type="checkbox" id="checkall" /><span>Check All</span>
    </div>
        @*<div id="checkboxes">
            <table align="center">
                <tr><td>select from list below</td></tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.[""].)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].Text)
                            @Html.HiddenFor(m => m[i].Value)
                            @Html.HiddenFor(m => m[i].Text)
                        </td>
                    </tr>

                }
                <tr><td><input type="submit" value="Submit" /></td></tr>
            </table>
        </div>*@
            <br />

}
@if (ViewBag.Message != null)
            {
    <script type="text/javascript">
                    window.onload = function () {
                        alert("You have selected @ViewBag.Message");
                    };
    </script>
}

