﻿@model JKFiles.WebApp.Models.MenuMaster
@{
    ViewBag.Title = "Assign_Module";
    Layout = "~/Views/Shared/MasterPage.cshtml";

}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Assign Module</h3></div>
        @using (Html.BeginForm("SubList", "AssignModule", FormMethod.Post))
        {

            <div class="box-body">
                <div class="form-inline ">

                    <div class="form-group  col-md-3" style="margin-bottom: 10px">
                        @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.listrolename, "RoleName", "RoleName"), "Role Name", new { @class = "form-control select2", @style = "width:100 % ", @id = "RoleName" })
                        @Html.HiddenFor(m => m.RoleName)
                    </div>

                    <div class="form-group  col-md-3" style="margin-bottom: 10px">
                        @Html.DropDownListFor(model => model.MainMenu, new SelectList(Model.listMainmenu, "MainMenuID", "MainMenu"), "Select Module", new { @class = "form-control select2 Changemodule", @style = "width:100 % ", @id = "MainMenu" })
                        @Html.HiddenFor(m => m.MainMenu)
                    </div>
                </div>
                @*<div class="panel panel-default">*@
                <div id="divPartialView1" style="display:none">
                    <br />
                    @Html.Action("SubList")
                </div>

                @if (ViewBag.Message != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("You have selected @ViewBag.Message");
                        };
                    </script>
                }
                @*</div>*@
            </div>
        }
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {

        // 
        // 1st replace first column header text with checkbox

        $("#checkableGrid th").each(function () {
            
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").click(function () {
            
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });


        $(".Changemodule").change(function () {
            $("#loading").css("display", "block");
            var mainmenu = $("#MainMenu").val();
            $.ajax({
                url: '@Url.Action("SubList", "AssignModule")',
                data: { mainmenu: mainmenu },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#divPartialView1").show();
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>

