﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


    <div class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Process Details</h3>
            </div>
            <div class="box-body">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#p2" data-toggle="tab" aria-expanded="false">File Type wise Operations</a></li>
                        <li class=" "><a href="#p1" data-toggle="tab" aria-expanded="true">Operations Master List</a></li>


                    </ul>
                    <div class="tab-content">
                        <!-- /.tab-pane -->



                        <div class="tab-pane active " id="p2">


                            <table width="63%" border="1">
                                <tr>
                                    <td height="31" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">Process Code</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">List of Operations</div></td>
                                    <td width="23" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                </tr>
                                <tr>
                                    <td width="96"><div align="center">FLF</div></td>
                                    <td width="113"><div align="center">PFLF</div></td>
                                    <td width="372">
                                        <div align="center">
                                            <p>Cropping &gt;Tang Forging &gt;Tang swagging &gt; Hole Punching &gt; Polishing</p>
                                        </div>
                                    </td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td height="55"><div align="center">TSF</div></td>
                                    <td><div align="center">PTSF</div></td>
                                    <td><div align="center">Cropping &gt;Tang Forging &gt; Tang swagging &gt; Hole Punching &gt; Polishing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                            </table>



                        </div>









                        <div class="tab-pane  " id="p1">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#new">Add New</a>
                            <br>
                            <br>

                            <table width="43%" border="1">
                                <tr>
                                    <td height="31" bgcolor="#333333" class="style1"><div align="center">Sq.  No.</div></td>
                                    <td bgcolor="#333333" class="style1"><div align="center">Operation Name</div></td>
                                    <td width="136" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                </tr>
                                <tr>
                                    <td align="right" width="64"><div align="center">10</div></td>
                                    <td width="200"><div align="center">Cropping</div></td>
                                    <td><div align="center"><a href="#" data-toggle="modal" data-target="#new"><i class="fa fa-pencil"></i></a></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">20</div></td>
                                    <td><div align="center">Tang Forging</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">30</div></td>
                                    <td><div align="center">Tang swagging</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">40</div></td>
                                    <td><div align="center">Round Tang Forging</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">50</div></td>
                                    <td><div align="center">Annealing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">60</div></td>
                                    <td><div align="center">Tang Punching</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">70</div></td>
                                    <td><div align="center">Point Punching</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">80</div></td>
                                    <td><div align="center">Tang Pressing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">90</div></td>
                                    <td><div align="center">Point Presssing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">100</div></td>
                                    <td><div align="center">Hole Punching</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">110</div></td>
                                    <td><div align="center">Tang Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">120</div></td>
                                    <td><div align="center">Straightening</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">130</div></td>
                                    <td><div align="center">Edge Grinding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">140</div></td>
                                    <td><div align="center">Flat Grinding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">150</div></td>
                                    <td><div align="center">Stripping</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">160</div></td>
                                    <td><div align="center">Polishing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">170</div></td>
                                    <td><div align="center">Round Side Grinding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">180</div></td>
                                    <td><div align="center">Balancia Grinding </div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">190</div></td>
                                    <td><div align="center">Centreless Point Grinding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">200</div></td>
                                    <td><div align="center">Corner Setting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">210</div></td>
                                    <td><div align="center">Polishing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">220</div></td>
                                    <td><div align="center">Needle Grinding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">230</div></td>
                                    <td><div align="center">Edge Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">240</div></td>
                                    <td><div align="center">Flat Cutting-Over Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">250</div></td>
                                    <td><div align="center">Flat Cutting-Up Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">260</div></td>
                                    <td><div align="center">Needle Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">270</div></td>
                                    <td><div align="center">Flexible Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">280</div></td>
                                    <td><div align="center">Chain Saw Cutting-Up Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">290</div></td>
                                    <td><div align="center">Chain Saw Cutting-Over Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">300</div></td>
                                    <td><div align="center">Chain Saw Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">310</div></td>
                                    <td><div align="center">Milling Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">320</div></td>
                                    <td><div align="center">Rasp Round Side</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">330</div></td>
                                    <td><div align="center">Rasp Flat Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">340</div></td>
                                    <td><div align="center">Half Round-Round Side Cutting</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">350</div></td>
                                    <td><div align="center">Half Round-Edge Cut</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">360</div></td>
                                    <td><div align="center">Frowine 09</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">370</div></td>
                                    <td><div align="center">Round Cutting-Big</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">380</div></td>
                                    <td><div align="center">Round Cutting-Small</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">390</div></td>
                                    <td><div align="center">Stamping 3 Face</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">400</div></td>
                                    <td><div align="center">Round Stamping</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">410</div></td>
                                    <td><div align="center">Stamping</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">420</div></td>
                                    <td><div align="center">Hardening</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">430</div></td>
                                    <td><div align="center">Straightening</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">440</div></td>
                                    <td><div align="center">Aciding</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">450</div></td>
                                    <td><div align="center">Electropolishing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">460</div></td>
                                    <td><div align="center">Scouring</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">470</div></td>
                                    <td><div align="center">Tang Tempering</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">480</div></td>
                                    <td><div align="center">Laser Cngraving</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">490</div></td>
                                    <td><div align="center">Laser Ctching</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">500</div></td>
                                    <td><div align="center">Pad Crintng</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">510</div></td>
                                    <td><div align="center">Drying</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">520</div></td>
                                    <td><div align="center">Proving</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">530</div></td>
                                    <td><div align="center">Oil Dip</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                                <tr>
                                    <td align="right"><div align="center">540</div></td>
                                    <td><div align="center">Packing</div></td>
                                    <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                </tr>
                            </table>



                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->




                        <div style="clear:both"></div>



                    </div><!-- /.tab-content -->
                </div>








            </div>
            <!-- /.box-body -->
        </div>


















        <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Add Operation</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Sequence Number ">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Operation Name ">
                            </div>




                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>















    </div>




















<div style="clear:both"></div>

    </div>

<!-- /.content-wrapper -->
