﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


    <div class="content">

        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">File Type Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Name</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Profile Image</div></td>
                                                <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="10%" bgcolor="#333333" class="style1"><div align="center">Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12345</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">Mill</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td>
                                                    <div align="center">-</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse   ">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="11%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Name</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Profile Image</div></td>
                                                <td width="41%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="40%" bgcolor="#333333" class="style1"><div align="center">Action</div></td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    <div align="center">45678</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center">Mill</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td>
                                                    <div align="center">-</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                            <tr>
                                                <td height="46">
                                                    <div align="center">52314</div>
                                                    <div align="center"></div>      <div align="center"></div>
                                                </td>
                                                <td><div align="center">Saw</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td>
                                                    <div align="center">-</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center"><a href="#" class="btn btn-default">Send for Approval</a></div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>File Type Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#customer">Add New </a></div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        <form class="form-inline margin2">
                                            <div class="form-group">

                                                <select class="form-control" placeholder="Select File Type">
                                                    <option selected disabled>Select File Type</option>
                                                    <option>Flat</option>
                                                    <option>Mill</option>
                                                    <option>Taper</option>
                                                    <option>Half</option>
                                                    <option>Hand</option>
                                                </select>
                                            </div>






                                            <a href="#" class=" btn btn-default ">Search</a>

                                            <a href="#" class=" btn btn-default ">Show All</a>


                                        </form>

                                    </div>
                                    <div style="clear:both"></div>

                                    <div class=" table-responsive">

                                        <br>

                                        <table width="100%" border="1">
                                            <tr>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">File Name</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Profile Image</div></td>
                                            <tr height="20">
                                                <td><div align="center">Flat</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a></div></td>
                                            </tr>
                                            <tr height="20">
                                                <td><div align="center">Taper</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a></div></td>
                                            </tr>
                                        </table>



                                        <p class="style1">&nbsp;</p>
                                    </div>


                                </div>
                            </div>
                        </div>



                    </div>
                </div>




























            </div>

        </div>




        <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="~/SharedCss/dist/img/flat.jpg" class="img-responsive">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Request No: 12345</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Family Name" value="Mill">
                            </div>

                            <a href="#" class="btn btn-primary">View Profile</a>




                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                        <br>
                        <br>
                        <br>
                        <div class="collapse" id="reject">
                            <div class="card card-body">
                                <textarea name="" cols="" rows="3" required></textarea>
                                <div style="clear:both"></div>
                                <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade" id="customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Add Family</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Family Name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Add Drawing File</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Import Dynamic Block</p>
                            </div>

                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>

    </div>

