﻿ @{
     Layout = "~/Views/Shared/MasterPage.cshtml";
}



       <!-- Content Header (Page header) -->
<section class="content-header">
    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Part No:<span class="jk-color-blue">3E</span><span class="jk-color-red">04FLF1BL</span><span class="jk-color-blue">XXX</span></h3>
            <a href="#" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#amendpass" class="pull-right btn btn-primary mr-5 ">Amendment</a>
            <a href="part_No_clone.html" class="pull-right btn btn-primary mr-5 ">Clone </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#customer" data-toggle="tab" aria-expanded="true">Customer Details</a></li>
                    <li class=""><a href="#production" data-toggle="tab" aria-expanded="false">Production Details</a></li>
                    <li class=""><a href="#dispatch" data-toggle="tab" aria-expanded="false">Dispatch Details</a></li>
                    <li class=""><a href="#cost" data-toggle="tab" aria-expanded="false">Cost Details</a></li>
                    <li class=""><a href="#approve" data-toggle="tab" aria-expanded="false">Customer Approval</a></li>

                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->

                    <div class="tab-pane active" id="customer">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>

                                <select class="form-control select2" id="selectbox" disabled>
                                    <option selected="selected" disabled>Select </option>
                                    <option value="#new">New</option>
                                    <option selected>Kennedy</option>
                                    <option>Customer 2</option>
                                    <option>Customer 3</option>
                                    <option>Customer 4</option>
                                    <option>Customer 5</option>
                                    <option>Customer 6</option>
                                </select>

                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer ID</label>
                                <input type="text" class="form-control " id="" placeholder="AB" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                <select class="form-control select2" id="selectbox1" disabled>
                                    <option selected="selected" disabled>Select </option>
                                    <option value="#brandnew">New</option>
                                    <option selected>Sunflower</option>
                                    <option>Brand 2</option>
                                    <option>Brand 3</option>
                                    <option>Brand 4</option>
                                    <option>Brand 5</option>
                                </select>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>




                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand ID</label>
                                <input type="text" class="form-control " id="" placeholder="SU" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class=""> Ship to Country </label>
                                <select class="form-control select2" disabled>
                                    <option selected="selected" disabled>Select </option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia, Plurinational State of</option>
                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island and McDonald Islands</option>
                                    <option value="VA">Holy See (Vatican City State)</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option selected value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                    <option value="KR">Korea, Republic of</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States of</option>
                                    <option value="MD">Moldova, Republic of</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="BL">Saint Barthélemy</option>
                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="MF">Saint Martin (French part)</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan, Province of China</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VG">Virgin Islands, British</option>
                                    <option value="VI">Virgin Islands, U.S.</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>

                                </select>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">SAP No</label>
                                <input type="text" class="form-control " id="" placeholder="1235GHJ15612JKL3 " readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer Part No</label>
                                <input type="text" class="form-control " id="" placeholder="TF04FL01AAA" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>








                        <br>
                        <br>
                        <br>
                        <br>


                        <div style=" clear:both;"></div>

                    </div><!-- /.tab-pane -->


                    <div class="tab-pane " id="production">


                        <div style="clear:both"></div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>
                                <input type="text" class="form-control " id="" placeholder="Kennedy" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                <input type="text" class="form-control " id="" placeholder="Sunflower" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Country </label>
                                <input type="text" class="form-control " id="" placeholder="India" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->

                        <div style="clear:both"></div>




                        <div class="nav-tabs-custom" style="cursor: move;">
                            <!-- Tabs within a box -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#file" data-toggle="tab">File Specs</a></li>
                                <li><a href="#cut" data-toggle="tab">Cut Specs</a></li>
                                <li><a href="#stampm" data-toggle="tab">Stamp </a></li>
                                <li><a href="#raw" data-toggle="tab">Raw Material</a></li>
                                <li><a href="#dwrg" data-toggle="tab">Drawing </a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- Morris chart - Sales -->
                                <div class=" tab-pane active" id="file">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Size </label>
                                            <select class="form-control select2" id="selectbox2" style="width:100%;" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option value="#sizenew">New</option>
                                                <option>2</option>
                                                <option selected>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Code </label>
                                            <input type="text" class="form-control  " id="uppercase" placeholder="FLF " maxlength="3" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Type </label>
                                            <select class="form-control select2" style="width:100%" id="selectbox3" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option value="#filenew">New</option>
                                                <option selected>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->




                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">File Sub Type </label>
                                            <select class="form-control select2" style="width:100%" id="selectbox4" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option value="#subnew">New</option>
                                                <option selected>Regular</option>
                                                <option>Brass</option>
                                                <option>Handle</option>
                                                <option> Light </option>
                                                <option>Foundry </option>
                                                <option>Lead Float </option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Hardness </label>
                                            <input type="text" class="form-control " id="" placeholder="62 HRC" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Tang Color </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option selected>Gray</option>
                                                <option>Black</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div style="clear:both"></div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Uncut at Tang/Shoulder </label>
                                            <input type="text" class="form-control " id="" placeholder="13" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Uncut at Point </label>
                                            <input type="text" class="form-control " id="" placeholder="12" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Uncut at Edge </label>
                                            <input type="text" class="form-control " id="" placeholder="9" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>





                                    <div style="clear:both"></div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Upcut Inclination </label>
                                            <input type="text" class="form-control " id="" placeholder="45 deg " readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Overcut Inclination </label>
                                            <input type="text" class="form-control " id="" placeholder="65 deg" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Edgecut Inclination </label>
                                            <input type="text" class="form-control " id="" placeholder="90 deg" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>




                                    <div style="clear:both"></div>




                                </div>


                                <div class="chart tab-pane" id="cut">


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Cut Type </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option>0 Rough Cut</option>
                                                <option selected>1 Basterd Cut</option>
                                                <option>2 Second Cut</option>
                                                <option>3 Smooth Cut</option>
                                                <option>4 Dead Smooth</option>
                                                <option>X Special Cut</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div style="clear:both"></div>


                                    <div class="form-group col-md-3 ">
                                        <label for="" class=""> Side 1 </label>
                                        <select class="form-control select2" style="width: 100%;" id="selectbox5" disabled>
                                            <option selected="selected" disabled>Select </option>
                                            <option value="#newtpi">New</option>
                                            <option selected>General</option>
                                            <option>USA (ASS)/GERMAN (DIN) </option>
                                            <option>NATO/BSS/ISS</option>
                                            <option>DJAKARTS</option>
                                        </select>
                                    </div><!-- /.form-group -->


                                    <div class="form-group col-md-3 ">
                                        <label for="" class=""> Side 2 </label>
                                        <select class="form-control select2" style="width: 100%;" disabled>
                                            <option selected="selected" disabled>Select </option>
                                            <option>Not Applicable</option>
                                            <option>New</option>
                                            <option selected>General</option>
                                            <option>USA (ASS)/GERMAN (DIN) </option>
                                            <option>NATO/BSS/ISS</option>
                                            <option>DJAKARTS</option>
                                        </select>
                                    </div><!-- /.form-group -->



                                    <div class="form-group col-md-3 ">
                                        <label for="" class=""> Edge 1 </label>
                                        <select class="form-control select2" style="width: 100%;" disabled>
                                            <option selected="selected" disabled>Select </option>
                                            <option>Not Applicable</option>
                                            <option>New</option>
                                            <option selected>General</option>
                                            <option>USA (ASS)/GERMAN (DIN) </option>
                                            <option>NATO/BSS/ISS</option>
                                            <option>DJAKARTS</option>
                                        </select>
                                    </div><!-- /.form-group -->




                                    <div class="form-group col-md-3 ">
                                        <label for="" class=""> Edge 2 </label>
                                        <select class="form-control select2" style="width: 100%;" disabled>
                                            <option selected="selected" disabled>Select </option>
                                            <option>Not Applicable</option>
                                            <option>New</option>
                                            <option selected>General</option>
                                            <option>USA (ASS)/GERMAN (DIN) </option>
                                            <option>NATO/BSS/ISS</option>
                                            <option>DJAKARTS</option>
                                        </select>
                                    </div><!-- /.form-group -->




                                    <div style="clear:both"></div>


                                    <div class=" col-md-3 ">
                                        <div class="form-group col-md-6">
                                            <input type="checkbox" class="flat-red" checked>
                                            <label for="radio1" class="mr-5">U/C</label>
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-md-6">
                                            <input type="checkbox" class="flat-red" checked>
                                            <label for="radio1" class="mr-5">O/C</label>
                                        </div><!-- /.form-group -->
                                        <div style="clear:both"></div>



                                    </div>


                                    <div class=" col-md-3 ">
                                        <div class="form-group col-md-6">
                                            <input type="checkbox" class="flat-red" checked>
                                            <label for="radio1" class="mr-5">U/C</label>
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-md-6">
                                            <input type="checkbox" class="flat-red" checked>
                                            <label for="radio1" class="mr-5">O/C</label>
                                        </div><!-- /.form-group -->
                                        <div style="clear:both"></div>



                                    </div>



                                </div>





                                <div class="chart tab-pane" id="stampm">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Stamp Type </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option selected>Emboss </option>
                                                <option>Laser</option>
                                                <option>Pad</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Stamp Chart Ref No </label>
                                            <select class="form-control select2" style="width: 100%;" id="selectbox6" disabled>
                                                <option selected="selected" disabled>Select </option>
                                                <option value="#stampnew">New </option>
                                                <option selected>151 </option>
                                                <option>152</option>
                                                <option>153</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-3">

                                        <br>


                                        <!--<a href="#"  data-toggle="modal" data-target="#process" class="btn btn-primary">Process BOM</a>
                                        -->


                                        <a href="dist/H - 178 - ITI - laser marking.pdf" target="_blank" class="btn btn-primary ">View Stamp Pdf</a>
                                    </div>





                                </div>

                                <div class="chart tab-pane" id="raw">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> RM Code </label>
                                            <input type="text" class="form-control " id="" placeholder="ML" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> RM Height </label>
                                            <input type="text" class="form-control " id="" placeholder="25" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> RM Width </label>
                                            <input type="text" class="form-control " id="" placeholder="30" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>









                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">RM Weight Kg/ 1000</label>
                                            <input type="text" class="form-control " id="" placeholder="50" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Net Weight </label>
                                            <input type="text" class="form-control " id="" placeholder="60" readonly>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>



                                    <div style="clear:both"></div>


                                </div>

                                <div class="chart tab-pane" id="dwrg">

                                    <a href="#" class="btn btn btn-primary pull-right mr-5"> Download PDF</a> <br>
                                    <img src="dist/img/drawing.jpg" class="img-responsive">



                                </div>

                            </div>
                        </div>
































                        <div style=" clear:both;"></div>

                    </div>

                    <div class="tab-pane" id="dispatch">

                        <!--                <div class > <h5><span class=" jk-color-blue" style=" margin-left:35px;">Shipper Dimension </span></h5></div>
                        -->









                        <div style="clear:both"></div>

                        <!--                                  <div class > <h5><span class=" jk-color-blue" style=" margin-left:35px;">Label Layout </span></h5></div>
                        -->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="96"><div align="center">Customer</div></th>
                                        <th width="49" style="width: 40px"><div align="center">Brand</div></th>
                                        <th width="54" style="width: 40px"><div align="center">Country</div></th>
                                        <th width="40" style="width: 40px"><div align="center">Bar Code</div></th>
                                        <th width="40" style="width: 40px"><div align="center">Line No</div></th>
                                        <th width="80" style="width: 40px"><div align="center">Hologram</div></th>
                                        <th width="80" style="width: 40px"><div align="center">Make In India</div></th>

                                    </tr>
                                    <tr>
                                        <td><div align="center"><input name="customer" class="form-control" type="" value="Kennedy" readonly /></div></td>
                                        <td>
                                            <div align="center">
                                                <span>
                                                    <input name="brand" class="form-control" type="text" value="Sunflower" readonly />
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                <span>
                                                    <input name="country" class="form-control" type="text" value="India" readonly />
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div align="center">
                                                <span>
                                                    <select class="form-control select2" style="width: 100%;" disabled>
                                                        <option selected> Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                <span>
                                                    <select class="form-control select2" style="width: 100%;" disabled>
                                                        <option selected> Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                <span>
                                                    <select class="form-control select2" style="width: 100%;" disabled>
                                                        <option selected> Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div align="center">
                                                <span>
                                                    <select class="form-control select2" style="width: 100%;" disabled>
                                                        <option selected> Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="nav-tabs-custom-jk">
                            <ul class="nav nav-tabs">
                                <li class=""><a href="#Handle" data-toggle="tab" aria-expanded="true">Handle</a></li>
                                <li class="active"><a href="#wrapping" data-toggle="tab" aria-expanded="false">Wrapping</a></li>
                                <li class=""><a href="#innerbox" data-toggle="tab" aria-expanded="false">Inner Box</a></li>
                                <li class=""><a href="#innerlabel" data-toggle="tab" aria-expanded="false">Inner Label</a></li>
                                <li class=""><a href="#outer" data-toggle="tab" aria-expanded="false">Outer</a></li>
                                <li class=""><a href="#pallet" data-toggle="tab" aria-expanded="false">Pallet</a></li>


                            </ul>
                            <div class="tab-content">
                                <!-- /.tab-pane -->


                                <div class="tab-pane " id="Handle">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">Handle Presence </label>
                                                <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                    <option selected="selected">Select</option>
                                                    <option> Without Handle</option>
                                                    <option selected> Yes Fitted Handle</option>
                                                    <option> Yes Loose Handle within primary</option>
                                                    <option> Yes Loose Handle separate box</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div><!-- /.col -->


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">Handle Type </label>
                                                <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                    <option selected="selected">Select</option>
                                                    <option selected>Standard</option>
                                                    <option> Special for Flex File</option>

                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div><!-- /.col -->
                                        <!--       <div class="col-md-3">
                                               <div class="form-group">
                                                  <label for="" class="">Handle Material </label>
                                                <select name="select" class="form-control select2" style="width: 100%;">
                                                   <option selected="selected">Select</option>
                                                     <option >Wooden</option>
                                                     <option>Ashwood</option>
                                                     <option> PPCP</option>
                                                     <option>Dual Component</option>
                                                     <option>Metal</option>
                                                   </select>
                                               </div>

                                             </div>
                                             -->

                                        <div style="clear:both"></div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class="">Handle Drawing No </label>
                                                <select class="form-control select2" style="width: 100%;" disabled>
                                                    <option selected="selected">Select</option>
                                                    <option>New</option>
                                                    <option selected>WH-03</option>
                                                    <option>Prov-06</option>
                                                    <option>WH-4</option>
                                                    <option>Prov-07</option>

                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-md-3">
                                            <br>

                                            <a href="#" target="_blank" class="btn btn-primary ">View Handle Drawing</a>
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="" class=""> Handle sub No </label>
                                                <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                    <option selected="selected">Select</option>
                                                    <option>New</option>
                                                    <option selected> 1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>











                                        <!--  <div class="table-responsive">
                                        <table class="table table-bordered">
                                                            <tbody><tr>
                                                              <th width="73" style="width: 10px"><div align="center">Handle Presence</div></th>
                                                              <th width="96"><div align="center">Handle Material</div></th>
                                                              <th width="75"><div align="center">Handle Colour</div></th>
                                                              <th width="49" style="width: 40px"><div align="center">Handle Type</div></th>
                                                              </tr>
                                                            <tr>
                                                              <td><div align="center"><select name="select"  class="form-control select2" style="width: 100%;">
                                                                <option > Without Handle</option>
                                                                <option> Yes Fitted Handle</option>
                                                                <option> Yes Loose Handle within primary</option>
                                                                 <option> Yes Loose Handle separate box</option>
                                                              </select></div></td>
                                                              <td><div align="center"><select name="select" class="form-control select2" style="width: 100%;">
                                                                <option >Wooden</option>
                                                                <option> Orange PVC</option>
                                                                <option> Ashwood</option>
                                                              </select></div></td>
                                                              <td><div align="center"><select name="select"  class="form-control select2" style="width: 100%;">
                                                                <option >Gray</option>
                                                                <option>Black</option>
                                                                <option> Orange</option>
                                                              </select></div></td>
                                                              <td><div align="center">  <input type="file" id="exampleInputFile"></div></td>
                                                              </tr>
                                                          </tbody></table>
                                                          </div>-->






                                    </div>
                                    <div style="clear:both"></div>
                                </div>







                                <div class="tab-pane active" id="wrapping">


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping Type </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>Wax</option>
                                                <option selected>VCI </option>
                                                <option>Sleeve</option>
                                                <option>Skin Carded </option>
                                                <option>Ladi Packing</option>
                                                <option>Blistered</option>
                                                <option>POUCH</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->










                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>WR - 1</option>
                                                <option>WR - 2</option>
                                                <option>WR - 3</option>
                                                <option>WR - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Wrapping Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Wrapping No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>



                                </div><!-- /.tab-pane -->




                                <div class="tab-pane" id="innerbox">











                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Inner  chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>IN - 1</option>
                                                <option>IN - 2</option>
                                                <option>IN - 3</option>
                                                <option>IN - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Inner  Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Inner Sub No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>




                                </div><!-- /.tab-pane -->





                                <div class="tab-pane" id="innerlabel">


                                    <!-- /.col -->










                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Inner  Label Chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>IN - 1</option>
                                                <option>IN - 2</option>
                                                <option>IN - 3</option>
                                                <option>IN - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Inner  Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Inner Label Sub No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>




                                </div>







                                <div class="tab-pane" id="outer">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Outer Type </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option selected>Wooden Case</option>
                                                <option>CFB Box </option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->










                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Outer  chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>OU - 1</option>
                                                <option>OU - 2</option>
                                                <option>OU - 3</option>
                                                <option>OU - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Outer  Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Outer  No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>










                                    <div style="clear:both"></div>
                                </div><!-- /.tab-pane -->

                                <div class="tab-pane" id="pallet">


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Pallet Type </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option selected>Cardboard</option>
                                                <option>HDPE </option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->










                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Pallet  chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>Pallet - 1</option>
                                                <option>IN - 2</option>
                                                <option>IN - 3</option>
                                                <option>IN - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Pallet  Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Pallet  No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>




                                </div><!-- /.tab-pane -->


                                <div class="tab-pane" id="outer">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Outer Type </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option selected>Wooden Case</option>
                                                <option>CFB Box </option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->










                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Outer  chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected>OU - 1</option>
                                                <option>OU - 2</option>
                                                <option>OU - 3</option>
                                                <option>OU - 4</option>

                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" target="_blank" class="btn btn-primary ">View Outer  Chart</a>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Outer  No </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">Select</option>
                                                <option>New</option>
                                                <option selected> 1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                                    <div style="clear:both"></div>














                                </div><!-- /.tab-pane -->


                            </div><!-- /.tab-content -->
                        </div>


                        <br>
                        <br>


                        <div style=" clear:both;"></div>

                    </div><!-- /.tab-pane -->


                    <div class="tab-pane" id="cost">



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>
                                <input type="text" class="form-control " id="" placeholder="Kennedy" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                <input type="text" class="form-control " id="" placeholder="Sunflower" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->



                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Country </label>
                                <input type="text" class="form-control " id="" placeholder="India" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div><!-- /.col -->




                        <div style="clear:both"></div>



                        <div class> <h5><span class=" jk-color-blue">Cost (Rs.)</span></h5></div>

                        <div class="col-md-2">Production</div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class=""> One Time Cost </label>
                                <input type="text" class="form-control " id="" placeholder="25000" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class=""> Running Cost </label>
                                <input type="text" class="form-control " id="" placeholder="35000" readonly>
                            </div><!-- /.form-group -->
                        </div>
                        <div style="clear:both"></div>


                        <div class="col-md-2">Dispatch</div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class=""> One Time cost </label>
                                <input type="text" class="form-control " id="" placeholder="30000" readonly>
                            </div><!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class=""> Running Cost </label>
                                <input type="text" class="form-control " id="" placeholder="30000" readonly>
                            </div><!-- /.form-group -->
                        </div>
                        <div style="clear:both"></div>
                        <br>
                        <br>
                        <br>
                        <br>


                        <div style=" clear:both;"></div>


                    </div><!-- /.tab-pane -->



                    <div class="tab-pane " id="approve">
                        <div class="table-responsive col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Approve</th>
                                        <th>Reject</th>
                                    </tr>
                                    <tr>
                                        <td>Production</td>
                                        <td>
                                            <input type="radio" name="r5" class=" minimal" checked>
                                        </td>
                                        <td><input type="radio" name="r5" class="minimal"></td>
                                    </tr>
                                    <tr>
                                        <td>Dispatch</td>
                                        <td>
                                            <input type="radio" name="r4" class="minimal" checked>
                                        </td>
                                        <td>
                                            <input type="radio" name="r4" class="minimal">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="col-md-6">
                            <textarea name="" cols="" rows="5" placeholder="Remark" style="width:100%;"></textarea>

                        </div>
                        <div style=" clear:both;"></div>

                    </div>
                    <div style="clear:both"></div>



                </div><!-- /.tab-content -->
            </div>


        </div><!-- /.box-body -->
        <!-- <div class="box-footer">
                    <a class="btn jk-btn-app disabled"><i class="fa fa-close"></i> Cancel</a>
        <a class="btn jk-btn-app bg-blue disabled"><i class="fa fa-save"></i> Save</a>
        <a class="btn jk-btn-app bg-blue disabled"><i class="fa fa-paper-plane"></i> Post</a>
                    </div>-->
    </div>


</section>

