﻿@model List<JKFiles.WebApp.Models.MenuMaster>
@{
    ViewBag.Title = "_Submenulist1";
    // Layout = "~/Views/Shared/MasterPage.cshtml";
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }
</style>

@using (Html.BeginForm("Save", "ModuleAssignment", FormMethod.Post))
{

    <div id="divPartialView1">
        <div class="table-responsive">

            <br>
            <table width="100%" border="1" bordercolor="#CCC">
                <tbody>
                    <tr>
                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Select</div></td>
                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Sub Id</div></td>
                        <td height="32" bgcolor="#e8e8e8" class="text-black"><div align="center">Sub Menu</div></td>
                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Controllers</div></td>
                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Action</div></td>
                        <td bgcolor="#e8e8e8" class="text-black"><div align="center">Menu Id</div></td>
                    </tr>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m[i].IsSelected)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].SubMenu_Id)
                            @Html.HiddenFor(m => m[i].SubMenu_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].SubMenu)
                            @Html.HiddenFor(m => m[i].SubMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].Controller)
                            @Html.HiddenFor(m => m[i].Controller)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].Action)
                            @Html.HiddenFor(m => m[i].Action)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].MainMenuID)
                            @Html.HiddenFor(m => m[i].MainMenuID)
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <br />
            <input type="submit" value="Save" />
        </div>
    </div>
}

