﻿@model JKFiles.WebApp.Models.MenuMaster
@*@model List<JKFiles.WebApp.Models.MenuMaster>*@
@*@model List<JKFiles.WebApp.Models.MenuMaster>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";

}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }
</style>



<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Assign Module</h3></div>

        <div class="box-body">
            <div class="form-inline ">

                <div class="form-group  col-md-3" style="margin-bottom: 10px">
                    @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.listrolename, "RoleName", "RoleName"), "Role Name", new { @class = "form-control select2", @style = "width:100 % ", @id = "RoleName" })
                    @Html.HiddenFor(m => m.RoleName)
                </div>

                <div class="form-group  col-md-3" style="margin-bottom: 10px">
                    @Html.DropDownListFor(model => model.MainMenu, new SelectList(Model.listMainmenu, "MainMenuID", "MainMenu"), "Select Module", new { @class = "form-control select2 Changemodule", @style = "width:100 % ", @id = "MainMenu" })
                    @Html.HiddenFor(m => m.MainMenu)
                </div>
            </div>

            <div id="divPartialView1">
                @Html.Action("SubList")
            </div>


        </div>
    </div>
</section>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {

        $(".Changemodule").change(function () {
            $("#loading").css("display", "block");
            var mainmenu = $("#MainMenu").val();
            $.ajax({
                url: '@Url.Action("SubList", "ModuleAssignment")',
                data: { mainmenu: mainmenu },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });
    });
</script>