﻿@model JKFiles.WebApp.Models.AdminSettingModel

@{
    ViewBag.Title = "_AdminSettingUpdate";
    Layout = "";
}

<form action="@Url.Action("SaveAdminSetting","AdminSetting")" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Setting Number:- @Html.DisplayFor(model => model.Config_Id)</h5>
            @Html.HiddenFor(model => model.Config_Id)
            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Value</label>

                @Html.EditorFor(m => m.Parameter_Value, new { htmlAttributes = new { @class = "form-control", placeholder = "Parameter Value" } })
                @Html.ValidationMessageFor(m => m.Parameter_Value)
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Operator</label>
                @*<select class="form-control" name="">
                        <option>Yes</option>
                        <option>No</option>
                    </select>*@

                @Html.DropDownListFor(model => model.Operator,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Yes" , Text = "Yes" },
                       new SelectListItem { Value = "No" , Text = "No" },

                    }, "Select Operator",
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Operator)
            </div>

            <div class="form-group">
                <label for="message-text" class="col-form-label">Operation</label>
                @*<select class="form-control" name="">
                        <option>Divide</option>
                        <option>Multiply</option>
                        <option>Addition</option>
                        <option>Subtraction</option>
                        <option>NA</option>
                    </select>*@

                @Html.DropDownListFor(model => model.Operation,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Divide" , Text = "Divide" },
                       new SelectListItem { Value = "Multiply" , Text = "Multiply" },
                        new SelectListItem { Value = "Addition" , Text = "Addition" },
                         new SelectListItem { Value = "Subtraction" , Text = "Subtraction" },
                          new SelectListItem { Value = "NA" , Text = "NA" },
                    }, "Select Operation",
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Operation)
            </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="btnSave" class="btn btn-warning">Update</button>
        </div>
    </div>
</form>

