﻿@model IEnumerable<JKFiles.WebApp.Models.AdminSettingModel>
@{
    ViewBag.Title = "AdminSettingIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Admin Setting</h3></div>


        <div class="box-body">

            <div class="">

                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                        <tbody>
                            <tr height="36">
                                @*<td bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Config")</div></td>*@
                                <td bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Description")</div></td>
                                <td height="36" bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Value")</div></td>
                                <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("Operator Yes/No")</span></div></td>
                                <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("Operation")</span></div></td>
                                <td width="164" bgcolor="#333333"><div align="center" class="style1">Edit</div></td>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr height="27">
                                    @*<td width="352" bgcolor="#CCCCCC"><div align="center">@Html.DisplayFor(m => item.Config_Id) </div></td>*@
                                    <td width="352" bgcolor="#CCCCCC"><div align="center">@Html.DisplayFor(m => item.Parameter_Desc) </div></td>
                                    <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.Parameter_Value) </div></td>
                                    <td><div align="center">@Html.DisplayFor(m => item.Operator) </div></td>
                                    <td><div align="center">@Html.DisplayFor(m => item.Operation) </div></td>
                                    <td>
                                        <div align="center">
                                            <a href="#" class="btnupdate" data-id="@item.Config_Id">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>






            </div>
        </div>



    </div>







</section>


<div class="modal fade" id="editadminsetting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="dis_content"></div>
          
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>


  
    $(document).ready(function () {
        $(".btnupdate").on('click', function () {
            
            var reqno;
           // alert(reqno)
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("getconfigdesc", "AdminSetting")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                   //alert(Id)
                    $("#dis_content").html(data);
                    $('#editadminsetting').modal('show');
                }
            })
        });
    });
    
       


    $("#btnSave").click(function () {
            alert("Loaded")
            $.ajax(
                {
                    url: '@Url.Action("SaveAdminSetting", "AdminSetting")',
                    data: "",
                    type: "GET",
                    datatype: "",
                    success: function (data) {

                    }
                })
        });


</script>
