﻿@model JKFiles.WebApp.Models.PartNumOtherDetailsModel
@{
    Layout = null;
    int n = 1;
}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            Request # @Model.othdt_request_type@Model.othdt_request_id

        </div>
        <form action="@Url.Action("ConfirmSubmit","DispatchDetails")" method="post">
            <div class="modal-body">
                <p>  Are you Sure you want to Submit?</p>
                @Html.HiddenFor(m => m.othdt_request_id)
                @Html.HiddenFor(m => m.othdt_request_type)
                @Html.HiddenFor(m => m.othdt_prod_cost_onetm)
                @Html.HiddenFor(m => m.othdt_prod_cost_run)
                @Html.HiddenFor(m => m.othdt_dispatch_onetm)
                @Html.HiddenFor(m => m.othdt_dispatch_run)
                @Html.HiddenFor(m => m.othdt_req_startdt)
                @Html.HiddenFor(m => m.othdt_req_enddt)
                <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right mr-5" name="actionType" value="Sub">OK</button>

                <br>
                <br>
            </div>
        </form>

    </div>
</div>

