﻿@model JKFiles.WebApp.Models.PartNumOtherDetailsModel
@{
    Layout = null;
    int n = 1;
}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">            
            Request # @Model.othdt_request_type@Model.othdt_request_id
            <h5 class="modal-title" id="mySmallModalLabel">Alert</h5>
        </div>
        <form action="@Url.Action("ConfirmOverwrite","DispatchDetails")" method="post">
            <div class="modal-body">
                <p>  Are you Sure you want to overwrite the old SKU(@Model.CurrSKU) with the New SKU?</p>
                <a href="#" class="btn btn-default pull-right" data-dismiss="modal">No</a>
                <a href="#reject" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary pull-right mr-5">Yes</a><br>
                <br>

                <div class="collapse" id="reject">
                    <p>Enter your Password</p>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control"})
                    </div><!-- /.form-group -->

                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary pull-right mr-5">OK</button>
                </div>
                <br>
                <br>


            </div>
        </form>

    </div>
</div>
