﻿
@model JKFiles.WebApp.Models.DispatchSKU
@{
    Layout = null;
    int n = 1;
}
<form action="@Url.Action("HandleChartUpload", "DispatchDetails")" method="post" enctype="multipart/form-data" >

    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New Handle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        @{
            int j = 0;
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th width="150">Parameter Category</th>
                        <th width="150">Parameter Name</th>
                        <th width="144">Parameter Range</th>
                        <th width="144">Parameter Value</th>
                    </tr>
                    
                    @foreach (var list in Model.ReqParlistEntity)
                    {
                        if (@list.nrm_seqno == 1)
                        {
                            if (@Session["HandleTypeName"].ToString() == "")
                            {
                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td>@list.nrm_parameter </td>
                                    <td colspan="2"><input type="@list.nrm_input_type" name="@list.nrm_seqno" class="form-control requireddata" id="@list.nrm_seqno" value="@Session["HandleTypeName"].ToString()" /></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td>@list.nrm_parameter </td>
                                    <td colspan="2"><input type="@list.nrm_input_type" name="@list.nrm_seqno" class="form-control requireddata" id="@list.nrm_seqno" value="@Session["HandleTypeName"].ToString()" readonly /></td>
                                </tr>
                            }

                        }
                        else
                        {

                            if (@list.nrm_numof_inputs > 1)
                            {
                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td> @list.nrm_parameter</td>
                                    <td><input type="@list.nrm_input_type" class="form-control" name="@list.nrm_createby@list.nrm_seqno" /></td>
                                    <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_createby@list.nrm_seqno" /></td>
                                </tr>
                            }
                            else
                            {

                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td> @list.nrm_parameter</td>
                                    <td colspan="2"><input type="@list.nrm_input_type" class="form-control" name="@list.nrm_seqno" id="@list.nrm_seqno" /></td>
                                </tr>
                            }
                        }

                    }
                    
                </tbody>
            </table>

        }

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="HandleChartAdd"  class="btn btn-primary">Ok</button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $(function () {
            $("#HandleChartAdd").click(function () {
                
                var masterModule = getHandlechart();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field ! Only Chart No is Optional");
                    return false;
                }
                $.post("@Url.Action("HandleChartAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getHandlechart() {
            
            hm_handle_type = $('#1').val();
            tempChartNum = $('#2').val();
            hm_chartimg_name = $('#3').val().replace(/C:\\fakepath\\/i, '');
            remark = $('#4').val();
            return (hm_chartimg_name == "" || remark == "" || hm_handle_type == "") ? null : {
                hm_handle_type: hm_handle_type,
                tempChartNum: tempChartNum,
                hm_chartimg_name: hm_chartimg_name,
                remark: remark,
            };

        }
    });
</script>