﻿

@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null) {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("InnerLabel", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5>
                        @*Request No:*@
                        @*@Html.DisplayFor(m => m.ReqNo)*@
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->



                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div style="clear:both"></div>
                    
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Handle", "getHandelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Wrapping", "getWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getInnerBoxTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Inner Label", "getInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "LabelLayOut", "DispatchDetails")</li>


                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->

                            <div class="tab-pane active" id="innerlabel">
                                @*<a href="#" data-toggle="modal" data-target="#innerlabelnew" class="btn btn-primary pull-left">Add New</a>*@
                                
                                <label> Inner Label Images </label>
                                <div style="clear:both"></div>
                                <a href="#" data-toggle="modal" data-target="#innerlabelimg" id="InnerLabelDetailsBtn" class="btn btn-primary">View Inner Label </a>

                                <a href="#" data-toggle="modal"  id="InnerLabelnewBtn" class="btn btn-primary">New InnerLabel</a>
                                <div style="clear:both"></div>
                                


                            </div>

                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->

                        </div><!-- /.tab-content -->
                    </div>


                    <br>
                    <br>


                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

                    @* <a  type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                </div>

              
        </form>
        
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    @*</div>*@

    <div class="modal fade bd-example-modal-md" id="innerlabelimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
  
</section>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade bd-example-modal-md" id="innerlabelNew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("innerlableMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>*@
<div class="modal fade bd-example-modal-md" id="innerlabelNew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER Label </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerLabelnew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="innerlableAdd"  class="btn btn-primary">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#InnerLabelnewBtn").click(function () {
            
            $("#tablePartialinnerLabelnew").empty();
            var row = "";
            $.ajax({
                url: '@Url.Action("innerlableMasterAdd", "DispatchDetails")',
                data: {},
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Value</th></tr>';
                    $("#tablePartialinnerLabelnew").append(row);
                    for (var i = 0; i < data.ReqParlist.length; i++) {
                        if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                            row = '<tr><td id="valuename1">' + data.ReqParlist[i].nrm_parameter + '</td>'
                        + '<td id="Range1" colspan="2"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].nrm_seqno + '" name="' + data.ReqParlist[i].nrm_seqno + '"   /> </td></tr>';
                            $("#tablePartialinnerLabelnew").append(row);
                        }

                        else {
                            row = '<tr><td id="valuename1">' + data.ReqParlist[i].nrm_parameter + '</td>'
                        + '<td id="Range1" colspan="2"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].nrm_seqno + '" name="' + data.ReqParlist[i].nrm_seqno + '"  /> </td></tr>';
                            $("#tablePartialinnerLabelnew").append(row);
                        }


                    }
                },
                error: function () {
                    alert("No Records Found");
                }
            });
            $('#innerlabelNew').modal('show');

        });
        $(function () {
            $("#innerlableAdd").click(function () {
                
                var AllValue = [];
                var TrCount = $("#tablePartialinnerLabelnew tr").length;
                if (window.FormData !== undefined) {
                    var ajaxData = new FormData();
                    ajaxData.append('UploadinnerlabelFiles', 'DispatchDetails');
                    $.each($("#tablePartialinnerLabelnew tr td input[type=file]"), function (i, obj) {
                        $.each(obj.files, function (j, file) {
                            ajaxData.append('photo[' + j + ']', file);
                        })
                    });
                    $.ajax({
                        url: '@Url.Action("UploadinnerlabelFiles", "DispatchDetails")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: ajaxData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                }

                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ilbd_chart_num: $('#0').val()
                        })
                    }
                    else {
                        AllValue.push({
                            ilbd_parm_name: $("#tablePartialinnerLabelnew tr td#valuename1").eq(i).text(),
                            ilbd_parm_scrnvalue: $("#tablePartialinnerLabelnew tr #Range1 #"+i+"").val().replace(/C:\\fakepath\\/i, '')
                        });
                    }
                }
                if ($("#tablePartialinnerLabelnew tr #Range1 #19").val() != 'undefined')
                {
                    if ($("#tablePartialinnerLabelnew tr #Range1 #19").val() == '')
                    {
                        alert('Please Enter Remark!');
                    }
                    else {
                        var postData = AllValue;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("InnerLabelDetailsEntityList", "DispatchDetails")',
                            data: JSON.stringify(postData),
                            dataType: "json",
                            contentType: 'application/json;',
                            success: function (data) {
                                alert('InnerLabel Inserted Succesfully');
                                location.reload();
                             

                            },
                        });
                    }
                    
                }
                else
                {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InnerLabelDetailsEntityList", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('InnerLabel Inserted Succesfully');
                            location.reload();
                            
                        },
                    });
                }
               

            });
        });
        @*$(function () {
            $("#innerlableAdd").click(function () {
                
                var masterModule = getinnerlabel();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("innerlablemasterAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                    
                    // var select = document.getElementById("custName");

                });
            });
        });
        function getinnerlabel() {
            
            var ilbd_chart_num = $('#0').val();
            var INNERPACKINGTOPLABEL = $('#FILE1').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGBOTTOMLABEL = $('#FILE2').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGSIDE1LABEL = $('#FILE3').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGSIDE2LABEL = $('#FILE4').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGEND1LABEL = $('#FILE5').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGEND2LABEL = $('#FILE6').val().replace(/C:\\fakepath\\/i, '');
            //var INNERPACKINGQUALITYSEAL = $('#FILE7').val();
            var INNERPACKINGBOXSAMPLE = $('#FILE7').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGLABELLOCATIONCHARTID = $('#FILE8').val().replace(/C:\\fakepath\\/i, '');
            var INNERPACKINGBOARDSUPPLIER = $('#9').val();
            return (ilbd_chart_num == "") ? null : {
                ilbd_chart_num: ilbd_chart_num
                , INNERPACKINGTOPLABEL: INNERPACKINGTOPLABEL
                , INNERPACKINGBOTTOMLABEL: INNERPACKINGBOTTOMLABEL
                , INNERPACKINGSIDE1LABEL: INNERPACKINGSIDE1LABEL
                , INNERPACKINGSIDE2LABEL: INNERPACKINGSIDE2LABEL
                , INNERPACKINGEND1LABEL: INNERPACKINGEND1LABEL
                , INNERPACKINGEND2LABEL: INNERPACKINGEND2LABEL
                , INNERPACKINGBOXSAMPLE: INNERPACKINGBOXSAMPLE
                , INNERPACKINGLABELLOCATIONCHARTID: INNERPACKINGLABELLOCATIONCHARTID
                , INNERPACKINGBOARDSUPPLIER: INNERPACKINGBOARDSUPPLIER
            };

        }*@
        $("#Item_Menu").css("color", "#f39c12");
        var TeamDetailPostBackURL = '@Url.Action("InnerLabelDetails", "DispatchDetails")';
        $(function () {
            
            $("#InnerLabelDetailsBtn").click(function () {
                
                //var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    // data: { pallet_chart: pallet_chart },
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#innerlabelimg').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#innerlabelimg').modal('hide');
            });
        });

        $("#dp_wrapping_type").change(function () {
            var wrappingType = $("#dp_wrapping_type").val();

            $.ajax({
                url: '@Url.Action("getWrappingChartNums", "DispatchDetails")',
                data: { wrappingType: wrappingType },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    //$.each(data, function () {
                    //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));

                    //});

                    $.each(data, function (i, data) {      // bind the dropdown list using json result
                        $('<option>',
                           {
                               value: data.hm_chart_num,
                               text: data.hm_chart_num
                           }).html(data.hm_chart_num).appendTo("#dp_wrapping_chart");
                    });
                }
            });

        });
        SelectRemark();
    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Inner Label'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Inner Label',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }



</script>