﻿
@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = null;
    int n = 1;
}

@*<div class="modal fade bd-example-modal-md" id="innerlabelimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">*@
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inner Labels </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="85%" class="table table-bordered">
                        <tbody>
@foreach (var i in Model.innerLabelDetilasList)
{
    if (i.ilbd_parm_name == "INNER PACKING BOARD SUPPLIER")
    {
                            <tr>
                                <th width="20%">Supplier</th>
                                <td width="80%">@i.ilbd_parm_scrnvalue</td>
                            </tr>
    }
}

@foreach (var i in Model.innerLabelDetilasList)
{
    <tr>
        <th width="20%">@i.ilbd_parm_name</th>
        <td><img src="~/ProjectImages/InnerLabel/@i.ilbd_parm_scrnvalue" alt="" class="img-responsive" /></td>
    </tr>
}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
@*</div>*@
