﻿<form id="form1">

    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New INNER BOX TYPE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="150">Parameter Category</th>
                        <th width="150">Parameter Name</th>
                        <th width="144">Parameter Range</th>
                        <th width="144">Parameter Value</th>
                    </tr>
                    @foreach (var list in Model.ReqParlist)
                    {

                        if (@list.nrm_numof_inputs > 1)
                        {
                            <tr>
                                <td> @list.nrm_for</td>
                                <td> @list.nrm_parameter</td>
                                <td><input type="@list.nrm_input_type" class="form-control requireddata" name="@list.nrm_createby@list.nrm_seqno" /></td>
                                <td><input type="@list.nrm_input_type" class="form-control requireddata" id="@list.nrm_createby@list.nrm_seqno" /></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td> @list.nrm_for</td>
                                <td> @list.nrm_parameter</td>

                                <td colspan="2"><input type="@list.nrm_input_type" class="form-control requireddata" id="@list.nrm_seqno" name="@list.nrm_input_type@list.nrm_seqno" /></td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
            <div><span id="resultMessage"></span></div>
            @*<p>Note: complete flow at master end</p>*@
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="innerboxtypeAdd" onclick="validate(this)" data-dismiss="modal" class="btn btn-primary">Ok</button>
    </div>
</form>

