﻿
@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>

        </div>
        <form action="@Url.Action("InnerBox", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5>
                        @*Request No:*@
                        @*@Html.DisplayFor(m => m.ReqNo)*@
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->



                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Handle", "getHandelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Wrapping", "getWrapperTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Inner Box", "getInnerBoxTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Label", "getInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "LabelLayOut", "DispatchDetails")</li>
                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->

                            <div class="tab-pane active" id="innerbox">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Inner Box Material </label>
                                        @Html.DropDownListFor(model => model.dp_innerbox_type, new SelectList(Model.innerBoxMasterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_innerbox_type)
                                        @Html.ValidationMessageFor(m => m.dp_innerbox_type, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none;">
                                    <div class="form-group">
                                        <label for="" class="">Qty/Inner </label>
                                        @*<input type="text" class="form-control " id="" placeholder="Qty/Inner">*@
                                        @Html.DropDownListFor(model => model.dp_innerbox_qty, new SelectList(Model.qtyInnerBoxList, "ib_qty_inbox", "ib_qty_inbox"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_innerbox_qty)

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Inner  chart No</label>
                                        @*<select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Select</option>
                                                <option>IN - 1</option>
                                                <option>IN - 2</option>
                                                <option>IN - 3</option>
                                                <option>IN - 4</option>
                                            </select>*@
                                        @*@Html.DropDownListFor(model => model.dp_innerbox_chart, new SelectList(Model.innerBoxChartNUmsList, "ib_chartnum", "ib_chartnum"), "Select", new { @class = "form-control select2" })
                                            @Html.HiddenFor(m => m.dp_innerbox_qty)*@
                                        @Html.DropDownListFor(model => model.dp_innerbox_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })
                                        @Html.HiddenFor(m => m.dp_innerbox_chart)
                                        @Html.HiddenFor(m => m.innerbox_chart)
                                        @Html.ValidationMessageFor(m => m.dp_innerbox_chart, null, new { @class = "text-danger" })
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-md-3">
                                    <br>

                                    <a href="#" id="btnInnerBoxDetailsView" data-toggle="modal" data-target="#innerview" class="btn btn-primary ">View </a>
                                </div>



                                <div style="clear:both"></div>




                            </div><!-- /.tab-pane -->
                            <!-- /.tab-pane -->

                        </div><!-- /.tab-content -->
                    </div>


                    <br>
                    <br>


                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

                    @* <a  type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                </div>


        </form>

    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="innerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
    @*</div>*@

</section>

<div class="modal fade bd-example-modal-md" id="innerboxtypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_innerboxTypeMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="innerboxSinglenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER BOX SINGLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerboxSinglenew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" id="InnerboxSingleAdd"  class="btn btn-primary">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="innerboxdoublenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER BOX DOUBLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerboxdoublenew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="InnerboxdoubleAdd" class="btn btn-primary">Ok</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {


        //var optionfsize = document.createElement("option");
        //var newOptionfsizeText = "New"; //your input box value will come here.
        //optionfsize.text = newOptionfsizeText;
        //optionfsize.value = "#innerboxtypenew";
        //var select = document.getElementById("dp_innerbox_type");
        //select.insertBefore(optionfsize, select.childNodes[1]);

        var option = document.createElement("option");
        var newOptionText = "New(Single)";
        option.text = newOptionText;
        option.value = "#innerboxSinglenew";
        var select = document.getElementById("dp_innerbox_chart");
        select.insertBefore(option, select.childNodes[1]);

        var option1 = document.createElement("option");
        var newOption1Text = "New(Double)";
        option1.text = newOption1Text;
        option1.value = "#innerboxdoublenew";
        var select1 = document.getElementById("dp_innerbox_chart");
        select1.insertBefore(option1, select1.childNodes[2]);

        $.ajax({
            url: '@Url.Action("checkinnerbox", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#dp_innerbox_chart").val('#innerboxSinglenew').trigger('change.select2');
                    // $("#dp_innerbox_chart").prop("disabled", true);

                }
                else {

                    //$("#dp_innerbox_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkinnerboxtype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_innerbox_type").val(data).trigger('change.select2');
                    //$("#dp_innerbox_type").prop("disabled", true);

                }
                else {

                    //$("#dp_innerbox_type").prop("disabled", false);
                }
            }
        });
        $(function () {
            $("#InnerboxSingleAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialinnerboxSinglenew tr").length;
                if (window.FormData !== undefined) {

                    var fileUpload = $("#2_0").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url: '@Url.Action("UploadinnerBoxFiles", "DispatchDetails")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ib_chartnum: $('#1_0').val(),
                            ib_chartimg: $('#2_0').val().replace(/C:\\fakepath\\/i, ''),
                            ib_box_type: $('#dp_innerbox_type').val(),
                            ib_qty_inbox: '1'
                        })
                        //AllValue.push({
                        //    ibd_pkg_parm_name     : $("#tablePartialinnerboxSinglenew tr td#valuename1").eq(i).text(),
                        //    ibd_pkg_parm_code     : $("#tablePartialinnerboxSinglenew tr td#valuename3").eq(i).text(),
                        //    ibd_pkg_parm_dwgvalue : $("#tablePartialinnerboxSinglenew tr #Range1 input").eq(i).val(),
                        //    ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxSinglenew tr #Range2 input").eq(i).val()
                        //});
                    }
                    else {
                        AllValue.push({
                            ibd_pkg_parm_name: $("#tablePartialinnerboxSinglenew tr td#valuename1").eq(i).text(),
                            ibd_pkg_parm_code: $("#tablePartialinnerboxSinglenew tr td#valuename3").eq(i).text(),
                            ibd_pkg_parm_dwgvalue: $("#tablePartialinnerboxSinglenew tr #Range1 input").eq(i).val(),
                            ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxSinglenew tr #Range2 input").eq(i).val()
                        });
                    }
                }
                if ($("#tablePartialinnerboxSinglenew tr #Range1 input").eq(10).val() == "") {
                    alert('Please Enter Remark!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InnerboxSingleAdd", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('InnerBox Inserted Succesfully');
                            location.reload();
                           
                        },
                    });
                }
            });
        });
        $(function () {
            $("#InnerboxdoubleAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialinnerboxdoublenew tr").length;
                if (window.FormData !== undefined) {
                    var fileUpload = $("#2_0").get(0);
                    var files = fileUpload.files;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);
                    $.ajax({
                        url: '@Url.Action("UploadinnerBoxFiles", "DispatchDetails")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            // alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ib_chartnum: $('#1_0').val(),
                            ib_chartimg: $('#2_0').val().replace(/C:\\fakepath\\/i, ''),
                            ib_box_type: $('#dp_innerbox_type').val(),
                            ib_qty_inbox: '2'
                        })
                        //AllValue.push({
                        //    ibd_pkg_parm_name     : $("#tablePartialinnerboxSinglenew tr td#valuename1").eq(i).text(),
                        //    ibd_pkg_parm_code     : $("#tablePartialinnerboxSinglenew tr td#valuename3").eq(i).text(),
                        //    ibd_pkg_parm_dwgvalue : $("#tablePartialinnerboxSinglenew tr #Range1 input").eq(i).val(),
                        //    ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxSinglenew tr #Range2 input").eq(i).val()
                        //});
                    }
                    else {
                        AllValue.push({
                            ibd_pkg_parm_name: $("#tablePartialinnerboxdoublenew tr td#valuename1").eq(i).text(),
                            ibd_pkg_parm_code: $("#tablePartialinnerboxdoublenew tr td#valuename3").eq(i).text(),
                            ibd_pkg_parm_dwgvalue: $("#tablePartialinnerboxdoublenew tr #Range1 input").eq(i).val(),
                            ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxdoublenew tr #Range2 input").eq(i).val()
                        });
                    }
                }
                if ($("#tablePartialinnerboxdoublenew tr #Range1 input").eq(19).val() == "") {
                    alert('Please Enter Remark!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InnerboxSingleAdd", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            alert('InnerBox Inserted Succesfully');
                            location.reload();
              
                        },
                    });
                }

            });

        });

        $("#dp_innerbox_chart").change(function () {
            debugger
            if ($(this).val() == "#innerboxSinglenew") {
                $("#tablePartialinnerboxSinglenew").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("innerboxSinglenew", "DispatchDetails")',
                    data: {},
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialinnerboxSinglenew").append(row);
                        for (var i = 0; i < data.ReqParlist.length; i++) {
                            if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"   /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }
                            else if (data.ReqParlist[i + 1].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"    /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }
                            else {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }

                            i++;
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
                $('#innerboxSinglenew').modal('show');
            }
            else if ($(this).val() == "#innerboxdoublenew") {
                $("#tablePartialinnerboxdoublenew").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("innerboxDoublenew", "DispatchDetails")',
                    data: {},
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialinnerboxdoublenew").append(row);
                        for (var i = 0; i < data.ReqParlist.length; i++) {
                            if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"   /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }
                            else if (data.ReqParlist[i + 1].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"    /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }
                            else {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }

                            i++;
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }

                });
                $('#innerboxdoublenew').modal('show');
            }
            else {


            }
        });

        $(function () {
            $("#innerboxtypeAdd").click(function () {


                var masterModule = getinnerboxtype();

                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("innerboxTypeMasterAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });


            });

        });
        function getinnerboxtype() {

            var innerboxtype = $('#1').val();
            var remark = $('#2').val();

            return (innerboxtype == "") ? null : {
                innerboxtype: innerboxtype, remark: remark
            };

        }


        $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_innerbox_type").val() != "Select") {
            var innerboxchart = $("#innerbox_chart").val();
            // alert(innerboxchart)
            var innerQuntity = $("#dp_innerbox_qty").val();
            var innerBoxMaterial = $("#dp_innerbox_type").val();

            // var chart = $("#dp_innerbox_chart").val();
            if (innerBoxMaterial == "#innerboxtypenew") {
                $('#innerboxtypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getInnerBoxChartNums", "DispatchDetails")',
                    data: { innerQuntity: innerQuntity, innerBoxMaterial: innerBoxMaterial },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#dp_innerbox_chart").empty();
                        $('<option>',
                              {
                                  value: "Select",
                                  text: "Select"
                              }).html("Select").appendTo("#dp_innerbox_chart");
                        $('<option>',
                         {
                             value: "#innerboxSinglenew",
                             text: "New(Single)"
                         }).html("New(Single)").appendTo("#dp_innerbox_chart");
                        $('<option>',
                              {
                                  value: "#innerboxdoublenew",
                                  text: "New(Double)"
                              }).html("New(Double)").appendTo("#dp_innerbox_chart");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.ib_chartnum,
                                   text: data.ib_chartnum
                               }).html(data.hm_chart_num).appendTo("#dp_innerbox_chart");
                            if (innerboxchart == data.ib_chartnum) {
                                $("#dp_innerbox_chart").val(data.ib_chartnum).trigger('change.select2');
                            }
                        });
                    }
                });
            }

        }

        $("#dp_innerbox_type").change(function () {
            debugger
            var innerQuntity = $("#dp_innerbox_qty").val();
            var innerBoxMaterial = $("#dp_innerbox_type").val();
            if (innerBoxMaterial == "#innerboxtypenew") {
                $('#innerboxtypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getInnerBoxChartNums", "DispatchDetails")',
                    data: { innerQuntity: innerQuntity, innerBoxMaterial: innerBoxMaterial },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        //$.each(data, function () {
                        //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));

                        //});
                        $("#dp_innerbox_chart").val("Select").trigger('change.select2')
                        $("#dp_innerbox_chart").empty();
                        $('<option>',
                               {
                                   value: "Select",
                                   text: "Select"
                               }).html("Select").appendTo("#dp_innerbox_chart");
                        $('<option>',
                              {
                                  value: "#innerboxSinglenew",
                                  text: "New(Single)"
                              }).html("New(Single)").appendTo("#dp_innerbox_chart");
                        $('<option>',
                              {
                                  value: "#innerboxdoublenew",
                                  text: "New(Double)"
                              }).html("New(Double)").appendTo("#dp_innerbox_chart");
                        $.each(data, function (i, data) {
                            // alert(data.ib_chartnum);
                            // bind the dropdown list using json result
                            $('<option>',
                               {
                                   value: data.ib_chartnum,
                                   text: data.ib_chartnum
                               }).html(data.hm_chart_num).appendTo("#dp_innerbox_chart");
                        });
                    }
                });
            }

        });

        var TeamDetailPostBackURL = '@Url.Action("ViewInnerBoxDetails", "DispatchDetails")';
        $(function () {



            $("#btnInnerBoxDetailsView").click(function () {

                var dp_innerbox_chart = $("#dp_innerbox_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { InnerBoxChart: dp_innerbox_chart },
                    datatype: "json",
                    success: function (data) {

                        console.log(data);
                        $('#innerview').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
        SelectRemark();
    });

    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Inner Box'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Inner Box',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }
</script>