﻿
@model JKFiles.WebApp.Models.PartNumOtherDetailsModel
@{
    Layout = null;
    int n = 1;
}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">          

        </div>
        <form action="#" method="post">
            <div class="modal-body">
                <p>  Are you Sure you want to Submit?</p>              
                <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right mr-5" name="actionType" value="Sub">OK</button>
                <br>
                <br>
            </div>
        </form>

    </div>
</div>

