﻿

@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}
@*<section class="content-header"></section>*@

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote","ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("Outer", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5>
                        @*Request No:*@
                        @*@Html.DisplayFor(m => m.ReqNo)*@
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Handle", "getHandelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Wrapping", "getWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getInnerBoxTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Label", "getInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Outer", "getOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "LabelLayOut", "DispatchDetails")</li>


                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            <div class="tab-pane active" id="outer">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Outer Type </label>
                                        @Html.DropDownListFor(model => model.dp_outerbox_type, new SelectList(Model.outerBoxMasterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_outerbox_type)
                                        @Html.ValidationMessageFor(m => m.dp_outerbox_type, null, new { @class = "text-danger" })
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div><!-- /.col -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Outer  chart No </label>
                                        @Html.DropDownListFor(model => model.dp_outerbox_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })
                                        @Html.HiddenFor(m => m.dp_outerbox_chart)
                                        @Html.HiddenFor(m => m.outerbox_chart)
                                        @Html.ValidationMessageFor(m => m.dp_outerbox_chart, null, new { @class = "text-danger" })
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-md-2">
                                    <br>
                                    <a href="#" data-toggle="modal" data-target="#outerview" id="btnViewDetails" class="btn btn-primary ">View Outer  Chart</a>
                                </div>






                                <div style="clear:both"></div>










                                <div style="clear:both"></div>
                            </div><!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div>


                    <br>
                    <br>


                    <div style="clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>
                </div>

              

        </form>
        
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="outerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div id="outerview1"></div>
    </div>

    </div>
    @*</div>*@
</section>
<div class="modal fade bd-example-modal-md" id="outertypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_OuterTypeMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="outerchartnew1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("OuterchartMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="outerchartnew2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("OuterchartMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        //var optionouter = document.createElement("option");
        //var newOptionouterText = "New"; //your input box value will come here.
        //optionouter.text = newOptionouterText;
        //optionouter.value = "#outertypenew";
        //var select = document.getElementById("dp_outerbox_type");
        //select.insertBefore(optionouter, select.childNodes[1]);
        var optionouter1 = document.createElement("option");
        //var newOptionouterText = "New"; //your input box value will come here.
        optionouter1.text = "New";
        optionouter1.value = "New";
        var select1 = document.getElementById("dp_outerbox_chart");
        select1.insertBefore(optionouter1, select1.childNodes[1]);
        $.ajax({
            url: '@Url.Action("checkouter", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#dp_outerbox_chart").val('New').trigger('change.select2');
                   // $("#dp_outerbox_chart").prop("disabled", true);
                   
                }
                else {
                   
                   // $("#dp_outerbox_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkoutertype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_outerbox_type").val(data).trigger('change.select2');
                    //$("#dp_outerbox_type").prop("disabled", false);
                    
                }
                else {
                    
                  //  $("#dp_outerbox_type").prop("disabled", false);
                }
            }
        });
        $(function () {
            $("#OuterChartAdd").click(function () {
                debugger;
                var masterModule = getOuterchart();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Select Outer Type!");
                    return;
                }
                $.post("@Url.Action("OuterChartAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getOuterchart() {

            ob_box_type = $('#dp_outerbox_type').val();
            obd_boxdtl_recid = $('#INPUT1').val();
            OUTERPACKMATERIAL = $('#INPUT2').val();
            OUTERPACKDESCRIPTION = $('#INPUT3').val();
            OUTERPACKFINISH = $('#INPUT4').val();
            OUTERPACKAPPLICATION = $('#INPUT5').val();
            OUTERPACKLENGTH = $('#6').val();
            OUTERPACKWIDTH = $('#7').val();
            OUTERPACKHEIGHT = $('#8').val();
            OUTERPACKBATTENPOSITION = $('#9').val();
            OUTERPACKIMG = $('#FILE10').val().replace(/C:\\fakepath\\/i, '');
            OTHER1 = $('#11').val();
            OTHER2 = $('#12').val();
            OTHER3 = $('#13').val();
            OTHER4 = $('#14').val();
            OTHER5 = $('#15').val();
            OUTERPACKLENGTHrange = $('input[name=6]').val();
            OUTERPACKWIDTHrange = $('input[name=7]').val();
            OUTERPACKHEIGHTrange = $('input[name=8]').val();
            OUTERPACKBATTENPOSITIONrange = $('input[name=9]').val();
            OTHER1range = $('input[name=11]').val();
            OTHER2range = $('input[name=12]').val();
            OTHER3range = $('input[name=13]').val();
            OTHER4range = $('input[name=14]').val();
            OTHER5range = $('input[name=15]').val();
            return (ob_box_type == "") ? null : {
                obd_boxdtl_recid: obd_boxdtl_recid, OUTERPACKMATERIAL: OUTERPACKMATERIAL, OUTERPACKDESCRIPTION: OUTERPACKDESCRIPTION, OUTERPACKFINISH: OUTERPACKFINISH, OUTERPACKAPPLICATION: OUTERPACKAPPLICATION, OUTERPACKLENGTH: OUTERPACKLENGTH, OUTERPACKWIDTH: OUTERPACKWIDTH, OUTERPACKHEIGHT: OUTERPACKHEIGHT, OUTERPACKBATTENPOSITION: OUTERPACKBATTENPOSITION, OUTERPACKIMG: OUTERPACKIMG, OTHER1: OTHER1, OTHER2: OTHER2, OTHER3: OTHER3, OTHER4: OTHER4, OTHER5: OTHER5, OUTERPACKLENGTHrange: OUTERPACKLENGTHrange, OUTERPACKWIDTHrange: OUTERPACKWIDTHrange, OUTERPACKHEIGHTrange: OUTERPACKHEIGHTrange, OUTERPACKBATTENPOSITIONrange: OUTERPACKBATTENPOSITIONrange, OTHER1range: OTHER1range, OTHER2range: OTHER2range, OTHER3range: OTHER3range, OTHER4range: OTHER4range, OTHER5range: OTHER5range, ob_box_type: ob_box_type
            };
        }
        $(function () {
            $("#OutertypeAdd").click(function () {
                var masterModule = getOutertype();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("OutertypeAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getOutertype() {
            var Outertype = $('#1').val();
            var remark = $('#2').val();

            return (Outertype == "") ? null : {
                Outertype: Outertype, remark: remark
            };
        }
        $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_outerbox_type").val() != "Select") {

            var outerboxchart = $("#outerbox_chart").val();
            var outerBoxType = $("#dp_outerbox_type").val();
            if (outerBoxType == "#outertypenew") {
                $('#outertypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getOuterChartNums", "DispatchDetails")',
                    data: { dp_outerbox_type: outerBoxType },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        //$.each(data, function () {
                        //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));
                        //});
                        $("#dp_outerbox_chart").empty();
                        $('<option>',
                              {
                                  value: "Select",
                                  text: "Select"
                              }).html("Select").appendTo("#dp_outerbox_chart");
                        $('<option>',
                             {
                                 value: "New",
                                 text: "New"
                             }).html("New").appendTo("#dp_outerbox_chart");
                        $.each(data, function (i, data) {      // bind the dropdown list using json result
                            $('<option>',
                               {
                                   value: data.ob_box_chartnum,
                                   text: data.ob_box_chartnum
                               }).html(data.hm_chart_num).appendTo("#dp_outerbox_chart");
                            if (outerboxchart == data.ob_box_chartnum) {
                                $("#dp_outerbox_chart").val(data.ob_box_chartnum).trigger('change.select2');
                            }
                        });
                    }
                });
            }
        }

        var TeamDetailPostBackURL = '@Url.Action("ViewOuterDetails", "DispatchDetails")';
        $(function () {
            $("#btnViewDetails").click(function () {

                var OuterChart = $("#dp_outerbox_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { OuterChart: OuterChart },
                    datatype: "json",
                    success: function (data) {
                        console.log(data);
                        $('#outerview1').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');
                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#outerview').modal('hide');
            });
        });
        var options = {
            "backdrop": "static",
            "show": true
        }
        $("#dp_outerbox_chart").change(function () {
            if ($(this).val() == "New") {
                $('#outerchartnew1').modal('show');
            }
            
        });
        $("#dp_outerbox_type").change(function () {
            var outerBoxType = $("#dp_outerbox_type").val();
            if (outerBoxType == "#outertypenew") {
                $('#outertypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getOuterChartNums", "DispatchDetails")',
                    data: { dp_outerbox_type: outerBoxType },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        //$.each(data, function () {
                        //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));

                        //});

                        $("#dp_outerbox_chart").val("Select").trigger('change.select2')
                        $("#dp_outerbox_chart").empty();
                        $('<option>',
                             {
                                 value: "Select",
                                 text: "Select"
                             }).html("Select").appendTo("#dp_outerbox_chart");
                        $('<option>',
                            {
                                value: "New",
                                text: "New"
                            }).html("New").appendTo("#dp_outerbox_chart");
                        $.each(data, function (i, data) {      // bind the dropdown list using json result
                            $('<option>',
                               {
                                   value: data.ob_box_chartnum,
                                   text: data.ob_box_chartnum
                               }).html(data.hm_chart_num).appendTo("#dp_outerbox_chart");
                        });
                    }
                });
            }

        });
        SelectRemark();
    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Outer'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Outer',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }

</script>
