﻿


@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("Pallet", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5>
                        @*Request No:*@
                        @*@Html.DisplayFor(m => m.ReqNo)*@
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->



                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Handle", "getHandelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Wrapping", "getWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getInnerBoxTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Label", "getInnerLabelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Outer", "getOuterTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Pallet", "getPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "LabelLayOut", "DispatchDetails")</li>


                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            <div class="tab-pane active" id="pallet">


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Pallet Type </label>
                                        @*<select name="select" class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Select</option>
                                                <option>Cardboard</option>
                                                <option>HDPE </option>

                                            </select>*@
                                        @Html.DropDownListFor(model => model.dp_pallet_type, new SelectList(Model.palletMaterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_pallet_type)
                                     @Html.ValidationMessageFor(m => m.dp_pallet_type, null, new { @class = "text-danger" })
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div><!-- /.col -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Pallet  chart No  </label>
                                        @*<select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Select</option>
                                                <option>IN - 1</option>
                                                <option>IN - 2</option>
                                                <option>IN - 3</option>
                                                <option>IN - 4</option>

                                            </select>*@
                                        @Html.DropDownListFor(model => model.dp_pallet_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })


                                        @Html.HiddenFor(m => m.dp_pallet_chart)
                                        @Html.HiddenFor(m => m.pallet_chart)
                                        @Html.ValidationMessageFor(m => m.dp_pallet_chart, null, new { @class = "text-danger" })
                                    @Html.HiddenFor(m=>m.Message)
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-md-2">
                                    <br>

                                    <a href="#" data-toggle="modal" data-target="#palletview" id="viewPalletDetailsBtn" class="btn btn-primary ">View Pallet  Chart</a>
                                </div>






                                <div style="clear:both"></div>




                            </div><!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->

                        </div><!-- /.tab-content -->
                    </div>


                    <br>
                    <br>


                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

                    @* <a  type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                </div>

               
        </form>
       
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    @*</div>*@
    <div class="modal fade bd-example-modal-lg" id="palletview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    </div>
</section>
<div class="modal fade bd-example-modal-md" id="pallettypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_PalletTypeMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="palletchartnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_PalletChartMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="confirmsubmit" aria-labelledby="mySmallModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">


            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <p> This Request/SKU is already Exist</p>

                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Modify</button>
                    @*<button type="submit" class="btn btn-primary pull-right mr-5" >OK</button>*@
                    <a href="@Url.Action("ItemMasterIndex","ItemMaster")"  class="btn btn-primary pull-right mr-5">Withdraw</a>
                    <br>
                    <br>
                </div>
            </form>

        </div>
    </div>


</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#palletchartnew";
        var select = document.getElementById("dp_pallet_chart");
        select.insertBefore(optionfsize, select.childNodes[1]);

        //var optionfsize = document.createElement("option");
        //var newOptionfsizeText = "New"; //your input box value will come here.
        //optionfsize.text = newOptionfsizeText;
        //optionfsize.value = "#pallettypenew";
        //var select = document.getElementById("dp_pallet_type");
        //select.insertBefore(optionfsize, select.childNodes[1]);
        $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_pallet_type").val() != "Select") {
            var pallet_chart = $("#pallet_chart").val();
            if ($('#dp_pallet_type').val() == "NOT APPLICABLE") {
                $("#dp_pallet_chart").val('').trigger('change.select2');
                $("#dp_pallet_chart").val('Select').trigger('change.select2');
                $("#dp_pallet_chart").prop("disabled", true);
                $("#viewPalletDetailsBtn").attr("disabled", true);
            }
            else {
                $("#dp_pallet_chart").prop("disabled", false);
                $("#viewPalletDetailsBtn").attr("disabled", false);
                var dp_pallet_type = $("#dp_pallet_type").val();
                if (dp_pallet_type == "#pallettypenew") {
                    $('#pallettypenew').modal('show');
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getPalletChartNums", "DispatchDetails")',
                        data: { dp_pallet_type: dp_pallet_type },
                        type: 'GET',
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            //$.each(data, function () {
                            //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));

                            //});
                            $("#dp_pallet_chart").val("Select").trigger('change.select2')
                            $("#dp_pallet_chart").empty();
                            $('<option>',
                                  {
                                      value: "Select",
                                      text: "Select"
                                  }).html("Select").appendTo("#dp_pallet_chart");
                            $('<option>',
                               {
                                   value: "#palletchartnew",
                                   text: "New"
                               }).html("New").appendTo("#dp_pallet_chart ");
                            $.each(data, function (i, data) {      // bind the dropdown list using json result
                                $('<option>',
                                   {
                                       value: data.pm_pallet_chartnum,
                                       text: data.pm_pallet_chartnum
                                   }).html(data.hm_chart_num).appendTo("#dp_pallet_chart");
                                if (pallet_chart == data.pm_pallet_chartnum) {
                                    $("#dp_pallet_chart").val(data.pm_pallet_chartnum).trigger('change.select2');
                                }
                            });
                        }
                    });
                }
            }
        }
        $.ajax({
            url: '@Url.Action("checkpallet", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {

                    $("#dp_pallet_chart").val('#palletchartnew').trigger('change.select2');
                    //$("#dp_pallet_chart").prop("disabled", true);
                   // $("#pallet_chart").val('#palletchartnew');
                }
                else {
                  
                    //$("#dp_pallet_chart").prop("disabled", true);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkpallettype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_pallet_type").val(data).trigger('change.select2');
                   // $("#dp_pallet_type").prop("disabled", true);
                    
                }
                else {
                  
                  //  $("#dp_pallet_type").prop("disabled", false);
                }
            }
        });
        $(function () {
            $("#PalletChartAdd").click(function () {
                

                var masterModule = getpalletchart();

                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Select Pallet Type!");
                    return;
                }
                $.post("@Url.Action("PalletchartMasterAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });


            });

        });
        function getpalletchart() {
            
            //var Pallettype = $('#1').val();
            //var remark = $('#2').val();
            var pm_pallet_chartimg = $('#FILE2').val().replace(/C:\\fakepath\\/i, '');
            var pm_pallet_chartnum = $('#INPUT1').val();
            var pm_pallet_type = $('#dp_pallet_type').val();

            var PALLETMATERIALRANGE = $('input[name=3]').val();
            var PALLETDESCRIPTIONRANGE = $('input[name=4]').val();
            var PALLETTYPERANGE = $('input[name=5]').val();
            var PALLETLENGTHRANGE = $('input[name=6]').val();
            var PALLETWIDTHRANGE = $('input[name=7]').val();
            var PALLETHEIGHTRANGE = $('input[name=8]').val();
            var PALLETHDPECOVERRANGE = $('input[name=9]').val();
            var PALLETHDPECOVERLENGTHRANGE = $('input[name=10]').val();
            var PALLETHDPECOVERWIDTHRANGE = $('input[name=11]').val();
            var PALLETHDPECOVERHEIGHTRANGE = $('input[name=12]').val();

            var PALLETMATERIAL = $('#3').val();
            var PALLETDESCRIPTION = $('#4').val();
            var PALLETTYPE = $('#5').val();
            var PALLETLENGTH = $('#6').val();
            var PALLETWIDTH = $('#7').val();
            var PALLETHEIGHT = $('#8').val();
            var PALLETHDPECOVER = $('#9').val();
            var PALLETHDPECOVERLENGTH = $('#10').val();
            var PALLETHDPECOVERWIDTH = $('#11').val();
            var PALLETHDPECOVERHEIGHT = $('#12').val();

            return (pm_pallet_type == "") ? null : {
                pm_pallet_chartimg: pm_pallet_chartimg
            , pm_pallet_chartnum: pm_pallet_chartnum
            , pm_pallet_type: pm_pallet_type
            , PALLETMATERIALRANGE: PALLETMATERIALRANGE
            , PALLETDESCRIPTIONRANGE: PALLETDESCRIPTIONRANGE
            , PALLETTYPERANGE: PALLETTYPERANGE
            , PALLETLENGTHRANGE: PALLETLENGTHRANGE
            , PALLETWIDTHRANGE: PALLETWIDTHRANGE
            , PALLETHEIGHTRANGE: PALLETHEIGHTRANGE
            , PALLETHDPECOVERRANGE: PALLETHDPECOVERRANGE
            , PALLETHDPECOVERLENGTHRANGE: PALLETHDPECOVERLENGTHRANGE
            , PALLETHDPECOVERWIDTHRANGE: PALLETHDPECOVERWIDTHRANGE
            , PALLETHDPECOVERHEIGHTRANGE: PALLETHDPECOVERHEIGHTRANGE
            , PALLETMATERIAL: PALLETMATERIAL
            , PALLETDESCRIPTION: PALLETDESCRIPTION
            , PALLETTYPE: PALLETTYPE
            , PALLETLENGTH: PALLETLENGTH
            , PALLETWIDTH: PALLETWIDTH
            , PALLETHEIGHT: PALLETHEIGHT
            , PALLETHDPECOVER: PALLETHDPECOVER
            , PALLETHDPECOVERLENGTH: PALLETHDPECOVERLENGTH
            , PALLETHDPECOVERWIDTH: PALLETHDPECOVERWIDTH
            , PALLETHDPECOVERHEIGHT: PALLETHDPECOVERHEIGHT
            };

        }
        $(function () {
            $("#pallettypeAdd").click(function () {
                

                var masterModule = getpallettype();

                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("PalletTypeMasterAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });


            });

        });
        function getpallettype() {
            
            var Pallettype = $('#1').val();
            var remark = $('#2').val();

            return (Pallettype == "") ? null : {
                Pallettype: Pallettype, remark: remark
            };

        }


        $("#dp_pallet_chart").change(function () {
            
            if ($(this).val() == "New") {
                $('#palletchartnew').modal('show');
            }

        });
        $("#dp_pallet_type").change(function () {
            if ($('#dp_pallet_type').val() == "NOT APPLICABLE") {
                $("#dp_pallet_chart").prop("disabled", true);
                $("#viewPalletDetailsBtn").attr("disabled", true);
            }
            else {
                $("#dp_pallet_chart").prop("disabled", false);
                $("#viewPalletDetailsBtn").attr("disabled", false);
                var dp_pallet_type = $("#dp_pallet_type").val();
                if (dp_pallet_type == "#pallettypenew") {
                    $('#pallettypenew').modal('show');
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getPalletChartNums", "DispatchDetails")',
                        data: { dp_pallet_type: dp_pallet_type },
                        type: 'GET',
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            //$.each(data, function () {
                            //    $("#dp_handle_chart").append($("<option/>").val(this.dp_handle_chart).text(this.dp_handle_chart));

                            //});
                            $("#dp_pallet_chart").empty();
                            $('<option>',
                                  {
                                      value: "Select",
                                      text: "Select"
                                  }).html("Select").appendTo("#dp_pallet_chart");
                            $('<option>',
                             {
                                 value: "New",
                                 text: "palletchartnew"
                             }).html("New").appendTo("#dp_pallet_chart");
                            $.each(data, function (i, data) {      // bind the dropdown list using json result
                                $('<option>',
                                   {
                                       value: data.pm_pallet_chartnum,
                                       text: data.pm_pallet_chartnum
                                   }).html(data.hm_chart_num).appendTo("#dp_pallet_chart");
                            });
                        }
                    });
                }
            }
        });

        var TeamDetailPostBackURL = '@Url.Action("ViewPalletDetails", "DispatchDetails")';
        $(function () {
            
            $("#viewPalletDetailsBtn").click(function () {
                
                var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { pallet_chart: pallet_chart },
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#palletview').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#palletview').modal('hide');
            });
        });
        SelectRemark();
        debugger
       
        $(function () {
            var message = $("#Message").val();
            if (message != "") {
                //alert(message)
                $('#confirmsubmit').modal('show');
            }
        });
        

    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Pallet'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Customer Details',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('error');
                }
            }
        });

    }

</script>