﻿@model JKFiles.WebApp.Models.PalletDetailsModel
    @{ 
        Layout = null;
    }

@*<div class="modal fade bd-example-modal-lg" id="palletview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">*@
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pallet Packing </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<img src="dist/img/pallet.jpg" class="img-responsive"><br>*@

                <img src="~/ProjectImages/Pallet/@Model.pm_pallet_chartimg" class="img-responsive"><br>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="206" style="width: 10px">Parameter Name</th>
                                <th width="119">Parameter Value</th>
                                @*<th style="width: 10px">Parameter Name</th>
                        <th width="307">Parameter Value</th>*@
                            </tr>


                            @foreach (var item in Model.palletDetailsEntityList)
                            {


                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>@item.pd_parm_name</p></td>
                                    <td>@item.pd_parm_scrnvalue</td>


                                </tr>


                            }

                        </tbody>
                    </table>
                </div>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
@*</div>*@

