﻿@using System.Web.Mvc;
@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "_SetPackingDetails";
    var listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem { Text = "Yes", Value = "Yes" });
    listItems.Add(new SelectListItem { Text = "No", Value = "No" });
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>

        </div>
        <form action="@Url.Action("UpdatePackingDetails", "DispatchDetails")" method="post" enctype="multipart/form-data">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5></h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>
                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->
                            <div class="tab-pane active" id="packing">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Quality Seal</label>
                                            @Html.DropDownListFor(m => m.temp_qltyseal_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Bar Code</label>
                                            @Html.DropDownListFor(m => m.temp_barcode_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Line No</label>
                                            @Html.DropDownListFor(m => m.temp_lineno_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Hologram</label>
                                            @Html.DropDownListFor(m => m.temp_hologram_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Price Sticker</label>
                                            @Html.DropDownListFor(m => m.temp_prcstkr_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Make in India</label>
                                            @Html.DropDownListFor(m => m.temp_india_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Polythene Bag</label>
                                            @Html.DropDownListFor(m => m.temp_polybag_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Silica Gel</label>
                                            @Html.DropDownListFor(m => m.temp_silicagel_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Fumigation</label>
                                            @Html.DropDownListFor(m => m.temp_fumigation_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Promotional Item</label>
                                            @Html.DropDownListFor(m => m.temp_promotionalitem_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Strap</label>
                                            @Html.DropDownListFor(m => m.temp_strap, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Cello Tape</label>
                                            @Html.DropDownListFor(m => m.temp_cellotape_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Shrink Wrap</label>
                                            @Html.DropDownListFor(m => m.temp_shrinkwrap_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Decicant</label>
                                            @Html.DropDownListFor(m => m.temp_decicant_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Paperwool</label>
                                            @Html.DropDownListFor(m => m.temp_paperwool_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">PO No</label>
                                            @Html.DropDownListFor(m => m.temp_pono_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class=""> Tang Color </label>
                                            @Html.DropDownListFor(model => model.temp_tangcolor, new SelectList(new List<SelectListItem> {
                                              new SelectListItem { Text = "Orange", Value = "Orange"},
                                              new SelectListItem { Text = "Blue", Value = "Blue"},
                                              new SelectListItem { Text = "Black", Value = "Black"},
                                              new SelectListItem { Text = "No", Value = "No"}

                                                 }, "Value", "Text"), "Select", new { @class = "form-control", @style = "width:100%;" })<SelectListItem>
                                                <SelectListItem>
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Outer Marking</label>
                                            @Html.DropDownListFor(model => model.dp_outer_mrking_type, new SelectList(new List<SelectListItem> {
                                              new SelectListItem { Text = "No", Value = "No"},
                                             new SelectListItem { Text = "Stencil", Value = "Stencil"},
                                             new SelectListItem { Text = "Sticker", Value = "Sticker"}
                                                 }, "Value", "Text"), "Select", new { @class = "form-control", @style = "width:100%;" })<SelectListItem>

                                                @Html.ValidationMessageFor(m => m.dp_outer_mrking_type, null, new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="col-md-3" id="outerimg" style="display:none">
                                        <div class="form-group">
                                            <label for="" class="">Choose Image File</label>

                                            <input type="file" name="outer" id="image" />
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Pallet Marking</label>

                                            @Html.DropDownListFor(model => model.dp_pallet_mrking_type, new SelectList(new List<SelectListItem> {
                                              new SelectListItem { Text = "No", Value = "No"},
                                             new SelectListItem { Text = "Stencil", Value = "Stencil"},
                                             new SelectListItem { Text = "Sticker", Value = "Sticker"}
                                                 }, "Value", "Text"), "Select", new { @class = "form-control", @style = "width:100%;" })<SelectListItem>
                                                <SelectListItem>

                                                    @Html.ValidationMessageFor(m => m.dp_pallet_mrking_type, null, new { @class = "text-danger" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>

                                    <div class="col-md-3" id="palletimg" style="display:none">
                                        <div class="form-group">
                                            <label for="" class="">Choose Image File</label>

                                            <input type="file" name="pallet" id="image" />
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Blackodising</label>
                                            @Html.DropDownListFor(m => m.temp_blko_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })

                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Bar Code(Outer)</label>
                                            @Html.DropDownListFor(m => m.temp_barcodeouter_flg, listItems, new { @class = "form-control ", @style = "width: 100%" })

                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="">Customer Special Requirement (If Any) </label>
                                            @Html.TextAreaFor(m => m.temp_pkg_remarks, new { @class = "form-control", @style = "width:100%;" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>


                            </div>

                        </div><!-- /.tab-content -->
                    </div>
                    <br>
                    <br>
                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                </div>

            </div>


        </form>

    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCCCCC">
                            <tbody>
                                <tr>
                                    <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                    <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                    <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                </tr>
                            </tbody>
                            <tbody id="remarkdata"></tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        SelectRemark();
    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Packing Details'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Packing Details',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }
</script>

<script>
    $("#dp_outer_mrking_type").change(function () {
        var x = $("#dp_outer_mrking_type").val();
        if (x == "No") {
            $("#outerimg").hide();
        } else {
            $("#outerimg").css("display", "block");
        }
    });
</script>

<script>
    $("#dp_pallet_mrking_type").change(function () {
        var x = $("#dp_pallet_mrking_type").val();
        if (x == "No") {
            $("#palletimg").hide();
        } else {
            $("#palletimg").css("display", "block");
        }
    });
</script>
