﻿@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "_SetPallet";
}

<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>

            <a href="@Url.Action(" ChangeNote", "ChangeNotes" )" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action(" Pallet", "DispatchDetails" )" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>
                <div class="tab-pane" id="dispatch">
                    <h5>
                    </h5><div style="clear:both"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="pallet">
                                <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Pallet Type </label>
                                        @Html.DropDownListFor(model => model.dp_pallet_type, new SelectList(Model.palletMaterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_pallet_type)
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Pallet  chart No  </label>
                                        @Html.DropDownListFor(model => model.dp_pallet_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })


                                        @Html.HiddenFor(m => m.dp_pallet_chart)
                                        @Html.HiddenFor(m => m.pallet_chart)
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <br>
                                    <a href="#" data-toggle="modal" data-target="#palletview" onclick="ViewPalletChart()" id="" class="btn btn-primary ">View Pallet  Chart</a>
                                </div><div style="clear:both"></div>

                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    <button type="button" class="btn jk-btn-app bg-blue" onclick="SubmitSetPallet('We are processing...')"><i class="fa fa-save"></i>Save</button>
                </div>
             
            </div>
        </form>
        
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="palletview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>

</section>
<div class="modal fade bd-example-modal-md" id="pallettypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_PalletTypeMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="palletchartnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_PalletChartMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("checkpallet", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {

                    $("#dp_pallet_chart").val('#palletchartnew').trigger('change.select2');
                    //$("#dp_pallet_chart").prop("disabled", true);
                    // $("#pallet_chart").val('#palletchartnew');
                }
                else {

                    //$("#dp_pallet_chart").prop("disabled", true);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkpallettype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_pallet_type").val(data).trigger('change.select2');
                    // $("#dp_pallet_type").prop("disabled", true);

                }
                else {

                    //  $("#dp_pallet_type").prop("disabled", false);
                }
            }
        });
        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#palletchartnew";
        var select = document.getElementById("dp_pallet_chart");
        select.insertBefore(optionfsize, select.childNodes[1]);

        $.ajax({
            url: '@Url.Action("checkpallet", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {

                    $("#dp_pallet_chart").val('#palletchartnew').trigger('change.select2');
                    $("#dp_pallet_chart").prop("disabled", true);
                    $("#pallet_chart").val('#palletchartnew');
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_pallet_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkpallettype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_pallet_type").val(data).trigger('change.select2');
                    $("#dp_pallet_type").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_pallet_type").prop("disabled", false);
                }
            }
        });

        $("#dp_pallet_chart").change(function () {

            if ($(this).val() == "New") {
                $('#palletchartnew').modal('show');
            }

        });
        $(function () {
            $("#PalletChartAdd").click(function () {

                var masterModule = getpalletchart();
                if (masterModule == null) {
                    alert("Please Select Pallet Type!");
                    return;
                }
                $.post("@Url.Action("SetPalletchartMasterAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_pallet_type").val() != "Select") {
            var pallet_chart = $("#pallet_chart").val();
            if ($('#dp_pallet_type').val() == "NOT APPLICABLE") {
                $("#dp_pallet_chart").val('').trigger('change.select2');
                $("#dp_pallet_chart").val('Select').trigger('change.select2');
                $("#dp_pallet_chart").prop("disabled", true);
                $("#viewPalletDetailsBtn").attr("disabled", true);
            }
            else {
                $("#dp_pallet_chart").prop("disabled", false);
                $("#viewPalletDetailsBtn").attr("disabled", false);
                var dp_pallet_type = $("#dp_pallet_type").val();
                if (dp_pallet_type == "#pallettypenew") {
                    $('#pallettypenew').modal('show');
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getPalletChartNums", "DispatchDetails")',
                        data: { dp_pallet_type: dp_pallet_type },
                        type: 'GET',
                        dataType: "json",
                        success: function (data) {
                           
                           // $("#dp_pallet_chart").val("Select").trigger('change.select2')
                            $("#dp_pallet_chart").empty();
                            $('<option>',
                                  {
                                      value: "Select",
                                      text: "Select"
                                  }).html("Select").appendTo("#dp_pallet_chart");
                            $('<option>',
                               {
                                   value: "#palletchartnew",
                                   text: "New"
                               }).html("New").appendTo("#dp_pallet_chart ");
                            $.each(data, function (i, data) {     
                                $('<option>',
                                   {
                                       value: data.pm_pallet_chartnum,
                                       text: data.pm_pallet_chartnum
                                   }).html(data.hm_chart_num).appendTo("#dp_pallet_chart");
                                if (pallet_chart == data.pm_pallet_chartnum) {
                                    $("#dp_pallet_chart").val(data.pm_pallet_chartnum).trigger('change.select2');
                                }
                            });
                        }
                    });
                }
            }
        }
        function getpalletchart() {

            //var Pallettype = $('#1').val();
            //var remark = $('#2').val();
            var pm_pallet_chartimg          = $('#FILE2').val().replace(/C:\\fakepath\\/i, '');
            var pm_pallet_chartnum          = $('#INPUT1').val();
            var pm_pallet_type              = $('#dp_pallet_type').val();

            var PALLETMATERIALRANGE        = $('input[name=3]').val();
            var PALLETDESCRIPTIONRANGE     = $('input[name=4]').val();
            var PALLETTYPERANGE            = $('input[name=5]').val();
            var PALLETLENGTHRANGE          = $('input[name=6]').val();
            var PALLETWIDTHRANGE           = $('input[name=7]').val();
            var PALLETHEIGHTRANGE          = $('input[name=8]').val();
            var PALLETHDPECOVERRANGE       = $('input[name=9]').val();
            var PALLETHDPECOVERLENGTHRANGE = $('input[name=10]').val();
            var PALLETHDPECOVERWIDTHRANGE  = $('input[name=11]').val();
            var PALLETHDPECOVERHEIGHTRANGE = $('input[name=12]').val();

            var PALLETMATERIAL               = $('#3').val();
            var PALLETDESCRIPTION            = $('#4').val();
            var PALLETTYPE                   = $('#5').val();
            var PALLETLENGTH                 = $('#6').val();
            var PALLETWIDTH                  = $('#7').val();
            var PALLETHEIGHT                 = $('#8').val();
            var PALLETHDPECOVER              = $('#9').val();
            var PALLETHDPECOVERLENGTH        = $('#10').val();
            var PALLETHDPECOVERWIDTH         = $('#11').val();
            var PALLETHDPECOVERHEIGHT        = $('#12').val();

            return (pm_pallet_type == "") ? null : {
                pm_pallet_chartimg         :pm_pallet_chartimg
            ,pm_pallet_chartnum         :pm_pallet_chartnum
            ,pm_pallet_type             :pm_pallet_type
            ,PALLETMATERIALRANGE        :PALLETMATERIALRANGE
            ,PALLETDESCRIPTIONRANGE     :PALLETDESCRIPTIONRANGE
            ,PALLETTYPERANGE            :PALLETTYPERANGE
            ,PALLETLENGTHRANGE          :PALLETLENGTHRANGE
            ,PALLETWIDTHRANGE           :PALLETWIDTHRANGE
            ,PALLETHEIGHTRANGE          :PALLETHEIGHTRANGE
            ,PALLETHDPECOVERRANGE       :PALLETHDPECOVERRANGE
            ,PALLETHDPECOVERLENGTHRANGE :PALLETHDPECOVERLENGTHRANGE
            ,PALLETHDPECOVERWIDTHRANGE  :PALLETHDPECOVERWIDTHRANGE
            ,PALLETHDPECOVERHEIGHTRANGE :PALLETHDPECOVERHEIGHTRANGE
            ,PALLETMATERIAL             :PALLETMATERIAL
            ,PALLETDESCRIPTION          :PALLETDESCRIPTION
            ,PALLETTYPE                 :PALLETTYPE
            ,PALLETLENGTH               :PALLETLENGTH
            ,PALLETWIDTH                :PALLETWIDTH
            ,PALLETHEIGHT               :PALLETHEIGHT
            ,PALLETHDPECOVER            :PALLETHDPECOVER
            ,PALLETHDPECOVERLENGTH      :PALLETHDPECOVERLENGTH
            ,PALLETHDPECOVERWIDTH       :PALLETHDPECOVERWIDTH
            ,PALLETHDPECOVERHEIGHT      :PALLETHDPECOVERHEIGHT
            };

        }
        $("#dp_pallet_type").change(function () {
            if ($('#dp_pallet_type').val() == "NOT APPLICABLE") {
                $("#dp_pallet_chart").prop("disabled", true);
                $("#viewPalletDetailsBtn").attr("disabled", true);
            }
            else {
                $("#dp_pallet_chart").prop("disabled", false);
                $("#viewPalletDetailsBtn").attr("disabled", false);
                var dp_pallet_type = $("#dp_pallet_type").val();
                if (dp_pallet_type == "#pallettypenew") {
                    $('#pallettypenew').modal('show');
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getPalletChartNums", "DispatchDetails")',
                        data: { dp_pallet_type: dp_pallet_type },
                        type: 'GET',
                        dataType: "json",
                        success: function (data) {
                            $("#dp_pallet_chart").empty();
                            $('<option>',
                                  {
                                      value: "Select",
                                      text: "Select"
                                  }).html("Select").appendTo("#dp_pallet_chart");
                            $('<option>',
                             {
                                 value: "New",
                                 text: "palletchartnew"
                             }).html("New").appendTo("#dp_pallet_chart");
                            $.each(data, function (i, data) {
                                $('<option>',
                                   {
                                       value: data.pm_pallet_chartnum,
                                       text: data.pm_pallet_chartnum
                                   }).html(data.hm_chart_num).appendTo("#dp_pallet_chart");
                            });
                        }
                    });
                }
            }
        });
        SelectRemark();
    });

    function SubmitSetPallet(str) {
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        var dp_pallet_type = $("#dp_pallet_type").val();
        var dp_pallet_chart = $("#dp_pallet_chart").val();
        $.ajax({
            url: '@Url.Action("SaveSkuSetPallet", "DispatchDetails")',
            data: { dp_pallet_type: dp_pallet_type, dp_pallet_chart: dp_pallet_chart },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                location = data.url;
                $("#loader").css("display", "none");
            },
            error: function () {
                alert("No Records insert");
            }
        });
    }

    function ViewPalletChart() {
        var TeamDetailPostBackURL = '@Url.Action("ViewSetPalletDetails", "DispatchDetails")';
                var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { pallet_chart: pallet_chart },
                    datatype: "json",
                    success: function (data) {
                        $('#palletview').html(data);
                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
    }

    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Pallet'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Pallet',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }
</script>