﻿
@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int n = 1;
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("SetLabelLayOut", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5>
                       
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->



                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div><!-- /.col -->

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>

                        </ul>
                        <div class="tab-content">
                            <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                            <div class="tab-pane active" id="LL">
                                <div style="clear:both"></div>
                                <h4>Label Layout for Dispatch</h4>
                                <a href="#" data-toggle="modal" data-target="#LLpop" id="" onclick="ViewLabellayout()" class="btn btn-primary">View Label Layout</a>

                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <br>
            <br>
            <div style=" clear:both;"></div>
            <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

            <button type="button" class="btn jk-btn-app bg-blue" onclick="Submitlabellayout()"><i class="fa fa-save"></i>Save</button>

    </form>
       
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="LLpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> </div>
    <div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCCCCC">
                            <tbody>
                                <tr>
                                    <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                    <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                    <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                </tr>
                            </tbody>
                            <tbody id="remarkdata"></tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
                </div>
            </div>
        </div>
    </div>
  
</section>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        SelectRemark();
    });
    function Submitlabellayout() {
        $("#loader").css("display", "block");
        $.ajax({
            url: '@Url.Action("SaveSkuSetlabellayout", "DispatchDetails")',
            data: {},
            type: 'POST',
            dataType: "json",
            success: function (data) {
                location = data.url;
                $("#loader").css("display", "none");
            },
            error: function () {
                alert("No Records insert");
            }
        });
    }

    function ViewLabellayout() {
        $("#Item_Menu").css("color", "#f39c12");
        var TeamDetailPostBackURL = '@Url.Action("SetLabelLayOutDetails", "DispatchDetails")';
                var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#LLpop').html(data);
                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
    }

    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Label Layout'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Label Layout',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }
</script>