﻿@model JKFiles.WebApp.Models.DispatchSKU
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "_SetInnerBox";
}
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>

        </div>
        <form action="@Url.Action("InnerBox", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>
                <div class="tab-pane" id="dispatch">
                    <h5>
                      
                    </h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div><!-- /.col -->

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li class="active">@Html.ActionLink("Inner Box", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>


                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->

                            <div class="tab-pane active" id="innerbox">

                                <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Inner Box Material </label>
                                        @Html.DropDownListFor(model => model.dp_innerbox_type, new SelectList(Model.innerBoxMasterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_innerbox_type)

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Inner  chart No</label>
                                       
                                        @Html.DropDownListFor(model => model.dp_innerbox_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })
                                        @Html.HiddenFor(m => m.dp_innerbox_chart)
                                        @Html.HiddenFor(m => m.innerbox_chart)

                                     
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-md-3">
                                    <br>

                                    <a href="#" id="" onclick="Viewinnerboxchart()" data-toggle="modal" data-target="#innerview" class="btn btn-primary ">View </a>
                                </div>
                                <div style="clear:both"></div>

                            </div>
                        </div>
                    </div>

                    <br>
                    <br><div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>

                    <button type="button" class="btn jk-btn-app bg-blue" onclick="SubmitInnerBox()"><i class="fa fa-save"></i>Save</button>

                </div>
              
            </div>
        </form>
    
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="innerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
</section>

<div class="modal fade bd-example-modal-md" id="innerboxtypenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_innerboxTypeMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="innerboxSinglenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER BOX SINGLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerboxSinglenew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" id="InnerboxSingleAdd" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="innerboxdoublenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER BOX DOUBLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerboxdoublenew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="InnerboxdoubleAdd" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </form>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


<script>
    $(document).ready(function () {
        SelectRemark();
        var option = document.createElement("option");
        var newOptionText = "New(Single)";
        option.text = newOptionText;
        option.value = "#innerboxSinglenew";
        var select = document.getElementById("dp_innerbox_chart");
        select.insertBefore(option, select.childNodes[1]);

        var option1 = document.createElement("option");
        var newOption1Text = "New(Double)";
        option1.text = newOption1Text;
        option1.value = "#innerboxdoublenew";
        var select1 = document.getElementById("dp_innerbox_chart");
        select1.insertBefore(option1, select1.childNodes[2]);

       $.ajax({
            url: '@Url.Action("checkinnerbox", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#dp_innerbox_chart").val('#innerboxSinglenew').trigger('change.select2');
                    $("#dp_innerbox_chart").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_innerbox_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkinnerboxtype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_innerbox_type").val(data).trigger('change.select2');
                    $("#dp_innerbox_type").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_innerbox_type").prop("disabled", false);
                }
            }
        });

        $(function () {
            $("#InnerboxSingleAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialinnerboxSinglenew tr").length;
                if (window.FormData !== undefined) {

                    var fileUpload = $("#2_0").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url: '/DispatchDetails/SetUploadinnerBoxFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ib_chartnum: $('#1_0').val(),
                            ib_chartimg: $('#2_0').val().replace(/C:\\fakepath\\/i, ''),
                            ib_box_type: $('#dp_innerbox_type').val(),
                            ib_qty_inbox: '1'
                        })
                        //AllValue.push({
                        //    ibd_pkg_parm_name     : $("#tablePartialinnerboxSinglenew tr td#valuename1").eq(i).text(),
                        //    ibd_pkg_parm_code     : $("#tablePartialinnerboxSinglenew tr td#valuename3").eq(i).text(),
                        //    ibd_pkg_parm_dwgvalue : $("#tablePartialinnerboxSinglenew tr #Range1 input").eq(i).val(),
                        //    ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxSinglenew tr #Range2 input").eq(i).val()
                        //});
                    }
                    else {
                        AllValue.push({
                            ibd_pkg_parm_name: $("#tablePartialinnerboxSinglenew tr td#valuename1").eq(i).text(),
                            ibd_pkg_parm_code: $("#tablePartialinnerboxSinglenew tr td#valuename3").eq(i).text(),
                            ibd_pkg_parm_dwgvalue: $("#tablePartialinnerboxSinglenew tr #Range1 input").eq(i).val(),
                            ibd_pkg_parm_scrnvalue: $("#tablePartialinnerboxSinglenew tr #Range2 input").eq(i).val()
                        });
                    }
                }
                if ($("#tablePartialinnerboxSinglenew tr #Range1 input").eq(10).val() == "") {
                    alert('Please Enter Remark!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SetInnerboxSingleAdd", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            location = data.url;
                        },
                    });
                }
            });
        });
        $(function () {
            $("#InnerboxdoubleAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialinnerboxdoublenew tr").length;
                if (window.FormData !== undefined) {
                    var fileUpload = $("#2_0").get(0);
                    var files = fileUpload.files;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);
                    $.ajax({
                        url: '/DispatchDetails/SetUploadinnerBoxFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ilbd_chart_num: $('#1_0').val(),
                            //ib_chartimg: $('#2_0').val().replace(/C:\\fakepath\\/i, ''),
                            //ib_box_type: $('#dp_innerbox_type').val(),
                            //ib_qty_inbox:'2'
                        })
                    }
                    else {
                        AllValue.push({
                            ilbd_parm_name: $("#tablePartialinnerboxdoublenew tr td#valuename1").eq(i).text(),
                            ilbd_parm_scrnvalue: $("#tablePartialinnerLabelnew tr td#Range1 input#" + i + "").val().replace(/C:\\fakepath\\/i, ''),
                        });
                    }
                }
                if ($("#tablePartialinnerboxdoublenew tr #Range1 input").eq(19).val() == "") {
                    alert('Please Enter Remark!');
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SetInnerboxSingleAdd", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            location = data.url;
                        },
                    });
                }
            });

        });
        $("#dp_innerbox_chart").change(function () {
            debugger
            if ($(this).val() == "#innerboxSinglenew") {
                $("#tablePartialinnerboxSinglenew").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("SetinnerboxSinglenew", "DispatchDetails")',
                    data: {},
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialinnerboxSinglenew").append(row);
                        for (var i = 0; i < data.ReqParlist.length; i++) {
                            if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"   /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }
                            else if (data.ReqParlist[i + 1].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"    /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }
                            else {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxSinglenew").append(row);
                            }

                            i++;
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
                $('#innerboxSinglenew').modal('show');
            }
            else if ($(this).val() == "#innerboxdoublenew") {
                $("#tablePartialinnerboxdoublenew").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("SetinnerboxDoublenew", "DispatchDetails")',
                    data: {},
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialinnerboxdoublenew").append(row);
                        for (var i = 0; i < data.ReqParlist.length; i++) {
                            if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"   /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }
                            else if (data.ReqParlist[i + 1].nrm_input_type == 'FILE') {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"    /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }
                            else {
                                row = '<tr><td id="valuename1">' + data.ReqParlist[i].tpi_newrm_parm2 + '</td>'
                            + '<td id="Range1"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i].tpi_newrm_seqno + '_' + i + '"  /> </td>'
                            + '<td id="valuename3">' + data.ReqParlist[i + 1].tpi_newrm_parm2 + '</td>'
                             + '<td id="Range2"> <input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '" name="' + data.ReqParlist[i + 1].tpi_newrm_seqno + '_' + i + '"  /> </td></tr>';
                                $("#tablePartialinnerboxdoublenew").append(row);
                            }

                            i++;
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }

                });
                $('#innerboxdoublenew').modal('show');
            }
            else {
            }
        });
    $("#dp_innerbox_type").change(function () {
        var innerQuntity = $("#dp_innerbox_qty").val();
        var innerBoxMaterial = $("#dp_innerbox_type").val();

        if (innerBoxMaterial == "#innerboxtypenew") {
            $('#innerboxtypenew').modal('show');
        }
        else {
            $.ajax({
                url: '@Url.Action("getSetInnerBoxChartNums", "DispatchDetails")',
                data: { innerQuntity: innerQuntity, innerBoxMaterial: innerBoxMaterial },
                type: 'GET',
                dataType: "json",
                success: function (data) {

                    $("#dp_innerbox_chart").empty();
                    $('<option>',
                           {
                               value: "Select",
                               text: "Select"
                           }).html("Select").appendTo("#dp_innerbox_chart");
                    $('<option>',
                           {
                               value: "#innerboxSinglenew",
                               text: "New(Single)"
                           }).html("New(Single)").appendTo("#dp_innerbox_chart");
                    $('<option>',
                          {
                              value: "#innerboxdoublenew",
                              text: "New(Double)"
                          }).html("New(Double)").appendTo("#dp_innerbox_chart");
                    $.each(data, function (i, data) {

                        $('<option>',
                           {
                               value: data.ib_chartnum,
                               text: data.ib_chartnum
                           }).html(data.hm_chart_num).appendTo("#dp_innerbox_chart");
                    });
                }
            });
        }

    });

      $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_innerbox_type").val() != "Select") {
            var innerboxchart = $("#innerbox_chart").val();


            var innerBoxMaterial = $("#dp_innerbox_type").val();

            // var chart = $("#dp_innerbox_chart").val();
            if (innerBoxMaterial == "#innerboxtypenew") {
                $('#innerboxtypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getSetInnerBoxChartNums", "DispatchDetails")',
                    data: { innerBoxMaterial: innerBoxMaterial },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#dp_innerbox_chart").empty();
                        $('<option>',
                              {
                                  value: "Select",
                                  text: "Select"
                              }).html("Select").appendTo("#dp_innerbox_chart");
                        $('<option>',
                         {
                             value: "#innerboxSinglenew",
                             text: "New(Single)"
                         }).html("New(Single)").appendTo("#dp_innerbox_chart");
                        $('<option>',
                              {
                                  value: "#innerboxdoublenew",
                                  text: "New(Double)"
                              }).html("New(Double)").appendTo("#dp_innerbox_chart");
                        $.each(data, function (i, data) {
                            $('<option>',
                               {
                                   value: data.ib_chartnum,
                                   text: data.ib_chartnum
                               }).html(data.hm_chart_num).appendTo("#dp_innerbox_chart");

                                $("#dp_innerbox_chart").val(data.ib_chartnum).trigger('change.select2');

                        });
                    }
                });
            }

        }
    });

    function SubmitInnerBox(str) {
      
        var dp_innerbox_type = $("#dp_innerbox_type").val();
        var dp_innerbox_chart = $("#dp_innerbox_chart").val();
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("SaveSkuSetinnerbox", "DispatchDetails")',
            data: { dp_innerbox_type: dp_innerbox_type, dp_innerbox_chart: dp_innerbox_chart },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                location = data.url;
                $("#Lockup").css("display", "none");
            },
            error: function () {
                alert("No Records insert");
                $("#Lockup").css("display", "none");
            }
        });
    }

    function Viewinnerboxchart() {
         var TeamDetailPostBackURL = '@Url.Action("ViewSetInnerBoxDetails", "DispatchDetails")';
            var dp_innerbox_chart = $("#dp_innerbox_chart").val();
            var $buttonClicked = $(this);
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { InnerBoxChart: dp_innerbox_chart },
                datatype: "json",
                success: function (data) {

                    console.log(data);
                    $('#innerview').html(data);
                },
                error: function () {
                    console.log(JSON.stringify(error));
                }
            });
    }

</script>
<style>
    
</style>
<script>
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Inner Box'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Set Inner Box',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {

                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }
</script>