﻿@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "_SetInnerLabel";
}
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>

                <a href="@Url.Action(" ChangeNote", "ChangeNotes" )" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
                <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
            </div>
            <form action="@Url.Action("InnerLabel", "DispatchDetails" )" method="post">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                            <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                            <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="dispatch">
                        <h5>
                          
                        </h5><div style="clear:both"></div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Customer </label>
                                @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Brand </label>
                                @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="">Country </label>
                                @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div style="clear:both"></div>

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li>@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                                <li>@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                                <li class="active">@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                                <li class="">@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                                <li class="">@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                                <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                                <li class="">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>


                            </ul>
                            <div class="tab-content">
                                <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                                <div class="tab-pane active" id="innerlabel">
                                 
                                    <label> Inner Label Images </label>
                                    <div style="clear:both"></div>
                                    <a href="#" data-toggle="modal" data-target="#innerlabelimg" id="" onclick="Viewinnerlabel()" class="btn btn-primary">View Inner Label </a>

                                    <a href="#" data-toggle="modal" id="InnerLabelnewBtn" class="btn btn-primary">New InnerLabel</a>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div style=" clear:both;"></div>
                        <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                        <button type="button" class="btn jk-btn-app bg-blue" onclick="SubmitInnerLabel('We are processing...')"><i class="fa fa-save"></i>Save</button>
                    </div>
                  
                </div>
            </form>
    
        </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
        <div class="modal fade bd-example-modal-md" id="innerlabelimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
      
    </section>
    <div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCCCCC">
                            <tbody>
                                <tr>
                                    <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                    <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                    <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                </tr>
                            </tbody>
                            <tbody id="remarkdata"></tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade bd-example-modal-md" id="innerlabelNew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Add New INNER Label </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialinnerLabelnew"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="innerlableAdd" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


<script>
    $(document).ready(function () {
        SelectRemark();
        $(function () {
            $("#innerlableAdd").click(function () {
                
                var AllValue = [];
                var TrCount = $("#tablePartialinnerLabelnew tr").length;
                if (window.FormData !== undefined) {
                    var ajaxData = new FormData();
                    ajaxData.append('UploadinnerlabelFiles', 'DispatchDetails');
                    $.each($("#tablePartialinnerLabelnew tr td input[type=file]"), function (i, obj) {
                        $.each(obj.files, function (j, file) {
                            ajaxData.append('photo[' + j + ']', file);
                        })
                    });
                    $.ajax({
                        url: '@Url.Action("SetUploadinnerlabelFiles", "DispatchDetails")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: ajaxData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                           // alert(err.statusText);
                        }
                    });
                }

                for (var i = 0; i < TrCount - 1; i++) {
                    if (i < 1) {
                        AllValue.push({
                            ilbd_chart_num: $('#0').val()
                        })
                    }
                    else {
                        AllValue.push({
                            ilbd_parm_name: $("#tablePartialinnerLabelnew tr td#valuename1").eq(i).text(),
                            ilbd_parm_scrnvalue: $("#tablePartialinnerLabelnew tr #Range1 #" + i + "").val().replace(/C:\\fakepath\\/i, '')
                        });
                    }
                }
                if ($("#tablePartialinnerLabelnew tr #Range1 #19").val() != 'undefined') {
                    if ($("#tablePartialinnerLabelnew tr #Range1 #19").val() == '') {
                        alert('Please Enter Remark!');
                    }
                    else {
                        var postData = AllValue;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SetInnerLabelDetailsEntityList", "DispatchDetails")',
                            data: JSON.stringify(postData),
                            dataType: "json",
                            contentType: 'application/json;',
                            success: function (data) {
                                location = data.url;
                            },
                        });
                    }
                }
                else {
                    var postData = AllValue;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SetInnerLabelDetailsEntityList", "DispatchDetails")',
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: 'application/json;',
                        success: function (data) {
                            location = data.url;
                        },
                    });
                }
                });
        });

        $("#InnerLabelnewBtn").click(function () {
            
            $("#tablePartialinnerLabelnew").empty();
            var row = "";
            $.ajax({
                url: '@Url.Action("SetinnerlableMasterAdd", "DispatchDetails")',
                data: {},
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Value</th></tr>';
                    $("#tablePartialinnerLabelnew").append(row);
                    for (var i = 0; i < data.ReqParlist.length; i++) {
                        if (data.ReqParlist[i].nrm_input_type == 'FILE') {
                            row = '<tr><td id="valuename1">' + data.ReqParlist[i].nrm_parameter + '</td>'
                        + '<td id="Range1" colspan="2"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].nrm_seqno + '" name="' + data.ReqParlist[i].nrm_seqno + '"   /> </td></tr>';
                            $("#tablePartialinnerLabelnew").append(row);
                        }

                        else {
                            row = '<tr><td id="valuename1">' + data.ReqParlist[i].nrm_parameter + '</td>'
                        + '<td id="Range1" colspan="2"> <input type="' + data.ReqParlist[i].nrm_input_type + '" class="form-control" id="' + data.ReqParlist[i].nrm_seqno + '" name="' + data.ReqParlist[i].nrm_seqno + '"  /> </td></tr>';
                            $("#tablePartialinnerLabelnew").append(row);
                        }


                    }
                },
                error: function () {
                    alert("No Records Found");
                }
            });
            $('#innerlabelNew').modal('show');

        });


    });

    function SubmitInnerLabel(str) {
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
        $.ajax({
            url: '@Url.Action("SetInnerLabel", "DispatchDetails")',
            data: {},
            type: 'POST',
            dataType: "json",
            success: function (data) {
                location = data.url;
                $("#Lockup").css("display", "none");
            },
            error: function () {
                alert("No Records insert");
                $("#Lockup").css("display", "none");
            }
        });
    }


    function Viewinnerlabel() {
        $("#Item_Menu").css("color", "#f39c12");
        var TeamDetailPostBackURL = '@Url.Action("SetInnerLabelDetails", "DispatchDetails")';
                var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#innerlabelimg').html(data);
                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
    }

    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Inner Label'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Inner Label',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }
</script>