﻿

@model JKFiles.WebApp.Models.DispatchSKU

@{
    Layout = null;
    int n = 1;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Label Layout for Dispatch</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="height:450px; overflow-y:scroll;">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <th width="271">Cust. Name </th>
                            <td width="128">@Model.CustomerName</td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>@Model.BrandName</td>
                        </tr>
                        @*<tr>
                                <th>Item Code</th>
                                <td>06&quot;, Mill Blunt , Bast</td>
                            </tr>*@
                        <tr>
                            <th>Quality Seal</th>
                            <td>@Model.temp_qltyseal_flg</td>
                        </tr>
                        <tr>
                            <th>Barcode </th>
                            <td>@Model.temp_barcode_flg</td>
                        </tr>
                        <tr>
                            <th>Line No</th>
                            <td>@Model.temp_lineno_flg</td>
                        </tr>
                        <tr>
                            <th>Hologram</th>
                            <td>@Model.temp_hologram_flg</td>
                        </tr>
                        <tr>
                            <th>Prize Sticker /Spe. Sticker</th>
                            <td>@Model.temp_prcstkr_flg</td>
                        </tr>
                        <tr>
                            <th>Make in India</th>
                            <td>@Model.temp_india_flg</td>
                        </tr>
                        <tr>
                            <th>Polythene Bag</th>
                            <td>@Model.temp_polybag_flg</td>
                        </tr>
                        <tr>
                            <th>Silica Gel</th>
                            <td>@Model.temp_silicagel_flg</td>
                        </tr>
                        <tr>
                            <th>Fumigation</th>
                            <td>@Model.temp_fumigation_flg</td>
                        </tr>
                        <tr>
                            <th>Pramotional Item</th>
                            <td>@Model.temp_promotionalitem_flg</td>
                        </tr>
                        <tr>
                            <th>Strap</th>
                            <td>@Model.temp_strap</td>
                        </tr>
                        <tr>
                            <th>Cello Tape</th>
                            <td>@Model.temp_cellotape_flg</td>
                        </tr>
                        <tr>
                            <th>Shrink Wrap</th>
                            <td>@Model.temp_shrinkwrap_flg</td>
                        </tr>
                        <tr>
                            <th>Decicant</th>
                            <td>@Model.temp_decicant_flg</td>
                        </tr>
                        <tr>
                            <th>Paperwool</th>
                            <td>@Model.temp_paperwool_flg</td>
                        </tr>
                       
                        @foreach (var i in Model.innerLabelDetilasList)
                        {
                            <tr>
                                <th width="20%">@i.ilbd_parm_name</th>
                                <td><img src="~/ProjectImages/InnerLabel/@i.ilbd_parm_scrnvalue" alt="" class="img-responsive" /></td>
                            </tr>
                        }
                        @if (Model.HandleDetailsEntityList.Count != 0)
                        {
                            <tr>
                                <th width="20%">Handle</th>
                                <td><img src="~/ProjectImages/Handle/@Model.HandleDetailsEntityList[0].hm_chartimg_name" class="img-responsive" /></td>
                            </tr>

                        }
                        else
                        {

                        }
                        @if (Model.innerboxlist.Count != 0)
                        {
                            <tr>
                                <th width="20%">Inner Box</th>
                                <td><img src="~/ProjectImages/InnerBox/@Model.innerboxlist[0].ib_chartimg" class="img-responsive" /></td>
                            </tr>

                        }
                        else
                        {

                        }
                        @if (Model.OterChartList.Count != 0)
                        {
                            <tr>
                                <th width="20%">Outer</th>
                                <td><img src="~/ProjectImages/Outer/@Model.OterChartList[0].ob_box_imgname" class="img-responsive" /></td>
                            </tr>

                        }
                        else
                        {

                        }
                        @if (Model.PalletList.Count != 0)
                        {
                            <tr>
                                <th width="20%">Pallet</th>
                                <td><img src="~/ProjectImages/Pallet/@Model.PalletList[0].pm_pallet_chartimg" class="img-responsive" /></td>
                            </tr>

                        }
                        else
                        {

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>