﻿@model JKFiles.WebApp.Models.DispatchSKU
@{
    ViewBag.Title = "_SetWrapperTab";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>

            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("WrapperTab", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "CreateNewReqSet", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "ManageSubmission", "DispatchDetails")</li>
                    </ul>
                </div>

                <div class="tab-pane" id="dispatch">
                    <h5></h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">@Html.ActionLink("Wrapping", "getSetWrapperTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>
                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->


                            <div class="tab-pane active" id="wrapping">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Wrapping Type </label>

                                        @Html.DropDownListFor(model => model.dp_wrapping_type, new SelectList(Model.packingMasterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                        @Html.HiddenFor(m => m.dp_wrapping_type)
                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="">Wrapping chart No </label>
                                        @Html.DropDownListFor(model => model.dp_wrapping_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @id = "dp_wrapping_chart", @style = "width: 100%;" })

                                        @Html.HiddenFor(m => m.dp_wrapping_chart)

                                    </div><!-- /.form-group -->
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-md-2">
                                    <br>
                                    <a href="" data-toggle="modal" id="btnViewWrappers" data-target="#wrapperview" class="btn btn-primary ">View Wrapping Chart </a>
                                </div>
                                <div style="clear:both"></div>

                            </div>
                        </div><!-- /.tab-content -->
                    </div>

                    <br>
                    <br>


                    <div style="clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>
                </div>
               
        </form>
        
    </div>

    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
   
    <div class="modal fade bd-example-modal-lg" id="wrapperview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>

</section>
