﻿@model JKFiles.WebApp.Models.InnerBoxDetilsModel
@{
    Layout = null;
}

@*<div class="modal fade bd-example-modal-lg" id="innerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">*@
<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="innerview">Inner Packing </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (Model.innerboxlist.Count != 0)
            {
                <img src="~/ProjectImages/InnerBox/@Model.innerboxlist[0].ib_chartimg" class="img-responsive">
            }
            else
            {

            }

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="206" style="width: 10px">Parameter Name</th>
                            <th width="119">Parameter Value</th>
                            @*<th style="width: 10px">Parameter Name</th>
                        <th width="307">Parameter Value</th>*@
                        </tr>


                        @foreach (var item in Model.InnerBoxDetailsEntityList)
                        {


                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>@item.ibd_pkg_parm_name</p></td>
                                <td>@item.ibd_pkg_parm_scrnvalue</td>


                            </tr>


                        }

                    </tbody>
                </table>
            </div>










            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    @*</div>*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
  

</script>