﻿@model JKFiles.WebApp.Models.DispatchSKU
@{
    ViewBag.Title = "DispatchIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form action="@Url.Action("DispatchIndex", "DispatchDetails")" method="post">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>
                <div class="tab-pane" id="dispatch">
                    <h5>
                        @*Request No:*@
                        @*@Html.DisplayFor(m => m.ReqNo)*@
                    </h5><div style="clear:both"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div><!-- /.form-group -->
                        <!-- /.form-group -->
                    </div><!-- /.col -->
                    <div style="clear:both"></div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">@Html.ActionLink("Handle", "getHandelTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Wrapping", "getWrapperTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Box", "getInnerBoxTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Label", "getInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "LabelLayOut", "DispatchDetails")</li>
                        </ul>
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            <div class="tab-pane active " id="Handle">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Handle Presence </label>
                                            @Html.DropDownListFor(model => model.dp_handle_presence, new SelectList(Model.handlePresenceList, "hp_presence_desc", "hp_presence_desc"), "Select", new { @class = "form-control select2", @style = "width: 100%;" })
                                            @Html.HiddenFor(m => m.dp_handle_presence)
                                            @Html.ValidationMessageFor(m => m.dp_handle_presence, null, new { @class = "text-danger" })
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Handle Type </label>
                                            @Html.DropDownListFor(model => model.dp_handle_type, new SelectList(Model.handleMasterList, "hm_handle_type", "hm_handle_type"), "Select", new { @class = "form-control select2", @style = "width: 100%;" })
                                            @Html.HiddenFor(m => m.dp_handle_type)
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div><!-- /.col -->
                                    @*<div class="col-md-2">
                                            <div class="form-group">
                                                <label> Handle Sub Type  </label>

                                                @Html.DropDownListFor(model => model.dp_handle_subtype, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })
                                                @Html.HiddenFor(m => m.dp_handle_subtype)
                                            </div><!-- /.form-group -->
                                            <!-- /.form-group -->
                                        </div>*@
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label> Handle Drawing No  </label>
                                            @Html.DropDownListFor(model => model.dp_handle_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @style = "width: 100%;" })
                                            @Html.HiddenFor(m => m.dp_handle_chart)
                                            @Html.HiddenFor(m => m.handle_chart)
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-2">
                                        <br>
                                        @*<a href="#" data-toggle="modal" data-target="#handleview" class="btn btn-primary ">View Handle Drawing</a>*@
                                        <a href="#" data-toggle="modal" id="btnViewHandleDrawing" data-target="#handleview" class="btn btn-primary ">View Handle Drawing</a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div>
                    <br>
                    <br>
                    <div style=" clear:both;"></div>
                    <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                    @* <a  type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
                    <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                </div>
              
            </div>
        </form>
       
        <!--  By Swapnil   -->
      
        <!--  By Swapnil    -->
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    <div class="modal fade bd-example-modal-lg" id="handleview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

    </div>
    <div class="modal fade bd-example-modal-md" id="handleinsertview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Handle </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<img src="dist/img/WH-24.jpg" class="img-responsive">*@
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="206" style="width: 10px">Parameter Name</th>
                                    <th width="119">Parameter Value</th>
                                    <th style="width: 10px">Parameter Name</th>
                                    <th width="307">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Size</p></td>
                                    <td>08</td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>Flat</td>
                                </tr>
                                <tr>
                                    <td width="206" nowrap="nowrap" valign="bottom">File Sub Type</td>
                                    <td width="119">Regular</td>
                                    <td width="165" nowrap="nowrap" valign="bottom">&nbsp;</td>
                                    <td width="307">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="206" valign="bottom" nowrap="nowrap"><p>Width</p></td>
                                    <td width="119">8.5</td>
                                    <td width="165" valign="bottom" nowrap="nowrap"><p>Height</p></td>
                                    <td width="307">8.5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade bd-example-modal-md" id="handle_chartnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div id="divPartialViewhandle">
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#handle_subtype";
        var select = document.getElementById("dp_handle_chart");
        select.insertBefore(optionfsize, select.childNodes[1]);

        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#handle_subtype";
        var select = document.getElementById("dp_handle_type");
        select.insertBefore(optionfsize, select.childNodes[1]);

        SelectRemark();

        $("#dp_handle_chart").change(function () {
            if ($(this).val() == "#handle_subtype") {
                $('#handle_chartnew').modal('show');
            }
        });
        $.ajax({
            url: '@Url.Action("checkhandle", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {

                    $("#dp_handle_chart").val('#handle_subtype').trigger('change.select2');
                    $("#dp_handle_chart").prop("disabled", true);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_handle_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkhandletype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#dp_handle_type").val('#handle_subtype').trigger('change.select2');
                    //$("#dp_handle_type").prop("disabled", true);
                }
                else if (data == 'Ok')
                {
                  
                    //$("#dp_handle_type").prop("disabled", false);
                }
                else {
                    $("#dp_handle_type").val(data.pkng_material).trigger('change.select2');
                    //$("#dp_handle_type").prop("disabled", true);
                }
            }
        });
        $(function () {
            $("#HandleSubtypeAdd").click(function () {

                var masterModule = getHandlechart();
                //   Swapnil validation
                if (masterModule == null) {
                    alert("Please Enter All Field!");
                    return;
                }
                $.post("@Url.Action("HandleSubtypeAdd", "DispatchDetails")", masterModule, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });
            });
        });
        function getHandlechart() {

            hm_handlesub_type = $('#0').val();
            hm_handle_type = $('#dp_handle_type').val();
            tempChartNum = $('#1').val();
            hm_chartimg_name = $('#2').val().replace(/C:\\fakepath\\/i, '');
            A = $('#3').val();
            B = $('#4').val();
            C = $('#5').val();
            D = $('#6').val();
            E = $('#7').val();
            F = $('#8').val();
            G = $('#9').val();
            H = $('#10').val();
            L = $('#11').val();
            FINISH = $('#12').val();
            Dummy1 = $('#13').val();
            Dummy2 = $('#14').val();
            Dummy3 = $('#15').val();
            Dummy4 = $('#16').val();
            Arange = $('input[name=3]').val();
            Brange = $('input[name=4]').val();
            Crange = $('input[name=5]').val();
            Drange = $('input[name=6]').val();
            Erange = $('input[name=7]').val();
            Frange = $('input[name=8]').val();
            Grange = $('input[name=9]').val();
            Hrange = $('input[name=10]').val();
            Lrange = $('input[name=11]').val();

            tempChartNumlbl = $('#INPUT1').text();
            hm_chartimg_namelbl = $('#FILE2').text();
            Albl = $('#INPUT3').text();
            Blbl = $('#INPUT4').text();
            Clbl = $('#INPUT5').text();
            Dlbl = $('#INPUT6').text();
            Elbl = $('#INPUT7').text();
            Flbl = $('#INPUT8').text();
            Glbl = $('#INPUT9').text();
            Hlbl = $('#INPUT10').text();
            Llbl = $('#INPUT11').text();
            FINISHlbl = $('#INPUT12').text();
            Dummy1lbl = $('#INPUT13').text();
            Dummy2lbl = $('#INPUT14').text();
            Dummy3lbl = $('#INPUT15').text();
            Dummy4lbl = $('#INPUT16').text();
            return (hm_handle_type == "") ? null : {
                hm_handle_type: hm_handle_type,
                tempChartNum: tempChartNum,
                hm_chartimg_name: hm_chartimg_name,
                A: A,
                B: B,
                C: C,
                D: D,
                E: E,
                F: F,
                G: G,
                H: H,
                L: L,
                FINISH: FINISH,
                Dummy1: Dummy1,
                Dummy2: Dummy2,
                Dummy3: Dummy3,
                Dummy4: Dummy4,
                Arange: Arange,
                Brange: Brange,
                Crange: Crange,
                Drange: Drange,
                Erange: Erange,
                Frange: Frange,
                Grange: Grange,
                Hrange: Hrange,
                Lrange: Lrange,
                tempChartNumlbl: tempChartNumlbl,
                hm_chartimg_namelbl: hm_chartimg_namelbl,
                Albl: Albl,
                Blbl: Blbl,
                Clbl: Clbl,
                Dlbl: Dlbl,
                Elbl: Elbl,
                Flbl: Flbl,
                Glbl: Glbl,
                Hlbl: Hlbl,
                Llbl: Llbl,
                FINISHlbl: FINISHlbl,
                Dummy1lbl: Dummy1lbl,
                Dummy2lbl: Dummy2lbl,
                Dummy3lbl: Dummy3lbl,
                Dummy4lbl: Dummy4lbl,
                hm_handlesub_type: hm_handlesub_type,
            };

        }

        $("#dp_handle_presence").change(function () {
            //alert("changed");
            if ($('#dp_handle_presence').val() == "WITHOUT HANDLE") {
                $("#dp_handle_type").val('').trigger('change.select2');
                $("#dp_handle_chart").val('').trigger('change.select2');
                $("#dp_handle_type").prop("disabled", true);
                $("#dp_handle_chart").prop("disabled", true);
                $("#dp_handle_subtype").prop("disabled", true);
                $("#btnViewHandleDrawing").attr("disabled", true);
                // alert("text is same");
            } else {
                $("#dp_handle_type").prop("disabled", false);
                $("#dp_handle_chart").empty();
                $("#dp_handle_chart").val('Select').trigger('change.select2');
                $("#dp_handle_chart").prop("disabled", false);
                $("#dp_handle_subtype").prop("disabled", false);
                $("#btnViewHandleDrawing").attr("disabled", false);
            }
        });
        //if ($("#dp_handle_presence").val() != "Select") {
        //    //alert("changed");
        //    if ($('#dp_handle_presence').val() == "WITHOUT HANDLE") {
        //        $("#dp_handle_type").val('').trigger('change.select2');
        //        $("#dp_handle_chart").val('Select').trigger('change.select2');
        //        $("#dp_handle_type").prop("disabled", true);
        //        $("#dp_handle_chart").prop("disabled", true);
        //        $("#dp_handle_subtype").prop("disabled", true);
        //        $("#btnViewHandleDrawing").attr("disabled", true);
        //        // alert("text is same");
        //    } else {
        //        $("#dp_handle_type").prop("disabled", false);
        //        $("#dp_handle_chart").empty();
        //        $("#dp_handle_chart").val('Select').trigger('change.select2');
        //        $("#dp_handle_chart").prop("disabled", false);
        //        $("#dp_handle_subtype").prop("disabled", false);
        //        $("#btnViewHandleDrawing").attr("disabled", false);
        //    }

        //}

        $("#dp_handle_type").change(function () {
            var handleType = $("#dp_handle_type").val();
            debugger
            $.ajax({
                url: '@Url.Action("getHandlesChartNums", "DispatchDetails")',
                data: { handleType: handleType },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#dp_handle_chart").empty();
                    $("#dp_handle_chart").val('Select').trigger('change.select2')
                    $('<option>',
                          {
                              value: "Select",
                              text: "Select"
                          }).html("Select").appendTo("#dp_handle_chart");
                    $('<option>',
                      {
                          value: "#handle_subtype",
                          text: "New"
                      }).html("New").appendTo("#dp_handle_chart");
                    $.each(data, function (i, data) {      // bind the dropdown list using json result
                        $('<option>',
                           {
                               value: data.hm_chart_num,
                               text: data.hm_chart_num
                           }).html(data.hm_chart_num).appendTo("#dp_handle_chart");
                    });
                }
            });
            $.ajax({
                url: '@Url.Action("gethandleParmMasterDetails", "DispatchDetails")',
                data: { selectedhandle_type: handleType },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialViewhandle").html(data); //replace the current table
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });
        var TeamDetailPostBackURL = '@Url.Action("ViewHandleDrawing", "DispatchDetails")';
        $(function () {
            $("#btnViewHandleDrawing").click(function () {

                var ViewHandleDrawing = $("#dp_handle_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    data: { handleType: ViewHandleDrawing },
                    contentType: "application/json; charset=utf-8",
                    // data: { "Id": id },
                    datatype: "json",
                    success: function (data) {

                        console.log(data);
                        $('#handleview').html(data);
                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });




        debugger;
        
        if ($('#dp_handle_presence').val() == "WITHOUT HANDLE") {
            $("#dp_handle_type").val('').trigger('change.select2');
            $("#dp_handle_chart").val('Select').trigger('change.select2');
            $("#dp_handle_type").prop("disabled", true);
            $("#dp_handle_chart").prop("disabled", true);
            $("#btnViewHandleDrawing").attr("disabled", true);
            // alert("text is same");
        } else {
            $("#dp_handle_type").prop("disabled", false);
            $("#dp_handle_chart").empty();
            $("#dp_handle_chart").val('Select').trigger('change.select2');
            $("#dp_handle_chart").prop("disabled", false);
            $("#btnViewHandleDrawing").attr("disabled", false);

            var handleType = $("#dp_handle_type").val();
            var handlechart = $("#handle_chart").val();
            debugger
            $.ajax({
                url: '@Url.Action("getHandlesChartNums", "DispatchDetails")',
                data: { handleType: handleType },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#dp_handle_chart").empty();
                    $('<option>',
                          {
                              value: "Select",
                              text: "Select"
                          }).html("Select").appendTo("#dp_handle_chart");
                    $('<option>',
                      {
                          value: "#handle_subtype",
                          text: "New"
                      }).html("New").appendTo("#dp_handle_chart");
                    $.each(data, function (i, data) {      // bind the dropdown list using json result
                        $('<option>',
                           {
                               value: data.hm_chart_num,
                               text: data.hm_chart_num
                           }).html(data.hm_chart_num).appendTo("#dp_handle_chart");
                        if (handlechart == data.hm_chart_num) {
                            //alert("yes")
                            $("#dp_handle_chart").val(data.hm_chart_num).trigger('change.select2');
                        }
                    });
                }
            });

        }

    });
    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                //data: { requestId: requestId },
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Handle'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                //'prm_remarks': prm_remarks,
                'prm_remark_tab': 'Handle',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });

    }
</script>
