﻿
@*@using (Html.BeginForm("innerlableUpload", "DispatchDetails", FormMethod.Post,
                                              new { enctype = "multipart/form-data" }))
{*@
    <form action="@Url.Action("innerlableUpload", "DispatchDetails")" method="post" enctype="multipart/form-data" id="form1">
        <div class="modal-header">
            <h5 class="modal-title" id="filenew">Add New InnerLabel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100">Parameter Name</th>
                            <th width="144">Parameter Value</th>

                        </tr>

                        @foreach (var list in Model.ReqParlist)
                        {
                            <tr>
                                <td> @list.nrm_parameter</td>
                                @if (@list.nrm_input_type == "FILE")
                                {
                                    <td><input type="file" class="form-control requireddata" id="@list.nrm_input_type@list.nrm_seqno" name="@list.nrm_input_type@list.nrm_seqno" maxlength="@list.nrm_max_length" /></td>
                                }
                                else
                                {
                                    if (@list.nrm_input_type == "number")
                                    {
                                        <td><input type="@list.nrm_input_type" class="form-control requireddata" id="@list.nrm_seqno" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==@list.nrm_max_length) return false;" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="@list.nrm_input_type" class="form-control requireddata" id="@list.nrm_seqno" maxlength="@list.nrm_max_length" /></td>
                                    }
                                }


                            </tr>
                        }


                    </tbody>
                </table>
                <div><span id="resultMessage"></span></div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="innerlableAdd" onclick="validate(this)" value="upload" class="btn btn-primary">Ok</button>
        </div>
    </form>
