﻿@model JKFiles.WebApp.Models.PartNumOtherDetailsModel

@{
    ViewBag.Title = "ManageSubmission";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<style>
    #rdno {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 18px;
        height: 18px;
        background: url(blue.png) no-repeat;
        border: none;
        cursor: pointer;
    }

    #rdyes {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 18px;
        height: 18px;
        background: url(blue.png) no-repeat;
        border: none;
        cursor: pointer;
    }

</style>


<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes" )" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
    </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Customer Details", "CreateNewReqSet", "CustomerDetails")</li>
                    <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                    <li class="">@Html.ActionLink("Dispatch Details", "getSetWrapperTabDetails", "DispatchDetails")</li>
                    <li class="active">@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                </ul>
                <div class="tab-content " id="customerDetailsTab">
                    <form action="@Url.Action("SetSubmissionDetails","DispatchDetails")" method="post">
                        <div class="tab-pane active" id="cost">
                            <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly", @placeholder = "dd/mm/yyyy" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly", @placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div><!-- /.col -->
                            <div style="clear:both"></div>
                            <div class="col-md-2">Production</div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class=""> One Time Cost </label>
                                    @Html.TextBoxFor(m => m.othdt_prod_cost_onetm, new { @class = "form-control", @placeholder = "One Time", @required = "required" })
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class=""> Running Cost </label>
                                    @Html.TextBoxFor(m => m.othdt_prod_cost_run, new { @class = "form-control", @placeholder = "Running Cost", @required = "required" })
                                </div><!-- /.form-group -->
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-md-2">Dispatch</div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class=""> One Time cost </label>
                                    @Html.TextBoxFor(m => m.othdt_dispatch_onetm, new { @class = "form-control", @placeholder = "One Time", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class=""> Running Cost </label>
                                    @Html.TextBoxFor(m => m.othdt_dispatch_run, new { @class = "form-control", @placeholder = "Running Cost", @required = "required" })
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-md-2">Dates for New SKU </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Requested Start Date</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                   
                                      
                                        @*<input type="date" class="form-control" id="othdt_req_startdt1" name="othdt_req_startdt1" datatype="date">*@
                                  
                                        @Html.TextBoxFor(m => m.othdt_req_startdt, new { @class = "form-control datepicker", @required = "required" })
                                        @Html.HiddenFor(m => m.othdt_req_startdt)
                                    </div><!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Requested End Date</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                     @Html.TextBoxFor(m => m.othdt_req_enddt, new { @class = "form-control datepicker", @required = "required" })
                                    @Html.HiddenFor(m => m.othdt_req_enddt)
                                        @*<input type="date" class="form-control" id="othdt_req_enddt1" name="othdt_req_enddt1">*@
                                    </div>
                                </div>
                            </div>

                            @if (Session["requestype"] != null && Session["requestype"].ToString() == "A")
                            {
                                <div class="col-md-12"><h4> Do You Want to stop using Current SKU (and start using new SKU)? </h4></div>
                                <div style="clear:both"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" id="rdyes" name="selectradio" value="YES" checked="checked" />
                                            YES
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" id="rdno" name="selectradio" value="NO" />
                                            NO
                                        </label>
                                    </div>
                                </div>
                                <div style="clear:both"></div>

                                <div class="col-md-2"></div>

                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Requested Stop Date for Current SKU </label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.othdt_req_enddt_current_sku, new { id = "requst", @class = "form-control" })
                                            @Html.HiddenFor(m => m.othdt_req_enddt_current_sku)
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            }
                            <br>
                            <br>
                            <br>
                            <br>
                            <div style="clear:both;"></div>
                            <h5><strong>Note:</strong> Start Date and End Date for SET should be between the dates mentioned above</h5>
                            <a class="btn jk-btn-app"><i class="fa fa-close"></i>Cancel</a>
                            <button type="submit" class="btn jk-btn-app bg-blue" name="actionType" value="Save"><i class="fa fa-save"></i>Save</button>
                            @if (Session["requestype"] != null && Session["requestype"].ToString() == "A")
                            {
                                <a class="btn jk-btn-app bg-green" data-toggle="modal" data-target="#amendpass" id="clonesubmit"><i class="fa fa-paper-plane"></i> Submit</a>
                            }
                            else
                            {
                                <a class="btn jk-btn-app bg-green" data-toggle="modal" data-target="#confirmsubmit" id="confirm"><i class="fa fa-paper-plane"></i>Submit</a>
                            }
                            </div>
                    </form>

                </div>
               
            </div>
           
            </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
</section>

<div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                            </tr>
                        </tbody>
                        <tbody id="remarkdata"></tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="confirmsubmit" aria-labelledby="mySmallModalLabel" aria-hidden="true">

</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="amendpass" aria-labelledby="mySmallModalLabel" aria-hidden="true">

</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        SelectRemark();
        $("#Item_Menu").css("color", "#f39c12");

        $('input:radio[name="selectradio"]').change(function () {
            if (this.checked && this.value == 'YES') {
                $("#requst").val("");
                $("#requst").prop("disabled", false);
                // note that, as per comments, the 'changed'
                // <input> will *always* be checked, as the change
                // event only fires on checking an <input>, not
                // on un-checking it.
                // append goes here
            }
            else {
                $("#requst").val("01/01/1900");
                $("#requst").prop("disabled", true);

            }
        });


        $(function () {
            
            $("#clonesubmit").click(function () {
                
                //var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("OverwriteExisting","DispatchDetails")',
                    contentType: "application/json; charset=utf-8",
                    // data: { pallet_chart: pallet_chart },
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#amendpass').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#amendpass').modal('hide');
            });
        });



        $(function () {
            
            $("#confirm").click(function () {
                
                //var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                // var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Confirm","DispatchDetails")',
                    contentType: "application/json; charset=utf-8",
                    // data: { pallet_chart: pallet_chart },
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#confirmsubmit').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#confirmsubmit').modal('hide');
            });
        });





        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();

            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            );

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    });
</script>

<script>
    var speed = 300;
        $('#close-bar').on('click', function(){

            var $$ = $(this),
                panelWidth = $('#hiddenPanel').outerWidth();

            if( $$.is('.myButton') ){
                $('#hiddenPanel').animate({right:0}, speed);
                $$.removeClass('myButton')
            } else {
                $('#hiddenPanel').animate({right:-panelWidth}, speed);
                $$.addClass('myButton')
            }

        });


   




        function SubmitRemark() {
            $("#loader").css("display", "block");
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Submission'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                    $("#loader").css("display", "none");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }

    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Submission',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }


</script>

<script>
    $(document).ready(function () {
        var maxDate = '@ViewBag.EndMaxDate';
        var minDate = '@ViewBag.StartMaxDate';

        //$('#othdt_req_startdt').attr('min', minDate);
        //$('#othdt_req_enddt').attr('max', maxDate);
        $('#othdt_req_startdt').datepicker({
            format: 'yyyy-M-dd',
            startDate: minDate,
            autoclose: true
        });

        $('#othdt_req_enddt').datepicker({
            format: 'yyyy-M-dd',
            endDate: maxDate,
            autoclose: true
        });
    });
</script>