﻿@model JKFiles.WebApp.Models.DispatchSKU
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "ManageNewSetDispatch";
}
<style type="text/css">
    .LockOff {
        display: none;
        visibility: hidden;
    }

    .LockOn {
        display: block;
        visibility: visible;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 150%;
        height: 150%;
        background-color: #ccc;
        text-align: center;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="Lockup" class="LockOff" style="font-size:60px;z-index:10000;margin-left:-335px;"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}
            </h3>
            <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
            <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
        </div>
        <form>
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>@Html.ActionLink("Customer Details", "getSetCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("SKU Selection", "getSKUSelection", "SKUSelection")</li>
                        <li class="active">@Html.ActionLink("Dispatch Details", "ManageNewSetDispatch", "DispatchDetails")</li>
                        <li>@Html.ActionLink("Submissions", "getSetOtherDetailsTab", "DispatchDetails")</li>
                    </ul>
                </div>
                <div class="tab-pane" id="dispatch">
                    <h5></h5><div style="clear:both"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Customer </label>
                            @Html.TextBox("txtCustName", Session["Customer"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Brand </label>
                            @Html.TextBox("txtBrandName", Session["Brand"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" class="">Country </label>
                            @Html.TextBox("txtCountry", Session["Country"], new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">@Html.ActionLink("Wrapping", "ManageNewSetDispatch", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Box", "getSetInnerBoxTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Inner Label", "getSetInnerLabelTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Outer", "getSetOuterTabDetails", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Pallet", "getSetPalletTabDetails", "DispatchDetails")</li>
                            <li>@Html.ActionLink("Packing Details", "getSetPackingDetailsTab", "DispatchDetails")</li>
                            <li class="">@Html.ActionLink("Label Layout", "SetLabelLayOut", "DispatchDetails")</li>

                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane active" id="wrapping">
                                <div class="col-md-6">
                                    <img src="~/Content/Images/loader.gif" id="loader" style="display:none;margin:0 auto" />
                                    <div class=" table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr valign="middle">
                                                    <th width="220"><div align="center"></div></th>
                                                    <th width="220">
                                                        <div align="center">
                                                            <p>Individual </p>
                                                        </div>
                                                    </th>
                                                    <th width="220"><div align="center">Set</div></th>
                                                </tr>
                                                <tr>
                                                    <td><div align="center">   <input type="radio" name="rc1" id="r1" class=""></div></td>
                                                    <td><div align="center">Yes</div></td>
                                                    <td><div align="center">Yes</div></td>
                                                </tr>
                                                <tr>
                                                    <td><div align="center">   <input type="radio" name="rc1" id="r2" class=""></div></td>
                                                    <td><div align="center">No</div></td>
                                                    <td><div align="center">Yes</div></td>
                                                </tr>
                                                <tr>
                                                    <td><div align="center">   <input type="radio" name="rc1" id="r3" class=""></div></td>
                                                    <td><div align="center">Yes</div></td>
                                                    <td><div align="center">No</div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <div id="YesNoradio">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping Type </label>

                                            @Html.DropDownListFor(model => model.dp_wrapping_type, new SelectList(Model.packingMasterialList, "pkng_material", "pkng_material"), "Select", new { @class = "form-control select2" })
                                            @Html.HiddenFor(m => m.dp_wrapping_type)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping chart No  </label>


                                            @Html.DropDownListFor(model => model.dp_wrapping_chart, new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "Select" } }, new { @class = "form-control select2", @id = "dp_wrapping_chart", @style = "width: 100%;" })

                                            @Html.HiddenFor(m => m.dp_wrapping_chart)
                                            @Html.HiddenFor(m => m.wrapping_chart)
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <br>
                                        <a href="" data-toggle="modal" id="" onclick="WrapperPopup()" data-target="#wrapperview" class="btn btn-primary ">View Wrapping Chart </a>
                                    </div>
                                </div>

                                <div class="tab-pane active" id="wrappingView">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping Type </label>
                                            <select name="select" class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">@Html.DisplayFor(m => m.dp_wrapping_type)</option>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="">Wrapping chart No </label>
                                            <select class="form-control select2" style="width: 100%;" disabled>
                                                <option selected="selected">@Html.DisplayFor(m => m.dp_wrapping_chart)</option>


                                            </select>
                                        </div><!-- /.form-group -->
                                        <!-- /.form-group -->
                                    </div>
                                    <div class="col-md-2">
                                        <br>

                                        <a href="#" data-toggle="modal" data-target="#wrapperpopup" class="btn btn-primary ">View Wrapping Chart</a>
                                    </div>

                                    <div style="clear:both"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style=" clear:both;"></div>
                    <div id="wrpbtnsave">
                        <a class="btn jk-btn-app CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                        <button type="button" class="btn jk-btn-app bg-blue" onclick="SubmitWrapper('We are processing...')"><i class="fa fa-save"></i>Save</button>
                    </div>
                </div>
              
            </div>
        </form>
       
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
        <h4>New Entries Under these Fields</h4>
        @Html.Action("NewReqList", "CustomerDetails")
    </div>
    
    <div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table width="100%" border="1" bordercolor="#CCCCCC">
                            <tbody>
                                <tr>
                                    <td width="100" height="30" bgcolor="#e8e8e8" class=" text-black"><div align="center">Date</div></td>
                                    <td width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark for</div></td>
                                    <td width="200" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
                                </tr>
                            </tbody>
                            <tbody id="remarkdata"></tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="form-group">
                        <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
                </div>
            </div>
        </div>
    </div>


</section>


<div class="modal fade bd-example-modal-lg" id="wrapperview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>

    

<div class="modal fade bd-example-modal-md" id="wrappernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            @Html.Action("_wrappingchartMasterAdd", "DispatchDetails")
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("checkwrapper", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data == '0Z') {
                    $("#dp_wrapping_chart").val('#wrappernew').trigger('change.select2');
                    //$("#dp_wrapping_chart").prop("disabled", true);

                }
                else {

                    //$("#dp_wrapping_chart").prop("disabled", false);
                }
            }
        });
        $.ajax({
            url: '@Url.Action("checkwrappertype", "DispatchDetails")',
            data: {},
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data != 'Ok') {
                    $("#dp_wrapping_type").val(data).trigger('change.select2');
                    $("#dp_wrapping_type").prop("disabled", true);
                    //$("#costomerId").val(data);
                }
                else {
                    // $("#costomerId").val(data);
                    $("#dp_wrapping_type").prop("disabled", false);
                }
            }
        });

        if ('@ViewBag.WrapperView' == "Save") {
            $("#wrappingView").show();
            $("#YesNoradio").hide();
            $("#wrpbtnsave").hide();
            $('#r1').attr('disabled', 'disabled');
            $('#r2').attr('disabled', 'disabled');
            $('#r3').attr('disabled', 'disabled');
        }
        else {
            $("#YesNoradio").show();
            $("#wrpbtnsave").show();
            $("#wrappingView").hide();
        }

        if ('@ViewBag.Selectedradiobtn'=="3") {
            $("#r3").attr('checked', 'checked');
            $("#YesNoradio").hide();
        }
        else if ('@ViewBag.Selectedradiobtn' == "2") {
            $("#r2").attr('checked', 'checked');
        }
       else {
            $("#r1").attr('checked', 'checked');
        }
        var optionfsize = document.createElement("option");
        var newOptionfsizeText = "New"; //your input box value will come here.
        optionfsize.text = newOptionfsizeText;
        optionfsize.value = "#wrappernew";
        var select = document.getElementById("dp_wrapping_chart");
        select.insertBefore(optionfsize, select.childNodes[1]);

        $("#dp_wrapping_chart").change(function () {
            
            var wrapping_chart = $(this).val();

            if ($(this).val() == "#wrappernew")
                $('#wrappernew').modal('show');
        });

        $("#Item_Menu").css("color", "#f39c12");
        if ($("#dp_wrapping_type").val() != "Select") {
            var wrapperchart = $("#wrapping_chart").val();
            var wrappingType = $("#dp_wrapping_type").val();
            if (wrappingType == "#wrappertypenew") {
                $('#wrappertypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getSetWrappingChartNums", "DispatchDetails")',
                    data: { wrappingType: wrappingType },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                      
                        $("#dp_wrapping_chart").empty();
                        $('<option>',
                              {
                                  value: "Select",
                                  text: "Select"
                              }).html("Select").appendTo("#dp_wrapping_chart");
                        $('<option>',
                             {
                                 value: "#wrappernew",
                                 text: "New"
                             }).html("New").appendTo("#dp_wrapping_chart");

                        $.each(data, function (i, data) {      // bind the dropdown list using json result
                            $('<option>',
                               {
                                   value: data.wm_chart_num,
                                   text: data.wm_chart_num
                               }).html(data.hm_chart_num).appendTo("#dp_wrapping_chart");
                           // if (wrapperchart == data.wm_chart_num) {
                                $("#dp_wrapping_chart").val(data.wm_chart_num).trigger('change.select2');
                          //  }
                        });
                    }
                });
            }
        }

       
        $(function () {
            $("#WrapperChartAdd").click(function () {
                

                var masterModule3 = getWrapperChart();

                //   Swapnil validation
                if (masterModule3 == null) {
                    alert("Please Enter Remark!");
                    return false;
                }
                $.post("@Url.Action("SetWrapperChartAdd", "DispatchDetails")", masterModule3, function (data) {
                    var message = data.Message;
                    $("#resultMessage").html(message);
                });


            });

        });
        function getWrapperChart() {
            
            var wm_wrappertype = $('#dp_wrapping_type').val();
            var chartnum = $('#0').val();
            var color = $('#1').val();
            var colorphantomeshade1 = $('#2').val();
            var colorphantomeshade2 = $('#3').val();
            var colorphantomeshade3 = $('#4').val();
            var wrapperNote = $('#5').val();
            var wrapperwidth = $('#6').val();
            var wrapperlength = $('#7').val();
            var UnitBePack = $('#8').val();
            var wrappingThiknes = $('#9').val();
            var printed = $('#10').val();
            var Remarks = $('#11').val();
            var img = $('#12').val().replace(/C:\\fakepath\\/i, '');

            var colorrange = $('input[name=1]').val();
            var colorphantomeshade1range = $('input[name=2]').val();
            var colorphantomeshade2range = $('input[name=3]').val();
            var colorphantomeshade3range = $('input[name=4]').val();
            var wrapperNoterange = $('input[name=5]').val();
            var wrapperwidthrange = $('input[name=6]').val();
            var wrapperlengthrange = $('input[name=7]').val();
            var UnitBePackrange = $('input[name=8]').val();
            var wrappingThiknesrange = $('input[name=9]').val();
            var printedrange = $('input[name=10]').val();
            return (Remarks == "") ? null : {
                chartnum: chartnum, Remarks: Remarks, color: color, colorphantomeshade1: colorphantomeshade1, colorphantomeshade2: colorphantomeshade2, colorphantomeshade3: colorphantomeshade3, wrapperNote: wrapperNote, wrapperwidth: wrapperwidth, wrapperlength: wrapperlength, UnitBePack: UnitBePack, wrappingThiknes: wrappingThiknes, printed: printed, colorrange: colorrange, colorphantomeshade1range: colorphantomeshade1range, colorphantomeshade2range: colorphantomeshade2range, colorphantomeshade3range: colorphantomeshade3range, wrapperNoterange: wrapperNoterange, wrapperwidthrange: wrapperwidthrange, wrapperlengthrange: wrapperlengthrange, UnitBePackrange: UnitBePackrange, wrappingThiknesrange: wrappingThiknesrange, printedrange: printedrange, img: img, wm_wrappertype: wm_wrappertype
            };

        }
        $("input[name$='rc1']").click(function () {
            if ($("#r3").is(":checked")) {
                $("#YesNoradio").hide();
            } else {
                $("#YesNoradio").show();
            }
        });
    });

    $(document).ready(function () {
        SelectRemark();
        $("#dp_wrapping_type").change(function () {
            var wrappingType = $("#dp_wrapping_type").val();

            if (wrappingType == "#wrappertypenew") {
                $('#wrappertypenew').modal('show');
            }
            else {
                $.ajax({
                    url: '@Url.Action("getSetWrappingChartNums", "DispatchDetails")',
                    data: { wrappingType: wrappingType },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        console.log(data);

                        $("#dp_wrapping_chart").empty();
                        $('<option>',
                               {
                                   value: "Select",
                                   text: "Select"
                               }).html("Select").appendTo("#dp_wrapping_chart");
                        $('<option>',
                            {
                                value: "#wrappernew",
                                text: "New"
                            }).html("New").appendTo("#dp_wrapping_chart");
                        $.each(data, function (i, data) {      // bind the dropdown list using json result
                            $('<option>',
                               {
                                   value: data.wm_chart_num,
                                   text: data.wm_chart_num
                               }).html(data.hm_chart_num).appendTo("#dp_wrapping_chart");
                        });
                    }
                });
            }

        });



    });




    function SubmitWrapper(str) {
      
        var lock = document.getElementById('Lockup');
        if (lock)
            lock.className = 'LockOn';
        lock.innerHTML = str;
            var dp_wrapping_type = $("#dp_wrapping_type").val();
            var dp_wrapping_chart = $("#dp_wrapping_chart").val();
            if ($("#r1").is(":checked")) {

                $.ajax({
                    url: '@Url.Action("Wrappingskusection", "DispatchDetails")',
                    data: { dp_wrapping_type: dp_wrapping_type, dp_wrapping_chart: dp_wrapping_chart },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                        $("#Lockup").css("display", "none");
                    },
                    error: function () {
                        alert("No Records insert");
                        $("#Lockup").css("display", "none");
                    }
                });
            } else if ($("#r2").is(":checked")) {
                var dp_wrapping_chart = $("#dp_wrapping_chart").val();
                var dp_wrapping_type = $("#dp_wrapping_type").val();
                $.ajax({
                    url: '@Url.Action("WrappingskusectionNoYes", "DispatchDetails")',
                    data: { dp_wrapping_chart: dp_wrapping_chart, dp_wrapping_type: dp_wrapping_type },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                        $("#Lockup").css("display", "none");
                    },
                    error: function () {
                        alert("No Records insert");
                        $("#Lockup").css("display", "none");
                    }
                });
            } else {
                //    alert(3);
                $.ajax({
                    url: '@Url.Action("WrappingskusectionYesNo", "DispatchDetails")',
                    data: { dp_wrapping_type: dp_wrapping_type },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                        $("#Lockup").css("display", "none");
                    },
                    error: function () {
                        alert("No Records insert");
                        $("#Lockup").css("display", "none");
                    }
                });
            }
    }

    function WrapperPopup() {
        var TeamDetailPostBackURL = '@Url.Action("ViewSetWrappersDetails", "SKUSelection")';
      //  var wrappingType = $("#dp_wrapping_type").val();
        var wrapperChart = $("#dp_wrapping_chart").val();
        var $buttonClicked = $(this);
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { wrapperChart: wrapperChart },
            datatype: "json",
            success: function (data) {
                $('#wrapperview').html(data);
            },
            error: function () {
                console.log(JSON.stringify(error));
            }
        });
    }


    function SubmitRemark() {
        var prm_remarks = $("#prm_remarks").val();
        if (prm_remarks != "") {
            $.ajax({
                url: '@Url.Action("SubmitRemarkDispatchDetails", "DispatchDetails")',
                data: {
                    'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Set Wrapper'
                },
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                    } else {
                        alert(response.responseText);
                    }
                    $("#prm_remarks").val("");
                }
            });
        }
        else {
            alert("Please enter the remark");
        }
    }
    function SelectRemark() {
        var trHTML = '';
        $.ajax({
            url: '@Url.Action("SelectRemarkCustomerDetails", "DispatchDetails")',
            data: {
                'prm_remark_tab': 'Set Wrapper',
            },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    for (var i = 0; i < data.remarks.length; i++) {
                        trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                    }
                    $('#remarkdata').append(trHTML);
                }
                else {
                    alert('erroer');
                }
            }
        });
    }
</script>