﻿@model IEnumerable<JKFiles.WebApp.Models.UserLoginModel>
@{
    ViewBag.Title = "_UserList";
    Layout = "";
}


<div class="panel-body">

    <div class="table-responsive">
        <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
            <tbody>
                <tr height="36">
                    <td bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Plant or Ancillary ")</div></td>
                    <td height="36" bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("User Id")</div></td>
                    <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("User Name")</span></div></td>
                    <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("Role")</span></div></td>
                    <td width="165" bgcolor="#333333"><div align="center" class="style1">@Html.DisplayName("Platform Login")</div></td>
                    <td width="163" bgcolor="#333333"><div align="center" class="style1">@Html.DisplayName("Force Logout")</div></td>
                    <td width="164" bgcolor="#333333"><div align="center" class="style1">Suspend Id?</div></td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr height="27">

                        <td width="352"><div align="center">@Html.DisplayFor(m => item.PlantName) </div></td>
                        <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.User_Id) </div></td>
                        <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.Fullname) </div></td>
                        <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.RoleName) </div></td>
                        @if (item.Main_Login_Flag=="True")
                        {
                            <td><div align="center"><img src="~/SharedCss/dist/img/10.png"></div></td>
                        }
                        else
                        {
                            <td><div align="center"><img src="~/SharedCss/dist/img/11.png"></div></td>
                        }

                        
                        <td><div align="center"><a href="@Url.Action("Logout",new { @id=item.Login_Id})"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="@Url.Action("Delete",new { @id=item.Login_Id})"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                        @*<td><div align="center"><a href="@Url.Action("Delete",new { @id=item.Role_Id})"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>*@

                    </tr>
                }

            </tbody>
        </table>
    </div>






</div>



