﻿@model JKFiles.WebApp.Models.UserLoginModel
@{
    ViewBag.Title = "UserManagementIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}




<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Users </span>
                    <span class="info-box-number">@Html.DisplayFor(m => m.totaluser)</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        70% Increase in 30 Days
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Active Users </span>
                    <span class="info-box-number">@Html.DisplayFor(m => m.totalactiveuser)</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        70% Increase in 30 Days
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Ancillary   </span>
                    <span class="info-box-number">30</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        70% Increase in 30 Days
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div>
    <div class="box box-default">

        <div class="box-header with-border ">


            <h3 class="box-title"> Users</h3>


            <a href="@Url.Action("Index", "AddUser")" class="btn btn-primary pull-right marginbtn"> Add User</a>
        </div>




        <div class="box-body">
            <div class="form-inline ">
                @using (Html.BeginForm())
                {
                    <div class="form-group">

                      
                        @Html.EditorFor(m => m.PlantName, new { htmlAttributes = new { @class = "form-control", placeholder = "Main or Ancillary Plant" } })
                    </div>
                    <div class="form-group">

                       
                        @Html.EditorFor(m => m.User_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name/Email Id" } })

                    </div>

                    <div class="form-group">


                        @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.listrole, "RoleName", "RoleName"), "Select Role", new { @class = "form-control select2", @id = "RoleName" })
                    </div>



                    <button type="submit" class="btn btn-default">Search</button>
                    @*<button type="submit" class="btn btn-default">Show All</button>*@

                }
            </div>

            @Html.Action("UserList")
@*
    <div class="panel-body">

        <div class="table-responsive">
            <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr height="36">
                        <td bgcolor="#333333"><div align="center" class=" style1">Main or Ancillary Plant Id</div></td>
                        <td height="36" bgcolor="#333333"><div align="center" class=" style1">User Id</div></td>
                        <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">User Name</span></div></td>
                        <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">Role</span></div></td>
                        <td width="165" bgcolor="#333333"><div align="center" class="style1">Platform Login</div></td>
                        <td width="163" bgcolor="#333333"><div align="center" class="style1">Force Logout</div></td>
                        <td width="164" bgcolor="#333333"><div align="center" class="style1">Suspend Id?</div></td>
                    </tr>

                    <tr height="27">
                        <td width="352"><div align="center">Vapi</div></td>
                        <td width="352" height="27"><div align="center"> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl02_lbl_cust">m@brainlines.in</span> </div></td>
                        <td>
                            <div align="center">
                                <div> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl02_lbl_fname">Manohar </span> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl02_lbl_lname"> Deshmukh</span> </div>
                            </div>
                        </td>
                        <td><div align="center">CEO</div></td>
                        <td><div align="center"><img src="~/SharedCss/dist/img/10.png"></div></td>

                        <td><div align="center"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr height="27">
                        <td width="352"><div align="center">Aditya Precitech</div></td>
                        <td width="352" height="27"><div align="center"> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl02_lbl_cust2">g@brainlines.in</span> </div></td>
                        <td>
                            <div align="center">
                                <div> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl03_lbl_fname">Girija</span> <span id="ctl00_ContentPlaceHolder1_gv_customer_ctl03_lbl_lname">Kale</span> </div>
                            </div>
                        </td>
                        <td><div align="center">HR</div></td>
                        <td>
                            <div align="center">
                                <img src="~/SharedCss/dist/img/11.png">


                            </div>
                        </td>
                        <td><div align="center"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="#"><i class="fa fa-times colorred" aria-hidden="true"></i></a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>






    </div>

*@
        </div>



    </div>







</section>

