﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="content-header">


    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null) {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>
             <a href="@Url.Action("ChangeNote", "ChangeNotes")" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
        </div>


        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">@Html.ActionLink("CustomerDetails", "Index", "CustomerDetails")</li>
                    <li>@Html.ActionLink("Production Details", "Index", "ProductionDetails")</li>
                    <li class=""><a href="#dispatch" data-toggle="tab" aria-expanded="false">Dispatch Details</a></li>
                    <li class=""><a href="#cost" data-toggle="tab" aria-expanded="false">Cost Details</a></li>
                    <li class=""><a href="#approve" data-toggle="tab" aria-expanded="false">Customer Approval</a></li>

                </ul>
                <div class="tab-content" id="customerApprovalTab">
                    <form action="@Url.Action("CustomerApproval", "CustomerApproval")" method="post">
                        <!-- /.tab-pane -->
                        <div class="tab-pane active" id="approve">
                            <h5>Request No:@Session["ReqNo"].ToString()</h5><div style="clear:both;"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer </label>
                                    <input type="text" class="form-control " id="" placeholder="Customer 1" readonly>
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    <input type="text" class="form-control " id="" placeholder="Brand 1" readonly>
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Country </label>
                                    <input type="text" class="form-control " id="" placeholder="India" readonly>
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div><!-- /.col -->

                            <div style="clear:both"></div>

                            <div class="table-responsive col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Pending</th>
                                            <th>Approve</th>
                                            <th>Reject</th>
                                        </tr>
                                        <tr>
                                            <td>Production</td>
                                            <td>
                                                @Html.RadioButton("Production", "I",true,new { @class = "minimal",id="prod_pending" })
                                            </td>
                                            <td> @Html.RadioButton("Production", "Y",false, new { @class = "minimal", id = "prod_approve" })</td>
                                            <td>@Html.RadioButton("Production", "R", false, new { @class = "minimal", id = "prod_reject" })</td>
                                        </tr>
                                        <tr>
                                            <td>Dispatch</td>
                                            <td>
                                                @Html.RadioButton("Dispatch", "I", true, new { @class = "minimal", id = "disp_pending" })
                                            </td>
                                            <td> @Html.RadioButton("Dispatch", "Y", false, new { @class = "minimal", id = "disp_approve" })</td>
                                            <td>@Html.RadioButton("Dispatch", "R", false, new { @class = "minimal", id = "disp_reject" })</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <textarea name="" cols="" rows="5" placeholder=" Rejection Reason" style="width:100%;"></textarea>

                            </div>
                            <div style=" clear:both;"></div>
                            <a class="btn jk-btn-app"><i class="fa fa-close"></i> Cancel</a>

                            <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-paper-plane"></i> Submit</button>
                        </div>
                        </form>

</div>
            </div>

</section>
