﻿
@using PagedList.Mvc
@model PagedList.IPagedList<JKFiles.WebApp.Models.ChangeNoteModel>
@{
    ViewBag.Title = "ItemMaster";
    Layout = "";
}


<div class="table-responsive" id="itemmastergrid">
    <table width="100%" border="1">
        <tr>
            <td width="120" height="30" bgcolor="#333333"><div align="center"><span class="style2">SKU </span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">SKU History</span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Drawing Revision No</span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Approval Date</span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">End Date</span></div></td>
            <td width="190" bgcolor="#333333"><div align="center"><span class="style2">Description</span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Customer SKU</span></div></td>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>

                <td>
                    <div align="center">
                        <a href="@Url.Action("Index","NewPartReqView", new {partno =  @Model[i].RequestNumber })" class="link">
                            <span class="jk-color-blue">@Model[i].split1</span><span class="jk-color-red">@Model[i].split2</span><span class="jk-color-blue">@Model[i].split3</span>
                        </a>
                    </div>
                </td>
                <td><div align="center">@Model[i].VerNo</div></td>
                <td><div align="center"></div></td>
                <td><div align="center">@Model[i].ApprovedDate</div></td>
                <td><div align="center">@Model[i].endDate</div></td>
                <td><div align="center">@Model[i].Description</div></td>
                <td><div align="center">@Model[i].CustpartNo</div></td>
            </tr>

        }
    </table>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ArchivesIndex", new { page, sku = ViewBag.sku, cust_sku = ViewBag.cust_sku, custname = ViewBag.custname, brandname = ViewBag.brandname, filesize = ViewBag.filesize, filetype = ViewBag.filetype, cuttype = ViewBag.cuttype }))
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
     $(".changeddl").change(function () {
         $("#loading").css("display", "block");
         var sku = $("#SKU").val();
         var cust_sku = $("#cust_SKU").val();
         var custname = $("#custName").val();
         var brandname = $("#brandName").val();
         var filesize = $("#ddlFileSize").val();
         var filetype = $("#ddlfiletype").val();
         var cuttype = $("#ddlCutType").val();
         $.ajax({
             url: '@Url.Action("ArchivesItemMaster", "Archives")',
             data: {
                 sku: sku, cust_sku: cust_sku, custname: custname, brandname: brandname
             , filesize: filesize, filetype: filetype, cuttype: cuttype},
             type: 'GET',
             dataType: "html",
             success: function (data) {
                 $("#itemmastergrid").html(data);
                 $("#loading").css("display", "none");
             },
             error: function () {
                 alert("No Records Found");
             }
         });

     });

 });
</script>