﻿@model JKFiles.WebApp.Models.ScheduleMaintenance
@{
    ViewBag.Title = "ScheduleMaintenanceIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Schedule Maintenance</h3>
        </div>
        <div class="box-body">
            <div class="col-md-8">
                <div>
                    <div style="clear: both">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Start Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                @*@Html.EditorFor(m => m.Start_Date, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })*@
                            </div><!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Start Time</label>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div style="clear: both">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> End Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                            </div><!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>End Time</label>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div style="clear: both">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Warning Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                            </div><!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label> Warning Time</label>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>

                    </div>
                    <div style="clear: both">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail3">
                                    Description
                                </label>
                                <textarea name="" cols="" rows="3" class="form-control" placeholder=" Maintenance Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both">
                    </div>
                    <div class=" margin-left15">

                        <a href="#" class="btn btn-default">Cancel</a>
                        <a href="#" class="btn btn-primary ">Submit</a>


                    </div>
                </div>
            </div>
        </div>

    </div>







</section>
 
