﻿@model JKFiles.WebApp.Models.ValueStreamMasterModel

@{
    ViewBag.Title = "_ManagevalueStreamview";
}
<div class="tab-pane active" id="valuestream">
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.ft_ftype_code, new SelectList(Model.valueStreamDropdownList, "ft_ftype_code", "ft_ftype_desc"), "Select Value Stream", new { @class = "form-control select3", @id = "valueStreamID" })
        @Html.ValidationMessageFor(m => m.ft_ftype_code)
    </div>
    <a href="Index">
        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
    </a>
    <div style="clear:both"></div>

    <div class="col-md-6" id="divPartialView1">
        <div class="table-responsive">
            <table width="100%" border="1" bordercolor="#CCCCCC" id="valuestreamunit">
                <tr>
                    <td width="20%" height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">  Value    Stream Name</div></td>
                    <td width="14%" bgcolor="#e8e8e8" class=" text-black"><div align="center"> Family Code</div></td>
                    @foreach (var item in Model.unitvaluestreamlist)
                        {
                    <tr>
                        <td><div align="center">@item.ft_ftype_code</div></td>
                        <td><div align="center">@item.ft_ftype_desc</div></td>
                    </tr>
                        }
                </table>
            </div>
        </div>
    </div>

   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select3").change(function () {
                $("#loading").css("display", "block");
                var valueStream = $("#valueStreamID").val();
                $.ajax({
                    url: '@Url.Action("ManageValueStream", "Unit")',
                    data: { valueStream: valueStream },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#valuestream").empty();
                        $("#valuestream").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            });
        });

        function CheckValusreamCode() {
            var val_valuestream_code = $("#ft_ftype_code").val();
            $.ajax({
                url: '@Url.Action("CheckValusreamCode", "Unit")',
                data: { val_valuestream_code: val_valuestream_code },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        alert("Value Stream Code already exists");

                    } else {

                    }
                },
                error: function () {
                }
            });
        }
    </script>
