﻿@model JKFiles.WebApp.Models.UnitMasterModel

@{
    ViewBag.Title = "_ManageUnitNormview";
}

<div class="tab-pane active " id="unorms">
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.unitdropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @class = "form-control select2", @style = "width:100%", @id = "UnitCode" })
        @Html.ValidationMessageFor(m => m.uni_unit_code)
    </div>

    <div class="form-group col-md-2">
        @*@Html.DropDownListFor(model => model.uni_unit_type, new SelectList(Model.unitdropdownlist, "uni_unit_type", "uni_unit_type"), "Select Unit Type", new { @class = "form-control select2", @style = "width:100%", @id = "UnitType" })
            @Html.ValidationMessageFor(m => m.uni_unit_type)*@
        <select class="form-control select2" id="UnitType">
            <option value="">Select Type</option>
            <option value="P">P </option>
            <option value="A">A</option>
        </select>
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.ft_ftype_code, new SelectList(Model.unitvaluestreamlist, "ft_ftype_code", "ft_ftype_desc"), "Select Value Stream", new { @class = "form-control select2", @style = "width:100%", @id = "valueStream" })
        @Html.ValidationMessageFor(m => m.ft_ftype_code)

    </div>
    <img src="~/Content/Images/loader.gif" id="loading" style="display:none;" />
    <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#vsunit">Add New </a>
    <a href="Index">
        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
    </a>
    <div style="clear:both"></div>

    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC" id="normunit">
            <tr>
                <td width="11%" height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Name</div></td>
                <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Type</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Code</div></td>
                <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Attached to</div></td>
                <td width="20%" bgcolor="#e8e8e8" class=" text-black"><div align="center">  File Type Name</div></td>
                <td width="14%" bgcolor="#e8e8e8" class=" text-black"><div align="center"> Family Code</div></td>
                <td width="13%" bgcolor="#e8e8e8" class=" text-black"><div align="center"> VS Code</div></td>
                <td width="14%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Alternet VS Code</div></td>
            </tr>
            <tbody id="UnitMastergrid"></tbody>
          

        </table>
    </div>

</div>



<div class="modal fade" id="vsunit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Content/Images/loader.gif" id="loading1" style="display:none;z-index:1" />
                <h5 class="modal-title" id="new">Add Value Stream</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><form id="AddUnitValueStream" action="@Url.Action("AddUnitValueStream", "Unit")" method="post">
                <div class="modal-body">
                    <div style="clear:both"></div>
                    <div class="form-group col-md-6">
                        <label>Select Unit</label>
                        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.unitdropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @class = "form-control", @style = "width:100%", @id = "val_unit_code" })
                        @Html.ValidationMessageFor(m => m.uni_unit_code)
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label>Select ValueStream</label>
                        @Html.DropDownListFor(model => model.ft_ftype_code, new SelectList(Model.unitvaluestreamlist, "ft_ftype_code", "ft_ftype_desc"), "Select Value Stream", new { @class = "form-control selectvscode", @style = "width:100%", @id = "valueStreamNo" })
                        @Html.ValidationMessageFor(m => m.ft_ftype_code)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Value Stream No.</label>
                        <input type="text" class="form-control" id="val_valuestream_code" name="val_valuestream_code" placeholder="Value Stream No." readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Alternate ValueStream</label>
                        @Html.DropDownListFor(model => model.ft_ftype_code, new SelectList(Model.unitvaluestreamlist, "ft_ftype_code", "ft_ftype_desc"), "Select Value Stream", new { @class = "form-control selectalternatvscode", @style = "width:100%", @id = "AlternatvalueStream" })
                        @Html.ValidationMessageFor(m => m.ft_ftype_code)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Alternate VS No.</label>
                        <input type="text" class="form-control" id="val_alternate_valuestream_code" name="val_alternate_valuestream_code" placeholder="Alternate Value Stream No." readonly>
                    </div>

                </div>
                <div style="clear:both"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitvaluestream()">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


<script>
    $(document).ready(function () {
        UnitMasterlist();
        $(".select2").change(function () {
            $("#loading").css("display", "block");
           var UnitID = $("#UnitCode").val();
        var UnitType = $("#UnitType").val();
        var valueStream = $("#valueStream").val();
        var row1 = '';
        $("#UnitMastergrid").empty();
        $.ajax({
            url: '@Url.Action("ManageUnitNorm", "Unit")',
            data: { UnitID: UnitID, UnitType: UnitType, valueStream: valueStream },
            type: 'POST',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.Unitlist.length; i++) {
                    row1 = '<tr><td><div align="center">' + data.Unitlist[i].uni_unit_name + '</div></td>'
                              + '<td><div align="center">' + data.Unitlist[i].uni_unit_type + '</div></td>'
                              + '<td><div align="center">' + data.Unitlist[i].val_unit_code + '</div> </td>'
                              + '<td><div align="center">' + data.Unitlist[i].uni_unit_attachTo + '</div></td>'
                              + '<td><div align="center">' + data.Unitlist[i].ft_ftype_desc + '</div></td>'
                             + '<td> <div align="center">' + data.Unitlist[i].val_valuestream_code + '</div></td>'
                              + '<td><div align="center">' + data.Unitlist[i].val_unit_code + '_' + data.Unitlist[i].uni_unit_attachTo + '_' + data.Unitlist[i].val_valuestream_code + '</div></td>'
                              + '<td> <div align="center">' + data.Unitlist[i].val_alternate_valuestream_code + '</div></td></tr>';

                    $("#UnitMastergrid").append(row1);
                    $("#loading").css("display", "none");
                }
            },

            error: function () {
                $("#loading").css("display", "none");
            }

        });
        });

        $(".selectvscode").change(function () {
            if ($("#AlternatvalueStream").val() != $("#valueStreamNo").val()) {
                var VSNo = $("#valueStreamNo").val();
                $.ajax({
                    url: '@Url.Action("ShowValueStreamNo", "Unit")',
                    data: { VSNo: VSNo },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        $("#val_valuestream_code").val(data.VSmNo);
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
        }
        else {
            alert("Plese select different alternat VS");
            $("#val_valuestream_code").val("");
            $("#valueStreamNo").val("");
        }
        });

        $(".selectalternatvscode").change(function () {
            if ($("#AlternatvalueStream").val() != $("#valueStreamNo").val()) {


                var VSNo = $("#AlternatvalueStream").val();
                $.ajax({
                    url: '@Url.Action("ShowValueStreamNo", "Unit")',
                    data: { VSNo: VSNo },
                    type: 'POST',
                    dataType: "json",
                    success: function (data) {
                        $("#val_alternate_valuestream_code").val(data.VSmNo);

                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }
            else {
                alert("Plese select different alternat VS");
                $("#val_alternate_valuestream_code").val("");
                $("#AlternatvalueStream").val("");
            }
        });
    });


function submitvaluestream() {
    var val_alternate_valuestream_code = $("#val_alternate_valuestream_code").val();
    var uni_unit_code = $("#val_unit_code").val();
    var val_valuestream_code = $("#val_valuestream_code").val();
    if (uni_unit_code != "") {
        $("#loading1").css("display", "block");
        if (val_valuestream_code != "") {
           
            $.ajax({
                url: '@Url.Action("AddUnitValueStream", "Unit")',
                data: { uni_unit_code: uni_unit_code, val_valuestream_code: val_valuestream_code, val_alternate_valuestream_code: val_alternate_valuestream_code },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data.Message == "ValueStream insert succesfully") {
                        alert(data.Message);
                        location.reload();
                        $("#loading1").css("display", "none");
                    } else {
                        alert(data.Message);
                    }


                },
                error: function () {

                }
            });
        } else {
            alert("Please select valuestream");
        }
    }
    else {
        alert("Please select unit");
    }
}


function UnitMasterlist() {
    var UnitID = $("#UnitCode").val();
    var UnitType = $("#UnitType").val();
    var valueStream = $("#valueStream").val();
    var row1 = '';
    $("#UnitMastergrid").empty();
    $.ajax({
        url: '@Url.Action("ManageUnitNorm", "Unit")',
        data: { UnitID: UnitID, UnitType: UnitType, valueStream: valueStream },
        type: 'POST',
        dataType: "json",
        success: function (data) {
            for (var i = 0; i < data.Unitlist.length; i++) {
                row1 = '<tr><td><div align="center">' + data.Unitlist[i].uni_unit_name + '</div></td>'
                          + '<td><div align="center">' + data.Unitlist[i].uni_unit_type + '</div></td>'
                          + '<td><div align="center">' + data.Unitlist[i].val_unit_code + '</div> </td>'
                          + '<td><div align="center">' + data.Unitlist[i].uni_unit_attachTo + '</div></td>'
                          + '<td><div align="center">' + data.Unitlist[i].ft_ftype_desc + '</div></td>'
                         + '<td> <div align="center">' + data.Unitlist[i].val_valuestream_code + '</div></td>'
                          + '<td><div align="center">' + data.Unitlist[i].val_unit_code + '_' + data.Unitlist[i].uni_unit_attachTo + '_' + data.Unitlist[i].val_valuestream_code + '</div></td>'
                          + '<td> <div align="center">' + data.Unitlist[i].val_alternate_valuestream_code + '</div></td></tr>';

                $("#UnitMastergrid").append(row1);
            }
        },
        error: function () {
        }
    });
}


</script>
