﻿@model JKFiles.WebApp.Models.UnitMasterModel

@{
    ViewBag.Title = "_ManagePlantUnit";
}


<!-- /.tab-pane -->
<div class="tab-pane active" id="vstream">
    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.uni_unit_code, new SelectList(Model.unitdropdownlist, "uni_unit_code", "uni_unit_name"), "Select Unit", new { @class = "form-control select3", @id = "UnitID" })
        @Html.ValidationMessageFor(m => m.uni_unit_code)
    </div>
    <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#newuvs">Add New </a>
    <a href="Index">
        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
    </a>
    <div style="clear:both"></div>

    @*<span class="box-title">Unit = Plant/Anscillary</span>*@
    <div style="clear:both"></div>
    <br><div id="divPartialView1">
        <div class="table-responsive">
            <table width="100%" border="1" bordercolor="#CCCCCC" id="Unittbl">
                <tr>
                    <td width="11%" height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Name</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Type</div></td>
                    <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Unit Code</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Attached to</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Absentism (%)</div></td>
                    <td width="7%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Material Downtime (%)</div></td>
                </tr>
                <tbody></tbody>
                @foreach (var item in Model.unitlist)
                        {
                    <tr>
                        <td><div align="center">@item.uni_unit_name</div></td>
                        <td><div align="center">@item.uni_unit_type</div></td>
                        <td>
                            <div align="center">@item.uni_unit_code</div>
                        </td>
                        <td><div align="center">@item.uni_unit_attachTo</div></td>
                        <td><div align="center">@item.uni_unit_absentisum</div></td>
                        <td><div align="center">@item.uni_unit_material_downtime</div></td>
                    </tr>
                                                        }

            </table>
        </div>
    </div>
</div>
<div style="clear:both"></div>

<div class="modal fade" id="newuvs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Add Ancillary</h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="unitform" action="@Url.Action("AddUnit", "Unit")"  method="post">
                    <div class="form-group col-md-6">

                            @Html.DropDownListFor(model => model.pla_plant_code, new SelectList(Model.plantdropdownlist, "pla_plant_code", "pla_plant_name"), "Main Plant", new { @class = "form-control selectplantcode", @id = "PlantID" })
                            @Html.ValidationMessageFor(m => m.pla_plant_code)
                      
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="uni_unit_name" name="uni_unit_name" placeholder="Ancillary Name" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="uni_unit_code" name="uni_unit_code" placeholder="Unit Code" required="required" maxlength="4"  onkeyup="CheckUnitCode()">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="uni_unit_attachTo" name="uni_unit_attachTo" placeholder="Attached to" readonly>
                    </div>


                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="uni_unit_absentisum" name="uni_unit_absentisum" onkeypress="return isNumberKey(event)" placeholder="Absentism(%)" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="uni_unit_material_downtime" name="uni_unit_material_downtime" onkeypress="return isNumberKey(event)" placeholder="Material Downtime(%)" required="required">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="edituvs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Edit Unit Value Stream </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label for="" class="">Unit Name</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="Vapi" readonly /> </div>

                </div>

                <div class="col-md-6">
                    <label for="" class="">Unit Type</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="Plant" readonly /> </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="">Unit Code</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="VAPM" readonly /> </div>
                </div><div class="col-md-6">
                    <label for="" class="">Attached to</label>
                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="VAPM" readonly /> </div>

                </div>

                <div class="col-md-6">
                    <label for="" class="">Absentism(%)</label>

                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="1" /> </div>
                </div>
                <div class="col-md-6">
                    <label for="" class="">Material Downtime(%)</label>

                    <div class="form-group"><input type="text" class="form-control " name="textfield3" id="textfield13" value="2" /> </div>
                </div>

            </div>
            <div style="clear:both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onClick="myFunction()">Ok</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>


<script>
    $(document).ready(function () {
        if ('@ViewBag.alert' != "") {
            alert('@ViewBag.alert');
        }

        $(".select3").change(function () {
            $("#loading").css("display", "block");
            var UnitID = $("#UnitID").val();

            $.ajax({
                url: '@Url.Action("ManagePlantSearch", "Unit")',
                data: { UnitID: UnitID },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#vstream").empty();
                    $("#vstream").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });
        });

        $(".selectplantcode").change(function () {
            var PlantID = $("#PlantID").val();

            $.ajax({
                url: '@Url.Action("PlantCode", "Unit")',
                data: { PlantID: PlantID },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    $("#uni_unit_attachTo").val(data.PlantCode);
                },
                error: function () {
                    alert("No Records Found");
                }
            });
        });
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function CheckUnitCode() {
        var uni_unit_code = $("#uni_unit_code").val();
        var uni_unit_attachTo = $("#uni_unit_attachTo").val();
        $.ajax({
            url: '@Url.Action("CheckUnitCode", "Unit")',
            data: { uni_unit_code: uni_unit_code, uni_unit_attachTo: uni_unit_attachTo },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("Unit Code already exists");
                    $("#uni_unit_code").val('');
                } else {
                }
            },
            error: function () {
            }
        });
    }
</script>