﻿@model JKFiles.WebApp.Models.UnitMasterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Unit Details</h3>
        </div>
        <div class="box-body">

            <div class="nav-tabs-custom">
                
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#vstream" data-toggle="tab" aria-expanded="false">Unit List</a></li>
                        <li class=""><a href="#valuestream" data-toggle="tab" aria-expanded="true">Value Stream (VS) List</a></li>
                        <li class=""><a href="#unorms" data-toggle="tab" aria-expanded="true">VS By Unit</a></li>

                    </ul>
             
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active " id="vstream">
                        @Html.Action("ManagePlantUnit")
                    </div>
                    <div class="tab-pane " id="unorms">
                        @Html.Action("ManageUnitNormview")
                    </div>
                    <div class="tab-pane  " id="valuestream">
                        @Html.Action("ManagevalueStreamview")
                    </div>
                    <div style="clear:both"></div>
                </div>

        </div>
        <!-- /.box-body -->
    </div>


</div>

</div>
<div style="clear:both"></div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")









