﻿@model JKFIlesEntity.FileSubTypeEntity
@{
    ViewBag.Title = "_ApprovedRequest";

}

<div class="panel-body">
    <table width="100%" border="1" bordercolor="#CCCCCC">
        <tr>
            <td width="9%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
            <td width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code Type</div></td>
            <td width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type Code</div></td>
            <td width="12%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type</div></td>
            <td width="6%" bgcolor="#e8e8e8" class=" text-black"><div align="center"> File Sub Type</div></td>
            <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Raw Meterial Code</div></td>
            <td width="18%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remark</div></td>
            <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
        </tr>
        @foreach (var list in Model.fileSubTypeNoApproveList)
        {
            <tr>
                <td align="center">
                    @if (@list.pm_request_type == "N")
                    {
                        <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.reqNo1 })" target="_blank">@list.pm_request_type@list.pm_request_id</a>
                    }
                    else
                    {
                        <a href="" onclick="ShowUpdatedValue1('@list.pm_fsize_code','@list.pm_file_code','@list.pm_fstype_code','@list.ft_ftype_desc','@list.pm_fstype_desc','@list.pm_request_type','@list.pm_request_id')" target="_blank">@list.pm_request_type@list.pm_request_id</a>
                    }
                </td>
                
                <td>
                    <div align="center">
                        <a href="#" onclick="ShowUpdatedValue('@list.pm_fsize_code','@list.pm_file_code','@list.pm_fstype_code','@list.ft_ftype_desc','@list.pm_fstype_desc','@list.pm_request_type','@list.pm_request_id')">@list.pm_fsize_code</a>
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.pm_file_code
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.ft_ftype_desc
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.pm_fstype_desc
                    </div>
                </td>
                <td>
                    <div align="center">
                        -
                    </div>
                </td>
                <td>
                    <div align="center">
                        -
                    </div>
                </td>
                <td>
                    <div align="center">
                        @if (Session["Role"].ToString() == "ALL_Access" || Session["ROle"].ToString() == "EMT_Prod_MGR")
                    {
                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.pm_request_type@list.pm_request_id','@list.pm_request_id','@list.pm_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                    }
                    else
                    {
                    <a href="#" class="btn btn-warning">Approve</a>
                    }
                    </div>
                </td>

            </tr>
        }

    </table>
    <div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Enter Remark</label>
                    <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                    <h4> Confirm Approval?</h4>
                    <a href="" class="btn btn-primary" onclick="ApproveRequest()">Approve</a>
                    <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>

            </div>
        </div>
    </div>
    @*<div class=""modal fade in" id="ViewRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">File SubType</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" border="1" bordercolor="#CCCCCC">
                            <tbody>
                                <tr>
                                    <th width="100" height="28" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter Name</div></th>
                                    <th width="144" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter Range</div></th>
                                    <th width="100" bgcolor="#e8e8e8" class=" text-black"><div align="center">Parameter Value</div></th>
                                </tr>
                            </tbody>
                            <tbody id="Viewsubtype1"></tbody>
                        </table>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>*@
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    function ShowUpdatedValue1(i, j, k, l, m, n, id) {
        var sizecode = i;
        var filecode = j;
        var subtypCode = k;
        var Filetype = l;
        var pm_fstype_desc = m;
        var reqIN = n + id;
        if (n == "E") {

            $.ajax({
                url: '@Url.Action("ManageRequestUpdated1", "FileSubType")',
                data: { sizecode: sizecode, filecode: filecode, subtypCode: subtypCode, Filetype: Filetype, pm_fstype_desc: pm_fstype_desc },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records reject");
                }
            });
        }
        else {
            @*$.ajax({
                url: '@Url.Action("ManageRequestUpdatedView1", "FileSubType")',
                data: { reqIN: reqIN },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records reject");
                }
            });*@
        }
    }
    function ShowUpdatedValue(i, j, k, l, m, n, id) {
        var sizecode = i;
        var filecode = j;
        var subtypCode = k;
        var Filetype = l;
        var pm_fstype_desc = m;
        //$.post("/FileSubType/ManageRequestUpdated1", { sizecode: sizecode, filecode: filecode, subtypCode: subtypCode,Filetype:Filetype,pm_fstype_desc:pm_fstype_desc }, function (data) {

        //    location = data.url;
        //});
        if (n == "E") {

            @*$.ajax({
                url: '@Url.Action("ManageRequestUpdated1", "FileSubType")',
                data: { sizecode: sizecode, filecode: filecode, subtypCode: subtypCode, Filetype: Filetype, pm_fstype_desc: pm_fstype_desc },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records reject");
                }
            });*@
        }
        else {

            @*$.ajax({
                url: '@Url.Action("getFileSubtypeCheckApproveview", "FileSubType")',
                data: { sizecode: sizecode, filecode: filecode },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.filedtllist.length; i++) {
                        row = '<tr><td> ' + data.filedtllist[i].pm_dim_parm_catg + ' ' + data.filedtllist[i].pm_dim_parm_name + ' </td> <td>'
                            + data.filedtllist[i].pm_dim_parm_scrnvalue + '</td><td> '
                            + data.filedtllist[i].pm_dim_parm_dwgvalue + '</td> </tr>';

                        $("#Viewsubtype1").append(row);
                    }
                    //  $("#ViewRequest").modal('show');
                    setTimeout("$('#ViewRequest').modal('toggle');", 500);
                },
                error: function () {
                    alert("No Records Found");
                }
            });*@
        }
    }

    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }

    function RejectRequest() {
        if (requesttype == "E") {

            var Remarks = $("#or_remarks").val();

            if (Remarks != "") {
                $.ajax({
                    url: '@Url.Action("RejectECNRequest", "FileSubType")',
                    data: { RequestID: requestNo, Remarks: Remarks },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
            else {
                alert('Please enter the remarks');
            }
        }
        else {
            $.ajax({
                url: '@Url.Action("RejectApprove", "FileSubType")',
                data: { ID: requestNo, type: requesttype },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    alert("Data Reject succesfully");
                    location = data.url;
                },
                error: function () {
                    alert("No Records reject");
                }
            });
        }
    }
 
    function ApproveRequest() {
        if (requesttype == "E") {


            $.ajax({
                url: '@Url.Action("ApproveECNRequest", "FileSubType")',
                data: { RequestID: requestNo },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    location = data.url;
                },
                error: function () {
                    alert("No Records approve");
                }
            });
        }
        else {

            $.ajax({
                url: '@Url.Action("UpdatefileSubtypeApprove", "FileSubType")',
                data: { ID: requestNo, type: requesttype },
                type: 'POST',
                dataType: "json",

                success: function (data) {
                    location = data.url;
                   
                },
                error: function () {
                    alert("No Records approve");
                }
            });
        }
    }
</script>
