﻿@model JKFIlesEntity.FileSubTypeEntity
@{
    ViewBag.Title = "_Filesubtypeddlmstr";
    Layout = "";
}

@*<form class="form-inline" action="@Url.Action("Index", "FileSubType")" method="post">

        <div class="form-group  col-md-2" style="margin-bottom: 10px">
            @Html.DropDownListFor(model => model.pm_fsize_code, new SelectList(Model.listsizecode, "pm_fsize_code", "pm_fsize_code"), "File Size Code", new { @class = "form-control select2 ChangefsubApprove", @style = "width:100 % ", @id = "pm_fsize_code" })
            @Html.HiddenFor(m => m.pm_fsize_code)
        </div>


        <div class="form-group  col-md-2">
            @Html.DropDownListFor(model => model.filetypecode, new SelectList(Model.listfiletypecode, "filetypecode", "filetypecode"), "File Type Code", new { @class = "form-control select2 ChangefsubApprove", @style = "width:100 % ", @id = "filetypecode" })
        </div>


        <div class="form-group col-md-2">
            @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2 ChangefsubApprove", @style = "width:100 % ", @id = "filetype" })
        </div>

        <div class="form-group col-md-2">
            @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ChangefsubApprove", @style = "width:100 % ", @id = "filesubtype" })
        </div>




    </form><br>@*

