﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.FileSubTypeEntity>


@{
    ViewBag.Title = "_Filesubtypedetailsmstr";
}
<style>
    .valuename {
        display: none;
    }

    #valuename3 {
        display: none;
    }

    #valuename4 {
        display: none;
    }
</style>
<div id="divPartialView1">
    <div >
        <table width="100%" border="1" bordercolor="#CCCCCC" id="Subtypemster">
            <thead>
                <tr>
                    <th width="15%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size Code</div></th>
                    <th width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type Code</div></th>
                    <th width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></th>
                    <th width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Sub Type</div></th>
                    <th width="20%" bgcolor="#e8e8e8" class="text-black"><div align="center">Edit</div></th>
                </tr>
                </thead>
                @*@for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <div align="center">
                                <a href="#" data-target="#edit1" class="editfs" data-toggle="modal" data-id="@Model[i].pm_fsize_code,@Model[i].pm_file_code">
                                    @Model[i].pm_fsize_code
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @Model[i].pm_file_code
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @Model[i].ft_ftype_desc
                            </div>
                        </td>
                        <td><div align="center">@Model[i].pm_fstype_desc</div></td>
                        <td><div align="center"><a href="#" data-toggle="modal" data-target="#editsales" onclick="fileDetailsList('@Model[i].pm_fsize_code', '@Model[i].pm_file_code')"><i class="fa fa-pencil"></i></a></div></td>
                    </tr>
                }*@
        </table>
        @*<div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesizecode = ViewBag.filesizecode, ftypecode = ViewBag.ftypecode, filetype = ViewBag.filetype, filesubtype = ViewBag.filesubtype }))
                </div>
            </div>*@
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="editsales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Sub Type </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="scroll-wrap">
                    <div class=" table-responsive">
                        <table class="table table-bordered" id="ECNtbl">
                            <tbody>
                                <tr>
                                    <th width="303">Parameter Category</th>
                                    <th width="405"><span>Parameter</span> Name</th>
                                    <th width="266"><span>Parameter</span> Value</th>
                                    <th width="279"><span>Parameter</span> Range</th>
                                </tr>
                            </tbody>
                            <tbody id="filetbl">
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <input type="hidden" id="pn_fsize_code" name="pn_fsize_code" />
            <input type="hidden" id="pn_ftype_code" name="pn_ftype_code" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-primary" onclick="RunImpactAnalysis()">Run Impact Analysis </a>
                @*<a class="btn btn-primary" href='@Url.Action("ManageSKUList", "FileSubType", new { sizecode = ViewBag.sizecode, filecode =ViewBag.sizecode})'>Run Impact Analysis </a>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="edit1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ChangefsubApprove").change(function () {
            $("#loading").css("display", "block");
            var filesizecode = $("#pm_fsize_code").val();
            var ftypecode = $("#filetypecode").val();
            var filetype = $("#filetype").val();
            var filesubtype = $("#filesubtype").val();

            $.ajax({
                url: '@Url.Action("Filesubtypedetailsmstr", "FileSubType")',
                data: { filesizecode: filesizecode, ftypecode: ftypecode, filetype: filetype, filesubtype: filesubtype },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });



        $(".editfs").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            //x = $(this).data('id');
            $.ajax({
                url: '@Url.Action("getfilesubtype", "FileSubType")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#edit1').modal('show');
                }
            })
        });


    });

  

    //row = '<tr><td id="' + data.filedtllist[i].pm_dim_parm_catg + '_' + i + '"> ' + data.filedtllist[i].pm_dim_parm_catg + ' </td><td id="' + data.filedtllist[i].pm_dim_parm_name + '_' + i + '"> ' + data.filedtllist[i].pm_dim_parm_name + ' </td>'
    //                    + ' <td><input type="text" class="form-control" name="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '_' + i + '"  id="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '" /> </td><td> <input type="text" class="form-control" id="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '_' + i + '" name="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '" /> </td>  </tr>';
    //$("#filetbl").append(row);
</script>
<script>
    $(document).ready(function () {
        $("#Subtypemster").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 5,
            "ajax": {
                "url": '@Url.Action("LoadData", "FileSubType")',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": true,
                "searchable": false
            },
            {
                "targets": [3],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [4],
                "searchable": false,
                "orderable": false
            }],
            //{
            //    "targets": [9],
            //    "searchable": false,
            //    "orderable": false
            //}],
            "columns": [
                  { "data": "pm_fsize_code", "name": "pm_fsize_code", "autoWidth": true, "className": "text-center" },
                  { "data": "pm_file_code", "name": "pm_file_code", "autoWidth": true, "className": "text-center" },
                  { "data": "ft_ftype_desc", "name": "ft_ftype_desc", "autoWidth": true, "className": "text-center" },
                  { "data": "pm_fstype_desc", "name": "pm_fstype_desc", "autoWidth": true, "className": "text-center" },
                  {
                      "render": function (data, type, full, meta) {
                          return '<div align="center"><a  href="#" data-toggle="modal" data-target="#editsales" onclick="fileDetailsList(\'' + full.pm_fsize_code + '\',\'' + full.pm_file_code + '\')"><i class="fa fa-pencil"></i></a></div>';
                      }
                  },

                   //{
                   //    data: null, render: function (data, type, row) {
                   //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                   //    }
                   //},
            ]

        });
    });
    function fileDetailsList(i, j) {

        var sizecode = i;
        var filecode = j;
        $("#filetbl").empty();
        var row = "";
        $.ajax({
            url: '@Url.Action("getFileSubtypedetails", "FileSubType")',
            data: { sizecode: sizecode, filecode: filecode },
            type: 'GET',
            dataType: "json",
            success: function (data) {
                if (data.Message != "Subtype being edited in request id=") {

                    for (var i = 0; i < data.filedtllist.length; i++) {

                        row = '<tr><td id="valuename1"> ' + data.filedtllist[i].pm_dim_parm_catg + '<input type="text" class="form-control valuename" name="' + data.filedtllist[i].pm_dim_parm_catg + '_' + i + '"  id="' + data.filedtllist[i].pm_dim_parm_catg + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_catg + '" /> </td>'
                               + '<td id="valuename3"> ' + data.filedtllist[i].pm_dim_parm_code + '<input type="text" class="form-control valuename" name="' + data.filedtllist[i].pm_dim_parm_code + '_' + i + '"  id="' + data.filedtllist[i].pm_dim_parm_code + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_code + '" /> </td>'
                                + '<td id="valuename4"> ' + data.filedtllist[i].pm_fstype_desc + '<input type="text" class="form-control valuename" name="' + data.filedtllist[i].pm_fstype_desc + '_' + i + '"  id="' + data.filedtllist[i].pm_fstype_desc + '_' + i + '" value="' + data.filedtllist[i].pm_fstype_desc + '" /> </td>'
                                      + '<td id="valuename2"> ' + data.filedtllist[i].pm_dim_parm_name + '<input type="text" class="form-control valuename" name="' + data.filedtllist[i].pm_dim_parm_name + '_' + i + '"  id="' + data.filedtllist[i].pm_dim_parm_name + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_name + '" /> </td>'
                                 + '<td id="Range1"> <input type="text" class="form-control" id="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '_' + i + '" name="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_dwgvalue + '" /> </td>'
                              + ' <td id="Range2"><input type="text" class="form-control" name="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '_' + i + '"  id="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '_' + i + '" value="' + data.filedtllist[i].pm_dim_parm_scrnvalue + '" /> </td> </tr>';
                        $("#filetbl").append(row);
                    }

                    $("#pn_fsize_code").val(data.sizecode);
                    $("#pn_ftype_code").val(data.filecode);
                }
                else {

                    $('#editsales').modal('toggle');
                    var msg = data.Message + data.checkrequestID;
                    alert(msg);

                }
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }

    function RunImpactAnalysis() {
        var AllValue = [];
        var TrCount = $("#ECNtbl tr").length;
        var str = $("#pn_ftype_code").val();
        var filesubtype1 = str[2];
        var pm_file_code = $("#pn_fsize_code").val();
        var pm_fsize_code = $("#pn_ftype_code").val();

        for (var i = 0; i < TrCount - 1; i++) {
            AllValue.push({
                pm_dim_parm_catg: $("#ECNtbl tr #valuename1 input").eq(i).val(),
                pm_dim_parm_name: $("#ECNtbl tr #valuename2 input").eq(i).val(),
                pm_dim_parm_code: $("#ECNtbl tr #valuename3 input").eq(i).val(),
                pm_fstype_desc: $("#ECNtbl tr #valuename4 input").eq(i).val(),
                pm_dim_parm_scrnvalue: $("#ECNtbl tr #Range2 input").eq(i).val(),
                pm_dim_parm_dwgvalue: $("#ECNtbl tr #Range1 input").eq(i).val(),
                filesubtype: filesubtype1,
                pm_file_code: $("#pn_fsize_code").val(),
                pm_fsize_code: $("#pn_ftype_code").val()
            });
        }
        var postData = AllValue;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ManageSKUList1", "FileSubType")',
            data: JSON.stringify(postData),
            dataType: "json",
            contentType: 'application/json;',
            success: function (data) {
                location = data.url;
            },
        });
    }
    function RunImpactAnalysis1() {
        var AllValue = [];
        var TrCount = $("#ECNtbl tr").length;
        for (var i = 0; i < TrCount; i++) {
            AllValue.push({
                pm_dim_parm_catg: $("#ECNtbl tr #valuename1 input").eq(i).val(),
                pm_dim_parm_name: $("#ECNtbl tr #valuename2 input").eq(i).val(),
                pm_dim_parm_scrnvalue: $("#ECNtbl tr #Range1 input").eq(i).val(),
                pm_dim_parm_dwgvalue: $("#ECNtbl tr #Range2 input").eq(i).val()
            });
        }


    }
</script>



