﻿@model JKFIlesEntity.FileSubTypeEntity
@{
    ViewBag.Title = "_NewRequest";
    Layout = "";
}

<div class="panel-body">
    <table width="100%" border="1" bordercolor="#CCCCCC">
        <tr>
            <td width="10%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
            <td width="13%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size(In inch)</div></td>
            <td width="13%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></td>
            <td width="15%" bgcolor="#e8e8e8" class="text-black"><div align="center">Sub Type</div></td>
            <td width="24%" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
            <td width="9%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
            @*<td width="16%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit Processes</div></td>*@
        </tr>
        @foreach (var list in Model.fileSubTypeNoActiveList)
        {
            <tr>
              
                <td align="center"><a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.pm_request_type })" target="_blank">@list.pm_request_type</a></td>
             
                <td>
                    <div align="center">
                        @list.fs_size_inches
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.ft_ftype_desc
                    </div>
                </td>
                <td>
                    <div align="center">
                        @list.pm_fstype_desc
                    </div>
                </td>
                
                <td>
                    <div align="center">
                        @*@list.Remarks*@
                    </div>
                </td>
                <td>
                    <div align="center">
                        @if (Session["Role"].ToString() == "ALL_Access" || Session["ROle"].ToString()=="EMT_Prod_User")
                        {
                            <a href="javascript:void(0);" class="anchorDetail" data-id="@list.pm_request_id,@list.pm_request_type"><i class="fa fa-pencil"></i></a>
                        }
                        else
                        {
                            <a><i class="fa fa-pencil"></i></a>
                        }
                    </div>
                    <div align="center"></div>
                    <div align="center"></div>
                </td>
                @*<td>
                    <div align="center">
                        <a href="javascript:void(0);" class="anchorDetail" data-id="@list.pm_request_id,@list.pm_request_type"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div align="center"></div>
                    <div align="center"></div>
                </td>*@
            </tr>

        }
    </table>

</div>
