﻿@model JKFIlesEntity.FileSubTypeEntity

<div class="modal-header">
    <h5 class="modal-title" id="new">Add New File Size</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditfileSubTypeDetails", "FileSubType")" method="post">
    <div class="modal-body">
        @Html.HiddenFor(model => model.pm_request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.pm_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.filesizecode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.filetypecode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldsubtypename, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldsubtypecode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldrmcode, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldwtinkgthousand, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fielddescription, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldwidth, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldthikness, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldgmssku, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldmood_length, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldlengthmm, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldlengthP1mm, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldwidthatShoulder, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldthiknessatshoulder, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldwidthattip, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldthiknessattip, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldpointsizeatexactlength, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldbodydimentionwidth, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldbodydimentionthikness, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldbodypointsize, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldtapperlengthmm, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldlengthaftercuttingbefore, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldatshoulder, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldonedge, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldupcut, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldovercut, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldedgecut, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldhardness, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldangel, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldradious, new { @class = "form-control " })
        @Html.HiddenFor(model => model.fieldRemarks, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="150">Parameter Category</th>
                    <th width="150">Parameter Name</th>
                    <th width="144">Parameter Range</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td colspan="2">Sub Type Name</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.subtypename, new { @class = "form-control ", @placeholder = "Sub Type Name", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="2">Sub Type Code</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.subtypecode, new { @class = "form-control ", @placeholder = "Sub Type Code", @required = "Required", @maxlength = "1" })</td>
                </tr>
                <tr>
                    <td colspan="2">RMCODE</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.rmcode, new { @class = "form-control ", @placeholder = "RMCODE", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="2">WT. IN KG/1000 NOS.</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.wtinkgthousand, new { @class = "form-control ", @placeholder = "WT. IN KG/1000 NOS.", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="2">DESCRIPTION</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.description, new { @class = "form-control ", @placeholder = "DESCRIPTION", @required = "Required" })</td>
                </tr>


                <tr>
                    <td>RAW MATERIAL</td>
                    <td>@Html.DisplayFor(model => model.fieldwidth)</td>
                    <td>@Html.TextBoxFor(model => model.widthrange, new { @class = "form-control ", @placeholder = "RAW MATERIAL", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.width, new { @class = "form-control ", @placeholder = "WIDTH", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>RAW MATERIAL</td>
                    <td>@Html.DisplayFor(model => model.fieldthikness)</td>
                    <td>@Html.TextBoxFor(model => model.thiknessrange, new { @class = "form-control ", @placeholder = "RAW MATERIAL", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.thikness, new { @class = "form-control ", @placeholder = "THICKNESS", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="2">NET WT. GMS/SKU</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.gmssku, new { @class = "form-control ", @placeholder = "NET WT. GMS/SKU", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>CROPPING</td>
                    <td>@Html.DisplayFor(model => model.fieldmood_length)</td>
                    <td>@Html.TextBoxFor(model => model.mood_lengthrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.mood_length, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>BODY</td>
                    <td>@Html.DisplayFor(model => model.fieldlengthmm)</td>
                    <td>@Html.TextBoxFor(model => model.lengthmmrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.lengthmm, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>TANG</td>
                    <td>@Html.DisplayFor(model => model.fieldlengthP1mm)</td>
                    <td>@Html.TextBoxFor(model => model.lengthP1mmrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.lengthP1mm, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>TANG</td>
                    <td>@Html.DisplayFor(model => model.fieldwidthatShoulder)</td>
                    <td>@Html.TextBoxFor(model => model.widthatShoulderrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.widthatShoulder, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>TANG</td>
                    <td>@Html.DisplayFor(model => model.fieldthiknessatshoulder)</td>
                    <td>@Html.TextBoxFor(model => model.thiknessatshoulderrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.thiknessatshoulder, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>TANG</td>
                    <td>@Html.DisplayFor(model => model.fieldwidthattip)</td>
                    <td>@Html.TextBoxFor(model => model.widthattiptrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.widthattip, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>TANG</td>
                    <td>@Html.DisplayFor(model => model.fieldthiknessattip)</td>
                    <td>@Html.TextBoxFor(model => model.thiknessattiprange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.thiknessattip, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>FORGING</td>
                    <td>@Html.DisplayFor(model => model.fieldpointsizeatexactlength)</td>
                    <td>@Html.TextBoxFor(model => model.pointsizeatexactlengthrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.pointsizeatexactlength, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>GRINDING</td>
                    <td>@Html.DisplayFor(model => model.fieldbodydimentionwidth)</td>
                    <td>@Html.TextBoxFor(model => model.bodydimentionwidthrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.bodydimentionwidth, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>GRINDING</td>
                    <td>@Html.DisplayFor(model => model.fieldbodydimentionthikness)</td>
                    <td>@Html.TextBoxFor(model => model.bodydimentionthiknessrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.bodydimentionthikness, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>GRINDING</td>
                    <td>@Html.DisplayFor(model => model.fieldbodypointsize)</td>
                    <td>@Html.TextBoxFor(model => model.bodypointsizerange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.bodypointsize, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>TAPER</td>
                    <td>@Html.DisplayFor(model => model.fieldtapperlengthmm)</td>
                    <td>@Html.TextBoxFor(model => model.tapperlengthmmrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.tapperlengthmm, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>BODY</td>
                    <td>@Html.DisplayFor(model => model.fieldlengthaftercuttingbefore)</td>
                    <td>@Html.TextBoxFor(model => model.lengthaftercuttingbeforerange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.lengthaftercuttingbefore, new { @class = "form-control ", @required = "Required" })</td>
                </tr>

                <tr>

                    <td>UNCUT</td>
                    <td>@Html.DisplayFor(model => model.fieldatshoulder)</td>
                    <td>@Html.TextBoxFor(model => model.atshoulderrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.atshoulder, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>UNCUT</td>
                    <td>@Html.DisplayFor(model => model.fieldonedge)</td>
                    <td>@Html.TextBoxFor(model => model.onedgerange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.onedge, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>INCLINATION</td>
                    <td>@Html.DisplayFor(model => model.fieldupcut)</td>
                    <td>@Html.TextBoxFor(model => model.upcutrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.upcut, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>INCLINATION	</td>
                    <td>@Html.DisplayFor(model => model.fieldovercut)</td>
                    <td>@Html.TextBoxFor(model => model.overcutrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.overcut, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>INCLINATION	</td>
                    <td>@Html.DisplayFor(model => model.fieldedgecut)</td>
                    <td>@Html.TextBoxFor(model => model.edgecutrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.edgecut, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>HARDNESS</td>
                    <td>@Html.DisplayFor(model => model.fieldhardness)</td>
                    <td>@Html.TextBoxFor(model => model.hardnessrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.hardness, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>SHOULDER</td>
                    <td>@Html.DisplayFor(model => model.fieldangel)</td>
                    <td>@Html.TextBoxFor(model => model.angelrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.angel, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>

                    <td>SHOULDER</td>
                    <td>@Html.DisplayFor(model => model.fieldradious)</td>
                    <td>@Html.TextBoxFor(model => model.radiousrange, new { @class = "form-control ", @required = "Required" })</td>

                    <td>@Html.TextBoxFor(model => model.radious, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">Send for Approval</button>
        </div>
    </div>
</form>
