﻿
@model JKFIlesEntity.FileSubTypeEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section>
    <div class="content">

        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">File Sub Type Details</h3>
            </div>
            <div class="box-body">
                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Requests</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse ">
                                @Html.Action("NewRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Requests for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse  ">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>File Sub Type Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @if (Session["Role"].ToString() == "EMT_Prod_User" )
                                        {
                                            <a href="#" class="btn btn-primary pull-right mr-5 " data-toggle="modal" data-target="#addsubfamily">Add Sub Type</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-default pull-right mr-5">Add Sub Type</a>
                                        }
                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>

                                        <div class="col-md-12">
                                            @*@Html.Action("Filesubtypeddlmstr")*@
                                        </div>
                                        <div style="clear:both"></div>
                                        <img src="~/Content/Images/loader.GIF" id="loading" style="display:none;margin:0 auto" />
                                       
                                        <div style="clear:both"></div>
                                        @Html.Action("Filesubtypedetailsmstr")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="modal fade bd-example-modal-md" id="process" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sizenew">New </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>With Values</h4>
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td><strong>File Type</strong></td>
                                    <td width="264">Flat</td>
                                    <td width="410"><strong>Sub Type</strong></td>
                                    <td width="384">Brass</td>
                                </tr>
                                <tbody>


                                    <tr>
                                        <td width="212">Select Processes</td>
                                        <td colspan="3">
                                            <div class="form-group">
                                                <select class="form-control select2" multiple="multiple" data-placeholder="Select Processes" style="width: 100%;">
                                                    <option selected>Cropping</option>
                                                    <option selected>Tang Forging</option>
                                                    <option selected>Tang swagging</option>
                                                    <option>Round Tang Forging</option>
                                                    <option>Annealing</option>
                                                    <option>Tang Punching</option>
                                                    <option>Point Punching</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="4"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save </a>
                        <br>
                        <br>
                        <br>
                        <div class="collapse" id="reject">
                            <div class="card card-body">
                                <textarea name="" cols="" rows="3" required></textarea>
                                <div style="clear:both"></div>
                                <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sizenew">New </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>With Values</h4>
                        <div class=" table-responsive" style="height:400px; overflow-y:scroll;">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="303">Parameter Category</th>
                                        <th width="405"><span>Parameter</span> Name</th>
                                        <th width="266"><span>Parameter</span> Range</th>
                                        <th width="279"><span>Parameter</span> Value</th>
                                    </tr>
                                    <tr>
                                        <td>Sub Type </td>
                                        <td>Name</td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                    </tr>
                                    <tr>
                                        <td>Sub Type </td>
                                        <td>Code</td>
                                        <td><input type="text" class="form-control" name="textfield25" id="textfield47" /></td>
                                        <td><input type="text" class="form-control" name="textfield25" id="textfield47" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Raw Material </td>
                                        <td width="405">Raw Material </td>
                                        <td width="266"><input type="text" class="form-control" name="textfield3" id="textfield3" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield3" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Raw Material </td>
                                        <td width="405"> Width</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Raw Material </td>
                                        <td width="405">Thickness</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield4" id="textfield25" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield4" id="textfield25" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Cropping </td>
                                        <td width="405">Mood Length (+1 / -0 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield5" id="textfield26" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield5" id="textfield26" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Body</td>
                                        <td width="405"> Length (In mm) </td>
                                        <td width="266"><input type="text" class="form-control" name="textfield6" id="textfield27" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield6" id="textfield27" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Tang</td>
                                        <td width="405"> Length (%%P 1mm) </td>
                                        <td width="266"><input type="text" class="form-control" name="textfield7" id="textfield28" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield7" id="textfield28" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Tang</td>
                                        <td width="405"> Width at Shoulder (%%P 0.5 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield8" id="textfield29" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield8" id="textfield29" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Tang</td>
                                        <td width="405"> Thickness at Shoulder (%%P 0.5 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield9" id="textfield30" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield9" id="textfield30" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Tang</td>
                                        <td width="405"> Width at Tip (%%P 0.3 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield10" id="textfield31" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield10" id="textfield31" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Tang</td>
                                        <td width="405"> Thickness at Tip (%%P 0.3 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield11" id="textfield32" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield11" id="textfield32" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Forging</td>
                                        <td width="405">Point Size (Punching) At Exact Length in mm</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield12" id="textfield33" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield12" id="textfield33" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Grinding</td>
                                        <td width="405"> Body Dimension Width (%%P 0.5 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield13" id="textfield34" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield13" id="textfield34" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Grinding</td>
                                        <td width="405"> Body Dimension Thickness (%%P 0.5 In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield14" id="textfield35" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield14" id="textfield35" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Grinding</td>
                                        <td width="405"> Body Dimension Point Size at Exact Length (In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield15" id="textfield36" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield15" id="textfield36" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Taper</td>
                                        <td width="405"> Length (In Mm) (%%P 1 mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield16" id="textfield37" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield16" id="textfield37" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Body</td>
                                        <td width="405"> Length After Flat Side Cutting Before Hardening (In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield17" id="textfield38" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield17" id="textfield38" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Uncut</td>
                                        <td width="405"> at Shoulder (%%P 2 mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield18" id="textfield39" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield18" id="textfield39" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Uncut</td>
                                        <td width="405"> on Edge (%%P 2 mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield19" id="textfield40" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield19" id="textfield40" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Inclination</td>
                                        <td width="405">Up cut  (%%P 3)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield20" id="textfield41" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield20" id="textfield41" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Inclination</td>
                                        <td width="405">Overcut  (%%P 3)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield21" id="textfield42" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield21" id="textfield42" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Inclination</td>
                                        <td width="405">Edge cut  (%%P 3)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield22" id="textfield43" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield22" id="textfield43" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Hardness</td>
                                        <td width="405">Hardness (In HRC)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield23" id="textfield44" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield23" id="textfield44" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Shoulder</td>
                                        <td width="405"> Angle (In degree)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield24" id="textfield45" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield24" id="textfield45" /></td>
                                    </tr>
                                    <tr>
                                        <td width="303">Shoulder</td>
                                        <td width="405"> Radius (In mm)</td>
                                        <td width="266"><input type="text" class="form-control" name="textfield25" id="textfield46" /></td>
                                        <td width="279"><input type="text" class="form-control" name="textfield25" id="textfield46" /></td>
                                    </tr>





                                    <tr>
                                        <td colspan="4"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                        <br>
                        <br>
                        <br>
                        <div class="collapse" id="reject">
                            <div class="card card-body">
                                <textarea name="" cols="" rows="3" required></textarea>
                                <div style="clear:both"></div>
                                <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="addsubfamily" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Sub Type </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <div id="scroll-wrap">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th width="303">Parameter Category</th>
                                            <th width="405"><span>Parameter</span> Name</th>
                                            <th width="266"><span>Parameter</span> Range</th>
                                            <th width="279"><span>Parameter</span> Value</th>
                                        </tr>
                                        <tr>
                                            <td>Sub Type </td>
                                            <td>Name</td>
                                            <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                            <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                        </tr>
                                        <tr>
                                            <td>Sub Type </td>
                                            <td>Code</td>
                                            <td><input type="text" class="form-control" name="textfield25" id="textfield47" /></td>
                                            <td><input type="text" class="form-control" name="textfield25" id="textfield47" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Raw Material </td>
                                            <td width="405">Raw Material </td>
                                            <td width="266"><input type="text" class="form-control" name="textfield3" id="textfield3" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield3" id="textfield3" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Raw Material </td>
                                            <td width="405"> Width</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Raw Material </td>
                                            <td width="405">Thickness</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield4" id="textfield25" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield4" id="textfield25" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Cropping </td>
                                            <td width="405">Mood Length (+1 / -0 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield5" id="textfield26" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield5" id="textfield26" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Body</td>
                                            <td width="405"> Length (In mm) </td>
                                            <td width="266"><input type="text" class="form-control" name="textfield6" id="textfield27" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield6" id="textfield27" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Tang</td>
                                            <td width="405"> Length (%%P 1mm) </td>
                                            <td width="266"><input type="text" class="form-control" name="textfield7" id="textfield28" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield7" id="textfield28" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Tang</td>
                                            <td width="405"> Width at Shoulder (%%P 0.5 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield8" id="textfield29" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield8" id="textfield29" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Tang</td>
                                            <td width="405"> Thickness at Shoulder (%%P 0.5 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield9" id="textfield30" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield9" id="textfield30" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Tang</td>
                                            <td width="405"> Width at Tip (%%P 0.3 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield10" id="textfield31" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield10" id="textfield31" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Tang</td>
                                            <td width="405"> Thickness at Tip (%%P 0.3 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield11" id="textfield32" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield11" id="textfield32" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Forging</td>
                                            <td width="405">Point Size (Punching) At Exact Length in mm</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield12" id="textfield33" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield12" id="textfield33" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Grinding</td>
                                            <td width="405"> Body Dimension Width (%%P 0.5 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield13" id="textfield34" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield13" id="textfield34" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Grinding</td>
                                            <td width="405"> Body Dimension Thickness (%%P 0.5 In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield14" id="textfield35" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield14" id="textfield35" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Grinding</td>
                                            <td width="405"> Body Dimension Point Size at Exact Length (In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield15" id="textfield36" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield15" id="textfield36" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Taper</td>
                                            <td width="405"> Length (In Mm) (%%P 1 mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield16" id="textfield37" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield16" id="textfield37" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Body</td>
                                            <td width="405"> Length After Flat Side Cutting Before Hardening (In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield17" id="textfield38" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield17" id="textfield38" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Uncut</td>
                                            <td width="405"> at Shoulder (%%P 2 mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield18" id="textfield39" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield18" id="textfield39" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Uncut</td>
                                            <td width="405"> on Edge (%%P 2 mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield19" id="textfield40" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield19" id="textfield40" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Inclination</td>
                                            <td width="405">Up cut  (%%P 3)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield20" id="textfield41" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield20" id="textfield41" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Inclination</td>
                                            <td width="405">Overcut  (%%P 3)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield21" id="textfield42" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield21" id="textfield42" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Inclination</td>
                                            <td width="405">Edge cut  (%%P 3)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield22" id="textfield43" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield22" id="textfield43" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Hardness</td>
                                            <td width="405">Hardness (In HRC)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield23" id="textfield44" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield23" id="textfield44" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Shoulder</td>
                                            <td width="405"> Angle (In degree)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield24" id="textfield45" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield24" id="textfield45" /></td>
                                        </tr>
                                        <tr>
                                            <td width="303">Shoulder</td>
                                            <td width="405"> Radius (In mm)</td>
                                            <td width="266"><input type="text" class="form-control" name="textfield25" id="textfield46" /></td>
                                            <td width="279"><input type="text" class="form-control" name="textfield25" id="textfield46" /></td>
                                        </tr>



                                        <tr>
                                            <td width="303">Select Processes</td>
                                            <td colspan="3">
                                                <select class="form-control select2" multiple="multiple" data-placeholder="Select Processes" style="width: 100%;">
                                                    <option>Cropping</option>
                                                    <option>Tang Forging</option>
                                                    <option>Tang swagging</option>
                                                    <option>Round Tang Forging</option>
                                                    <option>Annealing</option>
                                                    <option>Tang Punching</option>
                                                    <option>Point Punching</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4"><textarea name="textarea" id="textarea" cols="45" rows="3" placeholder="Additional Information"></textarea></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="viewprocess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Operations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" border="1">
                                <tr>
                                    <td width="50%" height="27" bgcolor="#333333" class="style1"><div align="center">Sq.no.</div></td>
                                    <td width="50%" bgcolor="#333333" class="style1"><div align="center">Operation Sequence</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">10</div></td>
                                    <td><div align="center">Cropping</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">20</div></td>
                                    <td><div align="center">Tang Forging</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">30</div></td>
                                    <td><div align="center">Round Tang Forging</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">40</div></td>
                                    <td><div align="center">Annealing</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">60</div></td>
                                    <td><div align="center">Tang Punching</div></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>      
    </div>

</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>
<!-- BY SWAPNIL -->
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        var codedata = '@(TempData["msg"])';
        if (codedata != '') {
            alert('@(TempData["msg"])');
        }
    });
    var TeamDetailPostBackURL = '@Url.Action("FileSubtypeDetails", "FileSubType")';
    $(function () {
        $(".anchorDetail").click(function () {
            
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "type": type },
                datatype: "json",
                success: function (data) {
                    
                    $('#myModalContent').html(data);
                    $('#editcustomer').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
        @*$(".edit").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            //x = $(this).data('id');
            $.ajax({
                url: '@Url.Action("getfilesubtype", "FileSubType")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#edit').modal('show');
                }
            })
        });*@

        $('.CountClick').click(function () {
            
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });



</script>



