﻿
@{
    ViewBag.Title = "_ApprovedRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                    <td height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">Material</div></td>
                    <td bgcolor="#e8e8e8" class="text-black"><div align="center">Chart No</div></td>
                    <td bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                    <td bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit</div></td>
                </tr>
                @foreach (var list in Model.outerboxNOApproveList)
                {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.ob_request_type == "S")
                                {
                                    <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">
                                        @list.ob_request_type@list.ob_request_id
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">  @list.ob_request_type@list.ob_request_id</a>
                                }
                            </div>
                        </td>
                        <td><div align="center"><a href="#" class="" data-target="#outerimage" onclick="showoutermaster('@list.ob_box_chartnum', '@list.ob_box_type')" data-toggle="modal" >@list.fs_size_code</a></div></td>
                        <td>
                            <div align="center">
                                @list.ob_box_type
                            </div>
                        </td>
                        <td>
                            <div align="center">
                               
                                    <p>@list.ob_box_chartnum</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                                {
                                    @*<a href="@Url.Action("UpdateOuterApprove", "OuterMaster", new { ID = @list.ob_request_id, type = @list.ob_request_type })" class="CountClick btn btn-warning" data-id="@list.ob_request_id">Approve</a>*@
                                    <a href="#" data-toggle="modal" onclick="RejectApprove('@list.ob_request_type@list.ob_request_id','@list.ob_request_id','@list.ob_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                }
                                else
                                {
                                    <a href="" class="btn btn-warning">Approve</a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function showoutermaster(i, j) {
        var ob_box_chartnum = i;
        var ob_box_type = j;
        $.ajax({
            url: '@Url.Action("showoutermaster", "OuterMaster")',
            data: { ob_box_chartnum: ob_box_chartnum, ob_box_type: ob_box_type },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content").html(data);
                $('#outerimage').modal('show');
            }
        })
    }
</script>