﻿@model JKFIlesEntity.OuterBoxMasterEntity
@{
    ViewBag.Title = "_EditOuterView";
    Layout = "";
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="new">View/Edit Outer Box</h5>
        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <br>
        @if (Model.outerboxMasterList.Count != 0)
        {
            <img src="~/ProjectImages/Outer/@Model.outerboxMasterList[0].ob_box_imgname" class="img-responsive">
        }
        else
        {

        }



        <table width="100%" border="1" class="table table-bordered">
            <tbody>
                <tr>
                    <th width="92" height="30"><div align="center">Parameter Name	</div></th>

                    <th width="166"><div align="center"><span>Parameter Value</span></div></th>
                </tr>
                @foreach (var item in @Model.outerboxMasterList)
                {
                    <tr>
                        <td align="center" width="239" nowrap="nowrap" valign="bottom">@item.obd_parm_name</td>

                        <td align="center">@item.obd_parm_scrnvalue</td>
                    </tr>
                }
            </tbody>

        </table>

        @*<a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>*@
        <br>
   
    </div>

    <div style="clear:both"></div>
    <div class="modal-footer">
        @*<button type="button" class="btn btn-primary">Edit</button>*@

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</div>

