﻿
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>

                    <td height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">Material</div></td>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Chart No</div></td>
                    <td bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit</div></td>
                </tr>
                @foreach (var list in Model.outerboxNOActiveList)
            {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.ob_request_type == "S")
                                {
                                    <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">
                                        @list.ob_request_type@list.ob_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">  @list.ob_request_type@list.ob_request_id</a>
                                }

</div>
                        </td>
                        <td><div align="center">@list.fs_size_code</div></td>
                        <td>
                            <div align="center">
                                @list.ob_box_type
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="#" class="outerimagecls" data-target="#outerimage" data-toggle="modal" data-id="@list.ob_box_chartnum,@list.ob_box_type">
                                    <p>@list.ob_box_chartnum</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString()=="EMT_Disp_User")
                                {
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@list.ob_request_id,@list.ob_request_type"><i class="fa fa-pencil"></i></a>
                                }
                                else
                                {
                                    <a><i class="fa fa-pencil"></i></a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
