﻿@model JKFIlesEntity.OuterBoxMasterEntity
@{
    ViewBag.Title = "_Outerddlmaster";
}

<form class="form-inline" method="post">


    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.fs_size_code, new SelectList(Model.listsizecode, "fs_size_code", "fs_size_code"), "File Size Code", new { @class = "form-control select2 ChangeouterApprove", @style = "width:100 % ", @id = "fs_size_code" })
        @Html.HiddenFor(m => m.fs_size_code)
    </div>

    @*<select class="form-control" placeholder="Select Process">
            <option selected disabled>Select File Size Code</option>
            <option value="1">04</option>
            <option value="2">06</option>
            <option value="3">08</option>
            <option value="4">10</option>

        </select>*@





    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.ob_box_type, new SelectList(Model.listoutertype, "ob_box_type", "ob_box_type"), "Outer Type", new { @class = "form-control select2 ChangeouterApprove", @style = "width:100 % ", @id = "ob_box_type" })
        @Html.HiddenFor(m => m.ob_box_type)
    </div>
    @*<select class="form-control" placeholder="Select ">
            <option selected disabled>Type</option>
            <option value="1">Wax Paper</option>
            <option value="2">PVC Sleeve</option>


        </select>*@





</form>

