﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.OuterBoxMasterEntity>
@{
    ViewBag.Title = "_OuterdetailsMaster";
}

<div id="divPartialView1">
    <div class="col-md-6">
        <div class="table-responsive">

            <br>

            <table width="100%" border="1" bordercolor="#CCC">
                <tr>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>

                    <td height="32" bgcolor="#e8e8e8" class=" text-black"><div align="center">Material</div></td>
                    <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Chart No</div></td>

                </tr>

                @for (int i = 0; i < Model.Count; i++)
            {
                    <tr>
                        <td><div align="center">@Model[i].fs_size_code</div></td>
                        <td>
                            <div align="center">


                                @Model[i].ob_box_type

                            </div>

                        </td>

                        <td>
                            <div align="center">

                                <a href="#" class="outerimagecls" data-target="#outerimage" data-toggle="modal" data-id="@Model[i].ob_box_chartnum,@Model[i].ob_box_type">
                                    <p>@Model[i].ob_box_chartnum</p>
                            </div>
                        </td>


                    </tr>

                }
                @*@foreach (var list in Model.outerboxMasterEntityList)
                    {
                        <tr>
                            <td><div align="center">@list.fs_size_code</div></td>


                            <td><div align="center">@list.ob_box_type</div></td>

                            <td>
                                <div align="center">
                                    <a href="#" class="outerimage" data-id="@list.ob_box_chartnum,@list.ob_box_type">
                                        @list.ob_box_chartnum
                                    </a>
                                </div>
                            </td>

                        </tr>
                    }*@
            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesize = ViewBag.filesize, outertype = ViewBag.outertype }))
                </div>
            </div>


            <p class="style1">&nbsp;</p>
        </div>
    </div>
</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")




