﻿@model JKFIlesEntity.OuterBoxMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section>
    <div class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Outer Details</h3>
            </div>
            <div class="box-body">
                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Requests</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse ">
                                @Html.Action("NewRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Requests for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Outer Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @if (Session["Role"].ToString() == "EMT_Disp_User")
                                        {
                                            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#outernew">Add New </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default pull-right">Add New </a>
                                        }
                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">

                                        @Html.Action("Outerddlmaster")



                                    </div>
                                    <div style="clear:both"></div>
                                    <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                    @Html.Action("OuterdetailsMaster")
                                </div>
                            </div>
                        </div>



                    </div>
                </div>



            </div>

        </div>






        <div class="modal fade bd-example-modal-lg" id="outeredit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> View/Edit Outer Box </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>With Values</p>
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="203" style="width: 10px">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="204" style="width: 10px">Parameter Name</th>
                                        <th width="225">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>File Size</p></td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield7" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Type</option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>File Sub Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Sub Type</option>
                                                <option>Regular</option>
                                                <option>Aluminium</option>
                                                <option>Brass</option>
                                                <option>W/R</option>
                                                <option>Handle</option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Material</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Outer Pack Length</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield23" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Description</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield4" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Width</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Finish</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Height</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Application</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield9" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Outer Pack Batten Position</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                        <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade bd-example-modal-lg" id="outernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Outer Box </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="203" style="width: 10px">Parameter Name</th>
                                        <th width="144">Parameter Value</th>
                                        <th width="204" style="width: 10px">Parameter Name</th>
                                        <th width="225">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>File Size</p></td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield7" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Type</option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap"><p>File Sub Type</p></td>
                                        <td>
                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected">File Sub Type</option>
                                                <option>Regular</option>
                                                <option>Aluminium</option>
                                                <option>Brass</option>
                                                <option>W/R</option>
                                                <option>Handle</option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Material</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Outer Pack Length</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield23" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Description</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield4" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Width</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Finish</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                        <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Height</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Application</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield9" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Outer Pack Batten Position</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                        <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>



        <div style="clear:both"></div>

    </div>

</section>
<div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade  bd-example-modal-lg" id="outerimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  " role="document">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script>
    var TeamDetailPostBackURL = '@Url.Action("OuterChartDetails", "OuterMaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "type": type },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#editcustomer').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            debugger;
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".ChangeouterApprove").change(function () {
            $("#loading").css("display", "block");
            var filesize = $("#fs_size_code").val();
            var outertype = $("#ob_box_type").val();

            $.ajax({
                url: '@Url.Action("OuterdetailsMaster", "OuterMaster")',
                data: { filesize: filesize, outertype: outertype },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>
<script>
    $(document).ready(function () {
        $(".outerimagecls").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editOutermaster", "OuterMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#outerimage').modal('show');
                }
            })
        });



        @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
    });
</script>
<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "OuterMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdateOuterApprove", "OuterMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>
