﻿

@model JKFIlesEntity.OuterDetailsEntity

<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Outer Chart</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditOuterChartDetails", "OuterMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">          
        @Html.HiddenFor(model => model.ob_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ob_request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ob_box_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.ob_box_fsize_code, new { @class = "form-control " })
     
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                
                    <th width="100" style="width: 10px">Parameter Range</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td colspan="1">OUTER PACK CHART NO</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.obd_boxdtl_recid, new { @class = "form-control ", @required = "Required" })
                    </td>
                </tr>
                <tr>
                    <td colspan="1">OUTER PACK MATERIAL</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.OUTERPACKMATERIAL, new { @class = "form-control ", @required = "Required" })
                    </td>
                </tr>
                <tr>
                    <td colspan="1">OUTER PACK DESCRIPTION</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.OUTERPACKDESCRIPTION, new { @class = "form-control ", @required = "Required" })
                    </td>
                </tr>
                <tr>
                    <td colspan="1">OUTER PACK FINISH</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.OUTERPACKFINISH, new { @class = "form-control ", @required = "Required" })
                    </td>
                </tr>
                <tr>
                    <td colspan="1">OUTER PACK APPLICATION</td>
                    <td colspan="2">
                       @Html.TextBoxFor(model => model.OUTERPACKAPPLICATION, new { @class = "form-control ", @required = "Required" })
                    </td>
                </tr>


                <tr>
                    <td>OUTER PACK LENGTH</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OUTERPACKLENGTHrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OUTERPACKLENGTH, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                
                <tr>
                    <td>OUTER PACK WIDTH</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OUTERPACKWIDTHrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OUTERPACKWIDTH, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                
                <tr>
                    <td>OUTER PACK HEIGHT</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OUTERPACKHEIGHTrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OUTERPACKHEIGHT, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
               
                <tr>
                    <td>OUTER PACK BATTEN POSITION</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OUTERPACKBATTENPOSITIONrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OUTERPACKBATTENPOSITION, new { @class = "form-control ", @required = "Required" })</td>
                    </tr>
                <tr>
                <tr>
                    <td colspan="1">IMAGE</td>
                    <td colspan="1"><img src="~/ProjectImages/Outer/@Url.Content(Model.OUTERPACKIMG)" alt="Image" style="height:150px;width:150px;" /></td>
                    <td><input type="file" name="file" id="file" /></td>
                </tr>
                <tr>
                    <td colspan="1">OTHER1</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OTHER1range, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OTHER1, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="1">OTHER2</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OTHER2range, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OTHER2, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="1">OTHER3</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OTHER3range, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OTHER3, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="1">OTHER4</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OTHER4range, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OTHER4, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td colspan="1">OTHER5</td>
                    <td colspan="1">@Html.TextBoxFor(m => m.OTHER5range, new { @class = "form-control ", @required = "Required" })</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.OTHER5, new { @class = "form-control ", @required = "Required" })</td>
                </tr>                                                         
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>