﻿
@model JKFiles.WebApp.Models.StampDetailsModel
@{
    ViewBag.Title = "AddNew";
}
<form action="@Url.Action("SaveNewStamp","StampMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="stampnew">Add/Edit Stamp </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class=" table-responsive">
            <div id="scroll-wrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="116" style="width: 10px">Parameter Name</th>
                            <th width="155">Parameter Value</th>
                            <th style="width: 10px">Parameter Name</th>
                            <th width="160">Parameter Value</th>
                        </tr>
                        <tr>
                            <td>File Size Code</td>
                            <td>
                                @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size", new { @class = "form-control select2", @style = "width:100 % ", @id = "fsize_code1" })
                                @Html.HiddenFor(m => m.fsize_code)
                            </td>
                            <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                            <td>
                                @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "ft_ftype_code", "filetype"), "File Type", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "ft_ftype_desc1" })
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                            <td>
                                @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "pm_fstype_code", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "filesubtype1" })
                            </td>

                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>
                                @Html.DropDownListFor(model => model.costomerName, new SelectList(Model.listcstmstr, "costomerId", "costomerName"), "Customer Name", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "costomerName1" })
                            </td>
                            <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                            <td>
                                @Html.DropDownListFor(model => model.bm_brand_name, new SelectList(Model.listbrandmstr, "bm_brand_id", "bm_brand_name"), "Brand", new { @class = "form-control select2 ", @style = "width:100 % ", @id = "bm_brand_name1" })
                            </td>
                        </tr>

                        <tr>
                            <td>Stamp Type</td>
                            <td>
                                @Html.DropDownListFor(model => model.sm_stamp_mode, new SelectList(Model.stmpModeList, "sm_stamp_mode", "sm_stamp_mode"), "Stamp Type", new { @class = "form-control select2 stamp", @style = "width: 100%;", @id = "sm_stamp_mode1" })
                            </td>
                            <td width="" valign="bottom" nowrap="nowrap"><p>Stamp Chart No</p></td>
                            <td>@*<input type="text" class="form-control " name="textfield2" id="chartnum" />*@
                            @Html.TextBoxFor(m=>m.sm_chart_num,new { @class = "form-control " })
                            @Html.HiddenFor(m=>m.sm_chart_num)
                            @Html.HiddenFor(m=>m.sm_new_overwrite)
                            </td>
                        </tr>
                        <tr>
                            <td width="" valign="bottom" nowrap="nowrap">Insert Stamp Chart</td>
                            <td id="imagetd"><input type="file" name="imagefield" id="image" disabled="disabled" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        @*@if (Model.sm_chart_num == "No Chart Is Present!" || Model.sm_chart_num=="" || Model.sm_chart_num==null)
        {

        }
        else
        {*@
        <p id="para" style="display:none;">
            Do you want to overwrite the existing Stamp chart No <label id="chart"></label>?  &nbsp; &nbsp; <a href="#" id="yes" class="btn btn-default">
                Yes
            </a> <a href="#" id="no" class="btn btn-primary">No</a>
        </p>
        @*}*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>

    $(document).ready(function () {
        $(function () {
            $(".stamp").change(function () {
                                        debugger;
                                        var stampObj = getDetails();
                                        debugger;
                                        var model = JSON.stringify(stampObj);
                                        // alert(data)
                                        //   Swapnil validation
                                        if (stampObj == null) {
                                            alert("Please Select All Field!");
                                            // return;
                                        }

                $.get("@Url.Action("getChartNum", "StampMaster")", stampObj, function (data) {
                    $("#sm_chart_num").val(data)
                    $("#chart").val(data)
                    if (data == "No Chart Is Present!" || data == "" || data == null)
                    {
                        $("p").hide();
                        $("#imagetd input").prop('disabled', false);
                        $("#sm_new_overwrite").val("new")
                    }
                    else {
                        $("p").show()
                        $("#sm_chart_num").prop("disabled",false);
                        $("#imagetd input").prop('disabled', true);
                        $("#sm_new_overwrite").val("exist")
                    }
                    //$("#resultMessage").html(message);

                });


                @*$.ajax({
                    url: '@Url.Action("getChartNum", "StampMaster")',
                    data: model,
                    type: 'GET',
                    dataType: "json",
                    success: function (data, status, settings) {
                        //$("#chart_num").val(data);
                        //if ($("#chart_num").val() == "No Chart Is Present!") {
                        //    debugger;
                        //    $("#chart_num").attr("disabled", "disabled");
                        //    $("#btnViewStamps").attr("disabled", true);
                        //    //alert($("#chart_num").val());
                        //}
                        //else
                        //    $("#btnViewStamps").attr("disabled", false);
                    },
                    error: function (ajaxrequest, ajaxOptions, thrownError) {

                        $("#mydiv").html('Failed to load more content');
                    }
                });*@
            });
        });


        $("#yes").click(function () {
            $("#imagetd input").prop('disabled', false);
        });
        $("#no").click(function () {
            $("#imagetd input").prop('disabled', true);
        });

    });

    function getDetails() {
        debugger;
        var fsize_code = $('#fsize_code1').val();
        var ft_ftype_code = $('#ft_ftype_desc1').val();
        var pm_fstype_code = $('#filesubtype1').val();
        var costomerId = $('#costomerName1').val();
        var bm_brand_id = $('#bm_brand_name1').val();
        var sm_stamp_mode = $('#sm_stamp_mode1').val();
        return {
            fsize_code: fsize_code, ft_ftype_code: ft_ftype_code, pm_fstype_code: pm_fstype_code, costomerId: costomerId,
            bm_brand_id: bm_brand_id, sm_stamp_mode: sm_stamp_mode
        };
    }



    function SaveDetails() {
        debugger;
        var fsize_code = $('#fsize_code1').val();
        var ft_ftype_code = $('#ft_ftype_desc1').val();
        var pm_fstype_code = $('#filesubtype1').val();
        var costomerId = $('#costomerName1').val();
        var bm_brand_id = $('#bm_brand_name1').val();
        var sm_stamp_mode = $('#sm_stamp_mode1').val();
        var sm_chart_num = $("#chartnum").val();

        return {
            fsize_code: fsize_code, ft_ftype_code: ft_ftype_code, pm_fstype_code: pm_fstype_code, costomerId: costomerId,
            bm_brand_id: bm_brand_id, sm_stamp_mode: sm_stamp_mode, sm_chart_num: sm_chart_num
        };
    }

</script>