﻿@model JKFiles.WebApp.Models.StampDetailsModel
@{
    ViewBag.Title = "_ApprovedRequest";
    Layout = "";
}


<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">

            <tr>
                <td width="10%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Code</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size(In inch)</div></td>
                @*<td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></td>*@
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Stamp Mode</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center"> Chart No</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Action </div></td>
            </tr>
            <tr>
                @foreach (var list in Model.stmaplistNoApprove)
                {
                <tr>
                    <td>
                        <div align="center">
                         @if (@list.sm_request_type == "M")
                         {
                            <a href="#">@list.sm_request_type@list.sm_request_id</a>
                         }
                         else
                         {
                            <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.sm_request_type@list.sm_request_id</a>
                         }
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="#" data-target="#handleimage2" class="" data-toggle="modal" onclick="ShowStampChart('@list.sd_chart_num')">@list.Customer</a>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.Brand
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.File_code
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.Size
                        </div>
                    </td>
                    @*<td>
                        <div align="center">
                            @list.Cut_Type
                        </div>
                    </td>*@
                    <td>
                        <div align="center">
                            @list.StampMode
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.sd_chart_num
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="#" class="stampviewclass" data-id="@list.sm_chartdoc_name"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_MGR")
                            {
                                @*<a href="" class="btn btn-warning btnRejectinprocess" data-id="@list.sm_request_type@list.sm_request_id">
                                        Approve
                                    </a>*@
                                <a href="#" data-toggle="modal" onclick="RejectApprove('@list.sm_request_type@list.sm_request_id','@list.sm_request_id','@list.sm_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                            }
                            else
                            {
                                <span class="btn btn-warning">
                                    Approve
                                </span>
                            }

                            @*<a href="#" class="btn btn-warning" data-toggle="modal" data-target="#app">Approve</a>*@
                            @*<a href="@Url.Action("UpdateStampApprove", "StampMaster", new { ID = @list.sm_request_id,type= @list.sm_request_type })" class="CountClick btn btn-primary" data-id="@list.sm_request_id">Save For Approve</a>*@
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

                }
                </tr>

            </table>


        </div>

    </div>
    <div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Enter Remark</label>
                    <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                    <h4> Confirm Approval?</h4>
                    <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                    <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stamp View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="profileimage" src="" class="img-responsive">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="approve-content"></div>
            </div>
        </div>
    </div>
<div class="modal fade bd-example-modal-lg" id="handleimage2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content2"></div>
        </div>
    </div>
</div>
    <script>
        var requestid = "";
        var requestNo = "";
        var requesttype = "";
        function RejectApprove(i, j, k) {
            $("#exampleModalLabel").empty();
            requestid = i;
            requestNo = j;
            requesttype = k;
            $("#exampleModalLabel").append("Request No :", requestid);
        }

        function RejectRequest() {
            if(requesttype == 'M')
            {

                $.ajax({
                    url: '@Url.Action("RejectApprove", "StampMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "StampMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }

        }
        function UpdateApprove() {
            if (requesttype == 'M') {
                $.ajax({
                    url: '@Url.Action("UpdateStampApprove", "StampMaster")',
                    data: { ID: requestNo, reqtype: requesttype },
                    type: "POST",
                    datatype: "json",
                    success: function (data) {
                        location = data.url;
                    }
                })
            }
            else {
              $.ajax({
                url: '@Url.Action("UpdateStampApprove", "StampMaster")',
                  data: { ID: requestNo, reqtype: requesttype },
                type: 'POST',
                dataType: "json",

                success: function (data) {
                    location = data.url;

                },
                error: function () {
                    alert("No Records approve");
                }
            });
            }

        }


    </script>

    <script>
       
        function ShowStampChart(i) {
            var stampchart = i;
            $.ajax({
                url: '@Url.Action("GetShowStampChart", "StampMaster")',
                data: { stampchart: stampchart },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content2").html(data);
                    $('#handleimage2').modal('show');
                }
            })
        }

    </script>