﻿@model JKFiles.WebApp.Models.StampDetailsModel

<form action="@Url.Action("UpdateApproval","StampMaster")" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request No :
        @Html.DisplayFor(model => model.sm_request_type)  </h5>
        @Html.HiddenFor(model => model.sm_request_type)       
        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.DisplayName("Enter Remarks")
        @Html.TextAreaFor(m => m.sm_chart_remarks, 2, 45, new { })
        <h4> Confirm Approval?</h4>
        <button type="submit" class="btn btn-primary" name="actionType" value="approve">Approve</button>
        <button type="submit" class="btn btn-primary" name="actionType" value="reject">Reject</button>
        <a href="#" class="btn btn-default" data-dismiss="modal" >Cancel</a>
    </div>
</form>
