﻿@model JKFiles.WebApp.Models.StampDetailsModel
@{
    ViewBag.Title = "_NewRequest";
    Layout = "";
}


<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tbody>
                <tr>
                    <td width="10%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Code</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size(In inch)</div></td>
                    @*<td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Cut Type</div></td>*@
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Stamp Mode</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center"> Chart No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
                </tr>
                <tr>
                    @foreach (var list in Model.stmaplistactive)
                    {
                    <tr>
                        <td>
                            <div align="center">
                                @if (@list.sm_request_type == "M")
                                {
                                    <a href="#">@list.sm_request_type@list.sm_request_id</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.sm_request_type@list.sm_request_id</a>
                                }

                                @Html.HiddenFor(m => m.sm_request_type)
                                @Html.HiddenFor(m => m.sm_request_id)
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.Customer
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.Brand
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.File_code
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.Size
                            </div>
                        </td>
                        @*<td>
                            <div align="center">
                                @list.Cut_Type
                            </div>
                        </td>*@
                        <td>
                            <div align="center">
                                @list.StampMode
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.sd_chart_num
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Prod_User")
                                {
                                    <a href="#" class="editstamp" id="edit" data-id="@list.sm_request_type@list.sm_request_id" data-target="#stampnewrequest"
                                       data-toggle="modal"><i class="fa fa-pencil"></i></a>
                                }
                                else
                                {
                                    <a><i class="fa fa-pencil"></i></a>
                                }
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>

                    }
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
    <div class="modal fade bd-example-modal-lg" id="stampnewrequest" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div id="content">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            debugger;
            $(".editstamp").on('click', function () {
                var reqno = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("GetNewRquestApproval", "StampMaster")',
                    data: { RequestNo: reqno },
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        var Id = data;
                        // alert(Id)
                        $("#content").html(data);
                        $('#stampnewrequest').modal('show');
                    }
                })
            })
        });
    </script>