﻿
@model JKFiles.WebApp.Models.StampDetailsModel
@{
    ViewBag.Title = "AddNew";
}
<form action="@Url.Action("SaveStamp","StampMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="stampnew">Add/Edit Stamp 
                Request No :@Model.sm_request_type@Model.sm_request_id
                @Html.HiddenFor(m => m.sm_request_type)
                @Html.HiddenFor(m => m.sm_request_id)
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" table-responsive">
                <div id="scroll-wrap">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="116" style="width: 10px">Parameter Name</th>
                                <th width="155">Parameter Value</th>
                                <th style="width: 10px">Parameter Name</th>
                                <th width="160">Parameter Value</th>
                            </tr>
                            <tr>
                                <td>File Size Code</td>
                                <td>                                    
                                    @Html.TextBoxFor(m => m.fsize_code, new {@class="form-control", @disabled="disabled"})
                                    @Html.HiddenFor(m=>m.stamp_id)
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                <td>
                                    @Html.TextBoxFor(m => m.ft_ftype_code, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                <td>
                                    @Html.TextBoxFor(m => m.pm_fstype_code, new { @class = "form-control", @disabled = "disabled" })
                                </td>

                            </tr>
                            <tr>
                                <td>Customer</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                <td>
                                    @Html.TextBoxFor(m => m.bm_brand_name, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                            </tr>

                            <tr>
                                <td>Stamp Type</td>
                                <td>
                                    @Html.TextBoxFor(m => m.StampMode, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                                <td width="" valign="bottom" nowrap="nowrap">Stamp Size(mm)</td>
                                <td>
                                    @Html.TextBoxFor(m => m.stamp_size, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>Stamp Location</td>
                                <td>
                                    @Html.TextBoxFor(m => m.stamp_location, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                                <td width="" valign="bottom" nowrap="nowrap">Orientation</td>
                                <td>
                                    @Html.TextBoxFor(m => m.orientation, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>Font Size(mm)</td>
                                <td>
                                    @Html.TextBoxFor(m => m.fontSize, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                                <td width="" valign="bottom" nowrap="nowrap">No of sides</td>
                                <td>
                                    @Html.TextBoxFor(m => m.NumofSides, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td>Side1 IMG</td>
                                <td>
                                    <img src="~/ProjectImages/Stamps/@Model.side1img" alt="" class="img-responsive" />
                                </td>
                                <td>Side2 IMG</td>
                                <td>
                                    <img src="~/ProjectImages/InnerLabel/@Model.side2img" alt="" class="img-responsive" />
                                </td>
                            </tr>
                            <tr>
                                <td>Side3 IMG</td>
                                <td>
                                    <img src="~/ProjectImages/Stamps/@Model.side3img" alt="" class="img-responsive" />
                                </td>
                                <td>Side4 IMG</td>
                                <td>
                                    <img src="~/ProjectImages/InnerLabel/@Model.side4img" alt="" class="img-responsive" />
                                </td>
                            </tr>
                            


                            <tr>
                                <td>Stamp Chart Ref No</td>
                                <td>
                                    @Html.TextBoxFor(m => m.sm_chart_num, new { @class = "form-control " })
                                </td>
                                <td width="" valign="bottom" nowrap="nowrap">Stamp Chart</td>
                                <td id="imagetd"><input type="file" name="imagefieldnew" id="image"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            @*@if (Model.sm_chart_num == "No Chart Is Present!" || Model.sm_chart_num=="" || Model.sm_chart_num==null)
                {

                }
                else
                {*@
            <p id="para" style="display:none;">
                Do you want to overwrite the existing Stamp chart No <label id="chart"></label>?  &nbsp; &nbsp; <a href="#" id="yes" class="btn btn-default">
                    Yes
                </a> <a href="#" id="no" class="btn btn-primary">No</a>
            </p>
            @*}*@
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
        </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

