﻿@*@model JKFiles.WebApp.Models.StampDetailsModel*@

@using PagedList.Mvc
@model  PagedList.IPagedList<JKFiles.WebApp.Models.StampDetailsModel>
@{
    ViewBag.Title = "_StampdetailsMaster";
}
<div id="divPartialView1">
    <div class="table-responsive">
        <br>
        <table width="100%" border="1" bordercolor="#CCC" id="StampmsterGrid">
            <thead>
                <tr>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">File Size Code</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">Stamp Type </div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">Stamp Chart No</div></th>
                    <th bgcolor="#e8e8e8" class="text-black"><div align="center">View</div></th>
                </tr>
            </thead>
            @*@for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><div align="center">@Model[i].Size</div></td>
                        <td>
                            <div align="center">
                                @Model[i].File_type
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @Model[i].File_subtype
                            </div>
                        </td>
                        <td><div align="center">@Model[i].Customer</div></td>
                        <td><div align="center">@Model[i].Brand</div></td>
                        <td>
                            <div align="center">
                                <p>@Model[i].StampMode</p>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                    @Model[i].sd_chart_num
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="#" data-target="#handleimage1" class="" data-toggle="modal" onclick="ShowStampChartGrid3('@Model[i].sd_chart_num')" >
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }*@
            @*@foreach (var item in Model.stampsDetailsList)
                {
                <tr>

                    <td><div align="center">@Html.DisplayFor(m => item.Size) </div></td>
                    <td><div align="center">@Html.DisplayFor(m => item.File_type)  </div></td>
                    <td><div align="center"> @Html.DisplayFor(m => item.File_subtype) </div></td>
                    <td><div align="center">@Html.DisplayFor(m => item.Customer) </div></td>
                    <td><div align="center">@Html.DisplayFor(m => item.Brand) </div></td>
                    <td><div align="center">@Html.DisplayFor(m => item.Cut_Type) </div></td>



                    <td><div align="center">@Html.DisplayFor(m => item.StampMode) </div></td>
                    <td>
                        <div align="center">

                            <a class="stampview" href="#" data-id="@item.sd_stampimg">
                                @Html.DisplayFor(m => item.sd_chart_num)
                            </a>
                        </div>
                    </td>

                </tr>
                }*@
        </table>
        @*<div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesize = ViewBag.filesize, filetype = ViewBag.filetype, filesubtype = ViewBag.filesubtype, cuttype = ViewBag.cuttype, cstname = ViewBag.cstname, brand = ViewBag.brand, chartno = ViewBag.chartno }))
                </div>
            </div>*@
        <p class="style1">&nbsp;</p>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="handleimage1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content1"></div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ChangeStampApprove").change(function () {
            $("#loading").css("display", "block");
            var filesize = $("#fsize_code").val();
            var filetype = $("#ft_ftype_desc").val();
            var filesubtype = $("#filesubtype").val();
            var cuttype = $("#Cut_Type").val();
            var cstname = $("#costomerName").val();
            var brand = $("#bm_brand_name").val();
            var chartno = $("#sd_chart_num").val();
            $.ajax({
                url: '@Url.Action("StampdetailsMaster", "StampMaster")',
                data: { filesize: filesize, filetype: filetype, filesubtype: filesubtype, cuttype: cuttype, cstname: cstname, brand: brand, chartno: chartno },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>
<script>
    $(document).ready(function () {
        $("#StampmsterGrid").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": '@Url.Action("LoadData", "StampMaster")',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": true,
                "searchable": false
            }, ],
            //{
            //    "targets": [3],
            //    "searchable": false,
            //    "orderable": false
            //},
            //{
            //    "targets": [4],
            //    "searchable": false,
            //    "orderable": false
            //}],
            "columns": [
                  { "data": "Size", "name": "Size", "autoWidth": true, "className": "text-center" },
                  { "data": "File_type", "name": "File_type", "autoWidth": true, "className": "text-center" },
                  { "data": "File_subtype", "name": "File_subtype", "autoWidth": true, "className": "text-center" },
                  { "data": "Customer", "name": "Customer", "autoWidth": true, "className": "text-center" },
                  { "data": "Brand", "name": "Brand", "autoWidth": true, "className": "text-center" },
                  { "data": "StampMode", "name": "StampMode", "autoWidth": true, "className": "text-center" },
                  { "data": "sd_chart_num", "name": "sd_chart_num", "autoWidth": true, "className": "text-center" },
                  {
                      "render": function (data, type, full, meta) {
                          return ' <div align="center"><a href="#" data-target="#handleimage1" data-toggle="modal" onclick="ShowStampChartGrid3(\'' + full.sd_chart_num + '\')" ><i class="fa fa-search-plus"></i></a></div>';

                      }
                  },

                  // {
                  //     data: null, render: function (data, type, row) {
                  //         return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                  //     }
                  // },
            ]

        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".stampimage").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editstamprmaster", "StampMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    $("#content").html(data);
                    $('#handleimage').modal('show');
                }
            })
        });

    });

</script>
<script>

        function ShowStampChartGrid3(i) {
            var reqno=i;
            $.ajax({
                url: '@Url.Action("editstamprmaster", "StampMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    $("#content1").html(data);
                    $('#handleimage1').modal('show');
                }
            })
        }

</script>





