﻿@model JKFiles.WebApp.Models.StampDetailsModel
@{
    ViewBag.Title = "_Stampddlmaster";
}

<form class="form-inline" method="post">

    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "fsize_code" })
        @Html.HiddenFor(m => m.fsize_code)
    </div>


    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "ft_ftype_desc" })
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "filesubtype" })
    </div>


    @*<div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.Cut_Type, new SelectList(Model.listcuttype, "Cut_Type", "Cut_Type"), "Cut Type", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "Cut_Type" })
    </div>*@

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.costomerName, new SelectList(Model.listcstmstr, "costomerName", "costomerName"), "Customer Name", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "costomerName" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.bm_brand_name, new SelectList(Model.listbrandmstr, "bm_brand_name", "bm_brand_name"), "Brand", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "bm_brand_name" })
    </div>


    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.sd_chart_num, new SelectList(Model.listchartno, "sd_chart_num", "sd_chart_num"), "Chart No", new { @class = "form-control select2 ChangeStampApprove", @style = "width:100 % ", @id = "sd_chart_num" })
    </div>

</form><br>

