﻿
@{
    ViewBag.Title = "_ViewStamp";
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">View Stamp</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    @if (Model.listchartname.Count != 0)
    {
        <img src="~/ProjectImages/Stamps/@Model.listchartname[0].sd_stampimg" class="img-responsive">
    }
    else
    {

    }

    <br>
  

    <a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>
    <br>
    <br>




</div>

