﻿

@model JKFIlesEntity.StampDetailsEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Stamp</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditstampDetails", "StampMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        @Html.HiddenFor(model => model.request_type,  new { @class = "form-control " })
        @Html.HiddenFor(model => model.request_id,    new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_cust_id,    new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_brand_id,   new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_ftype_id,   new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fstype_id,  new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fsize_id,   new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_fcut_id,    new { @class = "form-control " })
        @Html.HiddenFor(model => model.sm_stamp_mode, new { @class = "form-control " })

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>

                </tr>
                <tr>
                    <td>STAMP CHART NUM</td>
                    <td>@Html.TextBoxFor(model => model.sd_chart_num, new { @class = "form-control ", @placeholder = "STAMP CHART NUM" })</td>


                </tr>
                <tr>
                    <td>STAMP CHART IMG</td>

                    <td><input type="file" id="file1" name="file1" class="form-control" /></td>
                </tr>
                <tr>
            <td>
                <img src="~/ProjectImages/STAMPs/@Url.Content(Model.ImageName)" alt="Image" style="height:150px;width:150px;" />
            </td>
            </tr>
            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>
