﻿
@model JKFiles.WebApp.Models.ItemmasterModel
@{
    ViewBag.Title = "ItemMasterIndex";
    Layout = "";
}

<form class="">

    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.SKU, new SelectList(Model.SKUlist, "SKU", "SKU"), "SKU", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "SKU" })
        @Html.HiddenFor(m => m.SKU)
    </div><!-- /.form group -->


  


    <div style="clear:both"></div>




</form>
