﻿@model JKFiles.WebApp.Models.DrawingLibraryModel
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content-header">
    <!-- <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li class="active">Dashboard</li>
     </ol>-->
</section>
<br>

<!-- Main content -->
<section class="content">


    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Drawing Library</h3>
        </div>
        <div class="box-body">



            <div class="table-responsive">
                <table width="100%" border="1" cellpadding="15">
                    <tr>
                        <td height="33" bgcolor="#333333" class="style1"><div align="center">Production SKU</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Drawing file</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Drawing PDF</div></td>
                    </tr>
                    @foreach (var item in Model.listdrawing)
                    {
                        <tr>
                            <td><div align="center">@item.dwg_prod_sku</div></td>
                            <td><div align="center"><a href="~/pdf/dwg/@item.dwg_dxfname"><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                            <td><div align="center"><a href="~/pdf/dwg/@item.dwg_pdfname" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                        </tr>
                    }



                    @*<tr>
                        <td><div align="center">04FLF1GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/10FLF1AS.dxf" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/04FLF1GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">04FLF3GN</div></td>
                        <td><div align="center"><a href="~/~/pdf/dwg/04FLF3GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/~/pdf/dwg/04FLF3GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">06FLF1GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06FLF1GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06FLF1GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">06FLF3GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06FLF3GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06FLF3GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">06HRF1GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06HRF1GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06HRF1GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">06HRF3GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06HRF3GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/06HRF3GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">08FLF1AS</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF1AS.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF1AS.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">08FLF1GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF1GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF1GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">08FLF2GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF2GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF2GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">08FLF3GN</div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF3GN.dwg" download><i class="fa fa-download" aria-hidden="true"></i></a></div></td>
                        <td><div align="center"><a href="~/pdf/dwg/08FLF3GN.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>*@
                </table>

            </div>


























        </div>

    </div>






</section>
