﻿@model JKFiles.WebApp.Models.LabelLibraryModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="content-header">
    <!-- <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li class="active">Dashboard</li>
     </ol>-->
</section>
<br>

<!-- Main content -->
<section class="content">


    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Label Layout Library</h3>
        </div>
        <div class="box-body">



            <div class="table-responsive">
                <table width="100%" border="1" cellpadding="15">
                    <tr>
                        <td height="33" bgcolor="#333333" class="style1"><div align="center">Part No</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">View Label Layout</div></td>
                    </tr>
                    @foreach (var item in Model.label_list)
                    {
                        <tr>
                            <td><div align="center">@item.pn_part_no</div></td>
                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#LLpop" class="viewLabelLayoutBtn" data-id="@item.ReqNo" ><i class="fa fa-search-plus " aria-hidden="true"></i></a></div></td>
                        </tr>
                    }
                </table>

            </div>





            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Label Layout</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class=" table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th width="271">Cust. Name </th>
                                            <td width="128">C.I. Invermec</td>
                                            <th width="204">Brand</th>
                                            <td width="115">Incolma</td>
                                            <th width="164">Item Code</th>
                                            <td width="380">06", Flat Regular , Second</td>
                                        </tr>
                                        <tr>
                                            <th>Quality Seal</th>
                                            <td>Yes</td>
                                            <th>Barcode </th>
                                            <td>Yes</td>
                                            <th>Hologram</th>
                                            <td>No</td>
                                        </tr>
                                        <tr>
                                            <th>Prize Sticker /Spe. Sticker</th>
                                            <td>No</td>
                                            <th>Line No</th>
                                            <td>0512012015XX</td>
                                            <th>Top Label</th>
                                            <td><img src="~/SharedCss/dist/img/toplabel.jpg" width="300" height="84"></td>
                                        </tr>
                                        <tr>
                                            <th>End Label</th>
                                            <td><img src="~/SharedCss/dist/img/endlabel.jpg" width="100" height="67"></td>
                                            <th>Side Label</th>
                                            <td><img src="~/SharedCss/dist/img/sidelabel.jpg" width="528" height="80"></td>
                                            <th>HDPE Box /CB Box Sample</th>
                                            <td><img src="~/SharedCss/dist/img/primary1.jpg" width="200" height="157"></td>
                                        </tr>
                                        <tr>
                                            <th>Wax paper /sleeve</th>
                                            <td><img src="~/SharedCss/dist/img/LL.jpg" class="img-responsive" width="200" height="246"></td>
                                            <th>Case packing</th>
                                            <td><img src="~/SharedCss/dist/img/outer1.jpg" width="200" height="169"></td>
                                            <th>Pallet Packing</th>
                                            <td><img src="~/SharedCss/dist/img/pallet.jpg" width="200" height="152"></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>




















        </div>

    </div>

</section>


<div class="modal fade bd-example-modal-lg" id="LLpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

        var TeamDetailPostBackURL = '@Url.Action("LabelLayOutDetails", "Library")';
        $(function () {
            
            $(".viewLabelLayoutBtn").click(function () {
                
                //var pallet_chart = $("#dp_pallet_chart").val();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { ReqNo: id },
                    datatype: "json",
                    success: function (data) {
                        
                        console.log(data);
                        $('#LLpop').html(data);
                        //$('#myModal').modal(options);
                        //$('#myModal').modal('show');

                    },
                    error: function () {
                        console.log(JSON.stringify(error));
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#LLpop').modal('hide');
            });
        });

    });

</script>