﻿@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="">
    <!-- <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li class="active">Dashboard</li>
     </ol>-->
</section>
<br>

<!-- Main content -->
<section class="content">


    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Stamp Library</h3>
        </div>
        <div class="box-body">



            <div class="table-responsive">
                <table width="100%" border="1" cellpadding="15">
                    <tr>
                        <td height="33" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">Stamping Mode</div></td>
                        <td bgcolor="#333333" class="style1"><div align="center">View PDF</div></td>
                    </tr>
                    <tr>
                        <td><div align="center">ABC</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/140.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Ackland Grainger</div></td>
                        <td><div align="center">Westward</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/26.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Dick</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Pad</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-10.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Olko</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-100.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Crocodile England</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Pad</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-101.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Conti</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-102.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Duarte Feteira (Portugal)</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-103.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Champion</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-104.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Power</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-105.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Century</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-107.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Facom</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-108.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Carpa</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="pdf/stamp/H-108a.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Dick</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Pad</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-11.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Beltools</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-110.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">LA - Manchetera (Hecort)</div></td>
                        <td><div align="center">-</div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-111.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Matador</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-112.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center"></div></td>
                        <td><div align="center">Berner</div></td>
                        <td><div align="center">Pad</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-113.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Dick</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Pad</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-11A.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Dick</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Pad(Special)</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-11B.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                    <tr>
                        <td><div align="center">Tramontina</div></td>
                        <td><div align="center"></div></td>
                        <td><div align="center">Laser</div></td>
                        <td><div align="center"><a href="~/pdf/stamp/H-120.pdf" target="_blank"><i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i></a></div></td>
                    </tr>
                </table>

            </div>


























        </div>

    </div>






</section>