﻿@model IEnumerable<JKFiles.WebApp.Models.ComplaintmgntModel>
@{
    ViewBag.Title = "_RequestToDI";
    Layout = "";
}

@if (Model.Count() > 0)
{
    <div class="col-md-10 ">


        <div class="table-responsive">
            <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr height="36">
                        <td height="36" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">@Html.DisplayName("Request ID")</div>
                            </div>
                        </td>
                        <td width="293" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">@Html.DisplayName("Request Type")</div>
                            </div>
                        </td>
                        <td width="293" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">@Html.DisplayName("Request Description")</div>
                            </div>
                        </td>
                        <td width="293" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">@Html.DisplayName("Request Date")</div>
                            </div>
                        </td>
                        <td width="293" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">@Html.DisplayName("Completion Date")</div>
                            </div>
                        </td>
                        <td width="293" bgcolor="#333333">
                            <div align="center" class="style3">
                                <div align="center" class="style1">Request Status</div>
                            </div>
                        </td>
                    </tr>
                    @foreach (var item in Model)
                {
                        <tr height="27">
                            <td width="350" height="27"><div align="center">@Html.DisplayFor(m => item.Request_Id) </div></td>
                            <td><div align="center">@Html.DisplayFor(m => item.RequestType)</div></td>
                            <td><div align="center">@Html.DisplayFor(m => item.RequestDesc)</div></td>
                            <td><div align="center">@Html.DisplayFor(m => item.RequestDate)</div></td>
                            <td><div align="center">@Html.DisplayFor(m => item.ModifiedDate)</div></td>
                            <td><div align="center">@Html.DisplayFor(m => item.RequestStatus) </div></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <div class="col-md-10 ">
        <div><strong><p style="color:red;">Nothing to display here</p></strong></div>
    </div>
}


