﻿@model JKFIlesEntity.FileTypeDataEntity
@{
    ViewBag.Title = "_ApprovedRequest";
    Layout = "";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td width="20%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                <td width="20%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type Name</div></td>
                <td width="20%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Profile Image</div></td>
                <td width="30%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Remarks</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Action</div></td>
            </tr>
            @foreach (var list in Model.fileTypeNoApproveList)
            {
                <tr>
                    <td align="center">@list.ft_request_id</td>
                    <td>
                        <div align="center">
                            @list.ft_ftype_desc
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="#" data-toggle="modal" data-target="#profile"><i class="fa fa-search-plus"></i></a>
                            @list.ft_ftype_profile_img
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.ft_ftype_remarks
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="@Url.Action("UpdatefiletypeApprove", "FileTypeMaster", new { ID = @list.ft_request_id })" class="btn btn-warning" data-id="@list.ft_request_id">Approve</a>
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>



