﻿@model JKFIlesEntity.FileTypeDataEntity

<div class="modal-header">
    <h5 class="modal-title" id="new">Edit File type</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("SavefiletypeDetails","FileTypeMaster")" method="post">
    <div class="modal-body">

        @Html.HiddenFor(model => model._id)
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="100">Parameter Name</th>
                        <th width="144">Parameter Value</th>
                    </tr>
                    <tr>
                        <td> FILE TYPE CODE</td>
                        <td>@Html.TextBoxFor(model => model.ft_ftype_code, new { @class = "form-control ", @placeholder = "FILE TYPE CODE" })</td>
                    </tr>
                    <tr>
                        <td>FILE TYPE NAME</td>
                        <td>@Html.TextBoxFor(model => model.ft_ftype_desc, new { @class = "form-control ", @placeholder = "FILE TYPE NAME" })</td>
                    </tr>
                    @*<tr>
                            <td>FILE TYPE NAME</td>
                            <td>@Html.TextBoxFor(model => model.ft_ftype_desc, new { @class = "form-control ", @placeholder = "FILE TYPE NAME" })</td>
                        </tr>*@
                    <tr>
                        <td colspan="3">@Html.TextAreaFor(model => model.ft_ftype_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)" })</td>
                    </tr>
                </tbody>
            </table>
            <div><span id="resultMessage"></span></div>

        </div>

    </div>
    <div class="modal-footer">
        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>

        <button type="submit" class="btn btn-primary">Send for Approval</button>
    </div>

</form>
