﻿@model JKFIlesEntity.FileTypeDataEntity

@{
    ViewBag.Title = "_Filetypeddlmaster";
    Layout = "";
}

<form class="form-inline">
    <div class="form-group col-md-2 ">
        @*@Html.DropDownListFor(model => model.ft_ftype_desc, new SelectList(Model.listtype, "ft_ftype_desc", "ft_ftype_desc"), "File Type", new { @class = "form-control select2 ChangetypeApprove", @style = "width:100 % ", @id = "ft_ftype_desc" })*@
        @*<select class="form-control select2" placeholder="File Type" style="width: 100%;">
            <option>File Type</option>
            <option>FLAT</option>
            <option>HALF ROUND</option>
            <option>ROUND</option>
            <option>CHAIN SAW</option>
        </select>*@
    </div>

</form>

