﻿
@{
    ViewBag.Title = "_FileTypeImage";
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">View File Type</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    @if (Model.listtype.Count != 0)
    {
        <img src="~/FileTypeImages/@Model.listtype[0].ft_ftype_profile_img" class="img-responsive">
    }
    else
    {

    }

    <br>
 

    <a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>
    <br>
    <br>




</div>

