﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.FileTypeDataEntity>
@{
    ViewBag.Title = "_FileTypemstrDetails";
    Layout = "";
}
<div id="divPartialView1">
    <div class="col-md-12">
        <div >

            <br>

            <table width="100%" border="1" bordercolor="#CCCCCC" id="FileTypemsterGrid">
                <thead>
                    <tr>
                        <th width="326" height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type Name</div></th>
                        <th width="240" bgcolor="#e8e8e8" class="text-black"><div align="center">Family Code</div></th>
                        <th width="240" bgcolor="#e8e8e8" class="text-black"><div align="center">Profile Image</div></th>
                        <th width="240" bgcolor="#e8e8e8" class="text-black"><div align="center">View Process</div></th>
                    </tr>
                </thead>
                @*@for (int i = 0; i < Model.Count; i++)
                    {
                            <tr>
                                <td><div align="center">@Model[i].ft_ftype_desc</div></td>
                                <td><div align="center">@Model[i].ft_ftype_code</div></td>
                                <td>
                                    <div align="center">
                                        <a class="btnprofile" href="#" data-id="@Model[i].ft_ftype_profile_img">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        <a href="#" data-toggle="modal" data-target="#edit" onclick="ShowProcess('@Model[i].ft_process_code')">@Model[i].ft_process_code</a>
                                    </div>

                                </td>

                            </tr>

                            }*@



            </table>

            @*<div id="container" style="margin-left: 20px">
                    <p></p>
                    <p></p>
                    <div class="pagination">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filetype = ViewBag.filetype }))
                    </div>
                </div>*@

            <p class="style1">&nbsp;</p>
        </div>
    </div>
</div>

<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="profileimage" src="" class="img-responsive">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Process </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td height="31" bgcolor="#e8e8e8" class=" text-black"><div align="center">Sq.  No.</div></td>
                                <td bgcolor="#e8e8e8" class=" text-black"><div align="center">Operation Name</div></td>
                            </tr>
                        </tbody>
                        <tbody id="addproc"></tbody>

                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#FileTypemsterGrid").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": '@Url.Action("LoadData", "FileTypeMaster")',
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": true,
                "searchable": false
            }, 
            //{
            //    "targets": [2],
            //    "searchable": false,
            //    "orderable": false
            //},
            //{
            //    "targets": [3],
            //    "searchable": false,
            //    "orderable": false
            //}
            ],
            "columns": [
                  { "data": "ft_ftype_desc", "name": "ft_ftype_desc", "autoWidth": true, "className": "text-center" },
                  { "data": "ft_ftype_code", "name": "ft_ftype_code", "autoWidth": true, "className": "text-center" },

                  {
                      "render": function (data, type, full, meta) {
                          return '<div align="center"><a class="btnprofile" href="#" onclick="ShowImg(\'' + full.ft_ftype_profile_img + '\')"><i class="fa fa-search-plus"></i></a></div>';
                      }
                  },

                   {
                       "render": function (data, type, full, meta) {
                           return '<div align="center"><a href="#" data-toggle="modal" data-target="#edit" onclick="ShowProcess(\'' + full.ft_process_code + '\')">' + full.ft_process_code + '</a></div>';
                       }
                   },
            ]

        });
    });
</script>
<script>
        $(document).ready(function () {
            $(".ChangetypeApprove").change(function () {
                $("#loading").css("display", "block");
                var filetype = $("#ft_ftype_desc").val();
                // var ftypecode = $("#filetypecode").val();
                // var filetype = $("#filetype").val();
                // var cuttype = $("#cut_type").val();
                // var cutstand = $("#cut_standard").val();
                $.ajax({
                    url: '@Url.Action("FileTypemstrDetails", "FileTypeMaster")',
                    data: { filetype: filetype },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#divPartialView1").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });

            });


        });
</script>


<script>


    //$(document).ready(function () {

    //    $('.btnprofile').on('click', function () {
    //        debugger;
    //        var Id;
    //        Id = $(this).data('id');
    //        //  alert(Id)

    //        var src = '../FileTypeImages/' + Id
    //        // alert(src)
    //        $(".modal-body #profileimage").attr("src", src);
    //        $('#profile').modal('show');
    //    });
    //});
    
    function ShowImg(i) {
        var Id;
        Id = i;
        //  alert(Id)

        var src = '../FileTypeImages/' + Id
        // alert(src)
        $(".modal-body #profileimage").attr("src", src);
        $('#profile').modal('show');
    }
    function ShowProcess(i) {
        var process_code = i;
        var trHTML = '';
        $('#addproc').empty();
        $.ajax({
            url: '@Url.Action("Showaddprocess", "FileTypeMaster")',
            data: { process_code: process_code },
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                for (var i = 0; i < data.processlist.length; i++) {
                    trHTML += '<tr><td ><div align="center">' + data.processlist[i].ppm_process_seqno + '</div></td> <td><div align="center">' + data.processlist[i].ProcessName + '</div></td> </tr>';
                }
                $('#addproc').append(trHTML);
            },
            error: function () {
                alert("No Records Found");
            }
        });
    }
</script>




