﻿@*@model JKFIlesEntity.FileTypeDataEntity*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.FileTypeDataEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">File Type Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">



                    @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Requests</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse ">
                            @Html.Action("NewRequest")
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Requests for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse   ">
                            @Html.Action("ApprovedRequest")
                        </div>
                    </div>*@


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>File Type Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                @*<div class="col-md-12">
                                    @if (Session["Role"].ToString() == "EMT_Prod_User")
                                    { <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#customer">Add New </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default pull-right">Add New </a>
                                    }
                                    <a href="Index">
                                        <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                    </a>
                                </div>*@
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    @Html.Action("Filetypeddlmaster")


                                </div>
                                <div style="clear:both"></div>
                                <img src="~/Content/Images/loader.GIF" id="loading" style="display:none;margin:0 auto" />
                                @Html.Action("FileTypemstrDetails")
                                </div>
                            </div>
                        </div>



                    </div>
                </div>










            </div>

        </div>




        @*<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="profileimage" src="" class="img-responsive">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Request No: 12345</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Family Name" value="Mill">
                            </div>

                            <a href="#" class="btn btn-primary">View Profile</a>




                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>
                        <a href="#" type="button" class="btn btn-primary" data-dismiss="modal">Save for Approval</a>
                        <br>
                        <br>
                        <br>
                        <div class="collapse" id="reject">
                            <div class="card card-body">
                                <textarea name="" cols="" rows="3" required></textarea>
                                <div style="clear:both"></div>
                                <a type href="#" class="btn btn btn-primary  mr-5 pull-right" data-dismiss="modal"> Submit</a>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade" id="customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="new">Add File Type
</h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label>File Type Name</label> 
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="File Type Name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Add Profile File</label>
                                <input type="file" id="exampleInputFile">
                                @*<p class="help-block">Import Dynamic Block</p>*@
                            </div>

                        </form>
                    </div>
                    <div style="clear:both"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>

    <!-- BY SWAPNIL -->
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

    <script>
        var TeamDetailPostBackURL = '@Url.Action("filetypeDetails", "FileTypeMaster")';
        $(function () {
            $(".anchorDetail").click(function () {
                
                var $buttonClicked = $(this);
                var id1 = $buttonClicked.attr('data-id');
                var emailrogh = id1.split(",");
                var id = emailrogh[0];// show priya@gmail.com
                var type = emailrogh[1]
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id, "type": type },
                    datatype: "json",
                    success: function (data) {
                        
                        $('#myModalContent').html(data);
                        $('#editcustomer').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $('.CountClick').click(function () {
                
                var productID = getParameterByName('ID', $(this).attr("href"));
                var countID = "Count" + productID;
                var totalID = "Total" + productID;

                var countElement = document.getElementById(countID);
                var totalElement = document.getElementById(totalID);
                var rowElement = document.getElementById(productID);

                $.ajax({
                    cache: false,
                    url: $(this).attr("href"), // used data from url
                    datatype: "text",
                    type: "POST",
                    success: function (response) {

                        var count = parseInt(response.Count);

                        if (count > 0) {
                            countElement.innerText = response.Count;
                            totalElement.innerText = response.Total;
                        }
                        else {
                            rowElement.innerHTML = "";
                        }
                    },
                    error: function () {
                        $("#divResult").html("ERROR");
                    }
                });

                return false;
            });
        });



    </script>
    @*<script>


        $(document).ready(function () {

            $('.btnprofile').on('click', function () {
                var Id;
                Id = $(this).data('id');
               // alert(Id)

                var src = '../FileTypeImages/' + Id
                // alert(src)
                $(".modal-body #profileimage").attr("src", src);
                $('#profile').modal('show');
            });
        });
    </script>*@