﻿@model JKFiles.WebApp.Models.RawMaterialMasterModel
@{
    ViewBag.Title = "_EditRawMaterial";
    Layout = "";
}

<form action="@Url.Action("Updaterawmaterial", "RawMaterial")" method="post">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Raw Material @*:- @Html.DisplayFor(model => model.rm_code)*@</h5>
            @*@Html.HiddenFor(model => model.rm_code)*@
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="142" style="width: 10px">Parameter Name</th>
                            <th width="156">Parameter Value</th>
                            <th width="177" style="width: 10px">Parameter Name</th>
                            <th width="268">Parameter Value</th>
                        </tr>
                        <tr>
                            <td>File Size Code</td>
                            <td>

                                @Html.TextBoxFor(model => model.rm_fsize_id, new { @class = "form-control select2", disabled = "disabled" })
                                @*@Html.DropDownListFor(model => model.rm_fsize_id, new SelectList(Model.listplant, "PlantName", "PlantName"), "Select Plant/Ancillary", new { @class = "form-control select2", @id = "PlantName" })*@
                                @*<select class="form-control select2" style="width:100%;" disabled>
                                        <option selected="selected" disabled>Select </option>
                                        <option selected>02</option>
                                        <option>04</option>
                                        <option>06</option>
                                        <option>08</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>*@
                            </td>
                            <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                            <td>
                                @Html.TextBoxFor(model => model.filetype, new { @class = "form-control select2", disabled = "disabled" })
                                @*<select class="form-control select2" style="width:100%;" disabled>
                                        <option selected="selected" disabled>Select </option>
                                        <option selected>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>*@
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                            <td>
                                @Html.TextBoxFor(model => model.filesubtype, new { @class = "form-control select2", disabled = "disabled" })
                                @*<select class="form-control select2" style="width:100%;" disabled>
                                        <option selected="selected" disabled>Select </option>
                                        <option selected>Regular</option>
                                        <option>Brass</option>
                                        <option>Handle</option>
                                        <option> Light </option>
                                        <option>Foundry </option>
                                        <option>Lead Float </option>
                                    </select>*@
                            </td>
                            <td valign="bottom" nowrap="nowrap"><p> Raw material Code</p></td>
                            <td>
                                @*<input type="text" class="form-control" name="textfield2" id="textfield2" value="8001452" readonly />*@
                                @Html.TextBoxFor(model => model.rm_code, new { @class = "form-control select2", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" nowrap="nowrap"><p> Raw material Description</p></td>
                            <td>
                                @*<input type="text" class="form-control" name="textfield2" id="textfield2" value="Steel material" readonly />*@
                                @Html.TextAreaFor(model => model.rm_desc, new { @class = "form-control select2", disabled = "disabled" })
                            </td>
                            <td width="142" nowrap="nowrap" valign="bottom"><p>Wt.in kg/1000 nos</p></td>
                            <td>
                                @*<input type="text" class="form-control" name="textfield" id="textfield" value="100" readonly />*@
                                @Html.TextBoxFor(model => model.rm_wtinkg_perthsnd, new { @class = "form-control select2", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>

                            <td width="177" valign="bottom" nowrap="nowrap"><p>Net Wt gm/ SKU</p></td>
                            <td>
                                @*<input type="text" class="form-control" name="textfield8" id="textfield3" value="125" readonly />*@
                            @Html.TextBoxFor(model => model.rm_netwtingm_persku, new { @class = "form-control select2", disabled = "disabled" })
                        </td>
                        <td width="142" nowrap="nowrap" valign="bottom"><p>Remark</p></td>
                        <td>
                            @*<input type="text" class="form-control" name="textfield5" id="textfield4" readonly />*@
                        @Html.TextBoxFor(model => model.Remark, new { @class = "form-control select2", disabled = "disabled" })
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary">Edit</button>
    @*<button type="button" class="btn btn-primary">Ok</button>*@
</div>
</div>
</form>

