﻿@model JKFiles.WebApp.Models.RawMaterialMasterModel
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tbody>
                <tr>
                    <td width="6%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Sub Type</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Raw Material Code</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Raw Material Description</div></td>
                    @*<td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center"></div></td>*@
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Wt.in kg/1000 nos</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Net Wt gm/ SKU</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                    <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
                </tr>
                <tr>
                <tr>
                    @foreach (var list in Model.rawmaterialnoactive)
                    {
                    <tr>
                        <td>
                            
                            <div align="center">
                                @list.rm_request_id
                            </div>
                        </td>
                        <td>   
                            <div align="center">
                                @list.filesubtype
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.rm_code
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.rm_fsize_id
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.filetype
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.rm_desc
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.rm_wtinkg_perthsnd
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.rm_netwtingm_persku
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                @list.Remark
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@list.rm_request_id,@list.rm_request_type"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>

                    }
                </tr>
            </tbody>
        </table>


    </div>

</div>

