﻿@model JKFiles.WebApp.Models.RawMaterialMasterModel
@{
    ViewBag.Title = "_RawMaterialDLL";
    Layout = "";
}

<div class="col-md-12">
    <form class="form-inline ">
        <div class="form-group  col-md-2">
             @Html.DropDownListFor(model => model.rm_code, new SelectList(Model.listrmcode, "rm_code", "rm_code"), "Raw Material Code", new { @class = "form-control select2 ChangerawApprove", @style= "width:100 % ", @id = "rm_code" })
          
        </div>
        <div class="form-group  col-md-2">
            @Html.DropDownListFor(model => model.rm_fsize_id, new SelectList(Model.listsizecode, "rm_fsize_id", "rm_fsize_id"), "File Size Code", new { @class = "form-control select2 ChangerawApprove", @style = "width:100 % ", @id = "rm_fsize_id" })
           
        </div>


        <div class="form-group col-md-2">
            @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2 ChangerawApprove", @style = "width:100 % ", @id = "filesubtype" })
           
        </div>

        <div class="form-group  col-md-2">
            @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2 ChangerawApprove", @style = "width:100 % ", @id = "filetype" })
            
        </div>

    </form>

</div>

