﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFiles.WebApp.Models.RawMaterialMasterModel>
@{
    ViewBag.Title = "_RawMaterialmaster";
}


<div id="divPartialView1">
    <div class="table-responsive">
        <table id="example2" width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("Raw Material Code")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Size Code")</div></td>
                <td height="31" bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Type")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("File Sub Type")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("Raw Material Description")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("Wt in kg/1000 nos")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("Net Wt gm/ SKU")</div></td>
                <td bgcolor="#e8e8e8" class="text-black"><div align="center">@Html.DisplayName("Remark")</div></td>

                @for (int i = 0; i < Model.Count; i++)
                {
                <tr>

                    <td width="326">
                        <div align="center">

                            @*<a href="#" class="edit" data-id="@Model[i].rm_code">*@
                                <a href="#" data-target="#edit1" class="RawMtrlcls" data-toggle="modal" data-id="@Model[i].rm_code">
                                    @Model[i].rm_code
                                </a>
                        </div>
                    </td>
                    <td width="326"><div align="center">@Model[i].rm_fsize_id</div></td>
                    <td width="326" height="20"><div align="center">@Model[i].filetype</div></td>
                    <td width="326"><div align="center">@Model[i].filesubtype</div></td>
                    <td width="326">
                        <div align="center">
                            <p>@Model[i].rm_desc</p>
                        </div>
                    </td>
                    <td width="326"><div align="center">@Model[i].rm_wtinkg_perthsnd</div></td>
                    <td width="326"><div align="center">@Model[i].rm_netwtingm_persku</div></td>
                    <td width="326"><div align="center">@Model[i].Remark</div></td>
                </tr>

                }







                @*@foreach (var list in Model.listrawm)
                    {
                        <tr>
                            <td width="326">
                                <div align="center">

                                    <a href="#" class="edit" data-id="@list.rm_code">
                                        @list.rm_code
                                    </a>
                                </div>
                            </td>

                            <td width="326"><div align="center">@list.rm_fsize_id</div></td>
                            <td width="326" height="20"><div align="center">@list.filetype</div></td>
                            <td width="326"><div align="center">@list.filesubtype</div></td>
                            <td width="326">
                                <div align="center">
                                    <p>@list.rm_desc</p>
                                </div>
                            </td>
                            <td width="326"><div align="center">@list.rm_wtinkg_perthsnd</div></td>
                            <td width="326"><div align="center">@list.rm_netwtingm_persku</div></td>
                            <td width="326"><div align="center">@list.Remark</div></td>
                        </tr>
                    }*@
            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("RawMaterial", new { page, rawmaterial = ViewBag.rawmaterial, filesize = ViewBag.filesize, fsubtype = ViewBag.fsubtype, filetype = ViewBag.filetype}))
                </div>
            </div>


        </div>
    </div>







    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>



<div class="modal fade bd-example-modal-lg" id="edit1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>


<script>

        $(".RawMtrlcls").on('click', function () {
                // alert("kk");
                var reqno;
                reqno = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("editrawmaterial", "RawMaterial")',
                    data: { reqno: reqno },
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        var Id = data;
                        //alert(Id)
                        $("#content").html(data);
                        $('#edit1').modal('show');
                    }
                })
            });
</script>


    <script>
        $(document).ready(function () {
            $(".ChangerawApprove").change(function () {
                $("#loading").css("display", "block");
                var rawmaterial = $("#rm_code").val();
                var filesize = $("#rm_fsize_id").val();
                var fsubtype = $("#filesubtype").val();
                var filetype = $("#filetype").val();
                //var cutstand = $("#cut_standard").val();
                $.ajax({
                    url: '@Url.Action("RawMaterialmaster", "RawMaterial")',
                    data: { rawmaterial: rawmaterial, filesize: filesize, fsubtype: fsubtype, filetype: filetype },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#divPartialView1").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });

            });


        });
    </script>

