﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}



<div class="content">



    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Raw Material Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Type</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Sub Type</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Size</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material Code</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material Description</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Wt.in kg/1000 nos</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Net Wt gm/ SKU</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Remark</div></td>
                                                <td width="17%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td width="326"><div align="center">Flat</div></td>
                                                <td width="326"><div align="center">Regular</div></td>
                                                <td width="326"><div align="center">04</div></td>
                                                <td width="326"><div align="center">8900721</div></td>
                                                <td width="326">
                                                    <div align="center">
                                                        <p>File Steel Flat Bar &amp; Rod 4.00&quot;</p>
                                                    </div>
                                                </td>
                                                <td width="326"><div align="center">-</div></td>
                                                <td width="326"><div align="center">8.33</div></td>
                                                <td width="326"><div align="center">-</div></td>
                                                <td width="326"><div align="center">For XYZ Party Or Drawing Number ABC</div></td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#rawview"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Type</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Sub Type</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">File Size</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material Code</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material Description</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Raw Material</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Wt.in kg/1000 nos</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Net Wt gm/ SKU</div></td>
                                                <td bgcolor="#333333" class="style2"><div align="center">Remark</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td width="326"><div align="center">Flat</div></td>
                                                <td width="326"><div align="center">Regular</div></td>
                                                <td width="326"><div align="center">04</div></td>
                                                <td width="326"><div align="center">8900721</div></td>
                                                <td width="326">
                                                    <div align="center">
                                                        <p>File Steel Flat Bar &amp; Rod 4.00&quot;</p>
                                                    </div>
                                                </td>
                                                <td width="326"><div align="center">-</div></td>
                                                <td width="326"><div align="center">8.33</div></td>
                                                <td width="326"><div align="center">-</div></td>
                                                <td width="326"><div align="center">For XYZ Party Or Drawing Number ABC</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#rawview"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Raw Material Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#rawnew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">












                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Type</option>
                                                <option value="1">Flat</option>
                                                <option value="2">Round</option>
                                                <option value="3">Mill</option>
                                                <option value="4">Half Round</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>







                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tr>
                                            <td height="31" bgcolor="#333333" class="style2"><div align="center">File Type</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">File Sub Type</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">File Size</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Raw Material Code</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Raw Material Description</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Raw Material</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Wt.in kg/1000 nos</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Net Wt gm/ SKU</div></td>
                                            <td bgcolor="#333333" class="style2"><div align="center">Remark</div></td>
                                            <td width="134" bgcolor="#333333" class="style1"><div align="center">Edit</div></td>
                                        <tr>
                                            <td width="326" height="20"><div align="center">Flat</div></td>
                                            <td width="326"><div align="center">Regular</div></td>
                                            <td width="326"><div align="center">04</div></td>
                                            <td width="326"><div align="center">8900721</div></td>
                                            <td width="326">
                                                <div align="center">
                                                    <p>File Steel Flat Bar &amp; Rod 4.00&quot;</p>
                                                </div>
                                            </td>
                                            <td width="326"><div align="center">-</div></td>
                                            <td width="326"><div align="center">8.33</div></td>
                                            <td width="326"><div align="center">-</div></td>
                                            <td width="326"><div align="center">For XYZ Party Or Drawing Number ABC</div></td>
                                            <td><div align="center"><i class="fa fa-pencil"></i></div></td>
                                        </tr>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>





























    <div style="clear:both"></div>

</div>



<div class="modal fade bd-example-modal-lg" id="rawview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Raw New Material </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="142" style="width: 10px">Parameter Name</th>
                                <th width="156">Parameter Value</th>
                                <th width="177" style="width: 10px">Parameter Name</th>
                                <th width="268">Parameter Value</th>
                            </tr>
                            <tr>
                                <td>File size</td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>Regular</option>
                                        <option>Brass</option>
                                        <option>Handle</option>
                                        <option> Light </option>
                                        <option>Foundry </option>
                                        <option>Lead Float </option>
                                    </select>
                                </td>
                                <td valign="bottom" nowrap="nowrap"><p> Raw material Code</p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                            </tr>
                            <tr>
                                <td valign="bottom" nowrap="nowrap"><p> Raw material Description</p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                <td valign="bottom" nowrap="nowrap"><p>Raw Material</p></td>
                                <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                            </tr>
                            <tr>
                                <td width="142" nowrap="nowrap" valign="bottom"><p>Wt.in kg/1000 nos</p></td>
                                <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                <td width="177" valign="bottom" nowrap="nowrap"><p>Net Wt gm/ SKU</p></td>
                                <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                            </tr>
                            <tr>
                                <td width="142" nowrap="nowrap" valign="bottom"><p>Remark</p></td>
                                <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                <td width="177" valign="bottom" nowrap="nowrap">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>

                </div>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade bd-example-modal-lg" id="rawnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Raw New Material </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="142" style="width: 10px">Parameter Name</th>
                                <th width="156">Parameter Value</th>
                                <th width="177" style="width: 10px">Parameter Name</th>
                                <th width="268">Parameter Value</th>
                            </tr>
                            <tr>
                                <td>File size</td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option selected="selected" disabled>Select </option>
                                        <option>Regular</option>
                                        <option>Brass</option>
                                        <option>Handle</option>
                                        <option> Light </option>
                                        <option>Foundry </option>
                                        <option>Lead Float </option>
                                    </select>
                                </td>
                                <td valign="bottom" nowrap="nowrap"><p> Raw material Code</p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                            </tr>
                            <tr>
                                <td valign="bottom" nowrap="nowrap"><p> Raw material Description</p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                <td valign="bottom" nowrap="nowrap"><p>Raw Material</p></td>
                                <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                            </tr>
                            <tr>
                                <td width="142" nowrap="nowrap" valign="bottom"><p>Wt.in kg/1000 nos</p></td>
                                <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                <td width="177" valign="bottom" nowrap="nowrap"><p>Net Wt gm/ SKU</p></td>
                                <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                            </tr>
                            <tr>
                                <td width="142" nowrap="nowrap" valign="bottom"><p>Remark</p></td>
                                <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                <td width="177" valign="bottom" nowrap="nowrap">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>





















</div>

<!-- /.content-wrapper -->
