﻿
@model JKFIlesEntity.RawMaterialMastrEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Raw Material</h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditRawMaterialDetails", "RawMaterial")" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        @Html.HiddenFor(model => model.rm_fsize_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.rm_ftype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.rm_fstype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.rm_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.rm_request_id, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td>RAW MATERIAL CODE</td>
                    <td>@Html.TextBoxFor(model => model.rm_code, new { @class = "form-control ", @placeholder = "RAW MATERIAL CODE " })</td>
                </tr>
                <tr>
                    <td>DESCRIPTION</td>
                    <td>@Html.TextBoxFor(model => model.rm_desc, new { @class = "form-control ", @placeholder = "DESCRIPTION" })</td>
                </tr>
                <tr>
                    <td>MATERIAL</td>
                    <td>@Html.TextBoxFor(model => model.rm_material, new { @class = "form-control ", @placeholder = "MATERIAL" })</td>
                </tr>
                <tr>
                    <td>WEIGHT IN KG / 1000</td>
                    <td>@Html.TextBoxFor(model => model.rm_wtinkg_perthsnd, new { @class = "form-control ", @placeholder = "WEIGHT IN KG / 1000" })</td>
                </tr>
                <tr>
                    <td>NET WT IN GRAMS</td>
                    <td>@Html.TextBoxFor(model => model.rm_netwtingm_persku, new { @class = "form-control ", @placeholder = "NET WT IN GRAMS" })</td>
                </tr>
                <tr>
                    <td>HEIGHT IN MM</td>
                    <td>@Html.TextBoxFor(model => model.rm_height, new { @class = "form-control ", @placeholder = "HEIGHT IN MM" })</td>
                </tr>
                <tr>
                    <td>WIDTH IN MM</td>
                    <td>@Html.TextBoxFor(model => model.rm_width, new { @class = "form-control ", @placeholder = "WIDTH IN MM" })</td>
                </tr>
                
                <tr>
                    <td colspan="3">@Html.TextAreaFor(model => model.rm_remarks, new { @class = "form-control ", @cols = 80, @rows = 3, @placeholder = "Remark(optional)" })</td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>

