﻿@*@model JKFiles.WebApp.Models.RawMaterialMasterModel*@
@{
    ViewBag.Title = "RawMaterial";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<style>
        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<section>
    <div class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Raw Material Details</h3>
            </div>
            <div class="box-body">
                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Record Request</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse  ">
                             
                              
                                @Html.Action("NewRequest")
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Records for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Raw Material Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#rawnew">Add New </a>
                                        <a href="RawMaterial">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    @Html.Action("RawMaterialddl")
                                    <div style="clear:both"></div>
                                    <br>
                                    <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                    @Html.Action("RawMaterialmaster")

                                </div>
                            </div>
                        </div>



                    </div>
                </div>



            </div>

        </div>


        <div style="clear:both"></div>

    </div>



    <div class="modal fade bd-example-modal-lg" id="rawview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Raw Material </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>File Size Code</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>02</option>
                                            <option>04</option>
                                            <option>06</option>
                                            <option>08</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap"><p> Raw material Code</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p> Raw material Description</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Raw Material</p></td>
                                    <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Wt.in kg/1000 nos</p></td>
                                    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Net Wt gm/ SKU</p></td>
                                    <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Remark</p></td>
                                    <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal fade bd-example-modal-lg" id="rawnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Raw New Material </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>File Size Code</td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option selected="selected" disabled>Select </option>
                                            <option>02</option>
                                            <option>04</option>
                                            <option>06</option>
                                            <option>08</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2" style="width:100%;">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap"><p> Raw material Code</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p> Raw material Description</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Wt.in kg/1000 nos</p></td>
                                    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                </tr>
                                <tr>

                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Net Wt gm/ SKU</p></td>
                                    <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Remark</p></td>
                                    <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>

</section>
@*<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@
@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@

@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
@*<link href="~/Scripts/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.min.js"></script>*@

<script src="~/SharedCss/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/SharedCss/plugins/datatables/dataTables.bootstrap.min.js"></script>
<div class="modal fade bd-example-modal-lg" id="edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script>
        var TeamDetailPostBackURL = '@Url.Action("RawmaterialDetails", "RawMaterial")';
        $(function () {
            $(".anchorDetail").click(function () {
                
                var $buttonClicked = $(this);
                var id1 = $buttonClicked.attr('data-id');
                var emailrogh = id1.split(",");
                var id = emailrogh[0];// show priya@gmail.com
                var type = emailrogh[1]
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id, "type": type },
                    datatype: "json",
                    success: function (data) {
                        
                        $('#myModalContent').html(data);
                        $('#editcustomer').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $('.CountClick').click(function () {
                
                var productID = getParameterByName('ID', $(this).attr("href"));
                var countID = "Count" + productID;
                var totalID = "Total" + productID;

                var countElement = document.getElementById(countID);
                var totalElement = document.getElementById(totalID);
                var rowElement = document.getElementById(productID);

                $.ajax({
                    cache: false,
                    url: $(this).attr("href"), // used data from url
                    datatype: "text",
                    type: "POST",
                    success: function (response) {

                        var count = parseInt(response.Count);

                        if (count > 0) {
                            countElement.innerText = response.Count;
                            totalElement.innerText = response.Total;
                        }
                        else {
                            rowElement.innerHTML = "";
                        }
                    },
                    error: function () {
                        $("#divResult").html("ERROR");
                    }
                });

                return false;
            });
        });
</script>
<script>
    $(document).ready(function () {
        //$('#RawMaterialexample').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "ajax":
        //      {
        //          "url": "/RawMaterial/RawMaterialMasterGrid",
        //          "contentType": "application/json",
        //          "type": "GET",
        //          "dataType": "JSON",
        //          "data": function (d) {
        //              return d;
        //          },
        //          "dataSrc": function (json) {
        //              json.draw = json.draw;
        //              json.recordsTotal = json.recordsTotal;
        //              json.recordsFiltered = json.recordsFiltered;
        //              json.data = json.data;
        //              var return_data = json;
        //              return return_data.data;
        //          }
        //      },
        //    "columns": [
        //    { "data": "rm_ftype_id" },
        //    { "data": "rm_fstype_id" },
        //    { "data": "rm_fstype_id" },
        //    { "data": "rm_code" },
        //    { "data": "rm_desc" },
        //    { "data": "rm_material" },
        //    { "data": "rm_wtinkg_perthsnd" },
        //    { "data": "rm_netwtingm_persku" }

        //    ],
        //    "order": [1, "asc"],
        //});
        $(".edit").on('click', function () {
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editrawmaterial", "RawMaterial")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#edit').modal('show');
                }
            })
        });
    });
</script>

