﻿@model JKFIlesEntity.WrapChartModelEntity
@{
    ViewBag.Title = "_AddWrapperDDL";
    Layout = "";
}

<form class="form-inline" method="post">

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.CustomerName, new SelectList(Model.listcstmstr, "CustomerName", "CustomerName"), "Customer Name", new { @class = "form-control select2", @style = "width:100 % ", @id = "CustomerName" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.bm_brand_name, new SelectList(Model.listbrandmstr, "bm_brand_name", "bm_brand_name"), "Select Brand", new { @class = "form-control select2", @style = "width:100 % ", @id = "bm_brand_name" })
    </div>
    <div class="form-group  col-md-2" style="margin-bottom: 10px">
        @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2", @style = "width:100 % ", @id = "hm_fsize_id" })
        @Html.HiddenFor(m => m.fsize_code)
    </div>


    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2", @style = "width:100 % ", @id = "ft_ftype_desc" })
    </div>

    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2", @style = "width:100 % ", @id = "filesubtype" })
    </div>

   


</form><br>

