﻿@model JKFIlesEntity.WrapChartModelEntity
@{
    ViewBag.Title = "_AddWrapper";
    Layout = "";
}

<form action="@Url.Action("WrapperImgUpload","WrapperMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Wrapper </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class=" table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="142" style="width: 10px">Parameter Name</th>
                        <th width="156">Parameter Value</th>
                        <th width="177" style="width: 10px">Parameter Name</th>
                        <th width="268">Parameter Value</th>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td>
                            @Html.DropDownListFor(model => model.CustomerName, new SelectList(Model.listcstmstr, "CustomerName", "CustomerName"), "Customer Name", new { @class = "form-control select2", @style = "width:100 % ", @id = "CustomerName" })

                        </td>
                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                        <td>
                            @Html.DropDownListFor(model => model.bm_brand_name, new SelectList(Model.listbrandmstr, "bm_brand_name", "bm_brand_name"), "Select Brand", new { @class = "form-control select2", @style = "width:100 % ", @id = "bm_brand_name" })

                        </td>
                    </tr>
                    <tr>
                        <td>File size</td>
                        <td>
                            @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2", @style = "width:100 % ", @id = "hm_fsize_id" })

                        </td>
                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                        <td>
                            @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2", @style = "width:100 % ", @id = "ft_ftype_desc" })

                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                        <td>
                            @Html.DropDownListFor(model => model.filesubtype, new SelectList(Model.listsubtype, "filesubtype", "filesubtype"), "File Sub Type", new { @class = "form-control select2", @style = "width:100 % ", @id = "filesubtype" })

                        </td>
                        <td valign="bottom" nowrap="nowrap">Image</td>
                        <td><input type="file" name="textfield4" id="textfield5" />
                           
                        </td>
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p> Chart No</p></td>
                        <td>

                            @Html.EditorFor(m => m.chartnum, new { htmlAttributes = new { @class = "form-control", placeholder = "Chart No" } })
                            @Html.ValidationMessageFor(m => m.chartnum)
                        </td>
                       
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color</p></td>
                        <td>

                            @Html.EditorFor(m => m.color, new { htmlAttributes = new { @class = "form-control", placeholder = "Color" } })
                            @Html.ValidationMessageFor(m => m.color)
                        </td>
                        <td valign="bottom" nowrap="nowrap"><p>Wrapper Width</p></td>
                        <td>
                            @Html.EditorFor(m => m.wrapperwidth, new { htmlAttributes = new { @class = "form-control", placeholder = "Wrapper Width" } })
                            @Html.ValidationMessageFor(m => m.wrapperwidth)
                        </td>
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 1</p></td>
                        <td>
                            @Html.EditorFor(m => m.colorphantomeshade1, new { htmlAttributes = new { @class = "form-control", placeholder = "Color Pantone Shade 1" } })
                            @Html.ValidationMessageFor(m => m.colorphantomeshade1)
                        </td>
                        <td width="177" valign="bottom" nowrap="nowrap"><p>Wrapper Length</p></td>
                        <td>
                            @Html.EditorFor(m => m.wrapperlength, new { htmlAttributes = new { @class = "form-control", placeholder = "Wrapper Length" } })
                            @Html.ValidationMessageFor(m => m.wrapperlength)
                        </td>
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 2</p></td>
                        <td>
                            @Html.EditorFor(m => m.colorphantomeshade2, new { htmlAttributes = new { @class = "form-control", placeholder = "Color Pantone Shade 2" } })
                            @Html.ValidationMessageFor(m => m.colorphantomeshade2)
                        </td>
                        <td width="177" valign="bottom" nowrap="nowrap"><p> Units to Be Packed</p></td>
                        <td>
                            @Html.EditorFor(m => m.UnitBePack, new { htmlAttributes = new { @class = "form-control", placeholder = "Units to Be Packed" } })
                            @Html.ValidationMessageFor(m => m.UnitBePack)
                        </td>
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 3</p></td>
                        <td>
                            @Html.EditorFor(m => m.colorphantomeshade3, new { htmlAttributes = new { @class = "form-control", placeholder = "Color Pantone Shade 3" } })
                            @Html.ValidationMessageFor(m => m.colorphantomeshade3)
                        </td>
                        <td width="177" valign="bottom" nowrap="nowrap"><p> Thickness</p></td>
                        <td>
                            @Html.EditorFor(m => m.wrappingThiknes, new { htmlAttributes = new { @class = "form-control", placeholder = "Thickness" } })
                            @Html.ValidationMessageFor(m => m.wrappingThiknes)
                        </td>
                    </tr>
                    <tr>
                        <td width="142" nowrap="nowrap" valign="bottom"><p>Wrapper Note</p></td>
                        <td>
                            @Html.EditorFor(m => m.wrapperNote, new { htmlAttributes = new { @class = "form-control", placeholder = "Wrapper Note" } })
                            @Html.ValidationMessageFor(m => m.wrapperNote)
                        </td>
                        <td width="177" valign="bottom" nowrap="nowrap"><p> Printed</p></td>
                        <td>
                            @Html.DropDownListFor(model => model.printed,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Yes" , Text = "Yes" },
                       new SelectListItem { Value = "No" , Text = "No" },

                    }, "Select Operator",
                  new { @class = "form-control select2", @style = "width:100%;" })
                            @Html.ValidationMessageFor(m => m.printed)

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>







    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btnSavewrapper" type="submit" class="btn btn-primary">Send for Approval</button>
    </div>

</form>