﻿@*@model JKFIlesEntity.WrapChartModelEntity*@
@{
    ViewBag.Title = "_AddNewWrapper";
    Layout = "";
}

<form action="@Url.Action("WrapperImgUpload","WrapperMaster")" method="post" enctype="multipart/form-data">

    <div class="modal-header">
        <h5 class="modal-title" id="filenew">Add New Wrapper Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th width="150">Parameter Category</th>
                        <th width="150">Parameter Name</th>
                        <th width="144">Parameter Range</th>
                        <th width="144">Parameter Value</th>
                    </tr>
                    <tr>
                        <td>Customer</td>
                     
                        <td>
                            <select id="ddlcstlist" class="form-control select2" style="width: 100%;">
                                <option value="0">Select Customer</option>
                            </select> 
                            @*<select class="form-control select2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option>Customer 1</option>
                                <option>Customer 2</option>
                                <option>Customer 3</option>
                                <option>Customer 4</option>
                                <option>Customer 5</option>
                                <option>Customer 6</option>
                            </select>*@
                        </td>
                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                        <td>
                            <select class="form-control select2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option>Brand 1</option>
                                <option>Brand 2</option>
                                <option>Brand 3</option>
                                <option>Brand 4</option>
                                <option>Brand 5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>File size</td>
                        <td>
                            <select class="form-control select2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option>2</option>
                                <option>4</option>
                                <option>6</option>
                                <option>8</option>
                                <option>10</option>
                                <option>12</option>
                            </select>
                        </td>
                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                        <td>
                            <select class="form-control select2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option>Flat</option>
                                <option>Mill</option>
                                <option>Taper</option>
                                <option>Half</option>
                                <option>Hand</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                        <td>
                            <select class="form-control select2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option>Regular</option>
                                <option>Brass</option>
                                <option>Handle</option>
                                <option> Light </option>
                                <option>Foundry </option>
                                <option>Lead Float </option>
                            </select>
                        </td>
                        @foreach (var list in Model.ReqParlist)
                        {

                            if (@list.nrm_numof_inputs > 1)
                            {
                            <tr>
                                <td> @list.nrm_for</td>
                                <td> @list.nrm_parameter</td>
                                <td><input type="@list.nrm_input_type" class="form-control" name="@list.nrm_createby@list.nrm_seqno" /></td>
                                <td><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_createby@list.nrm_seqno" /></td>
                            </tr>
                            }
                            else
                            {
                                <tr>
                                    <td> @list.nrm_for</td>
                                    <td> @list.nrm_parameter</td>

                                    <td colspan="2"><input type="@list.nrm_input_type" class="form-control" id="@list.nrm_seqno" name="@list.nrm_input_type@list.nrm_seqno" /></td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
                <div><span id="resultMessage"></span></div>
                @*<p>Note: complete flow at master end</p>*@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="WrapperChartAdd" class="btn btn-primary">Send for Approval</button>
        </div>
    </form>


    @*<form action="@Url.Action("EditWrapChartDetailsnoapprove", "WrapperMaster")" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="new">Add New Wrapper Chart </h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @Html.HiddenFor(model => model.wm_wrappertype, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_fsize_id, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_ftype_id, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_fstype_id, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_cust_id, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_brand_id, new { @class = "form-control " })

                @Html.HiddenFor(model => model.wm_request_type, new { @class = "form-control " })
                @Html.HiddenFor(model => model.wm_request_id, new { @class = "form-control " })

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="100" style="width: 10px">Parameter Name</th>
                            <th width="100" style="width: 10px">Parameter Range</th>
                            <th width="144">Parameter Value</th>
                        </tr>
                        <tr>
                            <td>Chart No</td>
                            <td colspan="2">@Html.TextBoxFor(model => model.chartnum, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>@Html.TextBoxFor(model => model.colorrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.color, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>COLOR PANTOME SHADE 1</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade1range, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade1, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>COLOR PANTOME SHADE 2</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade2range, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade2, new { @class = "form-control " })</td>

                        </tr>
                        <tr>
                            <td>COLOR PANTOME SHADE 3</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade3range, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.colorphantomeshade3, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>WRAPPER NOTE</td>
                            <td>@Html.TextBoxFor(model => model.wrapperNoterange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.wrapperNote, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>WRAPPER WIDTH</td>
                            <td>@Html.TextBoxFor(model => model.wrapperwidthrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.wrapperwidth, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>WRAPPER LENGTH</td>
                            <td>@Html.TextBoxFor(model => model.wrapperlengthrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.wrapperlength, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>UNITS TO BE PACKED</td>
                            <td>@Html.TextBoxFor(model => model.UnitBePackrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.UnitBePack, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>WRAPPING THICKNESS</td>
                            <td>@Html.TextBoxFor(model => model.wrappingThiknesrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.wrappingThiknes, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>PRINTED</td>
                            <td>@Html.TextBoxFor(model => model.printedrange, new { @class = "form-control " })</td>
                            <td>@Html.TextBoxFor(model => model.printed, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>REMARK</td>
                            <td colspan="2">@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control " })</td>
                        </tr>
                        <tr>
                            <td>IMAGE</td>
                            <td colspan="2">@Html.TextBoxFor(model => model.img, new { @class = "form-control " })</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="modal-footer">
                <div>
                    <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>

                    <button id="btnSave" type="submit" class="btn btn-primary">Send for Approval</button>
                </div>
            </div>
        </form>*@


