﻿@model JKFIlesEntity.WrapperMasterEntity
@{
    ViewBag.Title = "_ApprovedRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">

            <tr>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="25%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type Code</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
                @*<td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Type</div></td>
                    <td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Color</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 1</div></td>
                    <td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 2</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 3</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Note</div></td>
                    <td width="8%" bgcolor="#e8e8e8" class="text-black"><div align="center">Unit to be packed</div></td>*@
                <td width="25%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
            </tr>
            <tr>
                @foreach (var list in Model.wrapperNoApprove)
                {
                <tr>
                    <td>
                        <div align="center">
                            @if (@list.wm_request_type == "S")
                            {
                                <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.wm_request_type@list.wm_request_id</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.wm_request_type@list.wm_request_id</a>
                            }
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <a href="#" class="" data-target="#wrapperedit1" data-toggle="modal" onclick="ShowWrapperdetails('@list.wm_request_id','@list.wm_request_type')">
                                @list.cm_cust_name
                            </a>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.bm_brand_name
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.FileTypeCode
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fs_size_inches
                        </div>
                    </td>

                    <td>
                        <div align="center">
                            @list.wm_chart_remarks
                        </div>
                    </td>

                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_MGR")
                            {
                                <a href="#" data-toggle="modal" onclick="RejectApprove('@list.wm_request_type@list.wm_request_id','@list.wm_request_id','@list.wm_request_type')" data-target="#app" class="btn btn-warning">Approve</a>
                                @*<a href="@Url.Action("UpdateWrapperApprove", "WrapperMaster", new { ID = @list.wm_request_id, type = @list.wm_request_type })" class="CountClick btn btn-warning" data-id="@list.wm_request_id">Approve</a>*@
                            }
                            else
                            {
                                <a href="" class="btn btn-warning" data-id="@list.wm_request_id">Approve</a>
                            }
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

                }
               

            </table>


        </div>

    </div>
<div class="modal fade bd-example-modal-lg" id="wrapperedit1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content1"></div>
        </div>
    </div>
</div>
<script>
    function ShowWrapperdetails(i,j) {
        var reqno=i;
        var reqtype=j;
        $.ajax({
            url: '@Url.Action("GetShowWrapperdetails", "WrapperMaster")',
            data: { reqno: reqno,reqtype:reqtype },
            type: "GET",
            datatype: "json",
            success: function (data) {
                var Id = data;
                //alert(Id)
                $("#content1").html(data);
                $('#wrapperedit1').modal('show');
            }
        })
    }
</script>