﻿
@{
    ViewBag.Title = "_EditWrapper";
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">View/Edit Wrapper </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <br>

    <table width="100%" border="1" class="table table-bordered">
        <tbody>
            <tr>
                <th width="92" height="30"><div align="center">Parameter Name	</div></th>

                <th width="166"><div align="center"><span>Parameter Value</span></div></th>
            </tr>
            @foreach (var item in Model.wrapperMasterdetailsList)
            {
                <tr>
                    <td align="center" width="239" nowrap="nowrap" valign="bottom">@item.wd_parm_name</td>

                    <td align="center">@item.wd_parm_scrnvalue</td>
                </tr>
            }
        </tbody>

    </table>

    @*<a href="#" class="btn btn btn-default  mr-5 pull-right" data-dismiss="modal"> close</a>*@
    <br>
 

</div>

<div class="modal-footer">
    @*<button type="button" class="btn btn-primary">Edit</button>*@
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>

