﻿@model JKFIlesEntity.WrapperMasterEntity
@{
    ViewBag.Title = "_NewRequest";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCC">
            <tr>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Request No</div></td>
                <td width="25%" bgcolor="#e8e8e8" class="text-black"><div align="center">Customer</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">Brand</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Type Code</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">File Size</div></td>
                @*<td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Type</div></td>
                    <td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Color</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 1</div></td>
                    <td width="5%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 2</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Pantone Shade 3</div></td>
                    <td width="6%" bgcolor="#e8e8e8" class="text-black"><div align="center">Note</div></td>
                    <td width="8%" bgcolor="#e8e8e8" class="text-black"><div align="center">Unit to be packed</div></td>*@
                <td width="25%" height="33" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                <td width="10%" bgcolor="#e8e8e8" class="text-black"><div align="center">View/Edit </div></td>
            </tr>
            <tr>
                @foreach (var list in Model.wrapperNoActiveList)
                {
                <tr>
                    <td>
                        <div align="center">
                            @if (@list.wm_request_type == "S")
                            {
                                <a href="@Url.Action("ManageSetView", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.wm_request_type@list.wm_request_id</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "NewPartReqView", new { partno = @list.ReqNo })" target="_blank">@list.wm_request_type@list.wm_request_id</a>
                            }
                           

                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.cm_cust_name
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.bm_brand_name
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.FileTypeCode
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fs_size_inches
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.wm_chart_remarks
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @if (Session["Role"].ToString() == "ALL_Access" || Session["Role"].ToString() == "EMT_Disp_User")
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@list.wm_request_id,@list.wm_request_type"><i class="fa fa-pencil"></i></a>
                            }
                            else
                            {
                                <a><i class="fa fa-pencil"></i></a>
                            }
                        </div>
                        <div align="center"></div>
                        <div align="center"></div>
                    </td>
                </tr>

                }
                </tr>
            </table>
        </div>
    </div>
