﻿@*@model JKFIlesEntity.WrapperMasterEntity*@
@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.WrapperMasterEntity>
@{
    ViewBag.Title = "_WrapperdetailsMaster";
}

<div id="divPartialView1">
    <div class="col-md-6">
        <div class="table-responsive">

            <br>

            <table width="100%" border="1" bordercolor="#CCC">
                <tbody>
                    <tr>
                        <td width="4%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size Code</div></td>

                        <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Type</div></td>
                        <td width="4%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Chart No </div></td>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
            {
                        <tr>
                            <td><div align="center">@Model[i].wm_fsize_id</div></td>
                            <td>
                                <div align="center">


                                    @Model[i].wm_wrappertype

                                </div>

                            </td>

                            <td>
                                <div align="center">

                                    <a href="#" class="wrappereditcls" data-target="#wrapperedit" data-toggle="modal" data-id="@Model[i].wm_chart_num">
                                        <p>@Model[i].wm_chart_num</p>
                                </div>
                            </td>


                        </tr>

                    }

                    @*@foreach (var list in Model.wrapperMasterEntityList)
                        {
                            <tr>
                                <td><div align="center">@list.wm_fsize_id</div></td>

                                <td><div align="center">@list.wm_wrappertype</div></td>
                                <td>
                                    <div align="center">

                                        <a href="#" class="wrapperedit" data-id="@list.wm_chart_num">
                                            @list.wm_chart_num
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filesize = ViewBag.filesize, wrappertype = ViewBag.wrappertype }))
                </div>
            </div>




            <p class="style1">&nbsp;</p>
        </div>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="wrapperedit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ChangewrapperApprove").change(function () {
            $("#loading").css("display", "block");
            var filesize = $("#wm_fsize_id").val();
            var wrappertype = $("#wm_wrappertype").val();

            $.ajax({
                url: '@Url.Action("WrapperdetailsMaster", "WrapperMaster")',
                data: { filesize: filesize, wrappertype: wrappertype },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#divPartialView1").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });


    });
</script>



<script>
    $(document).ready(function () {
        $(".wrappereditcls").on('click', function () {
            // alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("editWrappermaster", "WrapperMaster")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#wrapperedit').modal('show');
                }
            })
        });



        @*$("#btnSave").click(function () {
                alert("Loaded");
                $.ajax(
                    {
                        url: '@Url.Action("Rejectuser", "UserApproval")',
                        data: "",
                        type: "GET",
                        datatype: "",
                        success: function (data) {

                        }
                    })
            });*@
    });
</script>



