﻿@model JKFIlesEntity.WrapperMasterEntity
    @{
        ViewBag.Title = "_Wrapperddlmaster";
    }

    <form class="form-inline" method="post">


        <div class="form-group  col-md-2" style="margin-bottom: 10px">
            @Html.DropDownListFor(model => model.wm_fsize_id, new SelectList(Model.listsizecode, "wm_fsize_id", "wm_fsize_id"), "File Size Code", new { @class = "form-control select2 ChangewrapperApprove", @style = "width:100 % ", @id = "wm_fsize_id" })
            @Html.HiddenFor(m => m.wm_fsize_id)
        </div>

        @*<select class="form-control" placeholder="Select Process">
                <option selected disabled>Select File Size Code</option>
                <option value="1">04</option>
                <option value="2">06</option>
                <option value="3">08</option>
                <option value="4">10</option>

            </select>*@





        <div class="form-group  col-md-2" style="margin-bottom: 10px">
            @Html.DropDownListFor(model => model.wm_wrappertype, new SelectList(Model.listwrappertype, "wm_wrappertype", "wm_wrappertype"), "Wrapper Type", new { @class = "form-control select2 ChangewrapperApprove", @style = "width:100 % ", @id = "wm_wrappertype" })
            @Html.HiddenFor(m => m.wm_wrappertype)
        </div>
        @*<select class="form-control" placeholder="Select ">
                <option selected disabled>Type</option>
                <option value="1">Wax Paper</option>
                <option value="2">PVC Sleeve</option>


            </select>*@





    </form>

