﻿@model JKFIlesEntity.WrapperMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<section>
    <div class="content">



        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">Wrapper Details</h3>
            </div>
            <div class="box-body">

                <div class='col-md-12'>
                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                        <i class="fa fa-plus"></i>
                                        <span>New Requests</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="newR" class="panel-collapse collapse ">
                                @Html.Action("NewRequest")
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                        <i class="fa fa-plus"></i>
                                        <span>Requests for Approval</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="approveR" class="panel-collapse collapse">
                                @Html.Action("ApprovedRequest")
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                        <i class="fa fa-plus"></i>  <span>Wrapper Master</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="existing" class="panel-collapse collapse active in ">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @*<a href="#" class="btn btn-primary pull-right" id="btninsert" data-toggle="modal" data-target="#inserwrapper">Add New </a>*@
                                        @if (Session["Role"].ToString() == "EMT_Disp_User")
                                        {
                                            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#wrappernew">
                                                Add New
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default pull-right">
                                                Add New
                                            </a>
                                        }

                                        <a href="Index">
                                            <input type="button" class="btn btn-default pull-right" style="margin-right:5px" value="Show All" />
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="col-md-12">
                                        <br>
                                        <img src="~/Content/Images/loader.GIF" id="loading" style="display:none" />
                                        @Html.Action("Wrapperddlmaster")


                                    </div>
                                    <div style="clear:both"></div>
                                    @Html.Action("WrapperdetailsMaster")
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>

        </div>




        <div class="modal fade bd-example-modal-lg" id="wrapperview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wrapper </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>With Values</h4>
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="142" style="width: 10px">Parameter Name</th>
                                        <th width="156">Parameter Value</th>
                                        <th width="177" style="width: 10px">Parameter Name</th>
                                        <th width="268">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>
                                                <option>Customer 4</option>
                                                <option>Customer 5</option>
                                                <option>Customer 6</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>
                                                <option>Brand 4</option>
                                                <option>Brand 5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>File size</td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>2</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Regular</option>
                                                <option>Brass</option>
                                                <option>Handle</option>
                                                <option> Light </option>
                                                <option>Foundry </option>
                                                <option>Lead Float </option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Wrapper Width</p></td>
                                        <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 1</p></td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p>Wrapper Length</p></td>
                                        <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 2</p></td>
                                        <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Units to Be Packed</p></td>
                                        <td><input type="text" class="form-control" name="textfield9" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 3</p></td>
                                        <td><input type="text" class="form-control" name="textfield6" id="textfield7" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Thickness</p></td>
                                        <td><input type="text" class="form-control" name="textfield10" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Wrapper Note</p></td>
                                        <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Printed</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Yes</option>
                                                <option>No</option>

                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
















        <div class="modal fade bd-example-modal-lg" id="wrappernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Wrapper </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="142" style="width: 10px">Parameter Name</th>
                                        <th width="156">Parameter Value</th>
                                        <th width="177" style="width: 10px">Parameter Name</th>
                                        <th width="268">Parameter Value</th>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>
                                                <option>Customer 4</option>
                                                <option>Customer 5</option>
                                                <option>Customer 6</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>
                                                <option>Brand 4</option>
                                                <option>Brand 5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>File size</td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>2</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>8</option>
                                                <option>10</option>
                                                <option>12</option>
                                            </select>
                                        </td>
                                        <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Regular</option>
                                                <option>Brass</option>
                                                <option>Handle</option>
                                                <option> Light </option>
                                                <option>Foundry </option>
                                                <option>Lead Float </option>
                                            </select>
                                        </td>
                                        <td valign="bottom" nowrap="nowrap">Image</td>
                                        <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color</p></td>
                                        <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                        <td valign="bottom" nowrap="nowrap"><p>Wrapper Width</p></td>
                                        <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 1</p></td>
                                        <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p>Wrapper Length</p></td>
                                        <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 2</p></td>
                                        <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Units to Be Packed</p></td>
                                        <td><input type="text" class="form-control" name="textfield9" id="textfield6" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 3</p></td>
                                        <td><input type="text" class="form-control" name="textfield6" id="textfield7" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Thickness</p></td>
                                        <td><input type="text" class="form-control" name="textfield10" id="textfield8" /></td>
                                    </tr>
                                    <tr>
                                        <td width="142" nowrap="nowrap" valign="bottom"><p>Wrapper Note</p></td>
                                        <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                        <td width="177" valign="bottom" nowrap="nowrap"><p> Printed</p></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select </option>
                                                <option>Yes</option>
                                                <option>No</option>

                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>







                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>






        <div style="clear:both"></div>

    </div>

</section>


<div class="modal fade bd-example-modal-lg" id="inserwrapper" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        @*<div id="dis_content"></div>*@
        <div class="modal-content">
            @Html.Action("getwrapper", "WrapperMaster")
        </div>
    </div>
</div>
<div class="modal fade in" id="app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Remark</label>
                <textarea name="or_remarks" id="or_remarks" cols="" rows=""></textarea>
                <h4> Confirm Approval?</h4>
                <a href="" class="btn btn-primary" onclick="UpdateApprove()">Approve</a>
                <a href="#" class="btn btn-primary" onclick="RejectRequest()">Reject</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script>
    var TeamDetailPostBackURL = '@Url.Action("REQWrapperChartDetails", "WrapperMaster")';
    $(function () {
        $(".anchorDetail").click(function () {
            
            var $buttonClicked = $(this);
            var id1 = $buttonClicked.attr('data-id');
            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "type": type },
                datatype: "json",
                success: function (data) {
                    
                    $('#myModalContent').html(data);
                    $('#editcustomer').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });
</script>


<script>
    var requestid = "";
    var requestNo = "";
    var requesttype = "";
    function RejectApprove(i, j, k) {
        $("#exampleModalLabel").empty();
        requestid = i;
        requestNo = j;
        requesttype = k;
        $("#exampleModalLabel").append("Request No :", requestid);
    }
    function RejectRequest() {
                $.ajax({
                    url: '@Url.Action("RejectApprove", "WrapperMaster")',
                    data: { ID: requestNo, type: requesttype },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        location = data.url;
                    },
                    error: function () {
                        alert("No Records reject");
                    }
                });
            }
    function UpdateApprove() {
    $.ajax({
        url: '@Url.Action("UpdateWrapperApprove", "WrapperMaster")',
        data: { ID: requestNo, type: requesttype },
        type: 'POST',
        dataType: "json",

        success: function (data) {
             location = data.url;

        },
        error: function () {
            alert("No Records approve");
        }
    });
    }
</script>





