﻿
@model JKFIlesEntity.WrapChartModelEntity


<div class="modal-header">
    <h5 class="modal-title" id="new">Add New Wrapper Chart </h5>
    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="@Url.Action("EditWrapChartDetailsnoapprove", "WrapperMaster")" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        @Html.HiddenFor(model => model.wm_wrappertype, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_fsize_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_ftype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_fstype_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_cust_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_brand_id, new { @class = "form-control " })
       
        @Html.HiddenFor(model => model.wm_request_type, new { @class = "form-control " })
        @Html.HiddenFor(model => model.wm_request_id, new { @class = "form-control " })
        @Html.HiddenFor(model => model.img, new { @class = "form-control " })
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="100" style="width: 10px">Parameter Name</th>
                    <th width="100" style="width: 10px">Parameter Range</th>
                    <th width="144">Parameter Value</th>
                </tr>
                <tr>
                    <td>Chart No</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.chartnum, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>@Html.TextBoxFor(model => model.colorrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.color, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>COLOR PANTOME SHADE 1</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade1range, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade1, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>COLOR PANTOME SHADE 2</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade2range, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade2, new { @class = "form-control ", @required = "Required" })</td>

                </tr>
                <tr>
                    <td>COLOR PANTOME SHADE 3</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade3range, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.colorphantomeshade3, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>WRAPPER NOTE</td>
                    <td>@Html.TextBoxFor(model => model.wrapperNoterange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.wrapperNote, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>WRAPPER WIDTH</td>
                    <td>@Html.TextBoxFor(model => model.wrapperwidthrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.wrapperwidth, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>WRAPPER LENGTH</td>
                    <td>@Html.TextBoxFor(model => model.wrapperlengthrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.wrapperlength, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>UNITS TO BE PACKED</td>
                    <td>@Html.TextBoxFor(model => model.UnitBePackrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.UnitBePack, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>WRAPPING THICKNESS</td>
                    <td>@Html.TextBoxFor(model => model.wrappingThiknesrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.wrappingThiknes, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>PRINTED</td>
                    <td>@Html.TextBoxFor(model => model.printedrange, new { @class = "form-control ", @required = "Required" })</td>
                    <td>@Html.TextBoxFor(model => model.printed, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>REMARK</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control ", @required = "Required" })</td>
                </tr>
                <tr>
                    <td>IMAGE</td>
                    <td colspan="2"><input type="file" name="file1" required class="form-control"/></td>
                    @*<td colspan="2">@Html.TextBoxFor(model => model.img, new { @class = "form-control ", @required = "Required" })</td>*@
                </tr>

            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <div>
            <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @*<a href="#reject" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Reject</a>
                <a href="submit" type="button" class="btn btn-primary" data-dismiss="modal">Use Existing</a>*@
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
</form>


