﻿@model JKFiles.WebApp.Models.UserLoginModel
@{
    ViewBag.Title = "_RejectUser";
    Layout = "";
}

<form action="@Url.Action("Rejectuser", "UserApproval")" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rejection Reason :- @Html.DisplayFor(model => model.User_Id)</h5>
            @Html.HiddenFor(model => model.User_Id)
            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <div class="form-group">
                <label for="message-text" class="col-form-label">Enter Rejection Reason </label>
                
                @Html.TextBoxFor(m=>m.decline_reason,new { @class="form-control"})
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btnSave" type="submit" class="btn btn-primary" hidden="@Model.User_Id">Submit</button>
        </div>

    </div>
</form>

