﻿
@model IEnumerable<JKFiles.WebApp.Models.UserLoginModel>
@{
    ViewBag.Title = "_UserList";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Approve Users</h3></div>




        <div class="box-body">


            <div class="table-responsive">
                <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr height="36">
                            <td bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Plant Name or Ancillary ")</div></td>
                            <td height="36" bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("User Id")</div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("User Name")</span></div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("Role")</span></div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1">Approve</div></td>
                            <td width="163" bgcolor="#333333"><div align="center" class="style1">Reject</div></td>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr height="27">

                                <td width="352"><div align="center">@Html.DisplayFor(m => item.PlantName) </div></td>
                                <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.User_Id) </div></td>
                                <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.FirstName) </div></td>
                                <td width="352" height="27"><div align="center">@Html.DisplayFor(m => item.RoleName) </div></td>
                                <td><div align="center"><a href="@Url.Action("Approve","UserApprove",new {@id= item.Login_Id})" class="btn btn-warning">Approve</a></div></td>
                                <td><div align="center"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#reject">Reject</a></div></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>






        </div>
    </div>
</section>

@*<section class="content">

        <div class="box box-default">

            <div class="box-header with-border "><h3 class="box-title"> Approve Users</h3></div>




            <div class="box-body">


                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                        <tbody>
                            <tr height="36">
                                <td bgcolor="#333333"><div align="center" class=" style1">Main or Ancillary Plant Id</div></td>
                                <td height="36" bgcolor="#333333"><div align="center" class=" style1">User Id</div></td>
                                <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">User Name</span></div></td>
                                <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">Role</span></div></td>
                                <td width="165" bgcolor="#333333"><div align="center" class="style1">Approve</div></td>
                                <td width="163" bgcolor="#333333"><div align="center" class="style1">Reject</div></td>
                            </tr>

                            <tr height="27">
                                <td width="352"><div align="center">Vapi</div></td>
                                <td width="352" height="27"><div align="center"> <span>m@brainlines.in</span> </div></td>
                                <td>
                                    <div align="center">
                                        <div> <span>Manohar Deshmukh</span> </div>
                                    </div>
                                </td>
                                <td><div align="center">CEO</div></td>
                                <td><div align="center"><a href="#" class="btn btn-warning">Approve</a></div></td>
                                <td><div align="center"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#reject">Reject</a></div></td>
                            </tr>
                            <tr height="27">
                                <td width="352"><div align="center">Aditya Precitech</div></td>
                                <td width="352" height="27"><div align="center"> <span>g@brainlines.in</span> </div></td>
                                <td>
                                    <div align="center">
                                        <div> <span>Girija Kale</span> </div>
                                    </div>
                                </td>
                                <td><div align="center">HR</div></td>
                                <td><div align="center"><a href="#" class="btn btn-warning">Approve</a></div></td>
                                <td><div align="center"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#reject">Reject</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>







            </div>



        </div>







    </section>*@







