﻿@model IEnumerable<JKFiles.WebApp.Models.UserLoginModel>
@{
    ViewBag.Title = "UserApprovalIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Main content -->
<section class="content">

    <div class="box box-default">

        <div class="box-header with-border "><h3 class="box-title"> Approve Users</h3></div>




        <div class="box-body">


            <div class="table-responsive">
                <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr height="36">
                            <td bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("Main or Ancillary Plant")</div></td>
                            <td height="36" bgcolor="#333333"><div align="center" class=" style1">@Html.DisplayName("User Id")</div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("User Name")</span></div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1"><span class="style3 style1">@Html.DisplayName("Role")</span></div></td>
                            <td width="165" bgcolor="#333333"><div align="center" class="style1">Approve</div></td>
                            <td width="163" bgcolor="#333333"><div align="center" class="style1">Reject</div></td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr height="27">
                                <td width="352"><div align="center">@Html.DisplayFor(m => item.PlantName)</div></td>
                                <td width="352" height="27"><div align="center"> <span>@Html.DisplayFor(m => item.User_Id)</span> </div></td>
                                <td>
                                    <div align="center">
                                        <div> <span>@Html.DisplayFor(m => item.Fullname)</span> </div>
                                    </div>
                                </td>
                                <td><div align="center">@Html.DisplayFor(m => item.RoleName)</div></td>
                                <td><div align="center"><a href="@Url.Action("Approve",new { @id=item.Login_Id})" class="btn btn-warning">Approve</a></div></td>
                                <td>
                                    <div align="center">
                                        <a href="#" class="btn1" data-id="@item.User_Id">
                                            <i class="fa fa-close"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")




<div class="modal" id="rejectuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="content"></div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        $(".btn1").on('click', function () {
            //alert("kk");
            var reqno;
            reqno = $(this).data('id');
            $.ajax({
                url: '@Url.Action("CallAprovalReject", "UserApproval")',
                data: { reqno: reqno },
                type: "GET",
                datatype: "json",
                success: function (data) {
                    var Id = data;
                    //alert(Id)
                    $("#content").html(data);
                    $('#rejectuser').modal('show');
                }
            })
        });



        $("#btnSave").click(function () {
           alert("Loaded");
            $.ajax(
                {
                    url: '@Url.Action("Rejectuser", "UserApproval")',
                    data: "",
                    type: "GET",
                    datatype: "",
                    success: function (data) {

                    }
                })
        });
    });
</script>






@*<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rejection Reason</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Enter Rejection Reason </label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>*@


