﻿@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="content">
    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Handle Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Size(In inch)</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Handle Type</div></td>
                                                <td width="18%" bgcolor="#333333" class="style1"><div align="center">Insert</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">Flat</div></td>
                                                <td><div align="center">Brass</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">Wood</div></td>
                                                <td><div align="center">No</div></td>
                                                <td><div align="center"></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#handleedit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Size(In inch)</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Handle Type</div></td>
                                                <td width="18%" bgcolor="#333333" class="style1"><div align="center">Insert</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td height="47"><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">Flat</div></td>
                                                <td><div align="center">Brass</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">Wood</div></td>
                                                <td><div align="center">No</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#handleedit"><i class="fa fa-search-plus"></i></a></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Handle Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#handlenew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">
                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Type</option>
                                                <option value="1">Flat</option>
                                                <option value="2">Round</option>
                                                <option value="3">Mill</option>
                                                <option value="4">Half Round</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>With Insert</option>
                                                <option value="1">Yes</option>
                                                <option value="2">No</option>


                                            </select>
                                        </div>




                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tr>
                                            <td bgcolor="#333333" class="style1"><div align="center">Chart No</div></td>
                                            <td height="32" bgcolor="#333333" class="style1"><div align="center">File code</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Size</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Type</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Insert</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">L1</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">L2</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">L3</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">L4</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">L5</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">D</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">D1</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">H</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">H1</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">H2</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">R</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">R1</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">R2</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">R3</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Side W</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Side W</span>1</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Side W</span>2</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Side W</span>3</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Side R4</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Side R5</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Insert Width</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Insert Height</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">View</span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    <p>WH-23</p>
                                                </div>
                                            </td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">04</div></td>
                                            <td><div align="center">Plastic</div></td>
                                            <td><div align="center">Y</div></td>
                                            <td height="20"><div align="center">110</div></td>
                                            <td><div align="center">65</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">20</div></td>
                                            <td><div align="center">5</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">13</div></td>
                                            <td><div align="center">12</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">40</div></td>
                                            <td><div align="center">1.5</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">26.5</div></td>
                                            <td><div align="center">18</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">3</div></td>
                                            <td><div align="center">45</div></td>
                                            <td><div align="center">9</div></td>
                                            <td><div align="center">8.5</div></td>
                                            <td><div align="center">8.5</div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#handleimage"> <i class="fa fa-search-plus"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">WH-23</div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">06</div></td>
                                            <td><div align="center">Plastic</div></td>
                                            <td><div align="center">Y</div></td>
                                            <td height="20"><div align="center">110</div></td>
                                            <td><div align="center">65</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">20</div></td>
                                            <td><div align="center">5</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">13</div></td>
                                            <td><div align="center">12</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">40</div></td>
                                            <td><div align="center">1.5</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">26.5</div></td>
                                            <td><div align="center">18</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">3</div></td>
                                            <td><div align="center">45</div></td>
                                            <td><div align="center">9</div></td>
                                            <td><div align="center">8.5</div></td>
                                            <td><div align="center">8.5</div></td>
                                            <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">WH-03</div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">08</div></td>
                                            <td><div align="center">Wooden</div></td>
                                            <td><div align="center">N</div></td>
                                            <td height="20"><div align="center">110</div></td>
                                            <td><div align="center">65</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">20</div></td>
                                            <td><div align="center">5</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">13</div></td>
                                            <td><div align="center">12</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">22</div></td>
                                            <td><div align="center">30</div></td>
                                            <td><div align="center">40</div></td>
                                            <td><div align="center">1.5</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">15</div></td>
                                            <td><div align="center">26.5</div></td>
                                            <td><div align="center">18</div></td>
                                            <td><div align="center">25</div></td>
                                            <td><div align="center">3</div></td>
                                            <td><div align="center">45</div></td>
                                            <td><div align="center">9</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                        </tr>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>





            <div class="modal fade bd-example-modal-lg" id="handleimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="exampleModalLabel">New </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <h4>Handle Image</h4>
                            <img src="~/SharedCss/dist/img/WH-23.jpg" class="img-responsive">

                            <h4>Insert Image</h4>

                            <img src="~/SharedCss/dist/img/WH-24.jpg" class="img-responsive" style="width:300" width="500">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="modal fade bd-example-modal-lg" id="handleedit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="exampleModalLabel">New </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>With Values</h5>
                            <div class=" table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th width="116" style="width: 10px">Parameter Name</th>
                                            <th width="155">Parameter Value</th>
                                            <th style="width: 10px">Parameter Name</th>
                                            <th width="160">Parameter Value</th>
                                        </tr>
                                        <tr>
                                            <td>File size</td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option>4</option>
                                                    <option>6</option>
                                                    <option>8</option>
                                                </select>
                                            </td>
                                            <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                            <td>
                                                <select name="select" class="form-control select2" id="select">
                                                    <option>Flat</option>
                                                    <option>Round</option>
                                                    <option>Half Round</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                            <td>
                                                <select name="select" class="form-control select2" id="select">
                                                    <option>Brass</option>
                                                    <option>Aluminium</option>
                                                </select>
                                            </td>
                                            <td valign="bottom" nowrap="nowrap">Insert </td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option selected="selected">Select</option>
                                                    <option>Yes </option>
                                                    <option>No</option>
                                                </select>
                                            </td>
                                        </tr>





                                        <tr>
                                            <td>Handle Type</td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option>Wood</option>
                                                    <option>Plastic</option>
                                                </select>
                                            </td>
                                            <td valign="bottom" nowrap="nowrap"><p>H2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield" id="textfield" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield3" id="textfield13" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R3</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Hole din</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Hole din</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield10" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W3</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>H</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield12" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side R4</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield10" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield11" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side R5</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield12" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Handle Image</p></td>
                                            <td><input type="file" name="textfield2" /></td>
                                            <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Image</p></td>
                                            <td><input type="file" name="textfield2" /></td>
                                        </tr>

                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Insert Width</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" /></td>
                                            <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Height</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>







                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade bd-example-modal-lg" id="handlenew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="exampleModalLabel">New </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class=" table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th width="116" style="width: 10px">Parameter Name</th>
                                            <th width="155">Parameter Value</th>
                                            <th style="width: 10px">Parameter Name</th>
                                            <th width="160">Parameter Value</th>
                                        </tr>
                                        <tr>
                                            <td>File size</td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option>4</option>
                                                    <option>6</option>
                                                    <option>8</option>
                                                </select>
                                            </td>
                                            <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                            <td>
                                                <select name="select" class="form-control select2" id="select">
                                                    <option>Flat</option>
                                                    <option>Round</option>
                                                    <option>Half Round</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                            <td>
                                                <select name="select" class="form-control select2" id="select">
                                                    <option>Brass</option>
                                                    <option>Aluminium</option>
                                                </select>
                                            </td>
                                            <td valign="bottom" nowrap="nowrap">Insert </td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option selected="selected">Select</option>
                                                    <option>Yes </option>
                                                    <option>No</option>
                                                </select>
                                            </td>
                                        </tr>





                                        <tr>
                                            <td>Handle Type</td>
                                            <td>
                                                <select name="select" class="form-control select2">
                                                    <option>Wood</option>
                                                    <option>Plastic</option>
                                                </select>
                                            </td>
                                            <td valign="bottom" nowrap="nowrap"><p>H2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield" id="textfield" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield3" id="textfield13" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>R3</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Length of Handle</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Hole din</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W2</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Hole din</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield10" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side W3</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>H</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield12" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side R4</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield10" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield11" /></td>
                                            <td width="101" valign="bottom" nowrap="nowrap"><p>Side R5</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" id="textfield12" /></td>
                                        </tr>
                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Handle Image</p></td>
                                            <td><input type="file" name="textfield2" /></td>
                                            <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Image</p></td>
                                            <td><input type="file" name="textfield2" /></td>
                                        </tr>

                                        <tr>
                                            <td width="116" nowrap="nowrap" valign="bottom"><p>Insert Width</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" /></td>
                                            <td width="101" nowrap="nowrap" valign="bottom"><p>Insert Height</p></td>
                                            <td><input type="text" class="form-control select2" name="textfield2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>







                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>














        </div>

    </div>


</div>
