﻿
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}



<div class="content">
    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">InnerBox Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Box Design</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Notes</span></div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Box Width</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Box Height</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Box Length</div></td>
                                                <td width="15%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="14%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="17%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">HDPE BOX</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">23</div></td>
                                                <td><div align="center">16</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">10</div></td>
                                                <td><div align="center"></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#inneredit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="5%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Box Design</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Notes</span></div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Box Width</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Box Height</div></td>
                                                <td width="7%" bgcolor="#333333" class="style1"><div align="center">Box Length</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="13%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="13%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">HDPE BOX</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">23</div></td>
                                                <td><div align="center">16</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">10</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#inneredit"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>InnerBox Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#innernew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">
                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Type</option>
                                                <option value="1">Flat</option>
                                                <option value="2">Round</option>
                                                <option value="3">Mill</option>
                                                <option value="4">Half Round</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Material</option>
                                                <option value="1">HDPE</option>
                                                <option value="2">Cardboard</option>


                                            </select>
                                        </div>




                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="4%" height="33" bgcolor="#333333" class="style1"><div align="center">Chart No </div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Box Design</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Notes</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Box Width</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Box Height</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Box Length</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">T</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">L1</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">L2</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">H1</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">H2</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">H3</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Cap W</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Cap H</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Cap l1</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Cap l</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1">
                                                    <div align="center">
                                                        <p>Total Length</p>
                                                        <p>(L + l1)</p>
                                                    </div>
                                                </td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Weight of Box</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Drawing Image</div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">PROV-08</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">HDPE BOX</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">23</div></td>
                                                <td><div align="center">16</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">10</div></td>
                                                <td><div align="center">30</div></td>
                                                <td><div align="center">95</div></td>
                                                <td><div align="center">155</div></td>
                                                <td><div align="center">15</div></td>
                                                <td><div align="center">10</div></td>
                                                <td><div align="center">8</div></td>
                                                <td><div align="center">23</div></td>
                                                <td><div align="center">16</div></td>
                                                <td><div align="center">6</div></td>
                                                <td><div align="center">15</div></td>
                                                <td><div align="center">161</div></td>
                                                <td><div align="center">  22   11</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#innerimage"> <i class="fa fa-search-plus"></i></a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>






    <div style="clear:both"></div>

</div>

<div class="modal fade bd-example-modal-lg" id="innerimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inner Packing </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Inner packing</h4>




                <img src="~/SharedCss/dist/img/PROV-02.jpg" class="img-responsive">



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="inneredit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inner Packing </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>With Values</h4>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="137" style="width: 10px">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="313" style="width: 10px">Parameter Name</th>
                                <th width="268">Parameter Value</th>
                            </tr>
                            <tr>
                                <td>File size</td>
                                <td>
                                    <select class="form-control select2">
                                        <option>2</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option>Regular</option>
                                        <option>Brass</option>
                                        <option>Handle</option>
                                        <option> Light </option>
                                        <option>Foundry </option>
                                        <option>Lead Float </option>
                                    </select>
                                </td>
                                <td valign="bottom" nowrap="nowrap">Image</td>
                                <td><input type="file" name="textfield4" id="textfield5" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Material</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield3" id="textfield13" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Design</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H2</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Note</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H3</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Width</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap W</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Height</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield23" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap H</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield24" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Length</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield21" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap L1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield22" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Units to Be Packed</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield19" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap I</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield20" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>T</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield17" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Total Length Box + Cap (L+L1)</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield18" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>L1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield15" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Weight of Box(Grams)</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield16" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>L2</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield11" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>&nbsp;</p></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade bd-example-modal-lg" id="innernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inner Packing </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="137" style="width: 10px">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="313" style="width: 10px">Parameter Name</th>
                                <th width="268">Parameter Value</th>
                            </tr>
                            <tr>
                                <td>File size</td>
                                <td>
                                    <select class="form-control select2">
                                        <option>2</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                    </select>
                                </td>
                                <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                <td>
                                    <select class="form-control select2">
                                        <option>Regular</option>
                                        <option>Brass</option>
                                        <option>Handle</option>
                                        <option> Light </option>
                                        <option>Foundry </option>
                                        <option>Lead Float </option>
                                    </select>
                                </td>
                                <td valign="bottom" nowrap="nowrap">Image</td>
                                <td><input type="file" name="textfield4" id="textfield5" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Material</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield2" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield3" id="textfield13" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Design</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield4" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H2</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield3" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Note</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield7" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>H3</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield6" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Width</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield9" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap W</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield8" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Height</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield23" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap H</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield24" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Box Length</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield21" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap L1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield22" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p> Units to Be Packed</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield19" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Cap I</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield20" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>T</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield17" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Total Length Box + Cap (L+L1)</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield18" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>L1</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield15" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>Weight of Box(Grams)</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield16" /></td>
                            </tr>
                            <tr>
                                <td width="137" nowrap="nowrap" valign="bottom"><p>L2</p></td>
                                <td><input type="text" class="form-control select2" name="textfield2" id="textfield11" /></td>
                                <td width="261" nowrap="nowrap" valign="bottom"><p>&nbsp;</p></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
