﻿
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">



    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Inner Label Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Cut</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Quality Seal</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Hologram</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Barcode</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Prize Sticker</span></div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Identification</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">label Location Id</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Supplier</div></td>
                                                <td width="14%" height="33" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="17%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">G Das &amp; Co</div></td>
                                                <td><div align="center"></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#innerview"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Cut</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Quality Seal</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Hologram</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Barcode</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Prize Sticker</span></div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Identification</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">label Location Id</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Supplier</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">G Das &amp; Co</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#innerview"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>InnerLabel Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#innernew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">


                                        <div class="form-group">

                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select Customer </option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>
                                                <option>Customer 4</option>
                                                <option>Customer 5</option>
                                                <option>Customer 6</option>
                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control select2" id="selectbox1">
                                                <option selected="selected" disabled>Select Brand </option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>
                                                <option>Brand 4</option>
                                                <option>Brand 5</option>
                                            </select>
                                        </div>





                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Type</option>
                                                <option value="1">Flat</option>
                                                <option value="2">Round</option>
                                                <option value="3">Mill</option>
                                                <option value="4">Half Round</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>







                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="4%" height="33" bgcolor="#333333" class="style1"><div align="center">Chart No </div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Cut</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Quality Seal</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Hologram</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Barcode</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Prize Sticker</span></div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Identification</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">label Location Id</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Supplier</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center"> View</div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">PROV-02A</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">Y</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">G Das &amp; Co</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#innerimage"> <i class="fa fa-search-plus"></i></a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>







    <div class="modal fade bd-example-modal-lg" id="innerimage" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inner Label </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">




                    <h4>Inner packing</h4>
                    <h5>Side Label</h5>
                    <img src="~/SharedCss/dist/img/sidelabel.jpg" width="200" height="70" class="img-responsive">
                    <h5>Top Label</h5>
                    <img src="~/SharedCss/dist/img/toplabel.jpg" width="250" height="70" class="img-responsive">
                    <h5>End Label</h5>
                    <img src="~/SharedCss/dist/img/endlabel.jpg" width="200" height="70" class="img-responsive">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>









    <div class="modal fade bd-example-modal-lg" id="innerview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inner Label </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>With Values</h4>
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>Customer</td>
                                    <td><input type="text" class="form-control" value="CI Invermec" name="textfield4" id="textfield5" /></td>
                                    <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                    <td><input type="text" class="form-control" name="textfield9" id="textfield10" value="Truper" /></td>
                                </tr>
                                <tr>
                                    <td>File size</td>
                                    <td><input type="text" class="form-control" name="textfield11" id="textfield11" value="04" /></td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td><input type="text" class="form-control" name="textfield16" id="textfield16" value="Flat" /></td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td><input type="text" class="form-control" name="textfield12" id="textfield12" value="Regular" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Cut Type</p></td>
                                    <td><input type="text" class="form-control" name="textfield17" id="textfield17" value="1" /></td>
                                </tr>


                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p>Supplier</p></td>
                                    <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Box Sample</p></td>
                                    <td><input type="file" name="textfield10" id="textfield8" /></td>
                                </tr>

                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Top Label</p></td>
                                    <td><input type="file" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Bottom Label</p></td>
                                    <td><input type="file" name="textfield3" id="textfield7" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Side 1 Label</p></td>
                                    <td><input type="file" name="textfield" id="textfield" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Side 2 Label</p></td>
                                    <td><input type="file" name="textfield6" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>End 1 Label</p></td>
                                    <td><input type="file" name="textfield20" id="textfield21" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>End 2 Label</p></td>
                                    <td><input type="file" name="textfield20" id="textfield22" /></td>
                                </tr>

                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p>Label Location </p></td>
                                    <td><input type="file" name="textfield10" id="textfield8" /></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
















    <div class="modal fade bd-example-modal-lg" id="innernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Innner Label </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>Customer</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Customer 1</option>
                                            <option>Customer 2</option>
                                            <option>Customer 3</option>
                                            <option>Customer 4</option>
                                            <option>Customer 5</option>
                                            <option>Customer 6</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Brand 1</option>
                                            <option>Brand 2</option>
                                            <option>Brand 3</option>
                                            <option>Brand 4</option>
                                            <option>Brand 5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>File size</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap"><p>Cut Type</p></td>
                                    <td>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="selected" disabled>Select </option>
                                            <option>0 Rough Cut</option>
                                            <option>1 Basterd Cut</option>
                                            <option>2 Second Cut</option>
                                            <option>3 Smooth Cut</option>
                                            <option>4 Dead Smooth</option>
                                            <option>X Special Cut</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p>Supplier</p></td>
                                    <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Box Sample</p></td>
                                    <td><input type="file" name="textfield9" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Top Label</p></td>
                                    <td><input type="file" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Bottom Label</p></td>
                                    <td><input type="file" name="textfield3" id="textfield7" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Side 1 Label</p></td>
                                    <td><input type="file" name="textfield" id="textfield" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Side 2 Label</p></td>
                                    <td><input type="file" name="textfield6" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>End 1 Label</p></td>
                                    <td><input type="file" name="textfield5" id="textfield4" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>End 2 Label</p></td>
                                    <td><input type="file" name="textfield8" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap"><p>Label Location </p></td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>






    <div style="clear:both"></div>

</div>