﻿@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Outer Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Description</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Finish</span></div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Application</span></div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Length</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Width</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Height</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Batten Position</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Outer Image</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">Corrugated Box</div></td>
                                                <td><div align="center">Fibre Box</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">275</div></td>
                                                <td><div align="center">225</div></td>
                                                <td><div align="center">160</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#outerimage"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#outeredit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Description</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Finish</span></div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Application</span></div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Length</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Width</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Height</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Batten Position</div></td>
                                                <td bgcolor="#333333" class="style1"><div align="center">Outer Image</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td height="47"><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">Corrugated Box</div></td>
                                                <td><div align="center">Fibre Box</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">275</div></td>
                                                <td><div align="center">225</div></td>
                                                <td><div align="center">160</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#outerimage"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div>   </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Outer Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#outernew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">
                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select Outer Type</option>
                                                <option value="1">CFB BoX</option>


                                            </select>
                                        </div>














                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tr>
                                            <td bgcolor="#333333" class="style1"><div align="center">Chart No</div></td>
                                            <td height="32" bgcolor="#333333" class="style1"><div align="center">Material</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Description</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Finish</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Application</span></div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Length</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Width</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Height</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Batten Position</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Outer Image</div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    <p>WH-23</p>
                                                </div>
                                            </td>
                                            <td><div align="center">Corrugated Box</div></td>
                                            <td><div align="center">Fibre Box</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center">-</div></td>
                                            <td height="20"><div align="center">275</div></td>
                                            <td><div align="center">225</div></td>
                                            <td><div align="center">160</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#outerimage"><i class="fa fa-search-plus"></i></a></div></td>
                                        </tr>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>






    <div class="modal fade bd-example-modal-lg" id="outeredit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Outer Packing </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>With Values</p>
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="203" style="width: 10px">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="204" style="width: 10px">Parameter Name</th>
                                    <th width="225">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Material</p></td>
                                    <td><input type="text" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Outer Pack Length</p></td>
                                    <td><input type="text" name="textfield2" id="textfield23" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Description</p></td>
                                    <td><input type="text" name="textfield2" id="textfield4" /></td>
                                    <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Width</p></td>
                                    <td><input type="text" name="textfield2" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Finish</p></td>
                                    <td><input type="text" name="textfield2" id="textfield7" /></td>
                                    <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Height</p></td>
                                    <td><input type="text" name="textfield2" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Application</p></td>
                                    <td><input type="text" name="textfield2" id="textfield9" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Outer Pack Batten Position</p></td>
                                    <td><input type="text" name="textfield2" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap">Image</td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>








    <div class="modal fade bd-example-modal-lg" id="outernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Outer Packing </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="203" style="width: 10px">Parameter Name</th>
                                    <th width="144">Parameter Value</th>
                                    <th width="204" style="width: 10px">Parameter Name</th>
                                    <th width="225">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Material</p></td>
                                    <td><input type="text" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Outer Pack Length</p></td>
                                    <td><input type="text" name="textfield2" id="textfield23" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Description</p></td>
                                    <td><input type="text" name="textfield2" id="textfield4" /></td>
                                    <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Width</p></td>
                                    <td><input type="text" name="textfield2" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Finish</p></td>
                                    <td><input type="text" name="textfield2" id="textfield7" /></td>
                                    <td width="204" valign="bottom" nowrap="nowrap"><p>Outer Pack Height</p></td>
                                    <td><input type="text" name="textfield2" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td width="203" valign="bottom" nowrap="nowrap"><p>Outer Pack Application</p></td>
                                    <td><input type="text" name="textfield2" id="textfield9" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Outer Pack Batten Position</p></td>
                                    <td><input type="text" name="textfield2" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td valign="bottom" nowrap="nowrap">Image</td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                    <td valign="bottom" nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="outerimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new">Outer Images</h5>
                    <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <img src="~/SharedCss/dist/img/outer1.jpg" class="img-responsive">



                </div>
                <div style="clear:both"></div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>

</div>
