﻿@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="content">



    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Stamp Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Size(In inch)</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">56987</div>      <div align="center"></div>      <div align="center"></div></td>
                                                <td><div align="center">ABC</div></td>
                                                <td><div align="center">Sunflower</div></td>
                                                <td><div align="center">Flat</div></td>
                                                <td><div align="center">Brass</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center"></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#stampedit"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="7%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Sub Type</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">File Size(In inch)</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="22%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="21%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center">56987</div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                                <td><div align="center">ABC</div></td>
                                                <td><div align="center">Sunflower</div></td>
                                                <td><div align="center">Flat</div></td>
                                                <td><div align="center">Brass</div></td>
                                                <td><div align="center">5.5</div></td>
                                                <td><div align="center">1</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#stampedit"><i class="fa fa-search-plus"></i></a></div>    </td>

                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div>   </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Stamp Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#stampnew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">


                                        <div class="form-group">

                                            <select class="form-control">
                                                <option selected disabled>Select Customer</option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>

                                            </select>
                                        </div>





                                        <div class="form-group">

                                            <select class="form-control">
                                                <option selected disabled>Select Brand</option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control select2" style="width:100%">
                                                <option selected="selected" disabled>Select  File Type</option>
                                                <option>Flat</option>
                                                <option>Mill</option>
                                                <option>Taper</option>
                                                <option>Half</option>
                                                <option>Hand</option>
                                            </select>
                                        </div>


                                        <div class="form-group">

                                            <select class="form-control">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control">
                                                <option selected disabled>Select Cut</option>
                                                <option>0 Rough Cut</option>
                                                <option>1 Basterd Cut</option>
                                                <option>2 Second Cut</option>
                                                <option>3 Smooth Cut</option>
                                                <option>4 Dead Smooth</option>
                                                <option>X Special Cut</option>
                                            </select>
                                        </div>




                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tr>
                                            <td bgcolor="#333333" class="style1"><div align="center">Chart No</div></td>
                                            <td height="32" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                            <td height="32" bgcolor="#333333" class="style1"><div align="center">File code</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Size</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Cut Type</div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Stamp Mode </div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center">Stamp Sides </div></td>
                                            <td bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">View</span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    <p>H-5</p>
                                                </div>
                                            </td>
                                            <td><div align="center">Invermec</div></td>
                                            <td><div align="center">Incolma</div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">04</div></td>
                                            <td><div align="center">1</div></td>
                                            <td><div align="center">Embossed</div></td>
                                            <td><div align="center">Side 1, Side2</div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#stampview"> <i class="fa fa-search-plus"></i></a></div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">WH-23</div></td>
                                            <td><div align="center">Shubham</div></td>
                                            <td><div align="center">Sunflower</div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">06</div></td>
                                            <td><div align="center">1</div></td>
                                            <td><div align="center">Laser</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                        </tr>
                                        <tr>
                                            <td><div align="center">WH-03</div></td>
                                            <td><div align="center">ParcelMobi</div></td>
                                            <td><div align="center">Truper</div></td>
                                            <td><div align="center">FLF</div></td>
                                            <td><div align="center">08</div></td>
                                            <td><div align="center">1</div></td>
                                            <td><div align="center">Laser</div></td>
                                            <td><div align="center">-</div></td>
                                            <td><div align="center"><i class="fa fa-search-plus"></i></div></td>
                                        </tr>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>













</div>
<div style="clear:both"></div>

    </div>
  </div>












<div class="modal fade bd-example-modal-md" id="stampnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stampnew">New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="60">Upload</th>
                            </tr>

                            <tr>
                                <td>Customer</td>
                                <td>
                                    <select class="form-control">
                                        <option>Customer 1</option>
                                        <option>Customer 2</option>
                                        <option>Customer 3</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <td>Brand</td>
                                <td>
                                    <select class="form-control">
                                        <option>Brand 1</option>
                                        <option>Brand 2</option>
                                        <option>Brand 3</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <td>File Size</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">4</option>
                                        <option value="2">6</option>
                                        <option value="3">8</option>
                                        <option value="4">10</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>File Type</td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>



                            <tr>
                                <td>File Sub Type</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">Aluminium</option>
                                        <option value="2">Brass</option>


                                    </select>
                                </td>
                                <td></td>
                            </tr>



                            <tr>
                                <td>Cut Type</td>
                                <td>
                                    <select class="form-control">
                                        <option>0 Rough Cut</option>
                                        <option>1 Basterd Cut</option>
                                        <option>2 Second Cut</option>
                                        <option>3 Smooth Cut</option>
                                        <option>4 Dead Smooth</option>
                                        <option>X Special Cut</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Stamp Size</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield5" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Letter height</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield6" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><p>Orientation </p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Stamp Sides </p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Stamp Image</td>
                                <td></td>
                                <td><input type="file" name="textfield" id="textfield" /></td>

                            </tr>


                        </tbody>
                    </table>
                    <p>Repeat for Other Sides (Stamp size, Letter Height, Orientation, Stamp Sides, Stamp Image. )</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-md" id="stampview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stampnew"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table width="100%" border="1">
                        <tbody>
                            <tr>
                                <td height="33" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Place</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Orientation</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Stamp Size</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Letter Height</div></td>
                                <td bgcolor="#333333" class="style1"><div align="center">Stamp Iamge</div></td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                                        <p>Side 1</p>
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        <p>On Shoulder</p>
                                    </div>
                                </td>
                                <td><div align="center">Axial</div></td>
                                <td><div align="center">8.0</div></td>
                                <td><div align="center">4.0 - 5.0</div></td>
                                <td><div align="center"><img src="~/SharedCss/dist/img/stamp1.jpg" width="76" height="62" /></div></td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                                        <p>Side 2</p>
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        <p>On Shoulder</p>
                                    </div>
                                </td>
                                <td><div align="center">Axial</div></td>
                                <td><div align="center">8.0</div></td>
                                <td><div align="center">4.0 - 5.0</div></td>
                                <td><div align="center"><img src="~/SharedCss/dist/img/stamp2.jpg" width="76" height="62" /></div></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>








<div class="modal fade bd-example-modal-md" id="stampedit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">New </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>With Values</p>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="150">Parameter Name</th>
                                <th width="144">Parameter Value</th>
                                <th width="60">Upload</th>
                            </tr>

                            <tr>
                                <td>Customer</td>
                                <td>
                                    <select class="form-control">
                                        <option>Customer 1</option>
                                        <option>Customer 2</option>
                                        <option>Customer 3</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <td>Brand</td>
                                <td>
                                    <select class="form-control">
                                        <option>Brand 1</option>
                                        <option>Brand 2</option>
                                        <option>Brand 3</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <td>File Size</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">4</option>
                                        <option value="2">6</option>
                                        <option value="3">8</option>
                                        <option value="4">10</option>

                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>File Type</td>
                                <td>
                                    <select class="form-control select2" style="width:100%">
                                        <option>Flat</option>
                                        <option>Mill</option>
                                        <option>Taper</option>
                                        <option>Half</option>
                                        <option>Hand</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>



                            <tr>
                                <td>File Sub Type</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">Aluminium</option>
                                        <option value="2">Brass</option>


                                    </select>
                                </td>
                                <td></td>
                            </tr>



                            <tr>
                                <td>Cut Type</td>
                                <td>
                                    <select class="form-control">
                                        <option>0 Rough Cut</option>
                                        <option>1 Basterd Cut</option>
                                        <option>2 Second Cut</option>
                                        <option>3 Smooth Cut</option>
                                        <option>4 Dead Smooth</option>
                                        <option>X Special Cut</option>
                                    </select> 
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Stamp Size</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield5" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Letter height</td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield6" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><p>Orientation </p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><p>Stamp Sides </p></td>
                                <td><input type="text" class="form-control" name="textfield2" id="textfield7" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Stamp Image</td>
                                <td></td>
                                <td><input type="file" name="textfield" id="textfield" /></td>

                            </tr>


                        </tbody>
                    </table>
                    <p>Repeat for Other Sides</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>











<div style="clear:both"></div>


<!-- Page script -->
<script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
              ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              startDate: moment().subtract(29, 'days'),
              endDate: moment()
            },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>

