﻿
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<div class="content">



    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Wrapper Details</h3>
        </div>
        <div class="box-body">

            <div class='col-md-12'>
                <div class="panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#newR">
                                    <i class="fa fa-plus"></i>
                                    <span>New Record Request</span>
                                </a>
                            </h4>
                        </div>
                        <div id="newR" class="panel-collapse collapse active in ">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Color</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 1</span></div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 2</span></div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 3</span></div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Note</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="14%" height="33" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="17%" bgcolor="#333333" class="style1"><div align="center">View/Edit </div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">PVC Sleeve</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center"></div>    </td>
                                                <td>
                                                    <div align="center"><a href="#" data-toggle="modal" data-target="#wrapperview"><i class="fa fa-pencil"></i></a></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#approveR">
                                    <i class="fa fa-plus"></i>
                                    <span>Records for Approval</span>
                                </a>
                            </h4>
                        </div>
                        <div id="approveR" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="6%" height="33" bgcolor="#333333" class="style1"><div align="center">Request No</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Type</div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center">Color</div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 1</span></div></td>
                                                <td width="5%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 2</span></div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 3</span></div></td>
                                                <td width="6%" bgcolor="#333333" class="style1"><div align="center">Note</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center">Remark</div></td>
                                                <td width="8%" bgcolor="#333333" class="style1"><div align="center">View</div></td>
                                                <td width="12%" bgcolor="#333333" class="style1"><div align="center"></div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">12548</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">PVC Sleeve</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center"></div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#wrapperview"><i class="fa fa-search-plus"></i></a></div></td>
                                                <td><div align="center"><a href="#" class="btn btn-primary">Send for Approval</a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#existing">
                                    <i class="fa fa-plus"></i>  <span>Wrapper Master</span>
                                </a>
                            </h4>
                        </div>
                        <div id="existing" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">  <a href="#" class=" btn btn-primary pull-right" data-toggle="modal" data-target="#wrappernew">Add New </a></div>
                                <div style="clear:both"></div>
                                <div class="col-md-12">
                                    <form class="form-inline margin2">


                                        <div class="form-group">

                                            <select class="form-control select2">
                                                <option selected="selected" disabled>Select Customer </option>
                                                <option>Customer 1</option>
                                                <option>Customer 2</option>
                                                <option>Customer 3</option>
                                                <option>Customer 4</option>
                                                <option>Customer 5</option>
                                                <option>Customer 6</option>
                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control select2" id="selectbox1">
                                                <option selected="selected" disabled>Select Brand </option>
                                                <option>Brand 1</option>
                                                <option>Brand 2</option>
                                                <option>Brand 3</option>
                                                <option>Brand 4</option>
                                                <option>Brand 5</option>
                                            </select>
                                        </div>





                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Type</option>
                                                <option value="1">Flat</option>
                                                <option value="2">Round</option>
                                                <option value="3">Mill</option>
                                                <option value="4">Half Round</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Sub Type</option>
                                                <option value="1">Aluminium</option>
                                                <option value="2">Brass</option>


                                            </select>
                                        </div>




                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select Process">
                                                <option selected disabled>Select File Size</option>
                                                <option value="1">4</option>
                                                <option value="2">6</option>
                                                <option value="3">8</option>
                                                <option value="4">10</option>

                                            </select>
                                        </div>



                                        <div class="form-group">

                                            <select class="form-control" placeholder="Select ">
                                                <option selected disabled>Type</option>
                                                <option value="1">Wax Paper</option>
                                                <option value="2">PVC Sleeve</option>


                                            </select>
                                        </div>




                                    </form>

                                </div>
                                <div style="clear:both"></div>
                                <div class=" table-responsive">

                                    <br>

                                    <table width="100%" border="1">
                                        <tbody>
                                            <tr>
                                                <td width="4%" height="33" bgcolor="#333333" class="style1"><div align="center">Chart No </div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Customer</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Brand</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Type Code</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">File Size</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Type</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Color</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 1</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 2</span></div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center"><span class="fa-inverse">Pantone Shade 3</span></div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Note</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Unit to be packed</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Width</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Legnth</div></td>
                                                <td width="4%" bgcolor="#333333" class="style1"><div align="center">Thickness</div></td>
                                                <td width="3%" bgcolor="#333333" class="style1"><div align="center">Printed</div></td>
                                                <td width="9%" bgcolor="#333333" class="style1"><div align="center"> Image</div></td>
                                            </tr>
                                            <tr>
                                                <td><div align="center">PROV-02A</div></td>
                                                <td><div align="center">CI Invermec</div></td>
                                                <td><div align="center">Incolma</div></td>
                                                <td><div align="center">FLF</div></td>
                                                <td><div align="center">04</div></td>
                                                <td><div align="center">PVC Sleeve</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">20</div></td>
                                                <td><div align="center">150</div></td>
                                                <td><div align="center">-</div></td>
                                                <td><div align="center">Yes</div></td>
                                                <td><div align="center"><a href="#" data-toggle="modal" data-target="#"> <i class="fa fa-search-plus"></i></a></div></td>
                                            </tr>
                                        </tbody>
                                    </table>




                                    <p class="style1">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




























        </div>

    </div>





    <div class="modal fade bd-example-modal-lg" id="wrapperview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wrapper </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>With Values</h4>
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>Customer</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Customer 1</option>
                                            <option>Customer 2</option>
                                            <option>Customer 3</option>
                                            <option>Customer 4</option>
                                            <option>Customer 5</option>
                                            <option>Customer 6</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Brand 1</option>
                                            <option>Brand 2</option>
                                            <option>Brand 3</option>
                                            <option>Brand 4</option>
                                            <option>Brand 5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>File size</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap">Image</td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Wrapper Width</p></td>
                                    <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 1</p></td>
                                    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Wrapper Length</p></td>
                                    <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 2</p></td>
                                    <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Units to Be Packed</p></td>
                                    <td><input type="text" class="form-control" name="textfield9" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 3</p></td>
                                    <td><input type="text" class="form-control" name="textfield6" id="textfield7" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Thickness</p></td>
                                    <td><input type="text" class="form-control" name="textfield10" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Wrapper Note</p></td>
                                    <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Printed</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Yes</option>
                                            <option>No</option>

                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
















    <div class="modal fade bd-example-modal-lg" id="wrappernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wrapper </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="142" style="width: 10px">Parameter Name</th>
                                    <th width="156">Parameter Value</th>
                                    <th width="177" style="width: 10px">Parameter Name</th>
                                    <th width="268">Parameter Value</th>
                                </tr>
                                <tr>
                                    <td>Customer</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Customer 1</option>
                                            <option>Customer 2</option>
                                            <option>Customer 3</option>
                                            <option>Customer 4</option>
                                            <option>Customer 5</option>
                                            <option>Customer 6</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>Brand</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Brand 1</option>
                                            <option>Brand 2</option>
                                            <option>Brand 3</option>
                                            <option>Brand 4</option>
                                            <option>Brand 5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>File size</td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                            <option>10</option>
                                            <option>12</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap" valign="bottom"><p>File Type</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Flat</option>
                                            <option>Mill</option>
                                            <option>Taper</option>
                                            <option>Half</option>
                                            <option>Hand</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" valign="bottom"><p>File Subtype</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Regular</option>
                                            <option>Brass</option>
                                            <option>Handle</option>
                                            <option> Light </option>
                                            <option>Foundry </option>
                                            <option>Lead Float </option>
                                        </select>
                                    </td>
                                    <td valign="bottom" nowrap="nowrap">Image</td>
                                    <td><input type="file" name="textfield4" id="textfield5" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color</p></td>
                                    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
                                    <td valign="bottom" nowrap="nowrap"><p>Wrapper Width</p></td>
                                    <td><input type="text" class="form-control" name="textfield3" id="textfield10" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 1</p></td>
                                    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p>Wrapper Length</p></td>
                                    <td><input type="text" class="form-control" name="textfield8" id="textfield3" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 2</p></td>
                                    <td><input type="text" class="form-control" name="textfield5" id="textfield4" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Units to Be Packed</p></td>
                                    <td><input type="text" class="form-control" name="textfield9" id="textfield6" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p> Color Pantone Shade 3</p></td>
                                    <td><input type="text" class="form-control" name="textfield6" id="textfield7" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Thickness</p></td>
                                    <td><input type="text" class="form-control" name="textfield10" id="textfield8" /></td>
                                </tr>
                                <tr>
                                    <td width="142" nowrap="nowrap" valign="bottom"><p>Wrapper Note</p></td>
                                    <td><input type="text" class="form-control" name="textfield7" id="textfield9" /></td>
                                    <td width="177" valign="bottom" nowrap="nowrap"><p> Printed</p></td>
                                    <td>
                                        <select class="form-control select2">
                                            <option selected="selected" disabled>Select </option>
                                            <option>Yes</option>
                                            <option>No</option>

                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>






    <div style="clear:both"></div>

</div>

