﻿@model JKFiles.WebApp.Models.UserLoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">

        <div class="box-header with-border">
            <h3 class="box-title">Add User</h3>
        </div>
        <div class="box-body">
            <div class="col-md-8">
                @using (Html.BeginForm())
                {

                    <div class="col-md-4">

                        <div class="form-group">
                                                   
                            @Html.DropDownListFor(model => model.PlantName, new SelectList(Model.listplant, "PlantName", "PlantName"), "Select Plant/Ancillary", new { @class = "form-control select2", @id = "PlantName" })
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="form-group">

                            @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.listrole, "RoleName", "RoleName"), "Select Role", new { @class = "form-control select2", @id = "RoleName" })
                        </div>

                    </div>


                    <div style="clear:both"></div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">First Name</label>

                          
                            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Last Name</label>

                            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                        </div>

                    </div>

                    <div style="clear:both"></div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Employee Id</label>

                            @Html.EditorFor(m => m.Employee_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Employee Id" } })
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3"> Confirm Password</label>

                            @Html.EditorFor(m => m.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "Department" } })
                        </div>



                    </div>

                    <div style="clear:both"></div>
                    <div class="col-md-8">

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">User Id </label>

                            @Html.EditorFor(m => m.User_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "User Id Or Email" } })
                        </div>



                    </div>



                    <div style="clear:both"></div>

                    <div style="margin-left:15px;">

                        <a href="user_management.html" class="btn btn-default">Cancel</a>

                        <label>
                            <input type="reset" name="Reset" id="button" value="Reset" class="btn btn-default ">
                        </label>


                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>



                }


            </div>
        </div>

    </div>







</section>
