﻿@model JKFiles.WebApp.Models.ItemmasterModel
@{
    ViewBag.Title = "ItemMasterIndex";
    Layout = "";
}

<form class="">

    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.SKU, new SelectList(Model.SKUlist, "SKU", "SKU"), "SKU", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "SKU" })
        @Html.HiddenFor(m => m.SKU)
    </div><!-- /.form group -->


    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.Cust_sku, new SelectList(Model.Cust_skulist, "Cust_sku", "Cust_sku"), "Customer SKU", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "cust_SKU" })
        @Html.HiddenFor(m => m.Cust_sku)
    </div>

    <div class="form-group col-md-3 ">
        @Html.DropDownListFor(model => model.costomerName, new SelectList(Model.custList, "Cm_Cust_Name", "Cm_Cust_Name"), "Customer", new { @class = "form-control select2 changeddl", @id = "custName" })
        @Html.HiddenFor(m => m.costomerName)
    </div><!-- /.form-group -->
    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.brandName, new SelectList(Model.brandList, "bm_brand_name", "bm_brand_name"), "Brand", new { @class = "form-control select2 changeddl", @id = "brandName" })
        @Html.HiddenFor(m => m.brandName)
    </div>

    <div style="clear:both"></div>

    <div class="form-group col-md-3">

        @Html.DropDownListFor(model => model.FileSize, new SelectList(Model.filesizelist, "fs_size_inches", "fs_size_inches"), "Size(in Inch)", new { id = "ddlFileSize", @class = "form-control select2 changeddl", @style = "width:100%;" })        
        @Html.HiddenFor(m => m.filesizecode)
    </div>



    <div class="form-group col-md-3">
        @Html.DropDownListFor(m => m.FileType, new SelectList(Model.filetTypelist, "ft_ftype_desc", "ft_ftype_desc"), "File Type", new { id = "ddlfiletype", @class = "form-control select2 changeddl", @style = "width:100%;" })
        @Html.HiddenFor(m => m.filetypecode)
    </div>

    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.CutType, new SelectList(Model.CutTypelist, "fc_cut_type", "fc_cut_type"), "Cut Type", new { id = "ddlCutType", @class = "form-control select2 changeddl", @style = "width:100%;" })
        @Html.HiddenFor(m => m.cuttypecode)
    </div>



    <div style="clear:both"></div>




</form>
