﻿
@model JKFiles.WebApp.Models.RequestsModel
@{
    ViewBag.Title = "ItemMasterIndex";
    Layout = "";
}

<form class=" ">

      <div class="form-group col-md-3">
          @Html.DropDownListFor(model => model.req_no, new SelectList(Model.RequestNoLists, "req_no", "req_no"), "Request No", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "req_no" })
          @Html.HiddenFor(m => m.req_no)
    </div><!-- /.form group --><!-- /.form group -->



    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.Createdby, new SelectList(Model.CreatebyList, "Createdby", "Createdby"), "Created By", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "Createdby" })
        @Html.HiddenFor(m => m.Createdby)
    </div>

    <div class="form-group col-md-3">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right changeddl" id="reservation" placeholder="Date ">
        </div><!-- /.input group -->
    </div><!-- /.form group -->

    <div class="form-group col-md-3">
        @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "Status", "Status"), "Status", new { @class = "form-control select2 changeddl", @style = "width:100 % ", @id = "Status" })
        @Html.HiddenFor(m => m.Status)
    </div>

    <!-- /.form group -->
    <!-- /.form-group -->

    <div style="clear:both"></div>




</form>
