﻿
@using PagedList.Mvc
@model PagedList.IPagedList<JKFiles.WebApp.Models.RequestsModel>
@{
    ViewBag.Title = "ItemMasterIndex";
}
<div class="table-responsive" id="requestgrid">

    <br>


    <table width="100%" border="1">
        <tr>
            <td width="120" bgcolor="#333333"><div align="center"><span class="style2">Copy</span></div></td>
            <td width="120" height="30" bgcolor="#333333"><div align="center"><span class="style2">Request No</span></div></td>
            <td width="189" bgcolor="#333333"><div align="center"><span class="style2">Created by</span></div></td>
            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Request Creation Date</span></div></td>
            <td width="189" bgcolor="#333333"><div align="center"><span class="style2">Status</span></div></td>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>

                @if (Model[i].Status == "InProcess")
                {
                    <td>
                        <div align="center">

                            <i class="fa fa-copy"></i>
                        </div>
                    </td>
                }
                else
                {
                <td>
                    <div align="center">
                        <a href="@Url.Action("CopyRequest", "CustomerDetails", new { ReqNo = @Model[i].req_no })">
                            <i class="fa fa-copy"></i>
                        </a>
                    </div>
                </td>
                   
                }
                <td height="28"><div align="center">@Model[i].req_no</div></td>
                <td><div align="center">@Model[i].Createdby</div></td>
                <td><div align="center">@Model[i].CreationDate</div></td>
                <td><div align="center">@Model[i].Status</div></td>
            </tr>
        }
    </table>
    <div id="container1" style="margin-left: 20px">
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page1 => Url.Action("ItemMasterIndex", new { page1, req_no = ViewBag.req_no, Createdby = ViewBag.Createdby, Status = ViewBag.Status }))
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(".changeddl").change(function () {
            $("#loading").css("display", "block");
            var req_no = $("#req_no").val();
            var Createdby = $("#Createdby").val();
            var Status = $("#Status").val();
            var date = $("#reservation").val();
            //var brandname = $("#brandName").val();
            //var filesize = $("#ddlFileSize").val();
            //var filetype = $("#ddlfiletype").val();
            //var cuttype = $("#ddlCutType").val();
            $.ajax({
                url: '@Url.Action("Requests", "ItemMaster")',
                data: {
                    req_no: req_no, Createdby: Createdby, Status: Status, date: date
                },
                type: 'GET',
                dataType: "html",
                success: function (data) {
                    $("#requestgrid").html(data);
                    $("#loading").css("display", "none");
                },
                error: function () {
                    alert("No Records Found");
                }
            });

        });

        //$(function () {
        //    //Initialize Select2 Elements
        //    $(".select2").select2();

        //    //Datemask dd/mm/yyyy
        //    $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
        //    //Datemask2 mm/dd/yyyy
        //    $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
        //    //Money Euro
        //    $("[data-mask]").inputmask();

        //    //Date range picker
        //    $('#reservation').daterangepicker();
        //    //Date range picker with time picker
        //    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
        //    //Date range as a button
        //    $('#daterange-btn').daterangepicker(
        //        {
        //            ranges: {
        //                'Today': [moment(), moment()],
        //                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        //                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        //                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        //                'This Month': [moment().startOf('month'), moment().endOf('month')],
        //                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        //            },
        //            startDate: moment().subtract(29, 'days'),
        //            endDate: moment()
        //        },
        //    function (start, end) {
        //        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        //    }
        //    );

        //    //iCheck for checkbox and radio inputs
        //    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        //        checkboxClass: 'icheckbox_minimal-blue',
        //        radioClass: 'iradio_minimal-blue'
        //    });
        //    //Red color scheme for iCheck
        //    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        //        checkboxClass: 'icheckbox_minimal-red',
        //        radioClass: 'iradio_minimal-red'
        //    });
        //    //Flat red color scheme for iCheck
        //    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        //        checkboxClass: 'icheckbox_flat-green',
        //        radioClass: 'iradio_flat-green'
        //    });

        //    //Colorpicker
        //    $(".my-colorpicker1").colorpicker();
        //    //color picker with addon
        //    $(".my-colorpicker2").colorpicker();

        //    //Timepicker
        //    $(".timepicker").timepicker({
        //        showInputs: false
        //    });
        //});
    });
</script>