﻿@model JKFiles.WebApp.Models.ChangeNoteModel
@{
    ViewBag.Title = "ItemMasterIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <!--   <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
       </ol>-->
</section>


<!-- Main content -->

<section class="content">


    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#itemmaster" data-toggle="tab">Item Master</a></li>
            <li><a href="#requests" data-toggle="tab" ">Requests</a></li>
            @if (Session["Role"].ToString() == "Sales user" || Session["Role"].ToString() == "ALL_Access")
            {
                <a href="@Url.Action("CreateNewReq", "CustomerDetails")" class="btn btn-primary jk_btn-box pull-right" style="margin:10px;"> Request New SKU</a>
                @*<a href="@Url.Action("ManageRequestSet", "CustomerDetails")" class="btn btn-primary jk_btn-box pull-right" style="margin:10px;"> Request New Set</a>*@
                <a href="@Url.Action("CreateNewReqSet", "CustomerDetails")" class="btn btn-primary jk_btn-box pull-right" style="margin:10px;"> Request New Set</a>
            }
            else
            {
                @*<a href="@Url.Action("CreateNewReqSet", "CustomerDetails")" class="btn btn-primary jk_btn-box pull-right" style="margin:10px;"> Request New Set</a>*@
                <span class="btn btn-default jk_btn-box pull-right" style="margin:10px;"> Request New SKU</span>
                <span class="btn btn-default jk_btn-box pull-right" style="margin:10px;"> Request New Set</span>
            }
            <a href="ItemMasterIndex">
                <input type="button" class="btn btn-default pull-right" style="margin-right:5px; margin:10px;" value="Show All" />
            </a>
        </ul>
        <div class="col-md-12 ">  </div>
        <div class="tab-content">
            <!-- Morris chart - Sales -->
            <div class=" tab-pane active" id="itemmaster">
                <div class="">
                    @Html.Action("ItemMasterDDL")
                    <div style="clear:both"></div>
                    <br>
                    <img src="~/Content/Images/loader.gif" id="loading" style="display:none" />
                    @Html.Action("ItemMaster")
                </div>
                <div style="clear:both"></div>

            </div>
            <div class="chart tab-pane   " id="requests">
               @Html.Action("RequestIndex")
            </div>
        </div>
    </div>
</section>

<!-- /.content -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();

            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            );

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });


    });
</script>