﻿@model JKFiles.WebApp.Models.CustomerMasterModel

<form action="/CustomerDetails/Index" method="post">
    <div class="tab-pane active" id="customer">

        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">Customer </label>
                @Html.DropDownListFor(model => model.costomerName, new SelectList(Model.custList, "Cm_Cust_Name", "Cm_Cust_Name"), "Select", new { @class = "form-control select2", @id = "custName" })
            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">Customer ID</label>
                @Html.TextBoxFor(m => m.costomerId, new { placeholder = "Type Customer ID ", @class = "form-control " })
            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>



        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">Brand </label>
                @Html.DropDownListFor(model => model.brandName, new SelectList(Model.brandList, "bm_brand_name", "bm_brand_name"), "Select", new { @class = "form-control select2", @id = "brandName" })
            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">Brand ID</label>
                @Html.TextBoxFor(m => m.brandId, new { placeholder = "Type Brand ID ", @class = "form-control " })

            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>



        <div class="col-md-3">
            <div class="form-group">
                <label for="" class=""> Ship to Country </label>
                @Html.DropDownListFor(model => model.countryName, new SelectList(Model.countryList, "cm_country_name", "cm_country_name"), "Select", new { @class = "form-control select2", @id = "shipTOCountry" })
                @Html.HiddenFor(m => m.countryId)

            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">SAP No</label>
                @Html.TextBoxFor(m => m.sapNo, new { placeholder = "Type SAP No. ", @class = "form-control " })
            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="" class="">Customer Part No</label>
                @Html.TextBoxFor(m => m.customerPartNO, new { placeholder = "Type Customer PArt No. ", @class = "form-control " })
            </div><!-- /.form-group -->
            <!-- /.form-group -->
        </div>

        <br>
        <br>
        <br>
        <br>


        <div style="clear:both;"></div>
        <a class="btn jk-btn-app"><i class="fa fa-close"></i> Cancel</a>
        @*<a class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
        <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

    </div><!-- /.tab-pane -->
</form>

