﻿
<div class="" id="production">


    <div style="clear:both"></div>


    <div class="col-md-3">
        <div class="form-group">
            <label for="" class="">Customer </label>
            <input type="text" class="form-control " id="" placeholder="Customer 1" readonly>
        </div><!-- /.form-group -->
        <!-- /.form-group -->
    </div><!-- /.col -->


    <div class="col-md-3">
        <div class="form-group">
            <label for="" class="">Brand </label>
            <input type="text" class="form-control " id="" placeholder="Brand 1" readonly>
        </div><!-- /.form-group -->
        <!-- /.form-group -->
    </div><!-- /.col -->



    <div class="col-md-3">
        <div class="form-group">
            <label for="" class="">Country </label>
            <input type="text" class="form-control " id="" placeholder="India" readonly>
        </div><!-- /.form-group -->
        <!-- /.form-group -->
    </div><!-- /.col -->

    <div style="clear:both"></div>




    <div class="nav-tabs-custom" style="cursor: move;">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#file" data-toggle="tab">File Specs</a></li>
            <li><a href="#cut" data-toggle="tab">Cut Specs</a></li>
            <li><a href="#stampm" data-toggle="tab">Stamp </a></li>
            <li><a href="#raw" data-toggle="tab">Raw Material</a></li>
            <li><a href="#dwrg" data-toggle="tab">Drawing </a></li>
        </ul>
        <div class="tab-content">
            <!-- Morris chart - Sales -->
            <div class="tab-pane active" id="file">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">File Size </label>
                        @*<select class="form-control select2" id="selectbox2" style="width:100%;">
                                <option selected="selected" disabled>Select </option>
                                <option value="#sizenew">New</option>
                                <option>2</option>
                                <option>4</option>
                                <option>6</option>
                                <option>8</option>
                                <option>10</option>
                                <option>12</option>
                            </select>*@

                        @Html.DropDownList("ddlFileSize",
                            new SelectList(new List<SelectListItem> {
                                new SelectListItem { Text = "New", Value = "#sizenew"},
                                     new SelectListItem { Text = "2", Value = "2"},
                                     new SelectListItem { Text = "4", Value = "4"},
                                     new SelectListItem {Text="6",Value="6" },
                                     new SelectListItem {Text="8",Value="8" },
                                      new SelectListItem {Text="10",Value="10" },
                                       new SelectListItem {Text="12",Value="12" }
                                 }, "Value", "Text"),
                            "Select",
                             new { @class = "form-control select2", @style = "width:100%;" })
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div><!-- /.col -->



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">File Code </label>
                        <input type="text" class="form-control  " id="uppercase" placeholder="Type File Code " maxlength="3">
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div><!-- /.col -->



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">File Type </label>
                        @*<select class="form-control select2" style="width:100%" id="selectbox3">
                                <option selected="selected" disabled>Select </option>
                                <option value="#filenew">New</option>
                                <option>Flat</option>
                                <option>Mill</option>
                                <option>Taper</option>
                                <option>Half</option>
                                <option>Hand</option>
                            </select>*@
                        @Html.DropDownList("ddlFileType",
                            new SelectList(new List<SelectListItem> {
                                new SelectListItem { Text = "New", Value = "#sizenew"},
                                     new SelectListItem { Text = "Flat", Value = "Flat"},
                                     new SelectListItem { Text = "Mill", Value = "Mill"},
                                     new SelectListItem {Text="Taper",Value="Taper" },
                                     new SelectListItem {Text="Half",Value="Half" },
                                      new SelectListItem {Text="Hand",Value="Hand" }
                                 }, "Value", "Text"),
                            "Select",
                             new { @class = "form-control select2", @style = "width:100%;" })

                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div><!-- /.col -->




                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">File Sub Type </label>
                        @*<select class="form-control select2" style="width:100%" id="selectbox4">
                                <option selected="selected" disabled>Select </option>
                                <option value="#subnew">New</option>
                                <option>Regular</option>
                                <option>Brass</option>
                                <option>Handle</option>
                                <option> Light </option>
                                <option>Foundry </option>
                                <option>Lead Float </option>
                            </select>*@


                        @Html.DropDownList("ddlFileSubType",
                            new SelectList(new List<SelectListItem> {
                                new SelectListItem { Text = "New", Value = "#sizenew"},
                                     new SelectListItem { Text = "Regular", Value = "Regular"},
                                     new SelectListItem { Text = "Brass", Value = "Brass"},
                                     new SelectListItem {Text="Handle",Value="Handle" },
                                     new SelectListItem {Text="Light",Value="Light" },
                                      new SelectListItem {Text="Foundry",Value="Foundry" },
                                       new SelectListItem {Text="Lead Float",Value="Lead Float" }
                                 }, "Value", "Text"),
                            "Select",
                             new { @class = "form-control select2", @style = "width:100%;" })

                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div><!-- /.col -->


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Hardness </label>
                        <input type="text" class="form-control " id="" placeholder="Type Hardness Value">
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Tang Color </label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected" disabled>Select </option>
                            <option>Gray</option>
                            <option>Black</option>

                        </select>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>

                <div style="clear:both"></div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Uncut at Tang/Shoulder </label>
                        <input type="text" class="form-control " id="" placeholder="Uncut at Tang/shoulder" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Uncut at Point </label>
                        <input type="text" class="form-control " id="" placeholder="Uncut at Point" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Uncut at Edge </label>
                        <input type="text" class="form-control " id="" placeholder="Uncut at Edge" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>





                <div style="clear:both"></div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Upcut Inclination </label>
                        <input type="text" class="form-control " id="" placeholder="Upcut Inclination" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Overcut Inclination </label>
                        <input type="text" class="form-control " id="" placeholder="Overcut Inclination" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Edgecut Inclination </label>
                        <input type="text" class="form-control " id="" placeholder="Edgecut Inclination" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>




                <div style="clear:both"></div>




            </div>


            <div class="chart tab-pane" id="cut">


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Cut Type </label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected" disabled>Select </option>
                            <option>0 Rough Cut</option>
                            <option>1 Basterd Cut</option>
                            <option>2 Second Cut</option>
                            <option>3 Smooth Cut</option>
                            <option>4 Dead Smooth</option>
                            <option>X Special Cut</option>
                        </select>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div style="clear:both"></div>


                <div class="form-group col-md-3 ">
                    <label for="" class=""> Side 1 </label>
                    <select class="form-control select2" style="width: 100%;" id="selectbox5">
                        <option selected="selected" disabled>Select </option>
                        <option value="#newtpi">New</option>
                        <option>General</option>
                        <option>USA (ASS)/GERMAN (DIN) </option>
                        <option>NATO/BSS/ISS</option>
                        <option>DJAKARTS</option>
                    </select>
                </div><!-- /.form-group -->


                <div class="form-group col-md-3 ">
                    <label for="" class=""> Side 2 </label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Select </option>
                        <option>Not Applicable</option>
                        <option>New</option>
                        <option>General</option>
                        <option>USA (ASS)/GERMAN (DIN) </option>
                        <option>NATO/BSS/ISS</option>
                        <option>DJAKARTS</option>
                    </select>
                </div><!-- /.form-group -->



                <div class="form-group col-md-3 ">
                    <label for="" class=""> Edge 1 </label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Select </option>
                        <option>Not Applicable</option>
                        <option>New</option>
                        <option>General</option>
                        <option>USA (ASS)/GERMAN (DIN) </option>
                        <option>NATO/BSS/ISS</option>
                        <option>DJAKARTS</option>
                    </select>
                </div><!-- /.form-group -->




                <div class="form-group col-md-3 ">
                    <label for="" class=""> Edge 2 </label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected" disabled>Select </option>
                        <option>Not Applicable</option>
                        <option>New</option>
                        <option>General</option>
                        <option>USA (ASS)/GERMAN (DIN) </option>
                        <option>NATO/BSS/ISS</option>
                        <option>DJAKARTS</option>
                    </select>
                </div><!-- /.form-group -->




                <div style="clear:both"></div>


                <div class=" col-md-3 ">
                    <div class="form-group col-md-6">
                        <input type="checkbox" class="flat-red" checked>
                        <label for="radio1" class="mr-5">U/C</label>
                    </div><!-- /.form-group -->

                    <div class="form-group col-md-6">
                        <input type="checkbox" class="flat-red" checked>
                        <label for="radio1" class="mr-5">O/C</label>
                    </div><!-- /.form-group -->
                    <div style="clear:both"></div>



                </div>


                <div class=" col-md-3 ">
                    <div class="form-group col-md-6">
                        <input type="checkbox" class="flat-red" checked>
                        <label for="radio1" class="mr-5">U/C</label>
                    </div><!-- /.form-group -->

                    <div class="form-group col-md-6">
                        <input type="checkbox" class="flat-red" checked>
                        <label for="radio1" class="mr-5">O/C</label>
                    </div><!-- /.form-group -->
                    <div style="clear:both"></div>



                </div>



            </div>





            <div class="chart tab-pane" id="stampm">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Stamp Type </label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected" disabled>Select </option>
                            <option>Emboss </option>
                            <option>Laser</option>
                            <option>Pad</option>

                        </select>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Stamp Chart Ref No </label>
                        <select class="form-control select2" style="width: 100%;" id="selectbox6">
                            <option selected="selected" disabled>Select </option>
                            <option value="#stampnew">New </option>
                            <option>151 </option>
                            <option>152</option>
                            <option>153</option>

                        </select>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>

                <div class="col-md-3">

                    <br>


                    <!--<a href="#"  data-toggle="modal" data-target="#process" class="btn btn-primary">Process BOM</a>
                    -->


                    <a href="dist/H - 178 - ITI - laser marking.pdf" target="_blank" class="btn btn-primary ">View Stamp Pdf</a>
                </div>





            </div>

            <div class="chart tab-pane" id="raw">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> RM Code </label>
                        @*<input type="text" class="form-control " id="" placeholder="Type RM Code">*@
                    @Html.TextBox("txtRMCode", null, new { @class= "form-control",@placeholder="Type RM Code" })
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> RM Height </label>
                        <input type="text" class="form-control " id="" placeholder="RM Height" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> RM Width </label>
                        <input type="text" class="form-control " id="" placeholder="RM Width" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>









                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">RM Weight Kg/ 1000</label>
                        <input type="text" class="form-control " id="" placeholder="RM Weight Kg/ 1000" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class=""> Net Weight </label>
                        <input type="text" class="form-control " id="" placeholder="Net Weight" readonly>
                    </div><!-- /.form-group -->
                    <!-- /.form-group -->
                </div>



                <div style="clear:both"></div>


            </div>

            <div class="chart tab-pane" id="dwrg">

                <a href="#" class="btn btn btn-primary pull-right mr-5"> Download PDF</a> <br>
                <img src="dist/img/drawing.jpg" class="img-responsive">



            </div>

        </div>
    </div>

    <div style="clear:both;"></div>
    <a class="btn jk-btn-app"><i class="fa fa-close"></i> Cancel</a>
    <a class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>
</div>