﻿@model JKFiles.WebApp.Models.CustomerMasterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content-header"></section>


<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Request # @if (Session["requestype"] != null & @Session["requestId"] != null)
            {@Session["requestype"].ToString()@Session["requestId"].ToString()}</h3>

                <a href="@Url.Action("ChangeNote", "ChangeNotes" )" class="pull-right" title="Back"><i class="fa fa-arrow-left fa-fontsize"></i></a>
                <a href="#" data-toggle="modal" data-target="#remark" class="pull-right jk-mr-20 btn bg-orange">Remarks</a>
            </div>
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">@Html.ActionLink("Customer Details", "getCustomerDetailsIndex", "CustomerDetails")</li>
                        <li>@Html.ActionLink("Production Details", "getFileSpecsDetails", "ProductionDetails")</li>
                        <li class="">@Html.ActionLink("Dispatch Details", "getHandelTabDetails", "DispatchDetails")</li>
                        <li class="">@Html.ActionLink("Submissions", "getOtherDetailsTab", "DispatchDetails")</li>

                    </ul>
                    <div class="tab-content" id="customerDetailsTab">
                        <!-- /.tab-pane -->
                        <form action="@Url.Action("Index", "CustomerDetails" )" method="post">
                            <div class="tab-pane active" id="customer">
                                <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer  </label>
                                    @Html.DropDownListFor(model => model.costomerName, new SelectList(Model.custList, "Cm_Cust_Name", "Cm_Cust_Name"), "Select", new { @class = "form-control select2", @id = "custName" })
                                    @Html.ValidationMessageFor(m => m.costomerName,null, new { @class = "text-danger" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer ID</label>
                                    @Html.TextBoxFor(m => m.costomerId, new { placeholder = "Type Customer ID ", @class = "form-control " })

                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand </label>
                                    @Html.DropDownListFor(model => model.brandName, new SelectList(Model.brandList, "bm_brand_name", "bm_brand_name"), "Select", new { @class = "form-control select2", @id = "brandName" })
                                    @Html.ValidationMessageFor(m => m.brandName,null ,new { @class = "text-danger" })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Brand ID</label>
                                    @Html.TextBoxFor(m => m.brandId, new { placeholder = "Type Brand ID ", @class = "form-control " })
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            </div>
                                <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class=""> Ship to Country </label>
                                    @Html.DropDownListFor(model => model.countryName, new SelectList(Model.countryList, "cm_country_name", "cm_country_name"), "Select", new { @class = "form-control select2", @id = "shipTOCountry" })
                                    @Html.ValidationMessageFor(m => m.countryName,null, new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.countryId)

                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">SAP No</label>
                                    @Html.TextBoxFor(m => m.sapNo, new { placeholder = "Type SAP No. ", @class = "form-control " })
                                    @Html.ValidationMessageFor(m => m.sapNo)
                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="">Customer Part No</label>
                                    @Html.TextBoxFor(m => m.customerPartNO, new { placeholder = "Type Customer PArt No. ", @class = "form-control " })
                                    @Html.ValidationMessageFor(m => m.customerPartNO)

                                </div><!-- /.form-group -->
                                <!-- /.form-group -->
                            </div>
                            </div>
                                <br>
                                <br>
                                <br>
                                <br>


                                <div style="clear:both;"></div>
                                <a class="btn jk-btn-app  CancelWithdrow"><i class="fa fa-close"></i> Cancel</a>
                                @*<a class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i> Save</a>*@
                                <button type="submit" class="btn jk-btn-app bg-blue"><i class="fa fa-save"></i>Save</button>

                            </div><!-- /.tab-pane -->
                        </form>

                    </div>

                </div>
                <div class="col-md-12" style="background-color:#FFFFFF; padding:10px;">
                    <h4>New Entries Under these Fields</h4>
                    @Html.Action("NewReqList", "CustomerDetails")

                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Remarks</h5>
                            <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table width="100%" border="1" bordercolor="#CCCCCC">
                                    <tbody>
                                        <tr>
                                            <td width="100" height="30" bgcolor="#e8e8e8" class="text-black"><div align="center">Date</div></td>
                                            <td width="100" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark for</div></td>
                                            <td width="200" bgcolor="#e8e8e8" class="text-black"><div align="center">Remark</div></td>
                                        </tr>
                                    </tbody>
                                    <tbody id="remarkdata"></tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="form-group">
                                <textarea class="form-control" id="prm_remarks" rows="3" placeholder="Type Remark" required="required"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="SubmitRemark()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- By Swapnil ..-->
            <div class="modal fade bd-example-modal-md" id="Customernew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        @*@Html.Partial("_MasterAdd",masterModule5)*@
                        @*@Html.ActionLink("load partial view", "_MasterAdd", "CustomerDetails")*@
                        @Html.Action("_MasterAdd", "CustomerDetails")
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-md" id="Brandnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        @*@Html.Partial("_MasterAdd",masterModule5)*@
                        @*@Html.ActionLink("load partial view", "_MasterAdd", "CustomerDetails")*@
                        @Html.Action("_BrandMasterAdd", "CustomerDetails")
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section -->
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            //var id = document.getElementById("#Item Master");
            //alert(id);
            $("#Item Master").addClass('active');

            // alert("loaded..!!");

            var option = document.createElement("option");
            var newOptionText = "New"; //your input box value will come here.
            option.text = newOptionText;
            option.value = "#Customernew";
            var select = document.getElementById("custName");
            select.insertBefore(option, select.childNodes[1]);


            var optionbrand = document.createElement("option");
            var newOptionBrandText = "New"; //your input box value will come here.
            optionbrand.text = newOptionBrandText;
            optionbrand.value = "#Brandnew";
            var select1 = document.getElementById("brandName");
            select1.insertBefore(optionbrand, select1.childNodes[1]);



            $.ajax({
                url: '@Url.Action("checkCustomerId", "CustomerDetails")',
                data: {},
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    if (data == '0Z') {
                        $("#custName").val('#Customernew').trigger('change.select2');
                        $("#custName").prop("disabled", true);
                        $("#costomerId").val(data);
                    }
                    else {
                        // $("#costomerId").val(data);
                        $("#custName").prop("disabled", false);
                    }
                }
            });
            $.ajax({
                url: '@Url.Action("checkBrandId", "CustomerDetails")',
                data: {},
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    if (data == '0Z') {
                        $("#brandName").val('#Brandnew').trigger('change.select2');
                        $("#brandName").prop("disabled", true);
                        $("#brandId").val(data);
                    }
                    else {
                        // $("#costomerId").val(data);
                        $("#brandName").prop("disabled", false);
                    }
                }
            });

            $(function () {
                $("#customerAdd").click(function () {
                    var masterModule = getcustomer();
                    //   Swapnil validation
                    if (masterModule == null) {
                        alert("Please Enter Remark & Name !");
                        return false;
                    }
                    //var ImageFile = $("#imageUpload").get(0).files;
                    // HttpPostedFileBase img = $('input[type="file"]').val();
                    // take the data and post it via json
                    $.post("@Url.Action("MasterAdd", "CustomerDetails")", masterModule, function (data) {
                        var message = data.Message;
                        $("#resultMessage").html(message);
                        // var select = document.getElementById("custName");
                    });
                });
            });
            $(function () {
                $("#BrandAdd").click(function () {

                    var masterModule1 = getBrand();

                    //   Swapnil validation
                    if (masterModule1 == null) {
                        alert("Please Enter Remark & Name !");
                        return false;
                    }
                    //var ImageFile = $("#imageUpload").get(0).files;
                    // HttpPostedFileBase img = $('input[type="file"]').val();
                    // take the data and post it via json
                    $.post("@Url.Action("BrandAdd", "CustomerDetails")", masterModule1, function (data) {
                        var message = data.Message;
                        $("#resultMessage").html(message);
                    });

                });
                function getBrand() {

                    var bm_brand_id = $('input[name=2]').val();
                    var bm_brand_name = $('input[name=1]').val();
                    var bm_brand_remarks = $('input[name=3]').val();
                    return (bm_brand_remarks == "" || bm_brand_name=="") ? null : { bm_brand_id: bm_brand_id, bm_brand_name: bm_brand_name, bm_brand_remarks: bm_brand_remarks };
                }
            });

            function getcustomer() {

                var Cm_Cust_Id = $("#2").val();
                var Cm_Cust_Name = $("#1").val();
                var Cm_Cust_Remarks = $("#3").val();
                return (Cm_Cust_Remarks == "" || Cm_Cust_Name=="") ? null : { Cm_Cust_Id: Cm_Cust_Id, Cm_Cust_Name: Cm_Cust_Name, Cm_Cust_Remarks: Cm_Cust_Remarks };
            }

            //Swapnil Script End
            $("#custName").change(function () {
                //
                // alert($('option:selected', this).text());
                var slectedCustName = $('option:selected', this).text();
                // alert(slectedCustName);
                //
                if ($(this).val() == "#Customernew") {
                    $('#Customernew').modal('show');
                }
                else {
                    $.ajax({

                        url: '@Url.Action("getCustomerId", "CustomerDetails")',
                        data: { slectedName: slectedCustName },
                        type: 'GET',
                        dataType: "json",
                        //contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            // Variable data contains the data you get from the action method
                            if (data == 'OZ') {
                                $("#custName").val('#Customernew').trigger('change.select2');
                                $("#custName").prop("disabled", true);
                                $("#costomerId").val(data);
                            }
                            else {
                                $("#costomerId").val(data);
                                $("#custName").prop("disabled", false);
                            }

                            //  $("#costomerId").attr("disabled", "disabled");
                            //slectedName: slectedCustName;
                        }
                    });
                }

            });


            $("#brandName").change(function () {
                //debugger;
                // alert($('option:selected', this).text());
                var slectedbrandName = $('option:selected', this).text();
                // alert(slectedbrandName);
                //
                if ($(this).val() == "#Brandnew") {
                    $('#Brandnew').modal('show');
                }
                else {
                    $.ajax({

                        url: '@Url.Action("getBrandId","CustomerDetails")',
                        data: { slectedbrandName: slectedbrandName },
                        type: 'GET',
                        dataType: "json",
                        //contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            // Variable data contains the data you get from the action method
                            $("#brandId").val(data);
                            //   $("#brandId").attr("disabled", "disabled");
                            //slectedName: slectedCustName;
                        }

                    });
                }

            });

            $("#shipTOCountry").change(function () {
                //
                // alert($('option:selected', this).text());
                var slectedCOuntryName = $('option:selected', this).text();
                //alert(slectedCOuntryName);
                //debugger;

                $.ajax({

                    url: '@Url.Action("getCountryId","CustomerDetails")',
                    data: { slectedCOuntryName: slectedCOuntryName },
                    type: 'GET',
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // Variable data contains the data you get from the action method
                        $("#countryId").val(data);
                        //slectedName: slectedCustName;
                    }
                });
            });

            SelectRemark();

        });




        //////////// Remark Code
        function SubmitRemark() {

            var prm_remarks = $("#prm_remarks").val();
            if (prm_remarks != "") {

                $.ajax({
                    url: '@Url.Action("SubmitRemarkCustomerDetails","CustomerDetails")',
                    //data: { requestId: requestId },
                    data: {
                        'prm_remarks': prm_remarks,
                        'prm_remark_tab': 'Customer Details'
                    },
                    type: 'POST',
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            alert(response.responseText);
                        } else {
                            alert(response.responseText);
                        }
                        $("#prm_remarks").val("");
                    }
                });
            }
            else {
                alert("Please enter the remark");
            }
        }


        function SelectRemark() {
            var trHTML = '';
            $.ajax({
                url: '@Url.Action("SelectRemarkCustomerDetails","CustomerDetails")',
                data: {
                    //'prm_remarks': prm_remarks,
                    'prm_remark_tab': 'Customer Details',
                },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data.success) {

                        for (var i = 0; i < data.remarks.length; i++) {
                            trHTML += '<tr><td  width="100" height="28"><div align="center">' + data.remarks[i].Stringcreatedate + '</div></td><td  width="100"><div align="center">' + data.remarks[i].prm_remark_tab + '</div></td><td  width="200"><div align="center">' + data.remarks[i].prm_remarks + '</div></td></tr>';
                        }
                        $('#remarkdata').append(trHTML);
                    }
                    else {
                        alert('erroer');
                    }
                }
            });

        }

    </script>