﻿
@foreach (var list in Model.ReqParlist)
{
    <a href="javascript:void(0);" class="NewanchorDetail" data-id="@list.ma_mstrtbl_name@list.ma_request_id,@list.ma_request_type" style="margin-left:10px;text-decoration:underline">@list.ma_mstrtbl_name</a>
}
<div class="modal fade bd-example-modal-md" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="EditCutspecnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Edit New Cut Standard </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialEditCutSpecs"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="EditCutspecsAdd" class="btn btn-primary">Ok</button>
                </div>
            </form>
            @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="EditInnerBoxnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Edit New Inner Box </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialEditInnerBox"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="EditInnerBoxAdd"  class="btn btn-primary">Ok</button>
                </div>
            </form>
            @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="EditInnerlabelnew" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="filenew">Edit New Inner Box </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="tablePartialEditInnerlabel"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="EditInnerlabelAdd" class="btn btn-primary">Ok</button>
                </div>
            </form>
            @*@Html.Action("_cutspecsMasterAdd", "ProductionDetails")*@
        </div>
    </div>
</div>
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script>
    var filetypDetailURL = '@Url.Action("filetypeDetails", "MastersDetails")';
    var customerURL = '@Url.Action("REQDetails", "MastersDetails")';
    var BrandURL = '@Url.Action("REQBrandDetails", "MastersDetails")';
    var filesizeURL = '@Url.Action("REQfileSizeDetails", "MastersDetails")';
    //var cutspecsURL = '@Url.Action("REQCutSpecDetails", "MastersDetails")';
    var filesubtypDetailURL = '@Url.Action("REQfilesubtypeDetails", "MastersDetails")';
    var RawMaterialURL = '@Url.Action("REQRawMaterialDetails", "MastersDetails")';
    var WrapperChartURL = '@Url.Action("REQWrapperChartDetails", "MastersDetails")';
    var InnerLabelURL = '@Url.Action("REQInnerLabelDetails", "MastersDetails")';
    var OuterChartURL = '@Url.Action("REQOuterChartDetails", "MastersDetails")';
    var StampChartURL = '@Url.Action("REQStampChartDetails", "MastersDetails")';
    var PalletChartURL = '@Url.Action("REQPalletChartDetails", "MastersDetails")';
    var HandleChartURL = '@Url.Action("REQHandleDetails", "MastersDetails")';
    @*var HandleTypeURL = '@Url.Action("REQHandleTypeDetails", "MastersDetails")';*@
    $(function () {

        $(".NewanchorDetail").click(function () {
            
            var $buttonClicked = $(this);


            var id1 = $buttonClicked.attr('data-id');
            var reqtype = $("#reqtype").val;


            var emailrogh = id1.split(",");
            var id = emailrogh[0];// show priya@gmail.com
            var type = emailrogh[1]

            split_string = id.split(/(\d+)/)
            //console.log("Text:" + split_string[0] + " & Number:" + split_string[1])

            var reqtypetable = split_string[0];
            var retypeid = split_string[1];
            var url;
            if (reqtypetable == 'Customer') {
                url = customerURL;
            }
            if (reqtypetable == 'Brand') {
                url = BrandURL;
            }
            if (reqtypetable == 'FileType') {
                url = filetypDetailURL;
            }
            if (reqtypetable == 'FileSize') {
                url = filesizeURL;
            }
            if (reqtypetable == 'FileSubType') {
                url = filesubtypDetailURL;
            }
            if (reqtypetable == 'CutStandard') {
                //url = cutspecsURL;
                $("#tablePartialEditCutSpecs").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("REQCutSpecDetails", "MastersDetails")',
                    data: { id: retypeid, reqtype: type },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialEditCutSpecs").append(row);
                        row1 = '<tr><td id="namecut"> CUT STANDARD </td>'
                               + '<td id="codecut">NAME</td>'
                              + '<td id="Range1" colspan="2"> <input type="text" onchange="editCutSpec(0)" class="form-control" id="n1" name="n1"  value="' + data[0].vtpi_cut_std_name + '"  /> </td></tr>';
                        $("#tablePartialEditCutSpecs").append(row1);
                        row2 = '<tr><td id="cutname1">CUT STANDARD </td>'
                              + '<td id="cutcode1">CODE (2 CHARS ONLY) </td>'
                              + '<td id="Range1" colspan="2"><input type="text" onchange="editCutSpec(1)" class="form-control" name="c2"  id="c2" value="' + data[0].vtpi_cut_std_code + '"  /> </td> </tr>';
                        $("#tablePartialEditCutSpecs").append(row2);
                        for (var i = 0; i < data.length; i++) {
                            //if (data.obj[i].tpi_newrm_numinputs > 1) {
                            row = '<tr><td id="valuename' + i + '"> ' + data[i].tpi_dim_name + ' </td>'
                             + '<td id="valuecode' + i + '"> ' + data[i].tpi_dim_code + ' </td>'
                             + '<td id="Range2"><input type="text"  class="form-control" onchange="editCutSpec(' + i + ')" name="' + i + '"  id="' + i + '" value="' + data[i].tpi_dim_dwgval + '"   /> </td>'
                             + '<td id="Range1"><input type="text"  class="form-control" onchange="editCutSpec(' + i + ')" name="_' + i + '"  id="_' + i + '" value="' + data[i].tpi_dim_scrnval + '"  /> </td>'
                              + '<td id="Range3"> <input type="hidden" class="form-control" id="' + i + '" name="' + i + '" value="' + data[i]._id + '" /> </td></tr>';
                            $("#tablePartialEditCutSpecs").append(row);
                            $('#EditCutspecnew').modal('show');
                            //}
                        }
                        //$("#pn_fsize_code").val(data.sizecode);
                        //$("#pn_ftype_code").val(data.filecode);
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }
            if (reqtypetable == 'InnerBox') {
                $("#tablePartialEditInnerBox").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("REQInnerBoxDetails", "MastersDetails")',
                    data: { id: retypeid, reqtype: type },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Range</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialEditInnerBox").append(row);
                        row1 = '<tr><td id="numt" colspan="2">CHART NUM</td>'
                              + '<td id="Range2" colspan="2"> <input type="text"  class="form-control" id="innerbox1" name="innerbox1" value="' + data[0].ib_chartnum + '" /> </td></tr>';
                        $("#tablePartialEditInnerBox").append(row1);
                        row2 = '<tr><td id="img1" colspan="2">CHART IMAGE </td>'
                              + '<td id="Range1" colspan="2"><input type="file"  class="form-control" name="innerbox2"  id="innerbox2" value="' + data[0].ib_chartimg + '" /> </td> </tr>';
                        $("#tablePartialEditInnerBox").append(row2);
                        for (var i = 0; i < data.length; i++) {
                            row = '<tr><td id="valuename' + i + '"> ' + data[i].ibd_pkg_parm_name + ' </td>'
                             + '<td id="Range2"><input type="text" class="form-control"  name="' + i + '"  id="' + i + '" value="' + data[i].ibd_pkg_parm_scrnvalue + '" /> </td>'
                             + '<td id="valuecode' + i + '"> ' + data[i + 1].ibd_pkg_parm_name + ' </td>'
                             + '<td id="Range1"><input type="text" class="form-control"  name="_' + i + '"  id="_' + i + '" value="' + data[i + 1].ibd_pkg_parm_scrnvalue + '" /> </td></tr>';
                            $("#tablePartialEditInnerBox").append(row);
                            i++;
                            $('#EditInnerBoxnew').modal('show');
                        }
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }
            if (reqtypetable == 'RawMaterial') {
                url = RawMaterialURL;
            }
            if (reqtypetable == 'WrapperChartNo') {
                url = WrapperChartURL;
            }
            if (reqtypetable == 'InnerLabel') {
                $("#tablePartialEditInnerlabel").empty();
                var row = "";
                $.ajax({
                    url: '@Url.Action("REQInnerLabelDetails", "MastersDetails")',
                    data: { id: retypeid, reqtype: type },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        row = '<tr><th width="150">Parameter Category</th><th width="150">Parameter Name</th><th width="144">Parameter Value</th></tr>';
                        $("#tablePartialEditInnerlabel").append(row);
                        row1 = '<tr><td id="numt" colspan="1">LABEL ID</td>'
                              + '<td id="Range2" > <input type="' + data.ReqParlist[0].nrm_input_type + '"  class="form-control" id="innerlabel1" name="innerlabel1" value="' + data.InnerLabelDetailsEntityList[0].ilbd_chart_num + '" /> </td></tr>';
                        $("#tablePartialEditInnerlabel").append(row1);
                        for (var i = 0; i < data.InnerLabelDetailsEntityList.length; i++) {
                            row = '<tr><td id="valuename' + i + '"> ' + data.InnerLabelDetailsEntityList[i].ilbd_parm_name + ' </td>'
                             + '<td id="Range2" ><input type="' + data.ReqParlist[i + 1].nrm_input_type + '" class="form-control"  name="' + i + '"  id="' + i + '" value="' + data.InnerLabelDetailsEntityList[i].ilbd_parm_scrnvalue + '" /> </td>'
                             + '<td id="Range3" ><input type="text" readonly=readonly class="form-control"  name="_' + i + '"  id="_' + i + '" value="' + data.InnerLabelDetailsEntityList[i].ilbd_parm_scrnvalue + '" /> </td></tr>';

                            $("#tablePartialEditInnerlabel").append(row);


                        }
                        $('#EditInnerlabelnew').modal('show');
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });
            }
            if (reqtypetable == 'OuterChart') {
                url = OuterChartURL;
            }
            if (reqtypetable == 'Stamp') {
                url = StampChartURL;
            }
            if (reqtypetable == 'Pallet') {
                url = PalletChartURL;
            }
            if (reqtypetable == 'Handle') {
                url = HandleChartURL;
            }
            if (reqtypetable == 'HandleType') {
                url = HandleTypeURL;
            }
            if (reqtypetable != 'CutStandard' && reqtypetable != 'InnerBox' && reqtypetable != 'InnerLabel') {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": retypeid, type: type },
                    datatype: "json",
                    success: function (data) {
                        
                        $('#myModalContent').html(data);
                        $('#editcustomer').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $('.CountClick').click(function () {
            
            var productID = getParameterByName('ID', $(this).attr("href"));
            var countID = "Count" + productID;
            var totalID = "Total" + productID;

            var countElement = document.getElementById(countID);
            var totalElement = document.getElementById(totalID);
            var rowElement = document.getElementById(productID);

            $.ajax({
                cache: false,
                url: $(this).attr("href"), // used data from url
                datatype: "text",
                type: "POST",
                success: function (response) {

                    var count = parseInt(response.Count);

                    if (count > 0) {
                        countElement.innerText = response.Count;
                        totalElement.innerText = response.Total;
                    }
                    else {
                        rowElement.innerHTML = "";
                    }
                },
                error: function () {
                    $("#divResult").html("ERROR");
                }
            });

            return false;
        });
    });

    //var editCutSpecArray = [];
    //function editCutSpec(i) {
    //    var prc_parameter_value="";
    //    var prc_parameter_name = "";
    //    var pm_dim_parm_dwgvalue = "";
    //    var pm_dim_parm_scrnvalue = "";
    //    debugger
    //    editCutSpecArray.push({
    //        prc_parameter_value  : $("#valuename" + i + "").text(),
    //        prc_parameter_name   : $("#valuecode" + i + "").text(),
    //        pm_dim_parm_dwgvalue : $("#" + i + "").val(),
    //        pm_dim_parm_scrnvalue: $("#_" + i + "").val(),
    //    });
    //}
    $(function () {
        $("#EditCutspecsAdd").click(function () {
            debugger

            var editCutSpecArray = [];
            var TrCount = $("#tablePartialEditCutSpecs tr").length;
            editCutSpecArray.push({
                pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecs tr #Range1 input").eq(0).val(),
            });
            editCutSpecArray.push({
                pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecs tr #Range1 input").eq(1).val(),
            });
            for (var i = 0; i < TrCount - 3; i++) {
                editCutSpecArray.push({
                    prc_parameter_value: $.trim($("#tablePartialEditCutSpecs tr td#valuename" + i + "").eq(0).text()),
                    prc_parameter_name: $.trim($("#tablePartialEditCutSpecs tr td#valuecode" + i + "").eq(0).text()),
                    pm_dim_parm_dwgvalue: $("#tablePartialEditCutSpecs tr #Range2 input").eq(i).val(),
                    pm_dim_parm_scrnvalue: $("#tablePartialEditCutSpecs tr #Range1 input").eq(i + 2).val()
                });
            }
            var postData = editCutSpecArray;
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditCutspecsAdd", "ProductionDetails")',
                data: JSON.stringify(postData),
                dataType: "json",
                contentType: 'application/json;',
                success: function (data) {
                    alert('Cut Specification Inserted Succesfully');
                    location.reload();
                },
            });
        });
    });
          $(function () {
              $("#EditInnerBoxAdd").click(function () {
                debugger
                var AllValue = [];
                var TrCount = $("#tablePartialEditInnerBox tr").length*2;
                if (window.FormData !== undefined) {

                    var fileUpload = $("#innerbox2").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url: '/DispatchDetails/UploadinnerBoxFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            //alert(result);
                        },
                        error: function (err) {
                           // alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
                for (var i = 0; i < TrCount - 6; i++) {

                    AllValue.push({
                            ib_chartnum: $('#innerbox1').val(),
                            ib_chartimg: $('#innerbox2').val().replace(/C:\\fakepath\\/i, ''),
                            ibd_pkg_parm_name: $.trim($("#tablePartialEditInnerBox tr td#valuename" + i + "").eq(0).text()),
                            ibd_pkg_parm_dwgvalue: $("#tablePartialEditInnerBox tr td #"+i+"").val(),
                            ibd_pkg_parm_code: $.trim($("#tablePartialEditInnerBox tr td#valuecode" + i  + "").eq(0).text()),
                            ibd_pkg_parm_scrnvalue: $("#tablePartialEditInnerBox tr td #_" + i + "").val()

                        });

                    i++

                }
                var postData = AllValue;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InnerboxEdit", "DispatchDetails")',
                    data: JSON.stringify(postData),
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (data) {
                        alert('InnerBox Inserted Succesfully');
                        location.reload();
                    },
                });
            });
          });
    $(function () {
        $("#EditInnerlabelAdd").click(function () {
            var AllValue = [];
            var TrCount = $("#tablePartialEditInnerlabel tr").length;
            if (window.FormData !== undefined) {
                var ajaxData = new FormData();
                ajaxData.append('UploadinnerlabelFiles', 'DispatchDetails');
                $.each($("#tablePartialEditInnerlabel tr td input[type=file]"), function (i, obj) {
                    $.each(obj.files, function (j, file) {
                        ajaxData.append('photo[' + j + ']', file);
                    })
                });
                $.ajax({
                    url: '/DispatchDetails/UploadinnerlabelFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: ajaxData,
                    success: function (result) {
                        //alert(result);
                    },
                    error: function (err) {
                        //alert(err.statusText);
                    }
                });
            }

            for (var i = 0; i < TrCount - 2; i++) {
                
                    AllValue.push({
                        ilbd_chart_num: $('#innerlabel1').val(),
                        ilbd_parm_name: $.trim($("#tablePartialEditInnerlabel tr td#valuename"+i+"").eq(0).text()),
                        ilbd_parm_scrnvalue: $("#tablePartialEditInnerlabel tr #Range2 #" + i + "").val().replace(/C:\\fakepath\\/i, ''),
                        ilbd_parm_dwgvalue: $("#tablePartialEditInnerlabel tr #Range3 #_" + i + "").val().replace(/C:\\fakepath\\/i, '')
                    });
               
            }
            var postData = AllValue;
            $.ajax({
                type: "POST",
                url: '@Url.Action("InnerLabelEditDetailsEntityList", "DispatchDetails")',
                data: JSON.stringify(postData),
                dataType: "json",
                contentType: 'application/json;',
                success: function (data) {
                    alert('InnerBox Inserted Succesfully');
                    location.reload();
                },
            });
        });
    });
           
               
</script>
<script>


    $(document).ready(function () {


        $('.btnprofile').on('click', function () {
            var Id;
            Id = $(this).data('id');
            // alert(Id)

            var src = './FileTypeImages/' + Id
            // alert(src)
            $(".modal-body #profileimage").attr("src", src);
            $('#profile').modal('show');
        });
    });
</script>