﻿
@{
    ViewBag.Title = "ItemMasterIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


    
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--   <ol class="breadcrumb">
                 <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                 <li class="active">Dashboard</li>
               </ol>-->
        </section>


        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Item Master</h3>

                            <div class="box-tools pull-right">
                                <a href="@Url.Action("Index", "CustomerDetails")" class="btn btn-primary jk_btn-box"> Request New Part No.</a>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <form class="form-inline margin2">
                                    <div class="form-group">

                                        <select class="form-control" placeholder="Select Customer">
                                            <option>Select Customer</option>
                                            <option>Customer 1</option>
                                            <option>Customer 2</option>
                                            <option>Customer 3</option>
                                            <option>Customer 4</option>
                                        </select>
                                    </div>



                                    <div class="form-group">

                                        <select class="form-control" placeholder="Select Brand">
                                            <option>Select Brand</option>
                                            <option>Brand 1</option>
                                            <option>Brand 2</option>
                                            <option>Brand 3</option>
                                            <option>Brand 4</option>
                                        </select>
                                    </div>

                                    <div class="form-group">

                                        <select class="form-control" placeholder="Select Size">
                                            <option>Select Size</option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                            <option>8</option>
                                        </select>
                                    </div>

                                    <div class="form-group">

                                        <select class="form-control" placeholder="Select Type">
                                            <option>Select Type</option>
                                            <option>Bent Body</option>
                                            <option>Band Saw</option>
                                            <option>Flat File</option>
                                            <option>Hand File</option>
                                        </select>
                                    </div>

                                    <div class="form-group">

                                        <select class="form-control" placeholder="Select Cut Type">
                                            <option>Select Cut Type</option>
                                            <option>Smooth Cut</option>
                                            <option>Rough Cut</option>
                                            <option>Basterd Cut</option>
                                            <option>Special Cut</option>
                                        </select>
                                    </div>







                                </form><br>
                                <div class=" table-responsive">
                                    <!--<table width="100%" border="1">
                                      <tr>
                                        <td width="176" height="30" bgcolor="#333333"><div align="center"><span class="style2">Part No </span></div></td>
                                        <td width="146" bgcolor="#333333"><div align="center" class="style2">Production SKU</div></td>
                                        <td width="135" bgcolor="#333333"><div align="center" class="style2">Dispatch SKU</div></td>
                                        <td width="156" bgcolor="#333333"><div align="center"><span class="style2">SAP Part No</span></div></td>
                                        <td width="129" bgcolor="#333333"><div align="center"><span class="style2">Status</span></div></td>
                                        <td width="97" bgcolor="#333333"><div align="center"><span class="style2">Edit</span></div></td>
                                        <td width="145" bgcolor="#333333"><div align="center"><span class="style2">View</span></div></td>
                                      </tr>
                                      <tr>
                                        <td height="28"><div align="center">12ABC5AA22B1B12</div></td>
                                        <td width="146"><div align="center"><a href="#">12ABC5A</a></div></td>
                                        <td><div align="center"><a href="#">A22B1B12</a></div></td>
                                        <td><div align="center">5642</div></td>
                                        <td><div align="center">Approved</div></td>
                                        <td><div align="center"><a href="part_No_edit.html"><i class="fa fa-pencil " aria-hidden="true"></i></a></div></td>
                                        <td><div align="center"><a href="part_No_view.html"><i class="fa fa-search-plus " aria-hidden="true"></i></a></div></td>
                                      </tr>
                                      <tr>
                                        <td height="29"><div align="center">41ACN5BB85C9G52</div></td>
                                        <td><div align="center"><a href="#">41ACN5B</a></div></td>
                                        <td><div align="center"><a href="#">B85C9G52</a></div></td>
                                        <td><div align="center">2589</div></td>
                                        <td><div align="center">Waiting for Approval</div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-pencil " aria-hidden="true"></i></a></div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-search-plus " aria-hidden="true"></i></a></div></td>
                                      </tr>
                                      <tr>
                                        <td height="31"><div align="center">58VGH5LK96K4F45</div></td>
                                        <td><div align="center"><a href="#">58VGH5L</a></div></td>
                                        <td><div align="center"><a href="#">K96K4F45</a></div></td>
                                        <td><div align="center">6987</div></td>
                                        <td><div align="center">Rejected</div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-pencil " aria-hidden="true"></i></a></div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-search-plus " aria-hidden="true"></i></a></div></td>
                                      </tr>
                                      <tr>
                                        <td height="31"><div align="center">98KJD4RP89S1J25</div></td>
                                        <td><div align="center"><a href="#">98KJD4R</a></div></td>
                                        <td><div align="center"><a href="#">P89S1J25</a></div></td>
                                        <td><div align="center">6987</div></td>
                                        <td><div align="center">Discarded</div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-pencil " aria-hidden="true"></i></a></div></td>
                                        <td><div align="center"><a href="#"><i class="fa fa-search-plus " aria-hidden="true"></i></a></div></td>
                                      </tr>
                                    </table>-->
                                    <table width="100%" border="1">
                                        <tr>
                                            <td width="120" height="30" bgcolor="#333333"><div align="center"><span class="style2">Part No </span></div></td>
                                            <td width="91" bgcolor="#333333"><div align="center"><span class="style2"> Part No Revision</span></div></td>
                                            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">SAP Part No</span></div></td>
                                            <td width="91" bgcolor="#333333"><div align="center"><span class="style2">Customer Part No</span></div></td>
                                            <td width="189" bgcolor="#333333"><div align="center"><span class="style2">Description</span></div></td>
                                            <td width="100" bgcolor="#333333"><div align="center"><span class="style2"> Drawing</span> <span class="style2">Revision</span></div></td>
                                            <td width="70" bgcolor="#333333"><div align="center"><span class="style2"> Drawing Revision Date</span></div></td>
                                            <td width="88" bgcolor="#333333"><div align="center"><span class="style2"> Stamp</span> <span class="style2">Revision</span></div></td>
                                            <td width="104" bgcolor="#333333"><div align="center"><span class="style2"> Stamp Revision Date</span></div></td>
                                            <td width="88" bgcolor="#333333"><div align="center" class="style1"> Label <span class="fa-inverse">Revision</span></div></td>
                                            <td width="98" bgcolor="#333333"><div align="center"><span class="style2"> Label Revision Date</span></div></td>
                                        </tr>
                                        <tr>
                                            <td height="28">
                                                <a href="part_No_view.html">
                                                    <div align="center"><span class="jk-color-blue">3E</span><span class="jk-color-red">04FLF1BL</span><span class="jk-color-blue">XXX</span></div>
                                                </a>
                                            </td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">19877564ABGHJH</div></td>
                                            <td><div align="center">XXXXXX</div></td>
                                            <td><div align="center">3.5in, Bent Body, Rough Cut, XYZ , Brand1.</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                        </tr>
                                        <tr>
                                            <td height="29">
                                                <a href="part_No_view.html">
                                                    <div align="center"><span class="jk-color-green"><span class="jk-color-blue">CE</span><span class="jk-color-red">06FLH2BL</span><span class="jk-color-blue">XXX</span></div>
                                                </a>
                                            </td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">459956789YTREW</div></td>
                                            <td><div align="center">XXXXXX</div></td>
                                            <td><div align="center">10in, Hand file, Rough Cut, ABC , Brand2.</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">25/03/2018</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">25/03/2018</div></td>
                                            <td><div align="center">00</div></td>
                                            <td><div align="center">25/03/2018</div></td>
                                        </tr>
                                        <tr>
                                            <td height="31"><div align="center"><a href="part_No_view.html"><span class="jk-color-blue">DE</span><span class="jk-color-red">08FLF3RP</span><span class="jk-color-blue">XXX</span></a></div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">153456789SDFGH</div></td>
                                            <td><div align="center">XXXXXX</div></td>
                                            <td><div align="center">8in, Hand File, Smooth Cut, MNO , Brand5.</div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#revision"> 01</a></div></td>
                                            <td><div align="center">24/03/2018</div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">24/03/2018</div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                        </tr>
                                        <tr>
                                            <td height="31"><div align="center"><a href="part_No_view.html"><span class="jk-color-blue">CE</span><span class="jk-color-red">10FLH2BL</span><span class="jk-color-blue">XXX</span></a></div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">121456789456GH</div></td>
                                            <td><div align="center">XXXXXX</div></td>
                                            <td><div align="center">6in, Bent Body, Edge Cut, KLN , Brand7.</div></td>
                                            <td><div align="center"><a href="#" data-toggle="modal" data-target="#revision">01</a></div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                            <td><div align="center"><a href="#">01</a></div></td>
                                            <td><div align="center">23/03/2018</div></td>
                                        </tr>
                                    </table>


                                    <p>Display Top 50 Item Numbers</p>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- ./box-body -->
                        <div class="box-footer">
                            <!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>







        </section>



        <div class="modal fade" id="revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Part No : 19877564ABGHJH   Drawing revision :01 </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" border="1">
                                <tr>
                                    <td width="20%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Request No</div></td>
                                    <td width="24%" height="28" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Description</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">12345</div></td>
                                    <td><div align="center"></div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">25647</div></td>
                                    <td><div align="center">-</div></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>








        <!-- Modal -->
        <div class="modal fade" id="master" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Request No : 12345 </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" border="1">
                                <tr>
                                    <td width="56%" height="28" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Master Name</div></td>
                                    <td width="44%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Status</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Size Cut Type Master</div></td>
                                    <td><div align="center">Yes</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Process Equipment Master</div></td>
                                    <td><div align="center">Pending</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Norms Master</div></td>
                                    <td><div align="center">Yes</div></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>







        <div class="modal fade" id="item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Request No : 12345 </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" border="1">
                                <tr>
                                    <td width="20%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Status</div></td>
                                    <td width="24%" height="28" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Drawing</div></td>
                                    <td width="24%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Process BOM</div></td>
                                    <td width="32%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Dispatch BOM</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Yes</div></td>
                                    <td><div align="center"><img src="dist/img/green.png"></div></td>
                                    <td><div align="center"><img src="dist/img/orange.png"></div></td>
                                    <td><div align="center"><img src="dist/img/red.png"></div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">No</div></td>
                                    <td><div align="center">-</div></td>
                                    <td><div align="center">-</div></td>
                                    <td><div align="center">-</div></td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>







        <div class="modal fade" id="final" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Request No : 12345 </h5>
                        <button type="button" class="close jk-mt-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" border="1">
                                <tr>
                                    <td width="20%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Name</div></td>
                                    <td width="20%" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Role</div></td>
                                    <td width="24%" height="28" bgcolor="#333333" class="style1"><div align="center"><span class="style1"></span>Signature Done</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Shyam Sane</div></td>
                                    <td><div align="center">Sales</div></td>
                                    <td><div align="center">Yes</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">John Doe</div></td>
                                    <td><div align="center">Engineering</div></td>
                                    <td><div align="center">No</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">Mike</div></td>
                                    <td><div align="center">CEO</div></td>
                                    <td><div align="center">No</div></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.content -->



