﻿@model JKFiles.WebApp.Models.ComplaintmgntModel
@{
    ViewBag.Title = "RequestToAdminIndex";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="content">

    <div class="box box-default">


        <div class="box-header with-border color1">
            <h3 class="box-title"> Request to Admin</h3>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <form>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Request Type</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(model => model.RequestType, new SelectList(Model.listrequest, "RequestType", "RequestType"), "Select Request Type", new { @class = "form-control select2", @id = "RequestType" })
                            </div>
                        </div>

                        <div style="clear:both"></div>
                        <br>

                        <div class="form-group ">
                            <label for="inputPassword3" class="col-sm-3 control-label">Request Description</label>
                            <div class="col-sm-6">
                                @*<textarea name="textarea" rows="3" id="textarea" style="width:100%"></textarea>*@
                                @Html.TextArea("RequestDesc", null, new { @class = "form-control" })

                            </div>
                        </div>


                        <div style="clear:both"></div>


                        <div class="box-footer">

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <label>
                                <input type="reset" name="Reset" id="button" value="Reset" class="btn btn-default ">
                            </label>
                        </div>

                    </form>


                }

            </div>

            <br /><br />

            @Html.Action("RequestGrid")


            @*<div class="col-md-10 ">


                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-hover">
                            <tbody>
                                <tr height="36">
                                    <td height="36" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request ID</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request Type</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request Description</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request Date</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Completion Date</div>
                                        </div>
                                    </td>
                                    <td width="293" bgcolor="#333333">
                                        <div align="center" class="style3">
                                            <div align="center" class="style1">Request Status</div>
                                        </div>
                                    </td>
                                </tr>

                                <tr height="27">
                                    <td width="350" height="27"><div align="center">#123</div></td>
                                    <td><div align="center">Request1</div></td>
                                    <td><div align="center">Lorem Ipsum</div></td>
                                    <td><div align="center">09/09/2016</div></td>
                                    <td><div align="center">29/09/2016</div></td>
                                    <td><div align="center">New </div></td>
                                </tr>
                                <tr height="27">
                                    <td width="350" height="27">
                                        <div align="center">
                                            <div align="center">@563</div>
                                        </div>
                                    </td>
                                    <td><div align="center">Request1</div></td>
                                    <td><div align="center">Lorem Ipsum</div></td>
                                    <td><div align="center">10/08/2016</div></td>
                                    <td><div align="center">18/08/2016</div></td>
                                    <td>
                                        <div align="center">
                                            Work in Progress

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>





                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="detailBox">
                                        <div class="titleBox">
                                            <label>Comment Box</label>

                                        </div>
                                        <div class="commentBox">

                                            <p class="taskDescription"><strong>Request ID</strong>: #123;    <strong>Status</strong>: Work in Progress</p>
                                        </div>
                                        <div class="actionBox">
                                            <ul class="commentList" style="list-style-type:none;">
                                                <li>
                                                    <div class="commenterImage">
                                                        <img src="dist/img/icon.png">
                                                    </div>
                                                    <div class="commentText">
                                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="commenterImage">
                                                        <img src="dist/img/icon.png">
                                                    </div>
                                                    <div class="commentText">
                                                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="commenterImage">
                                                        <img src="dist/img/icon.png">
                                                    </div>
                                                    <div class="commentText">
                                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <p>Request Completed?</p>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>*@
        </div>

    </div>







</section>

