﻿@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "_ApprovedRequest";
    Layout = "";
}

<div class="panel-body">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                <td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Standard Name</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">UPCUT</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">EDGE</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">OVER</div></td>
                <td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>
            </tr>

            @foreach (var list in Model.cutSpecsNoApproveList)
            {
                <tr>
                    <td>
                        <div align="center">
                            @list.prc_request_id
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.fcl_ftype_code
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.filesize
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.cuttype
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.cutStandardName
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.upcutrange
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.edcutrange
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            @list.ovcutrange
                        </div>
                    </td>
                    <td><div align="center"><a href="@Url.Action("UpdatecustspecApprove", "CutspectTest", new { ID = @list.prc_request_id,type=@list.prc_request_type })" class="CountClick btn btn-primary" data-id="@list.prc_request_id">Send For Approve</a>  </div></td>
                </tr>
            }
        </table>


    </div>
</div>



