﻿@using PagedList.Mvc
@model  PagedList.IPagedList<JKFIlesEntity.CutSpecsEntity>
@{
    ViewBag.Title = "_cutspectmastr";
    //Layout = "";
}

<div id="divPartialView1">
    <div class="table-responsive">
        <table width="100%" border="1" bordercolor="#CCCCCC">
            <tr>
                @*<td width="11%" height="33" bgcolor="#e8e8e8" class=" text-black"><div align="center">Request No</div></td>*@
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Type code</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">File Size</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Cut Type</div></td>
                <td width="41%" bgcolor="#e8e8e8" class=" text-black"><div align="center">Standard Name</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">UPCUT</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">OVER</div></td>
                <td width="8%" bgcolor="#e8e8e8" class=" text-black"><div align="center">EDGE</div></td>

                @*<td width="10%" bgcolor="#e8e8e8" class=" text-black"><div align="center">View/Edit</div></td>*@
            </tr>


            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>

                    <td>
                        <div align="center">


                            @Model[i].fcl_ftype_code

                        </div>

                    </td>

                    <td><div align="center">@Model[i].filesizecode</div></td>
                    <td><div align="center">@Model[i].cuttype</div></td>
                    <td><div align="center">@Model[i].cutStandardName</div></td>
                    <td>
                        <div align="center">
                            <p>@Model[i].upcutrange</p>
                        </div>
                    </td>
                    <td><div align="center">@Model[i].ovcutrange</div></td>
                    <td><div align="center">@Model[i].edcutrange</div></td>

                </tr>

            }

        </table>


        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, selectedCutStandardName=ViewBag.selectedCutStandardName, ftypecode = ViewBag.ftypecode, filetype = ViewBag.filetype, cuttype = ViewBag.cuttype, cutstand = ViewBag.cutstand }))
            </div>
        </div>

    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/SharedCss/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script>
        $(document).ready(function () {
            $(".ChangeCutApprove").change(function () {
                $("#loading").css("display","block");
                var selectedCutStandardName = $("#fsize_code").val();
                var ftypecode = $("#filetypecode").val();
                var filetype = $("#filetype").val();
                var cuttype = $("#cut_type").val();
                var cutstand = $("#cut_standard").val();
                $.ajax({
                    url: '@Url.Action("cutspectmastr", "CutspectTest")',
                    data: { selectedCutStandardName: selectedCutStandardName, ftypecode: ftypecode, filetype: filetype, cuttype: cuttype, cutstand: cutstand },
                    type: 'GET',
                    dataType: "html",
                    success: function (data) {
                        $("#divPartialView1").html(data);
                        $("#loading").css("display", "none");
                    },
                    error: function () {
                        alert("No Records Found");
                    }
                });

            });


        });
</script>

