﻿@model JKFIlesEntity.CutSpecsEntity
@{
    ViewBag.Title = "_Cutspectmaster";

}

<form class="form-inline " action="@Url.Action("Index", "CutspectTest")" method="post">

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.fsize_code, new SelectList(Model.listsizecode, "fsize_code", "fsize_code"), "File Size Code", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "fsize_code" })
        @Html.HiddenFor(m => m.fsize_code)
    </div>


    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.filetypecode, new SelectList(Model.listfiletypecode, "filetypecode", "filetypecode"), "File Type Code", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "filetypecode" })
    </div>


    <div class="form-group col-md-2">
        @Html.DropDownListFor(model => model.filetype, new SelectList(Model.listtype, "filetype", "filetype"), "File Type", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "filetype" })
    </div>

    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.cut_type, new SelectList(Model.listcuttype, "cut_type", "cut_type"), "Cut Type", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "cut_type" })
    </div>


    <div class="form-group  col-md-2">
        @Html.DropDownListFor(model => model.cut_standard, new SelectList(Model.listcutstandard, "cut_standard", "cut_standard"), "Cut Standard", new { @class = "form-control select2 ChangeCutApprove", @style = "width:100 % ", @id = "cut_standard" })
    </div>


</form><br>

<script>

</script>